/********** MAIN CONTENT **********/
#page-404 {
    padding-top: 30px;
}
#page-404 .main-content .img {
    position: relative;
}
#page-404 .main-content .img img {
    position: absolute;
    bottom: 0px;
}
#page-404 .text h2 {
    color: #50ad4e;
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
    font-weight: 300;
}
#page-404 .text p {
    font-size: 18px;
    line-height: 30px;
}
#page-404 .text ul {
    padding: 0px;
    margin: 0px 0px 50px 0px;
    display: inline-block;
    width: 100%;
}
#page-404 .text ul li {
    display: inline-block;
    float: left;
    margin: 0px 15px 15px 0px;
}
#page-404 .text ul li a {
    background: #a9b2bd;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    display:inline-block;
}
#page-404 .text ul li a:hover {
    background: #389a36
}

/******** LIST BOX PRODUCT *********/
#page-404 .main-list {
    background: url('../img/banner-top.jpg') no-repeat top left;
    background-size: cover;
    padding: 50px 0px 50px 0px; 
    position: relative;
    overflow: hidden 
}
#page-404 .main-list:before {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 1000px;
    top: 0px;
    position: absolute;
    left: 0px;
    overflow: hidden;
}
#page-404 .main-list ul {
    padding: 0px;
    margin: 0px;
}
#page-404 .main-list li.box-product {
    padding: 15px;
}
#page-404 .main-list h3 {
    padding: 0px 0px 50px 0px;
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 300;
    position: relative;
} 
#page-404 .main-list .owl-theme .owl-controls .owl-buttons div {
    font-size: 26px;
}
@media (max-width: 991px){
    #page-404 .main-content .img img {
        position: relative;
        margin-bottom: 15px;
    }
}
@media (min-width: 1699px){ 
    #page-404 .main-content .img img {
        height: 100%;
    }
}