#account-wrap-main h4.title-box{
    background: #50ad4e;
    color: white;
    padding: 15px 20px;
    margin: 0px;
    font-size: 14px;
}

#account-wrap-main .left ul{
    padding: 0px;
    margin-bottom: 25px;    
}
#account-wrap-main ul.user-links,
#account-wrap-main ul.notifications,
#account-wrap-main ul.blogs{
    border: 1px solid #f0f0f0;
    border-bottom: none;
}

#account-wrap-main ul.user-links li a,
#account-wrap-main ul.notifications li,
#account-wrap-main ul.blogs li {
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
    display: inline-block;
    width: 100%;
}
#account-wrap-main ul.notifications li.view-all a{
    color: #50ad4e;
    font-weight: bold;
    text-decoration: underline;
}
#account-wrap-main ul.notifications li.view-all a:hover{
    color: #389a36;
}
#account-wrap-main .user-short li.img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 15px
}
#account-wrap-main .user-short li.text{
    width: 170px;
    text-align: left;
    margin-top: 15px;
}
#account-wrap-main .user-short li .user{
    color: #787878;
    font-weight: 500;
    text-transform: capitalize;
}
#account-wrap-main .user-short li.text span{
    display: block;
}
#account-wrap-main .user-short{
    display: inline-block;
    padding: 0px;
    width: 100%;
    margin-bottom: 30px;
}
#account-wrap-main .user-short li{
    float: left;
}

#account-wrap-main .user-links{
    padding: 0px;
}
#account-wrap-main .user-links li a{
    color: #272727;
}
#account-wrap-main .user-links li .icon.one,
#account-wrap-main .user-links li .icon.two,
#account-wrap-main .user-links li .icon.three,
#account-wrap-main .user-links li .icon.four,
#account-wrap-main .user-links li .icon.five,
#account-wrap-main .user-links li .icon.six,
#account-wrap-main .user-links li .icon.seven{
    display: block;
    float: left;
    margin-right: 15px;
}
#account-wrap-main .user-links li .icon.one{
    background-position: -108px -102px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 18px;
    
}
#account-wrap-main .user-links li:hover .icon.one{
    background-position: -109px -231px;
    background-image: url('../img/icon-header.png');  
    
}
#account-wrap-main .user-links li .icon.two{
    background-position: -235px -99px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 24px;    
}
#account-wrap-main .user-links li:hover .icon.two{
    background-position: -236px -228px;
    background-image: url('../img/icon-header.png');
   
}
#account-wrap-main .user-links li .icon.three{
    background-position: -292px -102px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 23px;    
}
#account-wrap-main .user-links li:hover .icon.three{
    background-position: -293px -231px;
    background-image: url('../img/icon-header.png');
}
#account-wrap-main .user-links li .icon.four{
    background-position: -166px -102px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 16px;    
}
#account-wrap-main .user-links li:hover .icon.four{
    background-position: -167px -231px;
    background-image: url('../img/icon-header.png');

}
#account-wrap-main .user-links li .icon.five{
    background-position: -235px -28px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 16px;    
}
#account-wrap-main .user-links li:hover .icon.five{
    background-position: -236px -157px;
    background-image: url('../img/icon-header.png');     
}
#account-wrap-main .user-links li .icon.six{
    background-position: -293px -29px;
    background-image: url('../img/icon-header.png');
    width: 18px;
    height: 16px;    
}
#account-wrap-main .user-links li:hover .icon.six{
    background-position: -294px -158px ;
    background-image: url('../img/icon-header.png');      
}
#account-wrap-main .button-more a{
    margin-bottom: 0px;
}
/*********** TAB ***********/
.wrap-tab-main .nav-tabs-product{
    border-bottom: none;
    padding: 0px 15px;   
    margin-bottom: 15px;
}
.wrap-tab-main .nav-tabs-product li{
    margin-right: 40px;
}
.wrap-tab-main .nav-tabs-product li a{
    border: none;
    padding: 0px 0px 5px 0px;
    color: #333333;
    font-weight: 500;   
    border-bottom: 2px solid white; 
    
}
.wrap-tab-main .nav-tabs-product li a:hover,
.wrap-tab-main .nav-tabs-product li.active a{
    background: none;
    border: none;
    border-bottom: 2px solid #50AD4E !important;
}
/*********** BOX **********/
.details-bottom .button-play a{
    text-align: center;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
    margin: 8px 0px 0px 0px;
    border-bottom: 2px solid #389a36;
}
.details-bottom .button-play a.disable{
    border-bottom: 2px solid #9B9C9E;
}
.details-bottom .button-play a.disable:hover{
    background: #9B9C9E;
    border-bottom: 2px solid #818284
}
.details-bottom .button-play a:hover{
    border-bottom: 2px solid #237721;    
}
.details-bottom ul{
    margin-top: 10px !important;
}
.details-bottom ul li{
    display: inline-block;
}
.details-bottom ul li.button-play{
    float: left;
}
.details-bottom ul li.s-rating{
    float: right !important;
}
.details-bottom ul li.s-rating span{
    display: block;
    text-align: right;
}
#account-wrap-main .details-progress{
    display: block;
    width: 100%;
    background: red;
    height: 3px;
    margin-top: 10px;
}
#account-wrap-main .box-product .wrap .content{
    border-bottom: none;
}
#account-wrap-main .progress{
    margin-bottom: 0px;
    margin-top: 10px;
    height: 5px;
}
#account-wrap-main .progress .progress-bar{
    height: 5px;
    background: #FB6A00;
}

.card-options .dropdown-toggle{
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.card-options .dropdown-menu{
    position: absolute;
    top: 30px;
    right: 5px;
    left: inherit;   
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0px;
}
.card-options .dropdown-menu > li > a{
    padding: 8px 12px;
}
.card-options .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #237721;
}
.card-options .dropdown-menu > li:first-child > a:hover{
    border-radius: 5px 5px 0px 0px;
}
.card-options .dropdown-menu > li:last-child > a:hover{
    border-radius: 0px 0px 5px 5px;
}
.card-options .dropdown-toggle:hover,
.card-options .dropdown-toggle:hover i{
  border-color: #237721;
  outline: none;
  color: #237721
}
/*********** DEAL **********/
.wrap-deal-account .tablist-deal{
    border-bottom: none;
    padding: 15px 0px;
    border-top: 1px solid #f0f0f0;
    margin-top: 35px;
}
.wrap-deal-account .tablist-deal li{
    margin-right: 40px;
}
.wrap-deal-account .tablist-deal li a{
    border: none;
    padding: 0px 0px 5px 0px;
    color: #333333;
    font-weight: 500;   
    border-bottom: 2px solid white; 
}
.wrap-deal-account .tablist-deal li a:hover,
.wrap-deal-account .tablist-deal li.active a{
    background: none;
    border: none;
    border-bottom: 2px solid #50AD4E !important;
}
.wrap-deal-first{
    border: 1px solid #E2E2E2;
    border-radius: 5px;    
    margin-bottom: 25px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.wrap-deal-first .left ul.list-first{
    margin: 0px 0px 0px 0px !important;   
    
}
.wrap-deal-first .left{
    padding: 10px 10px 15px 15px;
}
.wrap-deal-first .left .list-first li{
    padding: 7px 0px;
    display: inline-block;
    width: 100%;
}

.wrap-deal-first .right{
    background: #F5F5F5;
    padding: 5px !important;
}
.wrap-deal-first .right .list-first{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.wrap-deal-first .right .list-first li{
    display: inline-block;
    padding: 5px;
    float: left;   
}
.wrap-deal-first .right .list-first li span{
    display: block;
    margin-bottom: 5px;
}
.wrap-deal-first .right .list-first li:last-child{
    border-bottom: none;
}
.wrap-deal-first .right .text {
    line-height: 1;
}
.wrap-deal-first .right .text h6{
    margin-top: 0px;
}
.wrap-deal-first .right .text h6 a{
    color: #313131;
    font-size: 14px;
}
.wrap-deal-account{
    padding: 0px 15px;
}
.wrap-deal-first .left .list-first li .one{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 21px;
}
.wrap-deal-first .left .list-first li .two{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -41px;
    width: 20px;
    height: 21px;
}
.wrap-deal-first .left .list-first li .three{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -78px;
    width: 20px;
    height: 21px;
}
.wrap-deal-first .left .list-first li .four{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -113px;
    width: 20px;
    height: 21px;
}
.wrap-deal-first .left .list-first li.button a{
    display: inline-block;
    text-align: center;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
    margin: 3px 0px 0px 0px;
    background: #A9B2BD;
    border-bottom: 2px solid #9B9C9E;
}
.wrap-deal-first .left .list-first li.button a:hover{
    background: #9B9C9E;
    border-bottom: 2px solid #818284;
}
.wrap-deal-first .left .list-first li .one,
.wrap-deal-first .left .list-first li .two,
.wrap-deal-first .left .list-first li .three,
.wrap-deal-first .left .list-first li .four{
    display: inline-block;
    padding-left: 30px;
    width: 100%;
}
