.checkout p {
    font-size: 16px;
}


/************* HEADER ****************/

.checkout .checkout-header {
    padding: 20px 0px;
}

.checkout .checkout-header h2.logo {
    margin: 0px;
}

.checkout .checkout-header h2.logo a {
    display: block;
}

.checkout .checkout-header .right-first {
    text-align: right;
}

.checkout .checkout-header .right-first ul {
    display: inline-block;
    text-align: right;
    padding-left: 0px;
}

.checkout .checkout-header .right-first span {
    display: inline-block;
    font-size: 18px;
    width: 100%;
}

.logo img {
    height: 55px;
}


/************ BACKGROUND *********/

#checkout-home .wrap-content {
    background: #fff;
    position: relative;
    min-height: 100vh;
}

#checkout-home .wrap-content .left-before {
    position: absolute;
    background: white;
    top: 0px;
    left: 0px;
    height: 100%;
}

#checkout-home .wrap-content ul.wrap-main {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}


/************* LIST PART CHECKOUT **********/

.checkout .checkout-list-part {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    display: table;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}

.checkout .checkout-list-part li {
    display: table-cell;
    background: #50ad4e;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    position: relative;
}

.checkout .checkout-list-part li:last-child {
    background: #e4e7eb;
    color: #272727;
    padding-right: 30px;
}

.checkout .checkout-list-part li:last-child .checkout-triangle-right-last {
    border-left: 20px solid #e4e7eb;
}

.checkout .checkout-triangle-left {
    border-top: 30px solid transparent;
    border-left: 25px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 0px;
    top: -5px;
}

.checkout .checkout-triangle-right, .checkout .checkout-triangle-right-last {
    border-top: 25px solid transparent;
    border-left: 20px solid #50ad4e;
    border-bottom: 25px solid transparent;
    position: absolute;
}

.checkout .checkout-triangle-right {
    right: -20px;
    z-index: 1;
    top: 0px;
}

.checkout .checkout-triangle-right-last {
    right: 0px;
    z-index: 1;
    background: white;
    top: 0px;
}

.checkout .checkout-icon-cart {
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -63px;
    padding: 15px 0px 15px 40px;
    width: 100%;
}

.checkout .checkout-icon-order {
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -209px;
    padding: 15px 0px 15px 40px;
    width: 100%;
}

.checkout .checkout-icon-noti {
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -277px;
    padding: 15px 0px 15px 40px;
    width: 100%;
}


/************* LIST PART CHECKOUT MOBILE**********/

.checkout-list-part.mb {
    display: none;
}

.checkout .checkout-list-part.mb li:last-child {
    padding-right: 20px;
}

.checkout .checkout-list-part.mb .checkout-icon-cart {
    background-position: -45px -63px;
}

.checkout .checkout-list-part.mb .checkout-icon-order {
    background-position: -45px -209px;
}

.checkout .checkout-list-part.mb .checkout-icon-noti {
    background-position: -45px -350px;
}

.checkout#checkout-home .checkout-list-part.mb .checkout-icon-noti {
    background-position: -45px -277px
}


/************* FORM ************/

.checkout input[type=checkbox]:not(old)+label:hover, .checkout input[type=radio]:not(old)+label:hover {
    cursor: pointer;
    color: #50ad4e;
}

.checkout input[type=checkbox]:not(old), .checkout input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
    display: none;
}

.checkout input[type=checkbox]:not(old)+label, .checkout input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: 0px;
    line-height: 25px;
}

.checkout input[type=checkbox]:not(old)+label>span, .checkout input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 20px 10px 20px 5px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 50%;
    /*
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    */
    vertical-align: bottom;
}

.checkout input[type=checkbox]:not(old):checked+label>span, .checkout input[type=radio]:not(old):checked+label>span {
    /*
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
    */
    background: white;
    border: 2px solid #50ad4e;
    padding: 5px;
    margin: 20px 10px 20px 5px;
    position: relative;
}

.checkout input[type=checkbox]:not(old):checked+label>span>span, .checkout input[type=radio]:not(old):checked+label>span>span {
    height: 12px;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #50ad4e;
    border-radius: 99px;
}

.checkout input[type=checkbox]:not(old)+label:hover>span, .checkout input[type=radio]:not(old)+label:hover>span {
    border: 2px solid #50ad4e !important;
}

.checkout input[type=checkbox]:checked+label>span:before {
    font-family: FontAwesome;
    content: "\f00c";
    display: block;
    width: 15px;
    color: white;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    text-shadow: 0 0 0.0714em rgb(115, 153, 77);
}

.checkout label {
    font-weight: normal;
}

.checkout .checkout-wrap-content {
    width: calc(200% / 3);
    float: left;
}

.checkout .checkout-wrap-content h3 {
    color: #50ad4e;
    font-weight: 600;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.checkout .checkout-wrap-content>ul {
    padding: 0px;
    display: table;
    width: 100%;
}

.checkout .checkout-wrap-content ul li {
    display: table-cell;
    vertical-align: middle;
}

.checkout .checkout-button, .checkout .wrap-checkout-button-mb .checkout-button-mb {
    float: right;
    display: inline-block;
    background: #fb6a00;
    height: auto;
    padding: 10px 50px;
    width: inherit;
    border-right: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;
    color: white;
    font-size: 18px;
}

.checkout .wrap-checkout-button-mb .checkout-button.back-to-cart, .checkout .wrap-checkout-button-mb .checkout-button-mb {
    width: 260px;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.checkout .checkout-button:hover {
    background: #FF7816;
}

.checkout .checkout-button.back-to-cart:hover {
    background: white;
}

.checkout .checkout-button:focus {
    outline: none;
}

.checkout .checkout-list-check .wrap {
    margin-bottom: 40px;
}

.checkout .checkout-list-check .wrap .checkout-list:last-child {
    border-bottom: none;
}

.checkout .checkout-list-check div.checkout-list {
    position: relative;
    display: inline-block;
    width: 50%;
    float: left;
}


/********** BOX LEFT **********/

.checkout .wrap-content-left {
    position: static;
    background: white;
    z-index: 1;
    padding-bottom: 110px;
}
.checkout.success .wrap-content-left, .checkout.failed .wrap-content-left {
    padding-bottom: 30px;
}


/********** BOX RIGHT *********/

.checkout .wrap-content-right {
    width: calc(100% / 3);
    padding: 15px 15px 15px 45px;
    float: right;
}

.checkout .wrap-content-right .wrap {
    position: relative;
    border: 1px solid #aaa;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 5px;
}

.checkout .wrap-content-right .wrap .note-cod {
    display: none;
}

.checkout .wrap-content-right .re-money{
    margin-top: 15px;
}
.checkout .wrap-content-right .re-money p {
    font-size: 14px;
}

.checkout .wrap-content-right .re-money img {
    margin-right: 15px;
    float: left;
}
.checkout .wrap-content-right .re-money .promotion img {
    margin: 0 0 15px;
    width: 100%;
}
.checkout .wrap-content-right .re-money .promotion .banner-mb {
    display: none;
}

.checkout .wrap-content-right .wrap.fixed-cart {
    position: fixed;
    width: 340px;
}

.checkout .wrap-content-right .fixed-flag {
    position: fixed;
    top: 20px;
}

.checkout .wrap-content-right h4 {
    position: relative;
}

.checkout .wrap-content-right h4 a {
    float: right;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-decoration: underline !important;
    font-style: italic;
}


/********** CACH THUC THANH TOAN ***********/

.checkout .checkout-list-check div.checkout-list.sub {
    padding: 0px;
}

.checkout .checkout-list-check div.checkout-list label {
    padding: 20px 15px;
    padding-bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    -webkit-transition: margin-bottom 300ms;
    -moz-transition: margin-bottom 300ms;
    -o-transition: margin-bottom 300ms;
    transition: margin-bottom 300ms;
}

.checkout div.checkout-list label methodname {
    border: 1px solid #eee;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 10px 10px 50px;
    width: calc(100% - 35px);
    background-repeat: no-repeat;
    background-position: center left 10px;
    font-size: 16px;
    line-height: 40px;
    height: 60px;
    font-weight: bold;
}

.checkout div.checkout-list#checkout-internet-banking label methodname {
    background-image: url(/img/checkout/debit-card.png);
}

.checkout div.checkout-list#checkout-mastercard label methodname {
    background-image: url(/img/checkout/credit-card.png);
}

.checkout div.checkout-list#checkout-paypal label methodname {
    background-image: url(/img/checkout/transfer.png);
}

.checkout div.checkout-list#checkout-card label methodname {
    background-image: url(/img/checkout/mobile-card.png);
}

.checkout div.checkout-list#checkout-cod label methodname {
    background-image: url(/img/checkout/cod.png);
}

.checkout div.checkout-list label:hover methodname, .checkout input[type=radio]:not(old):checked+label methodname {
    border-color: #50ad4e;
}

.checkout .checkout-list .checkout-wrap-list {
    width: 200%;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    -webkit-transition: height 300ms ease-out 0.1s;
    -moz-transition: height 300ms ease-out 0.1s;
    -o-transition: height 300ms ease-out 0.1s;
    transition: height 300ms ease-out 0.1s;
}

.checkout .checkout-list:nth-child(even) .checkout-wrap-list {
    left: -100%;
}

.checkout .checkout-sub-list {
    background: #f9f9f9;
    padding: 15px 30px 15px 30px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    position: relative;
    width: calc(100% - 30px);
    margin-left: 15px;
    font-size: 16px;
}

.checkout .checkout-list .checkout-wrap-list.open:before {
    content: "";
    font-size: 16px;
    position: absolute;
    background-image: url(/img/checkout/icon-callout-top.png);
    height: 8px;
    width: 16px;
    left: 25%;
    top: 8px;
    color: #f9f9f9;
    z-index: 1;
}

.checkout .checkout-list:nth-child(even) .checkout-wrap-list.open:before {
    left: 75%;
}

.checkout .checkout-sub-list#checkout-internet-banking, .checkout .checkout-sub-list#checkout-mastercard {
    padding: 15px;
}


/*.checkout #checkout-cod .checkout-sub-list,
.checkout #checkout-ghn .checkout-sub-list,
.checkout #checkout-card .checkout-sub-list,
.checkout #checkout-internet-banking .checkout-sub-list,
.checkout #checkout-mastercard .checkout-sub-list,
.checkout #checkout-paypal .checkout-sub-list,
.checkout #checkout-address .checkout-sub-list {
    display: none;
}*/


/*.checkout #checkout-show-onepay_cc {
    display: none !important;
}*/

.checkout .checkout-sub-list select {
    color: #999;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 3px;
}

.checkout .checkout-sub-list textarea {
    border-radius: 3px;
    height: 100px;
}

.checkout .checkout-sub-list .input-group {
    width: 100%;
}

.checkout .checkout-sub-list input, .checkout .checkout-apdung input {
    margin-bottom: 15px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    height: 40px;
}

.checkout .checkout-sub-list .checkout-text-note-code {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.checkout .checkout-sub-list .input-group:first-child .right {
    line-height: 40px;
}

.checkout .checkout-sub-list .input-group .left label {
    margin-bottom: 0px;
    line-height: 10px;
}

.checkout .checkout-sub-list .input-group .right ul {
    padding: 0px;
    margin-bottom: 0px;
}

.checkout .checkout-sub-list .input-group .right ul li label {
    padding: 0px 25px 0px 0px;
    margin: 0px;
    line-height: 18px;
}

.checkout .checkout-sub-list input[type=checkbox]:not(old)+label>span, .checkout .checkout-sub-list input[type=radio]:not(old)+label>span {
    margin: 0px 7px 0px 0px;
}

.checkout .checkout-sub-list ul li {
    display: block !important;
}
.checkout .checkout-sub-list#checkout-show-payoo ul{
    padding: inherit;
}

.checkout .checkout-sub-list#checkout-show-payoo ul li {
    display: inline !important;
    padding: 1px !important;
}
.checkout .checkout-sub-list#checkout-show-payoo ul li img{
    height: 40px;
    width: 85px;
    padding: 5px;
}

/* INTERNET BANKING */

#checkout-home #checkout-internet-banking ul {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px 0px 0px;
    width: 100%;
}

#checkout-home #checkout-internet-banking ul li {
    float: left;
    margin: 5px 0px 0px 0px;
    padding-right: 0px;
}

#checkout-home #checkout-internet-banking ul li:hover a {
    cursor: default;
}

#checkout-home #checkout-internet-banking ul li a {
    height: 60px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    background: white;
    position: relative
}

#checkout-home #checkout-internet-banking ul li a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 5px;
    max-width: 100%;
}


/* CHECKOUT PAYPAL */

#checkout-home #checkout-paypal p {
    margin-bottom: 0px;
}

#checkout-home #checkout-paypal ul {
    margin: 0px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

#checkout-home #checkout-paypal ul.top {
    margin: 0 0 20px;
}

#checkout-home #checkout-paypal ul.center {
    margin-bottom: 20px;
}

#checkout-home #checkout-paypal ul li {
    display: inline-block;
    width: 100%;
    line-height: 25px;
}

#checkout-home #checkout-paypal ul li span {
    width: 140px;
    display: block;
    float: left;
}

#checkout-home h6 {
    font-size: 16px;
    line-height: 24px;
}

#checkout-home #checkout-paypal h6.note {
    font-style: italic
}


/* MASTER CARD */

#checkout-mastercard label {
    background: url('../img/checkout/logo-visa-master.png') no-repeat top calc(50% + 10px) right 20px;
}

#checkout-mastercard label methodname {
    padding-right: 40px;
}

#checkout-home #checkout-mastercard ul {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px 0px 0px;
    width: 100%;
}

#checkout-home #checkout-mastercard ul li {
    float: left;
    margin: 5px 0px 0px 0px;
    padding-right: 0px;
}

#checkout-home #checkout-mastercard ul li:hover a {
    border: 1px dashed #389a36;
}

#checkout-home #checkout-mastercard ul li a {
    height: 60px;
    display: inline-block;
    border: 1px dashed #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    background: white;
    position: relative
}

#checkout-home #checkout-mastercard ul li a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 5px;
}


/************ CONTENT RIGHT **************/

.checkout .wrap-content-right ul.list {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.checkout .wrap-content-right ul.list li {
    display: block;
    padding: 5px 5px 5px 0px;
    width: 100%;
}

.checkout .wrap-content-right ul.list li span {
    display: block;
    margin-bottom: 5px;
}

.checkout .wrap-content-right ul.list li:last-child {
    border-bottom: none;
}


/*.checkout .wrap-content-right ul.list .text {
    line-height: 1;
}*/

#checkout-home.checkout .wrap-content-right ul.list .title h6 {
    margin-top: 0px;
    color: #272727;
    font-size: 14px;
    line-height: 1.5;
}
.checkout .wrap-content-right ul.list div.price{
    text-align: right;
}
.checkout .checkout-apdung {
    border-top: 1px dashed #DEDEDE;
    margin-bottom: 0px;
    padding: 15px 0;
}

.checkout .checkout-apdung .input-code {
    width: calc(100% - 105px);
    float: left;
    margin: 0;
}

.checkout .checkout-apdung .button-submit {
    width: 105px;
    float: left;
}

.checkout .checkout-apdung .button-submit button {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.checkout .checkout-apdung .button-submit button.disabled {
    background-color: #ccc;
    cursor: default;
    border: 1px solid #a0a0a0;
    border-left: none;
}

.checkout .checkout-apdung .input-code input {
    margin-bottom: 7px;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: none;
}

.checkout .checkout-apdung p {
    color: #848484 !important;
    font-size: 14px;
}

.checkout .checkout-apdung .btn-send-apdung {
    border: none;
    background-color: #50ad4e;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    padding: 0px;
    height: 40px;
    font-size: 16px;
}

.checkout .checkout-apdung .btn-send-apdung:focus {
    outline: none;
}

.checkout .checkout-apdung .btn-send-apdung:hover {
    background-color: #389a36;
}

.checkout .checkout-apdung .error-mess {
    margin: 0;
    color: red !important;
    font-style: italic;
    font-size: 14px;
}

/* Hint Code */

.checkout .wrap-content-right .hint-kyna-code .green{
    color: #50ad4e;
}
/* End Hint Code */
.checkout .checkout-list-price {
    position: relative;
    margin-left: -15px;
    width: calc(100% + 30px);
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.checkout .checkout-list-price ul {
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.checkout .checkout-list-price ul li {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    padding-right: 5px;
}

.checkout .checkout-list-price ul li span.price {
    float: right;
}

.checkout .checkout-list-price ul li .color-orange {
    font-size: 16px;
}

.has-error p.help-block-error {
    border: 1px solid #faebcc;
    padding: 5px 10px;
    background: #fcf8e3;
    color: #8a6d3b !important;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    bottom: -5px;
    margin-bottom: 15px
}

.has-error p.help-block-error:before {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #fcf8e3;
    top: -7px;
    left: 15px;
    box-shadow: -1px -1px 0px rgb(250, 235, 204);
}

#checkout-form .alert-warning ul {
    padding: 0px;
}

#checkout-form .alert-warning ul li {
    display: inherit !important;
}


/******************* CHECKOUT CONFIRM FAILED + SUCC***********************/

#checkout-failed .checkout-succ-title img, .checkout.success .checkout-succ-title img {
    float: left;
    margin-right: 20px
}

#checkout-failed .checkout-succ-title span, .checkout.success .checkout-succ-title span {
    font-size: 24px;
}

#checkout-failed .checkout-succ-title h2, .checkout.success .checkout-succ-title h2 {
    margin: 10px 0px;
    font-size: 26px;
    text-transform: uppercase;
    color: #50AD4E;
    font-weight: bold;
}

.checkout.success .checkout-list-part li:last-child {
    background: #5db25b;
    color: white;
}

.checkout.success .checkout-list-part li:last-child .checkout-triangle-right-last {
    border-left: 20px solid #5db25b;
}

.checkout.success .checkout-icon-noti {
    background-position: -50px -350px;
}

#checkout-failed .checkout-failed-title img {
    float: left;
    margin-right: 20px
}

#checkout-failed .checkout-failed-title span {
    font-size: 24px;
}

#checkout-failed .checkout-failed-title h2 {
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    font-weight: bold;
}

#checkout-failed .checkout-failed-title .media-body {
    width: auto;
}

.checkout-banner-confirm {
    background: url('../img/checkout-banner-confirm.jpg') no-repeat top left;
    margin-top: 40px;
    background-size: cover;
}

.checkout-banner-confirm ul {
    display: table;
    width: 100%;
    padding: 10px 10px 0px 20px;
    color: white;
    margin-bottom: 0px;
}

.checkout-confirm-content {
    border: 1px solid #f0f0f0;
    border-top: none;
    padding-bottom: 15px;
}

.checkout-confirm-succ-text, .checkout-confirm-failed-text {
    padding: 20px 20px 0px 20px;
}

.checkout-confirm-ul-bottom {
    text-align: center;
}

.checkout-confirm-ul-bottom ul {
    display: inline-block;
    margin-top: 30px;
    padding: 0px;
}

.checkout-confirm-ul-bottom ul li {
    float: left;
    margin: 0px 15px;
}

.checkout-confirm-ul-bottom ul li a {
    display: inline-block;
    margin-bottom: 15px;
}

.checkout-confirm-ul-bottom ul li:first-child a {
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    color: #888;
    font-size: 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.checkout-confirm-ul-bottom ul li:first-child a:hover {
    background: #449342;
    border: 1px solid #397937;
    border-bottom: 2px solid #397937;
    color: white;
}

.checkout-confirm-ul-bottom ul li:last-child a {
    background: #50ad4e;
    border-bottom: 2px solid #449342;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 25px;
    font-size: 16px
}

.checkout-confirm-ul-bottom ul li:last-child a:hover {
    background: #449342;
    border-bottom: 2px solid #397937;
}


/************ SUCC **************/

.checkout-confirm-content div.box {
    padding: 15px 20px;
}

.checkout-confirm-content div.box .text {
    padding-right: 0px;
}

.checkout-confirm-content div.box .text h4 {
    color: #50ad4e;
    font-size: 20px;
    font-weight: bold;
}

.checkout-confirm-content div.box:nth-child(odd) {
    background: #f5f5f5
}

.checkout-confirm-part-2.chuyenkhoan .text ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0 0 15px;
    font-size: 14px;
}

.checkout-confirm-part-2.chuyenkhoan .text h6 {
    font-size: 16px;
}

.checkout-confirm-part-2.chuyenkhoan .text ul li {
    display: inline-block !important;
    width: 100%;
    line-height: 30px;
}

.checkout-confirm-part-2.chuyenkhoan .text ul li span {
    width: 125px;
    display: block;
    float: left;
}


/*********** CHUYEN KHOAN **********/

.checkout-confirm-part-2.chuyenkhoan .text {
    top: 0px !important;
}

.checkout .back-to-cart {
    background-color: rgba(0, 0, 0, 0);
    color: #272727;
    float: left;
    width: auto;
    border: none !important;
    padding-left: 0;
    padding-right: 0;
}

#checkout-home .wrap-checkout-button-mb, .checkout.success .wrap-checkout-button-mb, #checkout-failed .wrap-checkout-button-mb {
    display: none;
}

@media(max-width: 991px) {
    .checkout .wrap-content-right .wrap {
        width: 100% !important;
    }
    .checkout .wrap-content-right, #checkout-home ul.wrap-main .wrap-content-right:before {
        background: none;
        padding-bottom: 0px;
    }
    #checkout-home .wrap-checkout-button-pc, .checkout.success .wrap-content-right, #checkout-failed .wrap-content-right {
        display: none;
    }
    #checkout-home .wrap-checkout-button-mb {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, .1);
        border-top: 1px solid #ddd;
        padding-top: 15px;
        height: 80px;
    }
    #checkout-failed .checkout-succ-title h2, .checkout.success .checkout-succ-title h2 {
        font-size: 22px;
        line-height: 30px;
    }
}

.select2-container {
    width: 100% !important;
    margin-bottom: 15px;
}

.checkout fieldset {
    min-width: auto;
    border: 1px solid #ddd;
    padding: 0px 5px 5px 15px;
    border-radius: 3px;
    margin: 10px 0;
    position: relative;
}

.checkout fieldset:after {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
}

.checkout .has-success fieldset {
    border-color: #50ad4e;
}

.checkout .has-error fieldset, .checkout .has-success fieldset.has-error {
    border-color: red;
}

.checkout .has-success fieldset:after {
    content: "";
    background-image: url(/img/checkout/accept.png);
}

.checkout .has-error fieldset:after, .checkout .has-success fieldset.has-error:after {
    content: "";
    background-image: url(/img/checkout/deny.png);
}

.checkout .input-error {
    color: red;
    font-style: italic;
}

.checkout fieldset.active {}

.checkout fieldset.fail {}

.checkout fieldset legend {
    width: auto;
    font-size: 16px;
    color: #777;
    margin-bottom: 0;
    padding: 0 5px;
}
.checkout fieldset legend label{
    margin: 0;
}
.checkout fieldset legend span {
    color: red;
}

.checkout fieldset textarea {
    resize: none;
}
.checkout fieldset input, .checkout fieldset textarea {
    border: none;
    width: 100%;
}

.checkout fieldset input {
    height: 43px;
}

.checkout fieldset input:focus, .checkout fieldset textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.checkout fieldset.readonly {
    background: rgba(0, 0, 0, 0.1);
}

.checkout fieldset.readonly input, .checkout fieldset.readonly textarea {
    background: rgba(0, 0, 0, 0);
}

.checkout .note-email {
    display: none;
    width: calc(200% + 30px);
}

.checkout .note-email span {
    color: #50ad4e;
}

.checkout .detail-method-pay>div {
    display: none;
}

.checkout .detail-method-pay .item {
    width: 40%;
    padding: 0 15px;
    float: left;
}

.checkout .detail-method-pay .item.button {
    width: 20%;
}

.checkout .detail-method-pay input[type=checkbox]:not(old)+label>span, .checkout .detail-method-pay input[type=radio]:not(old)+label>span {
    margin: 5px 10px 5px 5px;
}

.checkout .detail-method-pay .btn-submit-card-mobile {
    background: #50ad4e;
    border: none;
    border-bottom: 2px solid #489b46;
    color: white;
    padding: 5px 0;
    margin-top: 13px;
    display: inline-block;
    width: 100%;
    height: 43px;
    line-height: 33px;
    text-align: center;
    border-radius: 3px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
}

.checkout .detail-method-pay .btn-submit-card-mobile:hover, .checkout .detail-method-pay .btn-submit-card-mobile:active {
    background: #489b46;
}

.checkout .detail-method-pay ul li {
    padding: 0 15px;
}

.checkout .detail-method-pay fieldset {
    margin: 0;
}

.checkout .detail-method-pay .wrap-card-mobile {
    padding-left: 15px;
    padding-right: 15px;
}

.checkout .detail-method-pay .wrap-card-mobile .box {
    padding: 0 10px;
    margin: 15px 0;
    background-color: #f9f9f9;
}

.checkout .detail-method-pay .wrap-card-mobile .box .tit {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
}

.checkout .detail-method-pay .wrap-card-mobile .box .tit a {
    color: #272727;
}

.checkout .detail-method-pay .wrap-card-mobile .box .tit a:hover {
    text-decoration: underline !important;
}

.checkout .detail-method-pay .wrap-card-mobile .box .tit .history-card {
    height: 0;
    overflow: hidden;
    transition: height 100ms ease-in-out;
}

.checkout .detail-method-pay .wrap-card-mobile .box .tit .history-card ul li {
    display: block !important;
    padding: 0;
}

.checkout .detail-method-pay .wrap-card-mobile .box .row {
    padding: 10px 0;
}

.checkout .detail-method-pay .wrap-card-mobile .box .row .right {
    text-align: right;
}

.checkout .login-for-guest {
    padding-left: 15px;
    padding-right: 15px;
}

.checkout .login-for-guest .box-login-for-guest {
    background-color: #fff8f3;
    border: 1px solid #ffd8bd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.checkout .login-for-guest .box-login-for-guest .title {
    color: #fb6a00;
    max-width: 630px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout .login-for-guest .box-login-for-guest .btn {
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    height: 40px;
    max-width: 230px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.checkout .login-for-guest .box-login-for-guest .btn:focus {
    outline: none;
}

.checkout .login-for-guest .box-login-for-guest .btn-login-account-kyna {
    background-color: #50ad4e;
}

.checkout .login-for-guest .box-login-for-guest .btn-login-account-kyna:hover {
    background-color: #50ad4e;
    border-bottom: 2px solid #389a36;
}

.checkout .login-for-guest .box-login-for-guest .btn-login-account-facebook {
    background-color: #3b67b6;
}

.checkout .login-for-guest .box-login-for-guest .btn-login-account-facebook:hover {
    background-color: #3b67b6;
    border-bottom: 2px solid #294880;
}

.checkout .login-for-guest .box-login-for-guest span {
    padding: 0 7px;
}

.checkout .wrap-checkout-button-pc {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    background-color: white;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, .1);
    border-top: 1px solid #ddd;
    height: 80px;
    z-index: 1;
}

.checkout .wrap-checkout-button-pc .clearfix .item {
    width: calc((100% - 370px) / 3);
    float: left;
}

.checkout .wrap-checkout-button-pc .clearfix .button {
    width: 340px;
    float: left;
    position: relative;
}

.checkout .wrap-checkout-button-pc .clearfix .button .tool-tip {
    display: none;
    position: absolute;
    bottom: calc(100% + 15px);
    padding: 15px;
    background: #fff8f3;
    box-shadow: 0 0 10px rgba(251, 106, 5, 0.5);
    border-radius: 3px;
    color: #fb6a00;
}

.checkout .wrap-checkout-button-pc .clearfix .button:hover .tool-tip {
    display: block;
}

.checkout .wrap-checkout-button-pc .clearfix .button .tool-tip::after {
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(/img/callout-down.png);
    position: absolute;
    bottom: -16px;
    left: calc(50% - 10px);
}

.checkout .wrap-checkout-button-pc .button .checkout-button {
    width: 100%;
    height: 54px;
    font-size: 20px;
}

.loading-checkout {
    display: none;
}

.loading-checkout.open {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(/img/loading-larger.gif);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 1199px) {
    .checkout .checkout-list-part {
        font-size: 14px;
    }
    .checkout .wrap-content-right .wrap.fixed-cart {
        width: 263.33px;
    }
    .checkout .checkout-apdung .input-code {
        width: calc(100% - 96px);
    }
    .checkout .checkout-apdung .button-submit {
        width: 96px;
    }
    .checkout div.checkout-list label methodname {
        height: 72px;
        line-height: 24px;
    }
}

@media (max-width: 991px) {
    .checkout .checkout-list-part.pc {
        display: none;
    }
    .checkout .checkout-list-part.mb {
        display: table !important;
    }
    .checkout .checkout-wrap-content, .checkout .wrap-content-right {
        width: 100%;
    }
    .checkout .checkout-list-part.mb {
        width: 100%;
        overflow: auto;
    }
    .checkout .wrap-content-right {
        padding: 15px 0;
    }
    #checkout-home .wrap-content-left {
        padding-bottom: 90px !important;
    }
    .checkout .login-for-guest .box-login-for-guest .title{
        font-weight: bold !important;
    }
    .checkout .wrap-content-right .re-money .promotion .banner-mb{
        display: block;
    }
    .checkout .wrap-content-right .re-money .promotion .banner-pc{
        display: none;
    }
}

@media (max-width: 767px) {
    .checkout .checkout-list-check div.checkout-list {
        width: 100%;
    }
    .checkout .checkout-list .checkout-wrap-list {
        width: 100%;
    }
    .checkout .login-for-guest .box-login-for-guest span {
        display: block;
        margin: 10px;
    }
    .checkout .checkout-list:nth-child(even) .checkout-wrap-list {
        left: 0;
    }
    .checkout .checkout-list-check div.checkout-list label {
        padding: 7px 15px;
    }
    .checkout .detail-method-pay .item {
        width: 100%;
        margin-bottom: 15px;
    }
    .checkout .detail-method-pay .item.button {
        width: 100%;
        max-width: 200px;
        margin: auto;
    }
    #checkout-home .wrap-content-left {
        padding: 0;
    }
    .checkout .checkout-list-part.mb li {
        padding-left: 20px;
        float: left;
    }
    .checkout .checkout-list-part.mb li:nth-child(1) {
        width: calc((100% + 20px) / 3 - 20px);
        padding-left: 0;
    }
    .checkout .checkout-list-part.mb li:nth-child(2) {
        width: calc((100% + 40px) / 3);
    }
    .checkout .checkout-list-part.mb li:nth-child(3) {
        padding-right: 0;
    }
    .checkout .checkout-triangle-right-last {
        right: -20px;
    }
    .checkout div.checkout-list label methodname {
        height: 60px;
        line-height: 40px;
    }
    .checkout .login-for-guest .box-login-for-guest .title{
        font-size: 14px !important;
    }
    #checkout-mastercard label{
        background-position-y: center;
    }
    .checkout .checkout-list .checkout-wrap-list.open:before, .checkout .checkout-list:nth-child(even) .checkout-wrap-list.open:before{
        left: 50%;
    }
    #checkout-home h6{
        font-size: 14px;
        line-height: 22px;
    }
    .checkout .checkout-wrap-content ul li{
        display: block;
    }
}

@media (max-width: 543px) {
    .checkout .wrap-checkout-button-mb .checkout-button.back-to-cart {
        width: auto;
    }
    .checkout .wrap-checkout-button-mb .checkout-button-mb {
        width: auto;
        padding: 10px 30px;
    }
    .checkout .checkout-list-part {
        margin-bottom: 20px;
    }
    .checkout .checkout-wrap-content h3 {
        padding: 0;
        line-height: 1.5;
    }
    .checkout .checkout-list-check div.checkout-list label {
        padding: 7px 0;
    }
    .checkout .info-checkout .clearfix>div {
        padding: 0;
    }
    .checkout .login-for-guest {
        padding: 0;
    }
    .checkout .detail-method-pay .wrap-card-mobile {
        padding: 0;
    }
    .checkout .detail-method-pay .item {
        padding: 0;
    }
    .checkout .checkout-sub-list {
        padding: 15px;
        width: auto;
        margin-left: 0;
    }
    .checkout .note-email {
        width: 100%;
    }
    .checkout div.checkout-list label methodname{
        display: table;
        float: right;
        line-height: 1.3;
    }
    .checkout div.checkout-list label methodname span{
        display: table-cell;
        vertical-align: middle;
    }
    .checkout .checkout-succ-title .media .media-left{
        text-align: center;
        width: 100%;
        display: block;
    }
    .checkout .checkout-succ-title .media .media-left img{
        float: none;
    }
    .checkout .wrap-content-right .wrap .re-money .promotion{
        padding: 10px;
        font-size: 13px;
    }
}
