#k-wrap-feedback{
	font-family: 'Roboto', sans-serif;
	position: relative;
	z-index: 16000002;
}
#k-wrap-feedback p {
    font-family: 'Roboto', sans-serif;
}
#k-wrap-feedback ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
}
#k-wrap-feedback ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}
#k-wrap-feedback ul li label {
    display: block;
    position: relative;
	top: -2px;
    font-size: 14px;
    padding: 0px 0px 0px 23px;
    margin: 10px auto 15px;
    z-index: 9;
    cursor: pointer;
    font-weight: 400;
    color: #333333;
}
#k-wrap-feedback ul li:hover label {
    color: #50ad4e;
}
#k-wrap-feedback ul li .check {
    display: block;
    position: absolute;
    border: 2px solid #e0e0e0;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 10px;
    left: 0px;
    z-index: 5;
}
#k-wrap-feedback ul li:hover .check {
    border: 2px solid #50ad4e;
}
#k-wrap-feedback ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
}
#k-wrap-feedback input[type=radio]:checked ~ .check {
    border: 2px solid #50ad4e;
}
#k-wrap-feedback input[type=radio]:checked ~ .check::before {
    background: #50ad4e;
}
#k-wrap-feedback input[type=radio]:checked ~ label {
    color: #50ad4e;
}
#k-home-feedback {
    width: 350px;
    box-shadow: 5px 5px 5px #f0f0f0;
}
#k-home-feedback h2 {
    background: #50ad4e;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
}
#k-home-feedback h2 span {
    position: absolute;
    right: 0px;
    padding: 0px 15px 10px 15px;
    display: inline-block;
    font-weight: bold;
}
#k-home-feedback form {
    padding: 15px;
}
#k-home-feedback form input {
    border-radius: 0px;
    height: 40px;
    box-shadow: none;
}
#k-home-feedback form input:focus {
    border: 1px solid #50ad4e;
}
#k-home-feedback h3 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #333333;
}
#k-home-feedback form ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    list-style: none;
}
#k-home-feedback form textarea {
    padding: 15px;
    line-height: 1.5;
    width: 100%;
}
#k-home-feedback form textarea:focus {
    outline: 1px solid #50ad4e;
    border: none;
}
#k-home-feedback form ul {
    display: table;
}
#k-home-feedback form ul li {
    display: table-cell;
}
#k-home-feedback form button {
    background: #50ad4e;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid #3a9638;
    font-weight: bold;
}
#k-feedback, #k-feedback-result {
	width: calc(100% - 30px);
    max-width: 370px;
    position: fixed;
    left: 15px;
    bottom: 0px;
    z-index: 1;
    background: white;
    display: none;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;
}
#k-feedback h2, #k-feedback-result h2 {
    background: #50ad4e;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 3px 3px 0px 0px;
}
#k-feedback h2 span, #k-feedback-result h2 span {
    position: absolute;
    right: 0px;
    padding: 0px 12px 10px 12px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    height: 35px;
    background: #3a9638;
}
#k-feedback h2 span:hover, #k-feedback-result h2 span:hover{
    cursor: pointer;
    background: #408a3e;
}
#k-feedback form {
    padding: 15px;
}
#k-feedback form input {
    border-radius: 0px;
    height: 45px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #c5c5c5;
}
#k-feedback form input:focus {
    border: 1px solid #50ad4e;
}
#k-feedback h3 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #333333;
}
#k-feedback form ul {
    display: table;
    width: 100%;
    padding: 0px;
    list-style: none;
	margin: 0;
}
#k-feedback form textarea {
    padding: 10px;
    height: 80px;
    line-height: 1.5;
    width: 100%;
    font-size: 14px;
    border: 1px solid #c5c5c5;
    resize: none;
}
#k-feedback form textarea:focus {
    outline: none;
    border: 1px solid #50ad4e;
}
#k-feedback form ul li {
    display: table-cell;
}
#k-feedback .btn-box-register, #k-feedback-result .btn-box-register{
    background: #50ad4e;
    width: 100%;
    border: none;
    color: white;
    padding: 10px 0px;
    margin: 10px 0px 0px 0px;
    border: 1px solid #3a9638;
    font-weight: bold;
    font-size: 16px;
}
#k-feedback .btn-box-register:focus, #k-feedback-result .btn-box-register:focus{
    outline: none;
}
#k-feedback .btn-box-register:hover, #k-feedback-result .btn-box-register:focus{
    background: #3a9638;
}
#k-feedback-result .box-result{
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
#k-feedback-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #fb6a00;
    border-radius: 999px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#k-feedback-button div{
    margin-top: 4px;
}
@media(max-width: 575px){
    #k-feedback-button{
        width: 60px;
        height: 60px;
        padding: 6px;
    }
    #k-feedback-button img{
        width: 16px;
    }
    #k-feedback-button div{
        margin-top: 0px;
        font-size: 12px;
    }
}
#k-feedback form .input {
    position: relative;
    margin: 5px 0px 20px 0px;
}
#k-feedback form .input span {
	display: none;
    position: absolute;
    top: -11px;
    left: 12px;
    background: #50ad4e;
    color: white;
    padding: 0px 5px;
    font-size: 12px;
	line-height: 18px;
	
}
#k-feedback form .input.block span {
    display: block;
}
#k-feedback .error {
	font-style: italic;
	color: red;
}
@media (max-width: 575px){
	#k-feedback{
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		overflow-y: auto;
	}
	#k-feedback .box-k-feedback{
		min-height: 500px;
	}
}
@media(max-width: 991px){
    #k-feedback{
        height: 100vh;
        overflow: auto;
    }
}