@charset "UTF-8";

/* fontastic-icon */
@font-face {
  font-family: "fontastic-icon";
  src:url("../fonts/icon-career.eot");
  src:url("../fonts/icon-career.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-career.woff") format("woff"),
    url("../fonts/icon-career.ttf") format("truetype"),
    url("../fonts/icon-career.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "fontastic-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\61";
}
.icon-cart:before {
  content: "\62";
}
.icon-user-lock:before {
  content: "\63";
}
.icon-arrow-left:before {
  content: "\64";
}
.icon-arrow-right:before {
  content: "\65";
}
.icon-arrow-db-left:before {
  content: "\66";
}
.icon-arrow-db-right:before {
  content: "\67";
}
.icon-truck:before {
  content: "\68";
}
.icon-user:before {
  content: "\69";
}
.icon-check-shield:before {
  content: "\6a";
}
.icon-cross-shield:before {
  content: "\6b";
}
.icon-clock:before {
  content: "\6c";
}
.icon-star-badge:before {
  content: "\6d";
}
.icon-movie-play:before {
  content: "\6e";
}
.icon-play-circle:before {
  content: "\6f";
}
.icon-text-wrapping:before {
  content: "\70";
}
.icon-list-wrapping:before {
  content: "\71";
}
.icon-arrow-down:before {
  content: "\72";
}
.icon-arrow-up:before {
  content: "\73";
}
.icon-edit:before {
  content: "\74";
}
.icon-mail:before {
  content: "\75";
}
.icon-tags:before {
  content: "\76";
}
.icon-log-out:before {
  content: "\77";
}
.icon-key:before {
  content: "\78";
}
.icon-call:before {
  content: "\79";
}
.icon-star-half:before {
  content: "\7a";
}
.icon-cross:before {
  content: "\41";
}
.icon-file-favorite:before {
  content: "\42";
}
.icon-bars:before {
  content: "\43";
}
.icon-facebook:before {
  content: "\44";
}
.icon-archive:before {
  content: "\45";
}
.icon-heart-outline:before {
  content: "\46";
}
.icon-arrow-circle-right-line:before {
  content: "\47";
}
.icon-certificate:before {
  content: "\48";
}
.icon-circle:before {
  content: "\49";
}
.icon-star:before {
  content: "\4a";
}
.icon-heart:before {
  content: "\4b";
}
.icon-document:before {
  content: "\4c";
}
.icon-dollar:before {
  content: "\4d";
}
.icon-file:before {
  content: "\4e";
}
.icon-money:before {
  content: "\4f";
}
.icon-book:before {
  content: "\50";
}
.icon-youtube:before {
  content: "\51";
}
.icon-mail-outline:before {
  content: "\52";
}
.icon-credit-card:before {
  content: "\53";
}
.icon-like:before {
  content: "\54";
}
.icon-download:before {
  content: "\55";
}
.icon-check:before {
  content: "\56";
}
.icon-add:before {
  content: "\57";
}
.icon-long-arrow-right:before {
  content: "\58";
}
.icon-clock-outline:before {
  content: "\59";
}
.icon-play:before {
  content: "\5a";
}
.icon-search:before {
  content: "\30";
}
.icon-filter:before {
  content: "\31";
}
.icon-profile:before {
  content: "\32";
}
.icon-logo:before {
  content: "\33";
}
.icon-sign-out:before {
  content: "\34";
}
.icon-arrow-left-bold:before {
  content: "\35";
}
.icon-arrow-right-bold:before {
  content: "\36";
}
.icon-check-mark-circle:before {
  content: "\38";
}
.icon-send-question:before {
  content: "\37";
}
.icon-note:before {
  content: "\39";
}
.icon-trash-o:before {
  content: "\26";
}
.icon-hot-line:before {
  content: "\24";
}
.icon-bubble-comment:before {
  content: "\27";
}
.icon-bubble-comment-1:before {
  content: "\27";
}
.icon-sticky-note:before {
  content: "\29";
}
.icon-follow:before {
  content: "\2b";
}
.icon-reply:before {
  content: "\2a";
}
.icon-mail-inbox:before {
  content: "\2c";
}
.icon-file-pdf:before {
  content: "\2d";
}
.icon-ellipsis:before {
  content: "\2e";
}
.icon-download-file:before {
  content: "\2f";
}
.icon-error:before {
  content: "\3b";
}
.icon-birthday:before {
  content: "\3d";
}
.icon-location:before {
  content: "\3e";
}
.icon-lock:before {
  content: "\40";
}
.icon-card:before {
  content: "\3f";
}
.icon-hint:before {
  content: "\5b";
}
.icon-paper-plane:before {
  content: "\5d";
}
.icon-transfer:before {
  content: "\3c";
}
.icon-triangle-down:before {
  content: "\22";
}
.icon-triangle-left:before {
  content: "\5e";
}
.icon-triangle-right:before {
  content: "\5f";
}
.icon-triangle-up:before {
  content: "\60";
}
.icon-wifi:before {
  content: "\21";
}
.icon-globe-world:before {
  content: "\23";
}
.icon-users:before {
  content: "\25";
}
.icon-bell:before {
  content: "\28";
}