#cat-preferential .group-course {
    -webkit-box-shadow: 0px 0 5px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0 5px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0 5px 1px rgba(0,0,0,.1);
}
#cat-preferential .group-course .text h4 {
    font-size: 16px;
    line-height: 20px;
}
#cat-preferential .wrap-box-product .tab-content > div {
    padding: 0px 15px;
}
#cat-preferential .wrap-box-product .wrap-group-course {
    padding: 0px;
    margin: 0px;
}
#cat-preferential .wrap-box-product .wrap-group-course .list-group-course {
    margin-bottom: 35px;
}
#cat-preferential .group-course .img {
    padding: 0px !important;
}
#cat-preferential .group-course .text {
    padding-top: 10px;
    padding-bottom: 10px;
}
#cat-preferential .group-course .text h4 a {
    font-size: 16px;
}
#cat-preferential .group-course .text p {
    font-size: 14px;
}
#cat-preferential .group-course .button a {
    background: #50ad4e;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  
    border-bottom: 2px solid #389a36;
    margin: 15px 0px;
    display: inline-block; 
    width: 100%;
    text-align: center;
}
#cat-preferential .group-course .button a:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
}
#cat-preferential .group-course .button .icon-star {
    display: inline-block;
}
#cat-preferential .group-course ul {
    display: inline-block;
    width: 100%;
    margin: 15px 0px 5px 0px;
    padding: 0px;
}
#cat-preferential .group-course ul li {
    display: inline-block;
    width: 100%;
    padding: 5px 0px 5px 0px;
}
#cat-preferential .group-course ul li:first-child,
#cat-preferential .group-course ul li:last-child {
    border-bottom: 1px solid #dddddd
}
#cat-preferential .group-course ul li:last-child {
    padding-bottom: 20px;
}
#cat-preferential .group-course ul li p {
    margin-bottom: 0px;
}
#cat-preferential .group-course ul li .title h4 {
    margin: 0px;
    line-height: 20px;
}
#cat-preferential .group-course ul li .title h4 a{
    font-size: 14px;
    font-weight: bold;
    color: #404040;
}
#cat-preferential .group-course ul li .title h4 a:hover {
    color: #389a36;
}
#cat-preferential .group-course .total {
    padding-bottom: 15px;
}
#cat-preferential .group-course .total .total-preferential span {
    font-size: 18px;
    font-weight: bold;
    color: #fb6a00    
}
#cat-preferential .group-course .total .total-preferential a {
    display: inline-block;
    background: #fb6a00;
    height: auto;
    padding: 7px 15px;
    margin-top: 10px;
    width: inherit;
    border-bottom: 2px solid #d65a00;
    border-right: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    width: 100%;
    color: white;
    text-align: center;
    
}
#cat-preferential .group-course .total .total-preferential a:hover {
    background: #FF7816;
    border-bottom: 2px solid #C15E16
}
#cat-preferential .group-course span.mb {
    display: none;
}


@media (max-width: 991px){
    #cat-preferential .group-course span.mb {
        display: inline-block;
        width: 100px;
        font-weight: normal !important;
        font-size: 14px !important;
    }
    #cat-preferential .group-course ul li:first-child {
        display: none;
    }
}
