.question-position, .question-content, .answer-input, .answer-content {
    display: inline-block;
}
.answer-input {
    width: 7%;
}
.answer-content
{
    width: 93%;
}
.question-content {
    width: 95%;
}
.question-content, .answer-content, .answer-input {
    vertical-align: top;
}
.btn-disabled {
    background-color: #a0a0a0!important;
    border-color: #a0a0a0!important;
    cursor: default;
}
#lesson-latest-qa ul.bottom li{
    position: relative;
    top: -15px;
    left: 0px;
}
#lesson-latest-qa .row-ask ul.bottom {
    margin-bottom: 0px;
}
#lesson-latest-qa .empty {
    padding: 0px;
}
#lesson-latest-qa .row-ask{
    float: left;
    width: 100%;
}
#lesson-latest-qa .content-sub.box-ask {
    position: relative;
    margin-top: 30px;
    left: 0px;
}
#lesson-latest-qa .content-sub .row-ask  {
    margin-top: 0px;
}
