html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
ul,ol {
    list-style: none;    
}
.bold {
    font-weight: bold
}
body {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0;
}

.header-menu{
    background: none;
    border: none;
}
.header-menu .navbar-nav {
    float: right !important
}
.header-menu .button.mb  {
    float: right;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
    color: #333;
    margin-top: 20px;
    font-size: 14px;
    display: none;
}
/******** BANNER ********/
#banner {
    position: relative
}
#banner .img-slider {
    min-width: 100%;
}
#banner ul {
    padding: 0px;
    margin: 0px;
}
#banner .owl-controls{
    margin: 0px;
    position: relative;
    width: 100%;

}
#banner .owl-pagination {
    position: relative;
    bottom: 30px;    
}
#banner .owl-theme .owl-controls .owl-page span {
    background: white;
}
ul.main-menu li a{
    font-size: 15px;
}
ul.main-menu > li.active > a{
    background: none !important;
}
.btn-regis-slider{
    border-radius: 0;
    background: none;
    border: 1px solid white;
    padding: 10px 60px;
    font-weight: 300;
    font-size: 20px;
}
.btn-regis-slider:focus,
.btn-regis-slider:active {
    outline: none;
    background: none !important;
    border: 1px solid white;
    border-color: white
}
.btn-regis-slider:hover{
    background: white;
    border-color: #fff;
    color: #333
}
.carousel-caption{
    top:180px;
}
.logo-slider{
    margin: 0px auto
}
.carousel-caption p{
    margin: 60px 0px;
    font-size: 28px;
    font-weight: 300;
    line-height: 45px;
}
.carousel-indicators{
    bottom: 0px;
}
.teacher {
    background: #F6F6F6;
    padding: 30px 0px 60px 0px;
}
.teacher .title {
    display: inline-block;
    width: 100%;
}
.text-intro-regist {
    margin-bottom: 20px;
}
.text-intro-regist p.text {
    margin: 0px;
    color: #666666;
    margin-bottom: 10px;
}
.text-intro-regist p.text-last {
    color: #0091ea;
    font-weight: bold;
}
.teacher .wrap-content {
    background: white;
    display: inline-block;
    padding: 40px;
    box-shadow: 0px 3px 16px #cdcdcd;
    margin-top: 30px;
    width: 100%;
}
.teacher .wrap-content img {
    margin-bottom: 25px;
}
.teacher .content h3 {
    color: #0091ea;
    font-size: 26px;
    font-weight: 300;
    margin: 0px 0px 25px 0px;
}
.teacher .content h3 span {
    font-weight: 600;
}
.teacher .content ul {
    padding: 0px;
}
.teacher .content ul li {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
}
.teacher .content ul li span {
    color: #0091ea;
    font-weight: bold;
}
/** Intro section **/
.intro-heading{
    color: #0091ea;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}
hr{
    border-color: #0091ea;
    margin-top: 35px;
}
.text-intro{    
    padding: 20px 85px 0px 85px;    
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.main-color{
    color: #0091ea;
}
.circle-content{
    padding-top: 50px;
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid #0091ea;
    text-align: center;
    float: left;
    /*margin-left: 20px;*/
}
.arrow-circle{
    background: url('../imgs/4_Arrow.png') no-repeat right;
    height: 250px;
    width: 50px;
    float: left;
    margin-left: 60px;
}
.circle-middle{
    margin-left: 50px;
}
.circle-last{
    float: right;

}
.arrow-circle-second{
    margin-left: 80px;
}
.circle-text{
    margin-top: 60px;
}
.circle p{
    color: #0091ea;
    font-size: 20px;
    margin-bottom: 0px;
}
.circle-middle .circle-text{
    margin-top: 110px;
}
.circle:hover{
    background: #0091ea;
}
.circle-last .circle-text{
    margin-top: 90px;
}
.circle:hover .circle-text p{
    color: #fff;
}
/** Text details **/
.text-details{
    padding-top: 40px;
    width: 968px;
    margin: 0 auto;
}
.text-details-content{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    text-align: justify;
}
.text-details-content p {
    font-size: 16px;
}
.text-details-content p.text {
    margin-bottom: 30px;
}
.text-details-content ul {
    padding: 0px;
}
.text-details-content ul li span {
    color: #0091ea
}
/** Section Description of Product **/
.section-desc{
    margin-top: 30px;
    background: url('../imgs/1_BG/3_BG3.png') no-repeat center;
    height: 280px;
    background-size: cover;
}
.section-desc-text-inner{
    padding-top: 50px;
    width: 968px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.study-heading{
    margin-top: 30px;
}
.header-intro-text{
    /*width: 300px;*/
    margin: 0 auto;
}
.header-intro-text p{
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.content-collapse{
    width: 600px;
    margin: 0 auto;
}

.content-collapse .collapse ul li {
    margin: 10px;
}
.content-collapse  .panel-group .panel {
    margin: 30px 0px;
}
.content-collapse .collapse .panel-body {
    padding-top: 0px;
}
.content-collapse .collapse .panel-body ul {
    padding-left: 35px;
}
.content-collapse .collapse .panel-body ul li {
    background: url(../imgs/list-style.png) no-repeat left center;
    padding-left: 15px;

}
.panel-group .panel{
    border-radius: 0;
}
.panel-default{
    border: 3px solid #0091ea;
}
.panel-heading{
    border-bottom: none;
    height: 60px;
}
.panel-default>.panel-heading{
    background-color: #fff;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}
.circle-bullet{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #0091ea;
    display: block;
    float: left;
    padding: 7px 7px 7px 7px;
    text-align: center;
    font-size: 20px;
    color: #0091ea;
}
.panel-title{
    height: 40px;
}
.panel-title span.title{
    font-size: 16px;
    padding: 20px 20px;
    line-height: 37px;
    color: #0091ea;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    padding: 15px;
}
.panel-title {
    position: relative;
}
.panel-title a {
    display: inline-block;
    width: 595px;
    position: absolute;
    top: -10px;
    left: -15px;
    height: 60px;
}    
.panel-body{
    color: #000;
    font-size: 16px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #0091ea;         /* adjust as needed */
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: 20px;
    right: 15px;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

}
.panel-heading .accordion-toggle.collapsed:after {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.study-method{
    background-color: #0091ea;
    padding: 10px 0px 40px 0px;
    margin: 15px 0px;
}
.study-method .container .row:last-child {
    margin-top: 30px;
}
.study-method .intro-heading{
    color: #fff;
}
.study-method hr{
    border-color: #fff;
}
.study-method-text {
    margin-top: 30px;
}
/** Study methods **/
.circle-method{
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    /*float: left;*/
}
.circle-pencil{
    background: url("../imgs/14_Pencil.png") no-repeat center;
}
.circle-calendar{
    background: url("../imgs/12_Calendar.png") no-repeat center;
}
.circle-question{
    background: url("../imgs/13_QuestionMark.png") no-repeat center;
}
.circle-house{
    background: url("../imgs/15_Museum.png") no-repeat center;
}
.study-method-text h4{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}
.study-method-text p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}
/** Registration **/
.registration{
    padding-top: 30px;
}
.registration .intro-heading{
    font-weight: bold;
}
.resgistration-border{
    border: 3px solid #0091ea;
}
.text-intro-regist p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
.form-control{
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    height: 45px;
    padding: 10px 20px;
}
.button-regist{

    width: 250px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.btn-regist{
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0;
    border: 2px solid #0091ea;
    background-color: #0091ea;
}
.information-text p{
    text-align: center;
    font-size: 14px;

    color: #000;
    padding: 20px;
}
footer{
    background-color: #131f33;
    margin-top: 30px;
    /*position: fixed;*/
}
.footer{
    width: 968px;
    margin: 0 auto;
    padding-bottom: 30px;
    /*min-height: 50px;*/

}
.footer-logo{
    margin-top: 45px;
    margin-bottom: 80px;
}
.footer-logo ul{
    padding: 0px;
    margin: 0px
}
.footer-logo ul li {
    margin-bottom: 30px;
}
.clearfix{
    clear: both;
}
.footer .footer-text-center, .footer-hot-line{
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
}
.footer-text-center h4{
    font-weight: bold;
}
.footer-text-center .company-address, .footer-hot-line .company-address{
    text-decoration: underline;
    font-size: 13px;
}
.navbar-inverse .navbar-nav>li>a  {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    font-weight: bold;
}
.menufix {
    background: rgba(0, 0, 0, 0.9);
    padding-bottom: 20px
}
#navbar { margin-top: 10px}
#form_advice .form-group {
    margin: 10px !important;
}
@media (max-width: 1199px) {
    .carousel-caption {
        top: 100px;
    }
    .btn-regis-slider {
        display: none;
    }
    .carousel-caption p br {
        display: none;
    }
    .circle {
        margin: 0px auto;
        float: initial !important
    }
    .arrow-circle {
        display: none;
    }
    .circle-last {
        float: initial !important;
        margin: 0px auto;
    }
}
@media (max-width: 1023px) { 
    .circle {
        float: none;
        margin: 20px auto;
    }
    .arrow-circle {
        display: none;
    }
    .text-details,.section-desc-text-inner,.footer,.content-collapse,.panel-title a {
        width: 100%;
    }
    .panel-heading,.panel-title {
        height: auto;
    }
    .panel-title a {
        left: 0px;
    }
    .panel-heading .accordion-toggle:after {
        display: none;
    }
    .content-collapse {
        padding: 0px 15px;
    }
    img {
        margin: 0px auto;
        display: inherit;
    }
    .section-desc {
        height: auto;
        background-size: cover;
        padding: 25px;
    }
    .section-desc-text-inner {
        padding-top: 0px;
    }
    .intro-heading {
        font-size: 24px;
    }
    .main-menu.nav>li>a {
        padding: 10px 12px !important;
    }
    ul.main-menu li a {
        font-size: 14px;
    }
    .navbar-toggle {
        display: none;
    }
    .carousel-caption {
        top: 30px;
    }
    .logo-slider,.btn-regis-slider {
        display: none;
    }

}
@media (max-width: 768px) {
    .header-menu .button.mb {
        display: block;
    }
    .carousel-caption p {
        font-size:  20px;
        line-height: inherit
    }
    .line {
        display: none;
    }
    .text-intro {
        padding: 25px;
    }

    .header-menu {
        padding-bottom: 25px;
        background: black;
    }
    .owl-theme .owl-controls {
        text-align: right !important;
    }
    #banner .owl-pagination {
        bottom: 25px;
    }
    .text-details-content {
        padding-left: 0px;

    }
    .resgistration-border {
        padding: 50px 25px;
    }
    .arrow-circle {
        width: 100%;
        height: 45px;
        background-position: center !important;
        display: block !important;
        margin-left: 0px !important;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

}
@media (max-width: 480px) {
    .header-menu {
        position: relative !important;
        margin-bottom: 0px !important;
    }
    .carousel-caption p {
        margin: 0px !important;
    }
    .carousel-caption {
        top: 10px !important;
    }
}
@media (max-width: 320px) { 
    .logo-brand {
        width: 110px;
        margin-top: 5px;
        height: auto !important;
    }
    .carousel-caption p {
        font-size: 16px;
    }
}
