$avatar-size-default: 60px;
$avatar-size-small: 45px;
$avatar-size-large: 100px;

@mixin avatar($size) {
    width: $size;
    height: $size;
}
.avatar {
    @include avatar($avatar-size-default);
    border-radius: 100%;

    &.avatar-small {
        @include avatar($avatar-size-small);
    }
    &.avatar-large {
        @include avatar($avatar-size-large);
    }
    &.avatar-squared {
        border-radius: 0;
    }
}
