.card {
    @include default-shadow();
    .card-img-top {
        width: 100%;
    }

    .card-title {
        @include font-size(16px);
        font-weight: 700;
        margin: 0 0 10px;
    }

    footer.card-block {
        border-top: 1px solid map-get($colors, grey-light);
    }
}
