.dropdown-menu {
    @include default-shadow();
    padding: 10px 0;
    li {
        margin: 0;
        padding: 0;
    }
    .dropdown-item {
        padding: 7px 25px;
        &:hover {
            background-color: #fff;
            color: map-get($colors, green);
        }
    }
}
