.offpage-overflow {
    overflow: hidden;
    .offpage-menu {
        overflow: scroll;
    }
    .k-header-wrap {
        display: none;
    }
}
.offpage-menu {
    display: none;
    & > header {
        display: none;

        h4 {
            float: left;
        }

        .close {
            float: right;
            font-size: $font-size-root;
            &:before {
                // TODO: Change content to "cross icon" character
                content: "x";
            }
            &.back {
                float:left;
                margin-right: $spacer;
                &:before {
                    // TODO: Change content to "arrow-left icon" character
                    content: "<";
                }
            }
        }
    }
}
.k-header-offpage-menu {
    @include default-shadow();
    padding: 11px 0px;
    background: white;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
    img {
        height: 40px;
        margin: 0px auto;
    }
    .offpage-close {
        position: absolute;
        top: 50%;
        color: $gray-dark;
        font-size: 22px;
        -ms-transform: translateY(-50%); /* IE 9 */
        -webkit-transform: translateY(-50%); /* Safari */
        transform: translateY(-50%);
        &.right {
            right: 25px;
        }
        &.left {
            left: 25px;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
    }
}
@include media-breakpoint-down(md) {
    .offpage-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        z-index: 9999;
        background: white;
        opacity: 0;
        -webkit-transform: translateX(-105%) !important;
                transform: translateX(-105%) !important;
        transition: opacity .5s linear, .5s ease-in-out;
        & > header {
            display: block;
        }

        &.in {
            opacity: 1;
            -webkit-transform: translateX(0) !important;
                    transform: translateX(0) !important;
        }
    }
    .offpage-right{
        -webkit-transform: translateX(105%) !important;
        transform: translateX(105%) !important;
    }

}
@media (max-width: 991px) {
    .k-header-offpage-menu.open {
        display: block;
    }
}
@media (max-width: 767px) {
    .k-header-offpage-menu {
        display: block;
    }
}
