@font-face {
    font-family: "UTM HELVE";
    src: url("../fonts/UTM HELVE.TTF");
    src: url("../fonts/UTM HELVE.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "UTM HELVE";
    src: url("../fonts/UTM HELVE_ITALIC.TTF");
    src: url("../fonts/UTM HELVE_ITALIC.TTF") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "UTM HELVE";
    src: url("../fonts/UTM HELVEBOLD.TTF");
    src: url("../fonts/UTM HELVEBOLD.TTF") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "UTM HELVE";
    src: url("../fonts/UTM HELVEBOLD_ITALIC.TTF");
    src: url("../fonts/UTM HELVEBOLD_ITALIC.TTF") format("truetype");
    font-weight: 700;
    font-style: italic;
}