* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    overflow: hidden;
    overflow-y: auto;
}

//@media (min-width: 544px) and (max-width: 767px){
//    .container {
//        max-width: 514px;
//    }
//}
.border-left {
    border-left: 3px solid black;
}

.border-right {
    border-right: 3px solid black;
}

.button-regis {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
    }
    &.large {
        font-size: 24px;
        &:focus,
        &:active,
        &:active:focus {
            outline: none;
        }
    }
}

//.shadow-invert:hover{
//    box-shadow: 0 5px 5px rgba(255, 255, 255, .3);
//}
.text-center {
    text-align: center;
}

.video-youtube {
    position: relative;
    margin-top: 40px;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#menu {
    position: fixed;
    width: 100%;
    z-index: 16;
    background-color: #062d92;
    transition: all 0.5s ease;
    z-index: 4;
    &.action {
        background-color: #062d92;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    }
    .navbar-brand {
        padding: 10px 0;
        position: relative;
        z-index: 1;
        height: 70px;
        margin-right: 0;
        transition: all 0.5s ease;
        img {
            height: 100%;
            position: relative;
            @media (max-width: 575px){
                margin-top: 6px;
                height: 80%;
            }
        }
    }
    .contact {
        position: relative;
        z-index: 1;
        float: right;
        text-align: right;
        width: auto;
        margin-top: 16px;
        transition: all 0.5s ease;
        color: white;
        .btn{
            background-color: #062d92;
            border-radius: 5px;
            border: 2px solid white;
            color: white;
            font-weight: bold;
        }
    }
    .navbar {
        background-color: transparent;
        padding: 0;
        color: white;
        float: right;
        margin-right: 40px;
        .navbar-toggler {
            color: white;
            &.btn-toggler {
                height: 70px;
                width: 70px;
                font-size: 22px;
                border-radius: 0;
            }
            &:focus {
                outline: none;
            }
        }
        .navbar-nav {
            text-align: right;
            display: table-cell;
            vertical-align: middle;
            height: 70px;
            transition: all 0.5s ease;
            .nav-item + .nav-item {
                margin-left: 2.5rem;
            }
            .nav-item {
                a.nav-link {
                    color: white;
                    font-weight: bold;
                    font-size: 20px;
                    &:hover {
                        font-weight: bold;
                    }
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#banner {
    padding: 180px 0;
    background-image: url(../img/bg-banner.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: left;
    position: relative;
    color: #062d92;
    height: 920px;
    .inner-banner {
        padding-left: 100px;
        .title-1 {
            font-size: 35px;
        }
        .title-2 {
            font-size: 45px;
            font-weight: bold;
            position: relative;
            margin-bottom: 40px;
            &:after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                height: 1px;
                width: 80px;
                background-color: #062d92;
            }
        }
        .des-1 {}
        .des-2 {
            font-size: 25px;
            margin-bottom: 40px;
        }
        .btn-group {
            .btn {
                background-color: #23317f;
                color: white;
                border-radius: 10px;
                width: 250px;
                font-size: 20px;
                margin-bottom: 20px;
                border: 1px solid #283891;
                &.ticket {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        background-image: url(../img/ghim.png);
                        width: 12px;
                        height: 27px;
                        top: -3px;
                        left: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        .inner-banner {
            padding-left: 0;
        }
    }
    @media (max-width: 767px) {
        background-image: none;
        padding: 120px 0 50px;
        height: auto;
    }
    @media (max-width: 575px) {
        padding-bottom: 0;
        .inner-banner {
            .title-1 {
                font-size: 24px;
            }
            .title-2 {
                font-size: 32px;
            }
        }
    }
}

#intro {
    padding: 0 0 50px;
    background-color: #283891;
    color: white;
    margin-top: -120px;
    padding-top: 160px;
    text-align: center;
    img {
        max-width: 100%;
    }
    .title {
        font-size: 25px;
        font-weight: bold;
        padding-top: 50px;
        padding-left: 50px;
        position: relative;
        text-align: left;
        &:before {
            content: "";
            position: absolute;
            top: -4px;
            height: 8px;
            width: 50px;
            background-color: white;
        }
    }
    .des {
        padding-left: 50px;
        padding-top: 20px;
        text-align: left;
        p {
            margin-bottom: 20px;
        }
    }
    ul {
        padding-top: 50px;
        text-align: left;
        li {
            display: block;
            position: relative;
            padding-left: 40px;
            padding-bottom: 20px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-image: url(../img/tick-inside-circle.png);
                background-size: 100%;
                height: 30px;
                width: 30px;
            }
        }
    }
    @media(max-width: 991px) {
        .title {
            padding-top: 30px;
            &:before {
                display: none;
            }
        }
    }
    @media(max-width: 767px) {
        margin-top: auto;
        .title,
        .des {
            padding-left: 0;
        }
    }
}

#skill {
    background-color: #010930;
    padding: 60px 0;
    color: white;
    .box-title {
        float: left;
        width: 350px;
        .title {
            font-size: 25px;
            font-weight: bold;
            position: relative;
            padding: 50px 0 30px;
            padding-left: 40px;
            &:before {
                content: "";
                position: absolute;
                height: 8px;
                width: 50px;
                background-color: white;
                top: 0;
            }
            &:after {
                content: "";
                position: absolute;
                background-image: url(../img/arrow.png);
                height: 10px;
                width: 12px;
                bottom: 0;
                left: 40px;
            }
        }
    }
    .box-book-store {
        float: right;
        width: 700px;
        ul {
            padding-top: 50px;
            padding-left: 50px;
            li {
                display: block;
                cursor: pointer;
                position: relative;
                padding-left: 30px;
                padding-bottom: 15px;
                span {
                    font-size: 20px;
                    font-weight: bold;
                    background-color: #046fdb;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                &:hover,
                &.clicked {
                    span {
                        background-color: #e20030;
                    }
                    &:before {
                        content: "\71";
                        font-family: "icon" !important;
                        font-style: normal !important;
                        font-weight: normal !important;
                        font-variant: normal !important;
                        text-transform: none !important;
                        speak: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #e20030;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 1199px) {
        .box-book-store {
            width: 600px;
        }
    }
    @media (max-width: 767px) {
        .box-title,
        .box-book-store {
            width: auto;
            float: none;
            .title {
                padding-top: 0;
                padding-left: 15px;
                padding-right: 15px;
                &:after,
                &:before {
                    display: none;
                }
            }
            ul {
                padding: 0;
                li {
                    padding-right: 15px;
                }
            }
        }
    }
}

#content {
    padding: 80px 0;
    .title {
        color: #062d92;
        padding-left: 50px;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .box-content {
        overflow: hidden;
        position: relative;
        padding-bottom: 30px;
        .btn.slick-arrow {
            position: absolute;
            bottom: 0;
            font-size: 30px;
            line-height: 1;
            padding: 0 10px;
            &.right{
                left: 50%;
            }
            &.left{
                right: 50%;
            }
        }
        .item {
            margin-bottom: 20px;
            display: inline-flex;
            width: 100%;
            .image-book {
                flex: 1;
                border: 2px solid #283891;
                padding: 20px 30px;
                img {
                    width: 100%;
                }
            }
            .detail {
                flex: 4;
                background-color: #283891;
                color: white;
                padding: 25px 20px;
                .name {
                    font-size: 20px;
                }
                .price {
                    position: relative;
                    padding-bottom: 15px;
                    &:after {
                        content: "";
                        background-color: white;
                        height: 1px;
                        width: 40px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                .line {}
                .des {
                    ul {
                        padding-top: 15px;
                        padding-left: 16px;
                        li {}
                    }
                }
            }
            &.selected,
            &:hover {
                .image-book {
                    border-color: #062d92
                }
                .detail {
                    background-color: #062d92;
                }
            }
        }
        .slick-track{
            display: initial;
        }
    }
    @media (max-width: 767px) {
        padding: 40px 0;
        .title {
            padding-left: 0;
        }
        .box-content{
            .item {
                display: block;
                .image-book {
                    text-align: center;
                    img {
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
            .slick-track{
                display: inline-flex;
            }
        }
    }
}

#register {
    padding: 120px 0;
    background-color: #010930;
    .box-register {
        background-color: white;
        .header {
            font-size: 25px;
            font-weight: bold;
            background-image: url(../img/line-header.png);
            background-size: auto 100%;
            background-position: left;
            color: white;
            padding: 15px 0 10px 350px;
            text-transform: uppercase;
        }
        .select-book {
            position: relative;
            img {
                position: absolute;
                top: -30px;
                left: 30px;
            }
            .selected-book {
                float: right;
                width: 730px;
                ul {
                    margin-top: 30px;
                    li {
                        display: block;
                        position: relative;
                        padding-bottom: 20px;
                        line-height: 20px;
                        cursor: pointer;
                        .blue {
                            color: #283891;
                        }
                        .red {
                            color: #e20030;
                            font-weight: bold;
                        }
                        .larger {
                            font-size: 20px;
                        }
                        &.line {
                            div {
                                width: 80%;
                                border-bottom: 1px solid #283891;
                            }
                            &:before {
                                display: none;
                            }
                        }
                        &:before {
                            position: absolute;
                            font-size: 30px;
                            color: #e20030;
                            left: -40px;
                            top: -5px;
                        }
                        &.selected,
                        &:hover {
                            font-weight: bold;
                            &:before {
                                content: "\e025";
                            }
                        }
                    }
                }
            }
        }
        form {
            padding-bottom: 30px;
            .input-group {
                margin-bottom: 20px;
                input {
                    height: 41px;
                }
            }
            select.form-control {
                margin-bottom: 20px;
                height: 41px;
            }
            .btn-register {
                background-color: #e20030;
                border-radius: 0px;
                padding: 10px 30px 10px 60px;
                position: relative;
                box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.7);
                margin-bottom: 30px;
                &:before {
                    content: "";
                    position: absolute;
                    background-image: url(../img/mouse.png);
                    width: 14px;
                    height: 27px;
                    left: 30px;
                }
            }
        }
    }
    @media (max-width: 1199px) {
        .box-register {
            .select-book {
                img {
                    width: 25%;
                }
                .selected-book {
                    width: 600px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        .box-register {
            .header {
                padding-left: 30px;
                font-size: 22px;
            }
        }
        .box-register {
            .select-book {
                text-align: center;
                img {
                    margin-top: 15px;
                    width: auto;
                    max-width: 100%;
                    position: static;
                }
                .selected-book {
                    float: none;
                    width: auto;
                    text-align: left;
                    padding-left: 50px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        .box-register {
            .header {
                background-image: none;
                background-color: #e20030;
                padding: 15px;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

#hoi-dap {
    background: #f7f7f7;
    .container .fb-comments {
        padding: 40px;
        background: white;
        margin: 40px 0px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        display: inline-block;
        width: 100%;
        @media(max-width: 767px) {
            padding: 30px 0px;
        }
    }
}

#footer {
    border-top: 1px solid #ececec;
}

#footer p {
    color: #f6f6f6;
    font-size: 12px;
}

#footer .top {
    background: #280000;
    padding: 30px 0px;
    color: white;
}

#footer .top .left .title {
    margin: 10px 0px;
    font-size: 24px;
}

#footer .top .left .logo-footer {
    margin: 15px 0px;
    img {
        max-width: 100%;
    }
}

#footer .top .left .logo-footer div {
    margin: 15px 0px;
}

#footer .top .right {
    text-align: right
}

#footer .bottom {
    text-align: center;
    padding: 20px 0px 10px 0px;
}

#footer .bottom ul {
    display: inline-block;
    margin-bottom: 0px;
}

#footer .bottom ul li {
    float: left;
    margin-right: 15px;
}

#footer .bottom ul li a {
    border-right: 2px solid #333333;
    padding-right: 15px;
    color: #333333;
    font-weight: 500;
    font-size: 14px;
}

#footer .bottom ul li a:hover {
    text-decoration: none;
    color: black;
}

#footer .bottom ul li:last-child a {
    border-right: none;
}

#footer .bottom p.copyr {
    color: #9F9F9F;
}

#footer ul {
    list-style: none;
}


/* siderbar */

@media (min-width: 1199px) {
    #side-menu {
        width: 76px;
        position: fixed;
        top: 35%;
        right: 15px;
        display: block;
        ul {
            background: white;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #f0f0f0;
            li {
                display: block;
                text-align: center;
                padding: 0;
                margin: 0.35em auto;
                width: 64px;
            }
        }
    }
}

@media (max-width: 1199px) {
    #side-menu {
        display: none;
    }
}