.video-chooser {

}
.video-chooser label {
    display: block;
    font-weight: normal;
    cursor: pointer;;
}

.video-chooser .modal-dialog {
    width: 840px;
}
.video-chooser .fixed-table-body {
    height: auto;
}
