#k-page-404 {
    min-height: 550px;
    position: relative;
    .k-page-404-wrap {
        width: 100%;
        h2 {
            margin: 40px 0px 40px 0px;
            position: relative;
            top: 20px;
        }
        h3 {
            font-size: 50px;
            text-transform: uppercase;
            color: $color-link;
            font-weight: 400;
            margin: 20px 0px 20px 0px;
        }
        p {
            font-size: 16px;
        }
        .top {
            color: $gray-dark;
        }
        .bottom {
            color: $color-body;
            font-weight: 500;
        }
        ul {
            padding: 0px;
            margin: 0px 0px 50px 0px;
            display: inline-block;
            width: 100%;
            li {
                display: inline-block;
                float: left;
                margin: 0px 15px 15px 0px;
                a {
                    @include border-radius(3px);
                    @include button-color($gray-light);
                    border-radius: 5px;
                    padding: 10px 15px;
                    display: inline-block;
                }
            }
        }
    }
}

@media(min-width: 991px) {
    #k-page-404 {
        .k-page-404-wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);            
        }
    }
}
