#k-page-503 {
    min-height: 100vh;
    position: relative;
    text-align: center;
    .wrapper-content{
        position: absolute;
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        @media(max-width: 576px){
            padding: 0 20px;
        }
        h1{
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
            font-size: 30px;
            color: #36ac4a;
            line-height: 1.3;
            margin:20px 0 60px;
            text-transform: uppercase;
            @media(max-width: 576px){
                font-size: 23px;
                margin-bottom: 20px;
            }
        }
        img.icon-img{
            @media(max-width: 576px){
                width: calc(100% + 40px);
                max-width: initial;
                margin-left: -20px;
            }
        }
        img.logo{
            max-width: 220px;
            @media(max-width: 576px){
                max-width: 150px;
            }
        }
        p{
            font-family: 'Roboto-Regular',sans-serif;
            font-weight: 400;
            font-size: 16px;
            color:#231f20;
            line-height: 1.25;
            margin-top: 40px;
            a{
                font-family: 'Roboto-Bold',sans-serif;
                font-weight: 700;
                color: #36ac4a;
            }
            br{
                @media(max-width: 576px){
                    display: none;
                }
            }
        }
    }
}

