#detail-form-register {
    #user-info-form {
        .phone {
            padding: 0px 0px 0px 5px;
        }
    }
}
#user-info-form {
    .error-summary {
        ul {
            li {
                font-size: 1rem !important;
            }
        }
    }
}
.k-popup-lesson{
    .k-add-to-cart-register{
        display: none;
    }
}
.k-add-to-cart-register {
    @include default-shadow();
    @include width-popup-account();
    width: 430px;
    z-index: 1;
    margin: 15px auto;
    padding: 20px;
    position: absolute;  
    background: white;
    right: 15px;
    &:before {
        @include fontastic-icon();
        text-shadow: 0px -3px 5px darken($gray-lighter, 10%);
        content: "\3a";
        font-size: 16px;
        position: absolute;
        right: 80px;
        top: -13px;
        color: white;
    }
    .close {
        position: relative;
        top: -10px;
        right: -10px;   
    }
    .form-group {        
        &.name {
            padding: 0px;
        }
        &.number {
            padding-left: 5px;
            padding-right: 0px;
        }        
    }
    .button-submit {        
        padding-right: 0px;
        padding-left: 5px;
        text-align: center;  
        button {
            @include button-color($gray-light);
            width: 100%;            
            padding: 0px;
            height: 40px;
        }
    }
    p {
        margin-bottom: 10px;  
        .color-green {
            color: map-get($colors, green);
        }
        .color-orange {
            color: $color-price;
        }
    }
    a {
        &.color-link {            
            text-decoration: underline !important;            
        }
    }
    .color-link {
        color: map-get($colors, green);
        font-weight: 500;
    }
    .color-price {
        color: map-get($colors, orange);
        font-weight: 500;
    }   
    .text {
        padding-top: 10px;
        border-top: 1px solid $gray-lighter;
    }   
}



.k-password-recovery {
    margin: 120px 0px;
    .panel {
        background: white;
        padding: 20px;
    }
    .panel-title {
        text-align: center;
        margin: 20px
    }
}

@media (max-width: 767px) {
    .k-add-to-cart-register {
        right: 0px;
        margin-left: 13px;
        width: 100%;
    }
    #detail-form-register {
        #user-info-form {
            .phone {
                padding: 0px;
            }
        }
        .button-submit {
            padding: 0px;
        }
    }     
    .k-course-details-header {
        .k-course-details-info {
            .button {
                ul {
                    li {
                        &:first-child {
                            position: relative;
                        }
                    }
                }
            }
        }
    } 
}