.k-box-card-list {
    margin: 0;

    .k-box-card {
        .k-box-card-wrap {
            background: white;
            margin-bottom: 35px;
            border: 1px solid #ddd;
            position: relative;
            .clock-flash-sale{
                display: none;
                margin: 5px -3px;
                @media(max-width: 1024px){

                    margin-bottom: 5px;
                }
                @media(max-width: 425px){
                    display: block;
                }
                .col-xs-4{
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                    .clock-flash-sale-card{
                        border: 1px solid #f82723;
                        border-radius: 5px;
                        p{
                            text-align: center;
                            color: #656565;
                            padding-top: 5px;
                            line-height: 1;
                            padding-bottom: 5px;
                            margin-bottom: 0;
                            span{
                                display: block;
                                font-size: 22px;
                                color: #f82723;
                                font-weight: 700;
                                line-height: 1;


                            }
                        }
                    }
                }
            }
            .img {
                position: relative;
                height: auto !important;
                width: 100%;
                padding-top: 56.25%;
                /* 16:9 Aspect Ratio */
                overflow: hidden;

                a {
                    display: block;
                }

                .img-fluid {
                    margin: 0 auto;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    @media (max-width: 767px) {
                        border-radius: 4px;
                    }
                }
                .time{
                    border-radius: 3px;
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                    display: inline-block;
                    color: #fff;
                    background: #a7b3c1;
                    font-size: 13px;
                    text-align: center;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 5px;
                }
            }

            .background-detail {
                position: absolute;
                z-index: 1;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,0.2);
                display: none;

                .inner {
                    @include display-flex();
                }

                a {
                    color: white;
                    border: 2px solid white;
                    padding: 0;
                    display: inline-block;
                    min-width: 100px;
                    height: 35px;
                    line-height: 33px;
                    text-align: center;
                    margin: 5px;
                    @include border-radius(3px);
                    @include button-transition();

                    &:active,
                    &:hover {
                        background: white;
                        color: inherit;
                    }

                    &:focus {
                        outline: none;
                    }

                    &.view-detail {
                        background: map-get($colors, green);
                        border: none;
                        border-bottom: 2px solid darken(map-get($colors, green), 5%);

                        &:active,
                        &:hover {
                            background: darken(map-get($colors, green), 5%);
                            color: #fff;
                        }
                    }
                }
            }

            .wrap-position {
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
            }

            .content {
                padding: 10px 10px 5px;
                border-bottom: 1px solid #DDD;
                position: relative;
                .box-style{
                    span{
                        @include border-radius(3px);
                        width: auto;
                        color: white;
                        font-size: 13px;
                        display: inline-block;
                        height: 22px;
                        line-height: 22px;
                        text-align: center;
                        padding: 0 5px;
                        &.st-video{
                            background-color: #f84b2f;
                        }
                        &.st-app{
                            background-color: #053d92;
                        }
                        &.st-combo{
                            background-color: #fb6a00;
                        }
                        &.time {
                            background-color: #a7b3c1;
                        }
                    }
                }

                .combo {
                    background: $primary-color-kyna;
                    color: white;
                    padding: 5px 15px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-bottom: 2px solid $secondary-color-kyna;
                    margin: 0 0 35px;
                    display: inline-block;

                    &:hover {
                        background: $secondary-color-kyna;
                        border-bottom: 2px solid $last-color-kyna;
                    }

                    h4 {
                        margin: 5px 0 10px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                    }
                }

                h4 {
                    margin: 10px 0;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    color: $primary-color-kyna;
                }

                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                }

                .author {
                    color: #656565;
                }

                ul {
                    padding: 0;
                    display: inline-block;
                    width: 100%;
                    margin: 5px 0 0;

                    li {
                        float: left;
                        margin-right: 5px;

                        img {
                            margin-top: 3px;
                        }
                    }
                }
            }

            .view-price {
                padding: 10px;
                text-align: right;

                ul {
                    display: table;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    min-height: 25px;
                    .price {
                        float: left;
                        color: $primary-color-price;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .icon-view {
                        font-size: 12px;
                    }

                    .sale {
                        float: right;

                        span {
                            text-decoration: line-through;
                            margin-right: 3px;
                            font-weight: 400;
                        }
                    }
                }
                .clock-flash-sale{
                    overflow: hidden;
                    margin: 0 -3px;
                    display: block;
                    .col-xs-4{
                        padding-left: 2.5px;
                        padding-right: 2.5px;
                        .clock-flash-sale-card{
                            border: 1px solid #f82723;
                            border-radius: 5px;
                            p{
                                text-align: center;
                                color: #656565;
                                padding-top: 5px;
                                line-height: 1;
                                padding-bottom: 5px;
                                margin-bottom: 0;
                                span{
                                    display: block;
                                    font-size: 18px;
                                    color: #f82723;
                                    font-weight: 700;
                                    line-height: 1;


                                }
                            }
                        }
                    }
                }
            }
        }

        .card-popup {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        @media (min-width: 544px) {
            .k-box-card-wrap{
                .content-mb, .view-price-mb{
                    display: none;
                }
            }
        }
        @media (max-width: 543px) {
            .k-box-card-wrap{
                padding: 10px;
                .img{
                    width: 40%;
                    padding: 16vw 0 6vw;
                    float: left;
                    overflow: unset;
                    box-shadow: 0 5px 15px #bbb;
                    margin-bottom: 10px;
                    img{
                        position: static;
                    }
                    .label-wrap{
                        display: none;
                    }
                    .rating-box{
                        display: flex;
                        justify-content: center;
                        left: 0;
                        box-shadow: none;
                        bottom: -15px;

                        .rating-text{
                            span{
                                display: none !important;
                            }
                        }
                        .number-student{
                            display: none;
                        }
                    }
                }
                .content{
                    width: 60%;
                    float: right;
                    padding: 0 0 0 10px;
                    border: none;
                    h4{
                        font-size: 15px;
                    }
                    .box-style span{
                        font-size: 15px;
                        padding: 0;
                        font-weight: 700;
                        &.st-video {
                            background-color: #fff;
                            color: #f84b2f;
                        }

                        &.st-app{
                            background-color: #fff;
                            color: #053d92;
                        }
                        &.st-combo{
                            background-color: #fff;
                            color: #fb6a00;
                        }
                    }
                    .author, .major{
                        display: none;
                    }
                }
                .content-mb{
                    width: 100%;
                    float: left;
                    color: #999;
                    border-bottom: 1px solid #999;
                    padding: 5px 0;
                    b{
                        color: #000;
                    }
                }
                .view-price{
                    display: none;
                }
                .view-price-mb{
                    width: 100%;
                    float: left;
                    display: flex;
                    flex-wrap: nowrap;
                    font-size: 15px;
                    padding: 10px 0;
                    .number{
                        font-weight: bold;
                        line-height: 1.2;
                    }
                    .text{
                        color: #999;
                        line-height: 1.2;
                    }
                    .student{
                        flex: 2;
                    }
                    .time{
                        flex: 2;
                    }
                    .count-items{
                        flex: 4;
                    }
                    .price{
                        flex: 3;
                        .label-price{
                            background-color: #fb6a00;
                            text-align: center;
                            border-radius: 99px;
                            color: white;
                            font-weight: bold;
                            height: 38px;
                            display: table-cell;
                            width: 300px;
                            vertical-align: middle;
                            line-height: 1.2;
                            .last{
                                font-size: 12px;
                                font-weight: 100;
                            }
                        }
                    }
                }
            }
        }
        .k-box-card-wrap.block {
            box-shadow: 0 3px 14px rgba(0,0,0,0.3);
            @media (max-width: 767px) {
                box-shadow: none;
            }

            .background-detail {
                display: block;
                @media (max-width: 767px) {
                    display: none !important;
                }
            }
        }
    }
}

@media(max-width: 580px) {
    .k-box-card {
        .k-box-card-wrap {
            .content {
                height: auto !important;

                ul {
                    position: absolute;
                    left: 10px;
                    height: 100%;
                    padding: 10px;

                    li {
                        .icon-star-list {
                            position: relative;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }

    .teacher {
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        padding: 15px;
        position: absolute;
        display: inline-block;

        li {
            float: left;
            margin-right: 10px;
            line-height: 35px;
            color: map-get($colors, green);
            font-weight: 500;
            text-shadow: 0 0 3px #fff, 0 0 3px #fff;

            .img-teacher {
                @include border-radius(50%);
                width: 35px;
                height: 35px;
                border: 2px solid white;
            }
        }
    }
}
/* Combo course */

.label-wrap {
    position: absolute;
    text-align: right;
    right: 15px;
    top: 0;
    color: #fff;
    font-size: 13px;

    span {
        width: 40px;
        height: 20px;
        line-height: 21px;
        text-align: center;
        position: relative;
        display: inline-block;
        font-weight: bold;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            top: 100%;
            left: 0;
        }
    }

    .lb-hot {
        background-color: #f86900;

        &:after {
            border-top: 5px solid #f86900;
        }
    }

    .lb-new {
        background-color: #54ab4c;

        &:after {
            border-top: 5px solid #54ab4c;
        }
    }
}

.label-discount {
    text-align: center;
    color: #f82723;
    font-size: 14px;
    font-weight: 700;
    display: inline;

    span {
        margin-bottom: 5px;
        height: 20px;
        line-height: 21px;
    }
}

/* Box in home pages */
@media (max-width: 767px) {
    #k-highlights{
        padding-left: 0;
        padding-right: 0;
        .k-box-card-list{
            .k-box-card{
                padding-left: 0;
                padding-right: 0;
                width: 50%;
                .k-box-card-wrap{
                    padding: 10px;
                    margin-bottom: 0;
                    .img{
                        width: 100%;
                        padding: 16vw 0 10vw;
                        box-shadow: none;
                        margin-bottom: 10px;
                        .rating-box{
                            display: block;
                            bottom: 0;
                            padding: 0 5px 3px;
                            -moz-box-shadow: inset 0 -25px 25px -10px rgba(0,0,0,0.5);
                            -webkit-box-shadow: inset 0 -25px 25px -10px rgba(0,0,0,0.5);
                            box-shadow: inset 0 -25px 25px -10px rgba(0,0,0,0.5);
                            .number-student{
                                display: block;
                                > span > span{
                                    display: none !important;
                                }
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        padding: 0;
                        border-bottom: none;
                    }
                    .content-mb{
                        border-bottom: none;
                        padding: 0;
                        span{
                            display: none;
                        }
                        font-size: 13px;
                    }
                    .view-price-mb{
                        display: none;
                    }
                    .view-price{
                        display: block;
                        float: left;
                        padding: 0;
                        width: 100%;
                        .price {
                            font-size: 14px;
                        }
                        .sale {
                            float: right;
                            padding-top: 1px;
                            font-size: 12px;
                            span {
                                margin-right: 0;
                            }
                            .label-discount{
                                display: none;
                            }
                        }
                    }
                    .card-popup {
                        z-index: 1;
                    }
                }
            }
        }
    }
}