.k-course-card-slide {
    display: inline-block;
    width: 100%;
    .k-box-card {
        padding: 0px 5px;
    }
    .owl-buttons {
        i {
            color: $color-body;
        }
    }
    .owl-controls {
        position: absolute;
        top: -65px;
        right: 10px;
    }
    .k-course-card-slide-title {
        padding: 30px 0px 15px 0px;
        margin: 30px 0px 15px 0px;
        border-top: 1px solid $gray-lighter;
    }
}
@media(max-width: 1199px) {
    #k-shopping {
        .k-shopping-sidebar {
            .k-shopping-sidebar-list {
                li {
                    span {
                        line-height: inherit !important;
                    }
                }
            }
        } 
    } 
}
@media(max-width: 580px) {
    .k-course-card-slide {
        .owl-controls {
            position: inherit !important;
            bottom: inherit;
            top: -20px !important;
            right: 0px !important
        }
    }
}