
.k-combo-preferential-list {
    margin-top: 1.875rem;
    display: inline-block;
    .k-combo-preferential-item {
        margin-bottom: 35px;
        @include default-shadow();
        .combo-img {
            margin: 0px;
            padding: 15px;
            img {
                margin: 0px auto;
            }
        }
        .text {
            padding-top: 15px;
            padding-bottom: 15px;
            h4 {
                line-height: 24px;
            }
            ul {
                margin: 0px !important;
                li {
                    border: none !important;
                    padding: 0px;
                }
            }
        }
        .button {
            .list {
                @include button-color(map-get($colors, green));
                @include border-radius(3px);
                padding: 10px 15px;
                display: inline-block;
                width: 100%;
                text-align: center;
                margin: 15px 0px;
            }
        }

        ul {
            display: inline-block;
            width: 100%;
            margin: 15px 0px 5px 0px;
            padding: 0px;
            li {
                display: inline-block;
                width: 100%;
                padding: 5px 0px 5px 0px;
                &:first-child {
                    border-bottom: 1px solid darken($gray-lighter, 10%);
                }
                &:last-child {
                    border-bottom: 1px solid darken($gray-lighter, 10%);
                    padding-bottom: 20px;
                }
                p {
                    margin-bottom: 0px;
                }
                .combo-title {
                    h5 {
                        margin: 0px;
                        a {
                            @include link-color($gray-dark);
                            line-height: 20px;
                        }
                    }
                }
                .combo-teacher {
                    text-align: right;
                }
            }
        }
        .total {
            padding-bottom: 15px;
            .total-preferential {                
                .title {                    
                    float: right;                                        
                    font-weight: 500;
                    color: $color-price;
                    font-size: 18px;
                }
                a {
                    font-weight: 500;
                }

            }
            .add-to-cart {
                @include button-color($color-price);
                @include border-radius(3px);
                padding: 10px 15px;
                margin-top: 10px;
                display: inline-block;
                width: 100%;
                text-align: center;
                font-size: 16px;
                &.reg{
                    background: #b5b5b5;
                    border-bottom: 2px solid darkgray;
                    cursor: default;
                }
            }
        }
    }

}
.k-combo-preferential-item-main {
    .combo-mb {
        display: none;
    }
}
@media (max-width: 991px){
    .k-combo-preferential-list {
        span.mb {
            display: inline-block;
            width: 100px;
            font-weight: normal !important;
            font-size: 14px !important;
        }
        ul {
            li {
                &:first-child {
                    display: none;
                }
            }
        }
        .k-combo-preferential-item {
            ul {
                li {
                    .combo-teacher {
                        text-align: left;
                    }
                }
            }
        }
    }
    .k-combo-preferential-item-main {
        .total-preferential {
            .title {
                float: initial !important;
            }
            .combo-mb {           
                display: inline-block;
                float: left;
                font-weight: 400;
            }
            span {
                margin-right: 10px;
                font-size: 14px !important;              
            }
        }
        .combo-mb {
            display: block;
        }        
    }
}
