@keyframes mobilefooterbar-movement {
    from {bottom: -100%;}
    to {botton: 0px;}
}
#k-footer {
    background: $gray-lighter;
    padding: 33px 0;
    border-top: 1px solid darken($gray-lighter, 5%);

    h4 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        line-height: 25px;
        display: inline-block;
        width: 100%;

        &.bottom {
            margin-top: 20px;
        }

        li {
            margin-bottom: 10px;
            position: relative;

            &.iconhot:after {
                content: "";
                background-image: url("../img/icon-hot.png");
                background-position: right;
                background-repeat: no-repeat;
                position: absolute;
                width: 60px;
                height: 20px;
                top: 2px;
            }

            &.iconfeature:after {
                content: "";
                background-image: url("../img/icon-feature.png");
                background-position: right;
                background-repeat: no-repeat;
                position: absolute;
                width: 36px;
                height: 20px;
                top: 2px;
            }

            a {
                @include link-color($color-body);
            }

            first {
                color: #939393;
                font-size: 18px;
            }

            second {
                display: block;
                font-size: 22px;
                font-weight: 700;
                color: #50ad4e;
            }
        }
    }

    .hotline {
        float: left;
        width: 200px;
        padding-right: 15px;

        .social {
            .youtube {
                @include icon-footer-social();

                &:hover {
                    background: map-get($color-brands, youtube);
                    @include button-transition();
                }
            }

            .facebook {
                @include icon-footer-social();

                &:hover {
                    background: map-get($color-brands, facebook);
                    @include button-transition();
                }
            }

            i {
                position: relative;
                top: -7px;
            }
        }
    }

    .about,
    .info {
        float: left;
        width: 200px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .fanpage {
        float: left;
        width: 255px;
        @media (min-width: 768px) and (max-width: 991px) {
            text-align: center;
        }
    }

    .app-col{
        float: left;
        width: 285px;
        padding-left: 25px;
        .icon-app{
            img{
                width: 45%;
                float: left;
                &:last-child{
                    margin-left: 5px;
                }
            }
        }
        > img{
            width:45%;
            margin: 10px 0 5px;
        }
        .details{
            font-family: 'Roboto-Bold',sans-serif;
            display: block;
            color: #272727;
            font-weight: 700;
            span{
                width: 15px;
                height: 15px;
                display: inline-block;
                background: #50ad4e;
                text-align: center;
                line-height: 15px;
                border-radius: 50%;
                color: #fff;
            }
        }
    }
    @media (max-width: 1199px){
        .box.container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .hotline,
        .about,
        .info {
            width: calc(100% / 3);
            padding-right: 15px;
            padding-left: 15px;
        }
        .fanpage, .app-col {
            width: 330px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

#k-footer-copyright {
    background: #FFFFFF;
    padding: 20px 0 10px;
    border-top: 1px solid #f0f0f0;
    position: relative;

    .address {
        padding-right: 0;
        @media (min-width: 1199px) {
            position: relative;
            top: 10px;
        }

        .img {
            @include icon-main();
            width: 137px;
            height: 70px;
            background-position: -49px -9812px;
        }

        .text {
            p {
                font-size: 13px;
                margin: 0;
            }
        }
    }

    .info {
        padding-left: 0;

        img {
            max-width: 180px;
            margin: 0 auto;
            position: relative;
            left: 15px;
            @media(max-width: 1079px) {
                left: inherit;
            }
        }

        ul {
            display: table;
            width: 100%;
            padding: 15px 0;
            margin-bottom: 0;

            li {
                display: table-cell;
                text-align: right;

                a {
                    color: $base-font-color;

                    &:hover {
                        color: $secondary-color-kyna;
                    }
                }
            }
        }
    }
}

#k-footer-mb {
    background: #a9b1bc;
    padding: 10px;
    display: none;

    .k-footer-mb-contact {
        margin-bottom: 0;
        @media(max-width: 767px) and (min-width: 400px){
            margin-bottom: 25px;
        }
        li {
            width:calc(50% - 5px) !important;
            float: left;
            &:first-child{
                margin-right: 10px !important;
            }
            a {
                @include button-color(white);
                @include border-radius(3px);
                padding: 10px;
                color: $gray-light;
                width:100%;
                @media(max-width: 320px){
                    padding: 10px 5px !important;
                }
                i {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .link{
        .link-text{
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 14px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 10px;
            }
        }
        img{
            width: calc(100% - 60px);
            margin-left: 30px;
        }
    }

    .k-footer-mb-social {
        margin: 20px 0;
        text-align: center;
        li {
            font-size: 28px;
            width: 50px;
            height: 50px;
            background: #fff;
            display: inline-block;
            border-radius: 50%;
            text-align: center !important;
            &:first-child {
                text-align: right;
            }

            &:last-child {
                text-align: left;
                margin-left: 15px;
            }

            a {
                color: white;
                i{
                    color: #a9b1bc;
                }
            }
        }
    }

    ul {
        display: table;
        width: 100%;
        padding: 0;

        li {
            display: table-cell;
            width: 33.33%;
            text-align: center;
            padding: 0;
        }
    }

    p {
        text-align: center;
        color: white;
    }
    .mobilefooterbar{
        position: fixed;
        z-index: 16000004;
        bottom: 0;
        width: 100%;
        background: #50AD4C;
        left: 0;
        padding: 15px 0;
        text-align: center;
        -webkit-animation: mobilefooterbar-movement 2s;
        -o-animation: mobilefooterbar-movement 2s;
        animation: mobilefooterbar-movement 2s;
        p{
            font-size: 18px;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 5px;
            @media(max-width: 320px){
                font-size: 16px;
            }
        }
        .icon-app{
            width: calc(100% - 60px);
            width: 250px;
        }
        .close{
            position: absolute;
            right: 7px;
            opacity: 1;
            top: 7px;
            width: 20px;
        }
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    #k-footer-copyright {
        .address {
            .text {
                text-align: center;
            }
        }

        .info {
            ul {
                li {
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #k-footer {
        display: none;
    }

    #k-footer-copyright {
        display: none;
    }

    #k-footer-mb {
        display: block;
        padding-bottom: 10px;
        padding-top: 30px;
    }
}
@media (max-width: 400px) {
    #k-footer-mb {
        .k-footer-mb-contact {
            li {
                display: inline-block;
                margin-bottom: 20px;

                a {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

#kyna-group {
    background: #ebebeb;
    padding: 15px 0;
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    h4 {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
        span {
            font-weight: 600;
            color: #0e0e0e;
        }
    }

    .img {
        background: #fff;
        display: block;
        padding-top: 12px;
        padding-bottom: 15px;

        @include border-radius(5px);
        border: 1px solid #dddddd;


        &:hover {
            img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }

        img {
            margin: 0 auto;
            max-width: 100%;
            display: block;
            -webkit-transform: scale(1.1); /* Safari */
            transform: scale(1.1); /* Standard syntax */
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
    }

    p {
        font-size: 13px;
        color: #666666;
        line-height: 1.4;
        text-align: center;
        padding: 0 15px;
        @media(min-width: 992px){
            margin-bottom: 25px;
            font-size: 14px;
        }
    }

    .wrap {
        @include display-flex();
        -webkit-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        width: 33.33%;
        padding: 5px;

        a {
            overflow: hidden;
        }
    }
    @media (min-width: 768px) {
        h4 {
          
        }

        .item {

        }
    }
    @media (min-width: 992px) {
        position: relative;
        z-index: 1;
        width: 100%;
        float: left;
        padding-bottom: 0;
        margin-bottom: 15px;

        h4 {
          font-size: 20px;
            padding-top: 15px;
            margin-bottom: 15px;
        }

        .wrap {
            .item{
                .img{
                    padding-top: 8px;
                    padding-bottom: 10px;
                    @include border-radius(10px);
                    margin-bottom: 10px;
                    margin-left: 15px;
                    margin-right: 15px;

                }
            }
        }
    }
    @media (min-width: 1200px) {
        .wrap{
            max-width: 905px;
            margin: 0 auto;
            .item{
                padding: 5px 10px;
                .img{

                        img{
                            -webkit-transform: scale(1); /* Safari */
                            transform: scale(1); /* Standard syntax */
                        }
                  &:hover {
                    img {
                      -webkit-transform: scale(1.1);
                      transform: scale(1.1);
                    }
                  }
                }
            }
        }
        h4 {

        }
    }
}

.k-listing-content .k-box-card-list-category {
    margin-top: 1.875rem;
    clear: both;
    display: inline-block;
    width: 100%;
}
.k-box-card-list-category .k-box-card .k-box-card-wrap{
    border: 1px solid #ddd;
}
.k-box-card-list-category .k-box-card .k-box-card-wrap{
    margin-bottom: 35px;
    position: relative;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}
.k-box-card-list-category .k-box-card .k-box-card-wrap .img{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    height: auto !important;
    overflow: hidden;
}
.k-box-card-list-category .k-box-card .k-box-card-wrap .img .img-fluid{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media(max-width: 767px){
    .k-box-card-list-category .k-box-card .k-box-card-wrap .img {
        width: 40%;
        float: left;
        box-shadow: rgb(187, 187, 187) 0px 5px 15px;
        margin-bottom: 10px;
        padding: 16vw 0px 6vw;
        overflow: unset;
    }
}
