.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
    outline: none;
}

@-webkit-keyframes zoom-bell {
    0%,
    100% {
        background-size: 32px 32px;
    }

    50% {
        background-size: 35px 35px;
    }
}

@keyframes zoom {
    0%,
    100% {
        background-size: 32px 32px;
    }

    50% {
        background-size: 35px 35px;
    }
}

@media (min-width: 992px) {
    .k-height-header {
        margin-top: 67px;
    }
}

#header{
    @media(max-width: 425px){
        margin-bottom: 20px;
    }
}

.k-header-wrap {
    @include default-shadow();
    background: white;
    transition: top 0.2s ease-in-out;
    z-index: 10;
    width: 100%;
    padding: 12px 0 0;
    margin-top: 0 !important;
    .navbar-brand {
        margin-right: 0 !important;
        padding-top: 0;
        padding-bottom: 0;

        img {
            max-width: 100%;
            height: auto;
        }

        &.logo {
            position: relative;
            //top: -10px;
            top: -5px;
            left: -15px;
            @media(max-width: 768px){
                top: 0px;
            }
            @media(max-width: 576px){
                top: -3px;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .k-header-menu {
        @media (min-width: 992px) {
            &:hover .dropdown-menu {
                display: block;
            }
        }

        .nav-wrap {
            height: 55px;
            display: block;

            .dropdown-menu {
                @include default-shadow();
                min-width: 768px !important;
                padding: 25px 20px 15px;
                margin: 0;
                font-size: 16px;
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;

                li {
                    margin-bottom: 20px;

                    a {
                        @include link-color($color-body);
                        //@include icon-main();
                        background-repeat: no-repeat;
                        height: 30px;
                        line-height: 30px;
                        width: 100%;
                        img{
                            margin-right:10px;
                            width: 20px;
                        }
                    }
                    &.see-more {
                        a {
                            background-position: -45px -928px;
                        }
                    }

                    &.khuyen-mai-nhom-khoa-hoc {
                        a {
                            background-position: -45px -995px;
                        }
                    }

                    &.phat-trien-ca-nhan {
                        a {
                            background-position: -45px -795px;
                        }
                    }

                    &.kinh-doanh {
                        a {
                            background-position: -45px -45px;
                        }
                    }

                    &.nuoi-day-con {
                        a {
                            background-position: -45px -657px;
                        }
                    }

                    &.it-va-lap-trinh {
                        a {
                            background-position: -45px -385px;
                        }
                    }

                    &.marketing-truyen-thong {
                        a {
                            background-position: -45px -115px;
                        }
                    }

                    &.ky-nang-cho-cong-viec {
                        a {
                            background-position: -45px -454px;
                        }
                    }

                    &.ngoai-ngu {
                        a {
                            background-position: -45px -523px;
                        }
                    }

                    &.mc-truyen-hinh {
                        a {
                            background-position: -45px -589px;
                        }
                    }

                    &.ky-nang-cho-be {
                        a {
                            background-position: -45px -725px;
                        }
                    }

                    &.thiet-ke-do-hoa-va-video {
                        a {
                            background-position: -45px -318px;
                        }
                    }

                    &.phu-nu-va-gia-dinh {
                        a {
                            background-position: -45px -4175px;
                        }
                    }

                    &.nghe-thuat-va-doi-song {
                        a {
                            background-position: -45px -4215px;
                        }
                    }

                    &.luyen-thi {
                        a {
                            background-position: -45px -861px;
                        }
                    }

                    &.vi-tinh-van-phong {
                        a {
                            background-position: -45px -183px;
                        }
                    }

                    &.ke-toan-tai-chinh-dau-tu {
                        a {
                            background-position: -45px -251px;
                        }
                    }

                    &.hr-phat-trien-nguon-luc {
                        a {
                            background-position: -47px -4411px;
                        }
                    }
                    /*&:nth-child(1) {
                        a {
                            background-position: -50px -10025px;
                        }
                    }
                    &:nth-child(2) {
                        a {
                            background-position: -50px -10095px;
                        }
                    }
                    &:nth-child(3) {
                        a {
                            background-position: -50px -10170px;
                        }
                    }
                    &:nth-child(4) {
                        a {
                            background-position: -50px -10247px;
                        }
                    }
                    &:nth-child(5) {
                        a {
                            background-position: -50px -10321px;
                        }
                    }
                    &:nth-child(6) {
                        a {
                            background-position: -50px -10394px;
                        }
                    }
                    &:nth-child(7) {
                        a {
                            background-position: -50px -10471px;
                        }
                    }
                    &:nth-child(8) {
                        a {
                            background-position: -50px -10547px;
                        }
                    }
                    &:nth-child(9) {
                        a {
                            background-position: -50px -10625px;
                        }
                    }
                    &:nth-child(10) {
                        a {
                            background-position: -50px -10703px;
                        }
                    }
                    &:nth-child(11) {
                        a {
                            background-position: -50px -10775px;
                        }
                    }
                    &:nth-child(12) {
                        a {
                            background-position: -50px -10850px;
                        }
                    }
                    &:nth-child(13) {
                        a {
                            background-position: -50px -9947px;
                        }
                    }*/
                }

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0 -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    left: 55px;
                    top: -13px;
                    color: white;
                }
                /*
                &:after {
                    @extend .font-awesome;
                    @extend .extend-icon-font-awesome;
                    left: 55px;
                    top: -22px;
                }
                */
            }
        }
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        background: $gray-lighter;
        padding: 5px 10px;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 25px;

        span {
            margin-left: 0;
            margin-top: 0;
            position: relative;
            top: 1px;
        }
    }

    .nav-mb {
        display: none !important;
        height: 40px;
        line-height: 25px;
    }

    .k-header-search .row-menu-bar-mobile {
        margin-right: 0;

        .k-button-search-course {
            padding: 0 0 0 15px;
        }
    }

    form {
        .input-group {
            width: 100%;

            input {
                @include border-radius(0px);
                background: transparent;
                box-shadow: none;
                font-size: 14px;
                padding-right: 0;
                height: 40px;
                border-right: none;
                border-color: #a9b2bd;

                &:focus {
                    outline: none;
                    border-color: #a9b2bd !important;
                    border-right: none;
                }

                &:hover {
                    border-right: none;
                }
            }

            button {
                height: 40px;
                border-left: none;
                background: white;
                color: #ccd1d9;
                border: 1px solid #a9b2bd;
                border-left: none;
                @include border-radius(0px);

                &:hover {
                    background-color: white !important;

                    i {
                        color: $secondary-color-kyna;
                    }
                }

                &.search-button:focus {
                    outline: none;
                }
            }
        }
    }

    .k-header-info {
        padding-right: 0;

        .borderradius {
            a {
                border-radius: 3px;
            }
        }

        li {
            display: inline-block;
            float: left;
            margin-right: 15px;

            &.hotline {
                margin-right: 5px !important;
                margin-left: -3px !important;
                padding-top: 2px;
                line-height: initial;
            }

            .dropdown-menu {
                margin-top: 0;

                li {
                    margin-right: 0;
                    width: 100%;
                }
                /*
                &:after {
                    @extend .font-awesome;
                    @extend .extend-icon-font-awesome;
                    right: 55px;
                    top: -22px;
                }
                */
            }
        }
        .button-cod {
            margin: 0;
            @media(max-width: 425px){
                left: 10px;
                position: absolute;
                bottom: 10px;
                height: auto;
                width: calc(50% - 15px);
            }
            .btn-cod-active {
                padding: 0 6px;
                line-height: 34px;
                border: 2px solid #ff7818;
                color: #ff7818;
                background-color: rgba(0, 0, 0, 0);
                &:hover {
                    color: #fff;
                    background-color: #ff7818;
                }
                @media(max-width: 425px){
                    width: 100%;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
        .hotline {
            span {
                display: block;
            }

            .text {
                font-weight: 500;
                text-transform: uppercase;
            }

            .number {
                font-weight: 500;
                color: $color-link;
            }
        }

        .cart {
            .dropdown-toggle {
                /*
                @extend .extend-icon-font-fontastic;
                */
                @include icon-main();
                position: relative;
                width: 35px;
                height: 55px;
                background-position: -56px -6918px;
                display: block;
                @media (max-width: 991px) {
                    margin-right: 12px;
                }
                @media(max-width: 576px){
                    margin-top: 10px;
                    margin-right: 50px;
                    background-image: url('../../src/img/iconcartcheckoutmobile.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top;
                    width: 25px;
                    height: 25px;
                    top: 6px;
                }

                &:hover {
                    background-position: -56px -7067px;
                }

                &:after {
                    display: none;
                }
                /*
                &:before {
                    content: "\52";
                        font-size: 36px;
                        width: 37px;
                        height: 37px;
                        text-align: center;
                }
                */

                img{
                    display: none;
                }

                .count-number {
                    @include count-number();
                    right: -25px;
                    position: absolute;
                    top: 0;
                    right: -8px;
                }
            }

            #k-header-form-cart {
                margin: 0;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;

                .empty-cart {
                    text-align: center;
                    padding-top: 20px;
                    margin-bottom: 0;
                }

                .user-info-form {
                    padding: 15px;
                    display: none; // tam thoi an de lai thong tin cho chung toi (khi user chua dang nhap) hien thi tren icon cart
                }

                &:before {
                    display: none;
                }

                .form-group {
                    &.phone {
                        padding-right: 0;
                        padding-left: 3px;
                    }

                    input {
                        padding: 5px 5px 5px 40px;
                    }
                }
            }

            .wrap {
                @include default-shadow();
                min-width: 360px;
                left: -150px;
                padding: 0;
                border: none;
                @include border-radius(4px);

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0 -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    left: 165px;
                    top: -13px;
                    color: white;
                    z-index: 10;
                }
            }

            .wrap-form-cart {
                .list {
                    display: inline-block;
                    padding: 0;
                    margin-bottom: 0;
                    width: 100%;
                    max-height: 281px;
                    overflow-y: auto;

                    .text {
                        padding: 0;
                        border-top: none;
                    }

                    li {
                        display: inline-block;
                        float: left;
                        width: 100%;
                    }

                    a {
                        @include link-color($color-body);
                        font-size: 14px;
                        border-bottom: 1px solid $gray-lighter;
                        padding: 10px 20px;
                        display: inline-block;
                        width: 100%;
                    }

                    .price {
                        color: $primary-color-price;
                        font-weight: 400;
                        font-size: 15px;
                        display: block;
                    }
                }

                .wrap-total {
                    @include display-flex();
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 15px;

                    a {
                        color: #50ad4e;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: bold !important;

                        span {
                            text-decoration: underline !important;
                        }

                        &:hover {
                            color: darken(#50ad4e, 5%);
                        }
                    }

                    h6 {
                        text-align: right;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 0;
                        // padding: 10px 20px 10px 10px;
                        // margin: 0px 0px 15px 0px;
                    }
                }

                .button-wrap {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .btn-payment {
                    @include border-radius(4px);
                    display: block;
                    width: 100%;
                    background: $primary-color-price;
                    border-bottom: 3px solid darken($primary-color-price, 5%);
                    height: 35px;
                    line-height: 33px;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    font-size: 14px;
                    padding: 0;

                    &:hover {
                        background: darken($primary-color-price, 5%);
                    }
                }
                // .button {
                //     display: inline-block;
                //     width: 100%;
                //     padding-bottom: 10px;
                //     li {
                //         float: left;
                //         width: 50%;
                //         text-align: center;
                //         display: table-cell;
                //         padding-top: 0px;
                //         position: relative;
                //         top: -8px;
                //         font-size: $base-font-size;
                //         line-height: 20px;
                //         margin-right: 0px;
                //         a {
                //             @include border-radius(3px);
                //         }
                //         .btn-view {
                //             @include button-color(darken($gray-lighter, 25%));
                //         }
                //         .btn-payment {
                //             @include button-color(map-get($colors, green));
                //         }
                //     }
                //
                // }
            }
            @media (min-width: 768px) {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
        }

        .news {
            .cart_anchor {
                //@include icon-main();
                background-image: url("../../dist/img/icon-header.png");
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                width: 45px;
                height: 35px;
                //background-position: -56px -7770px;
                display: block;
                /*
                -webkit-animation: zoom-bell 3s infinite;
                -moz-animation: zoom-bell 3s infinite;
                -ms-animation: zoom-bell 3s infinite;
                -o-animation: zoom-bell 3s infinite;
                animation: zoom-bell 3s infinite;
                */
                /*&:hover {
                    background-position: -56px -7214px;
                }*/
                &:after {
                    display: none;
                }

                .count-number {
                    right: -15px;
                    @include count-number();
                }
            }

            .wrap {
                @include default-shadow();
                min-width: 360px;
                right: -50px;
                left: initial;
                padding: 0;
                border: none;
                top: calc(100% + 16px);

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0 -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -15px;
                    color: white;
                }

                .inner {
                    ul {
                        display: inline-block;

                        li {
                            width: 100%;

                            a {
                                @extend .header-text-main;

                                &:hover {
                                    color: $secondary-color-kyna;
                                }
                            }

                            &:last-child {
                                a {
                                    border-bottom: none;
                                }
                            }

                            &:first-child {
                                color: #272727;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
        }

        .account {
            float: right;
            margin-right: 0;
            text-align: right;
            @media(max-width: 425px){
                margin: 0;
                position: absolute;
                right: 10px;
                bottom: 10px;
                height: auto;
                width: calc(50% - 15px);
            }
            .dropdown-toggle {
                padding: 0;
                display: inline-block;
            }

            .dropdown-toggle-profile {
                background: map-get($colors, green);
                color: white;
                height: 40px;
                line-height: 40px;
                padding: 0 15px;
                display: inline-block;
                text-align: center;
                @media(max-width: 425px){
                    width: 100%;
                    font-size: 15px;
                    font-weight: 700;
                }
                .sub-wrap {
                    padding: 0;

                    i {
                        font-size: 10px;
                    }
                }
            }

            img {
                border-radius: 50%;
                width: 37px;
                height: 37px;
                float: left;
                margin-right: 10px;
                display: inline-block;
                @media (max-width: 991px) {
                    display: none;
                }
            }

            .dropdown-menu {
                &:after {
                    display: none;
                }
                min-width: 250px;
            }
            @media (min-width: 768px) {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }

            .dropdown-user {
                @extend .header-box-right;
                width: 300px !important;
                padding: 10px 0 !important;

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0 -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -13px;
                    color: white;
                    z-index: 10;
                }

                .inner {
                    li {
                        position: relative;
                        /*
                        &:nth-child(3) {
                            border-bottom: 1px solid #ddd;
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:nth-child(4) {
                            a {
                                padding-top: 20px;
                            }
                        }
                        &:nth-child(5) {
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:last-child {
                            border-top: 1px solid #ddd;
                        }
                        */
                        a {
                            @extend .header-text-main;
                            padding: 13px 23px 13px 63px;
                            border-bottom: none;

                            .icon {
                                @extend .background-icon-main;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 50px;
                                height: 41px;
                            }

                            .profile-my-courses {
                                background-position: -35px -6989px;
                            }

                            .profile-my-wishlist {
                                background-position: -35px -7502px;
                            }

                            .profile-purchase {
                                background-position: -35px -7844px;
                            }

                            .profile-editinfo {
                                background-position: -35px -7977px;
                            }

                            .profile-activation-code {
                                background-position: -35px -7694px;
                            }

                            .profile-logout {
                                i {
                                    color: $gray-dark;
                                    font-size: 22px;
                                    text-align: center;
                                    position: relative;
                                    left: 10px;
                                    top: 2px;
                                    line-height: 1.71429;
                                }
                            }

                            .fa-trophy {
                                font-size: 25px;
                                top: 11px;
                                left: 20px;
                            }

                            &:hover {
                                color: $secondary-color-kyna;

                                .profile-my-courses {
                                    background-position: -35px -7138px;
                                }

                                .profile-my-wishlist {
                                    background-position: -35px -7354px;
                                }

                                .profile-purchase {
                                    background-position: -35px -7429px;
                                }

                                .profile-editinfo {
                                    background-position: -35px -7285px;
                                }

                                .profile-activation-code {
                                    background-position: -35px -7570px;
                                }

                                .profile-logout {
                                    i {
                                        color: map-get($colors, green);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .dropdown-login {
                min-width: 300px;
                right: 0;
                left: initial;
                padding: 0;
                border: none;
                background: $gray-dark;
                padding: 20px 30px;
                color: white;
                @include border-radius(0px);

                li {
                    margin: 6px 0;

                    h4 {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 25px;
                    }

                    .button-facebook {
                        @extend .header-button-social;
                        background: $primary-color-social-facebook;
                        border-bottom: 2px solid $secondary-color-social-facebook;

                        &:hover {
                            background: $secondary-color-social-facebook;
                            border-bottom: 2px solid $last-color-social-facebook;
                        }
                    }

                    .button-google {
                        @extend .header-button-social;
                        background: $primary-color-social-google;
                        border-bottom: 2px solid $secondary-color-social-google;

                        &:hover {
                            background: $secondary-color-social-google;
                            border-bottom: 2px solid $last-color-social-google;
                        }
                    }

                    .button-login {
                        @extend .header-button-social;
                        background: $primary-color-kyna;
                        border-bottom: 2px solid $secondary-color-kyna;

                        &:hover {
                            background: $secondary-color-kyna;
                            border-bottom: 2px solid $last-color-kyna;
                        }
                    }

                    .button-register {
                        @extend .header-button-social;
                        color: #373737 !important;
                        background: $primary-color-social-register;
                        border-bottom: 2px solid $secondary-color-social-register;

                        &:hover {
                            background: $secondary-color-social-register;
                            border-bottom: 2px solid $last-color-social-register;
                        }
                    }
                }
            }

            .sub-wrap {
                display: inline-block;
                padding-left: 37px;
                @media (max-width: 991px) {
                    padding-left: 0;
                }

                .text {
                    float: right;
                }

                .user {
                    display: inline-block;
                    font-size: 14px;
                    color: #4a4a4a;
                    line-height: 20px;
                    &.nowrap {
                        width: 103px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 1;
                    }
                }

                .title {
                    display: block;
                    color: #212121;
                    font-size: 12px;
                    padding-right: 15px;
                    line-height: 1;
                }
            }

            a {
                &:after {
                    position: absolute;
                    right: -3px;
                    bottom: 15px;
                    color: #4a4a4a;
                }

                &:hover {
                    .user {
                        color: $secondary-color-kyna;
                    }

                    &:after {
                        color: $secondary-color-kyna;
                    }
                }
            }

            &.dropdown:hover .dropdown-login {
                display: block;
            }
        }

        .login-signup {
            margin-left: 7px;
            margin-right: 0;

            a {
                display: inline-block;
                height: 38px;
                width: 100px;
                text-align: center;
                @include border-radius(4px);

                &.button-login {
                    background: #fff;
                    color: #50ad4e;
                    line-height: 36px;
                    border: 2px solid #50ad4e;

                    &:hover {
                        background: #50ad4e;
                        color: #fff;
                    }
                }

                &.button-register {
                    line-height: 38px;
                    position: relative;
                    background: #50ad4e;
                    color: #fff;
                    top: -1px;
                    border-bottom: 2px solid darken(#50ad4e, 10%);
                    margin-left: 5px;

                    &:hover {
                        background: darken(#50ad4e, 10%);
                    }
                }
            }
        }
        &.mob {
            .button-cod {
                .btn-cod-active {
                    line-height: 36px;
                }
            }
            .account {
                margin-left: 10px;
            }
        }
    }
}

#user-info-form {
    ul {
        display: inline-block;
        width: 100%;
    }
}

/* POPUP LOGIN */
.popup-form-header {
    .modal-dialog {
        @extend .header-modal-dialog;

        .modal-content {
            @extend .header-modal-content;

            .modal-body {
                @extend .header-modal-body;

                .close-popup {
                    top: -15px;
                    position: relative;
                    right: 10px;
                    color: #000;
                    opacity: 0.5;
                }

                .social {
                    text-align: center;
                    padding: 10px 0;

                    li {
                        margin-top: 10px;

                        a {
                            padding: 10px 20px;
                            color: white;
                            @extend .main-border-radius;
                            display: inline-block;
                            background: $primary-color-social-facebook;
                            border-bottom: 2px solid $secondary-color-social-facebook;

                            &:hover {
                                background: $secondary-color-social-facebook;
                                border-bottom: 2px solid $last-color-social-facebook;
                            }
                        }
                    }
                }

                form {
                    padding: 0 20px;

                    input {
                        padding-left: 35px;
                        height: 40px;
                        @extend .main-border-radius;
                    }

                    .form-group {
                        position: relative;

                        .icon {
                            position: absolute;
                            left: 10px;
                            top: 7px;
                            font-size: 17px;
                            width: 20px;
                            text-align: center;
                            color: #888;
                        }
                    }

                    .button-submit {
                        text-align: center;
                        margin-bottom: 15px;

                        button {
                            border-bottom: 2px solid $secondary-color-kyna;
                            background: $primary-color-kyna;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            color: white;
                            display: inline-block;
                            width: 70%;
                            height: 45px;
                            @extend .main-border-radius;

                            &:hover {
                                border-bottom: 2px solid $last-color-kyna;
                                background: $secondary-color-kyna;
                            }
                        }
                    }
                }

                .forgot-pass {
                    color: #272727;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    text-decoration: underline;
                }

                .box-footer {
                    padding: 15px 20px;
                    margin-bottom: 0;
                    margin-top: 15px;
                    background: #dddddd;
                    display: table;
                    width: 100%;

                    li {
                        display: table-cell;
                        color: black;

                        &:last-child {
                            text-align: right;

                            a {
                                background: white;
                                border-bottom: 2px solid #CCCACA;
                                padding: 8px 25px;
                                display: inline-block;
                                @extend .main-border-radius;
                                color: black;

                                &:hover {
                                    background: $primary-color-kyna;
                                    border-bottom: 2px solid $secondary-color-kyna;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .k-header-wrap {
        .nav-link {
            font-size: 13px;
        }

        .hotline {
            display: none !important;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .k-header-wrap {
        .navbar-brand {
            top: 0;
        }

        .nav-mb {
            i {
                font-size: 28px;
            }
            display: block !important;
            text-align: center;
            width: 55px;
            font-size: 20px;
            color: #353535;
            line-height: 35px;
        }

        .nav-link {
            display: none !important;
        }

        .navbar-brand.logo {
            padding: 0;
            left: 0;
        }

        .k-header-info {
            padding-right: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .k-header-wrap {
        .k-header-info {
            width: auto !important;
            padding-right: 0;
            left: initial !important;
            right: 0;
            position: absolute;

            .container {
                position: relative;
            }
        }

        .k-header-search {
            position: relative;
            left: -35px;
            width: 41%;
            padding: 0 30px 0 15px;
        }

        .container {
            position: relative;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .k-header-wrap {
        position: relative;
        .navbar-brand {
            width: 20%;
            padding: 0;
        }

        .k-header-menu {
            width: 10%;
        }

        .k-header-info {
            width: 25%;
            left: 40%;

            li {
                margin-right: 0 !important;
            }
        }

        .k-header-search {
            width: 27%;
            right: 25%;
        }

        .nav-mb {
            left: -12px;
            position: relative;
        }
    }
}

@media (min-width: 991px) {
    .k-header-wrap {
        .k-header-info {
            .account {
                width: 200px;
            }
            &.mob {
                .account {
                    width: 100px;
                }
            }
        }
    }
}



@media (max-width: 991px) {
    .k-header-wrap {
        .navbar-brand {
            img {
                height: 40px;
                //margin: 5px auto;
            }
        }

        .nav-mb {
            display: block !important;
            text-align: center;
            width: 55px;
            font-size: 20px;
            color: $gray-dark;
            line-height: 35px;

            i {
                font-size: 28px;
            }
        }

        .nav-link {
            display: none !important;
        }
        //        .account {
        //            .dropdown-toggle {
        //                @include fontastic-icon();
        //                color: $gray-dark;
        //                &:before {
        //                    content: "\69";
        //                    font-size: 36px;
        //                    width: 37px;
        //                    height: 37px;
        //                    text-align: center;
        //                }
        //                img {
        //                    display: none;
        //                }
        //            }
        //            .dropdown-toggle-profile {
        //                @include fontastic-icon();
        //                background: none !important;
        //                color: $gray-dark !important;
        //                &:before {
        //                    content: "\69";
        //                    font-size: 36px;
        //                    width: 37px;
        //                    height: 37px;
        //                    text-align: center;
        //                }
        //            }
        //        }
    }

    .breadcrumb-container {
        display: none;
    }
}

@media (min-width: 768px) {
    .k-header-search {
        .input-group-btn {
            button {
                .mob {
                    display: none;
                }
            }
        }

        .nav-link {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .k-header-wrap {
        
        // top: 39px;
        padding: 0 !important;
        position: relative;
        margin-top: 0 !important;
        margin-bottom: 0px !important;
        z-index: 30;
        .k-listing-content {
            margin-top: 10px;
            padding-top: 15px;
        }

        .container {
            top: 0;
        }

        .nav-item {
            position: absolute;
            top: 12px;
        }

        .nav-mb {
            background: none;
            padding: 5px 10px;
            position: relative;
            top: -15px;
            left: 15px;
            @media(max-width: 576px){
                top: -24px;
                left: 30px;
            }
            i {
                font-size: 24px;
            }
        }

        .k-header-menu {
            position: absolute;
            left: 0;
        }

        .k-header-info {
            position: absolute;
            right: 0;
            margin: 0;
            height: 60px;
            box-shadow: 0 8px 6px -6px #eeeeee;

            .news {
                display: none;
            }

            .cart {
                .dropdown-toggle {
                    // background-position: -56px -6907px;
                    // background-image: none;

                    &:hover {
                        // background-position: -56px -7056px;
                    }
                    img{
                        // width: 36px;
                        // margin-top: 12px;
                        // display: block;
                    }
                    .count-number {
                        top: -4px;
                        border: 2px solid;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }

            li {
                float: right;
                margin-left: 7px;
                margin-right: 7px;
                height: 100%;

                &.account {
                    margin-top: 10px;
                }
            }
        }

        .navbar-brand {
            width: 100%;
            padding-top: 12px;
            height: 60px;
            top: 0;

            img {
                float: left;
                margin-left: 50px;
            }
        }

        .k-header-search {
            position: absolute;
            top: 60px;
            left: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            background-color: $gray-lighter;

            .input-group {
                border-radius: 5px;

                &:before {
                    content: "\30";
                    font-family: "fontastic-icon" !important;
                    position: absolute;
                    line-height: 40px;
                    left: 15px;
                }
            }

            input {
                padding-left: 40px;
            }

            .input-group-btn {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 60px !important;
                text-align: right;
                padding: 0;
                z-index: 10;

                &:focus {
                    outline: none;
                }

                button {
                    height: 38px;
                    border: 0;
                    background-color: map-get($color-brands, kyna);
                    padding: 0 15px;
                    color: white;
                    position: absolute;
                    right: 0;

                    i:before {
                        content: none;
                    }

                    &:active,
                    &:hover {
                        background-color: darken(map-get($color-brands, kyna), 5%) !important;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        form {
            display: inline-block;
            width: 100%;

            .input-group-btn {
                width: 40px !important;
            }

            .input-group {
                background: white;

                input {
                    border: 1px solid #a9b2bd;
                    border-radius: 3px 0 0 3px;
                }

                button {
                    background: #50ad4e;
                    color: white;
                    border: none;

                    &:hover {
                        background: #389a36 !important;

                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .open > .dropdown-menu {
        display: none;
    }
}

@media (max-width: 543px) {
    .k-header-wrap {
        .navbar-brand {
            img {
                margin-left: auto;
            }
        }

        .k-header-search {
            // background-color: #e8e8e8;
            padding: 0;
            width: auto;
            left: auto;
            right: 5px;
            top: 9px;
            background: transparent;
            .k-menu-list-course {
                padding-right: 0;
            }

            .k-menu-list-course {
                width: calc(100% - 55px);
                display: none;
            }

            .k-button-search-course {
                width: 55px;
            }

            .nav-link {
                display: block !important;
                // background-color: white;
                color: black;
                border: 1px solid #a9b2bd;
                border-radius: 3px;
                font-size: 14px;

                &#k-button-search-course-mb{
                    // background-color: #50ad4e;
                    border: none;
                    border-radius: 99px;
                    width: 40px;
                    background: transparent;
                    span{
                        display: none;
                    }
                }

                span {
                    top: 0;
                }

                .icon {
                    font-size: 20px;
                    color: black;
                    &.icon-search{
                        // color: white;
                    }
                }
            }

            #search-form {
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                overflow: scroll;
                top: 0;
                left: 0;
                background-color: #ffffff;
                opacity: 0;
                .input-group {
                    border: 1px solid #50ad4e;

                    input {
                        border: none;

                        &:focus {
                            border: none !important;
                        }
                    }

                    .input-group-btn {
                        display: none;
                    }

                    button.icon-search {
                        position: absolute;
                        line-height: 0;
                        font-size: 20px;
                        background: none;
                        color: black;
                        padding: 0 10px;
                        z-index: 4;

                        &:hover {
                            background: none !important;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    &:after,
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border: 7px solid transparent;
                        position: absolute;
                        left: 80%;
                        top: -20px;
                        border-bottom: 13px solid #50ad4e;
                    }

                    .open > .dropdown-menu {
                        display: none;
                    }
                }
                @media (max-width: 543px) {
                    .k-header-wrap {
                        .navbar-brand {
                            img {
                                margin-left: auto;
                            }
                        }

                        .k-header-search {
                            background-color: #e8e8e8;
                            padding-left: 0;
                            padding-right: 0;

                            .k-menu-list-course {
                                padding-right: 0;
                            }

                            .nav-link {
                                display: block !important;
                                background: white;
                                color: black;
                                border: 1px solid #a9b2bd;
                                border-radius: 3px;
                                font-size: 16px;

                                .icon {
                                    font-size: 20px;
                                    color: black;
                                }
                            }

                            #search-form {
                                display: none;
                                position: absolute;
                                width: 100%;
                                top: 70px;

                                .input-group {
                                    border: 1px solid #50ad4e;

                                    input {
                                        border: none;

                                        &:focus {
                                            border: none !important;
                                        }
                                    }

                                    .input-group-btn {
                                        display: none;
                                    }

                                    button.icon-search {
                                        position: absolute;
                                        line-height: 0;
                                        font-size: 20px;
                                        background: none;
                                        color: black;
                                        padding: 0 10px;
                                        z-index: 4;

                                        &:hover {
                                            background: none !important;
                                        }

                                        &:focus {
                                            outline: none;
                                        }
                                    }

                                    &:after,
                                    &:before {
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border: 7px solid transparent;
                                        position: absolute;
                                        left: 80%;
                                        top: -20px;
                                        border-bottom: 13px solid #50ad4e;
                                    }

                                    &:after {
                                        top: -19px;
                                        border-bottom: 13px solid white;
                                    }

                                    .k-close-search-popup {
                                        position: absolute;
                                        right: 0;
                                        padding-right: 10px;
                                        line-height: 40px;
                                        z-index: 4;

                                        svg {
                                            fill: #a8a8a8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 576px){
    .k-header-info{
        width: 100%;
        margin-top: 60px !important;
        background-color: #ffffff;
        .cart{
            margin-top: -60px;
        }
    }
}
@media(max-width: 576px){
    .sticky-top-mb {
        position: fixed;
        width: 100%;
        .k-header-info{
            background-color: transparent;
            box-shadow: none;

        }
        .button-cod{
            display: none !important;
        }
        .account{
            display: none !important;
        }


    }
    #nav-mobile-search{

        .k-header-offpage-menu{
            background-color: #50ad4e;
            padding: 20px 0;
            h2{
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .offpage-close{
                top: 50%;
                -ms-transform: translateY(-50%); /* IE 9 */
                -webkit-transform: translateY(-50%); /* Safari */
                transform: translateY(-50%);
                right: auto;
                left: 25px;
                color: #ffffff;
            }
        }
        .content{
            padding: 65px 30px;
            .input-group{
                width: 100%;
            }
            input{
                margin: 20px 0;
                width: 100%;
                padding: 10px 20px 5px 20px;
                border-radius: 20px;
                border: 1px solid #dddddd;
                outline: none;
            }
            input::placeholder{
                font-style: italic;
                color: #dddddd;
            }
            i{
                position: absolute;
                right: 20px;
                top: 30px;
                color: #50ad4e;
                z-index: 3;
            }
            p{
                font-size: 15px;
            }
        }
    }
    #nav-filter-search{

        .k-header-offpage-menu{
            background-color: #50ad4e;
            padding: 20px 0;
            h2{
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .offpage-close{
                top: 50%;
                -ms-transform: translateY(-50%); /* IE 9 */
                -webkit-transform: translateY(-50%); /* Safari */
                transform: translateY(-50%);
                right: auto;
                left: 25px;
                color: #ffffff;
            }
        }
        .content{
            #filter-form{
                padding: 80px 25px;
                .k-listing-characteristics{
                    background-color: transparent;
                    border-bottom: 1px solid #dddddd;
                    box-shadow: none;
                    h3{
                        color: #50ad4e;
                        font-size: 16px;
                        font-weight: 700;
                        border: none;
                        padding-top: 5px;
                        padding-left: 27px;
                        padding-bottom: 10px;
                    }
                    .k-listing-characteristics-list{
                        padding: 0;
                        margin-bottom: 0;
                        padding-bottom: 10px;
                        li{
                            label{
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }

                }
                .k-listing-characteristics:nth-child(3){
                  border: none;
                }
                .group-price-facet{
                  #mobile_filter_reset{
                    width: calc(50% - 5px);
                      background-color: #ffffff;
                      border: 2px solid #50ad4e;
                      color: #50ad4e;
                      font-size: 16px;
                      font-weight: 700;
                  }
                  .btn-submit{
                    width: calc(50% - 5px);
                    float: right;
                      color: #ffffff;
                      font-size: 16px;
                      font-weight: 700;
                      background-color: #50ad4e;
                  }
                }
            }
        }

    }

}


//    content: "";
//    width: 0px;
//    height: 0px;
//    border: 0.8em solid transparent;
//    position: absolute;
//    right: 0%;
//    top: -20px;
//    border-bottom: 10px solid #444;
/* New Css For See-more on Menu Class k-header-menu */
/*.k-header-menu {
.nav-wrap {
    &.open{
        ul.dropdown-menu {
            height: 320px;
            overflow: hidden;
            li.see-more{
                text-align: center;
                position: absolute;
                bottom: 0;
                background: white;
                width: 100%;
                margin: 0;
                left: 0;
                border-top: 1px solid $gray-light;
                cursor: pointer;
                color: map-get($color-brands, kyna);
            }
            &.see-more{
                //height: 380px;
                overflow: overlay;
                &::-webkit-scrollbar {
                    width: 12px;
                }
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                }
                li.see-more{
                    bottom: auto;
                }
            }
        }
    }
}
}*/
#topbar {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;

    img {
        width: 100%;
        height: auto;

        &.img-lg {
            display: none;
        }
        @media (min-width: 768px) {
            &.img-sm {
                display: none;
            }

            &.img-lg {
                display: block;
            }
        }
    }
}
#sub-name-mobile{
    @media(max-width: 576px){
        bottom: 5px;
        position: relative;
    }
}
#name-mobile{
    display: none;
    @media(max-width: 576px){
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        font-size: 12px;
        color: #ffffff;
        font-weight: 500;
        width: 145px;
        overflow: hidden;
        height: 20px;
    }
}

#name-tag-mobile{
    display: none;
    @media(max-width: 576px){
        display: block;
        position: absolute;
            bottom: -28px;
    left: -7px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        width: 70px;
}
    }

#tag-search-mobile{
    width: 50%;
    float: left;
    text-align: center;
    .box{
        background: #a9b2bd;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        span{
            color: #ffffff;
            font-weight: 700;
            font-size: 15px;
        }
    }
}
