.k-checkout-header {
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
    .k-checkout-hotline {
        text-align: right;
        ul {
            display: inline-block;
            text-align: left;
            li {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                &:first-child {
                    color: $color-body;                
                }
                &:last-child {
                    color: $color-link;                
                }
            }
        }
    }
}