.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.nav > li > a:hover, .nav > li > a:focus{
    background: none;
    outline: none;
}

@-webkit-keyframes zoom-bell{
    0%,100%{
        background-size: 32px 32px;
    }
    50%{
        background-size: 35px 35px;
    }
}
@keyframes zoom{
    0%, 100%{
        background-size: 32px 32px;
    }
    50%{
        background-size: 35px 35px;
    }
}
@media (min-width: 768px){
    .k-height-header{
        margin-top: 67px;
    }
}
.k-header-wrap {
    @include default-shadow();
    background: white;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 10;
    width: 100%;
    padding: 12px 0px 0px 0px;
    .navbar-brand {
        margin-right: 0px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        img {
            max-width: 100%;
        }
        &.logo {
            position: relative;
            top: -6px;
            left: -15px;
        }
    }
    .k-header-menu {
        @media (min-width: 992px)
            {
            &:hover .dropdown-menu{
                display: block;
            }
        }
        .nav-wrap {
            height: 55px;
            display: block;
            .dropdown-menu {
                @include default-shadow();
                min-width: 768px !important;
                padding: 25px 20px 15px 20px;
                margin: 0px;
                font-size: 16px;
                -webkit-column-count: 3;
                   -moz-column-count: 3;
                        column-count: 3;
                li {
                    margin-bottom: 20px;
                    a {
                        @include link-color($color-body);
                        @include icon-main();
                        padding-left: 35px;
                        height: 30px;
                        line-height: 30px;
                        width: 100%;
                    }

                    /* Change nChild to Class 'icon' */

                    /*
                    &.khuyen-mai-nhom-khoa-hoc {
                        a {
                            background-position: -50px -10023px;
                        }
                    }
                    &.nuoi-day-con {
                        a {
                            background-position: -50px -10471px;
                        }
                    }

                    &.kham-pha-ban-than {
                        a {
                            background-position: -50px -10625px;
                        }
                    }
                    &.nghe-thuat-va-ngoai-ngu {
                        a {
                            background-position: -50px -10703px;
                        }
                    }

                    &.see-more {
                        a {
                            background-position: -50px -9947px;
                        }
                    }
                    &.khuyen-mai-nhom-khoa-hoc {
                        a {
                            background-position: -50px -10025px;
                        }
                    }
                    &.kinh-doanh {
                        a {
                            background-position: -50px -10099px;
                        }
                    }
                    &.marketing-truyen-thong {
                        a {
                            background-position: -50px -10172px;
                        }
                    }
                    &.ky-nang-cho-cong-viec {
                        a {
                            background-position: -50px -10250px;
                        }
                    }
                    &.ngoai-ngu {
                        a {
                            background-position: -50px -10851px;
                        }
                    }
                    &.thiet-ke-do-hoa-va-video {
                        a {
                            background-position: -50px -10703px;
                        }
                    }
                    &.it-va-lap-trinh {
                        a {
                            background-position: -50px -10394px;
                        }
                    }
                    &.phu-nu-va-gia-dinh {
                        a {
                            background-position: -50px -10549px;
                        }
                    }
                    &.phat-trien-ca-nhan {
                        a {
                            background-position: -50px -10625px;
                        }
                    }
                    &.nghe-thuat-va-doi-song {
                        a {
                            background-position: -50px -10703px;
                        }
                    }
                    &.luyen-thi {
                        a {
                            background-position: -50px -10779px;
                        }
                    }
                    &.ke-toan-tai-chinh-dau-tu {
                        a {
                            background-position: -50px -10099px;
                        }
                    }
                    &.vi-tinh-van-phong {
                        a {
                            background-position: -50px -10321px;
                        }
                    }
                    */

                    &.see-more {
                        a {
                            background-position: -49px -11952px;
                        }
                    }
                    &.khuyen-mai-nhom-khoa-hoc {
                        a {
                            background-position: -49px -12020px;
                        }
                    }
                    &.phat-trien-ca-nhan {
                        a {
                            background-position: -49px -12563px;
                        }
                    }
                    &.kinh-doanh {
                        a {
                            background-position: -49px -12088px;
                        }
                    }
                    &.nuoi-day-con {
                        a {
                            background-position: -49px -12428px;
                        }
                    }
                    &.it-va-lap-trinh {
                        a {
                            background-position: -49px -12360px;
                        }
                    }
                    &.marketing-truyen-thong {
                        a {
                            background-position: -49px -12156px;
                        }
                    }
                    &.ky-nang-cho-cong-viec {
                        a {
                            background-position: -49px -12224px;
                        }
                    }
                    &.ngoai-ngu {
                        a {
                            background-position: -49px -12700px;
                        }
                    }
                    &.thiet-ke-do-hoa-va-video {
                        a {
                            background-position: -49px -12632px;
                        }
                    }
                    &.phu-nu-va-gia-dinh {
                        a {
                            background-position: -49px -12496px;
                        }
                    }
                    &.nghe-thuat-va-doi-song {
                        a {
                            background-position: -49px -12632px;
                        }
                    }
                    &.luyen-thi {
                        a {
                            background-position: -49px -12700px;
                        }
                    }
                    &.vi-tinh-van-phong {
                        a {
                            background-position: -49px -12291px;
                        }
                    }
                    &.ke-toan-tai-chinh-dau-tu {
                        a {
                            background-position: -49px -12088px;
                        }
                    }

                    /*&:nth-child(1) {
                        a {
                            background-position: -50px -10025px;
                        }
                    }
                    &:nth-child(2) {
                        a {
                            background-position: -50px -10095px;
                        }
                    }
                    &:nth-child(3) {
                        a {
                            background-position: -50px -10170px;
                        }
                    }
                    &:nth-child(4) {
                        a {
                            background-position: -50px -10247px;
                        }
                    }
                    &:nth-child(5) {
                        a {
                            background-position: -50px -10321px;
                        }
                    }
                    &:nth-child(6) {
                        a {
                            background-position: -50px -10394px;
                        }
                    }
                    &:nth-child(7) {
                        a {
                            background-position: -50px -10471px;
                        }
                    }
                    &:nth-child(8) {
                        a {
                            background-position: -50px -10547px;
                        }
                    }
                    &:nth-child(9) {
                        a {
                            background-position: -50px -10625px;
                        }
                    }
                    &:nth-child(10) {
                        a {
                            background-position: -50px -10703px;
                        }
                    }
                    &:nth-child(11) {
                        a {
                            background-position: -50px -10775px;
                        }
                    }
                    &:nth-child(12) {
                        a {
                            background-position: -50px -10850px;
                        }
                    }
                    &:nth-child(13) {
                        a {
                            background-position: -50px -9947px;
                        }
                    }*/
                }

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0px -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    left: 55px;
                    top: -13px;
                    color: white;
                }
                /*
                &:after {
                    @extend .font-awesome;
                    @extend .extend-icon-font-awesome;
                    left: 55px;
                    top: -22px;
                }
                */
            }
        }
    }
    .nav-item {
        width: 100%;
    }
    .nav-link {
        background: $gray-lighter;
        padding: 5px 10px;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 25px;
        span {
            margin-left: 0px;
            margin-top: 0px;
            position: relative;
            top: 1px;
        }
    }
    .nav-mb {
        display: none !important;
        height: 40px;
        line-height: 25px;
    }
    form {
        .input-group {
            width: 100%;
            input {
                @include border-radius(0px);
                background: transparent;
                box-shadow: none;
                font-size: 14px;
                height: 40px;
                border-right: none;
                border-color: #a9b2bd;
                &:focus {
                    outline: none;
                    border-color: #a9b2bd !important;
                    border-right: none;
                }
                &:hover {
                    border-right: none;
                }
            }
            button {
                height: 40px;
                border-left: none;
                background: white;
                color: #ccd1d9;
                border: 1px solid #a9b2bd;
                border-left: none;
                @include border-radius(0px);
                &:hover{
                    background-color: white !important;
                    i {
                        color: $secondary-color-kyna
                    }
                }
                &.search-button:focus{
                    outline: none;
                }
            }

        }
    }
    .k-header-info {
        .borderradius{
            a{
                border-radius: 3px;
            }
        }
        li {
            display: inline-block;
            float: left;
            margin-right: 10px;
            .dropdown-menu {
                margin-top: 0px;
                li {
                    margin-right: 0px;
                    width: 100%;
                }
                /*
                &:after {
                    @extend .font-awesome;
                    @extend .extend-icon-font-awesome;
                    right: 55px;
                    top: -22px;
                }
                */

            }
        }
        .hotline {
            span {
                display: block;
            }
            .text {
                font-weight: 500;
                text-transform: uppercase;
            }
            .number {
                font-weight: 500;
                color: $color-link;
            }
        }
        .cart {
            .dropdown-toggle {
                /*
                @extend .extend-icon-font-fontastic;
                */
                @include icon-main();
                position: relative;
                width: 35px;
                height: 55px;
                background-position: -56px -6918px;
                display: block;
                &:hover {
                    background-position: -56px -7067px;
                }
                &:after {
                    display: none;
                }
                /*
                &:before {
                    content: "\52";
                        font-size: 36px;
                        width: 37px;
                        height: 37px;
                        text-align: center;
                }
                */
                .count-number {
                    @include count-number();
                    right: -25px;
                    position: absolute;
                    top: 0px;
                    right: -8px;
                }
            }
            #k-header-form-cart {
                margin: 0px;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                .empty-cart {
                    text-align: center;
                    padding-top: 20px;
                    margin-bottom: 0px;
                }
                .user-info-form {
                    padding: 15px;
                }
                &:before{
                    display: none;
                }
                .form-group {
                    &.phone {
                        padding-right: 0px;
                        padding-left: 3px;
                    }
                    input {
                        padding: 5px 5px 5px 40px
                    }
                }
            }
            .wrap {
                @include default-shadow();
                min-width: 360px;
                right: -50px;
                left: initial;
                padding: 0px;
                border: none;
                &:before {
                    @include fontastic-icon();
                    text-shadow: 0px -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -13px;
                    color: white;
                    z-index: 10;
                }
            }
            .wrap-form-cart {
                .list {
                    display: inline-block;
                    padding: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                    max-height: 281px;
                    overflow-y: auto;
                    .text {
                        padding: 0px;
                        border-top: none;
                    }
                    li {
                        display: inline-block;
                        float: left;
                        width: 100%;
                    }
                    a {
                        @include link-color($color-body);
                        font-size: 14px;
                        border-bottom: 1px solid $gray-lighter;
                        padding: 10px 20px;
                        display: inline-block;
                        width: 100%;
                    }
                    .price {
                        color: $primary-color-price;
                        font-weight: 400;
                        font-size: 15px;
                        display: block;
                    }
                }
                .wrap-total {
                  @include display-flex();
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px 15px;
                  a{
                    color: #50ad4e;
                    font-size: 14px;
                    font-style: italic;
                    span{
                      font-weight: bold;
                      text-decoration: underline !important;
                    }
                    &:hover{
                      color: darken(#50ad4e, 5%);
                    }
                  }
                  h6 {
                      text-align: right;
                      font-size: 14px;
                      font-weight: 400;
                      // padding: 10px 20px 10px 10px;
                      // margin: 0px 0px 15px 0px;
                  }
                }
                .btn-payment {
                   width: 100%;
                   background: $primary-color-price;
                   height: 35px;
                   line-height: 33px;
                   text-align: center;
                   color: white;
                   font-weight: bold;
                   font-size: 14px;
                   padding: 0;
                }
                // .button {
                //     display: inline-block;
                //     width: 100%;
                //     padding-bottom: 10px;
                //     li {
                //         float: left;
                //         width: 50%;
                //         text-align: center;
                //         display: table-cell;
                //         padding-top: 0px;
                //         position: relative;
                //         top: -8px;
                //         font-size: $base-font-size;
                //         line-height: 20px;
                //         margin-right: 0px;
                //         a {
                //             @include border-radius(3px);
                //         }
                //         .btn-view {
                //             @include button-color(darken($gray-lighter, 25%));
                //         }
                //     }
                //
                // }
            }
            @media (min-width: 768px){
                &:hover{
                    .dropdown-menu{
                        display: block;
                    }
                }
            }
        }
        .news {
            .cart_anchor {
                //@include icon-main();
                background-image: url(../../dist/img/icon-header.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                width: 45px;
                height: 35px;
                //background-position: -56px -7770px;
                display: block;
                /*
                -webkit-animation: zoom-bell 3s infinite;
                -moz-animation: zoom-bell 3s infinite;
                -ms-animation: zoom-bell 3s infinite;
                -o-animation: zoom-bell 3s infinite;
                animation: zoom-bell 3s infinite;
                */
                /*&:hover {
                    background-position: -56px -7214px;
                }*/
                &:after {
                    display: none;
                }
                .count-number {
                    right: -15px;
                    @include count-number();
                }
            }
            .wrap {
                @include default-shadow();
                min-width: 360px;
                right: -50px;
                left: initial;
                padding: 0px;
                border: none;
                top: calc(100% + 16px);
                &:before {
                    @include fontastic-icon();
                    text-shadow: 0px -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -15px;
                    color: white;
                }
                .inner {
                    ul {
                        display: inline-block;
                        li {
                            width: 100%;
                            a {
                                @extend .header-text-main;
                                &:hover {
                                    color: $secondary-color-kyna
                                }
                            }
                            &:last-child {
                                a {
                                    border-bottom: none;
                                }

                            }
                            &:first-child {
                                color: #272727;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                }
            }
            @media (min-width: 768px){
                &:hover{
                    .dropdown-menu{
                        display: block;
                    }
                }
            }
        }
        .account  {
            float: right;
            margin-right: 0px;
            text-align: right;
            .dropdown-toggle {
                padding: 0px;
                display: inline-block;
            }
            .dropdown-toggle-profile {
                background: map-get($colors, green);
                color: white;
                height: 40px;
                line-height: 40px;
                padding: 0px 15px;
                display: inline-block;
                text-align: center;
                .sub-wrap {
                    padding: 0px;
                    i {
                        font-size: 10px;
                    }
                }
            }
            img {
                border-radius: 50%;
                width: 37px;
                height: 37px;
                float: left;
                margin-right: 10px;
                display: inline-block;
            }
            .dropdown-menu {
                &:after {
                    display: none;
                }
                min-width: 250px;
            }
            @media (min-width: 768px){
                &:hover{
                    .dropdown-menu{
                        display: block;
                    }
                }
            }
            .dropdown-user{
                @extend .header-box-right;
                width: 300px !important;
                padding: 10px 0px !important;
                &:before {
                    @include fontastic-icon();
                    text-shadow: 0px -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -13px;
                    color: white;
                    z-index: 10;
                }
                .inner {
                    li {
                        position: relative;
                        /*
                        &:nth-child(3) {
                            border-bottom: 1px solid #ddd;
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:nth-child(4) {
                            a {
                                padding-top: 20px;
                            }
                        }
                        &:nth-child(5) {
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:last-child {
                            border-top: 1px solid #ddd;
                        }
                        */
                        a {
                            @extend .header-text-main;
                            padding: 13px 23px 13px 63px;
                            border-bottom: none;
                            .icon {
                                @extend .background-icon-main;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 50px;
                                height: 41px;
                            }
                            .profile-my-courses {
                                background-position: -35px -6989px;
                            }
                            .profile-my-wishlist {
                                background-position: -35px -7502px;
                            }
                            .profile-purchase {
                                background-position: -35px -7844px;
                            }
                            .profile-editinfo {
                                background-position: -35px -7977px;
                            }
                            .profile-activation-code {
                                background-position: -35px -7694px;
                            }
                            .profile-logout {
                                i {
                                    color: $gray-dark;
                                    font-size: 22px;
                                    text-align: center;
                                    position: relative;
                                    left: 10px;
                                    top: 2px;
                                }
                            }
                            &:hover {
                                color: $secondary-color-kyna;
                                .profile-my-courses {
                                    background-position: -35px -7138px;
                                }
                                .profile-my-wishlist {
                                    background-position: -35px -7354px;
                                }
                                .profile-purchase {
                                    background-position: -35px -7429px;
                                }
                                .profile-editinfo {
                                    background-position: -35px -7285px;
                                }
                                .profile-activation-code {
                                    background-position: -35px -7570px;
                                }
                                .profile-logout {
                                    i {
                                        color: map-get($colors, green);
                                    }
                                }
                            }

                        }

                    }
                }
            }
            .dropdown-login {
                min-width: 300px;
                right: 0px;
                left: initial;
                padding: 0px;
                border: none;
                background: $gray-dark;
                padding: 20px 30px;
                color: white;
                @include border-radius(0px);
                li {
                    margin: 6px 0px;
                    h4 {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 25px;
                    }
                    .button-facebook {
                        @extend .header-button-social;
                        background: $primary-color-social-facebook;
                        border-bottom: 2px solid $secondary-color-social-facebook;
                        &:hover {
                            background: $secondary-color-social-facebook;
                            border-bottom: 2px solid $last-color-social-facebook;
                        }
                    }
                    .button-google {
                        @extend .header-button-social;
                        background: $primary-color-social-google;
                        border-bottom: 2px solid $secondary-color-social-google;
                        &:hover {
                            background: $secondary-color-social-google;
                            border-bottom: 2px solid $last-color-social-google;
                        }
                    }
                    .button-login {
                        @extend .header-button-social;
                        background: $primary-color-kyna;
                        border-bottom: 2px solid $secondary-color-kyna;
                        &:hover {
                            background: $secondary-color-kyna;
                            border-bottom: 2px solid $last-color-kyna;
                        }
                    }
                    .button-register {
                        @extend .header-button-social;
                        color: #373737 !important;
                        background: $primary-color-social-register;
                        border-bottom: 2px solid $secondary-color-social-register;
                        &:hover {
                            background: $secondary-color-social-register;
                            border-bottom: 2px solid $last-color-social-register;
                        }
                    }
                }
            }
            .sub-wrap {
                display: inline-block;
                padding-left: 37px;
                .text {
                    float: right;
                }
                .user {
                    display: inline-block;
                    font-size: 14px;
                    color: #4a4a4a;
                    line-height: 20px;
                }
                .title {
                    display: block;
                    color: #212121;
                    font-size: 12px;
                    padding-right: 15px;
//                    width: 110px;
                }
            }
            a {
                &:after {
                    position: absolute;
                    right: -3px;
                    bottom: 15px;
                    color: #4a4a4a
                }
                &:hover {
                    .user {
                        color: $secondary-color-kyna
                    }
                    &:after {
                        color: $secondary-color-kyna
                    }

                }
            }
            &.dropdown:hover .dropdown-login{
                display: block;
            }
        }
    }
}
#user-info-form {
    ul {
        display: inline-block;
        width: 100%;
    }
}
/* POPUP LOGIN */
.popup-form-header {
    .modal-dialog {
        @extend .header-modal-dialog;
        .modal-content {
            @extend .header-modal-content;
            .modal-body {
                @extend .header-modal-body;
                .close-popup {
                    top: -15px;
                    position: relative;
                    right: 10px;
                    color: #000;
                    opacity: 0.5;
                }
                .social {
                    text-align: center;
                    padding: 10px 0px;
                    li {
                        margin-top: 10px;
                        a {
                            padding: 10px 20px;
                            color: white;
                            @extend .main-border-radius;
                            display: inline-block;
                            background: $primary-color-social-facebook;
                            border-bottom: 2px solid $secondary-color-social-facebook;
                            &:hover {
                                background: $secondary-color-social-facebook;
                                border-bottom: 2px solid $last-color-social-facebook;
                            }
                        }
                    }
                }
                form {
                    padding: 0px 20px;
                    input {
                        padding-left: 35px;
                        height: 40px;
                        @extend .main-border-radius;
                    }
                    .form-group {
                        position: relative;
                        .icon {
                            position: absolute;
                            left: 10px;
                            top: 7px;
                            font-size: 17px;
                            width: 20px;
                            text-align: center;
                            color: #888;
                        }
                    }
                    .button-submit {
                        text-align: center;
                        margin-bottom: 15px;
                        button {
                            border-bottom: 2px solid $secondary-color-kyna;
                            background: $primary-color-kyna;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            color: white;
                            display: inline-block;
                            width: 70%;
                            height: 45px;
                            @extend .main-border-radius;
                            &:hover {
                                border-bottom: 2px solid $last-color-kyna;
                                background: $secondary-color-kyna;
                            }
                        }
                    }
                }
                .forgot-pass {
                    color: #272727;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    text-decoration: underline;
                }
                .box-footer {
                    padding: 15px 20px;
                    margin-bottom: 0px;
                    margin-top: 15px;
                    background: #dddddd;
                    display: table;
                    width: 100%;
                    li {
                        display: table-cell;
                        color: black;
                        &:last-child {
                            text-align: right;
                            a {
                                background: white;
                                border-bottom: 2px solid #CCCACA;
                                padding: 8px 25px;
                                display: inline-block;
                                @extend .main-border-radius;
                                color: black;
                                &:hover {
                                    background: $primary-color-kyna;
                                    border-bottom: 2px solid $secondary-color-kyna;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px){
    .k-header-wrap {
        .nav-link {
            font-size: 13px;
        }
        .hotline {
            display: none !important;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .k-header-wrap {
        .navbar-brand {
            top: 0px;
        }
    }
}
@media (max-width: 991px) and (min-width: 768px){

    .k-header-wrap {
        .navbar-brand {
            width: 25%;
        }
        .k-header-menu {
            width: 10%;
        }
        .k-header-info {
            width: 25%;
            left: 40%;
        }
        .k-header-search {
            width: 40%;
            right: 25%;
        }

    }

}
@media (min-width: 991px){
    .k-header-wrap {
        .k-header-info {
            .account {
                width: 220px;
            }
        }
    }
}
@media (max-width: 991px){

    .k-header-wrap {
        .navbar-brand {
            img {
                height: 40px;
                margin: 5px auto;
            }
        }
        .nav-mb {
            display: block !important;
            text-align: center;
            width: 55px;
            font-size: 20px;
            color: $gray-dark;
            line-height: 35px;
            i {
                font-size: 28px;
            }
        }
        .nav-link {
            display: none !important;
        }
//        .account {
//            .dropdown-toggle {
//                @include fontastic-icon();
//                color: $gray-dark;
//                &:before {
//                    content: "\69";
//                    font-size: 36px;
//                    width: 37px;
//                    height: 37px;
//                    text-align: center;
//                }
//                img {
//                    display: none;
//                }
//            }
//            .dropdown-toggle-profile {
//                @include fontastic-icon();
//                background: none !important;
//                color: $gray-dark !important;
//                &:before {
//                    content: "\69";
//                    font-size: 36px;
//                    width: 37px;
//                    height: 37px;
//                    text-align: center;
//                }
//            }
//        }
    }

}
@media (min-width: 768px){
    .k-header-search {
        .input-group-btn {
            button {
                .mob {
                    display: none;
                }
            }
        }
        .nav-link{
            display: none;
        }
    }
}
@media (max-width: 767px){

    .k-header-wrap {
        height: 60px;
        padding: 0px !important;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        .k-listing-content{
            margin-top: 10px;
            padding-top: 15px;
        }
        .container {
            top: 0px;
        }
        .nav-item {
            position: absolute;
            top: 12px;
        }
        .nav-mb {
            background: none;
            padding: 5px 10px;
            position: relative;
            top: -15px;
            left: 15px;
            i {
                font-size: 24px;
            }
        }
        .k-header-menu {
            position: absolute;
            left: 0px;
        }
        .k-header-info {
            position: absolute;
            right: 0px;
            margin: 0px;
            height: 60px;

            .news {
                display: none;
            }
            .cart {
                .dropdown-toggle {
                    background-position: -56px -6907px;
                    &:hover {
                        background-position: -56px -7056px;
                    }
                    .count-number {
                        top: 8px;
                    }
                }
            }
            li {
                float: right;
                margin-left: 10px;
                height: 100%;
                &.account {
                    margin-top: 10px;
                }
            }
        }
        .navbar-brand {
            width: 100%;
            padding-top: 15px;
            height: 60px;
            top: 0px;
            img {
                float: left;
                margin-left: 50px;
            }
        }
        .k-header-search{
            position: absolute;
            top: 60px;
            left: 0;
            padding: 15px;
            margin: 0;
            background-color: $gray-lighter;
            .input-group{
                border-radius: 5px;
                &:before{
                    content: "\30";
                    font-family: "fontastic-icon" !important;
                    position: absolute;
                    line-height: 40px;
                    left: 15px;
                }
            }
            input{
                padding-left: 40px;
                border-radius: 5px !important;
            }
            .input-group-btn{
                position: absolute;
                top: 1px;
                right: 1px;
                width: 60px !important;
                text-align: right;
                padding: 0;
                z-index: 10;
                &:focus {
                    outline: none;
                }
                button{
                    height: 38px;
                    border: 0;
                    background-color: map-get($color-brands, kyna);
                    padding: 0 15px;
                    color: white;
                    i:before{
                        content: none;
                    }
                    &:hover,
                        &:active {
                        background-color: darken(map-get($color-brands, kyna), 5%) !important;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        form {
            display: inline-block;
            width: 100%;
            .input-group-btn {
                width: 40px !important;
            }
            .input-group {
                background: white;
                input {
                    border: 1px solid #a9b2bd;
                    border-radius: 3px 0px 0px 3px
                }
                button {
                    background: #50ad4e;
                    color: white;
                    border: none;
                    border-radius: 0px 3px 3px 0px;
                    &:hover {
                        background: #389a36 !important;
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .open > .dropdown-menu {
        display: none;
    }
}
@media (max-width: 543px){

    .k-header-wrap {
        .navbar-brand {
            img {
                margin-left: auto;
            }
        }
        .k-header-search{
            background-color: #e8e8e8;
            .k-menu-list-course{
                padding-right: 0;
            }
            .nav-link{
                display: block !important;
                background: white;
                color: black;
                border: 1px solid #a9b2bd;
                border-radius: 3px;
                font-size: 16px;
                .icon{
                    font-size: 20px;
                    color: black;
                }
            }
            #search-form{
                display: none;
                position: absolute;
                width: calc(100% - 30px);
                top: 70px;
                .input-group{
                    border: 1px solid #50ad4e;
                    input{
                        border: none;
                        &:focus{
                            border: none !important;
                        }
                    }
                    .input-group-btn{
                        display: none;
                    }
                    button.icon-search{
                        position: absolute;
                        line-height: 0;
                        font-size: 20px;
                        background: none;
                        color: black;
                        padding: 0 10px;
                        z-index: 4;
                        &:hover{
                            background: none !important;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    &:before, &:after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border: 7px solid transparent;
                        position: absolute;
                        left: 80%;
                        top: -20px;
                        border-bottom: 13px solid #50ad4e;
                    }
                    &:after{
                        top: -19px;
                        border-bottom: 13px solid white;
                    }
                    .k-close-search-popup{
                        position: absolute;
                        right: 0;
                        padding-right: 10px;
                        line-height: 40px;
                        z-index: 4;
                        svg{
                            fill: #a8a8a8;
                        }
                    }
                }
            }
        }
    }
}
//    content: "";
//    width: 0px;
//    height: 0px;
//    border: 0.8em solid transparent;
//    position: absolute;
//    right: 0%;
//    top: -20px;
//    border-bottom: 10px solid #444;
/* New Css For See-more on Menu Class k-header-menu */
/*.k-header-menu {
    .nav-wrap {
        &.open{
            ul.dropdown-menu {
                height: 320px;
                overflow: hidden;
                li.see-more{
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    background: white;
                    width: 100%;
                    margin: 0;
                    left: 0;
                    border-top: 1px solid $gray-light;
                    cursor: pointer;
                    color: map-get($color-brands, kyna);
                }
                &.see-more{
                    //height: 380px;
                    overflow: overlay;
                    &::-webkit-scrollbar {
                        width: 12px;
                    }
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                    }
                    li.see-more{
                        bottom: auto;
                    }
                }
            }
        }
    }
}*/
