.k-header-menu {
    text-align: center;
    padding: 0px !important;
    a {
        display: inline-block;
    }
    .button-menu {
        background: #ebebeb;
        color: #5d5d5e;
        padding: 10px 10px;
        display: inline-block;
        position: relative;
        font-size: $base-font-size;
        width: 100%;
        .icon {
            padding: 0px 10px 0px 0px
        }
    }
}

#nav-mobile {
    padding-top: 60px;
    /*
        position: absolute;
        top: 0px;
    */
    .content {
        background: white;
        height: 100%;
        .panel-group {
            padding: 30px;
            @media (max-width: 991px){
                padding-bottom: 100px;
            }
            .panel-info {
                margin-top: 0px;
                box-shadow: initial !important;
                border: 1px solid $gray-lighter;
                border-bottom: none;
                border-radius: 0px;
                &:first-child {
                    border-top: 1px solid $gray-lighter;
                }
                &:last-child {
                    border-bottom: 1px solid $gray-lighter;
                }
                .panel-collapse {
                    ul {
                        background: $gray-lighter;
                        margin: 0px;
                        li {
                            a {
                                padding: 20px 0px 20px 55px;
                                font-size: 16px;
                                display: block;
                                color: $color-body;
                            }
                        }
                    }
                }
                .panel-title {
                    margin: 0px;
                    position: relative;
                    font-weight: 400;

                    a {
                        position: relative;
                        padding: 20px 0px 20px 10px;
                        font-size: 16px;
                        border-radius: 3px;
                        display: block;
                        color: $color-body;
                        background-repeat: no-repeat;
                        img{
                            width: 35px;
                            margin-right:5px;
                        }
                        .icon {
                            position: absolute;
                            top: 20px;
                            right: 15px;
                        }
                    }
                    /*
                    .icon {
                        position: absolute;
                        right: 20px;
                        top: 22px;
                        font-size: 14px;
                    }
                    */
                }


                /* Change Class Icon*/
                .panel-title {
                    &.see-more, &.danh-sach-khoa-hoc {
                        a {
                            background-position: -45px -3660px;
                        }
                    }

                    &.khuyen-mai-nhom-khoa-hoc {
                        a {
                            background-position: -45px -3740px;
                        }
                    }

                    &.phat-trien-ca-nhan {
                        a {
                            background-position: -45px -3495px;
                        }
                    }

                    &.kinh-doanh {
                        a {
                            background-position: -45px -2560px;
                        }
                    }

                    &.nuoi-day-con {
                        a {
                            background-position: -45px -3325px;
                        }
                    }

                    &.it-va-lap-trinh {
                        a {
                            background-position: -45px -2985px;
                        }
                    }

                    &.marketing-truyen-thong {
                        a {
                            background-position: -45px -2645px;
                        }
                    }

                    &.ky-nang-cho-cong-viec {
                        a {
                            background-position: -45px -3070px;
                        }
                    }

                    &.ngoai-ngu {
                        a {
                            background-position: -45px -3155px;
                        }
                    }

                    &.mc-truyen-hinh {
                        a {
                            background-position: -45px -3240px;
                        }
                    }

                    &.ky-nang-cho-be {
                        a {
                            background-position: -45px -3410px;
                        }
                    }

                    &.thiet-ke-do-hoa-va-video {
                        a {
                            background-position: -45px -2900px;
                        }
                    }

                    &.phu-nu-va-gia-dinh {
                        a {
                            background-position: -45px -3819px;
                        }
                    }

                    &.nghe-thuat-va-doi-song {
                        a {
                            background-position: -45px -3893px;
                        }
                    }

                    &.luyen-thi {
                        a {
                            background-position: -45px -3580px;
                        }
                    }

                    &.vi-tinh-van-phong {
                        a {
                            background-position: -45px -2730px;
                        }
                    }

                    &.ke-toan-tai-chinh-dau-tu {
                        a {
                            background-position: -45px -2815px;
                        }
                    }
                    &.hr-phat-trien-nguon-luc {
                        a {
                            background-position: -42px -4329px;
                        }
                    }
                }
                /*
                &:nth-child(1) {
                    .panel-title {
                        a {
                            background-position: -40px -10011px;
                        }
                    }
                }
                &:nth-child(2) {
                    .panel-title {
                        a {
                            background-position: -40px -10083px;
                        }
                    }
                }
                &:nth-child(3) {
                    .panel-title {
                        a {
                            background-position: -40px -10158px;
                        }
                    }
                }
                &:nth-child(4) {
                    .panel-title {
                        a {
                            background-position: -40px -10236px;
                        }
                    }
                }
                &:nth-child(5) {
                    .panel-title {
                        a {
                            background-position: -40px -10308px;
                        }
                    }
                }
                &:nth-child(6) {
                    .panel-title {
                        a {
                            background-position: -40px -10381px;
                        }
                    }
                }
                &:nth-child(7) {
                    .panel-title {
                        a {
                            background-position: -40px -10457px;
                        }
                    }
                }
                &:nth-child(8) {
                    .panel-title {
                        a {
                            background-position: -40px -10534px;
                        }
                    }
                }
                &:nth-child(9) {
                    .panel-title {
                        a {
                            background-position: -40px -10612px;
                        }
                    }
                }
                &:nth-child(10) {
                    .panel-title {
                        a {
                            background-position: -40px -10689px;
                        }
                    }
                }
                &:nth-child(11) {
                    .panel-title {
                        a {
                            background-position: -40px -10762px;
                        }
                    }
                }
                &:nth-child(12) {
                    .panel-title {
                        a {
                            background-position: -40px -10836px;
                        }
                    }
                }
                &:nth-child(13) {
                    .panel-title {
                        a {
                            background-position: -40px -10946px;
                        }
                    }
                }*/
            }
            .panel-heading {
                background-color: white;
                border: none !important;
            }
            .panel-body {
                padding: 20px 40px;
                border-right: 1px solid #f0f0f0;
                border-left: 1px solid #f0f0f0;
                ul {
                    margin: 0px auto;
                    li {
                        a {
                            padding: 10px 0px;
                            display: block;
                            color: $base-font-color;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

header {
    z-index: 13;
    position: relative;
    transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
    &#header{
        @media(min-width: 992px){
            position: fixed !important;
            top: 0;
            width: 100%;
        }
    }
}
main {
    z-index: 11;
    background: white;
    position: relative;
    transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
}
/*main.filterCourses{
    @media (max-width: 991px){
        z-index: 16000003 !important;
    }
}*/
footer {
    position: relative;
    transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
}

@media (max-width: 991px) {
    /*
        #nav-mobile {
                display: block;
                position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            background-color: #f2f2f2;
        }
    */
    .nav-mobile-open {
        overflow: hidden ;
        .page-wrap {
            display: none;
        }
    }
    .nav-mobile-open {
        header{
            transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
            transform: translateX(110%) !important;
        }
        main {
            transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
            transform: translateX(110%) !important;
        }
        footer {
            transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1) !important;
            transform: translateX(110%) !important;
        }
    }


}

.btn-update{
    @include button-color(map-get($colors, green));
    width: 100%;
    margin-bottom: 30px;
}
