#pager-container {
    clear: both;
    float: none !important;
    text-align: center;
}
.pagination > li {
  display: inline;
}
.pagination > li.prev span, .pagination > li.prev a, .pagination > li.next a, .pagination > li.next span{
  background-color: #dddddd !important;
  display: inline-block;
  color: #50ad4e;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 0 !important;
  @media(max-width: 767px){
    width: 25px;
    height: 25px;
  }
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  //float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination {
    display: inline-block;
    border-radius: 4px;
    margin: 0 0 30px 0;
    padding: 0 15px;
    @media(max-width: 767px){
      padding: 0 5px;
    }
    li {
      &.disabled{
        display: none !important;
      }
      &.prev, &.next{
        a{
          > span{
            background: transparent !important;
            width: auto;
            height: auto;
            padding: 0
          }
        }
      }
        a {
            color: $color-body;
            font-size: 18px;
            font-weight: 500;
            padding: 2px;
            margin:0 8px;
            @media(max-width: 767px){
              margin: 0 2px;
              font-size: 13px;
            }
            @media(max-width: 320px){
              font-size: 12px;
            }
            &:hover {
                color: map-get($colors, green);
                background: none;
            }
            &:focus {
                color: map-get($colors, green);
                background: none;
            }
        }
        span {
            padding: 7px 9px 8px 9px;
        }
    }
  .active {
    a {
      color: #50ad4e;
      border-bottom: 1px solid #50ad4e;
      &:hover {
        color: #50ad4e;
        cursor: not-allowed;
      }
    }
  }

}
