.k-popup-account {
    button {
        &:focus {
            outline: none;
        }
    }
    .modal-dialog{
        @include width-popup-account();
        max-width: 350px;
        margin: 0 auto;
        .modal-title {
            text-align: center;
            font-weight: 400;
            color: #50ad4e;
        }
        .modal-body {
            padding: 0px !important;
            .k-popup-account-top {
                margin-top: 15px;
                li {
                    text-align: center;
                    .button-facebook {
                        @include button-color(map-get($color-brands, facebook));
                        margin-bottom: 10px;
                    }
                }
            }
            form {
                padding: 0px 20px 15px 20px;
                .button-submit {
                    text-align: center;
                    button {
                        @include button-color(map-get($colors, green));
                    }
                }
                a {
                    text-align: center;
                    display: block;
                    color: $gray-dark
                }
            }
            .forgot-pass {
                color: map-get($color-brands,kyna);
                padding: 0px 15px 15px 15px;
                width: 100%;
                display: inline-block;
                text-align: center;
                &:hover {
                    color: map-get($color-brands,kyna);
                    text-decoration: underline!important;
                }
            }
            .k-popup-account-bottom {
                background: darken($gray-lighter, 10%);
                @include border-bottom-radius(3px);
                display: table;
                width: 100%;
                padding: 20px;
                margin-bottom: 0px;
                li {
                    display: table-cell;
                    &:first-child {
                        float: left;
                        line-height: 45px;
                    }
                    &:last-child {
                        float: right;
                        a {
                            @include button-color(white);
                            color: $color-body;
                        }
                    }
                }
            }
            .back-login {
                text-align: center;
                width: 100%;
                display: inline-block;
                padding-bottom: 20px;
                color: $color-body;
                &:hover {
                    color: map-get($colors, green);
                }
            }
            .fb-login-pc{
              display: none;
            }
        }
        .left{
          display: none;
        }
        @media (min-width: 992px) {
          width: percentage(2/3) !important;
          max-width: 800px !important;
          background: #fff;
          margin-top: 120px;
          .modal-content{
            @include display-flex();
            @include border-radius(0);
            width: 100% !important;
            float: left;
            border: none;
          }
          .modal-header{
            width: 100%;
            padding: 0;
            font-weight: bold !important;
            border: none;
            .close{
              background: #727272;
              opacity: 1;
              margin: 0;
              color: white;
              padding: 3px 7px;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          .modal-body {
            width: 100%;
              .k-popup-account-top {
                display: none;
              }
              .fb-login-pc{
                display: block;
                text-align: center;
                p{
                  margin: 15px auto;
                }
                .button-facebook {
                    @include button-color(map-get($color-brands, facebook));
                    height: 35px;
                    width: 100%;
                    max-width: 320px;
                    line-height: 35px;
                    padding: 0 !important;

                }
              }
              form {
                  padding: 0;
                  .button-submit {
                      text-align: center;
                      button {
                          @include button-color(map-get($colors, green));
                          height: 35px;
                          line-height: 35px;
                          padding: 0 !important;
                          width: 100%;
                          max-width: 320px;
                      }
                  }
                  a {
                      text-align: center;
                      display: block;
                      color: $gray-dark;
                  }
              }
              .remember-login{
                @include display-flex();
                align-items: flex-start;
                justify-content: space-between;
                .forgot-psswrd{
                  text-decoration: underline !important;
                  font-style: italic;
                  color: #727272;
                }
              }
              .k-popup-account-bottom {
                  display: none !important;
              }
              .back-login{
                display: none !important;
              }
              .back-login-pc {
                  text-align: center;
                  width: 100%;
                  display: block;
                  margin: 0 auto;
                  color: inherit;
                  &:hover {
                      color: map-get($colors, green);
                  }
              }
            }
          .left, .right{
            width: 50%;
            @include display-flex();
            flex-wrap: wrap;
          }
          h4{
            font-size: 24px;
            color: #50ad4e;
          }
          p{
            font-size: 14px;
            text-align: center;
          }
          .left{
            background-image: url('../src/img/popup/leftBg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .inner{
              width: 100%;
              max-width: 300px;
              @include display-flex();
              flex-wrap: wrap;
              margin: auto;
              text-align: center;
            }
            ul{
              width: 100%;
            }
            h4, h5{
              font-size: 24px;
              font-weight: bold;
              width: 100%;
              color: #fff;
            }
            p, li{
              color: #727272;
            }
            a{
              display: table;
              color: #fff;
              border: 2px solid  #fff;
              @include border-radius(4px);
              width: 100%;
              max-width: 275px;
              height: 36px;
              line-height: 33px;
              padding: 0;
              margin: 0 auto;
              &:hover{
                background: #fff;
                color: #727272;
              }
            }
          }
          .right{
            padding: 30px 40px;
          }
        }
    }
}
#k-recover-password{
    .modal-dialog{
        @include width-popup-account();
        max-width: 340px;
        margin: 80px auto 10px;
        .modal-title {
            text-align: center;
            font-weight: 400;
        }
        .k-popup-account-close{
            display: none;
            @media(max-width: 767px){
                display: block;
            }
        }
        .modal-body {
            padding: 0px !important;
            .k-popup-account-top {
                margin: 15px;
                li {
                    text-align: center;
                    .button-facebook {
                        @include button-color(map-get($color-brands, facebook));
                        margin-bottom: 10px;
                    }
                }
            }
            form {
                padding: 0px 20px 15px 20px;
                .button-submit {
                    text-align: center;
                    button {
                        @include button-color(map-get($colors, green));
                    }
                }
                a {
                    text-align: center;
                    display: block;
                    color: $gray-dark
                }
                .link-error {
                    text-align: center;
                }
            }
            .forgot-pass {
                color: map-get($color-brands,kyna);
                padding: 0px 15px 15px 15px;
                width: 100%;
                display: inline-block;
                text-align: center;
                &:hover {
                    color: map-get($color-brands,kyna);
                    text-decoration: underline!important;
                }
            }
            .k-popup-account-bottom {
                background: darken($gray-lighter, 10%);
                @include border-bottom-radius(3px);
                display: table;
                width: 100%;
                padding: 20px;
                margin-bottom: 0px;
                li {
                    display: table-cell;
                    &:first-child {
                        float: left;
                        line-height: 45px;
                    }
                    &:last-child {
                        float: right;
                        a {
                            @include button-color(white);
                            color: $color-body;
                        }
                    }
                }
            }
            .back-login {
                text-align: center;
                width: 100%;
                display: inline-block;
                padding-bottom: 20px;
                color: $color-body;
                &:hover {
                    color: map-get($colors, green);
                }
            }
        }
    }
}
.k-password-recovery {
    margin: 120px 0px;
    .panel {
        background: white;
        padding: 20px;
    }
    .panel-title {
        text-align: center;
        margin: 20px
    }
    .form-group {
        .icon {
            position: absolute;
            font-size: 20px;
            height: 40px;
            width: 50px;
            text-align: center;
            color: #878787;
        }
        input {
            border-radius: 3px;
            height: 40px;
            color: #1c1c1c;
            border: 1px solid #a0a0a0;
            padding: 5px 15px 5px 45px;
        }
    }
    form {
        padding: 0px 20px 15px 20px;
        .button-submit {
            text-align: center;
            button {
                @include button-color(map-get($colors, green));
            }
        }
        a {
            text-align: center;
            display: block;
            color: $gray-dark
        }
    }
}

#k-popup-account-reset {
    .back-login-pc{
      display: none;
    }
    p{
      text-align: center;
      padding: 10px 15px;
    }
}
.main-content{
    width: 340px;
    margin-left: calc(50% - 170px);
    @media (min-width: 992px) {
      width: 100%;
      margin-left: 0;
      float: left;
      background: #fff;
    }
}

#k-popup-account-login-mb {
    background: white;
    padding-top: 10px;
    max-width: 340px;
    margin: 50px auto;
    .k-popup-account-mb-content {
        @include width-popup-account();
        padding: 0px !important;
        .k-popup-account-top {
            margin-top: 15px;
            li {
                text-align: center;
                .button-facebook {
                    @include button-color(map-get($color-brands, facebook));
                    margin-bottom: 10px;
                }
            }
        }
        form {
            padding: 0px 20px 15px 20px;
            .button-submit {
                text-align: center;
                button {
                    @include button-color(map-get($colors, green));
                }
            }
        }
        .forgot-pass {
            color: map-get($color-brands,kyna);
            padding: 0px 15px 15px 15px;
            width: 100%;
            display: inline-block;
            text-align: center;
        }
        .k-popup-account-bottom {
            background: darken($gray-lighter, 10%);
            @include border-bottom-radius(3px);
            display: table;
            width: 100%;
            padding: 20px;
            margin-bottom: 0px;
            li {
                display: table-cell;
                &:first-child {
                    float: left;
                    line-height: 45px;
                }
                &:last-child {
                    float: right;
                    a {
                        @include button-color(white);
                        color: $color-body;
                    }
                }
            }
        }
    }
    .left, .fb-login-pc{
      display: none;
    }

    form{
      .remember-login{
        @include display-flex();
        align-items: flex-start;
        justify-content: space-between;
        .forgot-psswrd{
          text-decoration: underline !important;
          font-style: italic;
          color: #727272;
        }
      }
    }

    @media (min-width: 992px) {
      width: 100%;
      max-width: 100%;
      .k-popup-account-mb-content{
        @include display-flex();
      }
      .left{
        @include display-flex();
      }
      .fb-login-pc{
        display: block;
      }
    }
}

.k-popup-account-pc{
  display: none;
  @media (min-width: 992px) {
    @include display-flex();
    width: 100%;
    float: left;
    background: #fff;
    .left, .right{
      width: 50%;
      @include display-flex();
      float: left;
    }
    h4{
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    p{
      font-size: 14px;
      text-align: center;
    }
    .left{
      background-image: url('../src/img/popup/leftBg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .inner{
        width: 100%;
        max-width: 300px;
        @include display-flex();
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
      }
      h4{
        width: 100%;
        color: #fff;
      }
      p{
        color: #727272;
      }
      a{
        display: table;
        color: #fff;
        border: 2px solid  #fff;
        @include border-radius(4px);
        width: 100%;
        max-width: 275px;
        height: 36px;
        line-height: 33px;
        padding: 0;
        margin: 0 auto;
        &:hover{
          background: #fff;
          color: #727272;
        }
      }
    }
    .right{
      position: relative;

      .k-popup-account-close{
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 7px;
        background: #666;
        color: #fff;
        font-weight: bold;
        opacity: 1;
      }
      h4{
        color: #50ad4e;
        margin-bottom: 15px;
      }
      a{
        text-align: center;
        color: inherit;
        &:hover{
          color: #50ad4e;
        }
      }
      .inner{
        @include display-flex();
        flex-wrap: wrap;
        padding: 30px 40px;
        > *{
          width: 100%;
        }
      }
      form{
        padding: 0;
        .button-submit{
          button{
            @include border-radius(3px);
            display: block !important;
            width: 100% !important;
            background: #50ad4e;
            color: white;
            border: none;
            border-bottom: 2px solid  #489b46;
            max-width: 320px;
            height: 36px;
            line-height: 33px;
            padding: 0 !important;
            margin: 15px auto;
          }
        }
      }
      .remember-login{
        @include display-flex();
        display: -msoz-flex;


        align-items: flex-start;
        justify-content: space-between;
        .forgot-psswrd{
          text-decoration: underline !important;
          font-style: italic;
          color: #727272;
        }
      }
      .k-popup-fb-login{
        text-align: center;
        p{
          margin: 15px auto;
        }
        .button-facebook {
            @include button-color(map-get($color-brands, facebook));
            width: 100% !important;
            max-width: 320px;
            height: 35px;
            line-height: 35px;
            padding: 0 !important;
        }
      }
    }
  }
}
#wrap-register-form-mb {
    margin-top: 100px !important;
    width: 320px;
    margin-left: calc(50% -  160px);
    .modal-content {
        border: none;
    }
    @media (min-width: 992px) {
      width: 100%;
      margin: 0 !important;
      .modal-content{
        width: 100%;
      }
    }
}
#k-popup-account-register {
    #wrap-register-form-mb {
        margin-top: 50px !important;
    }
}
#password-recovery-form{
    .icon{
        position: absolute;
        font-size: 20px;
        height: 40px;
        width: 50px;
        text-align: center;
        color: #878787;
    }
    .help-block-error {
        color: red;
    }
    .button-submit {
        button {
            @include button-color(map-get($colors, green));
        }
    }
}
#recovery-form-password {
    border-radius: 3px;
    height: 40px;
    color: #1c1c1c;
    border: 1px solid #a0a0a0;
    padding: 5px 15px 5px 45px;
    margin: 15px 0px;
    @media (min-width: 992px) {
      .k-popup-account-mb-content{
        display: none;
      }
    }
}
.password-recovery-title {
    text-align: center;
}
/* Menu Login Register */

.menu-login-register{
    background-color: white;
    li {
        text-align: center;
        float: left;
        padding: 10px 15px;
        width: 50%;
        a {
            color: $gray-dark;
        }
    }
    .active-tab {
        background: $gray-lighter;
        color: $gray-dark;
    }
}

/* End Menu Login Resgiter*/
#k-popup-account-register-mb{
    @extend #k-popup-account-login-mb;
}
#k-popup-account-login {
    .modal-content {
        border: none;
    }
}
#k-popup-account-login-mb {
    .modal-body {
        padding: 0px;
    }
    .modal-title {
        text-align: center;
    }
}
#k-popup-account-login-mb {
    @include border-radius(5px);
}
#wrapper-password-recovery-form {
    background: white;
    padding: 30px 15px 30px 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}
#k-popup-account-login{
    .main-content{
        #k-popup-account-login-mb{
            margin-top: 50px;
            .modal-header{
                .k-popup-account-close{
                    display: block;
                }
            }
        }
    }
}
.main-content{
    #k-popup-account-login-mb{
        margin-top: 120px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        .modal-header{
            .k-popup-account-close{
                display: none;
            }
        }
    }
}
#k-popup-account-register{
    #wrap-register-form-mb{
        .modal-header{
            .k-popup-account-close{
                display: block;
            }
        }
    }
}

#wrap-register-form-mb{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .modal-header{
        .k-popup-account-close{
            display: none;
        }
    }
}
@media (max-width: 768px) {
    #wrap-register-form-mb {
        margin-top: 50px !important;
        .modal-content{
            padding: 0 0 15px;
            &.connect-fb{
                padding-top: 0;
                .modal-header{
                    border-bottom: none;
                    .modal-title{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    #k-popup-account-login .modal-content{
        padding-top: 0;
    }
    .main-content{
        #k-popup-account-login-mb{
            margin-top: 50px;
        }
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    #k-popup-account-login-mb {
        @include default-shadow();
        @include border-radius(3px);
        width: 400px;
        margin: 120px auto;
    }
}
@media (min-width: 480px) {
    #wrap-register-form-mb {
        margin-top: 80px;
        .modal-dialog {
            width: 320px;
        }
    }
}
@media (max-width: 480px) {
    #wrap-register-form-mb {
        .modal-dialog {
            width: 100%;
        }
    }
    .main-content{
        width: 100%;
        margin-left: 0;
        #k-popup-account-login-mb{
            max-width: 100%;
            padding-bottom: 50px;
            margin-bottom: 0;
            .k-popup-account-bottom{
                display: none;
            }
        }
    }
    #wrap-register-form-mb {
        width: 100%;
        margin-left: 0;
    }
}
