.sale-promotion {
  .close {
    opacity: 1;
    position: absolute;
    top: 0px;
    z-index: 999;
    right: 0px;
    &:focus {
      outline: none;
    }
    span {
      padding: 5px;
      margin: 15px;
      display: block;
      opacity: 1;
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 15px;
    }
  }
  .modal-body {
    padding: 0px;
    background: #5ec1a2;
    .content {
      padding: 0px 50px 0px;
      color: white;
      text-align: center;
      position: relative;
      top: -1px;
      background: #5ec1a2;
      .text {
        display: inline-block;
        p {
          font-size: 18px;
          span {
            color: #EADD13;
            font-size: 22px;
          }
        }
        h4 {
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
          margin: 15px 0px 10px 0px;
        }
        input {
          height: 45px;
          border-radius: 5px;
        }
        button {
          background: #FB6A01;
          color: white;
          height: 45px;
        }
        form {
          display: inline-block;
          width: 100%;
          margin: 15px 0px;
          .send {
            border-bottom: 2px solid #ea6504;
            font-size: 16px;
            &:hover {
              background: #e25f00;
              border-bottom: 2px solid #cc5702
            }
          }
        }
      }
    }
  }
  .modal-footer {
    padding: 0px;
    background: #5ec1a2;
  }
  @media (max-width: 590px) {
    .modal-dialog {
      width: 100% !important;
    }
  }
}

.sale-promotion .modal-content ul {
  display: inline-block;
  width: 350px;
  margin: 15px 0px 30px 0px;;
}
.sale-promotion .modal-content ul li {
  display: inline-block;
  width: 50%;
  float: left;
}
.sale-promotion .modal-content ul li:first-child a,
.sale-promotion .modal-content ul li:last-child a{
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
}
.sale-promotion .modal-content ul li:first-child a {
  background: #50ad4e;
  border-bottom: 2px solid #389a36;
}
.sale-promotion .modal-content ul li:last-child a {
  background: #FF7816;
  border-bottom: 2px solid #ea6504;
}
.sale-promotion .modal-content ul li:first-child a:hover
{
  background: #389a36;
  border-bottom: 2px solid #237721;
}
.sale-promotion .modal-content ul li:last-child a:hover
{
  background: #ea6504;
  border-bottom: 2px solid #C15E16;
}
@media (max-width: 580px) {
.sale-promotion .modal-content ul {
  width: 100%;
}
.sale-promotion .modal-content ul li {
  width: 100%;
}
.sale-promotion .modal-content ul li a {
  width: 100%;
  margin: 5px 0px;
}
}
