.ui-helper-hidden-accessible{
    display: none !important;
}

#live-search-result {
    position: absolute;
    //box-shadow: 0px 5px 5px 0px #D9D9db;
    padding-right: 15px;
    z-index: 4;
    margin-top: 40px;
    @media(max-width: 576px){
        margin-top: 0;
    }
    .ui-autocomplete {
        padding: 0px;
        background-color: white;
        border-radius: 0px;
        width: initial !important;
        border: 1px solid #aab2bd;
        top: 2px !important;
        margin-bottom: 0px;
        .ui-menu-item {
            font-size: small;
            padding: 0px !important;
            div.bottom-border{
                padding-top: 10px;
                border-bottom: 1px solid #e8e8e8;
            }
            a {
                color: black;
                display:inline-block;
                width: 100%;
                padding: 10px 10px 0px 10px;
                &:hover {
                  background-color: #e8e8e8;
                }
                div{
                    color: gray;
                }
            }
        }
        div.bottom-border.last-item {
            border-bottom: none;
        }
    }
    .live-search-result-full-search {
        text-align: center;
        font-family: 'Roboto', 'Arial', sans-serif;
        a {
            color: black;
            display: inline-block;
            width: 100%;
            background-color: #e8e8e8;
            padding: 10px 5px;
        }
    }
    li {
      mark {
          background-color: #c6e8c5;
      }
    }
    @media (max-width: 767px) {
      position: relative;
      padding-right: 0px;
    }
    @media (max-width: 543px) {
       top: 105px;
       padding-left: 15px;
       .ui-autocomplete {
         left: 0px !important
       }
     }
}

#search-form *:focus{
    border: 1px solid #52ab4d !important;
}

#search-form .input-group input#live-search-bar:focus ~ .input-group-btn .search-button {
    background-color: #52ab4d !important;
}

#search-form .input-group input#live-search-bar:focus ~ .input-group-btn .search-button i{
    color: #fffff8;
}
#search-form .input-group .input-group-btn {
    text-align: right !important;
    width: 1px !important;
}
#search-form #k-close-search-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
}

li.hotline {
    margin-right: 10px !important;
    margin-left: -3px;
    padding-top: 2px;
    line-height: initial;
}
li.hotline .text {
    text-transform: none !important;
}
li.hotline .number {
    font-weight: bold !important;
    font-size: medium;
}
