.k-checkout-vertical {

    position: fixed;
    right: 0;
    bottom: 0;

    &:after {
        background: $gray-lighter;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 2000px;
        left: 0px;
    }     
    h3 {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        span {
            color: map-get($colors, green);
        }
    }
    ul {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 100%;
        li {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            .img {
                padding-left: 0px !important;
            }
            .text {
                h5 {
                    a {
                        color: $gray-dark !important;
                        &:hover {
                            color: map-get($colors, green) !important;
                        }
                    }                    
                }
                span {
                    color: map-get($colors, orange);
                }
            }      
        }
    }
    .k-checkout-vertical-bonus {
        position: relative;
        z-index: 1;
        form {
            padding-bottom: 45px;
            padding-left: 0px;
            padding-right: 0px;
            .form-group {
                position: relative;
                input {                  
                    @include border-radius(3px);
                    height: 40px;
                }
                p {
                    position: absolute;                        
                    width: 100%;
                    margin-top: 5px;
                }                    
            }
            button {
                height: 40px !important;
                margin-left: 10px !important;
            }
        }
    }
    .k-checkout-billing-total {
        display: inline-block;
        border-top: 1px solid darken($gray-lighter, 10%);
        position: relative;
        z-index: 1;
        padding-top: 15px;
        width: 100%;
        ul {
            li {
                float: left;
                margin-bottom: 15px;
                width: 100%;
                font-size: 16px;
                span {
                    &:last-child {
                        float: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .k-checkout-vertical {
        display: none;
    }
}
@media (max-width: 767px) {
    .k-order-notification-menu {
        display: none !important;
    }
    .k-order-notification-info {
        ul {
            li {
                display: inherit !important;
            }
        }
    }
    .k-order-notification-content-list {
        .item {
            padding-left: 20px !important;
            .icon {
                display: none;
            }
        }        
    }
}
@media (max-width: 544px) {
    .k-order-notification-button {
        li {
            width: 100% !important;
            margin-bottom: 15px;
            text-align: center;
            a {
                width: 100%;
            }
        }
    }
}
