.menu-top, .menu-top .navbar-default {
    background-color: #FFF;
}
.menu-top .banner, .menu-top .menu {
    margin-bottom: 0px;
}
.menu-top .menu {
    background-color: #132033;

}
.menu-top .menu ul > li > a {
    color: #ffffff;
    text-transform: uppercase;
}
.menu-top .menu ul  li ul a {
    color: #000;
    font-weight: bold;
    margin: 4px 0;
    display: inline-block;
}
.menu-top .menu ul  li ul li ul li a:hover {
    color: #033692;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #033692;
}
.menu-top .expand-dropdown-menu {
    color: #033692 !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    border-color: transparent;
}
.menu .icon-bar {
    background-color: #FFF;
}
.multi-level li {
    float: left;
}

/* CSS used here will be applied after bootstrap.css */.nav { margin-bottom: 0; }
.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; background-color: #F3F3F3;}
.dropdown-menu>li { display: table-cell; }
.menu .open:before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid #F3F3F3;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 0px solid transparent;
    position: absolute;
    /*left: 10%;*/
    bottom: -1%;
    margin-left: 10%;
    z-index: 9999;
    /*background-color: #F3F3F3;*/
}
.dropdown .menu-item {
    text-align: left;
}
.dropdown .expand-dropdown-menu a {
    text-transform: capitalize !important;
}
.dropdown li {
    list-style-type: none;
}
.navbar-brand {
    padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
    height: 130%;
    padding: 0px; /* firefox bug fix */
    margin-left: 5px;
    width: auto;
}
.contact a {
    padding:2px !important;
    font-weight: bold;
}

.contact a i {
    color: #DE6D62;
}

.career-search-form .form-search{
    padding: 20px;
    margin-top: 10px;
}

.career-search-form .form-control-feedback {
    padding: 5px;
}

.header-text {
    font-size: 25px;
    margin: -50px 0px 30px 0px;
}
.header-slogan {
    margin-top: 30px;
}

.header .container {
    height: auto !important;
}

.subject-text {
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
}

.btn-see-all {
    background-color: #d21c00;
    border: none;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
}
.btn-see-all:hover {
    background-color: #d21c00;
    border: none;
    color: #ffffff;
}
.subject-item {
    display: block;
    text-align: center;

    margin-bottom: 20px;
}
.subject-items {
}

.btn-register {
    background-color: #d21c00;
    border: none;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
}
.btn-register:hover {
    background-color: #d21c00;
    border: none;
    color: #ffffff;
}

.custom-select-box:after{
    font-family: "FontAwesome";
    content: "\f078";
    text-align: center;
    line-height: 32px;
    position: absolute;
    width: 32px;
    height: 26px;
    background: #fff;
    right: 18px;
    top: 5px;
    font-size: 14px;
    pointer-events: none;
}

.join-class {
    margin-right: 40px;
}

#navbar_menu>ul>li>a {
    text-align: center;
}

.benefit-item {
    margin-bottom: 30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.header-logo {
    max-width: 100%;
}
.register-home {
    /*background: url("../images/mana-original-06.png") center;*/
}

.header-search-form {
    padding-top: 15px;
    margin-left: 20px;
}
.header-search-form .form-search {
    box-shadow: none;
    border-color:transparent !important;
    background-color: #EEEEEE;
}
.header-search-form .form-control-feedback {
    color: #C7C7C7;
    top: 4px;
}
#navbar .join-class, #navbar .contact {
    padding-top: 7px;padding-bottom: 7px;
}

.categories-courses-header {
    padding: 50px 0;
}
.categories-courses-header .image-holder img {
    border: 2px solid #FFF;
    border-radius: 4px;
    width: 150px;
}
.categories-courses-header h3 {
    font-size: 30px;
    font-weight: bold;
}

.register {
    background-color: #C7C7C7;
    padding-bottom: 50px;
    color: #000;
    font-family: Sans-Regular;
}

.register .science-title {
    margin-bottom: 50px;
}

input.form-control {
    padding: 20px;
}
select.form-control {
    height:42px;
}

.register .btn-register {
    margin: 20px 0;
}

.categories-courses-main {
    color: #000;
    margin: 20px 15px;
}

.categories-courses-main .courses-list .course-item {
    background-color: #ffffff;
    padding: 30px 0;
    border: 2px solid #DADADA;
    margin-top: 20px;
}

.categories-courses-main .courses-list .course-item h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}
.categories-courses-main h3 a {

    color: #000;
    font-weight: bold;
}
.categories-courses-main .course-item .created-by {
    margin-top: 10px;
    margin-right: -15px;
}
.categories-courses-main .course-item .created-by .name{
    line-height: 32px;
    font-size: 16px;
}
.categories-courses-main .course-item .created-by .name, .categories-courses-main .course-item .created-by .avatar{
    padding-left: 0px;
}
.categories-courses-main .quick-description {
    border-bottom: 1px solid #e7e7e7;
}

.categories-courses {
    background-color: #F3F3F3;
    padding-bottom: 50px;
}

.categories-courses-main .header {
    padding-bottom: 12px;
    border-bottom: 1px solid #C7C7C7;
}
.categories-courses-main label {
    line-height: 40px;
}
.categories-courses-main .count {
    font-size: 30px;
    padding-left: 0px;
}
.categories-courses-main .form-search {
    padding-right: 0;
}

.categories-courses-main .custom-select-box label {
    margin-right: 20px;
}
.categories-courses-main .custom-select-box select {
    width: 100%;
}
.quick-description .combo {
    background-color: #D11C00;
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    margin-right: 10px;
}
.categories-courses .side-bar-menu {
    background-color: #ffffff;
    margin-top: 30px;
    border: 2px solid #DADADA;
}
.categories-courses .panel-group {
    margin-bottom: 0px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: "FontAwesome";
    content: "\f077";
    /*font-family: 'Glyphicons Halflings';  !* essential for enabling glyphicon *!*/
    /*content: "\e114";    !* adjust as needed, taken from bootstrap.css *!*/
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
}

.categories-courses a {
    color: #000000;
}
.panel-categories>.panel-heading {
    color: #000000;
    background-color: #ffffff;
    border-color: transparent;
    padding-bottom: 0px;
    margin-bottom: -1px;
}
.panel-categories {
    color: #000;
    border-color: transparent;
    box-shadow: none;
}
.panel-categories .panel-title {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
}
.panel-categories .panel-body {
    padding: 0px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
     border-top: none;
}
.categories-courses li {
    list-style-type: none;
}

.categories-courses .side-bar-menu .list-item {
    padding-left: 0px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: "FontAwesome";
    display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #063B94; font-size: 25px; vertical-align: middle; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.categories .side-bar-menu, .my-course .side-bar-menu {
    background-color: #ffffff;
    margin-top: -130px;
    border: 2px solid #DADADA;
}

.categories .side-bar-menu ul, .my-course .side-bar-menu ul {
    padding-left: 0;
    margin-bottom: 0px;
    list-style-type: none;
}

.categories .side-bar-menu ul li, .my-course .side-bar-menu ul li {
    border-bottom: 1px solid #DADADA;
}

.categories .side-bar-menu ul li a , .my-course .side-bar-menu ul li a {
    line-height: 40px;
    color: #000000;
    font-size: 16px;
    padding-left: 40px;
}
.categories .side-bar-menu ul li a:hover , .my-course .side-bar-menu ul li a:hover {
    color: #003792;
    font-weight: bold;
}

.categories .btn-see-all, .my-course .btn-see-all {
    background-color: #fff;
    border: 2px solid #d21c00;
    color: #d21c00;
    padding-left: 25px;
    padding-right: 25px;
}

.categories .btn-see-all:hover, .my-course .btn-see-all:hover {
    background-color: #d21c00;
    color: #fff;
    display: inline-block;position: relative;
}
/*.categories .btn-see-all {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*border: 2px solid #FFF;*/
    /*overflow: hidden;*/
    /*outline: none;*/
    /*color: #FFF;*/
/*}*/

.categories .btn-see-all span, .my-course .btn-see-all span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.categories .btn-see-all:before,
.categories .btn-see-all:after, .my-course .btn-see-all:before, .my-course .btn-see-all:after {
    content: '';
    position: absolute;
    /*top: 0.67em;*/
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
}

/* :before */

.categories .btn-see-all:before, .my-course .btn-see-all:before {
    content: attr(data-hover);
}

/* :after */


/* Span on :hover and :active */

.categories .btn-see-all:hover span,
.categories .btn-see-all:active span, .my-course .btn-see-all:hover span, .my-course .btn-see-all:active span {
    opacity: 0;
}

/*
    We show :before pseudo-element on :hover
    and :after pseudo-element on :active
*/

.categories .btn-see-all:hover:before,
.categories .btn-see-all:active:after, .my-course .btn-see-all:hover:before, .my-course .btn-see-all:active:after {
    opacity: 1;
}

/*
  We hide :before pseudo-element on :active
*/

.categories .btn-see-all:active:before, .my-course .btn-see-all:active:before{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.categories .panel-categories .panel-title {
    border-bottom: 0px;
    margin-top: 10px;
}
.categories .panel-categories .panel-heading {
    background-color: #ffffff;
    border: 2px solid #DADADA;
    padding: 25px 25px 25px 0px;
}
.categories .panel-categories {
    background-color: transparent;
}
.categories .panel-categories .intro{
    margin-top: 20px;
}
.categories {
    background-color: #F3F3F3;
}
.categories .panel-categories .list-item a{
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}
.categories .panel-categories .list-item a:hover{
    color: #003792;
    font-weight: bold;
}
.categories .panel-categories .list-item li{
    border-bottom: 1px solid #DADADA;
}
.categories .panel-categories .image-holder{
    margin-bottom: 30px;
}
.categories .categories-item {
    margin-top: 30px;
}
.login {
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.login .form-group {
    margin-bottom: 25px;
}
.login .line {
    margin-bottom: 15px;
}
.login .option-login label, .login .option-login a {
    color: #000;
}
.login .option-login label {
    padding-left: 0px;
}
.login .option-login a {
    line-height: 28px;
    display: inline-block;
    margin-top: 4px;
}
.login .option-login .remember {
    border-right: 1px solid #DADADA;
}
.login .checkbox {
    padding-top: 3px;
}
footer .logo-footer {
    padding-top: 40px;
}
.my-course .side-bar-menu {
    margin-top: 30px;
}
.my-course .breadcrumb {
    background-color: #F3F3F3;
    border-bottom: 1px solid #DADADA;
    padding: 30px 30px 25px 0;
    margin-bottom: 10px;
    border-radius: 0;
}
.my-course .breadcrumb>li+li:before {
    font-family: "FontAwesome";
    content: "\f104";
    margin: 0 5px;
}
.my-course .breadcrumb a, .my-course .breadcrumb li {
    color: #000000;
}
.my-course .quick-description {
    margin-top: 30px;
}
.my-course {
    background-color: #F3F3F3;
    padding-bottom: 30px;
}
.course-detail {
    background-color: #F3F3F3;
    padding-bottom: 30px;
}
.course-detail .breadcrumb {
    background-color: #F3F3F3;
    border-bottom: 1px solid #DADADA;
    padding: 30px 30px 25px 0;
    margin-bottom: 10px;
    border-radius: 0;
}
.course-detail .breadcrumb>li+li:before {
    font-family: "FontAwesome";
    content: "\f104";
    margin: 0 5px;
}
.course-detail .breadcrumb a, .course-detail .breadcrumb li {
    font-size: 20px;
    color: #000000;
}
.course-detail .register-info .title {
    font-size: 20px;text-transform: uppercase;color: #000000;
    margin: 30px 0;
}
.course-detail .register-info .form-group {
    margin-bottom: 30px;
}
.course-detail .register-info .hotline {
    color: #000;
    margin: 10px 0;
}
.course-detail .video-intro {
    height: 424px;
    width: 100%;
    margin-top: 30px;
    background: #000;
}
.course-detail .detail .title {
    border-bottom: 1px solid #DADADA;
    color: #000;
    text-transform: uppercase;
}
.course-detail .detail {
    margin-top: 20px;
}
.course-detail .description {
    color: #000000;
    background-color: #ffffff;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid #DADADA;
}
.course-detail .description{
    line-height: 25px;
    font-size: 16px;
}
.course-detail .description .text-intro{
    line-height: 35px;
}
.course-detail .description .image-holder img {
    width: 100%;
}
.course-detail .description h3{
    text-transform: uppercase;
    font-size: 20px;
}
.course-detail .detail .title h3 {
    border-bottom: 1px solid #033692;
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 20px;
}
.course-detail .course-content .header {
    /*border-bottom: 1px solid #DADADA;*/
    padding-bottom: 10px;
    font-size: 16px;
}
.course-detail .course-content .header strong{
    color: #033692;
}
.course-detail .course-content .panel-categories .panel-title {
    border-bottom: none;
    border-top: 1px solid #DADADA;
    padding-top: 20px;

}

.course-detail .course-content .panel-categories a{
    font-size: 14px;
    color: #000000;
}
.course-detail .course-content .panel-categories a:hover{
    color: #003792;
}
.course-detail .course-content .list-item {
    list-style-type: none;
    padding-left: 0;
}
.course-detail .course-content .list-item li {
    padding-bottom: 5px;
}
.course-detail .course-content .list-item .item i{
    color: #d21c00;
    margin-right: 3px;
}
.course-detail .course-content .panel-group {
    margin-bottom: 0px;
}
.course-detail .categories-courses-main {
    margin: 20px 0;
}
@media (max-width: 1200px) {
    .header-slogan {
        font-size: 25px;
    }
    .categories .panel-categories .panel-heading {
        background-color: #ffffff;
        border: 2px solid #DADADA;
        padding: 25px;
    }
    .categories .side-bar-menu {
        margin-top: 30px;

    }
}
