body{margin:0;padding:0;background-color:#b2b2b2}
.knl_wrap{max-height:100%;position:relative}
.knl_sidebar{border:10px solid #232326;padding:0;position:absolute;left:0;top:0;z-index: 10;width:35%;float:left;min-width: 320px;background-color:#fff;transition:all .45s}
#tab_notes{padding:10px;font-size:13px;color:#585858}
#knl_wrap{min-width: 900px}
#knl_wrap.kn_side_off .knl_sidebar{left:-35%;position:absolute}
#knl_wrap.kn_side_off .knl_content{width:100%}
.toggle_side{font-size:20px;position:absolute;right:-50px;top:-10px;padding:6px 15px;background-color:#222;color:#A9A9A9;z-index:100}
.toggle_side:hover{color:#fff;cursor:pointer;text-shadow:0 0 20px #fff}
.knl_content{display:inline-block;position:relative;width:65%;float:right;transition:all .45s}
.knl_content_header{padding:10px 0 10px 40px;background-color:#333;color:#fff}
.knl_content_header .flag-border { border-right: 1px solid #ffffff;}
.knl_content_header .mana_flag {    float: right;
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 2px;}

.knl_content_header .mana_go_back{float:right;color:#fff;margin-right:15px;text-decoration:none!important}
.knl_content_header .mana_go_back:hover{color:#52eac3}
#section_num{display:inline-block;margin-right:15px;font-size:13px;background-color:#5a5a61;color:#202227;padding:0 10px}
#lesson_name{text-transform:uppercase;color:#fff;font-weight:700}
#tab_menu_content{overflow:auto;height: 92%;}
.knl_item{transition:background .1s;position:relative;border-bottom:1px solid #ddd;display:block}
.knl_item.disable{opacity:.3}
.knl_item:hover,.knl_item.active{background:#eee}
a.knl_item_a{text-decoration:none!important}
.knl_section{background-color:#d8d9dc!important;padding:5px 5px 5px 20px;color:#333}
.knl_section.course_name{background-color:#003792 !important;color:#fff;text-align:center;text-transform:uppercase}
.ci-progress-container{background:#fff;border:1px solid #e7e7e7;border-radius:50%;left:15px;line-height:0;padding:1px;position:absolute;top:9px;z-index:1;width:20px;height:20px}
.ci-info{border-left:1px solid #f0f0f0;margin-left:25px;padding:6px 0 10px 15px;position:relative;color:#353535}
.ci-progress-mask.complete{width:100%}
.ci-progress-mask{display:inline-block;overflow:hidden;width:0}
.ci-progress-mask:before{background-color:#003792;border-radius:50%;content:"";float:left;height:16px;width:16px;padding:2px}
.ci-go-to-item{display:none;position:absolute;top:42%;right:20px;font-size:12px;color:#fff;background:#003792;padding:2px 5px;border-radius:3px}
.knl_item.ci-completed .ci-title{color:#333;font-weight:400}
.ci-details-container{margin-top:3px;font-size:14px;display:inline-block}
.ci-details-container .fa{color:#003792}
.knl_item:hover .ci-go-to-start{display:block}
.knl_section h5{padding:0 10px}
#tag_menu_select{border-bottom:1px solid #ddd}
#tag_menu_select>.tab-button{box-shadow:none;border-radius:0;border:0;border-left:1px solid #eee;font-size:20px}
#tag_menu_select>.tab-button:first-child{border:0}
#tag_menu_select>.tab-button:hover{background-color:#f2f2f2}
#tag_menu_select>.tab-button.active{background-color:#003792;color:#fff;border:0}
#knl_content_lesson.text{padding:15px;background-color:#eee;overflow:auto}
#knl_content_lesson ol li{margin-left:20px}
#knl_content_lesson iframe{width:100%;padding:0 -15px}
#knl_content_lesson #jw_player_wrapper{margin:0 auto}
#knl_control{padding-top:5px;width:90%;margin:0 auto}
#knl_control .fa.auto_play{font-size:28px;color:#fff;background-color:#3fb395;border-radius:3px;padding:0 5px;position:relative;top:4px}
#knl_control .fa.fa-toggle-off{background-color:transparent}
#knl_control .fa{font-size:20px;margin-right:10px;cursor:pointer;text-decoration:none!important}
#knl_control .mission{float:right;color:#333;display:inline-block;border-radius:50%;background-color:#fff;padding:5px;font-size:20px}
#knl_control .mission:hover,#knl_control .mission.complete{color:#fff;background-color:#3fb395}
#effect_add_money{position:absolute;right:88px;bottom:5px;color:#23E723;font-weight:700;font-size:18px;text-shadow:0 0 10px #18774C}
.fa-fast-backward,.fa-fast-forward{background-color:#eee;border-radius:50%;padding:9px;color:#06c}
.fa-fast-backward:hover,.fa-fast-forward:hover{background-color:#ddd}
.fa-fast-backward:active,.fa-fast-forward:active{background-color:#ccc}
#tab_mission{position:relative}
#tab_mission .mission_list:before{content:'';position:absolute;width:100%;height:20px;background:url(/media/images/sprites.png) 0 -943px;top:0}
#tab_mission .mission_list{list-style-type:none;padding:0;margin:0}
#tab_mission .mission_list div{display:inline-block}
#tab_mission .mission_list li{border-bottom:1px solid #ccc;padding:8px 10px}
#tab_mission .mission_list li.head{font-weight:700}
#tab_mission .mission_list li.complete div{text-decoration:line-through}
#tab_mission .mission_list li>div:first-child{width:62%;vertical-align:middle}
#tab_mission .mission_list li>div:nth-child(2){width:20%;text-align:center}
#tab_mission .mission_list li>div:nth-child(3){width:15%;text-align:center}
#sidebar_process{position:absolute;margin-top:25px;width:100%}
#sidebar_process .progress{margin:0;width:90%;display:inline-block}
#sidebar_process .fa-graduation-cap{font-size:24px;color:#ddd;text-decoration:none!important}
#sidebar_process .fa-graduation-cap.gold{color:#428BCA;text-shadow:0 0 20px #fff}
a.active_all_lesson{padding:8px 15px;background-color:#3fb395;color:#fff;text-decoration:none!important;cursor:pointer}
a.active_all_lesson:hover{background-color:#379e84}
.no_lesson_text b{color:#c00}
.center{text-align:center}
.clear{clear:both}
.underline{text-decoration:underline}
.red-color{color:#db0000}
#knl_content_lesson img{max-width:100%;margin: 0 auto;display: block}
#knl_content_lesson ol li.answers label{width:100%}
#knl_content_lesson ol li.answers label>input{margin-right:10px}
#knl_content_lesson ol li.answers label p span{font-weight:400!important;font-size:14px!important}
#frm_lesson_quiz>h2{color:#3FB395;text-align:center}
#frm_lesson_quiz .q_bottom .btn{background-color:#3FB395;color:#fff}
#frm_lesson_quiz .q_bottom .btn:hover{background-color:#379e84}
.modal-content .p_bound,.jconfirm-box .p_bound{width:100%!important}
#tab_notes ul>li a{display:inline-block;width:100%;padding:5px 10px;background-color:#eee;margin:5px 0;color:#06c;text-decoration:none!important}
#tab_notes img{max-width:100%}
#tab_notes ul>li a:hover{background-color:#ddd}
#tab_notes ul>li a:before{content:"\f045";font:normal normal normal 14px/1 FontAwesome;margin-right:5px}
#tab_notes ul>li a.download:before{content:"\f019"}
.kn_comment_wrap{margin-bottom:50px}
#kn_lesson_com{font-family:"Open Sans",sans-serif;font-size:14px}
#kn_lesson_com img.media-object{width:40px;height:40px}
#kn_lesson_com img.media-object:hover{border-radius:10%;box-shadow:0 0 1px #ccc}
#kn_lesson_com img.media-object:active{box-shadow:0 0 1px #333}
#kn_lesson_com .media{margin-top:10px}
#kn_lesson_com .media input{margin:15px 0;display:none}
.btn_com_more{margin:10px 0;background-color:#003792 !important;color:#fff!important}
.tmp_child{margin:0;transistion:.3s}
#kn_lesson_com a.fa{text-decoration:none!important;color:#ccc;cursor:pointer; display: inline-block; margin-right: 10px}
.tlk_ico{}
#kn_lesson_com .media:hover>.media-body>.tlk_ico{display:inline-block}
#kn_lesson_com a.fa:hover{color:#20AC7F}
span.kn_com_like{font-size:.8em;color:#ccc;display: inline-block;margin-left:0}
textarea.form-control:focus{box-shadow:none;border-color:#219689}
textarea{resize:vertical}
.media-body strong.media-heading.dv{color:#1d9b72}
.media-body strong.media-heading{display:inline-block;margin-top:-3px}
.media-body strong.media-heading + span{font-size:.8em}
.btn.btn_submit_post{background-color:#003792;color:#fff;padding:5px 15px;margin-top:10px;outline:none}
.btn.btn_submit_post:hover{background-color:#157FB9}
.kqa_wrap{padding:10px}
.kqa_row{border:1px solid #a9a9a9;border-radius:3px;margin:15px 0;padding:5px}
.kqa_row .kqa_ans{margin-top:15px}
.kqa_row .ques_high{font-size:1.6em;font-weight:700}
.kqa_row .ques_high.ans{color:#06c}
.kqa_ques{padding-bottom: 15px; border-bottom: 1px solid #eee;}
.kqa_ques .ques_title{display:inline-block;font-size: 1.1em;line-height: 1.3;margin-bottom: 8px;}
.kqa_ques .ques_inf{float:right}
.kqa_ques .clearfix .col-sm-6{padding: 0}
.kqa_ans_waiting{margin-top:10px;color:#9B9B9B}
.kqa_ans_content,.kqa_ques .ques_inf{color:#6F6F6F;font-size: 11px;line-height: 21px;margin-bottom: 8px;}
.kqa_row .kn_follow,.kqa_row .kn_like,.kqa_row .like_desc{color:#06c}
.kqa_row .qa_social_btn{display:inline-block;margin-right: 36px;font-size: 10px;padding: 4px;background-color: #EDEDED;color: #627588;border-radius: 4px;text-decoration: none; position: relative;}
.kqa_row .qa_social_btn>span{position: absolute; right: -30px; border: 1px solid #eee; top: 3px;width: 30px;color: #000;text-align: center;font-size: 12px;border-radius: 4px;height: 18px;}
.kqa_row .qa_social_btn>.fa-heart{color: #FFF;text-shadow: 1px 1px 1px #A8A8A8;}
.kqa_row .qa_social_btn:hover{background-color:#2BA028;color: #fff }
.kqa_row .qa_social_btn>span:before, .kqa_row .qa_social_btn>span:after{ right: 100%; top: 50%;  border: solid transparent; content: " ";  height: 0; width: 0;  position: absolute; pointer-events: none;}
.kqa_row .qa_social_btn>span:before{ border-color: rgba(194, 225, 245, 0);  border-right-color: #eee;  border-width: 6px; margin-top: -6px;}
.kqa_row .qa_social_btn>span:after{ border-color: rgba(136, 183, 213, 0); border-right-color: #fff; border-width: 5px;margin-top: -5px;}
#kqa_tab_content{border:1px solid #e4e4e4;padding:5px;margin:10px 0 15px;border-radius:5px;position:relative;box-shadow:none;max-width:100%;display:block}
#kqa_tab_content>.arrow.discus{display:block!important;left: 55px;}
#kqa_tab_content>.arrow.search{display:block!important;left: 155px;}
#kqa_tab{margin-top:10px}
#kqa_tab_content input:focus,#kqa_tab_content button:focus{outline:none;box-shadow:none!important}
#kqa_view_more,.kqa_ques_input .btn{padding:7px 10px;box-shadow:none;background-color:#003792;border:none;color:#fff}
#knl_control{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-button{width:0;height:0}
::-webkit-scrollbar-thumb{background:#003792;border:0}
::-webkit-scrollbar-thumb:hover{background:#5fadb8}
::-webkit-scrollbar-thumb:active{background:#60afba}
::-webkit-scrollbar-track{background:transparent;border:0}
::-webkit-scrollbar-track:hover{background:#eee}
::-webkit-scrollbar-track:active{background:#eee}
::-webkit-scrollbar-corner{background:transparent}