html {
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	color: #666666;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
    padding-bottom: 0;
}

.header-menu{
	background: none;
	border: none;
}
ul.main-menu li a{
	font-size: 15px;
}
ul.main-menu > li.active > a{
	background: none !important;
}
.btn-regis-slider{
	border-radius: 0;
	background: none;
	border-color: #fff;
	border-width: 2px;
}
.btn-regis-slider:hover{
	background: none;
	border-color: #fff;
}
.carousel-caption{
	top:150px;
}
.logo-slider{
	padding-bottom: 60px;
}
.carousel-caption p{
	margin-bottom: 15px;
}
.carousel-indicators{
	bottom: 0px;
}
/** Intro section **/
.intro-heading{
	color: #0091ea;
	text-align: center;
	font-size: 30px;
}
hr{
	border-color: #0091ea;
	margin-top: 35px;
}
.text-intro{
	padding-top: 20px;
	width: 968px;
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
}
.main-color{
	color: #0091ea;
}
.circle-content{
	margin-top: 20px;
	padding-top: 50px;
}
.circle{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 2px solid #0091ea;
	text-align: center;
	float: left;
	/*margin-left: 20px;*/
}
.arrow-circle{
	background: url('../imgs/4_Arrow.png') no-repeat right;
	height: 250px;
    width: 50px;
    float: left;
    margin-left: 60px;
}
.circle-middle{
	margin-left: 50px;
}
.circle-last{
	float: right;

}
.arrow-circle-second{
	margin-left: 80px;
}
.circle-text{
	margin-top: 60px;
}
.circle p{
	color: #0091ea;
	font-size: 20px;
	margin-bottom: 0px;
}
.circle-middle .circle-text{
	margin-top: 110px;
}
.circle:hover{
	background: #0091ea;
}
.circle-last .circle-text{
	margin-top: 90px;
}
.circle:hover .circle-text p{
	color: #fff;
}
/** Text details **/
.text-details{
	padding-top: 40px;
	width: 968px;
	margin: 0 auto;
}
.text-details-content{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 18px;
	text-align: justify;
}
/** Section Description of Product **/
.section-desc{
	margin-top: 30px;
	background: url('../imgs/1_BG/3_BG3.png') no-repeat center;
	height: 280px;
}
.section-desc-text-inner{
	padding-top: 50px;
	width: 968px;
	margin: 0 auto;
	font-size: 32px;
	color: #fff;
	text-align: center;
}
.study-heading{
	margin-top: 30px;
}
.header-intro-text{
	/*width: 300px;*/
	margin: 0 auto;
}
.header-intro-text p{
	font-size: 16px;
	text-align: center;
}
.content-collapse{
	width: 600px;
	margin: 0 auto;
}
.panel-group .panel{
	border-radius: 0;
}
.panel-default{
	border: 3px solid #0091ea;
}
.panel-heading{
	border-bottom: none;
	height: 60px;
}
.panel-default>.panel-heading{
	background-color: #fff;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: none;
}
.circle-bullet{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #0091ea;
	display: block;
	float: left;
	padding: 7px 7px 7px 7px;
	text-align: center;
    font-size: 20px;
    color: #0091ea;
}
.panel-title{
	height: 40px;
}
.panel-title a{
	font-size: 16px;
	padding: 20px 20px;
	line-height: 37px;
	color: #0091ea;
	text-decoration: none;
	font-weight: bold;
  text-transform: uppercase;
}
.panel-body{
	color: #000;
	font-size: 16px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #0091ea;         /* adjust as needed */
    font-size: 15px;
    font-weight: normal;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.study-method{
	background-color: #0091ea;
  padding: 40px 0px;
  margin: 30px 0px;
}
.study-method .intro-heading{
	color: #fff;
}
.study-method hr{
	border-color: #fff;
}
/** Study methods **/
.circle-method{
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    /*float: left;*/
}
.circle-pencil{
    background: url("../imgs/14_Pencil.png") no-repeat center;
}
.circle-calendar{
    background: url("../imgs/12_Calendar.png") no-repeat center;
}
.circle-question{
    background: url("../imgs/13_QuestionMark.png") no-repeat center;
}
.circle-house{
    background: url("../imgs/15_Museum.png") no-repeat center;
}
.study-method-text h4{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.study-method-text p{
    color: #fff;
    font-size: 14px;
    text-align: center;
}
/** Registration **/
.registration{
    padding-top: 30px;
}
.registration .intro-heading{
    font-weight: bold;
}
.resgistration-border{
    border: 3px solid #0091ea;
}
.text-intro-regist p{
    text-align: center;
    font-size: 19px;
}
.form-control{
    font-size: 18px;
    color: #000;
    border: 1px solid #000;
    height: 45px;
    padding: 10px 20px;
}
.button-regist{
    width: 250px;
    margin: 0 auto;
}
.btn-regist{
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0;
    border: 2px solid #0091ea;
    background-color: #0091ea;
}
.information-text p{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}
footer{
    background-color: #131f33;
    margin-top: 30px;
    /*position: fixed;*/
}
.footer{
    width: 968px;
    margin: 0 auto;
    /*min-height: 50px;*/

}
.footer-logo{
    margin-top: 80px;
    margin-bottom: 80px;
}
.clearfix{
    clear: both;
}
.footer .footer-text-center, .footer-hot-line{
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
}
.footer-text-center h4{
    font-weight: bold;
}
.footer-text-center .company-address, .footer-hot-line .company-address{
    text-decoration: underline;
    font-size: 13px;
}
.navbar-inverse .navbar-nav>li>a  {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: bold;
}
.menufix {
  background: rgba(0, 0, 0, 0.9);
  padding-bottom: 10px
}
#navbar { margin-top: 10px}
