body {
	color: #FFFFFF;
	font-size: 14px;
	font-family: Roboto;
}
@font-face {
   font-family: Sans-Light;
    src: url(../fonts/source-sans-pro.extralight.ttf);
}
@font-face {
   font-family: Sans-Regular;
    src: url(../fonts/source-sans-pro.regular.ttf);
}

@font-face {
   font-family: Sans-Bold;
    src: url(../fonts/source-sans-pro.bold.ttf);
}

@font-face {
   font-family: Open-Bold;
    src: url(../fonts/open-sans.bold.ttf);
}
@font-face {
	font-family: Open-Sans;
	src: url(../fonts/open-sans.light.ttf);
}

header {
	background: url('../images/bg/banner_Mana.png');
	background-position: center center;
	background-size: cover;
}
a:hover {
	text-decoration: none;
}
.header .container {
	height: 720px;
}
.header-slogan {
	font-size: 39px;
	margin-bottom: 70px;
	/*font-family: Open-Bold;*/
}
.bg-countdown {
	width: 129px;
	height: 157px;
	background: #3e3e3e;
	border-radius: 7px;
	font-size: 89px;
	padding-top:14px;
	/*font-family: Sans-Bold*/
	font-weight: bold;
}
.space {
	/*font-family: Sans-Bold;*/
	font-size:69px;height: 157px;
	line-height: 143px;
	text-align: right;
}
.countdown {
	padding-left: 43px;
}
.name-time {
	position: absolute;
	top: -36px;
	left: 87px;
	font-size: 19px;
	font-family: sans-serif;
}
#countbox {
	margin-bottom: 47px;
}
.line-center {
	border: 1px solid #000;
	margin-top: -62px;
	position: absolute;
	z-index: 1;
	width: 129px;
}
/*END HEADER*/
.wapper {
	color: #666666;
}
.science-title {
	font-size: 37px;
	color:#3e3e3e;
	margin-top: 48px;
	/*font-family: Sans-Light;*/
}
.science-title span {
	/*font-family: Sans-Bold;*/
	font-weight: bold;
}

.benefit span{
	color: #003792;
	padding-right: 19px;
	float: left;
}
.science-bottom a{
	color :#003792;
	/*font-family: Sans-Bold;*/
	font-weight: bold;
}
.science-bottom {
	min-height: 40px;
	margin-top: 40px;
}
.science-content {
	/*font-family: Sans-Regular;*/
	color: #000000;
}
.science-content ul {
	list-style-type:none ;
	margin-top: 19px;
	padding-left: 0;
}
.science-content ul li{
	margin-bottom: 6px;
}
.science-content ul li i{
	margin-right: 9px;
}
.science-content ul li a {
	color: #000000;
}
.science-content ul li a:hover {
	color: #003792;
	text-decoration: none;
}

.line {
	width: 100%;
	margin-bottom: 39px;
}
.partner {
	background: #f3f3f3;
}
.partner .bx-wrapper img {
	width: 270px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.icon-logo {
	margin-top: 29px;
}
footer {
	background: #131f33;
	padding-bottom: 40px;
}
footer .address {
	margin-top: 36px;
	/*font-family: Open-Sans;*/
}
footer .address div {
	margin-bottom: 4px;
}

.menu-top, .menu-top .navbar-default {
	background-color: #FFF;
}
.menu-top .banner {
	z-index: 9999;
}
.menu-top .banner, .menu-top .menu {
	margin-bottom: 0px;
}
.menu-top .menu {
	background-color: #132033;

}
.menu-top .menu ul > li > a {
	color: #ffffff;
	text-transform: uppercase;
}
.menu-top .menu ul  li ul a {
	color: #000;
	font-weight: bold;
	margin: 10px 0;
	display: inline-block;
}
.menu-top .menu ul  li ul li ul li a:hover {
	color: #033692;
	/*text-decoration: underline;*/
	/*border-bottom: 1px solid #033692;*/
}
.menu-top .expand-dropdown-menu {
	color: #033692 !important;
}
#navbar_menu >  ul > li > ul > li > a {
	color: #033692 !important;
}
#navbar_menu ul.nav.navbar-nav:after {
	display: inline-block;
	content: "";
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
}
#navbar_menu .nav {
	text-align: justify;
	height: 50px;
}
#navbar_menu .navbar-nav > li {
	float: none;display: inline-block;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
	border-color: transparent;
}
.menu .icon-bar {
	background-color: #FFF;
}
.multi-level li {
	float: left;
}

#lesson {
	color:#000000;
}

/* CSS used here will be applied after bootstrap.css */.nav { margin-bottom: 0; }
.menu .nav > li.dropdown.open { position: static; }
.menu .nav > li.dropdown.open .dropdown-menu {padding: 20px 5px;display:table; width: 100%; text-align: center; left:0; right:0; background-color: #F3F3F3;}
.menu .dropdown-menu>li { display: table-cell; }
.menu .nav > li.dropdown.open .dropdown-menu .collapse { display: block;}
.menu .open a:before {
	content: "";
	width: 0;
	height: 0;
	border: 6px solid #F3F3F3;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 0px solid transparent;
	position: absolute;
	/*left: 10%;*/
	bottom: -1%;
	margin-left: 38%;
	z-index: 100;
	/*background-color: #F3F3F3;*/
}
.font_16px {
	font-size: 16px;
}
.menu .dropdown .right {
	border-left: 1px solid #cacaca;
	/*padding: 5px 0;*/
	/*margin: 10px 0;*/
}
.menu .dropdown .left {
	/*padding: 5px 0;*/
	/*margin: 10px 0;*/
}
.dropdown .menu-item {
	text-align: left;
	min-height: 72px;
}
.dropdown .right .menu-item, .dropdown .left .menu-item {
	min-height: 82px;
}
.dropdown .expand-dropdown-menu a {
	text-transform: capitalize !important;
}
.dropdown li {
	list-style-type: none;
}
.navbar-brand {
	padding: 0px; /* firefox bug fix */
	display: block;
	margin-top: 8px;
}
.dropdown-menu>li>a {
	white-space: normal;
}
.navbar-brand>img {
	height: 100%;
	padding: 0px; /* firefox bug fix */
	margin-left: 5px;
	width: auto;
}
.contact a {
	padding:2px !important;
	font-weight: bold;
}

.contact a i {
	color: #DE6D62;
}

.career-search-form .form-search{
	padding: 20px;
	margin-top: 10px;
}

.career-search-form .form-control-feedback {
	padding: 5px;
}

.header-text {
	font-size: 25px;
	margin: -20px 0px 20px 0px;
	font-weight: 300;
}
.header-slogan {
	margin-top: 30px;
	font-weight: bold;
}

.header .container {
	height: auto !important;
}

.subject-text {
	margin-top: 15px;
	color: #000000;
	font-weight: bold;
}

.btn-see-all {
	background-color: #d21c00;
	border: none;
	color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-see-all:hover {
	background-color: #d21c00;
	border: none;
	color: #ffffff;
}
.subject-item {
	display: block;
	text-align: center;

	margin-bottom: 20px;
}
.subject-items {
}

.btn-register {
	background-color: #d21c00;
	border: none;
	color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;
	text-transform: uppercase;
}
.btn-register:hover {
	background-color: #d21c00;
	border: none;
	color: #ffffff;
}

.custom-select-box:after{
	font-family: "FontAwesome";
	content: "\f078";
	text-align: center;
	line-height: 32px;
	position: absolute;
	width: 32px;
	height: 26px;
	background: #fff;
	right: 18px;
	top: 5px;
	font-size: 14px;
	pointer-events: none;
}

.join-class {
	margin-right: 40px;
}

#navbar_menu>ul>li>a {
	text-align: center;
}

.benefit-item {
	margin-bottom: 30px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.header-logo {
	max-width: 100%;
}
.register-home {
	position: relative;
}
.register-home:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	/*background-image: url(http://www.petscareblog.com/wp-content/uploads/2011/03/kucing.jpg);*/
	opacity: 0.1;
	background: url("../images/mana-alternative-07.png") top center;
	background-repeat: no-repeat;
	background-size: 50%;
}
.register-home input {
	position: relative;
	z-index: 2;
}

.register-home input, .register-home select {
	background: transparent;
}

.header-search-form {
	padding-top: 10px;
	margin-left: 20px;
}
.header-search-form .form-group{
	margin-bottom: 0px !important;
}
.header-search-form .form-search {
	box-shadow: none;
	border-color:transparent !important;
	background-color: #EEEEEE;
}
.header-search-form .form-control-feedback {
	color: #C7C7C7;
	top: 4px;
}
#navbar .join-class, #navbar .contact {
	padding-top: 7px;padding-bottom: 7px;
}

.categories-courses-header {
	padding: 50px 0;
}
.categories-courses-header .image-holder {
	border: 2px solid #FFF;
	border-radius: 4px;
	padding: 0px;
	background-color: #FFF;
	min-height: 150px;
	width: 150px;
}
.categories-courses-header .image-holder img {
	/*border: 2px solid #FFF;*/
	/*border-radius: 4px;*/
	width: 90%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.categories-courses-header h3 {
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
}

.register {
	background-color: #C7C7C7;
	padding-bottom: 50px;
	color: #000;
	/*font-family: Sans-Regular;*/
}

.register .science-title {
	margin-bottom: 50px;
}

input.form-control {
	padding: 20px;
}
select.form-control {
	height:42px;
}

.register .btn-register {
	margin: 20px 0;
}

.categories-courses-main {
	color: #000;
	margin: 20px 15px;
}

.categories-courses-main .courses-list .course-item {
	background-color: #ffffff;
	padding: 30px 0;
	border: 2px solid #DADADA;
	margin-top: 20px;
}

.categories-courses-main .courses-list .course-item h3{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
}
.categories-courses-main h3 a {

	color: #000;
	font-weight: bold;
}
.categories-courses-main .course-item .created-by {
	margin-top: 10px;
	margin-right: -15px;
}
.categories-courses-main .course-item .created-by .name{
	line-height: 32px;
	font-size: 16px;
}
.categories-courses-main .course-item .created-by .name, .categories-courses-main .course-item .created-by .avatar{
	padding-left: 0px;
}
.categories-courses-main .quick-description {
	border-bottom: 1px solid #e7e7e7;
}

.categories-courses {
	background-color: #F3F3F3;
	padding-bottom: 50px;
}

.categories-courses-main .header {
	padding-bottom: 12px;
	border-bottom: 1px solid #C7C7C7;
}
.categories-courses-main label {
	line-height: 40px;
}
.categories-courses-main .count {
	font-size: 30px;
	padding-left: 0px;
}
.categories-courses-main .form-search {
	padding-right: 0;
}

.categories-courses-main .custom-select-box label {
	margin-right: 20px;
}
.categories-courses-main .custom-select-box select {
	width: 100%;
}
.quick-description .combo {
	background-color: #D11C00;
	display: inline-block;
	color: #FFF;
	padding: 5px 10px;
	margin-right: 10px;
}
.categories-courses .side-bar-menu {
	background-color: #ffffff;
	margin-top: 30px;
	border: 2px solid #DADADA;
}
.categories-courses .panel-group {
	margin-bottom: 0px;
}
.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: "FontAwesome";
	content: "\f077";
	/*font-family: 'Glyphicons Halflings';  !* essential for enabling glyphicon *!*/
	/*content: "\e114";    !* adjust as needed, taken from bootstrap.css *!*/
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\f078";    /* adjust as needed, taken from bootstrap.css */
}

.categories-courses a {
	color: #000000;
}
.panel-categories>.panel-heading {
	color: #000000;
	background-color: #ffffff;
	border-color: transparent;
	padding-bottom: 0px;
	margin-bottom: -1px;
}
.panel-categories {
	color: #000;
	border-color: transparent;
	box-shadow: none;
}
.panel-categories .panel-title {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;
}
.panel-categories .panel-body {
	padding: 0px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
	border-top: none;
}
.categories-courses li {
	list-style-type: none;
}

.categories-courses .side-bar-menu .list-item {
	padding-left: 0px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
	font-family: "FontAwesome";
	display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #063B94; font-size: 25px; vertical-align: middle; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */





.checkbox label.parent:before {
	font-family: "FontAwesome";
	display: inline-block;
}

.checkbox label.parent:before { content: "\f0c8"; color: #063B94; font-size: 25px; vertical-align: middle; } /* unchecked icon */
.checkbox label.parent:before { letter-spacing: 10px; } /* space between checkbox and label */


.categories .side-bar-menu, .my-course .side-bar-menu {
	background-color: #ffffff;
	margin-top: -130px;
	border: 2px solid #DADADA;
}

.categories .side-bar-menu ul, .my-course .side-bar-menu ul {
	padding-left: 0;
	margin-bottom: 0px;
	list-style-type: none;
}

.categories .side-bar-menu ul li, .my-course .side-bar-menu ul li {
	border-bottom: 1px solid #DADADA;
}

.categories .side-bar-menu ul li a , .my-course .side-bar-menu ul li a {
	line-height: 40px;
	color: #000000;
	font-size: 16px;
	padding-left: 40px;
}
.categories .side-bar-menu ul li a:hover , .my-course .side-bar-menu ul li a:hover, .categories .side-bar-menu ul li.active a , .my-course .side-bar-menu ul li.active a {
	color: #003792;
	font-weight: bold;
}

.categories .btn-see-all, .my-course .btn-see-all {
	background-color: #fff;
	border: 2px solid #d21c00;
	color: #d21c00;
	padding-left: 25px;
	padding-right: 25px;
}

.categories .btn-see-all:hover, .my-course .btn-see-all:hover {
	background-color: #d21c00;
	color: #fff;
	display: inline-block;position: relative;
}
/*.categories .btn-see-all {*/
/*display: inline-block;*/
/*position: relative;*/
/*border: 2px solid #FFF;*/
/*overflow: hidden;*/
/*outline: none;*/
/*color: #FFF;*/
/*}*/

.categories .btn-see-all span, .my-course .btn-see-all span {
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.categories .btn-see-all:before,
.categories .btn-see-all:after, .my-course .btn-see-all:before, .my-course .btn-see-all:after {
	content: '';
	position: absolute;
	/*top: 0.67em;*/
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
}

/* :before */

.categories .btn-see-all:before, .my-course .btn-see-all:before {
	content: attr(data-hover);
}

/* :after */


/* Span on :hover and :active */

.categories .btn-see-all:hover span,
.categories .btn-see-all:active span, .my-course .btn-see-all:hover span, .my-course .btn-see-all:active span {
	opacity: 0;
}

/*
    We show :before pseudo-element on :hover
    and :after pseudo-element on :active
*/

.categories .btn-see-all:hover:before,
.categories .btn-see-all:active:after, .my-course .btn-see-all:hover:before, .my-course .btn-see-all:active:after {
	opacity: 1;
}

/*
  We hide :before pseudo-element on :active
*/

.categories .btn-see-all:active:before, .my-course .btn-see-all:active:before{
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.categories .panel-categories .panel-title {
	border-bottom: 0px;
	margin-top: 10px;
}
.categories .panel-categories .panel-heading {
	background-color: #ffffff;
	border: 2px solid #DADADA;
	padding: 25px 25px 25px 0px;
}
.categories .panel-categories {
	background-color: transparent;
}
.categories .panel-categories .intro{
	margin-top: 20px;
}
.categories {
	background-color: #F3F3F3;
}
.categories .panel-categories .list-item a{
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}
.categories .panel-categories .list-item a:hover{
	color: #003792;
	font-weight: bold;
}
.categories .panel-categories .list-item li{
	border-bottom: 1px solid #DADADA;
}
.categories .panel-categories .image-holder{
	margin-bottom: 30px;
}
.categories .categories-item {
	margin-top: 30px;
}
.login {
	background-color: #ffffff;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 50px;
}
.login .form-group {
	margin-bottom: 25px;
}
.login .line {
	margin-bottom: 15px;
}
.login .option-login label, .login .option-login a {
	color: #000;
}
.login .option-login label {
	padding-left: 0px;
}
.login .option-login a {
	line-height: 28px;
	display: inline-block;
	margin-top: 4px;
}
.login .option-login .remember {
	border-right: 1px solid #DADADA;
}
.login .checkbox {
	padding-top: 3px;
}
footer .logo-footer {
	padding-top: 40px;
}
.my-course .side-bar-menu {
	margin-top: 30px;
}
.my-course .breadcrumb {
	background-color: #F3F3F3;
	border-bottom: 1px solid #DADADA;
	padding: 30px 30px 25px 0;
	margin-bottom: 10px;
	border-radius: 0;
}
.my-course .breadcrumb>li+li:before {
	font-family: "FontAwesome";
	content: "\f104";
	margin: 0 5px;
}
.my-course .breadcrumb a, .my-course .breadcrumb li {
	color: #000000;
}
.my-course .quick-description {
	margin-top: 30px;
}
.my-course {
	background-color: #F3F3F3;
	padding-bottom: 30px;
	min-height: 700px;
}
.course-detail {
	background-color: #F3F3F3;
	padding-bottom: 30px;
}
.course-detail .breadcrumb {
	background-color: #F3F3F3;
	border-bottom: 1px solid #DADADA;
	padding: 30px 30px 25px 0;
	margin-bottom: 10px;
	border-radius: 0;
}
.course-detail .breadcrumb>li+li:before {
	font-family: "FontAwesome";
	content: "\f105";
	margin: 0 5px;
}
.course-detail .breadcrumb a, .course-detail .breadcrumb li {
	font-size: 20px;
	color: #000000;
}
.course-detail .register-info .title {
	font-size: 20px;text-transform: uppercase;color: #000000;
	margin-bottom: 10px;
	margin-top: 30px;
}
.course-detail .register-info .form-group {
	margin-bottom: 10px;
}
.course-detail .register-info .hotline {
	color: #000;
	margin: 10px 0;
}
.course-detail .video-intro, .course-detail .jwplayer {
	/*min-height: 424px;*/
	width: 100%;
	margin-top: 30px;
	/*background: #000;*/
}
.course-detail .detail .title {
	border-bottom: 1px solid #DADADA;
	color: #000;
	text-transform: uppercase;
}
.course-detail .detail {
	margin-top: 20px;
}
.course-detail .description {
	color: #000000;
	background-color: #ffffff;
	margin-top: 25px;
	padding: 25px;
	border: 2px solid #DADADA;
}
.course-detail .description{
	line-height: 25px;
	font-size: 16px;
}
.course-detail .description .text-intro{
	line-height: 35px;
}
.course-detail .description .image-holder img {
	width: 100%;
}
.course-detail .description h3{
	text-transform: uppercase;
	font-size: 20px;
}
.course-detail .detail .title h3 {
	border-bottom: 1px solid #033692;
	display: inline-block;
	margin-bottom: -1px;
	padding-bottom: 20px;
}
.course-detail .course-content .header {
	/*border-bottom: 1px solid #DADADA;*/
	padding-bottom: 10px;
	font-size: 16px;
}
.course-detail .course-content .header strong{
	color: #033692;
}
.course-detail .course-content .panel-categories .panel-title {
	border-bottom: none;
	border-top: 1px solid #DADADA;
	padding-top: 20px;

}

.course-detail .course-content .panel-categories a{
	font-size: 14px;
	color: #000000;
}
.course-detail .course-content .panel-categories a:hover{
	color: #003792;
}
.course-detail .course-content .list-item {
	list-style-type: none;
	padding-left: 0;
}
.course-detail .course-content .list-item li {
	padding-bottom: 5px;
}
.course-detail .course-content .list-item .item i{
	color: #d21c00;
	margin-right: 3px;
}
.course-detail .course-content .panel-group {
	margin-bottom: 0px;
}
.course-detail .categories-courses-main {
	margin: 20px 0;
}
.course-detail .detail .teachers .item {
	margin-top: 15px;
}
.register-scroll .register-info{
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #DADADA;

}
.register-scroll-on-bottom .register-info{
	bottom: 300px;
	top: inherit !important;
}
.header .about .text-intro {
	font-size: 16px;
	padding-bottom: 70px;
	padding-left: 30px;
	padding-right: 30px;
}
.text-bold {
	font-weight: bold;
}
.about .main {
	padding: 70px 0;
	color: #000;
	font-size: 16px;
}
.about .main h5 {
	font-size: 16px;
}
.about .main ul {
	line-height: 30px;
	list-style-type: none;
}
.about .main ul li span {
	font-weight: bold;
	display: inline-block;
	padding-right: 15px;
}
.about .main img {
	margin: 0 auto;
}
.about .main .big-text {
	font-size: 18px;
	margin-top: 30px;
	line-height: 30px;
}
.about .bottom {
	background-color: #f3f3f3;
	color: #000;
	padding: 50px 0;
	font-size: 16px;
	text-align: justify;
}
.about .bottom .item {
	min-height: 60px;
}
.about .bottom .text {
	margin-bottom: 20px;
}
@media (max-width: 1200px) {
	.header-slogan {
		font-size: 25px;
	}
	.categories .panel-categories .panel-heading {
		background-color: #ffffff;
		border: 2px solid #DADADA;
		padding: 25px;
	}
	.categories .side-bar-menu {
		margin-top: 30px;

	}
	.clock {
		display: none;
	}

	.register-home:before {
		background: none;
	}
}
@media (min-width: 1200px) {

	/*.register-relative .register-info {*/
		/*position: fixed;*/
		/*top: 50px;*/
	/*}*/
	.register-scroll .register-info {
		position: fixed;
		top: 50px;
	}
}
@media (max-width: 766px) {

	#navbar_menu .nav {
		height: auto;
	}
	#navbar_menu .navbar-nav > li {
		display: block;
	}
}
.btn_lite {
	cursor: pointer;
	display: inline-block;
	border: 0;
	border-radius: 3px;
	line-height: 34px;
	font-size: 12px;
	width: 120px;
	text-align: center;
	color: #FEF8EE;
	background-color: #43BF9F;
	font-weight: 700;
	text-decoration: none;
}
.btn_facebook_icon {
	width: auto;
	background-color: #446EC6;
	height: 45px;
	line-height: 45px;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
[class^=ico_], [class*=" ico_"] {
		font-family: FontAwesome;
}
.btn_facebook_icon .ico_facebook {
	width: 50px;
	text-align: center;
	float: left;
	background-color: #3B5999;
	font-size: 23px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ico_facebook:before {
	content: "\f09a";
}
.login .login-or-type {
	color: #000;
	border-top: 1px solid #dadada;
	text-align: center;
	position: relative;
	margin: 30px 0;
}
.login .login-or-type .text-or {
	position: absolute;
	top: -11px;
	left: 39%;
	display: inline-block;
	background-color: #fff;
	padding: 0 20px;
}
.avatar img {
	max-width: 100%;
	/*height: 100%;*/
	vertical-align: middle;
	border-radius: 50%;
}
.banner .avatar {
	line-height: 34px;
}
.banner .avatar .caret{
	color: #003792;
}
.mana-error {
	min-height: 700px;
	color: #000000;
	padding-top: 30px;
}

.register-relative {
	position: relative;
}
