@font-face {
    font-family: "lato-regular";
    src: url('../fonts/Lato-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "lato-light";
    src: url('../fonts/Lato-Light.ttf') format("truetype");
}
@font-face {
    font-family: "lato-medium";
    src: url('../fonts/Lato-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "lato-bold";
    src: url('../fonts/Lato-Bold.ttf') format("truetype");
}
body {
  font-family: "lato-regular";
}
body p{
  font-family: "lato-regular";
}
h2 {
  font-weight: bold;
}
#banner {
  background: url('../img/banner.jpg') no-repeat top center;
  background-size: cover;
  padding: 245px 0px 0px 0px;
  margin-top: -20px;
}
#banner h1 {
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  color: white;
}
#banner .text-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}
#banner .button {
  text-align: center;
}
#banner .button a {
  background: #003792;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 25px 100px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#banner .button a:hover {
  background: #013284;
}
#banner .text {
  text-align: center;
  margin: 65px 0px;
}
#banner .text-title {
  color: white;
}
#banner .text {
  color: white;
  font-size: 16px;
}
#intro .top {
  text-align: center;
}
#intro .container .top:before {
  background: url('../img/intro-top.png') no-repeat;
  content: '';
  height: 275px;
  width: 350px;
  position: absolute;
  left: 120px;
}
#intro .container .top:after {
  background: url('../img/intro-bottom.png') no-repeat bottom right;
  content: '';
  height: 370px;
  width: 100%;
  position: absolute;
}

#intro {
  background: #f4f5f6;
  padding-bottom: 235px;
}
#intro .container {
  position: relative;
}
#intro .top {
  padding: 90px 0px 48px 0px;
  position: relative;
}
#intro .container .top:before {
  top: 0px;
}
#intro .container .top:after {
  bottom: -25px;
  left: -180px;
}
#intro .container .top .text-title {
  color: #b0b1b4;
  margin: 15px 0px 40px 0px;
}
#intro .container .top .text-bottom {
  font-size: 18px;
  color: #4b4f56;
}
#intro .container .top h2 {
  margin: 25px 0px;
  line-height: 40px;
  font-family: "lato-light";
  font-weight: 300;
}
#intro .wrap-box {
  background: white;
  box-shadow: 0px 0px 9px 3px #f0f0f0;
  display: inline-block;
  position: absolute;
  bottom: -383px;
  width: 100%;
  left: 0px;
}
#intro .wrap-box .img {
  padding: 0px;
}
#intro .text h3 {
  font-size: 36px;
  font-weight: bold;
  color: #4b4f56;
  margin: 48px 0px 0px 0px;
}
#intro .wrap-box .text .line {
  display: inline-block;
}
#intro .wrap-box .text .line span {
  width: 40px;
  height: 2px;
  background: #003792;
  display: inline-block;
  position: relative;
  left: 2px;
}
#intro .wrap-box ul {
  padding: 0px;
  list-style: none;
  display: table;
  width: 100%;
  margin: 25px 0px;
}
#intro .wrap-box ul li {
  display: table-cell;
}
#intro .wrap-box ul li span.first {
  color: #003792;
  font-size: 32px;
  display: block;
  font-weight: bold;
}
#intro .wrap-box ul li span.last {
  font-size: 18px;
}
#intro .wrap-box p {
  font-size: 18px;
  line-height: 30px;
}
#etiquette-course {
  margin-top: 170px;
}
#etiquette-course h2 {
  text-align: center;
  line-height: 45px;
  color: #4b4f56;
  font-weight: bold;
  font-size: 36px;
  margin-top: 60px;
}
#etiquette-course .line {
  text-align: center;
  display: inline-block;
  width: 100%;
}
#etiquette-course .line span {
  width: 50px;
  height: 3px;
  background: #003792;
  display: inline-block;
}
#etiquette-course ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 48px 0px;
  padding: 0px;
}
#etiquette-course ul li {
  width: 25%;
  float: left;
  text-align: center;
}
#etiquette-course ul li img {
  margin: 0px auto 30px;
}
#etiquette-course ul li .title {
  color: #003792;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
#etiquette-course ul li p{
  color: #4b4f56;
  font-size: 18px;
  margin-top: 5px;
}
#etiquette-course .wrap-box {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
}
#etiquette-course .wrap-box .wrap .box{
  background: white;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  height: 150px;
}
#etiquette-course .wrap-box .wrap .box .media-body {
  color: #4b4f56;
  font-weight: bold;
  font-size: 18px;
}
#etiquette-course .wrap-button {
  text-align: center;
}
#etiquette-course .wrap-button a {
  background: #d21c00;
  color: white;
  padding: 25px 70px;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
#etiquette-course .wrap-button a:hover {
  text-decoration: none;
  background: #bf1900;
}
#author .top{
  margin: 90px 0px 0px 0px;
  background: #003792;
  padding: 60px 0px 230px 0px;
}
#author .top .text {
  color: white;
}
#author .top .text h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
}
#author .top .text .line span {
  display: inline-block;
  width: 50px;
  height: 3px;
  background: white;
}
#author .top .text ul {
  padding: 0px;
  margin: 50px 0px 0px 15px;
}
#author .top .text ul li {
  margin: 20px 0px;
  font-size: 18px;
  font-weight: normal;
}
#author .bottom {
  background: white;
  position: relative;
}
#author .bottom h2 {
  text-align: center;
  color: #4b4f56;
  line-height: 40px;
  margin: 48px 0px 30px 0px;
}
#author .bottom .line {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 45px;
}
#author .bottom .line span {
  width: 50px;
  height: 3px;
  background: #003792;
  display: inline-block;
}
#author .bottom .text {
  font-size: 18px;
  line-height: 35px;
}
#author .bottom .img {
  position: relative;
  top: 80px;
}
#author .bottom .text .wrap-button a{
  background: #d21c00;
  color: white;
  display: inline-block;
  padding: 30px 70px;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  bottom: -126px;
}
#author .bottom .text .wrap-button a:hover {
  text-decoration: none;
  background: #bf1900;
}
#route h2 {
  margin-top: 0px;
  text-align: center;
}
#route .container{
  position: relative;
  top: -60px;
}
#route {
  background: url('../img/bg-route.jpg') no-repeat top center;
  background-size: cover;
}
#route .line {
  text-align: center;
  display: inline-block;
  width: 100%;
}
#route .line span {
  width: 50px;
  height: 3px;
  background: #003792;
  display: inline-block;
}
#route .text h3 {
  font-weight: bold;
  font-size: 36px;
  color: #4b4f56;
  line-height: 45px;
}
#route .wrap {
  background: white;
  display: inline-block;
  box-shadow: 0px 0px 9px 3px #f0f0f0;
  margin-top: 15px;
  margin-bottom: 80px;
}
#route .img {
  padding-right: 0px;
}
#route .text h3 {
  padding: 0px 15px;
  font-weight: 300;
}
#route .text ul {
  list-style: none;
  padding: 0px;
  margin: 30px 15px;
}
#route .text ul li {
  margin: 12px 0px;
  font-size: 18px;
  color: #4b4f56;
  line-height: 30px;
}
#route .text ul .media-left {
  padding-right: 25px;
}
#route .text ul .media-left i{
  color: #003792;
  font-weight: bold;
  font-size: 22px;
}

#route img {
  margin: 45px 0px 60px 0px;
}
#route img.line {
   margin: 45px 0px 22px 0px;
}
#route .img img {
  margin: 0px;
}
#route .wrap .text h3 {
  margin-top: 30px;
  font-weight: bold;
}
#author .bottom .container {
  background: #f4f5f6;
  position: relative;
  top: -195px;
  padding-bottom: 75px;
}
#partner-logo .wrap {
  padding: 30px 0px 50px 0px;
  display: inline-block;
  width: 100%;
}
#etiquette-course .wrap-box .wrap .media {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%) translateY(-100%);
  -webkit-transform: translateX(-50%) translateY(-100%);
  width: 75%;
}
#etiquette-course .wrap-box .wrap .media .media-left {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  text-decoration: underline;

}
#etiquette-course .wrap-box .wrap .media .media-left img {
  max-width: inherit !important;
  position: relative;
  top: 5px;
}
#register {
  background: url('../img/bg-register.jpg') no-repeat top center;
  background-size: cover;
  color: white;
}
#register .wrap-button button {
  background: #d21c00;
  color: white;
  display: inline-block;
  padding: 30px 70px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}
#register .wrap-button button:hover {
  background: #bf1900;
  outline: none;
}
#register h2 {
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  padding: 50px 0px;
  font-weight: normal;
}
#register h2 .text-transform {
  text-transform: uppercase;
  font-weight: normal;
}
#register h2 .bold {
  font-weight:bold;
}
#register h2 span {
  font-weight: bold;
}
#register .form-s {
  display: inline-block;
  width: 100%;
}
#register .form-s .input label {
  font-weight: normal;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}
#register .form-s .input input {
  height: 60px;
}
#register p {
  text-align: center;
  padding: 55px 0px;
  margin: 0px;
}
#register .wrap-button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#register .wrap-button a {
  background: #d21c00;
  color: white;
  display: inline-block;
  padding: 30px 70px;
  text-transform: uppercase;
  font-size: 20px;
}
#register .wrap-button a:hover {
  background: #bf1900;
  text-decoration: none;
}
#hoi-dap {
  background: #f7f7f7; }
#hoi-dap .container .fb-comments {
  padding: 40px 15px;
  background: white;
  margin: 40px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
}
#about {
  padding: 80px 0px 40px 0px;
}
#about h2 {
  text-align: center;
  color: #003792;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 65px;
}
#about  .text ul {
  list-style: none;
  padding: 0px;
}
#about .text ul li {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 30px;
  color: #4b4f56;
}
#partner-logo h2 {
  text-align: center;
  color: #003792;
  font-weight: bold;
}
#partner-logo .img {
  height: 100px;
}
#partner-logo .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
#wrap-header .button-register.mb {
  float: right;
  background: #003792;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  position: relative;
  top: 9px;
  right: 15px;
  color: white;
  display: none;
}
footer {
  width: 100%;
  background: #003792;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}
footer p {
  font-size: 13px;
  display: none;
}
footer .comp-name, footer .hotline, footer .email {
  display: block;
}
footer .left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
footer .left img {
  height: 35px;
  margin: 10px;
  float: left;
}
@media (min-width: 768px) {
  footer p {
    display: block;
    text-align: left;
    line-height: 1.3;
  }
  footer .left {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
footer {
  padding-top: 50px;
  padding-bottom: 50px; }
footer .left {
  padding-top: 20px; }
footer .left img {
  height: 45px; }
footer p {
  font-size: 15px;
  line-height: 1.7; }
}
#wrap-header.scrolled {
  background: #282828;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.navbar.scrolled {
  height: 60px;
}
.img-logo.scrolled {
  margin-top: -7px !important;
  height: 40px !important;
}

.navbar-nav.scrolled {
  margin-top: 5px !important;
}

.navbar {
  height: 50px;
  background-image: none;
  background: #282828;
  border-radius: 0;
}
.navbar .container .navbar-header .kyna-logo {
  float: left;
}
.navbar .container .navbar-header .kyna-logo img {
  margin-top: -7px;
  height: 35px;
}
.navbar .container .navbar-collapse {
  padding: 0;
  border-top: none;
  background: #282828;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
  top: -1px;
}
.navbar .container .navbar-collapse .navbar-nav {
  margin: 10px auto;
}
.navbar .container .navbar-collapse .navbar-nav li a {
  color: #fff;
  font-weight: 300;
}
.navbar .container .navbar-collapse .navbar-nav li a:hover,
.navbar .container .navbar-collapse .navbar-nav li a:focus {
  font-weight: bold;
  background: #282828;
}
.navbar .container .navbar-collapse .navbar-nav .active a,
.navbar .container .navbar-collapse .navbar-nav .active a:hover,
.navbar .container .navbar-collapse .navbar-nav .active a:focus {
  background-image: none;
  box-shadow: none;
  font-weight: bold;
  background: #282828;
}
.navbar .container .navbar-toggle {
  border: none;
}
.navbar .container .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 1px;
}
.navbar .container .navbar-toggle .icon-bar:last-child {
  margin-top: 7px;
}
.navbar .container .navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
.navbar .container .navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  margin-top: -1px;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
.navbar .container .navbar-collapse {
  padding: 0;
  background: transparent;
}
.navbar .container .navbar-collapse .navbar-nav {
  margin-top: 10px;
  margin-left: 30px;
}
.navbar .container .navbar-collapse .navbar-nav li a {
  font-size: 14px;
  padding: 5px;
  letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  #wrap-header .button-register.mb {
    display: block;
  }
  #banner .text-title {
    margin-bottom: 30px;
  }
  #banner .text {
     margin: 35px 0px;
  }
  #intro .container .top h2 { font-size: 24px ; margin: 10px 0px }
  #etiquette-course .wrap-box .wrap .box {
    height: 80px;
  }
  #author .top {
    margin-top: 30px;
  }
  #author .bottom .text .wrap-button a {
    position: relative;
    top: 25px;
  }
  #route .container {
    top: -165px;
  }
  #route .img {
    padding-right: 15px;
  }
  #author .bottom .container {
    top: 0px;
  }
  #route .container {
    top: 0px;
  }
  #route h2 {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
.navbar {
  background: transparent;
  height: 70px;
}
.navbar .container .navbar-header .kyna-logo img {
  margin-top: -5px;
  height: 45px;
}
.navbar .container .navbar-collapse {
  float: right;
  margin-top: 5px;
}
.navbar .container .navbar-collapse .navbar-nav li a {
  padding: 10px;
  font-size: 16px;
}
.navbar .container .navbar-collapse .navbar-nav li a:hover, .navbar .container .navbar-collapse .navbar-nav li a:focus {
  font-weight: bold;
  background: transparent;
  }
}
@media (min-width: 1200px) {
.navbar {
  height: 100px;
}
.navbar .container .navbar-header .kyna-logo img {
  margin-top: 5px;
  height: 57px;
}
.navbar .container .navbar-collapse {
  padding: 0;
}
.navbar .container .navbar-collapse .navbar-nav {
  margin-top: 25px;
  margin-left: 60px;
  }
}
@media (max-width: 1023px) {
  #banner .text-title {
    font-size: 20px !important;
    margin-top: 10px !important;
  }
  #intro .top {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  h4 {
    font-size: 24px !important;
  }
}
@media (max-width: 990px) {
  .navbar.scrolled {
    height: 50px;
  }
  .navbar-nav.scrolled {
    margin-top: 10px !important;
  }
  .img-logo.scrolled {
    height: 35px !important;
  }
  #banner {
    padding-top: 100px;
  }
  #intro .container .top:before,#intro .container .top:after {
    display: none;
  }
  #intro .wrap-box {
    bottom: 0px;
    position: relative;
  }
  #intro .top {
    padding: 30px 0px;
  }
  #intro {
    padding-bottom: 30px;
  }
  #etiquette-course {
    padding: 30px 0px;
    margin: 0px;
  }
  #etiquette-course ul li {
    width: 50%;
    margin-bottom: 25px;
  }
  #author .bottom .img {
    top: 0px;
  }
  #author .bottom .img img {
    margin: 0px auto 15px;
  }
  #author .bottom .text .wrap-button {
    text-align: center;
  }
  #route .img img {
    margin: 0px auto 20px;
  }
  #banner .button a {
    font-size: 18px;
    padding: 10px 15px
  }
  #etiquette-course .wrap-button a,
  #author .bottom .text .wrap-button a,
  #register .wrap-button a {
    font-size: 16px;
    padding: 25px 20px;
  }
}

#route .mb-lotrinh {
  list-style: none;
  padding: 30px;
  display: none;
}
#route .mb-lotrinh .wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #003792;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  margin: 0px;
}
#route .mb-lotrinh li {
  margin: 15px 0px;
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 990px) {
  #route img.line {
    display: none;
  }
  #route .mb-lotrinh {
    display: block;
    margin-bottom: 0px;
  }
  #route .wrap {
    margin-top: 0px;
  }
  #route .wrap .text h3 br {
    display: none;
  }
  #route .wrap {
    margin-bottom: 30px;
  }
  #register h2 {
    padding: 30px 0px 0px 0px;
    margin-bottom: 15px;
  }
  #register .wrap-button {
    margin-top: 10px;
  }
  #register p {
    padding: 10px 0px 30px 0px;
  }
  #about {
    padding: 30px 0px 30px 0px;
  }
  #about h2 {
    margin: 0px 0px 30px 0px;
  }
  #partner-logo .img {
    height: 78px;
  }
  #partner-logo .wrap {
    padding-bottom: 30px;
  }
}
.navbar .container .navbar-toggle.collapsed .icon-bar {
  display: block;
}
.navbar .container .navbar-toggle.collapsed .icon-bar:nth-child(2) {
  display: block;
  margin-top: 7px;
}
.navbar .container .navbar-toggle .icon-bar:nth-child(2) {
  display: none
}
.navbar-toggle {
  margin-top: 14px;
}
.navbar-toggle.collapsed {
  margin-top: 8px;
}
@media (max-width: 768px) {
  #etiquette-course .wrap-box .wrap .media {
    position: relative;
    left: 0px;
    top: 0px;
    transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
  #etiquette-course .wrap-box .wrap .box {
    height: auto;
    padding: 30px;
  }
  #author .top {
    padding-bottom: 30px;
  }
}
