@charset "utf-8"; 
@font-face {
  font-family: 'Mont';
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'MontB';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }  
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }  
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};      
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args; 
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin delay($delayt...) {
	-webkit-animation-delay: $delayt;
	-moz-animation-delay: $delayt;
	-ms-animation-delay: $delayt;
	-o-animation-delay: $delayt;
	animation-delay: $delayt;
}

.floatLeft{float: left;}
.floatRight{float: right;}
*{margin: 0; padding: 0;}
a{text-decoration: none; outline: none;}
a:hover{text-decoration: none;}
img{outline: none; border: none}
ul, li, ol{list-style: none}
p{margin: 5px 0;}
body{
	font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 1.5 !important;
	background: #fff;
}
strong{font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;font-weight: normal;}
.clearfix{clear: both;}
.floatRight{float: right;}
.floatLeft{float: left;}
a:active, a:focus{text-decoration: none; color: #fff;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding: 0 10px}
button, a, img, li, input[type="button"], , input[type="submit"]{outline: none; &:hover, &:focus, &:active{outline: none}}
img{max-width: 100%;}
ul{margin-bottom: 0}
h1,h2,h3,h4,h5,h6{margin: 0;font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif; font-weight: normal;}
input[type="text"], textarea{
	border-radius: 0;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #eee;
	padding: 5px 10px;
	background: #f5f5f5;
	outline: none;
	&:focus{
		outline: none;
	}
}
.bt-CTA{
	background: #ffd200;
	color: #000;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50px;
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
	position: relative;
	overflow: hidden;
	transition: color 0.3s;
	z-index: 1;
	&:after, &:before{
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 100%;
		border-radius: 50px;
		left: 0;
		z-index: -1;
		@include transition (transform 0.3s);
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		-ms-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&:after{
		background: #52a9f6;
	}
	&:before{
		background: #7fc3ff;
	}
	&:hover{
		color: #fff;
		&:after, &:before{
			transform: translate3d(0, 100%, 0);
		}
		&:after{
			transition-delay: 0.175s;
		}
	}
}
.mainTitle{
	font-size: 30px;
	color: #1a2f59;
	line-height: 1.2;
	position: relative;
	&:before{
		position: absolute;
		content: '';
		display: block;
		width: 20px;
		height: 30px;
		top: 3px;
		left: -5px;
		z-index: 1;
		background: #ffd200;
	}
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		content: attr(data-text);
		display: block;
		z-index: 2;
	}
	span{
		opacity: 0;
	}
}
.mainTitle2{
	color: #fff;
	&:before{
		background: #52a9f6;
	}
}
.titleCenter{
	text-align: center;
	&:before{
		display: none;
	}
	&:after{
		width: 100%;
		text-align: center;
	}
	span{
		position: relative;
		opacity: 1;
		strong{
			opacity: 0;
		}
		&:before{
			position: absolute;
			content: '';
			display: block;
			width: 20px;
			height: 30px;
			top: 8px;
			left: -5px;
			z-index: 1;
			background: #ffd200;
		}
	}
}
#header{
	background: url(../images/bg-banner.png) bottom center no-repeat #182d56;
	background-size: 100%;
	color: #fff;
	position: relative;
	#topMenu{
		height: 60px;
		.logo{
			float: left;
			margin-top: 5px;
		}
		.topMenu{
			float: right;
			a{
				font-size: 16px;
				color: #fff;
				display: block;
				padding: 13px 20px;
				margin: 7px 0;
				text-transform: uppercase;
				font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
				&:hover, &.active{
					color: #52a9f6;
				}
			}
		}
		&.scroll{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			background: #182d56;
			box-shadow: 0 3px 0px rgba(0,0,0,.1);
			padding: 0 20px;
			.logo{
				margin-top: 9px;
				img{
					height: 44px;
				}
			}
			a.topReg{
				background: #ffd200;
				border-radius: 50px;
				color: #000;
				padding: 13px 30px;
			}
		}
	}
	#banner{
		padding: 100px 0 30px;
		.tagline{
			text-align: center;
			h1{
				font-size: 30px;
				color: #ffd200;
				strong{
					display: block;
					font-size: 72px;
				}
			}
			p{
				font-size: 16px;
				width: 65%;
				margin: 15px auto;
			}
		}
		.topCTA{
			margin-top: 40px;
		}
		.note{
			width: 65%;
			margin: 70px auto 0;
			font-style: italic;
			text-align: center;
		}
	}
	.man-top{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 5;
		width: 488px;
		height: 530px;
		background: url(../images/man-banner.png) bottom right no-repeat;
	}
}
#about{
	padding: 80px 0;
	.bgEffect{
		box-shadow: -10px -10px #ffd200;
	}
	.textAbout{
		ul{
			margin-top: 15px;
			margin-left: 15px;
			li{
				list-style: disc;
				margin: 8px 0;
			}
		}
		p{
			padding-top: 15px;
		}
	}
}
#stats{
	background: #52a9f6;
	color: #fff;
	padding: 0px 30px;
	.iconBlock{
		width: 20%;
		float: left;
		padding: 30px 25px 20px;
		text-align: center;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	p{margin-bottom: 0;}
}
#courses{
	background: url(../images/bg-banner.png) bottom center no-repeat #182d56;
	background-size: 100%;
	color: #fff;
	padding: 60px 0 40px;
	.textLeft{
		p{
			padding: 7px 0;
		}
		ul{
			li{
				list-style: disc;
				font-style: italic;
				margin: 10px 0;
				margin-left: 15px;
			}
		}
	}
	.expertSlider{
		.slick-list{
			padding: 20px 0;
		}
		.sliderPost{
			outline: none;
		}
		.slick-arrow{
			position: absolute;
			bottom: 50%;
			margin-top: -20px;
			z-index: 10;
			cursor: pointer;
			display: block;
			outline: none;
			border: 0;
			width: 40px;
			height: 40px;
			text-indent: -9999px;
			&.slick-prev{
				background: url(../images/pre-bt1.png) center center no-repeat;
				left: -50px;
			}
			&.slick-next{
				background: url(../images/next-bt1.png) center center no-repeat;
				right: -50px;
			}
		}
	}
	.detailCourse{
		background: #fff;
		color: #333;
		padding: 30px 20px 20px;
		box-shadow: -10px -10px #ffd200;
		position: relative;
		margin-top: 20px;
		.detailText{
			width: 60%;
			h3{
				border-bottom: 2px solid #ddd;
				padding-bottom: 15px;
				margin-bottom: 15px;
				span{
					display: block;
					float: left;
					width: 42px;
					height: 42px;
					background: #ffd200;
					line-height:42px;
					font-size: 30px;
					text-align: center;
				}
				p{
					font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
					float: right;
					width: calc(100% - 52px);
					font-size: 16px;
					margin: 0;
					line-height: 1.3;
				}
			}
			ul{
				margin-left: 15px;
				li{
					list-style: disc;
					margin: 15px 0;
				}
			}
		}
		.detailExpert{
			position: absolute;
			bottom: -1px;
			right: 0px;
			z-index: 2;
			width: 40%;
		}
	}
}
#benefits{
	background-image: url('../images/benefit-bot.jpg'), url('../images/benefit-top.jpg');
    background-position: center bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 210px;
    background-color: #f9fafc;
    padding: 60px 0;
	.rowTop{
		display: flex;
    	flex-wrap: wrap;
    	margin: 10px 0;
		.itemBlock{
			width: calc(25% - 30px);
			padding: 10px 15px;
			float: left;
			background: #fff;
			border: 2px solid #d0e3e7;
			box-shadow: -10px -10px #ebf3f5;
			margin: 20px 15px;
			text-align: justify;
			display: flex;
    		flex-direction: column;
			strong{
				display: block;
				font-size: 16px;
				line-height: 1.3;
			}
		}
	}
	.rowBot{
		margin-top: 20px;
		ul{
			background: #fff;
			border: 2px solid #d0e3e7;
			overflow: hidden;
			padding: 15px 20px;
			margin-top: 20px;
			li{
				width: calc(50% - 15px);
				float: left;
				text-align: justify;
				padding: 0 0px 0 0px;
				margin: 10px 0;
				list-style: disc;
				margin-left: 15px;
				&:nth-child(2n+1){
					padding-right: 30px;
				}
			}
		}
	}
	.adsBot{
		text-align: center;
		strong{
			background: #52a9f6;
			padding: 3px 12px;
			border-radius: 3px;
			color: #fff;
			font-size: 20px;
			display: inline-block;
			margin: 40px 0 15px;
		}
	}
}
#cerfiticate{
	background: #1d325c;
	overflow: hidden;
	.row{
		display: flex;
    	align-items: center;
    	>div{
			display: flex;
    		align-items: center;
    	}
	}
	.leftSide{
		color: #fff;
		display: block !important;
		padding: 40px 4% 40px 4%;
		h3{
			font-size: 18px;
			margin: 10px 0;
		}
		ul{
			li{
				margin: 25px 0;
				text-align: justify;
				i{
					font-size: 18px;
				}
			}
		}
	}
	img{
		width: 100%;
	}
	strong{
		font-style: italic;
		text-align: justify;
	} 
}
#reg{
	background: url(../images/bg-reg.jpg) bottom center no-repeat #f9fafc;
	background-size: 100%;
	padding: 140px 0 100px;
	.regNTesti{
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 20px 40px rgba(0,0,0,.1);
		padding: 120px 40px 40px 40px;
		position: relative;
		#testimonial{
			position: absolute;
			top: -70px;
			left: 90px;
			color: #fff;
			text-align: justify;
			width: calc(100% - 180px);
			.sliderTesti{
				background: #52a9f6;
				padding: 20px 20px 30px 20px;
				border-radius: 5px;
				.itemTesti{
					outline: none;
				}
				.slick-arrow{
					position: absolute;
					top: 50%;
					margin-top: -20px;
					z-index: 10;
					cursor: pointer;
					display: block;
					outline: none;
					border: 0;
					width: 40px;
					height: 40px;
					text-indent: -9999px;
					&.slick-prev{
						background: url(../images/pre-bt2.png) center center no-repeat;
						left: -50px;
					}
					&.slick-next{
						background: url(../images/next-bt2.png) center center no-repeat;
						right: -50px;
					}
				}
			}
			.sliderTestiNav{
				width: 160px;
				margin: -30px auto 0;
				.slick-slide{
					// background: #fff;
					outline: none;
					cursor: pointer;
					padding: 10px 5px;
					img{
						margin: 0 auto;
						display: block;
						width: 36px;
						border: 2px solid #3390e3;
						border-radius: 50%;
					}
					&.slick-current{
						img{
							opacity: 1;
							transform: scale(1.5);
						}
					}
				}
			}
		}
	}
	.adsBotReg{
		text-align: center;
		line-height: 1.5;
		font-size: 18px;
		h4{
			line-height: 1.5;
			strong{
				display: block;
			}
		}
		h3{
			text-align: center;
			margin: 20px 0 40px;
			strong{
				font-size: 24px;
				color: #fff;
				background: #52a9f6;
				border-radius: 3px;
				padding: 3px 15px;
			}
		}
	}
	#regFormBottom{
		label{
			font-weight: normal;
			font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
		}
		.txtGR{
			margin-bottom: 20px;
			i{
				display: block;
				width: 50px;
				height: 50px;
				border: 2px solid #ddd;
				text-align: center;
				line-height: 46px;
				color: #666;
				font-size: 20px;
				background: #f3f3f3;
				float: left;
				border-radius: 4px 0 0 4px;
			}
			input[type="text"]{
				border-radius: 0 4px 4px 0;
				float: left;
				display: block;
				width: calc(100% - 52px);
				border: 2px solid #ddd;
				background: #fff;
				border-left: 0;
				height: 50px;
				line-height: 46px;
				color: #333;
				font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
			}
			&:after{
				display: block;
				content: '';
				clear: both;
			}
		}
		.note{
			text-align: center;
		}
	}
}
.mobileOnly{
	display: none;
}
@media screen and (max-width: 1200px){
	#header .man-top{
		display: none;
	}
}
@media screen and (max-width: 992px){
	.topMenu{
		li a{
			display: none !important;
			&.topReg{
				display: inline-block !important;
			    background: #ffd200;
			    border-radius: 50px;
			    color: #000 !important;
			    padding: 13px 30px !important;
			}
		}
	}
	#about .bgEffect{
		display: none;
	}
	#benefits .rowTop .itemBlock{
		width: calc(50% - 30px);
	}
	#benefits .rowBot ul li{
		width: calc(100% - 20px);
	}
	#benefits .rowBot ul li:nth-child(2n+1){
		padding-right: 0;
	}
	#benefits .rowBot{
		padding-right: 15px;
		padding-left: 15px;
	}
	#cerfiticate .row > div{
		display: block;
	}
	#cerfiticate .row{
		display: block;
	}
	#reg .regNTesti #testimonial{
		position: static;
		width: 100%;
	}
	#reg .regNTesti{
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 40px;
	}
	#reg{
		padding-top: 60px;
	}
	#reg .adsBotReg{
		margin-top: 30px;
	}
	#reg .adsBotReg h3 strong{
		display: block;
		line-height: 1.2;
	}
	#reg .adsBotReg h3 {
	    margin: 10px 0 30px;
	}
	.expertSlider .slick-dots{
		text-align: center;
		li{
			display: inline-block;
			margin: 0 2px;
			button{
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #fff;
				text-indent: -9999px;
				border: none;
			}
			&.slick-active{
				button{
					background: #ffd200;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	#stats .iconBlock{
		width: 50%;
		&:nth-child(5){
			width: 100%;
		}
	}
	#header #topMenu .topMenu{
		margin-top: 0;
		margin-bottom: 0;
	}
	#header #banner .tagline h1 strong {
	    font-size: 60px;
	}
	#header #banner .tagline p, #header #banner .note{
		width: 90%;
	}
	#header #banner {
	    padding: 60px 0 30px;
	}
	#header #banner .note{
		margin-top: 50px;
	}
	#benefits {
	    background-image: url(../images/benefit-bot.jpg);
	    background-position: center bottom;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    background-color: #f9fafc;
	    padding: 60px 0;
	}
	#courses .detailCourse .detailExpert{
		position: static;
		width: 100%;
		margin-top: 30px;
		background: #fafafa;
		padding: 15px;	
		.imgExpert{
			float: right;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;
			border: 3px solid #ddd;
			background: #fff;
		}
		.mobileOnly{
			float: left;
			width: calc(100% - 230px);
			ul{
				li{
					list-style: disc;
					margin-left: 15px;
					font-style: italic;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
	#courses .detailCourse .detailText{
		width: 100%;
	}
	.hidden768{
		display: none;
	}
	.expertSlider .textLeft{
		padding-bottom: 10px;
		p, ul{
			display: none;
		}
	}
	.mobileOnly{
		display: block;
	}
}
.mobileTabs{
	display: none;
}
@media screen and (max-width: 640px){
	#header #topMenu .topMenu{
		margin: 0;
	}
	#header #topMenu.scroll{
		padding: 0 10px;
	}
	#header #banner .tagline h1 strong {
	    font-size: 60px;
	    line-height: 1.0;
	    margin-top: 10px;
	}
	#header #banner .topCTA {
	    margin-top: 20px;
	}
	#about {
	    padding: 40px 0;
	}
	#stats .iconBlock {
	    padding: 30px 15px 20px;
	}
	#courses {
	    padding: 40px 0 40px;
	}
	#courses .detailCourse .detailExpert .imgExpert{
		float: none;
		margin: 0 auto;
		img{
			
			display: block;
		}
	}
	#courses .detailCourse .detailExpert .mobileOnly{
		float: none;
		width: 100%;
		margin-top: 20px;
	}
	#cerfiticate .leftSide{
		margin: 0 15px;
	}
	#reg .regNTesti{
		padding: 20px 20px;
	}
	#reg{
		padding-top: 40px;
	}
	#reg .adsBotReg h3 strong{
		font-size: 20px;
		padding: 10px;
	}
	#reg .adsBotReg h4 strong{
		display: inline;
	}
	.mainTitle{
		font-size: 25px;
	}
	#cerfiticate .leftSide h3{
		font-size: 16px;
		line-height: 1.4;
	}
	#benefits .adsBot strong {
	    padding: 5px 12px;
	    font-size: 18px;
	    margin: 20px 0 15px;
	}
	#benefits{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	#courses .detailCourse {
	    background: #fff;
	    color: #333;
	    padding: 20px 15px 20px;
	    box-shadow: -5px -5px #ffd200;
	}
	.expertSlider .slick-dots{
		margin-top: 15px;
	}
	#header #banner .tagline h1 strong{
		font-size: 50px;
	}
	#header #banner .tagline p, #header #banner .note {
    	width: 100%;
    	font-size: 14px;
	}
	#benefits .rowTop .itemBlock{
		width: 100%;
		float: none;
	}
	.expertSlider .textLeft{
		display: none;
	}
	.mobileTabs{
		display: block;
		ul{
			overflow: hidden;
			margin-top: 30px;
			li{
				width: 47%;
				float: left;
				margin: 0 1.5%;
				a{
					color: #fff;
					display: block;
					width: 100%;
					height: 50px;
					border-radius: 50px;
					text-align: center;
					line-height: 50px;
					background: #304d86;
					text-transform: uppercase;
					font-size: 16px;
					font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
				}
				&.active{
					a{
						background: #ffd200;
						color: #000;
					}
				}
			}
		}
		.titleCenter span:before{
			background: #52a9f6;
			top: 3px;
		}
	}
	#courses .expertSlider .slick-list{
		padding-top: 0;
	}
}
@media screen and (max-width: 468px){
	#stats{
		display: none;
	}
	#courses {
	    padding: 40px 0 20px;
	}
	#benefits .rowTop .itemBlock {
	    box-shadow: -5px -5px #ebf3f5;
		margin: 15px 15px;
	}
}
@media screen and (max-width: 360px){
	.topMenu li a.topReg{
		font-size: 14px;
		padding: 13px 15px !important;
	}
	.logo img, #header #topMenu.scroll .logo img{
		height: 40px;
    	margin-top: 8px;
	}
	#header #topMenu.scroll .logo img{
		margin-top: 2px;
	}
	#header #banner .tagline h1 strong {
	    font-size: 45px;
	}
	#header #banner .note {
	    font-size: 12px;
	}
	.bt-CTA {
	    width: 220px;
	    height: 56px;
	    line-height: 56px;
	    font-size: 20px;
	}
	#courses .container{
		padding-right: 5px;
		padding-left: 5px;
	}
	#courses .detailCourse .detailExpert .imgExpert {
	    width: 120px;
	    height: 120px;
	}
	#reg .regNTesti {
	    padding: 20px 10px;
	}
	#regFormBottom > div{
		padding-left: 0;
		padding-right: 0;
	}
	#reg .adsBotReg h4{
		font-size: 16px;
		line-height: 1.3;
	}
	#reg .regNTesti #testimonial .sliderTesti{
		padding: 20px 10px 40px 10px;
	}
	#reg .adsBotReg {
	    margin-top: 15px;
	}
	#benefits .rowBot ul{
		padding: 15px 10px;
	}
	#benefits .rowTop .itemBlock strong{
		font-size: 14px;
	}
	#courses .detailCourse .detailText h3 p{
		font-size: 14px;
	}
	#courses {
	    padding: 40px 0 20px;
	}
}
