landing-page-id@font-face {
  font-family: 'Mont';
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'MontB';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
}
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  outline: none;
  border: none;
}

ul, li, ol {
  list-style: none;
}

p {
  margin: 5px 0;
}

body {
  font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  line-height: 1.5 !important;
  background: #fff;
}

strong {
  font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
}

.clearfix {
  clear: both;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

a:active, a:focus {
  text-decoration: none;
  color: #fff;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 10px;
}

button, a, img, li, input[type="button"], input[type="submit"] {
  outline: none;
}
button:hover, button:focus, button:active, a:hover, a:focus, a:active, img:hover, img:focus, img:active, li:hover, li:focus, li:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
}

input[type="text"], textarea {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #f5f5f5;
  outline: none;
}
input[type="text"]:focus, textarea:focus {
  outline: none;
}

.bt-CTA {
  background: #ffd200;
  color: #000;
  border: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50px;
  font-size: 22px;
  font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  z-index: 1;
}
.bt-CTA:after, .bt-CTA:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  border-radius: 50px;
  left: 0;
  z-index: -1;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -ms-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.bt-CTA:after {
  background: #52a9f6;
}
.bt-CTA:before {
  background: #7fc3ff;
}
.bt-CTA:hover {
  color: #fff;
}
.bt-CTA:hover:after, .bt-CTA:hover:before {
  transform: translate3d(0, 100%, 0);
}
.bt-CTA:hover:after {
  transition-delay: 0.175s;
}

.mainTitle {
  font-size: 30px;
  color: #1a2f59;
  line-height: 1.2;
  position: relative;
}
.mainTitle:before {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  top: 3px;
  left: -5px;
  z-index: 1;
  background: #ffd200;
}
.mainTitle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  display: block;
  z-index: 2;
}
.mainTitle span {
  opacity: 0;
}

.mainTitle2 {
  color: #fff;
}
.mainTitle2:before {
  background: #52a9f6;
}

.titleCenter {
  text-align: center;
}
.titleCenter:before {
  display: none;
}
.titleCenter:after {
  width: 100%;
  text-align: center;
}
.titleCenter span {
  position: relative;
  opacity: 1;
}
.titleCenter span strong {
  opacity: 0;
}
.titleCenter span:before {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  top: 8px;
  left: -5px;
  z-index: 1;
  background: #ffd200;
}

#header {
  background: url(../images/bg-banner.png) bottom center no-repeat #182d56;
  background-size: 100%;
  color: #fff;
  position: relative;
}
#header #topMenu {
  height: 60px;
}
#header #topMenu .logo {
  float: left;
  margin-top: 5px;
}
#header #topMenu .topMenu {
  float: right;
}
#header #topMenu .topMenu a {
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 13px 20px;
  margin: 7px 0;
  text-transform: uppercase;
  font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
}
#header #topMenu .topMenu a:hover, #header #topMenu .topMenu a.active {
  color: #52a9f6;
}
#header #topMenu.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #182d56;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}
#header #topMenu.scroll .logo {
  margin-top: 9px;
}
#header #topMenu.scroll .logo img {
  height: 44px;
}
#header #topMenu.scroll a.topReg {
  background: #ffd200;
  border-radius: 50px;
  color: #000;
  padding: 13px 30px;
}
#header #banner {
  padding: 100px 0 30px;
}
#header #banner .tagline {
  text-align: center;
}
#header #banner .tagline h1 {
  font-size: 30px;
  color: #ffd200;
}
#header #banner .tagline h1 strong {
  display: block;
  font-size: 72px;
}
#header #banner .tagline p {
  font-size: 16px;
  width: 65%;
  margin: 15px auto;
}
#header #banner .topCTA {
  margin-top: 40px;
}
#header #banner .note {
  width: 65%;
  margin: 70px auto 0;
  font-style: italic;
  text-align: center;
}
#header .man-top {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 488px;
  height: 530px;
  background: url(../images/man-banner.png) bottom right no-repeat;
}

#about {
  padding: 80px 0;
}
#about .bgEffect {
  box-shadow: -10px -10px #ffd200;
}
#about .textAbout ul {
  margin-top: 15px;
  margin-left: 15px;
}
#about .textAbout ul li {
  list-style: disc;
  margin: 8px 0;
}
#about .textAbout p {
  padding-top: 15px;
}

#stats {
  background: #52a9f6;
  color: #fff;
  padding: 0px 30px;
}
#stats .iconBlock {
  width: 20%;
  float: left;
  padding: 30px 25px 20px;
  text-align: center;
}
#stats img {
  display: block;
  margin: 0 auto;
}
#stats p {
  margin-bottom: 0;
}

#courses {
  background: url(../images/bg-banner.png) bottom center no-repeat #182d56;
  background-size: 100%;
  color: #fff;
  padding: 60px 0 40px;
}
#courses .textLeft p {
  padding: 7px 0;
}
#courses .textLeft ul li {
  list-style: disc;
  font-style: italic;
  margin: 10px 0;
  margin-left: 15px;
}
#courses .expertSlider .slick-list {
  padding: 20px 0;
}
#courses .expertSlider .sliderPost {
  outline: none;
}
#courses .expertSlider .slick-arrow {
  position: absolute;
  bottom: 50%;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: block;
  outline: none;
  border: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
#courses .expertSlider .slick-arrow.slick-prev {
  background: url(../images/pre-bt1.png) center center no-repeat;
  left: -50px;
}
#courses .expertSlider .slick-arrow.slick-next {
  background: url(../images/next-bt1.png) center center no-repeat;
  right: -50px;
}
#courses .detailCourse {
  background: #fff;
  color: #333;
  padding: 30px 20px 20px;
  box-shadow: -10px -10px #ffd200;
  position: relative;
  margin-top: 20px;
}
#courses .detailCourse .detailText {
  width: 60%;
}
#courses .detailCourse .detailText h3 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#courses .detailCourse .detailText h3 span {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  background: #ffd200;
  line-height: 42px;
  font-size: 30px;
  text-align: center;
}
#courses .detailCourse .detailText h3 p {
  font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  float: right;
  width: calc(100% - 52px);
  font-size: 16px;
  margin: 0;
  line-height: 1.3;
}
#courses .detailCourse .detailText ul {
  margin-left: 15px;
}
#courses .detailCourse .detailText ul li {
  list-style: disc;
  margin: 15px 0;
}
#courses .detailCourse .detailExpert {
  position: absolute;
  bottom: -1px;
  right: 0px;
  z-index: 2;
  width: 40%;
}

#benefits {
  background-image: url("../images/benefit-bot.jpg"), url("../images/benefit-top.jpg");
  background-position: center bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 210px;
  background-color: #f9fafc;
  padding: 60px 0;
}
#benefits .rowTop {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
#benefits .rowTop .itemBlock {
  width: calc(25% - 30px);
  padding: 10px 15px;
  float: left;
  background: #fff;
  border: 2px solid #d0e3e7;
  box-shadow: -10px -10px #ebf3f5;
  margin: 20px 15px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
#benefits .rowTop .itemBlock strong {
  display: block;
  font-size: 16px;
  line-height: 1.3;
}
#benefits .rowBot {
  margin-top: 20px;
}
#benefits .rowBot ul {
  background: #fff;
  border: 2px solid #d0e3e7;
  overflow: hidden;
  padding: 15px 20px;
  margin-top: 20px;
}
#benefits .rowBot ul li {
  width: calc(50% - 15px);
  float: left;
  text-align: justify;
  padding: 0 0px 0 0px;
  margin: 10px 0;
  list-style: disc;
  margin-left: 15px;
}
#benefits .rowBot ul li:nth-child(2n+1) {
  padding-right: 30px;
}
#benefits .adsBot {
  text-align: center;
}
#benefits .adsBot strong {
  background: #52a9f6;
  padding: 3px 12px;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 40px 0 15px;
}

#cerfiticate {
  background: #1d325c;
  overflow: hidden;
}
#cerfiticate .row {
  display: flex;
  align-items: center;
}
#cerfiticate .row > div {
  display: flex;
  align-items: center;
}
#cerfiticate .leftSide {
  color: #fff;
  display: block !important;
  padding: 40px 4% 40px 4%;
}
#cerfiticate .leftSide h3 {
  font-size: 18px;
  margin: 10px 0;
}
#cerfiticate .leftSide ul li {
  margin: 25px 0;
  text-align: justify;
}
#cerfiticate .leftSide ul li i {
  font-size: 18px;
}
#cerfiticate img {
  width: 100%;
}
#cerfiticate strong {
  font-style: italic;
  text-align: justify;
}

#reg {
  background: url(../images/bg-reg.jpg) bottom center no-repeat #f9fafc;
  background-size: 100%;
  padding: 140px 0 100px;
}
#reg .regNTesti {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  padding: 120px 40px 40px 40px;
  position: relative;
}
#reg .regNTesti #testimonial {
  position: absolute;
  top: -70px;
  left: 90px;
  color: #fff;
  text-align: justify;
  width: calc(100% - 180px);
}
#reg .regNTesti #testimonial .sliderTesti {
  background: #52a9f6;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
}
#reg .regNTesti #testimonial .sliderTesti .itemTesti {
  outline: none;
}
#reg .regNTesti #testimonial .sliderTesti .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: block;
  outline: none;
  border: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
#reg .regNTesti #testimonial .sliderTesti .slick-arrow.slick-prev {
  background: url(../images/pre-bt2.png) center center no-repeat;
  left: -50px;
}
#reg .regNTesti #testimonial .sliderTesti .slick-arrow.slick-next {
  background: url(../images/next-bt2.png) center center no-repeat;
  right: -50px;
}
#reg .regNTesti #testimonial .sliderTestiNav {
  width: 160px;
  margin: -30px auto 0;
}
#reg .regNTesti #testimonial .sliderTestiNav .slick-slide {
  outline: none;
  cursor: pointer;
  padding: 10px 5px;
}
#reg .regNTesti #testimonial .sliderTestiNav .slick-slide img {
  margin: 0 auto;
  display: block;
  width: 36px;
  border: 2px solid #3390e3;
  border-radius: 50%;
}
#reg .regNTesti #testimonial .sliderTestiNav .slick-slide.slick-current img {
  opacity: 1;
  transform: scale(1.5);
}
#reg .adsBotReg {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}
#reg .adsBotReg h4 {
  line-height: 1.5;
}
#reg .adsBotReg h4 strong {
  display: block;
}
#reg .adsBotReg h3 {
  text-align: center;
  margin: 20px 0 40px;
}
#reg .adsBotReg h3 strong {
  font-size: 24px;
  color: #fff;
  background: #52a9f6;
  border-radius: 3px;
  padding: 3px 15px;
}
#reg #landing-page-id label {
  font-weight: normal;
  font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
}
#reg #landing-page-id .txtGR {
  margin-bottom: 20px;
}
#reg #landing-page-id .txtGR i {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 46px;
  color: #666;
  font-size: 20px;
  background: #f3f3f3;
  float: left;
  border-radius: 4px 0 0 4px;
}
#reg #landing-page-id .txtGR input[type="text"],
#reg #landing-page-id .txtGR input[type="email"] {
  border-radius: 0 4px 4px 0;
  float: left;
  display: block;
  width: calc(100% - 52px);
  border: 2px solid #ddd;
  background: #fff;
  border-left: 0;
  height: 50px;
  line-height: 46px;
  color: #333;
  font-family: 'Mont', 'Open Sans', 'Roboto', 'Arial', sans-serif;
}
#reg #landing-page-id .txtGR:after {
  display: block;
  content: '';
  clear: both;
}
#reg #landing-page-id .note {
  text-align: center;
}

.mobileOnly {
  display: none;
}

@media screen and (max-width: 1200px) {
  #header .man-top {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .topMenu li a {
    display: none !important;
  }
  .topMenu li a.topReg {
    display: inline-block !important;
    background: #ffd200;
    border-radius: 50px;
    color: #000 !important;
    padding: 13px 30px !important;
  }

  #about .bgEffect {
    display: none;
  }

  #benefits .rowTop .itemBlock {
    width: calc(50% - 30px);
  }

  #benefits .rowBot ul li {
    width: calc(100% - 20px);
  }

  #benefits .rowBot ul li:nth-child(2n+1) {
    padding-right: 0;
  }

  #benefits .rowBot {
    padding-right: 15px;
    padding-left: 15px;
  }

  #cerfiticate .row > div {
    display: block;
  }

  #cerfiticate .row {
    display: block;
  }

  #reg .regNTesti #testimonial {
    position: static;
    width: 100%;
  }

  #reg .regNTesti {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 40px;
  }

  #reg {
    padding-top: 60px;
  }

  #reg .adsBotReg {
    margin-top: 30px;
  }

  #reg .adsBotReg h3 strong {
    display: block;
    line-height: 1.2;
  }

  #reg .adsBotReg h3 {
    margin: 10px 0 30px;
  }

  .expertSlider .slick-dots {
    text-align: center;
  }
  .expertSlider .slick-dots li {
    display: inline-block;
    margin: 0 2px;
  }
  .expertSlider .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    text-indent: -9999px;
    border: none;
  }
  .expertSlider .slick-dots li.slick-active button {
    background: #ffd200;
  }
}
@media screen and (max-width: 768px) {
  #stats .iconBlock {
    width: 50%;
  }
  #stats .iconBlock:nth-child(5) {
    width: 100%;
  }

  #header #topMenu .topMenu {
    margin-top: 0;
    margin-bottom: 0;
  }

  #header #banner .tagline h1 strong {
    font-size: 60px;
  }

  #header #banner .tagline p, #header #banner .note {
    width: 90%;
  }

  #header #banner {
    padding: 60px 0 30px;
  }

  #header #banner .note {
    margin-top: 50px;
  }

  #benefits {
    background-image: url(../images/benefit-bot.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f9fafc;
    padding: 60px 0;
  }

  #courses .detailCourse .detailExpert {
    position: static;
    width: 100%;
    margin-top: 30px;
    background: #fafafa;
    padding: 15px;
  }
  #courses .detailCourse .detailExpert .imgExpert {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
    background: #fff;
  }
  #courses .detailCourse .detailExpert .mobileOnly {
    float: left;
    width: calc(100% - 230px);
  }
  #courses .detailCourse .detailExpert .mobileOnly ul li {
    list-style: disc;
    margin-left: 15px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #courses .detailCourse .detailText {
    width: 100%;
  }

  .hidden768 {
    display: none;
  }

  .expertSlider .textLeft {
    padding-bottom: 10px;
  }
  .expertSlider .textLeft p, .expertSlider .textLeft ul {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}
.mobileTabs {
  display: none;
}

@media screen and (max-width: 640px) {
  #header #topMenu .topMenu {
    margin: 0;
  }

  #header #topMenu.scroll {
    padding: 0 10px;
  }

  #header #banner .tagline h1 strong {
    font-size: 60px;
    line-height: 1.0;
    margin-top: 10px;
  }

  #header #banner .topCTA {
    margin-top: 20px;
  }

  #about {
    padding: 40px 0;
  }

  #stats .iconBlock {
    padding: 30px 15px 20px;
  }

  #courses {
    padding: 40px 0 40px;
  }

  #courses .detailCourse .detailExpert .imgExpert {
    float: none;
    margin: 0 auto;
  }
  #courses .detailCourse .detailExpert .imgExpert img {
    display: block;
  }

  #courses .detailCourse .detailExpert .mobileOnly {
    float: none;
    width: 100%;
    margin-top: 20px;
  }

  #cerfiticate .leftSide {
    margin: 0 15px;
  }

  #reg .regNTesti {
    padding: 20px 20px;
  }

  #reg {
    padding-top: 40px;
  }

  #reg .adsBotReg h3 strong {
    font-size: 20px;
    padding: 10px;
  }

  #reg .adsBotReg h4 strong {
    display: inline;
  }

  .mainTitle {
    font-size: 25px;
  }

  #cerfiticate .leftSide h3 {
    font-size: 16px;
    line-height: 1.4;
  }

  #benefits .adsBot strong {
    padding: 5px 12px;
    font-size: 18px;
    margin: 20px 0 15px;
  }

  #benefits {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  #courses .detailCourse {
    background: #fff;
    color: #333;
    padding: 20px 15px 20px;
    box-shadow: -5px -5px #ffd200;
  }

  .expertSlider .slick-dots {
    margin-top: 15px;
  }

  #header #banner .tagline h1 strong {
    font-size: 50px;
  }

  #header #banner .tagline p, #header #banner .note {
    width: 100%;
    font-size: 14px;
  }

  #benefits .rowTop .itemBlock {
    width: 100%;
    float: none;
  }

  .expertSlider .textLeft {
    display: none;
  }

  .mobileTabs {
    display: block;
  }
  .mobileTabs ul {
    overflow: hidden;
    margin-top: 30px;
  }
  .mobileTabs ul li {
    width: 47%;
    float: left;
    margin: 0 1.5%;
  }
  .mobileTabs ul li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    background: #304d86;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'MontB', 'Open Sans', 'Roboto', 'Arial', sans-serif;
  }
  .mobileTabs ul li.active a {
    background: #ffd200;
    color: #000;
  }
  .mobileTabs .titleCenter span:before {
    background: #52a9f6;
    top: 3px;
  }

  #courses .expertSlider .slick-list {
    padding-top: 0;
  }
}
@media screen and (max-width: 468px) {
  #stats {
    display: none;
  }

  #courses {
    padding: 40px 0 20px;
  }

  #benefits .rowTop .itemBlock {
    box-shadow: -5px -5px #ebf3f5;
    margin: 15px 15px;
  }
}
@media screen and (max-width: 360px) {
  .topMenu li a.topReg {
    font-size: 14px;
    padding: 13px 15px !important;
  }

  .logo img, #header #topMenu.scroll .logo img {
    height: 40px;
    margin-top: 8px;
  }

  #header #topMenu.scroll .logo img {
    margin-top: 2px;
  }

  #header #banner .tagline h1 strong {
    font-size: 45px;
  }

  #header #banner .note {
    font-size: 12px;
  }

  .bt-CTA {
    width: 220px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
  }

  #courses .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  #courses .detailCourse .detailExpert .imgExpert {
    width: 120px;
    height: 120px;
  }

  #reg .regNTesti {
    padding: 20px 10px;
  }

  #landing-page-id > div {
    padding-left: 0;
    padding-right: 0;
  }

  #reg .adsBotReg h4 {
    font-size: 16px;
    line-height: 1.3;
  }

  #reg .regNTesti #testimonial .sliderTesti {
    padding: 20px 10px 40px 10px;
  }

  #reg .adsBotReg {
    margin-top: 15px;
  }

  #benefits .rowBot ul {
    padding: 15px 10px;
  }

  #benefits .rowTop .itemBlock strong {
    font-size: 14px;
  }

  #courses .detailCourse .detailText h3 p {
    font-size: 14px;
  }

  #courses {
    padding: 40px 0 20px;
  }
}
footer {
  width: 100%;
  background: #1e345f;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block; }
  footer p {
    font-size: 13px;
    display: none; }
    footer .company-address a{
      text-decoration: none;
      color: #fff; }
  footer .comp-name, footer .hotline, footer .email {
    display: block; }
  footer .left {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center; }
    footer .left img {
      height: 35px;
      margin: 10px;
      float: left; }
  @media (min-width: 768px) {
    footer p {
      display: block;
      text-align: left;
      line-height: 1.3; }
    footer .left {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    footer {
      padding-top: 50px;
      padding-bottom: 50px; }
      footer .left {
        padding-top: 20px; }
        footer .left img {
          width: 166px;
          height: auto; }
      footer p {
        font-size: 15px;
        line-height: 1.7; } }
#hoi-dap{
  padding: 20px 0;
}
@media (min-width: 1200px) {
  #hoi-dap{
    padding: 50px 0 80px;
  }
}
