@font-face {
  font-family: "Nunito";
  font-weight: 300;
  src: url("../fonts/NunitoSans-Light.ttf"); }

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("../fonts/NunitoSans-Regular.ttf"); }

@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url("../fonts/NunitoSans-Black.ttf"); }

@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url("../fonts/NunitoSans-Bold.ttf"); }

#topbar {
  background-image: url("../img/topbarBg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1033;
  padding: 5px 15px;
  width: 100%;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  #topbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold; }
  #topbar span {
    display: none; }
  #topbar b {
    color: #ff0042;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px  1px 0 #fff, 1px  1px 0 #fff; }
  @media (min-width: 768px) {
    #topbar a {
      font-size: 16px; }
    #topbar span {
      display: inline;
      background: #ff0042;
      padding: 5px 10px;
      color: #fff;
      margin-left: 15px; }
      #topbar span:hover {
        background: #e6003b; } }
  @media (min-width: 992px) {
    #topbar {
      height: 60px; }
      #topbar a {
        font-size: 20px; } }
  @media (min-width: 1200px) {
    #topbar a {
      font-size: 24px; } }

#navbar-wrap {
  background: white;
  border: none;
  margin-bottom: 20px;
  top: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  height: 50px; }
  #navbar-wrap .logo img {
    margin: 10px;
    height: 35px; }
  #navbar-wrap .mb-btn-register {
    background: #0a8fff;
    color: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  @media (min-width: 768px) {
    #navbar-wrap {
      height: 60px; }
      #navbar-wrap .mb-btn-register {
        display: none; }
      #navbar-wrap .logo img {
        height: 45px; }
      #navbar-wrap .navbar-collapse {
        margin-top: 10px; }
      #navbar-wrap .nav {
        margin-left: 50px; }
        #navbar-wrap .nav li a {
          font-size: 16px;
          padding: 3px;
          margin: 5px;
          color: #3f3e3e;
          font-weight: bold; }
        #navbar-wrap .nav li.active a, #navbar-wrap .nav li:hover a {
          font-weight: bold;
          background: #fff;
          border-bottom: 3px solid #0a8fff; }
        #navbar-wrap .nav li:last-child a {
          -webkit-box-shadow: 0 0 20px #8ac9ff;
          -moz-box-shadow: 0 0 20px #8ac9ff;
          -ms-box-shadow: 0 0 20px #8ac9ff;
          box-shadow: 0 0 20px #8ac9ff;
          display: table;
          background: #0a8fff;
          color: #fff;
          font-weight: bold;
          padding: 5px 10px;
          border: none !important; } }
  @media (min-width: 992px) {
    #navbar-wrap {
      top: 60px;
      height: 70px; }
      #navbar-wrap .logo img {
        height: auto; }
      #navbar-wrap .nav {
        float: right;
        margin-top: 5px; }
        #navbar-wrap .nav li a {
          font-size: 18px;
          padding-left: 10px;
          padding-right: 10px;
          margin-left: 10px;
          margin-right: 10px; }
          #navbar-wrap .nav li a:hover {
            color: #0a8fff; }
        #navbar-wrap .nav li.active a {
          color: #0a8fff;
          border-bottom: 3px solid #0a8fff; }
        #navbar-wrap .nav li:last-child {
          position: relative;
          top: -5px; }
          #navbar-wrap .nav li:last-child a {
            padding: 10px 15px;
            color: #fff !important; }
            #navbar-wrap .nav li:last-child a:hover {
              background: #0066bd;
              border-bottom: none; } }
  @media (min-width: 1200px) {
    #navbar-wrap .nav li a {
      font-size: 24px; }
    #navbar-wrap .nav li:last-child {
      top: -10px; }
      #navbar-wrap .nav li:last-child a {
        padding: 15px; } }
  #navbar-wrap.scrolled {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

#banner {
  padding: 120px 0 20px;
  text-align: center; }
  #banner .right-img {
    display: none; }
  #banner * {
    line-height: 1.5; }
  #banner p {
    font-size: 16px; }
  #banner h1, #banner h2 {
    text-transform: uppercase;
    color: #092c67; }
  #banner h1, #banner h3 {
    font-weight: bold; }
  #banner h1 {
    font-size: 1.6em; }
  #banner h2 {
    font-weight: 300;
    font-size: 1.4em; }
  #banner h3 {
    font-size: 1.2em; }
  #banner .explaination {
    margin-top: 10px; }
  #banner .line {
    height: 3px;
    width: 100%;
    display: block;
    background: #0a8fff;
    margin-top: 20px;
    margin-bottom: 20px; }
  #banner .button-wrap {
    width: 100%;
    height: 45px; }
    #banner .button-wrap a {
      width: 100%;
      height: 100%;
      margin: 20px auto;
      display: block;
      line-height: 45px;
      border: 3px solid #0a8fff;
      color: #0a8fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none; }
      #banner .button-wrap a:hover {
        background: #0a8fff;
        color: #fff; }
  @media (min-width: 768px) {
    #banner {
      padding: 200px 0 100px;
      position: relative;
      z-index: 2;
      text-align: left; }
      #banner p, #banner .explaination {
        font-size: 18px; }
      #banner h1 {
        font-size: 30px; }
      #banner h2 {
        font-size: 24px; }
      #banner h3 {
        font-size: 20px; }
      #banner .button-wrap a {
        max-width: 250px; }
      #banner .text-intro {
        position: relative;
        padding-right: 30px;
        z-index: 2; }
      #banner .right-img {
        display: block;
        position: absolute;
        left: 0;
        max-width: 260px;
        top: -100px;
        z-index: 1; } }
  @media (min-width: 992px) {
    #banner {
      padding: 170px 0 100px; }
      #banner p {
        font-size: 36px; }
      #banner h1 {
        font-size: 50px; }
      #banner h2 {
        font-size: 36px; }
      #banner h3 {
        font-size: 24px; }
      #banner .explaination {
        font-size: 20px; }
      #banner .button-wrap {
        height: 50px; }
        #banner .button-wrap a {
          line-height: 50px;
          font-size: 24px;
          margin: 30px auto; }
      #banner .right-img {
        top: -40px; } }
  @media (min-width: 1200px) {
    #banner {
      padding-bottom: 90px; }
      #banner p {
        font-size: 48px; }
      #banner h1 {
        font-size: 60px; }
      #banner h2 {
        font-size: 42px; }
      #banner h3 {
        font-size: 30px; }
      #banner .explaination {
        font-size: 24px; }
      #banner .button-wrap {
        height: 70px; }
        #banner .button-wrap a {
          line-height: 70px;
          font-size: 30px;
          max-width: 300px; }
      #banner .right-img {
        max-width: 285px; } }

#intro {
  background-image: url("../img/introBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
  text-align: justify; }
  #intro .line {
    display: block;
    width: 100%;
    height: 3px;
    background: #f6c448;
    margin-top: 20px;
    margin-bottom: 20px; }
  #intro .img-left {
    display: none; }
  #intro h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }
  #intro ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  #intro li {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px; }
    #intro li img {
      margin-right: 10px; }
    #intro li p {
      font-size: 14px; }
  @media (min-width: 768px) {
    #intro {
      margin-top: 10px; }
      #intro .container {
        position: relative; }
      #intro .img-left {
        display: block;
        position: absolute;
        left: 0;
        bottom: -20px; } }
  @media (min-width: 992px) {
    #intro {
      font-size: 18px; }
      #intro h3 {
        font-size: 20px; }
      #intro li p {
        font-size: 16px; } }
  @media (min-width: 1200px) {
    #intro {
      margin-top: 0;
      font-size: 24px; }
      #intro h3 {
        font-size: 24px; }
      #intro li p {
        font-size: 18px; }
      #intro .img-left {
        width: calc(33% - 50px); } }

#advantage {
  padding: 20px 0; }
  #advantage .lg-img {
    display: none; }
  #advantage h2 {
    font-size: 18px;
    text-align: center;
    line-height: 1.5; }
  #advantage ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  #advantage li {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-bottom: 15px; }
    #advantage li img {
      display: block;
      margin: 10px auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 30px #d6ecff;
      -moz-box-shadow: 0 0 30px #d6ecff;
      -ms-box-shadow: 0 0 30px #d6ecff;
      box-shadow: 0 0 30px #d6ecff; }
    #advantage li p {
      text-align: center;
      font-size: 16px; }
      #advantage li p.bold {
        font-weight: bold; }
  @media (min-width: 992px) {
    #advantage {
      padding: 30px 0; }
      #advantage > div {
        padding-left: 0;
        padding-right: 0;
        background-image: url("../img/programBgRp.jpg");
        background-repeat: no-repeat; }
      #advantage h2 {
        font-size: 30px; }
      #advantage ul {
        display: none; }
      #advantage .lg-img {
        display: block;
        margin: 0 auto; } }
  @media (min-width: 1440px) {
    #advantage > div {
      background-size: 1440px auto;
      background-position: center; } }

#program {
  padding-bottom: 20px; }
  #program h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #092c67;
    margin: 10px auto 0;
    text-align: center; }
  #program .item {
    margin: 15px;
    padding: 15px;
    border: 3px solid #092c67; }
  #program .header {
    text-transform: uppercase;
    color: #092c67;
    font-size: 16px; }
  #program .line {
    display: block;
    width: 100%;
    height: 2px;
    background: #f6c448;
    margin-top: 10px;
    margin-bottom: 10px; }
  #program div[class*="col-"] {
    padding-left: 0;
    padding-right: 0; }
  #program ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  #program li {
    margin-bottom: 10px;
    text-align: justify;
    color: #092c67; }
  #program #control-buttons {
    display: none; }
  #program #arrow-control {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #program #arrow-control span {
      font-size: 18px;
      margin-left: 5px;
      margin-right: 5px; }
    #program #arrow-control i {
      font-size: 28px;
      margin: 5px;
      cursor: pointer; }
  @media (min-width: 768px) {
    #program {
      padding-top: 15px;
      background-image: url("../img/courseBg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 70% top; }
      #program h2 {
        text-align: left;
        margin-left: 5px; }
      #program div[class*="col-"] {
        padding-left: 0;
        padding-right: 0; }
      #program .item {
        margin-left: 5px;
        background: #fff;
        height: 475px; }
      #program #control-buttons {
        position: absolute;
        display: block;
        top: -30px;
        right: 20px; }
        #program #control-buttons i {
          background: #f6c448;
          display: inline;
          font-size: 30px;
          padding: 0 10px;
          cursor: pointer; }
          #program #control-buttons i:hover {
            color: #fff; }
          #program #control-buttons i.fa-angle-left {
            background: #f4b417; } }
  @media (min-width: 992px) {
    #program h2 {
      font-size: 30px; }
    #program .header {
      font-size: 22px; }
    #program .item {
      padding: 20px;
      height: 600px; }
    #program .line {
      margin-top: 15px;
      margin-bottom: 30px; }
    #program li {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    #program {
      padding: 20px 0; }
      #program .item {
        height: 580px; }
      #program .header {
        font-size: 24px; }
      #program #control-buttons {
        top: -45px; }
        #program #control-buttons i {
          font-size: 45px;
          padding: 0 15px; } }

#cert {
  padding: 15px 0;
  background-image: url("../img/introBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  #cert h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px; }
  #cert img {
    display: block;
    margin: 0 auto 20px; }
  #cert ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    margin-top: 20px; }
  #cert li {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px; }
    #cert li img {
      margin: 5px 10px 0 0; }
    #cert li p {
      text-align: justify; }
  @media (min-width: 768px) {
    #cert {
      padding: 30px 0;
      margin-bottom: 30px; }
      #cert h3 {
        text-align: left; }
      #cert div > img {
        max-width: 240px;
        margin-top: 80px;
        margin-left: -70px; }
      #cert p {
        font-size: 16px; } }
  @media (min-width: 992px) {
    #cert {
      padding-bottom: 15px;
      margin-bottom: 30px; }
      #cert div > img {
        max-width: 100%;
        margin-top: 0;
        margin-left: 0; }
      #cert h3 {
        font-size: 24px;
        line-height: 24pt; }
      #cert p {
        font-size: 18px; } }

#lecture {
  padding: 20px 0; }
  #lecture ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  #lecture li {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: flex-start; }
    #lecture li i {
      position: relative;
      top: 5px;
      margin-right: 10px; }
  #lecture .lecture-name, #lecture p {
    font-size: 16px; }
  #lecture .lecture-box {
    max-width: 363px;
    margin: 0 auto 20px; }
  #lecture .info {
    background: #092c67;
    color: #fff;
    padding: 15px; }
  #lecture .line {
    display: block;
    height: 2px;
    background: #f6c448;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 180px; }
  @media (min-width: 992px) {
    #lecture {
      padding: 30px 0; }
      #lecture img {
        height: 350px;
        object-fit: cover;
        object-position: top; }
      #lecture .lecture-box {
        float: left;
        width: calc(33.33% - 20px);
        margin: 10px;
        position: relative; }
        #lecture .lecture-box:hover .info {
          height: 100%; }
        #lecture .lecture-box li {
          font-size: 13px;
          margin-bottom: 5px;
          line-height: 1.3; }
      #lecture .info {
        position: absolute;
        height: 68px;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        opacity: .9;
        transition: .5s ease; } }
  @media (min-width: 1200px) {
    #lecture {
      padding: 70px 0; }
      #lecture .lecture-box {
        width: calc(33.33% - 30px);
        margin: 15px; }
      #lecture img {
        height: auto; }
      #lecture .lecture-name {
        font-size: 18px; }
      #lecture p {
        font-size: 17px; }
      #lecture .info {
        height: 75px; } }

#learn-online h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #092c67;
  text-align: center;
  margin-bottom: 20px; }

#learn-online .box {
  display: -webkit-flex;
  display: -ms-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px #d6ecff;
  -moz-box-shadow: 0 0 20px #d6ecff;
  -ms-box-shadow: 0 0 20px #d6ecff;
  box-shadow: 0 0 20px #d6ecff; }

#learn-online img {
  display: block;
  margin-right: 10px;
  height: 65px; }

#learn-online p {
  flex: 1;
  text-align: justify; }

@media (min-width: 768px) {
  #learn-online {
    padding: 20px 0 30px; }
    #learn-online h2 {
      font-size: 28px; }
    #learn-online .box {
      width: calc(50% - 20px);
      margin: 10px 10px 20px;
      float: left;
      height: 150px; }
    #learn-online img {
      height: 80px; }
    #learn-online p {
      font-size: 16px; } }

@media (min-width: 992px) {
  #learn-online {
    padding: 40px 0; }
    #learn-online h2 {
      font-size: 30px; }
    #learn-online p {
      font-size: 18px; }
    #learn-online img {
      height: auto;
      margin-right: 15px; }
    #learn-online .box {
      width: calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      height: 200px;
      padding: 15px; } }

@media (min-width: 1200px) {
  #learn-online {
    padding-top: 0; }
    #learn-online h2 {
      margin-bottom: 20px; }
    #learn-online .box {
      width: calc(50% - 40px);
      height: 145px;
      margin: 20px;
      padding: 15px 20px; } }

#review {
  background-image: url("../img/reviewBg.png");
  background-size: contain;
  background-repeat: repeat; }
  #review h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #092c67;
    text-align: center;
    font-size: 22px;
    margin: 20px auto; }
  #review .wrapper {
    position: relative;
    z-index: 3; }
  #review .review-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px; }
  #review p {
    text-align: justify;
    height: 220px; }
  #review img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 10px auto; }
  #review .user {
    text-align: center; }
    #review .user b {
      display: block; }
  #review span {
    margin-top: 10px;
    display: block;
    text-align: center; }
  #review #review-arrow-control {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #review #review-arrow-control i {
      position: absolute;
      display: inline-table;
      bottom: 150px;
      font-size: 20px;
      background: #f6c448;
      text-align: center;
      cursor: pointer;
      padding: 0 5px;
      margin-left: -60px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      #review #review-arrow-control i.fa-angle-right {
        margin-left: 60px; }
  #review .abs-img {
    display: none; }
  @media (min-width: 768px) {
    #review {
      padding-bottom: 20px; }
      #review h2 {
        font-size: 28px; }
      #review p, #review span, #review .user {
        font-size: 18px; }
      #review p {
        height: 150px;
        text-align: justify; } }
  @media (min-width: 992px) {
    #review {
      padding-bottom: 70px; }
      #review h2 {
        font-size: 30px; }
      #review p {
        height: 150px;
        padding: 10px; }
      #review .abs-img {
        position: absolute;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        width: 100%;
        max-width: 950px;
        height: auto;
        z-index: 1;
        display: block;
        margin: 0 auto; } }
  @media (min-width: 1200px) {
    #review {
      padding: 30px 0 100px;
      margin-top: 70px; }
      #review h2 {
        margin-bottom: 40px; }
      #review p {
        font-size: 18px;
        line-height: 1.8;
        height: 200px;
        padding: 15px; }
      #review .review-item {
        padding: 10px 20px 30px; }
      #review #review-arrow-control {
        bottom: 40px; }
        #review #review-arrow-control i {
          font-size: 30px;
          padding: 0 10px;
          margin-left: -70px; }
          #review #review-arrow-control i.fa-angle-right {
            margin-left: 70px; }
      #review .user {
        margin: 20px auto; }
      #review .abs-img {
        max-width: 1150px; } }

#sologan {
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }
  #sologan h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px; }
  #sologan span {
    font-size: 1.2em;
    background-color: #fff;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  #sologan a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #0a8fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 30px #0a8fff;
    -moz-box-shadow: 0 0 30px #0a8fff;
    -ms-box-shadow: 0 0 30px #0a8fff;
    box-shadow: 0 0 30px #0a8fff; }
  @media (min-width: 768px) {
    #sologan > div {
      display: -webkit-flex;
      display: -ms-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    #sologan h2 {
      font-size: 30px;
      margin: 0 auto; }
    #sologan a {
      max-width: 240px;
      height: 50px;
      line-height: 50px;
      font-size: 28px; }
      #sologan a:hover {
        background: #0082f0; } }
  @media (min-width: 992px) {
    #sologan {
      padding-top: 20px;
      padding-bottom: 20px; }
      #sologan img {
        margin: 5px auto; }
      #sologan a {
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        max-width: 280px;
        width: 275px;
        margin-left: 0; } }

#register {
  padding: 15px 0;
  background-image: url("../img/regBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #register h2 {
    text-align: center;
    text-transform: uppercase;
    color: #092c67;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px; }
  #register ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    margin-bottom: 20px; }
  #register li {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px; }
    #register li img {
      margin-right: 10px; }
  #register p {
    font-size: 16px; }
  #register h3 {
    text-transform: uppercase;
    color: #f6c448;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4; }
    #register h3 br {
      display: none; }
  #register .left .line {
    display: block;
    height: 3px;
    background: #f6c448;
    margin: 0 auto 20px;
    max-width: 300px; }
  #register .form-wrapper {
    background: #0a47b3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0a47b3 0%, #0a2a64 80%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a47b3), color-stop(100%, #0a2a64));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0a47b3 0%, #0a2a64 80%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0a47b3 0%, #0a2a64 80%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0a47b3 0%, #0a2a64 80%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0a47b3 0%, #0a2a64 80%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 20px #a3d5ff;
    -moz-box-shadow: 0 5px 20px #a3d5ff;
    -ms-box-shadow: 0 5px 20px #a3d5ff;
    box-shadow: 0 5px 20px #a3d5ff;
    color: #fff;
    text-align: center;
    padding: 15px; }
    #register .form-wrapper .line {
      display: block;
      background: #f6c448;
      margin: 10px auto 0;
      height: 3px;
      max-width: 260px; }
    #register .form-wrapper .border-box {
      border: 3px solid  #fff;
      border-top: none;
      padding-top: 10px;
      padding-bottom: 5px; }
      #register .form-wrapper .border-box b {
        text-transform: uppercase;
        font-size: 1.25em; }
    #register .form-wrapper .two-line {
      display: -webkit-flex;
      display: -ms-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 10px; }
      #register .form-wrapper .two-line span {
        display: table;
        padding: 0 10px;
        font-size: 16px; }
    #register .form-wrapper .white-line {
      height: 3px;
      background: #fff;
      flex: 1; }
  #register form {
    padding: 10px 0;
    margin-top: 15px; }
    #register form p {
      text-align: left;
      font-weight: bold; }
  #register .button-wrap {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px; }
    #register .button-wrap button {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      -moz-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      -ms-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      display: block;
      background: #f6c448;
      color: #3f3e3e;
      width: 100%;
      height: 40px;
      border: none;
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
      margin: 10px auto 20px; }
      #register .button-wrap button:hover {
        background: #e6a70b; }
  @media (min-width: 768px) {
    #register {
      margin: 30px 0 50px;
      padding: 30px 0 50px;
      -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
      #register .container {
        position: relative; }
      #register .left .line {
        margin-left: 0;
        max-width: 80%; }
      #register .form-wrapper {
        position: absolute;
        top: -20px;
        right: 10px; }
      #register li > p {
        padding-right: 20px; }
      #register h2 {
        text-align: left;
        font-size: 24px; }
      #register h3 {
        font-size: 18px; } }
  @media (min-width: 992px) {
    #register {
      margin: 50px 0 80px; }
      #register h2 {
        font-size: 30px; }
      #register li {
        margin-bottom: 15px;
        padding-right: 20px; }
        #register li p {
          font-size: 18px; }
      #register .form-wrapper {
        right: 15px;
        padding: 20px; }
        #register .form-wrapper .top, #register .form-wrapper h3, #register .form-wrapper .two-line span, #register .form-wrapper .border-box b {
          font-size: 24px; }
        #register .form-wrapper .border-box {
          line-height: 2; }
        #register .form-wrapper .two-line {
          top: 17px; } }
  @media (min-width: 1200px) {
    #register {
      padding: 80px 0;
      margin: 70px 0 150px; }
      #register li {
        padding-right: 30px; }
      #register .left .line {
        margin-bottom: 30px; }
      #register .form-wrapper {
        padding: 20px 40px;
        top: -50px; }
        #register .form-wrapper br {
          display: block; }
      #register form .form-control {
        height: 50px; }
      #register form p {
        font-size: 18px; }
      #register .button-wrap button {
        height: 60px;
        line-height: 60px;
        font-size: 30px; } }

#about {
  padding-bottom: 100px; }
  #about .top {
    padding-left: 0;
    padding-right: 0;
    background: #f2f1f1; }
    #about .top img {
      display: none; }
  #about h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #3f3e3e;
    text-align: center;
    margin: 15px auto;
    line-height: 1.4; }
  #about h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #c5c0c0;
    margin: 15px auto; }
  #about p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px; }
  #about .bottom img {
    display: block;
    margin: 0 auto; }
  @media (min-width: 992px) {
    #about h2, #about h3 {
      font-size: 30px;
      margin: 30px auto; }
    #about .top {
      padding-bottom: 30px;
      position: relative; }
    #about p {
      font-size: 18px; } }
  @media (min-width: 1280px) {
    #about .top {
      z-index: 3; }
      #about .top img {
        display: block;
        position: absolute;
        bottom: 0;
        max-width: 200px; }
        #about .top img.right-img {
          right: 0; } }
  @media (min-width: 1366px) {
    #about .top img {
      max-width: 100%;
      height: 100%;
      object-fit: cover; }
      #about .top img.left-img {
        left: -8.3%; } }
  @media (min-width: 1600px) {
    #about .top img.left-img {
      left: 0; } }

footer {
  width: 100%;
  background: #023589;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block; }
  footer p {
    font-size: 13px; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      text-decoration: underline;
      color: #fff; }
  footer .left {
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer .left img {
      height: 35px;
      margin: 10px;
      float: left; }
  footer .fb-page {
    margin-top: 10px; }
  @media (min-width: 768px) {
    footer p {
      display: block;
      text-align: left;
      line-height: 1.4; }
    footer .left {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    footer {
      padding-top: 50px;
      padding-bottom: 50px; }
      footer .left {
        padding-top: 20px; }
        footer .left img {
          width: 166px;
          height: auto; }
      footer p {
        font-size: 15px;
        line-height: 2; }
      footer .fb-page {
        margin-top: 15px; } }

body {
  font-family: "Nunito"; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%; }

#comment-plugin {
  padding: 20px 0; }

@media (min-width: 1200px) {
  #comment-plugin {
    padding: 50px 0 80px; } }
