/** Light */
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/roboto.light.ttf"); }

/** Thin */
@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("../fonts/roboto.thin.ttf"); }

/** Regular */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto.regular.ttf"); }

/** Bold */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto.bold.ttf"); }

/**********************/
ul, ol {
  list-style: none; }

a, a:hover {
  text-decoration: none !important; }

a:focus {
  outline: none;
  outline-offset: 0px;
  text-decoration: none; }

.form-control:focus,
.detail-wrap-review .rate.fxac form textarea:focus {
  border: 1px solid #58AE3D;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

body {
  font-family: "Roboto", "UTM Bebas" !important;
  text-align: center; }

body p {
  font-size: 16px; }

.float-right {
  float: right; }

.line-through {
  text-decoration: line-through; }

.float-left {
  float: left; }

.scroll-y-hidden {
  overflow-y: hidden; }

.bold {
  font-weight: bold !important; }

.text-transform {
  text-transform: uppercase !important; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.italic {
  font-style: italic; }

.cursor-inherit:hover {
  cursor: inherit; }

.scrolled {
  background-color: #444 !important;
  height: 60px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5); }

.pc {
  display: block; }

* {
  transition: all .3s ease-in-out; }

.navbar-default {
  background-image: none;
  border-radius: 0;
  box-shadow: none; }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent; }
  .navbar-default .navbar-collapse {
    border-color: #444;
    margin-left: -60px;
    margin-right: -60px; }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    background-color: transparent; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-weight: bold;
    color: #fff;
    background-color: transparent; }
  .navbar-default .navbar-nav > .active > a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background-image: none;
    box-shadow: none;
    background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    font-weight: bold;
    color: #fff;
    background-color: transparent; }
  @media (min-width: 1200px) {
    .navbar-default .navbar-nav > .active > a {
      background-color: transparent; } }

.navbar {
  top: 0px !important;
  position: fixed !important;
  z-index: 999;
  width: 100%;
  height: 50px;
  background-color: #444;
  border: none;
  margin-bottom: 0; }
  .navbar .navbar-header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; }
    .navbar .navbar-header .navbar-toggle {
      padding: 10px 5px;
      margin: 8px 0 0;
      background-color: #fff; }
    .navbar .navbar-header .navbar-brand {
      padding: 5px;
      line-height: 1; }
    .navbar .navbar-header .mana-logo {
      float: left;
      padding-left: 5px; }
      .navbar .navbar-header .mana-logo img {
        margin-top: 10px;
        height: 30px; }
  .navbar .navbar-nav {
    background-color: #444;
    margin: 0 10px 10px; }
    .navbar .navbar-nav li {
      background-color: #444; }
  .navbar .navbar-collapse.collapse {
    background-color: #444; }
  @media (min-width: 768px) {
    .navbar .navbar-header {
      float: none; }
    .navbar .navbar-toggle {
      display: block; }
    .navbar .navbar-nav {
      float: none;
      margin: 0 -30px; }
      .navbar .navbar-nav li {
        float: none; }
    .navbar .navbar-collapse.collapse {
      display: none !important;
      visibility: hidden !important; }
    .navbar .collapse.in {
      display: block !important;
      visibility: visible !important; } }
  @media (min-width: 992px) {
    .navbar {
      height: 100px;
      background-color: transparent; }
      .navbar .navbar-header {
        float: left; }
        .navbar .navbar-header .mana-logo img {
          margin-top: 25px;
          height: 50px; }
      .navbar .navbar-toggle {
        display: none; }
      .navbar .navbar-nav {
        float: left;
        margin-top: 30px;
        background-color: transparent; }
        .navbar .navbar-nav li {
          float: left;
          text-align: left;
          margin-top: 10px;
          background-color: transparent; }
          .navbar .navbar-nav li a {
            padding-top: 0;
            padding-bottom: 0; }
      .navbar .navbar-collapse.collapse {
        background-color: transparent;
        float: right;
        margin-right: 0px;
        margin-left: 0px;
        display: block !important;
        visibility: visible !important; } }

#banner {
  background-image: url("../images/header_lg.png");
  background-position: 10% top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 20px; }
  #banner .row {
    margin-top: 70px;
    margin-bottom: 50px; }
  #banner .text-content .text-content-title h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px; }
  #banner .text-content .text-content-title h3 {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: lighter;
    text-align: left; }
  #banner .text-content .text-content-title hr {
    width: 90px;
    border-top: 5px solid #fff;
    float: left; }
  #banner .text-content .text-content-title p {
    font-size: 20px;
    text-align: left;
    float: left; }
  #banner .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 20px; }
  @media (min-width: 768px) {
    #banner {
      padding-top: 50px;
      padding-bottom: 20px; }
      #banner .row {
        margin-bottom: 80px;
        margin-top: 120px; }
      #banner .text-content .text-content-title h1 {
        font-size: 36px;
        font-weight: bold; }
      #banner .text-content .text-content-title h3 {
        font-size: 28px; } }
  @media (min-width: 1200px) {
    #banner {
      padding-top: 50px; }
      #banner .fa-angle-down {
        font-size: 60px;
        bottom: 30px; }
      #banner .row {
        margin-top: 120px;
        margin-bottom: 80px; }
      #banner .text-content .text-content-title h1 {
        font-size: 55px;
        font-weight: bold;
        line-height: 1.2; }
      #banner .text-content .text-content-title h3 {
        font-size: 45px; }
      #banner .text-content .text-content-title hr {
        margin-top: 25px;
        margin-bottom: 30px; } }
  @media (min-width: 1367px) {
    #banner .fa-angle-down {
      font-size: 60px;
      bottom: 40px; }
    #banner .row {
      margin-top: 150px;
      margin-bottom: 120px; }
    #banner .text-content .text-content-title h1 {
      font-size: 64px;
      font-weight: bold;
      line-height: 1.3; }
    #banner .text-content .text-content-title h3 {
      font-size: 48px; }
    #banner .text-content .text-content-title hr {
      margin-top: 30px;
      margin-bottom: 50px; } }

#loi-ich {
  background-image: url("../images/loiich.png");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  #loi-ich .row {
    margin-top: 20px;
    margin-bottom: 20px; }
    #loi-ich .row h3 {
      font-size: 36px;
      font-weight: bold;
      color: #003792;
      text-align: left;
      text-transform: uppercase; }
    #loi-ich .row ul {
      margin-left: -20px;
      list-style-type: disc; }
      #loi-ich .row ul li {
        padding-left: 10px;
        color: #003792;
        text-align: left;
        font-size: 22px;
        margin-bottom: 10px; }
        #loi-ich .row ul li p {
          font-size: 16px;
          line-height: 1.5;
          color: #000; }
          #loi-ich .row ul li p span {
            color: #003792;
            font-weight: bold; }
  #loi-ich .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 30px; }
  @media (min-width: 460px) {
    #loi-ich {
      background-position: 50% top; }
      #loi-ich .row {
        margin-top: 50px;
        margin-bottom: 50px; }
        #loi-ich .row ul {
          width: 70%;
          margin-left: -20px;
          list-style-type: disc; }
          #loi-ich .row ul li {
            padding-left: 10px;
            color: #003792;
            text-align: left;
            font-size: 22px;
            margin-bottom: 10px; }
            #loi-ich .row ul li p {
              font-size: 16px;
              line-height: 1.5; } }
  @media (min-width: 768px) {
    #loi-ich {
      background-position: 40% top; }
      #loi-ich .fa-angle-down {
        font-size: 60px; }
      #loi-ich .row {
        margin-top: 120px;
        margin-bottom: 80px; }
        #loi-ich .row ul {
          margin-top: 30px;
          width: 60%;
          margin-left: -20px; }
          #loi-ich .row ul li p {
            line-height: 1.6;
            font-size: 18px; } }
  @media (min-width: 992px) {
    #loi-ich {
      background-position: right top; }
      #loi-ich .row {
        margin-top: 120px;
        margin-bottom: 80px; }
        #loi-ich .row ul {
          margin-top: 30px;
          width: 100%;
          margin-left: -20px; }
          #loi-ich .row ul li {
            padding-left: 30px;
            font-size: 24px; }
            #loi-ich .row ul li p {
              line-height: 1.6; } }
  @media (min-width: 1200px) {
    #loi-ich {
      background-position: right 35%;
      padding-top: 20px; }
      #loi-ich .fa-angle-down {
        bottom: 40px; }
      #loi-ich .row {
        margin-top: 60px;
        margin-bottom: 50px; }
        #loi-ich .row ul {
          margin-top: 60px;
          margin-bottom: 100px;
          width: 100%;
          margin-left: -20px; }
          #loi-ich .row ul li {
            padding-left: 30px;
            font-size: 24px; }
            #loi-ich .row ul li p {
              line-height: 1.6; } }
  @media (min-width: 1367px) {
    #loi-ich {
      background-position: right top;
      padding-top: 50px; }
      #loi-ich .row {
        margin-top: 200px;
        margin-bottom: 250px; }
        #loi-ich .row ul {
          margin-top: 60px;
          width: 100%;
          margin-left: -20px; }
          #loi-ich .row ul li {
            padding-left: 30px;
            font-size: 24px; }
            #loi-ich .row ul li p {
              line-height: 1.6; } }

#khoa-hoc {
  background-image: none;
  padding-top: 30px;
  padding-bottom: 20px; }
  #khoa-hoc .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 20px; }
  #khoa-hoc .row {
    padding-top: 20px; }
  #khoa-hoc h3 {
    text-transform: uppercase;
    color: #003792;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px; }
  #khoa-hoc .xs-title {
    color: #003792;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #003792; }
  #khoa-hoc .left {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #003792;
    color: #fff;
    text-align: left; }
    #khoa-hoc .left h4 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5; }
    #khoa-hoc .left .line {
      border-top: 4px solid;
      width: 50px;
      margin-top: 20px;
      margin-bottom: 20px; }
    #khoa-hoc .left p {
      font-size: 16px;
      line-height: 1.5; }
    #khoa-hoc .left .btn-dang-ky-hoc {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding: 5px 10px;
      border: 2px solid #fff;
      margin-top: 20px; }
  #khoa-hoc .middle, #khoa-hoc .right {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    text-align: left; }
    #khoa-hoc .middle .item-box, #khoa-hoc .right .item-box {
      margin-left: 20px; }
      #khoa-hoc .middle .item-box b, #khoa-hoc .right .item-box b {
        color: #003792;
        font-size: 18px;
        text-align: left;
        margin-bottom: 10px; }
      #khoa-hoc .middle .item-box ul, #khoa-hoc .right .item-box ul {
        margin-left: -30px; }
        #khoa-hoc .middle .item-box ul li, #khoa-hoc .right .item-box ul li {
          margin-bottom: 5px; }
        #khoa-hoc .middle .item-box ul li::before, #khoa-hoc .right .item-box ul li::before {
          content: "- ";
          font-size: 18px; }
  #khoa-hoc .list-tuan-hoc {
    display: none; }
  @media (min-width: 768px) {
    #khoa-hoc .left {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 20px; }
      #khoa-hoc .left h4 {
        font-size: 24px; }
      #khoa-hoc .left .btn-dang-ky-hoc {
        font-size: 24px;
        width: 300px; }
    #khoa-hoc .fa-angle-down {
      font-size: 60px;
      bottom: 0px; } }
  @media (min-width: 992px) {
    #khoa-hoc {
      padding-top: 0px; }
      #khoa-hoc .fa-angle-down {
        bottom: 10px; }
      #khoa-hoc h3 {
        font-size: 36px;
        margin-bottom: 0px;
        margin-top: -20px; }
      #khoa-hoc .xs-title {
        display: none; }
      #khoa-hoc .tuan ul li {
        line-height: 1.3; }
      #khoa-hoc .tuan1, #khoa-hoc .tuan2, #khoa-hoc .tuan3, #khoa-hoc .tuan4 {
        display: flex; }
        #khoa-hoc .tuan1 .left, #khoa-hoc .tuan2 .left, #khoa-hoc .tuan3 .left, #khoa-hoc .tuan4 .left {
          margin-top: 0px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          min-height: 440px;
          height: auto; }
          #khoa-hoc .tuan1 .left h4, #khoa-hoc .tuan2 .left h4, #khoa-hoc .tuan3 .left h4, #khoa-hoc .tuan4 .left h4 {
            font-size: 22px;
            line-height: 1.5;
            margin: 5px auto; }
          #khoa-hoc .tuan1 .left p, #khoa-hoc .tuan2 .left p, #khoa-hoc .tuan3 .left p, #khoa-hoc .tuan4 .left p {
            line-height: 1.7; }
          #khoa-hoc .tuan1 .left .btn-dang-ky-hoc, #khoa-hoc .tuan2 .left .btn-dang-ky-hoc, #khoa-hoc .tuan3 .left .btn-dang-ky-hoc, #khoa-hoc .tuan4 .left .btn-dang-ky-hoc {
            width: 90%;
            position: absolute;
            bottom: 20px; }
      #khoa-hoc .tuan2, #khoa-hoc .tuan3, #khoa-hoc .tuan4 {
        display: none; }
      #khoa-hoc .list-tuan-hoc {
        display: block;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px; }
        #khoa-hoc .list-tuan-hoc li {
          display: inline;
          padding: 0;
          float: left;
          cursor: pointer;
          margin-right: 15px; }
          #khoa-hoc .list-tuan-hoc li a {
            font-size: 22px;
            font-weight: 100;
            color: #003792; }
          #khoa-hoc .list-tuan-hoc li a.active, #khoa-hoc .list-tuan-hoc li a:focus {
            font-weight: bold;
            border-bottom: 3px solid #003792; } }
  @media (min-width: 1367px) {
    #khoa-hoc {
      padding-top: 0px; }
      #khoa-hoc .fa-angle-down {
        bottom: 30px; }
      #khoa-hoc h3 {
        font-size: 36px; }
      #khoa-hoc .tuan ul li {
        line-height: 2; }
      #khoa-hoc .tuan1 .left, #khoa-hoc .tuan2 .left, #khoa-hoc .tuan3 .left, #khoa-hoc .tuan4 .left {
        margin-top: 0px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        min-height: 600px;
        height: auto; }
        #khoa-hoc .tuan1 .left h4, #khoa-hoc .tuan2 .left h4, #khoa-hoc .tuan3 .left h4, #khoa-hoc .tuan4 .left h4 {
          font-size: 24px;
          line-height: 1.8; }
        #khoa-hoc .tuan1 .left p, #khoa-hoc .tuan2 .left p, #khoa-hoc .tuan3 .left p, #khoa-hoc .tuan4 .left p {
          line-height: 2; }
        #khoa-hoc .tuan1 .left .btn-dang-ky-hoc, #khoa-hoc .tuan2 .left .btn-dang-ky-hoc, #khoa-hoc .tuan3 .left .btn-dang-ky-hoc, #khoa-hoc .tuan4 .left .btn-dang-ky-hoc {
          width: 90%;
          position: absolute;
          bottom: 20px; }
      #khoa-hoc .tuan2, #khoa-hoc .tuan3, #khoa-hoc .tuan4 {
        display: none; }
      #khoa-hoc .list-tuan-hoc {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 0px;
        padding-right: 0px; }
        #khoa-hoc .list-tuan-hoc li {
          display: inline;
          padding: 0;
          float: left;
          cursor: pointer;
          margin-right: 15px; }
          #khoa-hoc .list-tuan-hoc li a {
            font-size: 22px; } }

#don-vi-cap-bang {
  background-image: url("../images/donvicapchungchi.png");
  background-position: left top; }
  #don-vi-cap-bang .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 20px; }
  #don-vi-cap-bang .left {
    padding-top: 30px;
    padding-bottom: 20px; }
  #don-vi-cap-bang .right {
    padding-top: 20px;
    color: #fff;
    text-align: left; }
    #don-vi-cap-bang .right h4 {
      font-size: 20px;
      font-weight: 100;
      text-transform: uppercase; }
    #don-vi-cap-bang .right h3 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5; }
    #don-vi-cap-bang .right .line {
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 5px solid #fff;
      width: 100px; }
    #don-vi-cap-bang .right ul {
      margin-left: -30px;
      padding-top: 20px;
      padding-bottom: 20px; }
      #don-vi-cap-bang .right ul li {
        display: flex;
        margin-bottom: 10px; }
        #don-vi-cap-bang .right ul li i {
          position: relative;
          top: 5px;
          margin-right: 10px; }
  @media (min-width: 768px) {
    #don-vi-cap-bang .left img {
      margin: 20px auto; }
    #don-vi-cap-bang .right h4 {
      font-size: 28px; }
    #don-vi-cap-bang .right h3 {
      font-size: 40px; }
    #don-vi-cap-bang .right ul li i {
      margin-right: 30px; }
    #don-vi-cap-bang .right ul li p {
      font-size: 24px; } }
  @media (min-width: 992px) {
    #don-vi-cap-bang {
      background-repeat: no-repeat;
      background-size: cover; }
      #don-vi-cap-bang .fa-angle-down {
        font-size: 60px;
        bottom: 40px; }
      #don-vi-cap-bang .left, #don-vi-cap-bang .right {
        padding-top: 100px;
        padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    #don-vi-cap-bang {
      padding-top: 0px; }
      #don-vi-cap-bang .left, #don-vi-cap-bang .right {
        padding-top: 50px;
        padding-bottom: 50px; }
      #don-vi-cap-bang .fa-angle-down {
        bottom: 20px; } }
  @media (min-width: 1367px) {
    #don-vi-cap-bang .left, #don-vi-cap-bang .right {
      padding-top: 200px;
      padding-bottom: 200px; } }

#giang-vien {
  padding-top: 20px;
  padding-bottom: 20px; }
  #giang-vien .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 20px; }
  #giang-vien h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #003792;
    margin: 10px auto;
    font-weight: bold; }
  #giang-vien img {
    border-radius: 25px;
    width: 300px;
    margin: 0 auto; }
  #giang-vien .sm-gv1, #giang-vien .sm-gv2 {
    padding-top: 5px; }
    #giang-vien .sm-gv1 p, #giang-vien .sm-gv2 p {
      font-weight: 100;
      font-size: 16px;
      margin: 10px auto 3px; }
    #giang-vien .sm-gv1 b, #giang-vien .sm-gv2 b {
      font-size: 18px; }
    #giang-vien .sm-gv1 ul, #giang-vien .sm-gv2 ul {
      margin-top: 20px;
      margin-bottom: 50px;
      list-style-type: disc;
      text-align: left; }
      #giang-vien .sm-gv1 ul li, #giang-vien .sm-gv2 ul li {
        font-size: 24px; }
        #giang-vien .sm-gv1 ul li p, #giang-vien .sm-gv2 ul li p {
          font-size: 16px;
          font-weight: normal; }
  #giang-vien .gv1, #giang-vien .gv2, #giang-vien .md-gv {
    display: none; }
  @media (min-width: 992px) {
    #giang-vien {
      padding-top: 50px;
      padding-bottom: 50px; }
      #giang-vien .fa-angle-down {
        font-size: 60px;
        bottom: 40px; }
      #giang-vien h3 {
        font-size: 36px; }
      #giang-vien .sm-gv1, #giang-vien .sm-gv2 {
        display: none; }
      #giang-vien .left, #giang-vien .right {
        padding-left: 0px;
        padding-right: 0px; }
        #giang-vien .left .md-gv, #giang-vien .right .md-gv {
          display: block; }
      #giang-vien .left img {
        cursor: pointer;
        margin-left: 0px;
        padding-top: 20px;
        border-radius: 0;
        width: 460px;
        height: 460px; }
      #giang-vien .right img {
        cursor: pointer;
        margin-left: -20px;
        padding-top: 20px;
        border-radius: 0;
        width: 460px;
        height: 460px; }
      #giang-vien .gv1 {
        display: none;
        background-color: rgba(30, 87, 131, 0.8);
        text-align: left;
        color: #fff;
        position: absolute;
        width: 460px;
        margin-left: 465px;
        margin-top: 20px;
        height: auto;
        padding-top: 100px;
        padding-bottom: 75px; }
        #giang-vien .gv1 p {
          font-size: 18px;
          font-weight: 100;
          margin: 10px 15px 0; }
        #giang-vien .gv1 b {
          font-size: 24px;
          margin: 10px 15px; }
        #giang-vien .gv1 ul {
          margin-top: 20px;
          list-style-type: disc;
          font-size: 25px;
          margin-bottom: 0px; }
          #giang-vien .gv1 ul li p {
            font-size: 16px !important;
            line-height: 1.6; }
      #giang-vien .gv1::after {
        right: 100%;
        top: 45%;
        border-style: solid;
        border-width: 15px 40px 15px 0;
        border-color: transparent rgba(30, 87, 131, 0.8) transparent transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute; }
      #giang-vien .gv2 {
        display: none;
        background-color: rgba(30, 87, 131, 0.8);
        text-align: left;
        color: #fff;
        position: absolute;
        width: 445px;
        margin-left: 20px;
        margin-top: 20px;
        height: auto;
        padding-top: 70px;
        padding-bottom: 60px; }
        #giang-vien .gv2 p {
          font-size: 18px;
          font-weight: 100;
          margin: 10px 15px 0; }
        #giang-vien .gv2 b {
          font-size: 24px;
          margin: 10px 15px; }
        #giang-vien .gv2 ul {
          margin-top: 20px;
          list-style-type: disc;
          font-size: 25px;
          margin-bottom: 0px; }
          #giang-vien .gv2 ul li p {
            font-size: 16px !important;
            line-height: 1.6; }
      #giang-vien .gv2::after {
        left: 100%;
        top: 45%;
        border-style: solid;
        border-width: 15px 0px 15px 40px;
        border-color: transparent transparent transparent rgba(30, 87, 131, 0.8);
        content: " ";
        height: 0;
        width: 0;
        position: absolute; } }
  @media (min-width: 1200px) {
    #giang-vien {
      padding-top: 0px;
      padding-bottom: 0px; }
      #giang-vien h3 {
        margin-top: -30px;
        margin-bottom: 40px; }
      #giang-vien .fa-angle-down {
        bottom: 10px; }
      #giang-vien .left img {
        margin-left: 180px;
        margin-top: 0px;
        width: 400px;
        height: 400px; }
      #giang-vien .right img {
        margin-left: -5px;
        margin-top: 0px;
        padding-top: 20px;
        width: 400px;
        height: 400px; }
      #giang-vien .gv1 {
        width: 400px;
        margin-left: 579px;
        margin-top: 20px;
        padding-top: 40px;
        padding-bottom: 50px; }
        #giang-vien .gv1 p {
          font-size: 18px; }
        #giang-vien .gv1 b {
          font-size: 28px;
          margin: 10px 15px; }
        #giang-vien .gv1 ul {
          margin-top: 20px;
          list-style-type: disc;
          font-size: 28px;
          margin-bottom: 0px; }
          #giang-vien .gv1 ul li p {
            font-size: 18px !important;
            line-height: 1.6; }
      #giang-vien .gv2 {
        width: 400px;
        margin-left: 180px;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 20px; }
        #giang-vien .gv2 p {
          font-size: 18px; }
        #giang-vien .gv2 b {
          font-size: 28px; }
        #giang-vien .gv2 ul {
          margin-top: 0px;
          list-style-type: disc;
          font-size: 25px;
          margin-bottom: -5px; }
          #giang-vien .gv2 ul li p {
            font-size: 18px !important;
            line-height: 1.4; } }
  @media (min-width: 1367px) {
    #giang-vien {
      padding-top: 0px;
      margin-top: 0px; }
      #giang-vien h3 {
        margin-top: -150px;
        margin-bottom: 50px; }
      #giang-vien .fa-angle-down {
        bottom: 30px; }
      #giang-vien .left img {
        margin-left: 85px;
        margin-top: 0px;
        width: 500px;
        height: 500px; }
      #giang-vien .right img {
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 20px;
        width: 500px;
        height: 500px; }
      #giang-vien .gv1 {
        width: 500px;
        margin-left: 585px;
        margin-top: 20px;
        padding-top: 120px;
        padding-bottom: 70px; }
        #giang-vien .gv1 p {
          font-size: 18px; }
        #giang-vien .gv1 b {
          font-size: 28px;
          margin: 10px 15px; }
        #giang-vien .gv1 ul {
          margin-top: 20px;
          list-style-type: disc;
          font-size: 28px;
          margin-bottom: 0px; }
          #giang-vien .gv1 ul li p {
            font-size: 18px !important;
            line-height: 1.6; }
      #giang-vien .gv2 {
        width: 500px;
        margin-left: 85px;
        margin-top: 20px;
        padding-top: 100px;
        padding-bottom: 60px; }
        #giang-vien .gv2 p {
          font-size: 18px; }
        #giang-vien .gv2 b {
          font-size: 28px; }
        #giang-vien .gv2 ul {
          margin-top: 20px;
          list-style-type: disc;
          font-size: 25px;
          margin-bottom: 0px; }
          #giang-vien .gv2 ul li p {
            font-size: 18px !important;
            line-height: 1.6; } }

#gioi-thieu {
  background-color: #f6f6f6;
  background-image: none; }
  #gioi-thieu span {
    color: #003792;
    font-weight: bold; }
  #gioi-thieu .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 20px; }
  #gioi-thieu .text-intro h3 {
    color: #003792;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px; }
    #gioi-thieu .text-intro h3 span {
      font-size: 16px;
      font-weight: normal; }
  #gioi-thieu .text-intro p {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #000; }
    #gioi-thieu .text-intro p span {
      font-weight: normal !important; }
  @media (min-width: 768px) {
    #gioi-thieu .text-intro h3 {
      font-size: 36px;
      line-height: 1.4; }
      #gioi-thieu .text-intro h3 span {
        font-size: 20px; }
    #gioi-thieu .text-intro p {
      font-size: 24px; }
    #gioi-thieu .list-item {
      padding-left: 0;
      padding-right: 0; }
      #gioi-thieu .list-item img {
        margin: 20px auto 10px; }
      #gioi-thieu .list-item p {
        font-size: 18px !important; } }
  @media (min-width: 992px) {
    #gioi-thieu {
      background-image: url("../images/mana-intro.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 0px; }
      #gioi-thieu .fa-angle-down {
        font-size: 60px;
        bottom: 10px; }
      #gioi-thieu .list-item {
        margin: 0px auto 60px; } }
  @media (min-width: 1367px) {
    #gioi-thieu {
      padding-top: 0px; }
      #gioi-thieu .text-intro h3 {
        line-height: 1.8; }
        #gioi-thieu .text-intro h3 span {
          font-size: 22px; }
      #gioi-thieu .text-intro p {
        line-height: 2; }
      #gioi-thieu .fa-angle-down {
        bottom: 30px; }
      #gioi-thieu .list-item {
        margin: 0px auto 60px; } }

#cam-nhan {
  padding-top: 20px; }
  #cam-nhan .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 20px; }
  #cam-nhan h3 {
    font-size: 28px;
    line-height: 1.4;
    color: #003792;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto 30px; }
  #cam-nhan .left p, #cam-nhan .right p {
    margin-top: 20px;
    text-align: justify; }
  #cam-nhan .left .hoc-vien, #cam-nhan .right .hoc-vien {
    color: #003792; }
    #cam-nhan .left .hoc-vien img, #cam-nhan .right .hoc-vien img {
      height: 60px; }
    #cam-nhan .left .hoc-vien h4, #cam-nhan .right .hoc-vien h4 {
      font-weight: bold;
      margin: 5px auto; }
    #cam-nhan .left .hoc-vien p, #cam-nhan .right .hoc-vien p {
      text-align: center;
      margin-top: 0px; }
  @media (min-width: 768px) {
    #cam-nhan h3 {
      font-size: 36px; }
    #cam-nhan .left img, #cam-nhan .right img {
      display: block;
      margin-left: 100px; }
    #cam-nhan .left .hoc-vien h4, #cam-nhan .right .hoc-vien h4 {
      text-align: left; }
    #cam-nhan .left .hoc-vien p, #cam-nhan .right .hoc-vien p {
      text-align: left !important; }
    #cam-nhan .left .hoc-vien img, #cam-nhan .right .hoc-vien img {
      height: 50px;
      display: block;
      margin-left: 0 !important; }
    #cam-nhan .fa-angle-down {
      font-size: 60px;
      bottom: 10px; } }
  @media (min-width: 1200px) {
    #cam-nhan {
      padding-top: 0px;
      margin-top: 0px; }
      #cam-nhan .fa-angle-down {
        bottom: 10px; }
      #cam-nhan h3 {
        margin-top: 0px; }
      #cam-nhan .left, #cam-nhan .right {
        margin-top: 10px;
        margin-bottom: 5px; }
        #cam-nhan .left p, #cam-nhan .right p {
          font-size: 16px;
          line-height: 1.8; } }
  @media (min-width: 1367px) {
    #cam-nhan {
      padding-top: 0px;
      margin-top: 0px; }
      #cam-nhan .fa-angle-down {
        bottom: 30px; }
      #cam-nhan h3 {
        margin-top: -40px; }
      #cam-nhan .left, #cam-nhan .right {
        margin-top: 50px;
        margin-bottom: 20px; }
        #cam-nhan .left p, #cam-nhan .right p {
          font-size: 20px;
          line-height: 2; }
      #cam-nhan .hoc-vien h4 {
        text-align: left; }
      #cam-nhan .hoc-vien p {
        text-align: left !important; }
      #cam-nhan .hoc-vien img {
        margin-top: 20px;
        height: 60px;
        display: block;
        margin-left: 0 !important; } }

#hoc-online .text-header {
  background-color: #003792;
  color: #fff;
  padding: 20px 15px;
  text-transform: uppercase;
  text-align: center; }
  #hoc-online .text-header h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5; }
  #hoc-online .text-header h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5; }

#hoc-online .item-list {
  padding-top: 20px;
  padding-bottom: 20px; }
  #hoc-online .item-list .item {
    text-align: left;
    display: flex;
    padding: 0 15px 0 15px; }
    #hoc-online .item-list .item i {
      margin-right: 10px;
      color: #003792;
      position: relative;
      top: 5px; }
    #hoc-online .item-list .item p {
      line-height: 1.6; }

#hoc-online #form-dang-ky {
  border: 2px solid #003792;
  padding: 15px;
  margin: 10px; }
  #hoc-online #form-dang-ky h4 {
    color: #003792;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5; }
  #hoc-online #form-dang-ky .btn-dang-ky {
    background-color: #d21c00;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    outline: none;
    display: block; }
  #hoc-online #form-dang-ky p {
    color: #000;
    margin-top: 20px; }

@media (min-width: 768px) {
  #hoc-online {
    padding-top: 0px; }
    #hoc-online .item-list {
      padding-top: 20px; }
      #hoc-online .item-list .item {
        width: 25%;
        float: left; }
    #hoc-online #form-dang-ky {
      border: 2px solid #003792;
      padding: 10px 0px;
      margin: 20px auto; }
      #hoc-online #form-dang-ky h4 {
        color: #003792;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
        line-height: 1.5;
        margin: 10px auto 50px; }
      #hoc-online #form-dang-ky .form-inline {
        padding-right: 20px; }
        #hoc-online #form-dang-ky .form-inline .form-group {
          width: 33.33333%;
          float: left;
          padding-left: 20px; }
          #hoc-online #form-dang-ky .form-inline .form-group .form-control {
            width: 90%;
            height: 40px;
            color: #222;
            border: 1px solid #555; }
      #hoc-online #form-dang-ky .btn-dang-ky {
        font-size: 24px;
        display: block;
        width: 25%;
        margin: 15px auto;
        padding: 5px 10px; }
      #hoc-online #form-dang-ky p {
        color: #000;
        display: block;
        margin-top: 20px; } }

@media (min-width: 1367px) {
  #hoc-online .text-header h4 {
    font-size: 28px; }
  #hoc-online .text-header h3 {
    font-size: 36px; }
  #hoc-online .item-list {
    padding-top: 50px; }
    #hoc-online .item-list .item {
      width: 25%;
      float: left; }
      #hoc-online .item-list .item p {
        font-size: 22px; }
  #hoc-online #form-dang-ky {
    border: 2px solid #003792;
    padding: 30px 0px;
    margin: 30px auto; }
    #hoc-online #form-dang-ky h4 {
      color: #003792;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 28px;
      line-height: 1.5;
      margin: 10px auto 50px; }
    #hoc-online #form-dang-ky .form-inline {

      padding-right: 20px; }
      #hoc-online #form-dang-ky .form-inline .form-group {
        width: 33.33333%;
        float: left;
        padding-left: 20px; }
        #hoc-online #form-dang-ky .form-inline .form-group .form-control {
          width: 90%;
          height: 40px;
          color: #222;
          border: 1px solid #555; }
    #hoc-online #form-dang-ky .btn-dang-ky {
      font-size: 24px;
      display: block;
      width: 25%;
      margin: 15px auto;
      padding: 5px 10px; }
    #hoc-online #form-dang-ky p {
      color: #000;
      display: block;
      margin-top: 20px;
      font-size: 18px; } }

#hoi-dap .container .fb-comments {
  padding: 40px;
  background: white;
  margin: 40px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%; }

#footer {
  background-color: #003792;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  #footer h4 {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5; }
  #footer .footer-logo img {
    margin: 20px auto;
    height: 40px; }
  #footer p {
    font-size: 16px;
    text-align: left; }
    #footer p span {
      font-weight: bold;
      text-decoration: underline; }
  @media (min-width: 768px) {
    #footer {
      padding: 50px 15px; }
      #footer .footer-logo {
        float: left; }
      #footer .middle {
        width: 41.66667%;
        float: left; }
      #footer .right {
        width: 25%;
        float: left; } }
