@font-face {
  font-family: "Noto-Sans";
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans.woff");
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans.woff") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Noto-Sans";
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans-Bold-Italic.woff");
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans-Bold-Italic.woff") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Noto-Sans";
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans-Bold.woff");
  src: url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/Noto-Sans-Bold.woff") format("truetype");
  font-weight: bold;
  font-style: normal; }