﻿@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/untitled-font-1.eot");
  src:url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/untitled-font-1.woff") format("woff"),
    url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/untitled-font-1.ttf") format("truetype"),
    url("/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\61";
}
.icon-primitive-dot:before {
  content: "\63";
}
.icon-angle-down:before {
  content: "\64";
}
.icon-circle:before {
  content: "\62";
}
.icon-star:before {
  content: "\65";
}
.icon-phone-inv:before {
  content: "\66";
}
.icon-mail:before {
  content: "\67";
}
.icon-fly:before {
  content: "\68";
}
.icon-user:before {
  content: "\69";
}
.icon-location:before {
  content: "\6a";
}
.icon-phone:before {
  content: "\6b";
}
.icon-left:before {
  content: "\6c";
}
.icon-right:before {
  content: "\6d";
}
.icon-arrow-right:before {
  content: "\6e";
}
.icon-play:before {
  content: "\6f";
}
.icon-turn-right:before {
  content: "\70";
}
.icon-caret-right:before {
  content: "\71";
}
.icon-caret-left:before {
  content: "\72";
}
.icon-caret-down:before {
  content: "\73";
}
.icon-caret-up:before {
  content: "\74";
}
.icon-up:before {
  content: "\75";
}
.icon-down:before {
  content: "\76";
}
