* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: "Noto-Sans", sans-serif;
  color: #272727; }

.btn-register {
  position: relative;
  background-color: #ea4c0e;
  color: white;
  border: 1px solid #ea4c0e;
  border-radius: 999999px;
  padding-left: 40px;
  font-weight: bold;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out; }
  .btn-register .icon-turn-right {
    position: absolute;
    left: 3px;
    background-color: white;
    color: #ff3300;
    border-radius: 999999px;
    text-align: center;
    width: 30px;
    padding: 5px;
    font-size: 20px;
    padding-bottom: 0;
    top: 3px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out; }
  @media (max-width: 543px) {
    .btn-register {
      padding-left: 35px;
      font-size: 12px; }
      .btn-register .icon-turn-right {
        width: 25px;
        font-size: 16px; } }
  .btn-register.size-larger {
    font-size: 32px;
    padding-left: 100px;
    padding-right: 30px;
    text-align: left; }
    .btn-register.size-larger .icon-turn-right {
      top: 13px;
      left: 13px;
      font-size: 50px;
      width: 70px;
      padding-top: 10px; }
    @media (max-width: 543px) {
      .btn-register.size-larger {
        padding-left: 60px;
        font-size: 16px; }
        .btn-register.size-larger .icon-turn-right {
          top: 9px;
          left: 9px;
          font-size: 26px;
          width: 40px;
          padding-top: 6px; } }
  .btn-register.size-medium {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 20px;
    text-align: left; }
    .btn-register.size-medium .icon-turn-right {
      top: 10px;
      left: 10px;
      font-size: 24px;
      width: 36px;
      padding-top: 7px; }
  .btn-register:focus, .btn-register:active, .btn-register:focus:active {
    outline: none; }
  .btn-register:hover {
    background-color: #d1430b;
    color: white; }

#topbar{
  background: #1c498d;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.3; }
  #topbar .white{
    color: #fff; }
  #topbar .yellow{
    font-weight: bold;
    color: #f6db48;}

  @media (min-width: 768px) {
    #topbar{
      height: 50px;
      font-size: 18px;
      line-height: 38px;}}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 16;
  }
  @media (max-width: 991px) {
    .menu {
      position: absolute; } }
  .menu.action {
    background-color: white;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
  }
  .menu .navbar-brand {
    padding: 5px 0;
    position: relative;
    z-index: 1;
    height: 70px;
    margin-right: 1rem; }
    @media (max-width: 767px) {
      .menu .navbar-brand {
        margin-right: 0; } }
    @media (max-width: 543px) {
      .menu .navbar-brand {
        height: 55px; } }
    .menu .navbar-brand img {
      height: calc(100% - 10px);
      position: relative;
      margin: 5px; }
      @media (max-width: 767px) {
        .menu .navbar-brand img {
          margin-top: 5%;
          height: 80%; } }
  .menu .contact {
    position: relative;
    z-index: 1;
    float: right;
    width: 17%;
    color: white;
    margin-top: 10px;
    text-align: right; }
    @media (max-width: 1199px) {
      .menu .contact {
        width: 20%; } }
    @media (max-width: 991px) {
      .menu .contact {
        width: calc(100% - 190px); } }
    @media (max-width: 543px) {
      .menu .contact {
        width: calc(100% - 125px); } }
  .menu .navbar {
    background-color: transparent;
    padding: 0; }
    @media (max-width: 991px) {
      .menu .navbar {
        text-align: right; } }
    .menu .navbar .navbar-toggler.btn-toggler {
      height: 70px;
      width: 70px;
      font-size: 22px;
      border-radius: 0; }
    .menu .navbar .navbar-toggler:focus {
      outline: none; }
    .menu .navbar .navbar-nav {
      text-align: right;
      color: #272727; }
      @media (min-width: 991px) {
        .menu .navbar .navbar-nav {
          display: table-cell;
          vertical-align: middle;
          height: 70px; } }
      .menu .navbar .navbar-nav .nav-item a.nav-link {
        color: #272727; }
        .menu .navbar .navbar-nav .nav-item a.nav-link.active, .menu .navbar .navbar-nav .nav-item a.nav-link:hover {
          color: #272727;
          font-weight: bold; }

#banner {
  padding: 180px 0 30px;
  background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/banner_main.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-top: -20px;
  background-size: cover;}
  #banner .title-main {
    position: relative;
    top: -55px;
  }
  #banner .title-header {
    color: #152f7d;
    font-weight: bold;
    font-size: 50px;
    width: 70%;
    line-height: 62px;
    margin-bottom: 20px; }
  #banner .text {
    width: 45%;
    text-align: right;
    font-size: 32px;
    margin-bottom: 40px; }
  #banner .box-register {
    width: 45%;
    text-align: right; }
  #banner .note {
        margin-top: 120px;
    font-size: 16px;
    text-align: right;
    width: 416px;
    float: right;
    position: relative;
    top: -10px;
    line-height: 30px;}
  @media (max-width: 1600px) {
    #banner {
      background-size: cover; } }
  @media (max-width: 1199px) {
    #banner {
      background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/banner_main.png);
      background-position: -500px 0; } }
  @media (max-width: 991px) {
    #banner {
      background-position: bottom;
      margin-bottom: 90px; }
      #banner .title-header {
        font-size: 40px; }
      #banner .text {
        text-align: left;
        font-size: 18px; }
      #banner .note {
        position: relative;
        margin-top: 150px;
        text-align: left;
        top: 120px; } }
  @media (max-width: 767px) {
    #banner {
      background-size: cover; }
      #banner .title-header {
            width: auto;
    font-size: 26px;
    text-align: center;
    line-height: 40px; }
      #banner .text {
        width: auto;
        text-align: center;
        font-size: 18px; }
      #banner .note {
        margin-top: 120px; }
#banner .box-register {
  width: 100%;
  text-align: center;
}
         }
  @media (max-width: 543px) {
    #banner {
      background-position: 50% -40px;
      background-size: cover; }
      #banner .title-header {
        width: auto;
        font-size: 26px; }
      #banner .note {
        margin-top: 120px;
        top: 160px; } }

#info {
  position: relative; }
  #info .title-info {
    position: relative;
    font-size: 50px;
    color: #152f7d;
    line-height: 60px;
    top: -60px; }
  #info .text-info {
    font-size: 20px;
    position: relative;
    color: #272727 !important;
    top: -40px; }
  #info .box-info .item-info {
    padding-right: 30px;
    padding-bottom: 45px; }
    #info .box-info .item-info .img {
      float: left;
      width: 125px;
      height: 125px;
      /*
      background: #fb4e26;
      background: -webkit-linear-gradient(left, #152f7d, #cc66cc);
      background: -o-linear-gradient(left, #152f7d, #cc66cc);
      background: -moz-linear-gradient(left, #152f7d, #cc66cc);
      background: linear-gradient(left, #152f7d, #cc66cc);
      */
      border-radius: 50%; }
      #info .box-info .item-info .img img {
        margin: 2px;
        background-color: white;
        border-radius: 50%;
        }
    #info .box-info .item-info .content {
     padding-top: 30px;
    float: right;
    width: calc(100% - 180px);
    font-size: 20px;
    padding-left: 30px;
    margin-top: 15px;}
  #info #giaotrinh {
    padding: 30px;
    box-shadow: 0 0 50px rgba(214, 224, 240, 0.9); }
    #info #giaotrinh .title-giaotrinh {
      font-size: 40px;
      color: #152f7d;
      margin-bottom: 40px; }
    #info #giaotrinh .row-giaotrinh {
      text-align: justify; }
      #info #giaotrinh .row-giaotrinh .img-reponsive {
        margin-top: 20px;
        width: 100%; }
  @media (max-width: 1199px) {
    #info .title-info {
      top: auto; }
    #info .text-info {
      top: auto;
      margin-bottom: 30px; } }
  @media (max-width: 991px) {
    #banner .box-register {
      display: none;
    }
    #info {
      padding-top: 50px; }
      #info .box-info .item-info .img {
        width: 100px;
        height: 100px; }
        #info .box-info .item-info .img img {
          width: 96px;
          height: 96px; }
      #info .box-info .item-info .content {
        padding-top: 10px;
        width: calc(100% - 120px); } }
  @media (max-width: 767px) {
    #info .title-info {
      font-size: 26px; }
    #info .text-info {
      font-size: 16px; }
    #info #giaotrinh {
      padding: 15px; }
      #info #giaotrinh .title-giaotrinh {
        font-size: 26px; } }
  @media (max-width: 543px) {
    #info {
      padding-top: 90px; }
      #info .box-info .item-info .content {
        padding-top: 0; } }

#process {
  padding: 80px 0 40px; }
  #process .title-process {
    font-size: 40px;
    text-align: center;
    color: #152f7d;
    line-height: 50px;
    margin-bottom: 15px;}
  #process .row-process {
    background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/img-skill.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 250px; }
    #process .row-process .item-process {
      position: relative;
      float: left;
      width: 20%;
      padding: 40px;
      text-align: center; }
      #process .row-process .item-process.first {
        top: 20px;
        left: 10px; }
      #process .row-process .item-process.last {
        top: 20px;
        right: 10px; }
      #process .row-process .item-process.center {
        top: 10px; }
      #process .row-process .item-process.down {
        top: 100px; }
      #process .row-process .item-process h4 {
        margin: 0;
        color: #152f7d;
        font-weight: bold;
        margin-bottom: 10px;
      }
    @media (max-width: 1199px) {
      #process .row-process {
        font-size: 13px;
        height: 220px; }
        #process .row-process .item-process {
          padding: 20px; } }
    @media (max-width: 991px) {
      #process .row-process {
        background: none; }
        #process .row-process .item-process {
          width: 100%;
          top: auto !important;
          right: auto !important;
          left: auto !important;
          padding: 15px 0; } }
  @media (max-width: 767px) {
    #process .title-process {
      font-size: 26px; }
    #process .row-process {
      font-size: 15px; } }

#intro .title-intro {
  font-size: 40px;
  color: #152f7d;
  font-weight: bold;
  margin-bottom: 30px; }
@media (max-width: 767px) {
  #intro .row-intro {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }
#intro .row-intro .content {
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    #intro .row-intro .content {
      box-shadow: none; } }
  #intro .row-intro .content ul {
    list-style-type: decimal;
    font-weight: bold;
    color: #152f7d;
    padding-left: 1em;
    text-align: justify; }
    #intro .row-intro .content ul li {
      padding-top: 15px; }
      #intro .row-intro .content ul li span {
        font-weight: normal;
        color: #272727; }
#intro .row-intro .video {
  padding: 30px; }
  @media (max-width: 991px) {
    #intro .row-intro .video {
      margin-left: calc(50% - (100% / 12 * 2.5)); } }
  @media (max-width: 767px) {
    #intro .row-intro .video {
      margin-left: auto; } }
  #intro .row-intro .video img {
    padding: 15px 30px 30px 15px;
    box-shadow: 10px 10px 2px #ccccff;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer; }
#intro .box-register {
  position: relative;
  top: 50px;
  z-index: 3; }

#teacher {
  position: relative;
  background-color: #e6efff;
  padding: 80px 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  z-index: 2; }
  @media (max-width: 767px) {
    #teacher {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; } }
  #teacher .row-teacher {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;}
    #teacher .row-teacher .images-teacher img {
      width: 100%;
    position: relative;
    top: 30px;}
    #teacher .row-teacher .images-teacher .title-teacher {
      font-size: 38px;
      font-weight: bold;
      color: #152f7d; }
    #teacher .row-teacher .info-teacher .title-teacher {
      font-size: 38px;
      font-weight: bold;
      color: #152f7d;
      margin-bottom: 25px; }
    #teacher .row-teacher .info-teacher .box-intro-teacher .author {
      font-size: 22px;
      color: #152f7d;
      font-weight: bold;
      margin: 8px 0 10px; }
    #teacher .row-teacher .info-teacher .box-intro-teacher .list-skill {
      list-style: none; }
      #teacher .row-teacher .info-teacher .box-intro-teacher .list-skill > li {
        position: relative;
        padding-bottom: 15px; }
        #teacher .row-teacher .info-teacher .box-intro-teacher .list-skill > li ul {
          padding: 1em 2em;
          list-style-type: disc; }
          #teacher .row-teacher .info-teacher .box-intro-teacher .list-skill > li ul > li {
            padding-bottom: 15px; }
    #teacher .row-teacher .info-teacher.inbox {
      position: absolute;
      bottom: -145px;
      padding: 30px 50px 25px 50px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      #teacher .row-teacher .info-teacher.inbox .more-info {
        list-style: none;
        margin-bottom: 0px;
         }
        #teacher .row-teacher .info-teacher.inbox .more-info > li {
          padding-bottom: 10px; }
          #teacher .row-teacher .info-teacher.inbox .more-info > li:first-child {
            font-size: 22px;
            font-weight: bold;
            color: #152f7d;
            margin: 0px 0px 0px -5px;
          }
      #teacher .row-teacher .info-teacher.inbox:after {
        content: "";
        position: absolute;
        width: 151px;
        height: 141px;
        background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/icon-goal.png);
        background-position: bottom;
        background-size: cover;
        top: -146px;
        right: 140px; }
    @media (max-width: 1199px) {
      #teacher .row-teacher {
        margin-bottom: 150px; }
        #teacher .row-teacher .info-teacher.inbox {
          bottom: -290px; }
          #teacher .row-teacher .info-teacher.inbox:after {
            right: 50px; } }
    @media (max-width: 991px) {
      #teacher .row-teacher .info-teacher.inbox:after {
        right: auto; } }
    @media (max-width: 767px) {
      #teacher .row-teacher {
        margin: 0; }
        #teacher .row-teacher .info-teacher .list-skill {
          margin-bottom: 0; }
        #teacher .row-teacher .info-teacher.inbox {
          padding: 30px 15px;
          position: static; }
          #teacher .row-teacher .info-teacher.inbox:after {
            content: none; } }

#result {
  position: relative;
  padding: 260px 0 0px;
  background-color: #f3f7ff;
  background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/img-result.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 100%;
  margin-top: -200px;
  margin-bottom: -200px; }
  #result .row-result .left ul, #result .row-result .right ul {
    padding: 100px 0px;
    list-style: none;
    color: #152f7d; }
    #result .row-result .left ul li, #result .row-result .right ul li {
      padding-bottom: 15px; line-height: 35px}

       #result .row-result .left ul li:first-child {
        color: #033486;
       }
      #result .row-result .left ul li:first-child, #result .row-result .right ul li:first-child {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 30px;
        line-height: 60px; }
  #result .row-result .right ul {
    color: white; }
  @media (max-width: 767px) {
    #result {
      background-image: none;
      padding: 0;
      margin-bottom: 0;
      top: auto; }
      #result .row-result .left ul, #result .row-result .right ul {
        padding: 50px 1em 20px; }
        #result .row-result .left ul li:first-child, #result .row-result .right ul li:first-child {
          font-size: 26px;
          text-align: center; }
      #result .row-result .right {
        background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/img-result-mb.png);
        background-position: center;
        background-size: cover; } }

#feedback {
  padding: 250px 0 50px; }
  #feedback .row-feedback .title-feedback {
    color: #152f7d;
    font-size: 36px;
    font-weight: bold;
    height: 450px;
    padding: 30px;
  }
    #feedback .row-feedback .title-feedback div {
        line-height: 50px;
    }
    #feedback .row-feedback .title-feedback img {
      max-width: 100%; }
  #feedback .row-feedback .content-feedback {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 515px; }
    #feedback .row-feedback .content-feedback .name {
      color: #152f7d; }
  @media (max-width: 1199px) {
    #feedback .row-feedback .title-feedback, #feedback .row-feedback .content-feedback {
      height: 650px; } }
  @media (max-width: 991px) {
    #feedback .row-feedback .title-feedback {
      height: auto;
      font-size: 24px;
      text-align: center; }
      #feedback .row-feedback .title-feedback img {
        width: 100px;
        height: auto; }
    #feedback .row-feedback .content-feedback {
      height: auto;
      margin-bottom: 30px;
      text-align: justify; }
      #feedback .row-feedback .content-feedback .name {
        margin-bottom: 0; } }
  @media (max-width: 991px) {
    #feedback .row-feedback .content-feedback {
      padding: 30px 15px; } }

#line {
  height: 90px;
  }
  #line .img-line {
    height: 145px;
    background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/line-text.png);
    background-size: auto 100%;
    background-position: center; }

#register .title-register {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0 30px;
  color: #033486;

}
  #register .title-register red {
    color: #ea4b0e;
    line-height: 50px;

  }
#register .box-register .button-register {
  text-align: center; }
  #register .box-register .button-register .btn-register {
    margin: 40px 0px 30px 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 65px;}
#register .box-register .note {
  margin-left: calc(100% / 6);
  width: calc(200% / 3);
  text-align: center; }
  @media (max-width: 767px) {
    #register .box-register .note {
      margin-left: 0;
      width: 100%; } }

#about {
  margin-top: 20px;
  position: relative;
  background-image: url(/mana/cbp/khoa-hoc-ky-nang-giao-tiep-v2/img/about.png);
  padding: 250px 0 100px;
  background-position: top center;
  background-repeat: no-repeat; }
  #about .logo {
    width: calc(200% / 3);
    text-align: right;
    margin-bottom: 50px;
    padding-right: 20px; }
    #about .logo img {
      height: 80px;
      margin-top: 25px; }
  #about .content {
            text-align: right;
    width: 80%;
    padding-left: 0%;
    font-size: 16px;
    line-height: 30px; }
  @media (max-width: 1699px) {
    #about .logo {
      padding-right: 0; }
    #about .content {
      width: 75%; } }
  @media (max-width: 1199px) {
    #about .logo {
      width: 75%; }
    #about .content {
      width: 90%; } }
  @media (max-width: 991px) {
    #about {
      padding: 180px 0 30px;
      background-size: 120% auto; }
      #about .content {
        width: 90%; } }
  @media (max-width: 767px) {
    #about {
      background: none;
      padding-top: 50px; }
      #about .logo, #about .content {
        width: 100%;
        text-align: center;
        padding: 0; } }
#video-intro .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  #video-intro .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
#video-intro {
  text-align: center; }
  #video-intro button {
    border: 1px solid #272727;
    background-color: white;
    margin-top: 15px; }
    #video-intro button:hover {
      background: #272727;
      color: white; }
    #video-intro button:focus, #video-intro button:focus:active {
      outline: none; }

#hoi-dap {
  background: #f7f7f7; }
  #hoi-dap .container .fb-comments {
    padding: 40px;
    background: white;
    margin: 40px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%; }

footer {
  background-color: #152f7d;
  /*position: fixed;*/ }
.footer .logo {
        height: 265px;
}

.footer {
  width: 968px;
  margin: 0 auto;
  padding-bottom: 30px;
  /*min-height: 50px;*/ }

.footer-logo {
      position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer-logo ul {
  list-style: none;
  padding: 45px 0 0 0;
  margin: 0px;
  text-align: center; }

.footer-logo ul li {
  margin-bottom: 30px; }

.footer .footer-text-center, .footer-hot-line {
  margin-top: 40px;
  color: #fff;
  font-size: 13px; }

.footer-text-center h4 {
  font-weight: bold;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 15px;}

.footer-text-center .company-address, .footer-hot-line .company-address {
  text-decoration: underline;
  font-size: 13px; }

/* siderbar */
@media (min-width: 1199px) {
  #side-menu {
    width: 76px;
    position: fixed;
    top: 35%;
    right: 15px;
    display: block; }

  #side-menu ul {
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f0f0f0; }

  #side-menu ul li {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0.35em auto;
    width: 64px; } }
@media (max-width: 1199px) {
  #side-menu {
    display: none; } }
#intro {
  background: #f3f7ff;
padding-top: 60px;
margin-top: 40px;
}
#intro .row-intro .content {
  background: white;
}
#process .title-process {
  margin-bottom: 65px;
}
#info #giaotrinh {
  margin-top: 60px;
}

#feedback .row-feedback .content-feedback p {
  line-height: 30px;
}
#result .right ul {
  padding-left: 35px;
}
#result ul li i {
  margin-right: 10px;
position: relative;
top: 2px;
}
#register .input-group .input-group-addon,
#register .input-group input {
border: none;
}
#register .input-group .input-group-addon {
  border-right: 2px solid #ddd;
}
#register .input-group,
#register .input-group input {
  height: 45px;
}
#register .input-group {
  border: 2px solid #dddddd;
border-radius: 5px;
margin-bottom: 25px;
}
.text-button {
  text-align: center;
margin-bottom: 30px;
}
#register .box-register .note {
  background: #f3f7ff;
padding: 30px 35px;
text-align: left;
line-height: 30px;
font-size: 16px;
color: #033486;
}
#register .box-register .note span {
  font-weight: bold;
}
#register .box-register .note {
  border: 5px solid #033486;
margin-bottom: 30px;
    box-shadow: 0px 0px 35px #95a2c4;
}
@media (max-width: 580px) {
  .footer {
    width: 100%;
  }
  .footer p{
    line-height: 30px;
  }
}
#result .right {
  padding-left: 50px
}
#giaotrinh .row-giaotrinh p {
  line-height: 30px;
}
#giaotrinh .img-giaotrinh {
  margin: 20px auto;
}
@media (max-width: 1023px) {
  #banner .note {
    width: 100%;
  }
  #info .title-info br {
    display: none;
  }
  #info .title-info b {
    margin-right: 10px
  }
}
#noel-topbar {
  background: #222;
  background-image: url("../img/bg-noelMana.png");
  background-position: -20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1040;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #fff; }
  #noel-topbar .left {
    width: 60%;
    float: left;
    padding-left: 9%;
    padding-top: 5px; }
    #noel-topbar .left .gift-DecJan {
      width: 100%;
      font-size: 11px;
      text-align: center; }
      #noel-topbar .left .gift-DecJan img {
        position: absolute;
        left: -28px;
        top: 8px;
        height: 35px; }
    #noel-topbar .left .scholarship {
      width: 100%;
      font-size: 11px;
      text-align: center; }
  #noel-topbar .right {
    width: 40%;
    float: left; }
  #noel-topbar #scroll-regis {
    display: none; }
  #noel-topbar #mb-scroll-regis {
    display: inline;
    background: #fcff00;
    padding: 3px 7px;
    color: #000;
    font-weight: bold;
    border-radius: 35px;
    font-size: 10px;
    position: relative;
    top: 8px; }
  #noel-topbar #close-topbar {
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    right: 0;
    float: right;
    cursor: pointer;
    font-size: 12px;
    color: #f6f6f6; }
  @media (min-width: 768px) {
    #noel-topbar {
      background-position: center;
      position: relative;
      top: 0;
      height: 40px; }
      #noel-topbar .left {
        padding: 0;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center; }
        #noel-topbar .left .gift-DecJan {
          width: 300px;
          float: left;
          font-size: 13px;
          text-align: right;
          margin-top: 5px; }
          #noel-topbar .left .gift-DecJan img {
            position: relative;
            height: 30px;
            left: 15px;
            top: -2px; }
        #noel-topbar .left .scholarship {
          width: 200px;
          height: 40px;
          background-image: url("../img/bg-hocBong.png");
          background-size: 200px 100%;
          background-repeat: no-repeat;
          background-position: 0 -5px;
          padding-top: 10px;
          padding-left: 25px;
          float: left;
          font-size: 13px;
          text-align: left;
          margin-left: 10px;
          margin-right: 10px; }
      #noel-topbar #scroll-regis {
        display: inline;
        height: 25px;
        width: 120px;
        background: #fcff00;
        float: left;
        text-align: center;
        padding: 3px 7px;
        color: #000;
        font-weight: bold;
        border-radius: 35px;
        margin-top: 5px;
        font-size: 13px;
        text-transform: uppercase;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      #noel-topbar .right #mb-scroll-regis {
        display: none; }
      #noel-topbar .right #close-topbar {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding-top: 2px;
        color: #004fad;
        margin-top: -30px; } }
  @media (min-width: 1200px) {
    #noel-topbar {
      background-color: transparent;
      height: 50px;
      padding-top: 5px;
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center; }
      #noel-topbar .left .gift-DecJan {
        width: 370px;
        float: left;
        font-size: 16px;
        margin-top: 0px; }
        #noel-topbar .left .gift-DecJan img {
          position: relative;
          height: 43px;
          left: 15px;
          top: -6px; }
      #noel-topbar .left .scholarship {
        width: 240px;
        height: 50px;
        background-size: 240px 100%;
        background-repeat: no-repeat;
        background-position: 0 -15px;
        padding-left: 30px;
        font-size: 16px; }
      #noel-topbar #scroll-regis {
        height: 30px;
        width: 130px;
        padding-top: 6px;
        margin-top: 3px;
        font-size: 14px; }
      #noel-topbar .right #close-topbar {
        margin-top: -45px; } }

@media (min-width: 768px) {
  #menu.action.has-topbar {
    top: 0px !important; }
  #menu.has-topbar {
    top: 40px !important; } }

@media (min-width: 1200px) {
  #banner{margin-top: -10px;}
  #menu.action.has-topbar {
    top: 0px !important; }
  #menu.has-topbar {
    top: 53px !important; } }
#hoi-dap {
  background: #f7f7f7; }
  #hoi-dap .container .fb-comments {
    padding: 40px 15px;
    background: white;
    margin: 40px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%; }
