*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Noto-Sans", sans-serif;
    color: #272727;
}

.btn-register{
    position: relative;
    background-color: #ff3300;
    color: white;
    border: 1px solid #ff3300;
    border-radius: 999999px;
    padding-left: 40px;
    font-weight: bold;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
    .icon-turn-right{
        position: absolute;
        left: 3px;
        background-color: white;
        color: #ff3300;
        border-radius: 999999px;
        text-align: center;
        width: 30px;
        padding: 5px;
        font-size: 20px;
        padding-bottom: 0;
        top: 3px;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
    }
    @media (max-width: 543px){
        padding-left: 35px;
        font-size: 12px;
        .icon-turn-right{
            width: 25px;
            font-size: 16px;
        }
    }
    &.size-larger{
        font-size: 32px;
        padding-left: 100px;
        padding-right: 30px;
        text-align: left;
        .icon-turn-right{
            top: 13px;
            left: 13px;
            font-size: 50px;
            width: 70px;
            padding-top: 10px;
        }
        @media (max-width: 543px){
            padding-left: 60px;
            font-size: 16px;
            .icon-turn-right{
                top: 9px;
                left: 9px;
                font-size: 26px;
                width: 40px;
                padding-top: 6px;
            }
        }
    }
    &.size-medium{
        font-size: 22px;
        padding-left: 50px;
        padding-right: 20px;
        text-align: left;
        .icon-turn-right{
            top: 3px;
            left: 3px;
            font-size: 24px;
            width: 36px;
            padding-top: 7px;
        }
    }
    &:focus, &:active, &:focus:active{
        outline: none;
    }
    &:hover{
        background-color: white;
        color: #ff3300;
        .icon-turn-right{
            background-color: #ff3300;
            color: white;
        }
    }
}
.menu{
	position: fixed;
    width: 100%;
    z-index: 16;
	box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    @media (max-width: 991px){
        position: absolute;
    }
    &.action{
        background-color: white;
    }
	.navbar-brand{
		padding: 5px 0;
		position: relative;
		z-index: 1;
		height: 70px;
        margin-right: 1rem;
        @media (max-width: 767px){
            margin-right: 0; 
        }
        @media (max-width: 543px){
		  height: 55px;
        }
		img{
            height: calc(100% - 10px);
			position: relative;
			margin: 5px;
			@media (max-width: 767px){
				margin-top: 5%;
				height: 80%;
			}
		}
	}
    .contact{
        position: relative;
        z-index: 1;
        float: right;
        width: 17%;
        @media (max-width: 1199px){
            width: 20%;
        }
        @media (max-width: 991px){
            width: calc(100% - 190px);
        }
        @media (max-width: 543px){
            width: calc(100% - 125px);
        }
        color: white;
        margin-top: 10px;
        text-align: right;
    }
	.navbar{
		background-color: transparent;
		padding: 0;
        @media (max-width: 991px){
            text-align: right;
        }
		.navbar-toggler{
			&.btn-toggler{
				height: 70px;
				width: 70px;
				font-size: 22px;
				border-radius: 0;
			}
			&:focus{
                outline: none;
			}
		}
		.navbar-nav{
			text-align: right;
            color: #272727;
			@media (min-width: 991px){
                display: table-cell;
                vertical-align: middle;
                height: 70px;
			}
			.nav-item {
				a.nav-link{
                    color: #272727;
					&.active, &:hover{
                        color: #272727;
						font-weight: bold;
					}
				}
			}
		}
	}
}
#banner{
    padding: 100px 0 30px;
    background-image: url(../img/baner.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    .title-header{
        color: #152f7d;
        font-weight: bold;
        font-size: 50px;
        width: 70%;
        margin-bottom: 20px;
    }
    .text{
        width: 45%;
        text-align: right;
        font-size: 32px;
        margin-bottom: 40px;
    }
    .box-register{
        width: 45%;
        text-align: right;
    }
    .note{
        margin-top: 120px;
        font-size: 18px;
        text-align: right;
    }
    @media (max-width: 1600px){
        background-size: cover;
    }
    @media (max-width: 1199px){
        background-image: url(../img/baner-second.png);
        background-position: -500px 0;
    }
    @media (max-width: 991px){
        background-position: bottom;
        margin-bottom: 90px;
        .title-header{
            font-size: 40px;
        }
        .text{
            text-align: left;
            font-size: 18px;
        }
        .note{
            position: relative;
            margin-top: 150px;
            text-align: left;
            top: 120px;
        }
    }
    @media (max-width: 767px){
        background-size: cover;
        .title-header{
            width: auto;
            font-size: 26px;
        }
        .text{
            width: auto;
            text-align: left;
            font-size: 18px;
        }
        .note{
            margin-top: 120px;
        }
    }
    @media (max-width: 543px){
        background-position: 50% -40px;
        background-size: cover;
        .title-header{
            width: auto;
            font-size: 26px;
        }
        .text{
            width: auto;
            text-align: left;
            font-size: 18px;
        }
        .note{
            margin-top: 120px;
            top: 160px;
        }
    }
}
#info{
    position: relative;
    .title-info{
        position: relative;
        font-size: 50px;
        color: #152f7d;
        top: -60px;
    }
    .text-info{
        font-size: 20px;
        position: relative;
        color: #272727 !important;
        top: -40px;
    }
    .box-info{
        .item-info{
            padding-right: 30px;
            padding-bottom: 45px;
            .img{
                float: left;
                width: 125px;
                height: 125px;
                background: #fb4e26;
                background: -webkit-linear-gradient(left, #152f7d , #cc66cc);
                background: -o-linear-gradient(left, #152f7d, #cc66cc);
                background: -moz-linear-gradient(left, #152f7d, #cc66cc);
                background: linear-gradient(left, #152f7d , #cc66cc);
                border-radius: 50%;
                img{
                    margin: 2px;
                    background-color: white;
                    border-radius: 50%;
                    width: 121px;
                    height: 121px;
                }
            }
            .content{
                padding-top: 30px;
                float: right;
                width: calc(100% - 180px);
            }
        }
    }
    
    #giaotrinh{
        padding: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        .title-giaotrinh{
            font-size: 40px;
            color: #152f7d;
            margin-bottom: 40px;
        }
        .row-giaotrinh{
            text-align: justify;
            .img-reponsive{
                margin-top: 20px;
                width: 100%;
            }
        }
    }
    @media (max-width: 1199px){
        .title-info{
            top: auto;
        }
        .text-info{
            top: auto;
            margin-bottom: 30px;
        }
    }
    @media (max-width: 991px){
        padding-top: 50px;
        .box-info{
            .item-info{
                .img{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 96px;
                        height: 96px;
                    }
                }
                .content{
                    padding-top: 10px;
                    width: calc(100% - 120px);
                }
            }
        }
    }
    @media (max-width: 767px){
        .title-info{
            font-size: 26px;
        }
        .text-info{
            font-size: 16px;
        }
        #giaotrinh{
            padding: 15px;
            .title-giaotrinh{
                font-size: 26px;
            }
        }
    }
    @media (max-width: 543px){
        padding-top: 90px;
        .box-info{
            .item-info{
                .content{
                    padding-top: 0;
                }
            }
        }
    }
}
#process{
    padding: 80px 0 40px;
    .title-process{
        font-size: 40px;
        text-align: center;
        color: #152f7d;
    }
    .row-process{
        background-image: url(../img/img-skill.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 250px;
        .item-process{
            position: relative;
            float: left;
            width: 20%;
            padding: 40px;
            text-align: center;
            &.first{
                top: 20px;
                left: 10px;
            }
            &.last{
                top: 20px;
                right: 10px;
            }
            &.center{
                top: 10px;
            }
            &.down{
                top: 100px;
            }
            h4{
                margin: 0;
                color: #152f7d;
                font-weight: bold;
            }
        }
        @media (max-width: 1199px){
            font-size: 13px;
            height: 220px;
            .item-process{
                padding: 20px;
            }
        }
        @media (max-width: 991px){
            background: none;
            .item-process{
                width: 100%;
                top: auto!important;
                right: auto!important;
                left: auto!important;
                padding: 15px 0;
            }
        }
    }
    @media (max-width: 767px){
        .title-process{
            font-size: 26px;
        }
        .row-process{
            font-size: 15px;
        }
    }
}
#intro{
    .title-intro{
        font-size: 40px;
        color: #152f7d;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .row-intro{
        @media (max-width: 767px){
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        .content{
            padding: 20px 40px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            @media (max-width: 767px){
                box-shadow: none;
            }
            ul{
                list-style-type: decimal;
                font-weight: bold;
                color: #152f7d;
                padding-left: 1em;
                text-align: justify;
                li{
                    padding-top: 15px;
                    span{
                        font-weight: normal;
                        color: #272727;
                    }
                }
            }
        }
        .video{
            padding: 30px;
            @media (max-width: 991px){
                margin-left: calc(50% - (100% / 12 * 2.5));
            }
            @media (max-width: 767px){
                margin-left: auto;
            }
            img{
                padding: 15px 30px 30px 15px;
                box-shadow: 10px 10px 2px #ccccff;
                border-radius: 10px;
                margin-top: 10px;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .box-register{
        position: relative;
        top: 50px;
        z-index: 3;
    }
}
#teacher{
    position: relative;
    background-color: #e6efff;
    padding: 80px 0;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    z-index: 2;
    @media (max-width: 767px){
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .row-teacher{
        position: relative;
        .images-teacher{
            img{
                width: 100%;
            }
            .title-teacher{
                font-size: 38px;
                font-weight: bold;
                color: #152f7d;
            }
        }
        .info-teacher{
            .title-teacher{
                font-size: 38px;
                font-weight: bold;
                color: #152f7d;
            }
            .box-intro-teacher{
                .author{
                    font-size: 22px;
                    color: #152f7d;
                    font-weight: bold;
                    margin: 8px 0 10px;
                }
                .list-skill{
                    list-style: none;
                    > li{
                        position: relative;
                        padding-bottom: 15px;
                        ul{
                            padding: 1em 2em;
                            list-style-type: disc;
                            > li{
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
            }
            &.inbox{
                position: absolute;
                bottom: -130px;
                padding: 30px 50px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                .more-info{
                    list-style: none;
                    > li{
                        padding-bottom: 10px;
                        &:first-child{
                            font-size: 22px;
                            font-weight: bold;
                            color: #152f7d;
                        }
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 151px;
                    height: 141px;
                    background-image: url(../img/icon-goal.png);
                    background-position: bottom;
                    background-size: cover;
                    top: -146px;
                    right: 140px;
                }
            }
        }
        @media (max-width: 1199px){
            margin-bottom: 150px;
            .info-teacher{
                &.inbox{
                    bottom: -290px;
                    &:after{
                        right: 50px;
                    }
                }
            }
        }
        @media (max-width: 991px){
            .info-teacher{
                &.inbox{
                    &:after{
                        right: auto;
                    }
                }
            }
        }
        @media (max-width: 767px){
            margin: 0;
            .info-teacher{
                .list-skill{
                    margin-bottom: 0;
                }
                &.inbox{
                    padding: 30px 15px;
                    position: static;
                    &:after{
                        content: none;
                    }
                }
            }
        }
    }
}
#result{
    position: relative;
    padding: 200px 0 50px;
    background-color: #f3f7ff;
    background-image: url(../img/img-result.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 100%;
    top: -200px;
    margin-bottom: -200px;
    .row-result{
        .left, .right{
            ul{
                padding: 100px 1em 0;
                list-style: none;
                color: #152f7d;
                li{
                    padding-bottom: 15px;
                    &:first-child{
                        font-size: 40px;
                        font-weight: bold;
                        padding-bottom: 30px;
                    }
                }
            }
        }
        .right{
            ul{
                color: white;
            }
            
        }
    }
    @media (max-width: 767px){
        background-image: none;
        padding: 0;
        margin-bottom: 0;
        top: auto;
        .row-result{
            .left, .right{
                ul{
                    padding: 50px 1em 20px;
                    li{
                        &:first-child{
                            font-size: 26px;
                            text-align: center;
                        }
                    }
                }
            }
            .right{
                background-image: url(../img/img-result-mb.png);
                background-position: center;
                background-size: cover;
            }
        }
    }
}
#feedback{
    padding: 50px 0;
    .row-feedback{
        .title-feedback{
            color: #152f7d;
            font-size: 36px;
            font-weight: bold;
            height: 450px;
            padding: 30px;
            img{
                max-width: 100%;
            }
        }
        .content-feedback{
            box-shadow: 0 0px 10px rgba(0,0,0,.2);
            padding: 30px;
            height: 450px;
            .name{
                color: #152f7d;
            }
        }
    }
    @media (max-width: 1199px){
        .row-feedback{
            .title-feedback, .content-feedback{
                height: 550px;
            }
        }
    }
    @media (max-width: 991px){
        .row-feedback{
            .title-feedback{
                height: auto;
                font-size: 24px;
                text-align: center;
                img{
                    width: 100px;
                    height: auto;
                }
            }
            .content-feedback{
                height: auto;
                margin-bottom: 30px;
                text-align: justify;
                .name{
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (max-width: 991px){
        .row-feedback{
            .content-feedback{
                padding: 30px 15px;
            }
        }
    }
}
#line{
    height: 90px;
    background: -webkit-linear-gradient(left, #152f7d , #cc66cc);
    background: -o-linear-gradient(left, #152f7d, #cc66cc);
    background: -moz-linear-gradient(left, #152f7d, #cc66cc);
    background: linear-gradient(left, #152f7d , #cc66cc);
    .img-line{
        height: 90px;
        background-image: url(../img/line-text.png);
        background-size: auto 100%;
        background-position: center;
    }
}
#register{
    .title-register{
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin: 50px 0;
        red{
            color: red;
        }
    }
    .box-register{
        .button-register{
            text-align: center;
            .btn-register{
                margin: 40px 0;
            }
        }
        .note{
            margin-left: calc(100% / 6);
            width: calc(200% / 3);
            text-align: center;
            @media (max-width: 767px){
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
#about{
    margin-top: 20px;
    position: relative;
    background-image: url(../img/about.png);
    padding: 250px 0 30px;
    background-position: top center;
    background-repeat: no-repeat;
    .logo{
        width: calc(200% / 3);
        text-align: right;
        margin-bottom: 50px;
        padding-right: 20px;
        img{
            height: 80px;
        }
    }
    .content{
        text-align: right;
        width: 69%;
        padding-left: 8%;
        font-size: 14px;
    }
    @media (max-width: 1699px){
        .logo{
            padding-right: 0;
        }
        .content{
            width: 75%;
        }
    }
    @media (max-width: 1199px){
        .logo{
            width: 75%;
        }
        .content{
            width: 90%;
        }
    }
    @media (max-width: 991px){
        padding: 180px 0 30px;
        background-size: 120% auto;
        .content{
            width: 90%;
        }
    }
    @media (max-width: 767px){
        background: none;
        padding-top: 50px;
        .logo, .content{
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }
}
#video-intro{
    text-align: center;
    button{
        border: 1px solid #272727;
        background-color: white;
        &:hover{
            background: #272727;
            color: white;
        }
        &:focus, &:focus:active{
            outline: none;
        }
    }
}
#hoi-dap {
    background: #f7f7f7;
	.container .fb-comments {
		padding: 40px;
		background: white;
		margin: 40px 0px;
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		display: inline-block;
		width: 100%;
	}
}
footer{
    background-color: #152f7d;
    //margin-top: 30px;
    /*position: fixed;*/
}
.footer{
    width: 968px;
    margin: 0 auto;
    padding-bottom: 30px;
    /*min-height: 50px;*/

}
.footer-logo{
    margin-top: 45px;
    margin-bottom: 80px;
}
.footer-logo ul{
    list-style: none;
    padding: 45px 0 0 0;
    margin: 0px;
    text-align: center;
}
.footer-logo ul li {
    margin-bottom: 30px;
}
.footer .footer-text-center, .footer-hot-line{
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
}
.footer-text-center h4{
    font-weight: bold;
}
.footer-text-center .company-address, .footer-hot-line .company-address{
    text-decoration: underline;
    font-size: 13px;
}

/* siderbar */
@media (min-width: 1199px) {
        #side-menu{
      	  width: 76px;
      	  position: fixed;
      	  top: 35%;
      	  right: 15px;
      	  display: block;
        }
        #side-menu ul{
      	  background: white;
      	  padding: 5px;
      	  border-radius: 5px;
      	  border: 1px solid #f0f0f0;
        }
        #side-menu ul li {
      	  display: block;
      	  text-align: center;
      	  padding: 0;
      	  margin: 0.35em auto;
      	  width: 64px;
        }
      }
@media (max-width: 1199px){
    #side-menu {
        display: none;
    }
}