html {
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
ul,ol {
    list-style: none;    
}
.bold {
    font-weight: bold
}
body {
	color: #666666;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
    padding-bottom: 0;
}

.header-menu{
	background: none;
	border: none;
}
.header-menu .navbar-nav {
    float: right !important
}
.header-menu .button.mb  {
    float: right;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
    color: #333;
    margin-top: 20px;
    font-size: 14px;
    display: none;
}
.intro-heading{
    color: #0091ea;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}
hr{
    border-color: #0091ea;
    margin-top: 35px;
}
/******** BANNER ********/
#banner {
    position: relative;
    background: url('../imgs/banner.jpg') no-repeat top left;
    background-size: cover;  
    padding-bottom: 60px;  
}
#banner .img-slider {
    min-width: 100%;
}
#banner ul {
    padding: 160px 0px 0px 0px;
    margin: 0px;
}
#banner .owl-controls{
    margin: 0px;
    position: relative;
    width: 100%;
    
}
#banner .owl-pagination {
    position: relative;
    bottom: 30px;    
}
#banner .owl-theme .owl-controls .owl-page span {
    background: white;
}
#banner .carousel-caption {
    left: 0;
    right: 0;    
    position: relative;  
}
#banner .carousel-caption p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}    
#banner .carousel-caption h3 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0px;
}
#banner .carousel-caption h5 {
    font-size: 32px;
    margin-top: 30px;
}
#banner .btn-regis-slider {
    margin: 50px 0px;
}
.btn-regis-slider{
    border-radius: 0;
    background: none;
    border: 1px solid white;
    padding: 10px 60px;
    font-weight: 300;
    font-size: 20px;
}
.btn-regis-slider:focus,
.btn-regis-slider:active {
    outline: none;
    background: none !important;
    border: 1px solid white;
    border-color: white
}
.btn-regis-slider:hover{
    background: white;
    border-color: #fff;
    color: #333
}

/********* ABOUT **********/
#about .text ul.first{
    padding: 100px 0px;
}
#about .text ul.first > li {
    margin: 0px 0px 30px 0px;
    font-size: 18px;
    line-height: 30px;
}
#about .text ul li .bold {
    color: #0091ea
}
#about .img ul {
    padding: 40px 0px 0px 0px;
}
#about .img ul li img {
    margin: 0px auto;
}
#about .img ul li:last-child img {
    position: relative;
    top: -30px;
}
#about .text ul.first .wrap {
    display: inline-block;
    margin: 30px 0px 0px 0px;
    width: 100%;
}
#about .text ul.first .wrap .box ul{
    padding: 0px;
    list-style: disc;
}

#courses {
    background: #0091ea
}
#courses .title-main {
    padding: 60px 0px;
}
#courses .line hr {
    border-color: white;
}
#courses .intro-heading {
    color: white;
    line-height: 35px;
}
#courses .wrap-content {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#courses .wrap-content .wrap-list {
    padding: 0px;
    margin-bottom: 100px;
}
#courses .wrap-content .wrap-list .title h2 {
    margin: 0px;
    padding: 60px 30px 60px 30px;
    text-align: center;
    color: #0091ea;
    font-weight: 300;
    border-bottom: 2px solid #f0f0f0;
}
#courses .wrap-content .wrap-list > li {
    display: inline-block;
    width: 100%;  
}
#courses .wrap-content .wrap-list li .img {
    margin-top: 15px;
}
#courses .wrap-content .wrap-list li h3 {
    color: #0091ea;
    font-size: 22px;
    line-height: 30px;
}
#courses .wrap-content .wrap-list li h3 span {
    font-weight: bold;
    display: inline-block;
}
#courses .wrap-content .wrap-list li ul li{
    margin-top: 25px;
    line-height: 25px;
    font-size: 16px;
}
#courses .wrap-content .wrap-list li ul .img-list-sub {
    margin: 0px !important;
    list-style: none;
}
#courses .wrap-content .wrap-list li .wrap-list-img-first {
    padding: 0px;
}
#courses .wrap-content .wrap-list li ul {
    list-style: disc;
    padding: 0px 20px;
}

#courses .wrap-content .wrap-list li .content .text {
    font-size: 16px;
    padding: 50px 0px 40px 0px;
}
#courses .wrap-content .wrap-list li .content h4 {
    font-size: 28px;
    color: #0091ea;
    font-weight: bold;
}
#courses .wrap-content .wrap-list li .content ul {
    list-style: disc;
    padding: 0px 0px 0px 20px;
}
#courses .wrap-content .wrap-list li .content ul li {
    margin: 25px 0px;
    width: 100%;
}
#courses .wrap-content .wrap-list li .content .price {
    border-top: 2px solid #f0f0f0;
    padding: 30px 0px;
    text-align: center;
}
#courses .wrap-content .wrap-list li .content .color-price {
    color: #0091ea;
    font-weight: bold;
}
#courses .wrap-content .wrap-list li .content p {
    font-size: 16px;
}
#courses .wrap-content .wrap-list li .content h4 {
    color: #272727;
    font-size: 20px;
}
#courses .wrap-content .wrap-list li .content .button-register a {
    background: #0091ea;
    color: white;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
#courses .wrap-content .wrap-list li .content .button-register a:hover {
    background: #0287d8;
    text-decoration: none;
}
#courses .wrap-content .wrap-list > li .img {
    padding: 20px;
}
#courses .wrap-content .wrap-list > li .img ul {
    list-style: disc;
    padding: 0px 20px;
    margin-top: 25px;
}
#courses .wrap-list-img-first .owl-controls .owl-page span {
    background: #0091ea !important;
}
#courses .owl-controls.clickable {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -65px;
}
#courses .owl-theme .owl-controls .owl-page span {
    background: white;
}

#conquer {
    background: url(../imgs/conquer.jpg) no-repeat top left;
    background-size: cover;
}
#conquer .text h2 {
    font-size: 50px;
    line-height: 70px;
    color: #0091ea;
    font-weight: bold;
    margin: 75px 0px 20px 0px;
}
#conquer .text h4 {
    font-size: 30px;
    color: #0091ea;
}
#conquer .text ul {
    padding: 15px 0px;
}
#conquer .text ul li {
    margin: 25px 0px;
    font-size: 18px;
    font-weight: 300;
}
#conquer .text ul li i {
    font-size: 25px;
    position: relative;
    top: -3px;
    color: #0091ea;
}
#route {
    background: url(../imgs/route.jpg) no-repeat top left;
    background-size: cover;
}
#route {
    padding-bottom: 50px;
}
#route h2 {
    color: white;
    text-align: center;
    padding: 50px 0px;
}
#route ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
}
#route ul li {
    display: inline-block;
    width: 100%;
}
#route ul li .img {
    text-align: right
}
#route ul li .img img {
    display: inline-block;
}
#route ul li .text {
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
}
#register .nav-tabs>li>a:focus {
    background-color: none;
}
.wrap-register ul.nav-tabs {
    border-bottom: none;
}
#register .wrap-register {
    border: 2px solid #0091ea;
    margin: 60px 0px;
}
#register .wrap-register h3 {
    margin: 30px 0px;
    font-weight: bold;
}
#register .wrap-register ul.nav-tabs li {
    width: 33.3%;
    text-align: center;
}
#register .wrap-register ul li a {
    border: 3px solid #f0f0f0;
    padding: 25px 15px;
    margin: 20px;
    font-size: 16px;
    color: #272727;
}
#register .wrap-register ul li a:hover,
#register .wrap-register ul li.active a {
    border: 3px solid #0091ea;
    background: white;
    content: '';  
    font-weight: bold;
}
#register .wrap-register ul li a:hover:before,
#register .wrap-register ul li.active a:before {
    content: "\f058";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 24px;
    color: #0091ea;
    background: white;
}

.form-cbp .regist-form {
    padding: 20px 0px;
}
.form-cbp .regist-form ul {
    display: inline-block;
    padding: 0px;
    width: 100%;
}
.form-cbp .regist-form ul li {
    float: left;
    width: 33.33%;
    padding: 20px;

}
.form-cbp .regist-form .form-group {
    margin: 0px;
}
.form-cbp .regist-form .form-group input {
    height: 50px;
    border: 1px solid #000;
    margin: 10px 0px;
}
.form-cbp .text-intro-regist {
    text-align: center;
}
.form-cbp .text-intro-regist .text-last  {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}
.form-cbp .text-intro-regist .text-last span {
    color: #0091ea;
    font-weight: bold;
    font-size: 24px;
}
.form-cbp .text-intro-regist .text {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    padding: 0px 20px;
}
.form-cbp .text-intro-regist .text span {
    font-weight: bold;
    color: #0091ea;
}
.form-cbp .button-regist {
    text-align: center;
    margin: 35px 0px;
}
.form-cbp .button-regist button {
    background: #0091ea;
    border: none;
    width: 305px;
    height: 50px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
}
.text-form-bottom {
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 20px;
    font-size: 16px;
}
#about-mana {
    background: #ebebeb;
    padding: 60px 0px;
}
#about-mana .img img {
    margin-top: 100px;
}
#about-mana .text ul li {
    margin-bottom: 25px;
    line-height: 30px;
    font-size: 16px;
    color: #272727
}
footer{
    background-color: #131f33;
    /*position: fixed;*/
}
.footer{
    width: 968px;
    margin: 0 auto;
    padding-bottom: 30px;
    /*min-height: 50px;*/

}
.footer-logo{
    margin-top: 45px;
    margin-bottom: 80px;
}
.footer-logo ul{
    padding: 0px;
    margin: 0px
}
.footer-logo ul li {
    margin-bottom: 30px;
}
.clearfix{
    clear: both;
}
.footer .footer-text-center, .footer-hot-line{
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
}
.footer-text-center h4{
    font-weight: bold;
}
.footer-text-center .company-address, .footer-hot-line .company-address{
    text-decoration: underline;
    font-size: 13px;
}
.navbar-inverse .navbar-nav>li>a  {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: bold;
}
.menufix {
  background: rgba(0, 0, 0, 0.9);
  padding-bottom: 20px
}
#navbar { margin-top: 10px}
.form-cbp .form-group {
    margin: 0px !important;
}
@media (max-width: 1199px) {
    .carousel-caption {
        top: 0px;
    }
    #banner .carousel-caption h3 {
        line-height: 45px;
    }
    #banner ul {
        padding: 100px 0px 0px 0px;
    }
    #banner .carousel-caption h3 {
        font-size: 30px;
        font-weight: bold;
    }
    .btn-regis-slider {
        display: none;
    }
    .carousel-caption p br {
        display: none;
    }
    .circle {
        margin: 0px auto;
        float: initial !important
    }
    .arrow-circle {
        display: none;
    }
    .circle-last {
        float: initial !important;
        margin: 0px auto;
    }
    #about .text ul.first {
        padding: 50px 0px 0px 0px;
    }
    #register .wrap-register ul.nav-tabs li {
        width: 50%;
    }
    
}
@media (min-width: 680px) and (max-width: 1199px) {
    #register .wrap-register ul li a {
        min-height: 120px;
    }
}
@media (max-width: 1023px) { 
    .circle {
        float: none;
        margin: 20px auto;
    }
    .arrow-circle {
        display: none;
    }
    .text-details,.section-desc-text-inner,.footer,.content-collapse,.panel-title a {
        width: 100%;
    }
    .panel-heading,.panel-title {
        height: auto;
    }
    .panel-title a {
        left: 0px;
    }
    .panel-heading .accordion-toggle:after {
        display: none;
    }
    .content-collapse {
        padding: 0px 15px;
    }
    img {
        margin: 0px auto;
        display: inherit;
    }
    .section-desc {
        height: auto;
        background-size: cover;
        padding: 25px;
    }
    .section-desc-text-inner {
        padding-top: 0px;
    }
    .intro-heading {
        font-size: 24px;
    }
    .main-menu.nav>li>a {
        padding: 10px 12px !important;
    }
    ul.main-menu li a {
        font-size: 14px;
    }
    .navbar-toggle {
        display: none;
    }
    .carousel-caption {
        top: 30px;
    }
    .logo-slider,.btn-regis-slider {
        display: none;
    }
    
}
@media (max-width: 991px) {
    #route ul li .text {
        text-align: right;
    }
}
@media (max-width: 768px) {
    .header-menu .button.mb {
        display: block;
    }
    #register .wrap-register ul.nav-tabs li {
        width: 100%;
    }
    .carousel-caption p {
        font-size:  20px;
        line-height: inherit
    }
    .line {
        display: none;
    }
    .text-intro {
        padding: 25px;
    }
    .form-cbp .regist-form ul li {
        width: 100%;
        padding: 0px 20px;
    }
    #about-mana .img img {
        margin: 0px auto 15px;
    }
    #about-mana .text ul {
        padding-left: 0px;
    }
    .header-menu {
        padding-bottom: 25px;
        background: black;
    }

    .owl-theme .owl-controls {
        text-align: right !important;
    }
    #banner .owl-pagination {
        bottom: 25px;
    }
    .text-details-content {
        padding-left: 0px;
        
    }
    .resgistration-border {
        padding: 50px 25px;
    }
    .arrow-circle {
        width: 100%;
        height: 45px;
        background-position: center !important;
        display: block !important;
        margin-left: 0px !important;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    #about .img ul {
        padding: 0px;
    }
    #conquer .text h2 {
        font-size: 30px;
        margin: 35px 0px 20px 0px;
    }
    #courses .wrap-content .wrap-list li h3 {
        text-align: center;
    }
    .owl-pagination {
        text-align: center;
    }
    #courses .owl-controls.clickable {
        position: inherit;
        bottom: 0px;
    }
    
}
@media (max-width: 480px) {
    .header-menu {
        position: relative !important;
        margin-bottom: 0px !important;
    }
    .carousel-caption p {
        margin: 0px !important;
    }
    .carousel-caption {
        top: 10px !important;
    }
    #banner ul {
        padding: 30px 0px 0px 0px;
    }
    #banner .carousel-caption h5 {
        font-size: 26px;
    }
    #about .img ul {
        display: none;
    }
}
@media (max-width: 320px) { 
    .logo-brand {
        width: 110px;
        margin-top: 5px;
        height: auto !important;
    }
    .carousel-caption p {
        font-size: 16px;
    }
}
