.button-main {
	padding: 8px 25px;
    display: inline-block;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.button-more {
    display: inline-block;
    width: 100%;
    text-align: center;
    a {
	    color: white;
	    border-radius: 40px;
	    -webkit-border-radius: 40px;
	    -moz-border-radius: 40px;
	    padding: 10px 35px;
	    margin: 0px 0px 35px 0px;
	    display: inline-block;
	    font-size: 16px;
    }
}
.extend-button-price {
    display: inline-block;
    background: $primary-color-price;
    padding: 11px 35px;
    border-radius: 5px;
    border-bottom: 2px solid $secondary-color-price;
    color: white;
    position: relative;
    font-size: 16px;
}
.extend-button-price-hover {
    background: $secondary-color-price;
    border-bottom: 2px solid $last-color-price;
}
