.bold-transform  {
  font-weight: bold;
  text-transform: uppercase;
}
.background-icon-main {
	background-image: url('../../src/img/icon-kyna.png');
	background-repeat: no-repeat;
	display: block;
}
.main-border-radius {
	border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.main-border-radius-none {
	border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.title-main {
  text-align: center;
  font-size: 36px;
  margin: 27px 0px 22px 0px;
  font-weight: 300;
}

.header-text-main {
  color: #272727;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 10px 23px;
  display: inline-block;
  width: 100%;
}
.header-count-number {
  color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 10px;
    position: relative;
    background: $primary-color-price;
    line-height: 20px;
}

.header-box-right {
  min-width: 360px;
  right: -50px;
  left: initial;
  padding: 0px;
  box-shadow: 0px 0px 5px #D6D6D6;
  border: none;
}

/* Button Login Header */
.header-button-social {
  display: inline-block;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 12px 16px;
    text-align: center;
    margin-bottom: 0px;
    color: white
}

/* POPUP LOGIN, REGISTER */
.header-modal-dialog {
  margin-top: 185px;
  width: 350px !important;
}
.header-modal-content {
  border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.header-modal-body {
  padding: 20px 0px 0px 0px;
}

/* CATEGORY */
.extend-category-wrap {
    background: $primary-color-dark;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.extend-title-category-h3 {
    margin: 0px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
}
.extend-title-category-wrap {
    padding: 15px;
    display: inline-block;
    width: 100%;
}
.extend-btn-tag {
    padding: 5px 10px;
    color: white !important;
    background: #a9b2bd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: 300;
    display: block;
}

/* VIDEO */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FONTS */
.icon-font-fontastic {
  font-family: "fontastic-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
