.k-header-search {
	.search-form {
		border: 1px solid #a9b2bd;
		width: 100%;
		.form-control{
			border-radius: 0px;
		    -webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
		    background: transparent;
		    border: none;
		    box-shadow: none;
		    font-size: $base-font-size
		}
		input {
			height: 40px;
		}
		.input-group-btn {
			border-left: none;
			.search-button {
				background: white;
			    border: 2px solid white;
			    color: #ccd1d9;
			}
			&:hover i {
				color: $secondary-color-kyna
			}
		}
	}
}