.checkbox input[type=checkbox]:not(old),
.checkbox input[type=radio   ]:not(old),
#modal input[type=checkbox]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
.checkbox input[type=checkbox]:not(old) + label,
.checkbox input[type=radio   ]:not(old) + label,
#modal input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : 0px;
  line-height  : 1.5em;
}

.checkbox input[type=checkbox]:not(old) + label > span,
.checkbox input[type=radio   ]:not(old) + label > span,
#modal input[type=checkbox]:not(old) + label > span{
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  background: white;
  border: 1px solid #ddd;
  /*
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  */
  vertical-align   : bottom;
}

.checkbox input[type=checkbox]:not(old):checked + label > span,
.checkbox input[type=radio   ]:not(old):checked + label > span,
#modal input[type=checkbox]:not(old) + label > span{
    /*
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
  */
  background: #50AD4E;
  border: none;
}

.checkbox input[type=checkbox]:checked + label > span:before,
#modal input[type=checkbox]:checked + label > span:before{
  font-family: "fontastic-icon" !important;
  content     : "\56";
  display     : block;
  width       : 15px;
  color       : white;
  font-size   : 10px;
  line-height : 15px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
}

.radio input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
.radio input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : 0px;
  line-height  : 1.5em;
}
.radio input[type=radio   ]:not(old) + label > span{
  display          : inline-table;
  width            : 14px;
  height           : 14px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  background: white;
  border: 1px solid #ddd;
  vertical-align   : bottom;
  border-radius: 50%;
}
.radio input[type=radio   ]:not(old):checked + label > span{
  background: #50AD4E;
  border: none;
}

.radio input[type=radio]:checked + label > span:before{
  font-family: "fontastic-icon" !important;
  content     : "\56";
  display     : block;
  width       : 14px;
  color       : white;
  font-size   : 7px;
  line-height : 14px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
}

/* UPDATE INPUT */
.k-listing-characteristics-list label span .fa-check-circle-o:before {
  position: relative;
  top: -17px;
  right: 0px;
  background: white;
  display: inline-block;
  font-size: 17px;
}
.k-listing-characteristics-list label span .fa-check-circle-o:before {
  position: relative;
  top: -15px;
  right: 0px;
  background: white;
  display: inline-block;
  font-size: 17px;
}
.k-listing-characteristics-list .radio input[type=radio]:not(old) + label > span > span.fa-check-circle-o {
  display: none ;
}
.k-listing-characteristics-list .answer-right label {
  font-weight: bold;
  color: #50ad4e;
}
.k-listing-characteristics-list .answer-wrong label {
  font-weight: bold;
  color: #ff0000;
}
.k-listing-characteristics-list .answer-right label > span {
  border: 3px solid !important;
}
.k-listing-characteristics-list .answer-wrong label > span{
  background: red !important;
}