@media (min-width: 1200px) {
	.container {
	    max-width: 1170px !important;
	}
}


@media (max-width: 767px){
	.k-header-logo {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: -1;
	}
}
