.modal {
    &.modal-narrow {
        .modal-dialog {
            width: 320px;
        }
    }
    .modal-dialog {
        .modal-content {
            position: relative;
            border-radius: 0;

            .close {
                position: absolute;
                right: $spacer;
                top: $spacer;
            }
        }
    }
}
