// NOTIFY KPOINT
.alert-notify-kpoint{
    background-color: rgba(243, 223, 0, 0.95);
    border-color: #f3df00;
    box-shadow: 0 0 20px #333;
    width: 25%;
    button.close{
        opacity: 1;
    }
    .title{
        .label-info{
            padding: 6px 5px 5px;
            font-weight: bold;
            line-height: 1.1;
        }
    }
}
