#get1_buy1{
    .modal-dialog{
        width: 545px;
        .modal-content{
            padding: 30px;
            .modal-header{
                padding: 0;
                border: none;
                .modal-title{
                    font-size: 18px;
                    line-height: 1.333333;
                    color: #ff3c00;
                    a{
                        color: #ff3c00;
                        &:hover{
                            text-decoration: underline !important;
                        }
                    }
                }
            }
            .modal-body{
                padding: 20px 0;
                .select2-container--default {
                    .select2-selection--single{
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        background-color: #fff;
                        -webkit-box-shadow: 0 0 5px rgba(57,57,57,.23);
                        -moz-box-shadow: 0 0 5px rgba(57,57,57,.23);
                        box-shadow: 0 0 5px rgba(57,57,57,.23);
                        border: solid 1px #50ad4e;
                        height: 32px;
                        .select2-selection__rendered{
                            line-height: 32px;
                        }
                        .select2-selection__arrow {
                            height: 30px;
                        }
                    }
                    .select2-search--dropdown {
                        padding: 5px;
                        .select2-search__field{
                            padding: 3px;
                        }
                    }
                }
                .see-detail{
                    display: inline-block;
                    margin-top: 10px;
                }
            }
            .modal-footer{
                padding: 0;
                border: none;
                text-align: center;
                .btn-deny{
                    background: #afb7c0;
                    color: #fff;
                    border-bottom: 2px solid #959ca3;
                }
                .btn-success{
                    background: #50ad4e;
                    color: #fff;
                    border-bottom: 2px solid #408a3e;
                }
            }
        }
    }
}