.k-popup-lesson {
    .modal-dialog {
        width: 780px !important;
        position: relative !important;
        top: 75px !important;

        .modal-content {
            border-radius: 0 !important;
            border: none;

            .modal-header {
                background-color: #389a36;
                border-bottom: none;

                .k-popup-lesson-close {
                    position: relative;
                    top: 5px;
                    right: 10px;
                    color: white;
                    opacity: 1;

                    &:focus {
                        outline: none;
                    }
                }

                h4 {
                    margin: 0;
                    padding: 3px;
                    font-weight: normal;
                    color: #fff;
                    font-size: 18px;
                }
            }

            .modal-body {
                padding: 0 !important;

                h6 {
                    padding: 10px 18px;
                    background: #237721;
                    color: white;
                    font-size: 14px;
                    margin-bottom: 0.9375rem;
                }

                .k-popup-lesson-content {
                    .videoWrapper iframe {
                        z-index: 1;
                    }

                    .rating-box {
                        .dot,
                        detail {
                            display: none;
                        }
                    }

                    .k-popup-lesson-info {
                        ul {
                            padding: 0;
                            width: 100%;
                            display: inline-block;
                            margin-top: 15px;

                            li {
                                margin-bottom: 10px;
                                font-weight: 400;
                                font-size: 14px;
                                float: left;
                                color: #333;

                                &:nth-child(1) {
                                    width: 43%;
                                }

                                &:nth-child(3) {
                                    width: 43%;
                                }

                                &:nth-child(2) {
                                    width: 57%;
                                }

                                &:nth-child(4) {
                                    width: 57%;
                                }
                            }

                            &.popup-combo {
                                li {
                                    width: 50%;

                                    &:last-child {
                                        width: 100%;
                                    }

                                    i {
                                        margin: 0;
                                    }
                                }
                            }
                        }

                        i {
                            margin-right: 5px;
                        }

                        .lb-discount {
                            @include border-radius(3px);
                            position: absolute;
                            top: 15px;
                            right: 20px;
                            background-color: #f82723;
                            color: #fff;
                            display: block;
                            height: 25px;
                            font-size: 15px;
                            line-height: 25px;
                            padding: 0 1px;
                        }
                    }
                }

                .k-popup-lesson-detail {
                    .box-style {
                        span {
                            @include border-radius(3px);
                            width: auto;
                            color: white;
                            font-size: 15px;
                            display: inline-block;
                            line-height: 1.35;
                            text-align: center;
                            padding: 5px 13px;
                            font-weight: bold;

                            &.st-video {
                                background-color: #f84b2f;
                            }

                            &.st-app {
                                background-color: #053d92;
                            }

                            &.st-combo {
                                background-color: #fb6a00;
                            }

                            &.time {
                                background-color: #a7b3c1;
                            }
                        }
                    }

                    .k-popup-lesson-detail-price {
                        margin: 0 0 15px;
                        padding: 10px 0;
                        display: inline-block;
                        width: 100%;
                        border-bottom: 1px solid #ddd;
                        .clock-flash-sale{
                            overflow: hidden;
                            margin: 0 -3px;
                            .col-xs-4{
                                padding-left: 2.5px;
                                padding-right: 2.5px;
                                .clock-flash-sale-card{
                                    border: 1px solid #f82723;
                                    border-radius: 5px;
                                    p{
                                        text-align: center;
                                        color: #656565;
                                        padding-top: 5px;
                                        line-height: 1;
                                        padding-bottom: 5px;
                                        margin-bottom: 0;
                                        span{
                                            display: block;
                                            font-size: 18px;
                                            color: #f82723;
                                            font-weight: 700;
                                            line-height: 1;


                                        }
                                    }
                                }
                            }
                        }
                        i {
                            font-size: 24px;
                            line-height: 2;
                            color: $primary-color-price;
                        }

                        .price-sell {
                            font-size: 24px;
                            line-height: 2;
                            margin-right: 10px;
                            color: $primary-color-price;

                            span {
                                font-size: 18px;
                                font-weight: normal;
                            }
                        }

                        .price-old {
                            color: #999;
                            font-weight: normal;
                            margin-right: 10px;
                        }

                        .price-percent {
                            font-size: 16px;
                            color: #f82f2f;
                        }

                        li {
                            &:first-child {
                                font-size: 24px;
                                line-height: 2;
                                margin-right: 10px;
                                float: left;
                                color: $primary-color-price;
                            }
                        }

                        .register {
                            float: right;

                            .add-to-cart,
                            .btn-buy-now {
                                background-color: #FF7816;
                                color: #fff;

                                &:hover {
                                    background-color: darken(#FF7816, 30%);
                                }

                                &.reg {
                                    background: #b5b5b5;
                                    border-bottom: 2px solid darkgray;
                                    cursor: default;
                                }
                            }
                        }

                        .see-alert-add-to-cart {
                            width: 100%;
                            float: right;

                            .alert-add-to-cart {
                                position: relative;
                                margin-top: 5px;
                                float: right;

                                a {
                                    font-size: 12px;
                                    color: black;

                                    &:hover {
                                        color: #333;
                                    }
                                }

                                &:before {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    position: absolute;
                                    background-color: #b5b5b5;
                                    top: 20px;
                                }
                            }
                        }
                    }

                    .k-popup-lesson-info {
                        ul li {
                            position: relative;
                            padding-left: 30px;

                            i {
                                position: absolute;
                                font-size: 15px;
                                line-height: 1;
                                color: #666;
                                top: 4px;
                                left: 0;
                            }
                        }
                    }

                    .k-popup-lesson-detail-care {
                        display: table;
                        width: 100%;
                        padding: 0;

                        li {
                            display: table-cell;

                            &:first-child {
                                float: left;

                                i {
                                    margin-right: 5px;
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: $primary-color-kyna;
                                    position: relative;
                                    top: -1px;
                                }
                            }

                            &:last-child {
                                float: right;

                                a {
                                    font-size: 18px;
                                    color: $primary-color-kyna;

                                    i {
                                        font-size: 18px;
                                        font-weight: bold;
                                    }

                                    &:hover {
                                        color: $secondary-color-kyna;

                                        i {
                                            @include button-transition();
                                            margin-right: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #fb-save-button {
                        &:hover {
                            .popup-guide {
                                display: block !important;
                            }
                        }
                    }

                    .popup-guide {
                        display: none;
                        position: absolute;
                        padding: 15px;
                        border-radius: 5px;
                        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
                        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
                        box-shadow: 0 0 10px rgba(0,0,0,0.5);
                        text-align: center;
                        right: 30%;
                        width: 100%;

                        &::before {
                            font-family: "fontastic-icon" !important;
                            font-style: normal !important;
                            font-weight: normal !important;
                            font-variant: normal !important;
                            text-transform: none !important;
                            speak: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            text-shadow: 0 -3px 5px gainsboro;
                            content: "\3a";
                            font-size: 16px;
                            position: absolute;
                            right: 20%;
                            top: -13px;
                            color: white;
                        }

                        a {
                            color: #4f6fb6;
                            text-decoration: underline !important;
                        }
                    }
                }

                .k-popup-lesson-description{
                    p{
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                }

                .row-action {
                    width: 100%;

                    a {
                        width: 50%;
                        float: left;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        line-height: 60px;
                        border-top: 1px solid $primary-color-price;
                    }

                    .add-to-cart {
                        font-size: 20px;
                        color: #333;
                        border-color: #ddd;

                        &:hover,
                        &:active {
                            border-color: darken(#ddd, 30%);
                        }
                    }

                    .buy-now {
                        background-color: $primary-color-price;
                        color: #fff;
                        &.combo{
                            width: 100%;
                        }
                        &:hover,
                        &:active {
                            background: darken($color-price, 5%);
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .btn-go-to-cart{
                        width: 100%;
                        background-color: #ccc;
                        color: white;
                        border-color: #ddd;
                        font-size: 20px;
                        &:hover{
                            background-color: #bbb;
                        }
                    }
                    .btn-go-to-courses{
                        width: 100%;
                        color: #fff;
                        background-color: #389a36;
                        border-color: #ddd;
                        font-size: 20px;
                        &:hover{
                            background-color: #079a1e;
                        }
                    }
                    .status-course{
                        float: left;
                        width: 100%;
                        color: #489b46;
                        text-align: right;
                        padding-right: 15px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
