.k-subscriber {
    background: map-get($color-brands, kyna);
    padding: 15px;
    color: white; 
    .k-subscriber-title {
        margin-top: 10px;
    }
    ul {
        display: inline-block;
        margin-bottom: 0px;     
        width: 100%;
        li {
            float: left;
            width: 100%;
            margin-right: 15px; 
            &:first-child {
                font-weight: bold;
            }
        }
    }
}
.k-subscriber-form {
    margin-top: 10px;
    .btn-primary {
        @include border-radius(3px);
        @include button-color($color-price);        
        color: white;       

    }
    #inp_subscribe {
        .input-group-addon {
            padding-right: 20px;
            padding-left: 20px;
        }
        input {
            @include border-right-radius(3px);
            height: 46px;            
        }
    }
} 
@media (max-width: 991px) {
    .k-subscriber {
        .k-subscriber-title {
            ul {
                text-align: center;
                li {
                    width: 100%
                }
            }
        }
        #inp_subscribe {
            padding: 0px;
        }
        .k-subscriber-form {
            #inp_subscribe {
                margin-bottom: 15px;
            }
            .btn-wrap {                              
                text-align: center;
                input {
                    width: 100%;
                }
            }
        }
    } 
}
@media (max-width: 544px) {
    .k-subscriber-form {            
        .btn-wrap {                                             
            input {
                width: auto;
            }
        }
    }
}