.nav-tabs {
    border: none;
    .nav-item {
        background-color: map-get($colors, grey-lighter);
        @extend .h4;

        $padding-y: 12px;

        .nav-link {
            color: $body-color;
            padding: $padding-y 20px;
            text-align: center;
            border: none;
            border-radius: 0;
        }

        &.active .nav-link {
            $border-width: 3px;
            background-color: #fff;
            border-bottom: solid $border-width map-get($colors, green);
            padding: $padding-y 20px ($padding-y - $border-width);
        }

        & + .nav-item {
            margin-left: 0;
        }
    }

    &.nav-tabs-justified {
        display: table;
        width: calc(100% - 1px);
        .nav-item {
            float: none;
            display: table-cell;
        }
    }
}
.tab-pane {
    padding: $spacer;
}
