#fixed-topbar {
	text-align: center;
	color: white;
	font-size: 13px;
	font-weight: bold;
	z-index: 30;
	width: 100%;

	img {
		width: 100%;

		&.close-topbar {
			position: absolute;
			top: 5px;
			right: 5px;
			background: white;
			height: 20px;
			width: 20px;
			border-radius: 99px;
			cursor: pointer;
		}
	}

	button {
		&.close {
			position: absolute;
			top: 0;
			right: 15px;
		}
	}

	.banner-mb {
		display: none;
	}

	&.banner-on-mob {
		position: relative;
	}

	&.close {
		display: none !important;
	}
	@media (max-width: 990px) {
		.banner-pc {
			display: none;
		}

		.banner-mb {
			display: block;
		}
	}
	@media (max-width: 768px) {
		position: relative;
	}
}
@media (max-width: 768px) {
	.offpage-overflow {
		#fixed-topbar {
			z-index: 0;
		}
	}
}
