@font-face {
  font-family: "Source Sans Pro";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-Regular.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Source Sans Pro";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-Bold.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Source Sans Pro";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-light.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/SourceSansPro-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.regular.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.light.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.bold.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.black.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/roboto.black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Regular.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Light.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Bold.ttf");
  src: url("/mana/cs/cb-quan-tri-du-an-chuyen-nghiep/font/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }