﻿*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.icon-angle-down{
    margin: 5px auto 0;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 50px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 10px;
}
input:focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#header{
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 16;
    background-color: transparent;
    &.action{
        display: none;
    }
    .navbar{
        float: right;
        background: transparent;
        margin: .5rem 1rem;
        padding: 0;
        text-align: right;
        .navbar-toggler{
            border: 1px white solid;
            color: white;
        }
        .navbar-nav{
            .nav-link{
                color: white;
                &:hover, &.active{
                    font-weight: bold;
                }
            }
        }
    }
}
#banner{
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box-banner{
        position: absolute;
        width: 100%;
        top: 250px;
        text-align: center;
        color: white;
        .tit-1{
            font-size: 26px;
            margin-top: 50px;
        }
        .tit-2{
            font-size: 96px;
            font-weight: 800;
        }
        .tit-3{
            font-size: 46px;
            font-weight: 800;
        }
        .tit-4{
            font-size: 18px;
        }
        .icon-angle-down{
            top: 100%;
        }
    }
}

.form-register{
    margin-top: 25px;
    .form-control{
        padding: 15px;
        border: 1px solid #797979;
    }
    .btn-register{
        background-color: transparent;
        border: 3px solid white;
        color: white;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 0;
        margin-top: 20px;
    }
}
#about{
    background-image: url(../img/bg-about.png);
    background-size: cover;
    background-repeat: no-repeat;
    .courses-detail{
        h3{
            font-weight: bold;
            color: #003792;
            margin-bottom: 40px;
        }
        .courses-detail-list{
            padding-left: 1em;
            > li{
                color: #003792;
                padding: 15px 15px;
                span{
                    color: black;
                }
            }
        }
    }
    .courses-info{
        background-color: #003792;
        padding: 40px 0;
        h3{
            text-align: center;
            font-weight: bold;
            color: white;
            margin-bottom: 40px;
        }
        .courses-info-list{
            list-style: none;
            padding-left: 1.5em;
            > li{
                color: white;
                padding: 15px 20px 15px 60px;
                position: relative;
                span{
                    color: black;
                }
                &:before{
                    content: "";
                    position: absolute;
                    background-image: url(../img/icon/icon-courses-info.png);
                    width: 36px;
                    height: 36px;
                    left: 0;
                }
                &.courses-info-icon-1:before{
                    background-position: 0 0;
                }
                &.courses-info-icon-2:before{
                    background-position: 0 -42px;
                }
                &.courses-info-icon-3:before{
                    background-position: 0 -85px;
                }
                &.courses-info-icon-4:before{
                    background-position: 0 -135px;
                }
            }
        }
    }
}
#courses{
    background-image: url(../img/bg-courses.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: bold;
    .container{
        position: relative;
        .mana-vi{
            font-size: 36px;
            &:before{
                content: "";
                position: absolute;
                border-bottom: 10px solid white;
                width: 230px;
                top: 22px;
                left: 120px;
            }
            &:after{
                content: "";
                position: absolute;
                border-bottom: 10px solid white;
                width: 230px;
                top: 22px;
                right: 120px;
            }
        }
        .mana-en{
            font-size: 60px;
            &:before{
                content: "";
                position: absolute;
                border-left: 10px solid white;
                height: 98px;
                top: 22px;
                left: 120px;
            }
            &:after{
                content: "";
                position: absolute;
                border-left: 10px solid white;
                height: 98px;
                top: 22px;
                right: 120px;
            }
        }
        .box-mana{
            margin-top: 110px;
            width: 120%;
            margin-left: -10%;
            .mana-detail{
                font-size: 46px;
                font-weight: 100;
                strong{
                    font-size: 68px;
                    font-weight: bold;
                }
            }
        }
    }
}
#courses-detail-time{
    background-image: url(../img/bg-box-time.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    .container{
        padding: 0 100px;
        h3{
            font-weight: bold;
            color: #003792;
            margin-bottom: 40px;
        }
        .box-time{
            .row{
                margin: 10px auto;
                position: relative;
                text-align:center;
                .cell-time{
                    width: 32%;
                    display:inline-block;
                    .img-course-time{
                        margin: 0 auto;
                        height: 168px;
                        width: 168px;
                        background-image: url(../img/icon/icon-courses-week.png);
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        &.time-1{
                            background-position: 0 0;
                        }
                        &.time-2{
                            background-position: 0 -168px;
                        }
                        &.time-3{
                            background-position: 0 -336px;
                        }
                        &.time-4{
                            background-position: 0 -504px;
                        }
                        &.time-5{
                            background-position: 0 -672px;
                        }
                    }
                    .text-courses{
                        margin: 20px auto;
                        width: 160px;
                        span{
                            color: #003792;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
#courses-detail-courses{
    h3{
        text-transform: uppercase;
        color: #003792;
        margin: 10px auto;
        font-weight: bold;
        text-align: center;
    }
    #courses-detail-slide{
        .carousel-inner{
            background-color: #f5f5f5;
            .carousel-indicators{
                left: 0;
                margin: 0;
                width: calc(100% / 3);
                li{
                    background-color: rgba(255, 255, 255, 0.5);
                    &.active{
                        background-color: white;
                    }
                }
            }
            .carousel-item{
                height: 100%;
                .title{
                    background-color: #003792;
                    color: white;
                    font-weight: bold;
                    padding: 100px 30px;
                    text-align: center;
                    height: 100%;
                    h1{
                        font-weight: bold;
                    }
                }
                .detail{
                    padding-top: 20px;
                    padding-right: 30px;
                    padding-left: 30px;
                    .row{
                        p{
                            margin: 0;
                        }
                        div p:first-child{
                            color: #003792;
                        }
                    }
                }
            }
        }
    }
}
#courses-detail-author{
    padding-top: 20px;
    padding-bottom: 20px;
    .fa-angle-down{
        font-size: 45px;
        font-weight: lighter;
        text-align: center;
        color: #000;
        position: absolute;
        bottom: 20px;
    }
    h3{
        text-transform: uppercase;
        color: #003792;
        margin: 10px auto;
        font-weight: bold;
        text-align: center;
    }
    img{
        border-radius: 25px;
        width: 300px;
        margin: 0 auto;
    }
    .sm-gv1, .sm-gv2{
        padding-top: 5px;
        display: block;
        p{
            font-weight: 100;
            font-size: 16px;
            margin: 10px auto 3px;
        }
        b{
            font-size: 18px;
        }
        ul{
            margin-top: 20px;
            margin-bottom: 50px;
            list-style-type: disc;
            text-align: left;
            padding-left: 1em;
            li{
                font-size: 24px;
                p{
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    }
    .gv1, .gv2, .md-gv{
        display: none;
    }
    @media (min-width: 992px) {
        padding-top: 20px;
        padding-bottom: 20px;
        .fa-angle-down{
            font-size: 60px;
            bottom: 0px;
            left: 49%;
        }
        .sm-gv1, .sm-gv2{
            display: none;
        }
        .left, .right{
            padding-left: 0px;
            padding-right: 0px;
            .md-gv{
                display: block;
            }
        }
        .left{
            img{
                cursor: pointer;
                margin-left: 45px;
                padding-top: 20px;
                border-radius: 0;
                width: 430px;
                height: 430px;
            }
        }
        .right{
            img{
                cursor: pointer;
                margin-left: 5px;
                padding-top: 20px;
                border-radius: 0;
                width: 430px;
                height: 430px;
            }
        }
        .gv1{
            display: none;
            background-color: rgba(30, 87, 131, 0.8);
            text-align: left;
            color: #fff;
            position: absolute;
            width: 430px;
            margin-left: 475px;
            margin-top: 20px;
            height: 410px;
            padding-top: 20px;
            padding-bottom: 25px;
            p{
                font-size: 16px;
                font-weight: 100;
                margin: 10px 10px 0;
            }
            b{
                font-size: 22px;
                margin-left: 10px;
            }
            ul{
                margin-top: 40px;
                list-style-type: disc;
                font-size: 16px;
                margin-bottom: 45px;
                padding-left: 1em;
                li{
                    margin-bottom: 10px;
                    p{
                        font-size: 16px !important;
                        line-height: 1.8;
                    }
                }
            }
        }
        .gv1::after{
            right: 100%;
            top: 40%;
            border-style: solid;
            border-width: 15px 40px 15px 0;
            border-color: transparent rgba(30, 87, 131, 0.8) transparent transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;

        }
        .gv2{
            display: none;
            background-color: rgba(30, 87, 131, 0.8);
            text-align: left;
            color: #fff;
            position: absolute;
            width: 430px;
            margin-left: 45px;
            margin-top: 20px;
            height: 410px;
            padding-top: 20px;
            padding-bottom: 20px;
            p{
                font-size: 16px;
                font-weight: 100;
                margin: 10px 10px 0;
            }
            b{
                font-size: 22px;
                margin-left: 10px;
            }
            ul{
                margin-top: 30px;
                list-style-type: disc;
                margin-bottom: 23px;
                padding-left: 1em;
                li{
                    margin-bottom: 10px;
                    p{
                        font-size: 16px !important;
                        line-height: 1.6;
                    }
                }
            }
        }
        .gv2::after{
            left: 100%;
            top: 45%;
            border-style: solid;
            border-width: 15px 0px 15px 40px;
            border-color: transparent transparent transparent rgba(30, 87, 131, 0.8);
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
    }
    @media (min-width: 1200px) {
        padding-top: 0px;
        padding-bottom: 0px;
        h3{
            margin-top: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
        .fa-angle-down{
            bottom: 10px;
        }
        .row{
            margin: 0 auto;
            padding-bottom: 40px;
            .left{
                img{
                    margin-left: 105px;
                    margin-top: 0px;
                    width: 450px;
                    height: 450px;
                }
            }
            .right{
                img{
                    margin-left: 0;
                    margin-top: 0px;
                    padding-top: 20px;
                    width:450px;
                    height: 450px;
                }
            }
            .gv1{
                width: 450px;
                margin-left: 555px;
                margin-top: 20px;
                padding-top: 22px;
                padding-bottom: 20px;
                height: 430px;
                p{
                    font-size: 18px;
                }
                b{
                    font-size: 24px;
                    margin: 10px;
                }
                ul{
                    margin-top: 30px;
                    list-style-type: disc;
                    margin-bottom: 45px;
                    li{
                        margin-bottom: 10px;
                        p{
                            font-size: 18px !important;
                            line-height: 1.8;

                        }
                    }
                }
            }

            .gv2{
                width: 450px;
                margin-left: 105px;
                margin-top: 20px;
                padding-top: 20px;
                padding-bottom: 10px;
                height: 430px;
                p{
                    font-size: 18px;
                }
                b{
                    font-size: 24px;
                    margin: 10px;
                }
                ul{
                    margin-top: 20px;
                    list-style-type: disc;
                    margin-bottom: 30px;
                    li{
                        margin-bottom: 10px;
                        p{
                            font-size: 18px !important;
                            line-height: 1.3;
                            text-align: justify;
                            padding-left: 0px;
                            margin-left: 0px;
                        }
                    }
                }
            }

        }
    }
    @media (min-width: 1367px) {
        padding-top: 0px;
        padding-bottom: 0;
        margin-top: 0px;
        h3{
            margin-top: -50px;
            margin-bottom: 50px;
        }
        .fa-angle-down{
            bottom: 40px;
        }
        .row{
            .left{
                img{
                    margin-left: 5px;
                    margin-top: 0px;
                    width: 550px;
                    height: 550px;
                }
            }
            .right{
                img{
                    margin-left: 0px;
                    margin-top: 0px;
                    padding-top: 20px;
                    width: 550px;
                    height: 550px;
                }
            }
            .gv1{
                width: 550px;
                margin-left: 555px;
                margin-top: 20px;
                padding-top: 50px;
                padding-bottom: 80px;
                height: 530px;
                p{
                    font-size: 20px;
                }
                b{
                    font-size: 30px;
                    margin: 10px 15px;
                }
                ul{
                    list-style-type: disc;
                    margin-bottom: 35px;
                    padding: 0 10px 0 50px;
                    li{
                        p{
                            font-size: 20px !important;
                            line-height: 1.8;
                        }
                    }
                }
            }

            .gv2{
                width: 550px;
                margin-left: 5px;
                margin-top: 20px;
                padding-top: 50px;
                padding-bottom: 20px;
                height: 530px;
                p{
                    font-size: 20px;
                }
                b{
                    font-size: 30px;
                }
                ul{
                    list-style-type: disc;
                    margin-bottom: 22px;
                    padding: 0px 10px 0px 50px;
                    li{
                        p{
                            font-size: 20px !important;
                            line-height: 1.8; 
                        }
                    }
                }
            }
        }
    }
} 
#object{
    .content-object{
        h2{
            font-weight: bold;
            text-align: center;
            color: #003792;
        }
        ul{
            padding: 30px;
            > li{
                color: #003792;
                padding: 10px 30px;
                span{
                    color: black;
                }
            }
        }
        .btn-register{
            padding: 15px 30px;
            background-color: transparent;
            color: #003792;
            font-size: 22px;
            font-weight: 100;
            border: 3px solid #003792;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .image-object{
        position: relative;
        .box-img{
            position: relative;
            height: 100%;
            .img-1, .img-2{
                position: absolute;
                width: calc(200% / 3);
                height: calc(200% / 3);
                object-fit: cover
            }
            .img-1{
                top: 0; left: 0;
            }
            .img-2{
                bottom: 0; right: 0;
                height: 50%;
            }
        }
    }
}
#service{
    background-image: url(../img/bg-join.png);
    background-size: cover;
    background-repeat: no-repeat;
    .box-service{
        float: right;
        h2,h4{
            color: #003792;
            font-weight: bold;
            margin-bottom: 15px;
        }
        h2{
            line-height: 1.3em;
        }
        h4{
            margin-top: 60px;
            margin-bottom: 30px;
        }
        ul{
            padding-left: 30px;
            margin-bottom: 50px;
            font-size: 18px;
            > li{
                padding: 15px 30px;
                color: #003792;
                span{
                    color: black;
                }
            }
        }
    }
}
#license{
    background-image: url(../img/bg-license.png);
    background-size: cover;
    background-repeat: no-repeat;
    .image-license{
        position: relative;
        img{
            position: relative;
            width: 100%;
            top: 40%;
        }
    }
    .content-license{
        color: white;
        h2{
            font-weight: 800;
        }
        h3{
            font-weight: 100;
        }
        ul{
            list-style: none;
            font-size: 22px;
            > li{
                position: relative;
                padding: 15px 50px;
                &:before{
                    position: absolute;
                    top: 24px;
                    left: 0;
                    font-size: 18px;
                }
            }
        }
        .line-license{
            border-bottom: 5px solid white;
            width: 100px;
            margin: 25px 0;
        }

    }
    .icon-angle-down{
        color: white;
    }
}
#welcome{
    text-align: center;
    background-color: #f6f6f6;
    h2,h4, h5{
        color: #003792;
    }
    h2{
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
    h5{
        margin-bottom: 40px;
    }
    h4{
        color: black;
        font-size: 22px;
        span{
            color: #003792;
        }
    }
    .image-welcome{
        width: 100%;
        padding: 100px;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
}
#register{
    .form-register{
        border: 3px solid #003792;
        padding: 40px 20px;
        .title-register{
            color: #003792;
            text-align: center;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 60px;
        }
        .btn-register{
            background-color: #d21c00;
            width: 30%;
            font-weight: bold;
            margin-bottom: 20px;
        }
        margin-bottom: 40px;
    }
    .note{
        padding: 0 50px;
        a{
            font-weight: 100;
        }
    }
}
#footer{
    font-family: "OpenSans";
    background-color: #003792;
    padding: 40px 0;
    color: white;
    font-size: 14px;
    .img-footer{
        padding: 30px 70px;
        img{
            width: 100%;
        }
    }
    .address-footer .page-license{
        margin-top: 40px;
    }
}



.button-main {
    display: inline-block;
    width: 100%;
    @media (max-width: 768px) {
        padding: 0px !important;
    }
    li {
        float: left;
        margin-right: 15px;
        width: 45%;
        padding: 0px !important;
        list-style: none;
        @media (max-width: 1199px) { 
            width: 100%;
            margin-bottom: 15px;
        }
        img {
            margin-right: 15px;
            position: relative;
            top: -3px;

        }
        button {
            font-size: 18px !important;
            &:focus {
                outline: none !important;
            }
        }
        &:first-child {
            button {
                padding: 15px 30px;
                background-color: transparent;
                color: #003792;
                font-size: 22px;
                font-weight: 100;
                border: 3px solid #003792;
                width: 100%;
                &:hover {
                    img {
                        position: relative;
                        right: 5px
                    }
                }
            }
        }
        &:last-child {
            button {
                padding: 15px 30px;
                background-color: #003792 !important;
                color: white !important;   
                font-weight: 100;
                border: 3px solid #003792;
                width: 100%;
                &:hover {
                    background: #02307b;
                    border: 3px solid #02307b;
                }
            }
        }
    }

}

@media (max-width: 1199px) {
    #courses{
        .container{
            .mana-vi{
                font-size: 32px;
                &:before{
                    width: 200px;
                    left: 100px;
                }
                &:after{
                    width: 200px;
                    right: 100px;
                }
            }
            .mana-en{
                font-size: 50px;
                &:before{
                    height: 80px;
                    left: 100px;
                }
                &:after{
                    height: 80px;
                    right: 100px;
                }
            }
        }
    }
    #courses-detail-author .author .screen{
        padding-top: 20px
    }
}

@media (max-width: 991px) {
    #courses{
        .container{
            .mana-vi{
                font-size: 32px;
                &:before{
                    width: 200px;
                    left: 0;
                }
                &:after{
                    width: 200px;
                    right: 0;
                }
            }
            .mana-en{
                font-size: 50px;
                &:before{
                    height: 80px;
                    left: 0;
                }
                &:after{
                    height: 80px;
                    right: 0;
                }
            }
        }
    }
    #courses-detail-time .container{
        padding: 0;
    }
    #courses-detail-author .author .screen.right{
        left: auto;
        &:before{
            content: none;
        }
    }
    #courses-detail-author .author img.nomain-right{
        right: auto;
    }
    #courses-detail-author .author .screen.left{
        right: auto;
        &:before{
            content: none;
        }
    }
    #courses-detail-author .author img.nomain-left{
        left: auto;
    }
    #courses-detail-author .author{
        margin-top: 20px;
    }
    #courses-detail-author .author .screen{
        visibility: visible;
        opacity: 1;
        position: relative;
        padding: 30px;
        background-color: transparent;
        color: black;
    }
    #courses-detail-author .author img.main:hover + img.nomain-right,
    #courses-detail-author .author img.main:hover + img.nomain-left{
        display: none;
    }
    #courses-detail-author .author .screen .exp li{
        padding: 5px 30px;
        &:before{
            top: 10px;
        }
    }
    #courses-detail-author .author img{
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
    }
    #object .image-object{
        display: none;
    }
    #footer .img-footer{
        padding: 30px;
    }
}
@media (max-width: 767px) {
    #banner{
        .box-banner{
            padding: 0 15px;
            top: 100px;
            .tit-2{
                margin-top: 0;
            }
            .tit-2{
                font-size: 70px;
            }
            .tit-3{
                font-size: 30px;
            }
            .icon-angle-down{
                position: relative;
                bottom: -80px;
            }
        }
        img{
            height: 615px;
        }
        .box-banner{
            .form-register{
                display: none;
            }
        }
    }
    #about{
        padding: 40px 0;
        h3{
            text-align: center;
        }
    }
    #courses{
        .container{
            .mana-vi, .mana-en{
                &:before, &:after{
                    content: none;
                }
            }
            .box-mana{
                margin-top: 50px;
            }
        }
    }
    #courses-detail-courses #courses-detail-slide .carousel-inner{
        .carousel-item .title{
            padding: 50px 30px;
        }
        .carousel-indicators{
            bottom: auto;
            top: 20px;
            width: 100%;
        }
    }
    #footer .img-footer{
        padding: 30px 35%;
    }
    #service, #license{
        padding: 60px 0 0;
    }
    #courses{
        padding: 60px 0;
    }
    #license{
        .image-license{
            margin-bottom: 30px;
        }
    }
    #welcome .image-welcome{
        padding: 30px 100px 0;
    }
    #register{
        padding-top: 0px;
    }
}
@media (max-width: 544px) {
    #footer .img-footer{
        padding: 30px 0;
        img{
            width: 150px;
            margin-left: calc((100% - 150px) / 2);
        }
    }
    #courses-detail-time .container .box-time .row .cell-time{
        width: 40%;
    }
    #courses-detail-author .author img{
        width: 100%;
        margin-left: 0;
        border-radius: 5px;
    }
    #about .courses-detail .courses-detail-list, #service .box-service ul, #object .content-object ul {
        padding-left: 30px;
        > li{
            padding: 15px 0;
        }
    }
    #register .form-register .btn-register{
        width: 100%
    }
}
@media (max-width: 450px) {
    #courses-detail-time .container .box-time .row .cell-time{
        width: 60%;
    }
    #object .content-object .btn-register{
        padding: 15px 5px;
    }
}
@media (max-width: 1366px) {
    #banner .box-banner{
        top: 75px;
    }
    #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .detail .row p{
        font-size: 15px;
    }
    #welcome .image-welcome{
        padding: 50px 250px 0;
    }
    #courses-detail-courses .fp-tableCell{
        display: block;
        padding-top: 30px;
    }
}

#video-intro {
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0; 
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body {
        .btn-close {
            margin-top: 15px;
            background-color: #131F33;
            font-weight: bold;
            color: white;
        }
        .btn-close{
            &:hover {
                background-color: #0C0C0C;
            }
        }
        .btn-close{
            &:focus {
                outline: none;
            }
        }
    }
}