* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em; }

.icon-angle-down {
  margin: 5px auto 0;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 50px;
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 10px; }

input:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

#header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  z-index: 16;
  background-color: transparent; }
  #header.action {
    display: none; }
  #header .navbar {
    float: right;
    background: transparent;
    margin: .5rem 1rem;
    padding: 0;
    text-align: right; }
    #header .navbar .navbar-toggler {
      border: 1px white solid;
      color: white; }
    #header .navbar .navbar-nav .nav-link {
      color: white; }
      #header .navbar .navbar-nav .nav-link:hover, #header .navbar .navbar-nav .nav-link.active {
        font-weight: bold; }

#banner {
  position: relative; }
  #banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #banner .box-banner {
    position: absolute;
    width: 100%;
    top: 180px;
    text-align: center;
    color: white; }
    #banner .box-banner p {
      padding: 0px 100px;
    }
    #banner .box-banner .tit-1 {
      font-size: 26px;
      margin-top: 50px; }
    #banner .box-banner .tit-2 {
      font-size: 60px;
      font-weight: 800; }
    #banner .box-banner .tit-3 {
      font-size: 36px;
      }
    #banner .box-banner .tit-4 {
      font-size: 18px; }
    #banner .box-banner .icon-angle-down {
      top: 100%; }

.form-register {
  margin-top: 25px; }
  .form-register .form-control {
    padding: 15px;
    border: 1px solid #797979; }
  .form-register .btn-register {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 0;
    margin-top: 20px; }

#about {
  background-image: url(../img/bg-about.png);
  background-size: cover;
  background-repeat: no-repeat; }
  #about .courses-detail h3 {
    font-weight: bold;
    color: #003792;
    margin-bottom: 40px; }
  #about .courses-detail .courses-detail-list {
    padding-left: 1em; }
    #about .courses-detail .courses-detail-list > li {
      color: #003792;
      padding: 15px 15px; }
      #about .courses-detail .courses-detail-list > li span {
        color: black; }
  #about .courses-info {
    background-color: #003792;
    padding: 40px 0; }
    #about .courses-info h3 {
      text-align: center;
      font-weight: bold;
      color: white;
      margin-bottom: 40px; }
    #about .courses-info .courses-info-list {
      list-style: none;
      padding-left: 1.5em; }
      #about .courses-info .courses-info-list > li {
        color: white;
        padding: 15px 20px 15px 60px;
        position: relative; }
        #about .courses-info .courses-info-list > li span {
          color: black; }
        #about .courses-info .courses-info-list > li:before {
          content: "";
          position: absolute;
          background-image: url(../img/icon/icon-courses-info.png);
          width: 36px;
          height: 36px;
          left: 0; }
        #about .courses-info .courses-info-list > li.courses-info-icon-1:before {
          background-position: 0 0; }
        #about .courses-info .courses-info-list > li.courses-info-icon-2:before {
          background-position: 0 -42px; }
        #about .courses-info .courses-info-list > li.courses-info-icon-3:before {
          background-position: 0 -85px; }
        #about .courses-info .courses-info-list > li.courses-info-icon-4:before {
          background-position: 0 -135px; }

#courses {
  background-image: url(../img/bg-courses.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-weight: bold; }
  #courses .container {
    position: relative; }
    #courses .container .mana-vi {
      font-size: 36px; }
      #courses .container .mana-vi:before {
        content: "";
        position: absolute;
        border-bottom: 10px solid white;
        width: 230px;
        top: 22px;
        left: 120px; }
      #courses .container .mana-vi:after {
        content: "";
        position: absolute;
        border-bottom: 10px solid white;
        width: 230px;
        top: 22px;
        right: 120px; }
    #courses .container .mana-en {
      font-size: 60px; }
      #courses .container .mana-en:before {
        content: "";
        position: absolute;
        border-left: 10px solid white;
        height: 98px;
        top: 22px;
        left: 120px; }
      #courses .container .mana-en:after {
        content: "";
        position: absolute;
        border-left: 10px solid white;
        height: 98px;
        top: 22px;
        right: 120px; }
    #courses .container .box-mana {
      margin-top: 110px;
      width: 120%;
      margin-left: -10%; }
      #courses .container .box-mana .mana-detail {
        font-size: 46px;
        font-weight: 100; }
        #courses .container .box-mana .mana-detail strong {
          font-size: 68px;
          font-weight: bold; }

#courses-detail-time {
  background-image: url(../img/bg-box-time.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  #courses-detail-time .container {
    padding: 0 100px; }
    #courses-detail-time .container h3 {
      font-weight: bold;
      color: #003792;
      margin-bottom: 40px; }
    #courses-detail-time .container .box-time .row {
      margin: 10px auto;
      position: relative;
      text-align: center; }
      #courses-detail-time .container .box-time .row .cell-time {
        width: 32%;
        display: inline-block; }
        #courses-detail-time .container .box-time .row .cell-time .img-course-time {
          margin: 0 auto;
          height: 168px;
          width: 168px;
          background-image: url(../img/icon/icon-courses-week.png);
          background-position: 0 0;
          background-repeat: no-repeat; }
          #courses-detail-time .container .box-time .row .cell-time .img-course-time.time-1 {
            background-position: 0 0; }
          #courses-detail-time .container .box-time .row .cell-time .img-course-time.time-2 {
            background-position: 0 -168px; }
          #courses-detail-time .container .box-time .row .cell-time .img-course-time.time-3 {
            background-position: 0 -336px; }
          #courses-detail-time .container .box-time .row .cell-time .img-course-time.time-4 {
            background-position: 0 -504px; }
          #courses-detail-time .container .box-time .row .cell-time .img-course-time.time-5 {
            background-position: 0 -672px; }
        #courses-detail-time .container .box-time .row .cell-time .text-courses {
          margin: 20px auto;
          width: 160px; }
          #courses-detail-time .container .box-time .row .cell-time .text-courses span {
            color: #003792;
            font-weight: bold; }

#courses-detail-courses h3 {
  text-transform: uppercase;
  color: #003792;
  margin: 10px auto;
  font-weight: bold;
  text-align: center; }
#courses-detail-courses #courses-detail-slide .carousel-inner {
  background-color: #f5f5f5; }
  #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-indicators {
    left: 0;
    margin: 0;
    width: calc(100% / 3); }
    #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-indicators li {
      background-color: rgba(255, 255, 255, 0.5); }
      #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-indicators li.active {
        background-color: white; }
  #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item {
    height: 100%; }
    #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .title {
      background-color: #003792;
      color: white;
      font-weight: bold;
      padding: 100px 30px;
      text-align: center;
      height: 100%; }
      #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .title h1 {
        font-weight: bold; }
    #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .detail {
      padding-top: 20px;
      padding-right: 30px;
      padding-left: 30px; }
      #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .detail .row p {
        margin: 0; }
      #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .detail .row div p:first-child {
        color: #003792; }

#courses-detail-author {
  padding-top: 20px;
  padding-bottom: 20px; }
  #courses-detail-author .fa-angle-down {
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 20px; }
  #courses-detail-author h3 {
    text-transform: uppercase;
    color: #003792;
    margin: 10px auto;
    font-weight: bold;
    text-align: center; }
  #courses-detail-author img {
    border-radius: 25px;
    width: 300px;
    margin: 0 auto; }
  #courses-detail-author .sm-gv1, #courses-detail-author .sm-gv2 {
    padding-top: 5px;
    display: block; }
    #courses-detail-author .sm-gv1 p, #courses-detail-author .sm-gv2 p {
      font-weight: 100;
      font-size: 16px;
      margin: 10px auto 3px; }
    #courses-detail-author .sm-gv1 b, #courses-detail-author .sm-gv2 b {
      font-size: 18px; }
    #courses-detail-author .sm-gv1 ul, #courses-detail-author .sm-gv2 ul {
      margin-top: 20px;
      margin-bottom: 50px;
      list-style-type: disc;
      text-align: left;
      padding-left: 25px; }
      #courses-detail-author .sm-gv1 ul li, #courses-detail-author .sm-gv2 ul li {
        font-size: 24px; }
        #courses-detail-author .sm-gv1 ul li p, #courses-detail-author .sm-gv2 ul li p {
          font-size: 16px;
          font-weight: normal; }
  #courses-detail-author .gv1, #courses-detail-author .gv2, #courses-detail-author .md-gv {
    display: none; }
  @media (min-width: 992px) {
    #courses-detail-author {
      padding-top: 20px;
      padding-bottom: 20px; }
      #courses-detail-author .fa-angle-down {
        font-size: 60px;
        bottom: 0px;
        left: 49%; }
      #courses-detail-author .sm-gv1, #courses-detail-author .sm-gv2 {
        display: none; }
      #courses-detail-author .left, #courses-detail-author .right {
        padding-left: 0px;
        padding-right: 0px; }
        #courses-detail-author .left .md-gv, #courses-detail-author .right .md-gv {
          display: block; }
      #courses-detail-author .left img {
        cursor: pointer;
        margin-left: 45px;
        padding-top: 20px;
        border-radius: 0;
        width: 430px;
        height: 430px; }
      #courses-detail-author .right img {
        cursor: pointer;
        margin-left: 5px;
        padding-top: 20px;
        border-radius: 0;
        width: 430px;
        height: 430px; }
      #courses-detail-author .gv1 {
        display: none;
        background-color: rgba(30, 87, 131, 0.8);
        text-align: left;
        color: #fff;
        position: absolute;
        width: 430px;
        margin-left: 475px;
        margin-top: 20px;
        height: 410px;
        padding-top: 20px;
        padding-bottom: 25px; }
        #courses-detail-author .gv1 p {
          font-size: 16px;
          font-weight: 100;
          margin: 10px 10px 0; }
        #courses-detail-author .gv1 b {
          font-size: 22px;
          margin-left: 10px; }
        #courses-detail-author .gv1 ul {
          margin-top: 40px;
          list-style-type: disc;
          font-size: 16px;
          margin-bottom: 45px;
          padding-left: 1em; }
          #courses-detail-author .gv1 ul li {
            margin-bottom: 10px; }
            #courses-detail-author .gv1 ul li p {
              font-size: 16px !important;
              line-height: 1.8; }
      #courses-detail-author .gv1::after {
        right: 100%;
        top: 40%;
        border-style: solid;
        border-width: 15px 40px 15px 0;
        border-color: transparent rgba(30, 87, 131, 0.8) transparent transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute; }
      #courses-detail-author .gv2 {
        display: none;
        background-color: rgba(30, 87, 131, 0.8);
        text-align: left;
        color: #fff;
        position: absolute;
        width: 430px;
        margin-left: 45px;
        margin-top: 20px;
        height: 410px;
        padding-top: 20px;
        padding-bottom: 20px; }
        #courses-detail-author .gv2 p {
          font-size: 16px;
          font-weight: 100;
          margin: 10px 10px 0; }
        #courses-detail-author .gv2 b {
          font-size: 22px;
          margin-left: 10px; }
        #courses-detail-author .gv2 ul {
          margin-top: 30px;
          list-style-type: disc;
          margin-bottom: 23px;
          padding-left: 1em; }
          #courses-detail-author .gv2 ul li {
            margin-bottom: 10px; }
            #courses-detail-author .gv2 ul li p {
              font-size: 16px !important;
              line-height: 1.6; }
      #courses-detail-author .gv2::after {
        left: 100%;
        top: 45%;
        border-style: solid;
        border-width: 15px 0px 15px 40px;
        border-color: transparent transparent transparent rgba(30, 87, 131, 0.8);
        content: " ";
        height: 0;
        width: 0;
        position: absolute; } }
  @media (min-width: 1200px) {
    #courses-detail-author {
      padding-top: 0px;
      padding-bottom: 0px; }
      #courses-detail-author h3 {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center; }
      #courses-detail-author .fa-angle-down {
        bottom: 10px; }
      #courses-detail-author .row {
        margin: 0 auto;
        padding-bottom: 40px; }
        #courses-detail-author .row .left img {
          margin-left: 105px;
          margin-top: 0px;
          width: 450px;
          height: 450px; }
        #courses-detail-author .row .right img {
          margin-left: 0;
          margin-top: 0px;
          padding-top: 20px;
          width: 450px;
          height: 450px; }
        #courses-detail-author .row .gv1 {
          width: 450px;
          margin-left: 555px;
          margin-top: 20px;
          padding-top: 22px;
          padding-bottom: 20px;
          height: 430px; }
          #courses-detail-author .row .gv1 p {
            font-size: 18px; }
          #courses-detail-author .row .gv1 b {
            font-size: 24px;
            margin: 10px; }
          #courses-detail-author .row .gv1 ul {
            margin-top: 30px;
            list-style-type: disc;
            margin-bottom: 45px; }
            #courses-detail-author .row .gv1 ul li {
              margin-bottom: 10px; }
              #courses-detail-author .row .gv1 ul li p {
                font-size: 18px !important;
                line-height: 1.8; }
        #courses-detail-author .row .gv2 {
          width: 450px;
          margin-left: 105px;
          margin-top: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
          height: 430px; }
          #courses-detail-author .row .gv2 p {
            font-size: 18px; }
          #courses-detail-author .row .gv2 b {
            font-size: 24px;
            margin: 10px; }
          #courses-detail-author .row .gv2 ul {
            margin-top: 20px;
            list-style-type: disc;
            margin-bottom: 30px; }
            #courses-detail-author .row .gv2 ul li {
              margin-bottom: 10px; }
              #courses-detail-author .row .gv2 ul li p {
                font-size: 18px !important;
                line-height: 1.3;
                text-align: justify;
                padding-left: 0px;
                margin-left: 0px; } }
  @media (min-width: 1367px) {
    #courses-detail-author {
      padding-top: 0px;
      padding-bottom: 0;
      margin-top: 0px; }
      #courses-detail-author h3 {
        margin-top: -50px;
        margin-bottom: 50px; }
      #courses-detail-author .fa-angle-down {
        bottom: 40px; }
      #courses-detail-author .row .left img {
        margin-left: 5px;
        margin-top: 0px;
        width: 550px;
        height: 550px; }
      #courses-detail-author .row .right img {
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 20px;
        width: 550px;
        height: 550px; }
      #courses-detail-author .row .gv1 {
        width: 550px;
        margin-left: 555px;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 80px;
        height: 530px; }
        #courses-detail-author .row .gv1 p {
          font-size: 20px; }
        #courses-detail-author .row .gv1 b {
          font-size: 30px;
          margin: 10px 15px; }
        #courses-detail-author .row .gv1 ul {
          list-style-type: disc;
          margin-bottom: 35px;
          padding: 0 10px 0 50px; }
          #courses-detail-author .row .gv1 ul li p {
            font-size: 20px !important;
            line-height: 1.8; }
      #courses-detail-author .row .gv2 {
        width: 550px;
        margin-left: 5px;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        height: 530px; }
        #courses-detail-author .row .gv2 p {
          font-size: 20px; }
        #courses-detail-author .row .gv2 b {
          font-size: 30px; }
        #courses-detail-author .row .gv2 ul {
          list-style-type: disc;
          margin-bottom: 22px;
          padding: 0px 10px 0px 50px; }
          #courses-detail-author .row .gv2 ul li p {
            font-size: 20px !important;
            line-height: 1.8; } }

#object .content-object h2 {
  font-weight: bold;
  text-align: center;
  color: #003792; }
#object .content-object ul {
  padding: 30px; }
  #object .content-object ul > li {
    color: #003792;
    padding: 10px 30px; }
    #object .content-object ul > li span {
      color: black; }
#object .content-object .btn-register {
  padding: 15px 30px;
  background-color: transparent;
  color: #003792;
  font-size: 22px;
  font-weight: 100;
  border: 3px solid #003792; }
  #object .content-object .btn-register:focus {
    box-shadow: none; }
#object .image-object {
  position: relative; }
  #object .image-object .box-img {
    position: relative;
    height: 100%; }
    #object .image-object .box-img .img-1, #object .image-object .box-img .img-2 {
      position: absolute;
      width: calc(200% / 3);
      height: calc(200% / 3);
      object-fit: cover; }
    #object .image-object .box-img .img-1 {
      top: 0;
      left: 0; }
    #object .image-object .box-img .img-2 {
      bottom: 0;
      right: 0;
      height: 50%; }

#service {
  background-image: url(../img/bg-join.png);
  background-size: cover;
  background-repeat: no-repeat; }
  #service .img img {
    max-width: 100%;
  }

    #service .box-service h2, #service .box-service h4 {
      color: #003792;
      font-weight: bold;
      margin-bottom: 15px; }
    #service .box-service h2 {
      line-height: 1.3em;
      text-align: center;
      margin-top: 50px; }
    #service .box-service h4 {     
      margin-bottom: 30px; 
      text-align: center;}
    #service .box-service ul { 
      margin-bottom: 50px;
      margin-top: 50px;
      font-size: 18px; 
      list-style: none;}
      #service .box-service ul > li {
        padding: 15px 30px 15px 0px;
        color: #003792; }
        #service .box-service ul > li img {
          margin-right: 15px;
        }
        #service .box-service ul > li span {
          color: black; }

#license {
  background-image: url(../img/bg-license.png);
  background-size: cover;
  background-repeat: no-repeat; }
  #license .image-license {
    position: relative; }
    #license .image-license img {
      position: relative;
      width: 100%;
      top: 40%; }
  #license .content-license {
    color: white; }
    #license .content-license h2 {
      font-weight: 800; }
    #license .content-license h3 {
      font-weight: 100; }
    #license .content-license ul {
      list-style: none;
      font-size: 22px; }
      #license .content-license ul > li {
        position: relative;
        padding: 15px 50px; }
        #license .content-license ul > li:before {
          position: absolute;
          top: 24px;
          left: 0;
          font-size: 18px; }
    #license .content-license .line-license {
      border-bottom: 5px solid white;
      width: 100px;
      margin: 25px 0; }
  #license .icon-angle-down {
    color: white; }

#welcome {
  text-align: center;
  background-color: #f6f6f6; }
  #welcome h2, #welcome h4, #welcome h5 {
    color: #003792; }
  #welcome h2 {
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 20px; }
  #welcome h5 {
    margin-bottom: 40px; }
  #welcome h4 {
    color: black;
    font-size: 22px;
    line-height: 35px; }
    #welcome h4 span {
      color: #003792; }
  #welcome .image-welcome {
    width: 100%;
    padding: 100px;
    margin-bottom: 40px; }
    #welcome .image-welcome img {
      width: 100%; }

#register .form-register {
  border: 3px solid #003792;
  padding: 40px 20px;
  margin-bottom: 40px; }
  #register .form-register .title-register {
    color: #003792;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 60px; }
  #register .form-register .btn-register {
    background-color: #d21c00;
    width: 30%;
    font-weight: bold;
    margin-bottom: 20px; }
#register .note {
  padding: 0 50px; }
  #register .note a {
    font-weight: 100; }

#footer {
  font-family: "OpenSans";
  background-color: #003792;
  padding: 40px 0;
  color: white;
  font-size: 14px; }
  #footer .img-footer {
    padding: 30px 70px; }
    #footer .img-footer img {
      width: 100%; }
  #footer .address-footer .page-license {
    margin-top: 40px; }

.button-main {
  display: inline-block;
  width: 100%; }
  @media (max-width: 768px) {
    .button-main {
      padding: 0px !important; } }
  .button-main li {
    float: left;
    margin-right: 15px;
    width: 45%;
    padding: 0px !important;
    list-style: none; }
    @media (max-width: 1199px) {
      .button-main li {
        width: 100%;
        margin-bottom: 15px; } }
    .button-main li img {
      margin-right: 15px;
      position: relative;
      top: -3px; }
    .button-main li button {
      font-size: 18px !important; }
      .button-main li button:focus {
        outline: none !important; }
    .button-main li:first-child button {
      padding: 15px 30px;
      background-color: transparent;
      color: #003792;
      font-size: 22px;
      font-weight: 100;
      border: 3px solid #003792;
      width: 100%; }
      .button-main li:first-child button:hover img {
        position: relative;
        right: 5px; }
    .button-main li:last-child button {
      padding: 15px 30px;
      background-color: #003792 !important;
      color: white !important;
      font-weight: 100;
      border: 3px solid #003792;
      width: 100%; }
      .button-main li:last-child button:hover {
        background: #02307b;
        border: 3px solid #02307b; }

.button-about {
  display: inline-block;
  width: 100%; }
  .button-about li {
    float: left;
    margin-left: 27.5%;
    width: 45%;
    padding: 0px !important;
    list-style: none; }
    @media (max-width: 1199px) {
      .button-about li {
        width: 100%;
        margin-bottom: 15px; } }
		
  @media (max-width: 768px) {
    .button-about {
      padding: 0px !important; }
	.button-about li {
		margin-left: 0% !important;
	}	}
    .button-about li img {
      margin-right: 15px;
      position: relative;
      top: -3px; }
    .button-about li button {
      font-size: 18px !important; }
      .button-about li button:focus {
        outline: none !important; }
    .button-about li:first-child button {
      padding: 15px;
      background-color: transparent;
      color: #003792;
      font-size: 22px;
      font-weight: 100;
      border: 3px solid #003792;
      width: 100%; }
      .button-about li:first-child button:hover img {
        position: relative;
        right: 5px; }
		

@media (max-width: 1199px) {
  #courses .container .mana-vi {
    font-size: 32px; }
    #courses .container .mana-vi:before {
      width: 200px;
      left: 100px; }
    #courses .container .mana-vi:after {
      width: 200px;
      right: 100px; }
  #courses .container .mana-en {
    font-size: 50px; }
    #courses .container .mana-en:before {
      height: 80px;
      left: 100px; }
    #courses .container .mana-en:after {
      height: 80px;
      right: 100px; }

  #courses-detail-author .author .screen {
    padding-top: 20px; } }
@media (max-width: 991px) {
  #courses .container .mana-vi {
    font-size: 32px; }
    #courses .container .mana-vi:before {
      width: 200px;
      left: 0; }
    #courses .container .mana-vi:after {
      width: 200px;
      right: 0; }
  #courses .container .mana-en {
    font-size: 50px; }
    #courses .container .mana-en:before {
      height: 80px;
      left: 0; }
    #courses .container .mana-en:after {
      height: 80px;
      right: 0; }

  #courses-detail-time .container {
    padding: 0; }

  #courses-detail-author .author .screen.right {
    left: auto; }
    #courses-detail-author .author .screen.right:before {
      content: none; }

  #courses-detail-author .author img.nomain-right {
    right: auto; }

  #courses-detail-author .author .screen.left {
    right: auto; }
    #courses-detail-author .author .screen.left:before {
      content: none; }

  #courses-detail-author .author img.nomain-left {
    left: auto; }

  #courses-detail-author .author {
    margin-top: 20px; }

  #courses-detail-author .author .screen {
    visibility: visible;
    opacity: 1;
    position: relative;
    padding: 30px;
    background-color: transparent;
    color: black; }

  #courses-detail-author .author img.main:hover + img.nomain-right,
  #courses-detail-author .author img.main:hover + img.nomain-left {
    display: none; }

  #courses-detail-author .author .screen .exp li {
    padding: 5px 30px; }
    #courses-detail-author .author .screen .exp li:before {
      top: 10px; }

  #courses-detail-author .author img {
    width: 50%;
    margin-left: 25%;
    border-radius: 10px; }

  #object .image-object {
    display: none; }

  #footer .img-footer {
    padding: 30px; } }
@media (max-width: 767px) {
  #banner .box-banner {
    padding: 15px;
    top: 0px !important;
background: url('../img/bg-banner.png');
  position: relative ;
     }
     #pmp .image-license img{
      max-width: 100%;
     }
     #courses-detail-courses .wrap-list .list {
      margin-bottom: 15px !important;
     }
    #service .img,
    #pmp img.bottom {
      display: none !important;
    }
    #banner .box-banner .tit-2 {
      margin-top: 0; }
    #banner .box-banner .tit-2 {
      font-size: 34px; }
    #banner .box-banner .tit-3 {
      font-size: 20px; }
      #banner .box-banner p {
        padding: 0px;
      }
      #welcome  {
        padding: 25px 0px;
        margin: 25px 0px;
      }
      #courses-detail-time .container .box-time .row .cell-time {
        width: 45%;
      }
      #courses-detail-time .container h3 {
        padding-top: 25px;
      }
    #banner .box-banner .icon-angle-down {
      position: relative;
      bottom: -80px; }
  #banner img {
    height: 615px; }
    #header {
      background: black;
      position: relative;
      padding: 5px 0px;
    }
  #banner .box-banner .form-register {
    display: none; }

  #about {
    padding: 40px 0; }
    #about h3 {
      text-align: center; }

  #courses .container .mana-vi:before, #courses .container .mana-vi:after, #courses .container .mana-en:before, #courses .container .mana-en:after {
    content: none; }
  #courses .container .box-mana {
    margin-top: 50px; }

  #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .title {
    padding: 50px 30px; }
  #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-indicators {
    bottom: auto;
    top: 20px;
    width: 100%; }

  #footer .img-footer {
    padding: 30px 35%; }

  #service, #license {
    padding: 60px 0 0; }

  #courses {
    padding: 60px 0; }

  #license .image-license {
    margin-bottom: 30px; }

  #welcome .image-welcome {
    padding: 30px 100px 0; }

  #register {
    padding-top: 0px; }
    #banner img {
      display: none;
    }

     }
     @media (min-width: 544px) and (max-width: 768px) {
      #courses-detail-courses .wrap-list .list {
        margin-bottom: 105px !important;
      }
     }
@media (max-width: 544px) {
  #footer .img-footer {
    padding: 30px 0; }
    #footer .img-footer img {
      width: 150px;
      margin-left: calc((100% - 150px) / 2); }

  #courses-detail-time .container .box-time .row .cell-time {
    width: 40%; }

  #courses-detail-author .author img {
    width: 100%;
    margin-left: 0;
    border-radius: 5px; }

  #about .courses-detail .courses-detail-list, #service .box-service ul, #object .content-object ul {
    padding-left: 0px; }
    #about .courses-detail .courses-detail-list > li, #service .box-service ul > li, #object .content-object ul > li {
      padding: 15px 0; }

  #register .form-register .btn-register {
    width: 100%; } }
@media (max-width: 450px) {
  #courses-detail-time .container .box-time .row .cell-time {
    width: 60%; }

  #object .content-object .btn-register {
    padding: 15px 5px; } }
@media (max-width: 1365px) {
  #banner .box-banner {
    top: 150px; }

  #courses-detail-courses #courses-detail-slide .carousel-inner .carousel-item .detail .row p {
    font-size: 15px; }

  #welcome .image-welcome {
    padding: 50px 250px 0; }

  #courses-detail-courses .fp-tableCell {
    display: block;
    padding-top: 30px; } }
#video-intro .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
#video-intro iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#video-intro .modal-body {
  text-align: center; }
#video-intro .modal-body .btn-close {
  margin-top: 15px;
  background-color: #131F33;
  font-weight: bold;
  color: white; }
#video-intro .modal-body .btn-close:hover {
  background-color: #0C0C0C; }
#video-intro .modal-body .btn-close:focus {
  outline: none; }

/*# sourceMappingURL=style.css.map */

/********* UPDATE ***********/
.box-banner .title {
background-color: rgba(10,6,67,0.4);
padding: 35px 0px;
margin-bottom: 25px;
}
.box-banner .tit-4 {
  margin-bottom: 40px;
}
.box-banner p span {
  font-weight: bold;
}
.box-banner p.text-bottom {
  margin-top: 15px;
    font-style: italic;

}

#pmp h2 {
      line-height: 1.3em;
    text-align: center;
    margin-top: 30px;
    color: #003792;
    font-weight: bold;
    margin-bottom: 55px;
}
#pmp .fp-tableCell .text ul li {
  margin-bottom: 30px;
font-size: 18px;
line-height: 35px;
}
#pmp img.bottom {
  margin: 0px auto 15px;
      display: inherit;
}

#courses-detail-courses h2 {
  text-align: center;
color: #003792;
    font-weight: bold;
    margin-bottom: 45px;
}
#courses-detail-courses .wrap-list {
  display: inline-block;
width: 100%;
padding: 0px;
list-style: none;
}
#courses-detail-courses .wrap-list .list h4 {
  font-size: 50px;
font-weight: bold;
text-align: right;
color: #545454;
}
#courses-detail-courses .wrap-list .list h4 span {
  width: 40%;
height: 7px;
background: #545454;
display: inline-block;
margin-right: 15px;
}
#courses-detail-courses .wrap-list .list .box {
  background: #f5f5f5;
padding: 15px 25px;
margin-top: 35px;
height: 100%;
box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
}
#courses-detail-courses .wrap-list .list .box .content h3 {
  font-size: 16px;
line-height: 25px;
margin-bottom: 35px;
}
#courses-detail-courses .wrap-list .list .box .content ul {
  list-style: none;
}
#courses-detail-courses .wrap-list .list .box .content ul li {
  margin-bottom: 10px;
}
#courses-detail-courses .wrap-list .list:hover h4{
  color: #003792
}
#courses-detail-courses .wrap-list .list:hover .box {
  background: #003792;
color: white;
}
#courses-detail-courses .wrap-list .list:hover .box h3 {
  color: white;
}
#courses-detail-courses .wrap-list .list{
  margin-bottom: 105px;
  display: inline-block;

}

#courses-detail-courses {
  background: url('../img/courses-bg.jpg') no-repeat center center;
  background-size: cover;
}