@import "../../../bower_components/bootstrap/scss/mixins";

@mixin font-size($font-size) {
    $px-value: $font-size;
    $rem-value: $font-size / $font-size-root;
    font-size: $px-value;
    font-size: $rem-value * 1rem;

    $line-height-px: ceil($font-size / ($line-height-base * $line-height-min)) * $line-height-base;
    line-height: $line-height-px / $font-size;
}

@mixin paragraph-margin() {
    margin-bottom: $line-height-base;
    margin-bottom: 1rem;
}

@mixin default-shadow() {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

@mixin link-color($color) {
    color: $color;
    &:hover,
    &:active {
        color: darken($color, 10%);
    }
}

@mixin button-transition() {
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
}

@mixin button-color($color) {
    background: $color;
    color: white;
    border-bottom: 2px solid darken($color, 5%);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 35px;
    display: inline-block;
    @include border-radius(3px);
    @include button-transition();
    &:hover,
    &:active {
        background: darken($color, 5%);
        border-bottom: 2px solid darken($color, 8%);
    }
    &:focus {
        outline: none;
    }
}

@mixin button-color-border($color) {
    background: $color;
    border-right: 1px solid darken($color, 13%);
    border-left: 1px solid darken($color, 13%);
    border-top: 1px solid darken($color, 13%);
    border-bottom: 2px solid darken($color, 10%);
    @include button-transition();
    &:hover,
    &:active {
        background: darken($color, 5%);
        border-bottom: 2px solid darken($color, 16%);
    }
}

@mixin link-color($color) {
    color: $color;
    &:hover,
    &:active {
        color: #50ad4e;
    }
}

@mixin icon-main() {
    background-image: url('../../src/img/icon-kyna.png');
    background-repeat: no-repeat;
}

@mixin fontastic-icon() {
    font-family: "fontastic-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}

@mixin border-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-bottom-right-radius: $radius;
   border-bottom-right-radius: $radius;
   background-clip: padding-box;
}

@mixin count-number() {
    color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 10px;
    position: relative;
    background: #FF7816;
    line-height: 20px;
}

@mixin width-popup-account() {
    .form-group {
        .icon {
            position: absolute;
            font-size: 20px;
            height: 40px;
            width: 50px;
            text-align: center;
            color: darken($gray-light, 10%);
        }
        input {
            @include border-radius(3px);
            height: 40px;
            color: darken($gray-dark, 10%);
            border: 1px solid $gray-light;
            padding: 5px 15px 5px 45px;
        }
    }
}

@mixin icon-footer-social() {
    background: darken($gray-light, 5%);
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px;
    display: inline-block;
    line-height: 60px;
}

@mixin display-flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
