/*
Author: Dat Nguyen <dat.nguyen@kyna.vn>
*/

/* KYNA */
// color pallet
$colors: (
    green:            #50ad4e,
    orange:           #fb6a00,
    yellow:           #F8E81C,
    grey:             #737373,
    grey-darker:      #272727,
    grey-dark:        #353535,
    grey-light:       #a0a0a0,
    grey-lighter:     #F5F5F5,
);

// brand color
$color-brands: (
    kyna: map-get($colors, green),
    facebook: #3b5998,
    google: #dd4b39,
    youtube: #e62c29,
);

// base color
$color-link:        map-get($colors, green);
$color-star:        map-get($colors, yellow);
$color-price:       map-get($colors, orange);
$color-body:        map-get($colors, grey-darker);

/* FONT */

$font-families: (
    sans-serif:    "'Roboto', 'Arial', sans-serif",
    icon:         "'fontastic-icon'",
    serif:        "'Times New Roman', 'Georgia', serif",
    monospace:    "'Consolas', 'Lucida Console', 'Courier New', monospace"
);

$font-size-root:           14px;
$line-height-base:         24px;
$line-height-min:          1;

// body
$font-body-family:         #{map-get($font-families, sans-serif)};
$font-body-weight:         500;
$font-body-size:           $font-size-root;

// heading
$font-heading-family: #{map-get($font-families, sans-serif)};
$font-heading-weight: 300;
$font-heading-sizes: (
    h1: 30px,
    h2: 24px,
    h3: 18px,
    h4: 16px,
    h5: 14px,
    h6: 12px
);

/* BOOTSTRAP OVERRIDE */

$gray-dark:                 map-get($colors, grey-dark);
$gray:                      map-get($colors, grey);
$gray-light:                map-get($colors, grey-light);
$gray-lighter:              map-get($colors, grey-lighter);

$brand-primary:             map-get($color-brands, kyna);
$brand-success:             map-get($colors, grey-green);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:          30px; // 30px

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     #{map-get($font-families, sans-serif)};
$font-family-serif:          #{map-get($font-families, serif)};
$font-family-monospace:      #{map-get($font-families, monospace)};

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-h1:               map-get($font-heading-sizes, h1);
$font-size-h2:               map-get($font-heading-sizes, h2);
$font-size-h3:               map-get($font-heading-sizes, h3);
$font-size-h4:               map-get($font-heading-sizes, h4);
$font-size-h5:               map-get($font-heading-sizes, h5);
$font-size-h6:               map-get($font-heading-sizes, h6);

$line-height:                $line-height-base / $font-size-root;

$headings-font-family:       $font-heading-family;
$headings-font-weight:       500;

$border-radius:          3px;
$border-radius-lg:       5px;
$border-radius-sm:       1px;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-bg-accent:               $gray-lighter;
$table-bg-hover:                $gray-lighter;

// Forms
$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;

$input-color:                    $gray-dark;
$input-border-color:             $gray-light;
$input-box-shadow:               no-shadow();

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-border-focus:             map-get($colors, grey);
$input-box-shadow-focus:         transparent;

$input-color-placeholder:        $gray;

$input-group-addon-bg:           #fff;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg:                    #fff;
$dropdown-border-width:          0;

// Navbar
$navbar-border-radius:              0;
$navbar-padding-horizontal:         20px;
$navbar-padding-vertical:           20px;

$navbar-light-color:                $gray-dark;
$navbar-light-hover-color:          darken($gray-dark, 10%);
$navbar-light-active-color:         darken($gray-dark, 10%);
$navbar-light-disabled-color:       lighten($gray-dark, 10%);


// Navs

$nav-link-padding:                          8px 10px;
//$nav-link-hover-bg:                         $gray-lighter !default;

/*$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-border-width:                $border-width !default;
$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

$nav-pills-border-radius:                   $border-radius !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;
*/


// Pagination
/*
$pagination-padding-x:                .75rem !default;
$pagination-padding-y:                .5rem !default;
$pagination-padding-x-sm:             .75rem !default;
$pagination-padding-y-sm:             .275rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;


$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;
*/

// Pager
/*
$pager-bg:                             $pagination-bg !default;
$pager-border-width:                   $border-width !default;
$pager-border-color:                   $pagination-border-color !default;
$pager-border-radius:                  15px !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;

*/

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

/*
$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken($state-success-bg, 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken($state-info-bg, 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken($state-warning-bg, 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken($state-danger-bg, 5%) !default;
*/


// Cards
$card-spacer-x:            20px;
$card-spacer-y:            20px;
$card-border-width:        0;
$card-border-radius:       0;

// Tooltips
/*
$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers

$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                rgba(0,0,0,.2) !default;

$popover-title-bg:                    darken($popover-bg, 3%) !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, 0.05) !default;


// Labels

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 #fff !default;
$label-link-hover-color:      #fff !default;
$label-font-weight:           bold !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:         15px !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height !default;

$modal-content-bg:                             #fff !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;

$modal-backdrop-bg:           #000 !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius !default;
$alert-link-font-weight:      bold !default;
$alert-border-width:          $border-width !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


// Progress bars

$progress-bg:                 #f5f5f5 !default;
$progress-bar-color:          #fff !default;
$progress-border-radius:      $border-radius !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;
$progress-bar-info-bg:        $brand-info !default;


// List group

$list-group-bg:                 #fff !default;
$list-group-border-color:       #ddd !default;
$list-group-border-width:       $border-width !default;
$list-group-border-radius:      $border-radius !default;

$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       $component-active-color !default;
$list-group-active-bg:          $component-active-bg !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $gray-lighter !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;


// Image thumbnails

$thumbnail-padding:           .25rem !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border-width:      $border-width !default;
$thumbnail-border-color:      #ddd !default;
$thumbnail-border-radius:     $border-radius !default;


// Breadcrumbs

$breadcrumb-padding-vertical:   .75rem !default;
$breadcrumb-padding-horizontal: 1rem !default;

$breadcrumb-bg:                 $gray-lighter !default;
$breadcrumb-divider-color:      $gray-light !default;
$breadcrumb-active-color:       $gray-light !default;
$breadcrumb-divider:            "/" !default;


// Carousel

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;


// Close

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


// Code

$code-color:                  #bd4147 !default;
$code-bg:                     #f7f7f9 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f7f7f9 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;
*/
