.select2-selection__rendered {
    margin-top: 0px!important;
}
div.required label.control-label:after {
    content: " (*)";
    color: red;
}
.navbar .navbar-btn {
    margin-left: 10px;
}
.promotion-schedule-index .navbar .navbar-text {
    margin-left: 0px;
}
.navbar .navbar-btn-right {
    margin-right: 15px;
}
.sidebar-menu .treeview .fa-angle-left {
    position: absolute;
    right: 5px;
}
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 40px;
  }
.loading {
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff url("/img/loading.svg") no-repeat center;
    z-index: 1031;
    position: fixed;
    opacity: 0.7;
}