.dd {

}
.dd .dd-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: block;
}
.dd > .dd-list > li > .dd-label {
    text-transform: uppercase;
}
.dd .dd-list .dd-list {
    -webkit-column-count: 3;
    column-count: 3;
    margin-bottom: 10px;
}
.dd .dd-list .dd-list .dd-label > label {
    width: 120px;
    display: inline-block;
}
.dd .dd-item {
    margin: 0;
    display: block;
    margin-bottom: 1px;
}
.dd .dd-item .dd-label {
    padding: 0;
    margin-bottom: 7px;
    display: inline-block;
}
.dd .dd-item span {
    margin-right: 20px;
}
.dd .dd-item a {
    display: none;
    color: #333;
    margin-right: 10px;
}
.dd .dd-item a:hover {
    color: orange;
}
.dd .dd-item > button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}
