.dd {
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
}
.dd .dd-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: block;
}
.dd .dd-list .dd-list {
    margin-left: 2em;
    padding: 0;
    list-style-type: none;
    display: block;
}
.dd .dd-item {
    position: relative;
    display: block;
    margin-bottom: 1px;
}
.dd .dd-item .dd-handle {
    color: #999;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    cursor: move;
    text-align: center;
}
.dd .dd-item .dd-label {
    background: #fff;
    display: block;
    color: #333;
    border: 1px solid #ddd;
    padding: 7px 7px 7px 2.5em;
    margin-bottom: 1px;
    line-height: 2em;
}
.dd .dd-item span {
    margin-right: 20px;
}
.dd .dd-item a {
    display: none;
    color: #333;
    margin-right: 10px;
}
.dd .dd-item a:hover {
    color: orange;
}
.dd .dd-item .dd-label:hover a {
    display: inline-block;
}
.dd .dd-placeholder {
    display: block;
    border: dashed 1px #ccc;
    margin-bottom: 1px;
}
.dd .dd-dragel { position: relative; pointer-events: none; z-index: 999999; }
.dd .dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd .dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.dd .dd-item > button {
    display: inline-block;
    background: transparent;
    border: none;
    float: left;
    font-size: 1em;
    margin: 8px 7px 7px 30px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    text-align: center;
    padding: 0;
}
