#page-about {
    section {
        h2 {
            margin: 50px 0px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 36px;
            text-align: center;
            line-height: 50px;
            display: inline-block;
            width: 100%;
        }
    }
    h2 {
        &.logo {
            margin: 12px 0px;
            img {
                margin: 0px auto;
                max-height: 55px;
            }
            a {
                display: inline-block;
            }
        }
    }
    .menu {
        ul {
            padding: 0px;
            margin-top: 15px;
            li {
                float: right;
                margin-left: 25px;
                font-size: 16px;
                a {
                    color: $color-body;
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: 2px solid map-get($color-brands, kyna);
                        padding-bottom: 10px;
                        background: none;
                    }
                    &:focus {
                        background: none;
                    }
                }
            }
        }
    }
    .parallax-layer {
        img {
            width: 100%;
        }
    }
    #banner {
        background: url('../src/img/about/about-banner.jpg') no-repeat center center;
        background-attachment: fixed;
        top: 0px;
        height: 100%;
        background-size: cover;
        overflow: hidden;
        position: relative;
        span {
            width: 100%;
            height: 100%;
            display: inline-block;
            text-align: center;
            i {
                color: white;
                font-size: 38px;
                text-shadow: 1px 1px 3px #000;
                position: absolute;
                bottom: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        p {
            height: 100%;
            text-align: center;
            font-size: 36px;
            line-height: 50px;
            color: white;
            text-shadow: 2px 2px 3px #000;
            margin-top: 200px;
        }
    }
    .page-about-header {
        header {
            position: absolute;
            width: 100%;
            z-index: 1;
            background: white;
        }
    }
    #section-1 {
        text-align: center;
        p {
            &.text {
                width: 570px;
                display: inline-block;
            }
        }
        ul {
            margin-top: 50px;
            margin-bottom: 50px;
            li {
                margin-bottom: 15px;
                i {
                    font-size: 50px;
                    color: map-get($color-brands, kyna);
                    margin-bottom: 15px;
                }
            }
        }
    }
    #section-2 {
        background: #50ad4e;
        color: white;
        text-align: center;
        ul {
            margin-top: 30px;
            margin-bottom: 30px;
            li {
                span {
                    font-weight: bold;
                    font-size: 28px;
                    margin-bottom: 15px;
                    display: inline-block;
                }
            }
        }
    }
    #section-3 {
        img {
            margin: 0px auto;
        }
    }
    #section-4 {
        text-align: center;
        h2 {
            margin: 50px 0px 20px 0px;
        }
        ul {
            &.wrap {
                width: 895px;
                display: inline-block;
                padding: 0px;
                margin: 0px 0px 50px 0px;
                &>li {
                    width: 50%;
                    float: left;
                    text-align: left;
                }
            }            
        }
        .wrap {
            li {
                ul {
                    li {
                        font-size: 16px;
                        margin: 30px 0px;
                        padding-left: 85px;
                        p {
                            height: 68px;
                            padding: 25px 0px 0px 0px;
                            margin: 0px;
                        }
                        span {
                            font-weight: bold;
                        }
                        &:nth-child(1) {
                            background: url('../src/img/about/about-icon-1.png') no-repeat top left;
                        }
                        &:nth-child(2) {
                            background: url('../src/img/about/about-icon-2.png') no-repeat top left;
                        }
                        &:nth-child(3) {
                            background: url('../src/img/about/about-icon-3.png') no-repeat top left;
                        }
                        &:nth-child(4) {
                            background: url('../src/img/about/about-icon-4.png') no-repeat top left;
                        }
                        &:nth-child(5) {
                            background: url('../src/img/about/about-icon-5.png') no-repeat top left;
                        }
                        &:nth-child(6) {
                            background: url('../src/img/about/about-icon-6.png') no-repeat top left;
                        }
                    }
                }
            }
        }
    }
    #section-5 {
        background: url('../src/img/about/about-bg-section-5.jpg') no-repeat center center;
        background-size: cover;
        padding-bottom: 50px;
        h2 {
            color: white;
        }
        ul {
            li {
                span {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
                a {
                    color: white;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-decoration: underline;
                    width: 100%; 
                }
                p {
                    text-align:center;
                    color: white;
                    font-size: 16px;
                    margin: 30px 0px;
                }
                img {
                    margin: 0px auto;
                }
            }
        }
        .owl-controls {
            &.clickable {
                i {
                    font-size: 32px;
                    position: relative;
                    top: 10px;
                }
                .owl-next {
                    i {
                        position: relative;
                        top: 9px;
                    }
                }
            }
        }
    }
    #section-6 {
        h4 {
            font-size: 24px;
            color: #50ad4e;
            font-weight: bold;
        }
        ul {
            margin-bottom: 50px;
            li {
                margin-bottom: 30px;
                p {
                    font-size: 16px;
                    span {
                        color: map-get($color-brands, kyna);
                    }
                }
            }
        }
    }
}

