.k-affiliate{
    padding-top: 140px;
    .af-box{
        margin-bottom: 50px;
        border: 1px solid $gray-light;
        .af-title{
            padding: 15px;
            background-color: #c00;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
        }
        .af-box-left{
            .af-contact{
                width: 100%;
                height: auto;
                object-fit: cover;
                padding: 15px 30px;
            }
            .af-img-text{

                padding: 15px 30px;
            }

            .af-btn{
                width: 100%;
                text-align: center;
                padding-bottom: 20px;
                a{
                    color: white;
                    font-weight: bold;
                    .btn-lite{
                        @include button-color($color-price);
                    }
                }
            }
        }
        .af-box-right{
            ul{
                > li{
                    display: inline-block;
                    width: 100%;
                    .af-group-name{
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    .af-icon-point{
                        height: 8px;
                        width: 8px;
                        background: #c00;
                        position: relative;
                        top: 10px;
                        margin-right: 8px;
                        float: left;
                    }
                    .af-info-text{
                        display: inline-block;
                        float: right;
                        width: 94%;
                        font-size: 15px;
                        margin: 5px 0;
                    }
                }
            }
        }
        .af-contact-info{
            margin-top: 40px;
            text-align: center;
        }
    }
}
@media (max-width: 767px){

}
