#k-shopping {
    padding: 50px 0 30px;

    .k-shopping-list {
        h3 {
            margin-bottom: 30px;

            span {
                color: map-get($colors, green);
            }
        }

        .k-header-shopping-list {
            margin-bottom: 20px;

            &-left {
                float: left;

                img {
                    float: left;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                &-info {
                    float: left;
                    padding-left: 15px;
                    line-height: 1.45;
                    @media (max-width: 767px) {
                        padding-left: 0;
                    }

                    &-tit {
                        font-size: 16px;
                        color: #666;
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }

                    &-des {
                        font-size: 24px;
                        @media (max-width: 767px) {
                            font-size: 20px;
                        }

                        span {
                            font-weight: bold;

                            &:first-child {
                                color: #50ad4e;
                            }
                            &:nth-child(2){
                                font-weight: normal;
                            }

                            &:last-child {
                                color: #fb6a00;
                                @media (max-width: 767px) {
                                    display: none;
                                }
                            }

                            &.mob{
                                display: none;
                            }
                            @media (max-width: 767px) {
                                &.mob{
                                    display: inline;
                                    b{
                                        color: #50ad4e;
                                    }
                                }
                                &.pc{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &-right {
                float: right;

                @media (max-width: 767px) {
                    display: none;
                }
                a.btn-payment {
                    display: inline-block;
                    background: #ff7816;
                    padding: 9px 72px;
                    border-radius: 5px;
                    border-bottom: 2px solid #ea6504;
                    color: #fff;
                    position: relative;
                    font-size: 20px;
                    font-weight: bold;

                    &:hover {
                        background: #ea6504;
                        border-bottom: 2px solid #c15e16;
                    }

                    @media (max-width: 991px) {
                        padding: 9px 30px;
                    }
                }
            }
        }

        .k-shopping-list-items {
            border: 1px solid $gray-lighter;
            margin-bottom: 0;

            .items {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                width: 100%;
                padding: 20px 15px;

                .k-shopping-list-items-title {
                    padding-left: 0;
                    width: 530px;

                    .items-img {
                        width: 230px;
                        height: 130px;
                        display: block;
                        float: left;
                        padding: 0 15px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .items-text {
                        float: left;
                        width: 300px;

                        .comboItem {
                            .media-left {
                                color: map-get($colors, grey-dark);
                            }

                            .media-body {
                                a {
                                    color: map-get($colors, grey-dark);

                                    &:hover {
                                        color: darken(map-get($colors, green), 10%);
                                    }
                                }
                            }
                        }

                        p {
                            color: $gray-light;
                        }

                        h4 {
                            line-height: 24px;

                            a {
                                @include link-color(map-get($colors, grey-dark));
                            }
                            span{
                                color: #666;
                            }
                        }

                        .items-remove {
                            @include link-color(map-get($colors, grey-dark));

                            i {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }

                    @media (max-width: 575px) {
                        .items-img{
                            width: 90px;
                            height: 60px;
                        }
                        .items-text {
                            width: calc(100% - 90px);
                            padding-left: 10px;
                        }
                    }
                }

                .k-shopping-list-items-group-price {
                    display: flex;
                    width: calc(100% - 530px);

                    & > div {
                        width: 100%;
                        text-align: right;
                        font-size: 18px;
                        padding-right: 15px;
                        line-height: 26px;

                        &.k-shopping-list-items-price-new {
                            color: #fb6a00;
                            font-weight: bold;
                            padding-right: 0;
                        }
                    }

                    &.-mob{
                        width: 100%;
                        display: none;
                        span{
                            font-size: 15px;
                            color: #999999;
                            &.orange{
                                font-weight: 700;
                                color: $primary-color-price;
                            }
                        }
                    }
                    @media (max-width: 991px) {
                        display: none;
                        &.-mob{
                            display: block;
                        }
                    }
                }
            }
        }

        .k-shopping-checkout-total-price {
            padding: 20px 15px;
            border-left: 1px solid #F5F5F5;
            border-right: 1px solid #F5F5F5;
            background-color: #fafafa;
            @media (max-width: 767px) {
                background-color: #fff;
                border-left: none;
                border-right: none;
            }

            .k-shopping-checkout-total-price-text {
                width: 530px;
                float: left;
                font-size: 20px;
                color: #fb6a00;
                font-weight: bold;
                label{
                    display: none;
                }
                @media (max-width: 991px) {
                    width: 200px;
                    span{
                        display: none;
                    }
                    label{
                        display: block;
                        font-size: 15px;
                        width: 100%;
                        font-weight: 700;
                        color: black;
                        margin-bottom: 0;
                    }
                }
                @media (max-width: 575px) {
                    width: 90px;
                }
            }

            .k-shopping-list-items-group-price {
                width: calc(100% - 530px);
                display: flex;
                float: left;

                & > div {
                    width: 100%;
                    text-align: right;
                    font-size: 18px;
                    padding-right: 15px;

                    &.k-shopping-checkout-total-price-new {
                        font-size: 24px;
                        color: #fb6a00;
                        line-height: 1;
                        font-weight: bold;
                        padding-right: 0;
                    }
                }
                @media (max-width: 991px) {
                    display: block;
                    width: calc(100% - 200px);
                    & > div {
                        font-size: 15px;
                        padding-right: 0;
                        &.k-shopping-checkout-total-price-new {
                            font-size: 18px;
                        }
                    }
                }
                @media (max-width: 575px) {
                    width: calc(100% - 90px);
                }
            }
        }

        .k-shopping-checkout-choose-another{
            a{
                width: 100%;
                background-color: #fff;
                border: 2px solid #ddd;
                padding: 8px 0;
                font-weight: 700;
                font-size: 15px;
                border-radius: 4px;
                display: block;
                text-align: center;
                color: black;
            }
            @media (min-width: 768px) {
                display: none;
            }
        }

        .k-shopping-checkout-note {
            padding: 20px 15px;
            border: 1px solid #F5F5F5;
            position: relative;

            ul {
                float: left;
                font-size: 16px;
                color: #666;
                margin-bottom: 0;

                li {
                    padding: 5px 0;
                }
            }

            img.banner {
                float: right;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }

        .k-shopping-checkout {
            form {
                margin: 15px 0;
                float: right;
                clear: both;
                text-align: right;
            }

            .k-shopping-checkout-button {
                display: inline-block;
                width: 100%;
                margin-top: 20px;

                li {
                    width: 50%;

                    &:first-child {
                        float: left;

                        a {
                            @include border-radius(3px);
                            @include button-color-border($gray-lighter);
                            color: $color-body;
                            float: left;
                            padding: 10px 20px;
                        }
                    }

                    &:last-child {
                        float: right;

                        a {
                            @include border-radius(3px);
                            @include button-color(map-get($colors, orange));
                            float: right;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }

        #k-learn-what-today {
            background-color: rgba(0, 0, 0, 0);
            padding-top: 50px;
            .title {
                font-size: 36px;
                color: #50ad4e;
                font-weight: 400;
                text-align: center;
                margin-bottom: 20px;
            }

            .row {
                padding:0 25px;
                .item {
                    padding: 10px 6px;
                    width: 20%;
                    position: relative;
                    float: left;
                    a{
                        img{
                            width: 100%;
                            border-radius: 3px;
                            opacity: 1;
                            transition: all 0.2s ease;
                        }
                        .text{
                            display: table;
                            position: absolute;
                            top: 50%;
                            text-align: center;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                            span{
                                display: table-cell;
                                vertical-align: middle;
                                width: 1000px;
                                font-weight: 700;
                                font-size: 16px;
                                color: white;
                            }
                        }
                    }
                }
            }
            @media (max-width: 991px) {
                display: none;
            }
        }

        .k-learn-related {
            margin-top: 15px;
            .title {
                font-size: 36px;
                color: #50ad4e;
                font-weight: 400;
                text-align: center;
                margin-bottom: 20px;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    .k-shopping-sidebar {
        h4 {
            background: map-get($colors, green);
            padding: 15px;
            color: aliceblue;
            margin-bottom: 0;
            @include border-top-radius(3px);
        }

        .k-shopping-sidebar-list {
            border: 1px solid $gray-lighter;
            border-top: none;
            @include border-bottom-radius(3px);
            padding: 10px 15px 10px 0;

            li {
                margin: 10px 0;
                display: inline-block;
                width: 100%;

                span {
                    height: 55px;
                    line-height: 55px;
                    @include icon-main();
                    width: 100%;
                    display: block;
                    padding-left: 95px;
                }

                &:nth-child(1) {
                    span {
                        background-position: -35px -8057px;
                    }
                }

                &:nth-child(2) {
                    span {
                        background-position: -35px -8157px;
                    }
                }

                &:nth-child(3) {
                    span {
                        background-position: -35px -8259px;
                    }
                }

                &:nth-child(4) {
                    span {
                        background-position: -35px -8351px;
                    }
                }

                &:nth-child(5) {
                    span {
                        background-position: -35px -8446px;
                    }
                }
            }
        }
    }

    .cart-empty {
        text-align: center;

        .title {
            font-size: 24px;
            color: #fb6a00;
            font-weight: bold;
        }

        .img-fluid {
            display: inline;
        }

        h4 {
            font-weight: 400;
            margin-bottom: 0;

            span {
                display: inline-block;
                margin-top: 5px;
                font-size: 20px;
                font-weight: bold;
                line-height: 28px;
            }
        }

        .button {
            a {
                @include button-color(map-get($colors, green));
                @include border-radius(3px);
                margin: 20px 0;
            }
        }

        .img {
            img {
                margin: 15px auto 30px;
            }
        }

        .text {
            ul {
                li {
                    display: inline-block;
                    float: left;
                    margin: 0 15px 15px 0;

                    a {
                        @include button-color(darken($gray-lighter, 25%));
                        @include border-radius(3px);
                    }
                }
            }
        }
        @media (max-width: 767px) {
            margin-top: 60px;

            .text {
                text-align: center;

                ul li {
                    float: none;
                }
            }
        }
    }
}

.group-btn-inpayment-mb{
    position: fixed;
    z-index: 12;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 11px 0;
    box-shadow: 0 -3px 7px #ddd;
    @media (max-width: 767px) {
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        padding: 0;
        > .container{
            padding: 0;
            margin: 0;
            max-width: none;
        }
    }
    .back-to-list-courses{
        line-height: 56px;
        color: black;
        font-size: 20px;
    }
    .btn-payment-mb{
        display: inline-block;
        background: #ff7816;
        padding: 10px 72px;
        border-bottom: 2px solid #ea6504;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-top: 8px;
        float: right;
        border-radius: 4px;
        @media (max-width: 991px) {
            padding: 10px 30px;
            margin-top: 0;
        }
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            border-radius: 0;
        }
    }
}
/*.btn-payment-mb{
    // button thanh-toan outside main
    display: inline-block;
    background: #ff7816;
    padding: 9px 0;
    border-bottom: 2px solid #ea6504;
    color: #fff;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    z-index: 12;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    &:hover{
        color: #fff;
        background-color: #ea6504;
        border-bottom: 2px solid #b75111;
    }1199 991 767 543 1200 992 768 544
}*/
@media (max-width: 991px) {
    .k-shopping-sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    .k-shopping-list-header {
        .number {
            padding: 0;
        }
    }
}

@media (max-width: 543px) {
    .k-shopping-list-header {
        display: none;
    }

    #k-shopping {
        padding-left: 15px;
        padding-right: 15px;
        .k-shopping-list{
            .k-shopping-list-items {
                border: none;
                border-bottom: 1px solid #F5F5F5;
                .items {
                    margin-bottom: 0;
                    padding-top: 0 !important;
                    position: relative;

                    .k-shopping-list-items-title {
                        padding: 0;

                        .items-img {
                            padding: 0;
                            margin: 0 0 15px;
                        }
                    }
                }
            }
            .k-shopping-checkout {
                .k-shopping-checkout-button {
                    position: relative;

                    li {
                        width: 100%;

                        &:first-child {
                            position: absolute;
                            bottom: -53px;
                            width: 100%;
                            left: 0;

                            a {
                                text-align: center;
                                width: 100%;
                                position: relative;
                                z-index: 1;
                            }
                        }

                        &:last-child {
                            a {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .k-shopping-checkout {
        form {
            button {
                width: 100%;
                padding: 10px 0;
                border-bottom: 2px solid darken(green, 1%);
            }
        }
    }
}
