.k-checkout {
    background: $gray-lighter;
    position: relative;
    z-index: 11;
    overflow: hidden;
    .k-checkout-background {
        position: absolute;
        background: white;
        top: 0px;
        left: 0px;
        height: 100%;
    }
    .k-checkout-billing-menu {
        margin: 0px 0px 40px 0px;
        padding: 0px;
        display: table;
        overflow: hidden;
        li {
            display: table-cell;
            background: map-get($colors, green);
            color: white;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            position: relative;        
            .triangle {
                border-top: 30px solid transparent;
                border-left: 30px solid white;
                border-bottom: 30px solid transparent;
                position: absolute;
                left: 0px;
                top: -5px;
            }
            .title {
                @include icon-main();
                padding: 15px 0px 15px 40px;
                width: 100%;
            }
            .arrow {
                right: -25px;
                z-index: 1;
                top: 0px;
                border-top: 25px solid transparent;
                border-left: 25px solid map-get($colors, green);
                border-bottom: 25px solid transparent;
                position: absolute;
            } 
            &:nth-child(1) {                 
                .title {                   
                    background-position: -47px -9422px;
                }
            }
            &:nth-child(2) {                 
                .title {                    
                    background-position: -46px -9576px;
                }
            }
            &:nth-child(3) {                
                background: $gray-lighter;
                color: $gray-dark;
                padding-right: 30px !important;
                .title {                    
                    background-position: -43px -9649px;
                }
                .arrow {
                    border-left: 20px solid $gray-lighter;
                    right: 0px !important;                  
                    background: white;                     
                }            
            }
        }        
    }    
    .k-checkout-billing-title {
        p {
            span {
                font-weight: 500;
            }
        }
    }     
    .k-checkout-billing-options {        
        form {
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
            .k-checkout-billing-options-list {
                margin-bottom: 0px !important;
                border: 1px solid darken($gray-lighter, 6%);
                border-bottom: 2px solid darken($gray-lighter, 9%);
                @include border-radius(3px);
                #k-billding-mastercard {
                    label {
                        background: url(../../src/img/checkout/logo-visa-master.png) no-repeat center right 20px;
                    }                   
                }
                .item {
                    border-bottom: 1px solid darken($gray-lighter, 6%);
                    #checkout-show-epay {
                        .k-billing-item-button {
                            .k-billing-item-title {
                                height: 57px;
                                line-height: 46px;
                            }
                        }            
                        .k-billing-item-title {
                            label {
                                padding: 6px 15px;
                            }
                        }
                        ul {
                            li {
                                &:first-child {
                                    label {
                                        padding-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                    input {
                        margin-bottom: 15px;                   
                        @include border-radius(3px);
                        height: 40px;
                    }
                    select {
                        margin-bottom: 15px;                   
                        @include border-radius(3px);
                        height: 40px;
                    }
                    textarea {
                        @include border-radius(3px);
                        min-height: 100px;
                    }
                    input[type=radio   ]:not(old) + label:hover {
                        cursor: pointer;
                        color: #50AD4E;
                    }
                    input[type=radio   ]:not(old) {
                        width     : 2em;
                        margin    : 0;
                        padding   : 0;
                        font-size : 1em;
                        opacity   : 0;
                        display: none;
                    }
                    input[type=radio   ]:not(old) + label {
                        display      : inline-block;
                        margin-left  : 0px;
                        line-height  : 25px;
                    }
                    input[type=radio   ]:not(old) + label > span {
                        display          : inline-block;
                        width            : 20px;
                        height           : 20px;
                        margin           : 0.25em 1em 0.25em 0.25em; 
                        background: white;
                        border: 1px solid #ddd;
                        border-radius: 50%;
                        vertical-align   : bottom;
                    }
                    input[type=radio   ]:not(old):checked + label > span {
                        background: #50AD4E;
                        border: 3px solid #ddd;
                        padding: 5px;
                    }
                    input[type=radio ]:not(old) + label:hover > span {
                        border: 3px solid #50AD4E !important;
                    }
                    input[type=checkbox]:checked + label > span:before {
                        font-family: FontAwesome;
                        content     : "\f00c";
                        display     : block;
                        width       : 15px;
                        color       : white;
                        font-size   : 10px;
                        line-height : 15px;
                        text-align  : center;
                        text-shadow : 0 0 0.0714em rgb(115,153,77);
                    }
                    label {
                        padding: 15px;
                        width: 100%;
                        margin-bottom: 0px;
                    }           
                    .k-billing-item-wrap { 
                        background: $gray-lighter;
                        padding: 25px;
                        display: none;
                        &.in{
                            display: block;
                        }
                        .input-group {
                            width: 100%;                    
                            .k-billing-item-content {
                                ul {
                                    li {
                                        display: table-cell;
                                    }
                                }                                        
                            }
                        }                        
                    }
                }
                #k-billing-internet-banking {
                    .k-billing-item-wrap {
                        ul {
                            padding-right: 15px;
                            li {
                                float: left;
                                margin: 5px 0px 0px 0px;
                                padding-right: 0px;
                                span {
                                    height: 60px;
                                    display: inline-block;
                                    border: 1px dashed $gray-light;
                                    @include border-radius(3px);
                                    display: inline-block;
                                    width: 100%;
                                    background: white;
                                    position: relative;
                                    img {
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        -webkit-transform: translateX(-50%) translateY(-50%);
                                        padding: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button {
                @include button-color(map-get($colors, orange));                
                @include border-radius(3px);                 
                border-top: none;
                border-right: none;
                border-left: none;
                padding: 10px 50px;
                margin-top: 20px;
                float: right;
                &:focus {
                    outline: none;
                }
            }
            .checkout-button {
                @include button-color(darken($gray-lighter, 13%));
                @include border-radius(3px);            
                padding: 10px 50px;
                margin-top: 20px;
                margin-right: 20px;
                float: right;

            }
        }

        #k-billding-transfer {
            h4 {
                margin-top: 1rem !important;
                &:first-child {
                    margin-top: 0px !important;
                }
            }
        }
    }    
}

@media (max-width: 767px) {
    .k-checkout-billing-menu {
        display: none !important;
    }
}

/* Popup Checkout For Mobile */
.k-checkout{
    .k-checkout-billing-options{
        form{
            .k-checkout-billing-options-list{
                #k-billding-mastercard{
                    label{
                        @media (max-width: 767px){
                            background: none;
                        }
                    }
                }
                .item{
                    input[type=radio]:not(old) + label > span.pc{
                        @media (max-width: 767px){
                            display: none;
                        }

                    }
                    a.nav-link{
                        display: none;
                    }
                    @media (max-width: 767px){
                        .k-billing-item-wrap{
                            display: block !important;
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 12;
                            padding-top: 0;
                            overflow: overlay;
                            border-bottom: 2px solid $gray-lighter;
                            background: white;
                            opacity: 0;
                            -webkit-transform: translateX(-105%) !important;
                            transform: translateX(-105%) !important;
                            transition: opacity .5s linear, .5s ease-in-out;

                        }
                        .k-billing-item-wrap.in{
                            opacity: 1;
                            -webkit-transform: translateX(0) !important;
                            transform: translateX(0) !important;
                            .header-modal{
                                .logo-modal{
                                    padding: 20px;
                                    height: 70px;
                                    text-align: center;
                                    margin-left: -25px;
                                    width: calc(100% + 50px);
                                    background-color: white;
                                    border-bottom: 4px solid $gray-lighter;
                                    span{
                                        position: absolute;
                                        height: 30px;
                                        line-height: 30px;
                                        left: 10px;
                                        cursor: pointer;
                                    }
                                    img{
                                        height: 100%;
                                    }
                                }
                                .info-modal{
                                    width: 100%;
                                    float: left;
                                    padding: 80px 0 20px;
                                    border-bottom: 2px solid $gray-lighter;
                                    margin-bottom: 20px;
                                    span{
                                        font-weight: bold;
                                    }
                                    .price{
                                        color: $color-price;
                                    }
                                }
                            }
                            ul{
                                @include border-radius(5px);
                                border: 1px solid $gray-lighter;
                                background-color: $gray-lighter;
                                li{
                                    margin: 0 !important;
                                    .title, .note{
                                        padding: 15px;
                                        width: calc(100% + 15px);
                                    }
                                    .title{
                                        background-color: white;
                                        font-size: 14px !important;
                                    }

                                }
                            }
                            .wrap-input{
                                background-color: $gray-lighter;
                                @include border-radius(5px);
                                border: 1px solid $gray-lighter;
                                .input-group{
                                    &:first-child{
                                        background-color: white;
                                        padding: 15px;
                                        margin-bottom: 10px;
                                    }
                                    background-color: transparent;
                                }
                                .wrap-text{
                                    padding: 20px 15px;
                                }
                            }
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
                #k-billding-mastercard{
                    @extend #k-billing-internet-banking;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #checkout-home {
        .wrap-content {
            .left-before {
                background: none;
            }
        }
        .wrap-content-left {
            padding-bottom: 30px !important;
        }       
        .checkout-list-check {
            .checkout-button {
                width: 100%;
                margin: 20px 0px 5px 0px !important;
                text-align: center;
            }
        }
    }           
    #checkout-home {
        .checkout-list {
            .row {
                display: inline-block;
                width: 100%;
                padding: 0px 0px 0px 15px;
                div {
                    padding-right: 0px;
                }
            }
            .field-paymentform-note {
                padding: 0px 15px;
            }
        }
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    #checkout-home {
        .checkout-list {
            .row {            
                padding: 0px; 
                div {
                    &:last-child{
                        select{
                            position: relative;
                        right: -15px;
                        }                        
                    }
                }
            }
            .field-paymentform-note {
                padding: 0px;
            }
        }
    }

}
/* End Popup Checkout For Mobile */
