.k-combo-title-md {
    display: none;
    @media (min-width: 768px) {
        display: block;
        h1 {
            font-size: 25px;
            font-weight: 600;
            line-height: 35px;
            padding: 20px 0;
            color: $primary-color-kyna;
        }
    }
}

.k-combo-details-header {
    .k-combo-details-video, .k-combo-details-info {
        width: 100%;
    }
    .k-combo-details-title {
        h1 {
            font-size: 25px;
            font-weight: 600;
            line-height: 35px;
            margin: 10px 0;
            color: $primary-color-kyna;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }

    .k-combo-details-info {
        .price-list {
            //  @include border-radius(3px);
            padding: 10px 15px;
            margin-top: 5px;
            margin-bottom: 15px;
            color: $primary-color-price;
            width: 100%;
            // font-size: 24px;
            background: #efefef;
            border-top: 1px solid #EAE9E9;
            border-bottom: 1px solid #EAE9E9;
            .price {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                width: 100%;
                del {
                    color: #222;
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 1.4;
                }
                .sale {
                    text-align: center;
                    order: 1;
                }
                .bold {
                    text-align: center;
                    font-size: 24px;
                    line-height: 1.3;
                    color: #fb6a00;
                    font-weight: 600;
                    order: 2;
                }
                .lb-discount {
                    display: none;
                }
            }
        }
        .button {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            .add-to-cart {
                display: none;
            }
            .btn-buy-now {
                @include border-radius(3px);
                display: block;
                background: #fb6a00;
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-weight: 600;
                border-bottom: 2px solid #e25f00;
                color: white !important;
                text-align: center;
                font-size: 16px;
                &:hover {
                    background: #e25f00;
                    border-bottom: 2px solid #d25900;
                }
            }
        }
        .info {
            padding: 10px;
            width: 100%;
            display: inline-block;
            ul {
                @include border-radius(3px);
                border: 1px solid #eae9e9;
                padding: 10px;
                margin-bottom: 0;
            }
            li {
                margin-bottom: 20px;
                font-size: 14px;
                i {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
        .social-media {
            padding: 0 15px 10px;
            li {
                width: 100%;
                &.like-share {
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    margin-top: 3px;
                    .gg {
                        margin-left: 15px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        .k-combo-details-video {
            width: percentage(2/3);
            float: left;
        }
        .k-combo-details-info {
            width: percentage(1/3);
            float: left;
            .price-list {
                margin: 0 10px 15px;
                width: auto;

            }
            .button {
                .buy-now-popup {
                    &:hover {
                        .popup-guide {
                            display: block;
                        }
                    }
                }
                .btn-buy-now {
                    @include button-color($color-price);
                    width: 100%;
                    color: white !important;
                    text-align: center;
                    font-size: 16px;
                    padding: 0 !important;
                    &.reg {
                        background: #b5b5b5;
                        border-bottom: 2px solid darkgray;
                        cursor: default;
                    }
                }
                .add-to-cart {
                    margin-bottom: 10px;
                    display: block;
                    background: #fff;
                    @include border-radius(3px);
                    border: 1px solid #fb6a00;
                    color: #fb6a00 !important;
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    &:hover {
                        color: #fff !important;
                        background: #fb6a00;
                    }
                    &.reg {
                        background: #b5b5b5;
                        border-bottom: 2px solid darkgray;
                        cursor: default;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        color: white !important;
                    }
                }
            }
            .info ul {
                border: none;
                border-top: 1px solid #ececec;
                @include border-radius(0);
            }
        }
    }
    @media (min-width: 992px) {
        .k-combo-details-info {
            .combo-info {
                padding: 0 7px;
            }
            .price-list {
                .price {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .bold {
                        font-size: 22px;
                        order: 1;
                    }
                    .sale {
                        display: -webkit-flex;
                        display: -ms-flex;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        order: 2;
                    }
                    .lb-discount {
                        @include border-radius(3px);
                        background-color: #f82723;
                        color: #fff;
                        display: inline-block;
                        height: 25px;
                        font-size: 15px;
                        line-height: 25px;
                        padding: 0 1px;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        padding-bottom: 20px;
        .k-combo-details-info {
            .combo-info {
                padding: 0 10px;
            }
            .price-list {
                .price {
                    .bold {
                        font-size: 25px;
                    }
                    .sale {
                        del {
                            font-size: 16px;
                        }
                    }
                    .lb-discount {
                        font-size: 16px;
                        padding: 0 5px;
                    }
                }
            }
            .button {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                margin: 30px auto 15px;
                li {
                    flex: 1;
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
            .social-media {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px 15px;
                .like-share {
                    margin-top: 10px;
                    margin-left: 10px;
                }
            }
            .info ul {
                padding-top: 20px;
            }
        }
    }
}

.mb-fixed-price {
    background: #ececec;
    padding: 10px;
    width: 100%;
    z-index: 11;
    position: fixed;
    bottom: 0;
    display: none;
    height: 110px;
    strong {
        @include border-radius(3px);
        display: block;
        background: #fb6a00;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #e25f00;
        color: white !important;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
    @media (min-width: 768px) {
        display: none !important;
    }
}

.k-combo-details-main-left {
    position: relative;
    @media (min-width: 768px) {
        top: -90px;
    }
    @media (min-width: 992px) {
        top: 0;
    }
    @media (min-width: 1200px) {
        top: 10px;
    }
}

.k-combo-details-main {
    padding: 0 10px;
    .k-combo-details-about {
        li, p, span, strong, em, b {
            font-size: 14px !important;
        }
        h2, h3, h4 {
            font-weight: bold !important;
        }
        h2 {
            font-size: 18px !important;
        }
        h3 {
            font-size: 16px !important;
        }
        h4 {
            font-size: 15px !important;
        }
        ul.list {
            display: table;
            width: 100%;
            padding: 0px;
            margin-bottom: 0px;
            li {
                margin-right: 30px;
                position: relative;
                display: inline-block;
                a {
                    color: $base-font-color;
                    padding: 15px;
                    display: block;
                    width: 100%;
                }
                &:first-child {
                    a {
                        border-top: 2px solid $primary-color-kyna;
                        color: $primary-color-kyna;
                        background: white;
                        padding: 15px;
                        display: inline-block;
                    }
                }
            }
        }
        .title-content {
        }
        .combo-overview {
            border: 1px solid #eae9e9;
            border-bottom: none;
            @include border-radius(3px);
            position: relative;
            a {
                text-decoration: underline !important;
            }
            li {
                font-size: 14px !important;
            }
            label {
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                text-align: center;
                height: 30px;
                line-height: 35px;
                cursor: point;
                @include border-radius(3px);
                background: rgba(255, 255, 255, 0);
                background: -webkit-gradient(linear, rgba(255, 255, 255, 0.2), white);
                //background: -webkit-linear-gradient(transparent, white);
                background: -o-linear-gradient(rgba(255, 255, 255, .1), white);
                background: -ms-linear-gradient(rgba(255, 255, 255, .1), white);
                background: -moz-linear-gradient(rgba(255, 255, 255, .1), white);
                background: linear-gradient(rgba(255, 255, 255, .1), white);
                color: #fb6a00;
                cursor: pointer;
                font-size: 16px;
                margin: 0 -1px;
                border: 1px solid #eae9e9;
                border-top: none;
            }
            #showmore {
                display: none;
            }
            label:after {
                content: "Xem th\00EA m";
            }
            #showmore:checked + label:after {
                content: "Thu g\1ECD n";
            }
            #showmore:checked ~ div {
                height: 100%;
            }
            .text {
                background: #fff;
                padding: 10px;
                font-size: 14px;
                text-align: justify;
                overflow: hidden;
                height: 100px;
            }
            @media (min-width: 768px) {
                border-bottom: 1px solid #eae9e9;
                input, label {
                    display: none;
                }
                .text {
                    height: 100%;
                }
            }
            @media (min-width: 992px) {
                border: none;
            }
        }

    }
    .k-combo-details-curriculum {
        padding: 20px 0px;
        h3 {
            font-size: 16px !important;
            padding-bottom: 10px;
            margin: 0px;
            font-weight: bold;
            @media (max-width: 991px) {
                font-weight: normal;
            }
        }
        ul {
            li {
                h4 {
                    font-size: 15px;
                    text-transform: uppercase;
                    color: $primary-color-kyna;
                    margin-bottom: 0px;
                    padding: 15px 0px;
                    margin: 0px;
                    border-top: 2px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    margin-top: 15px;
                    line-height: 20px;
                }
                display: inline-block;
                width: 100%;
                padding: 0px;
                margin: 0px;
                span {
                    // font-size: 13px !important;
                    padding: 0px;
                    display: inline-block;
                    width: 100%;
                }
                i {
                    font-size: 30px;
                    position: relative;
                    color: #D93939;
                    margin-right: 10px;
                }
            }
        }
    }
}

.k-combo-details-list {
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    h3 {
        font-size: 16px;
        font-weight: bold;
        &.title{
            font-size: 24px;
        }
    }
    .item {
        border-bottom: 1px solid #aaa;
        margin-bottom: 15px;
    }
    .item-heading {
        padding-bottom: 10px;
        a {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            text-transform: uppercase;
            width: 100%;
            font-size: 16px;
            .index {
                margin-right: 5px;
            }
            &:after {
                font-family: "fontastic-icon";
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                speak: none;
                line-height: 1;
                margin-top: 5px;
                position: absolute;
                right: 35px;
                vertical-align: middle;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &[aria-expanded="true"]:after {
                content: "\73";
            }
            &[aria-expanded="false"]:after {
                content: "\72";
            }
        }
        span:not(.index) {
            padding-right: 35px;
        }
        .lecture-name {
            padding: 10px 10px 0;
            margin-bottom: 0;
            a {
                display: inline;
                font-size: 14px;
                text-transform: none;
            }
        }
    }
    .item-body {
        background-color: #ececec;
        border-top: 1px solid darkgray;
        padding: 10px;
        .detail-info {
            width: 100%;
            ul {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li {
                margin-right: 15px;
                span {
                    font-size: 14px;
                }
                i {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
        p {
            margin-bottom: 5px;
            text-align: justify;
        }
    }
    @media (min-width: 992px) {
        .item-heading {
            a {
                &:after {
                    font-family: 'Roboto', 'Arial', sans-serif;
                    font-style: italic;
                    font-size: 14px;
                    color: #222;
                    margin-top: 45px;
                    margin-right: 20px;
                }
                &[aria-expanded="true"]:after {
                    content: "\00ab Thu g\1ECD n";
                }
                &[aria-expanded="false"]:after {
                    content: "\00bb Xem th\00EA m";
                }
            }
        }
    }

}

.k-open-content-author {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    background: -webkit-gradient(linear, rgba(255, 255, 255, 0), whitesmoke);
    //background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: -ms-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    .kbtn-see-more {
        position: relative;
        top: 40px;
        line-height: 10px;
        color: $primary-color-kyna;
        font-weight: 500;
        display: inline-block;
        width: 100px;
        padding-bottom: 20px;
        margin-top: 5px;
        // font-size: 16px;
    }

}

.k-combo-details-comments-reviews {
    background: #F5F5F5;
    padding: 20px 0px;
    .tablist-comment {
        border-bottom: none;
        padding: 0px;
        margin-bottom: 25px;
        li {
            margin-right: 40px;
            float: left;
            a {
                padding: 0px 0px 10px 0px;
                color: $base-font-color;
                font-weight: 500;
                font-size: 16px;
                background: none !important;
                border: none;
                &:hover {
                    background: none;
                    border: none;
                    color: $base-font-color;
                    border-bottom: 2px solid $primary-color-kyna !important;
                }
                &:focus {
                    background: none;
                    border: none;
                    color: $base-font-color;
                    border-bottom: 2px solid $primary-color-kyna !important;
                }
            }
            .active {
                background: none;
                border: none;
                color: $base-font-color;
                border-bottom: 2px solid $primary-color-kyna !important;
            }
        }

    }
}

.k-combo-details-comments-list {
    #comments {
        .box {
            background: white;
            padding: 10px 15px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
            @extend .main-border-radius;
            margin: 5px 0px 15px 0px;
            .info {
                padding: 0px;
                display: inline-block;
                width: 100%;
                li {
                    float: left;
                    margin-right: 15px;
                }
            }
        }
        .button-more {
            a {
                background: #A9B2BD;
                border-bottom: 2px solid #969EA9;
                &:hover {
                    background: #969EA9;
                    border-bottom: 2px solid #89919C;
                }
            }
        }
    }
    #comments-facebook {
        .comments-facebook-wrap {
            background: white;
            padding: 10px;
        }
    }
}

#k-combo-details-comment {
    background: #f7f7f7;
    .title-content {
        padding: 0 0 5px 0;
        display: inline-block;
        margin: 20px 0 0 0;

        background: none;
        color: #272727;
        border-bottom: 2px solid #50ad4e !important;
        font-size: 24px;
        font-weight: 700;
    }
    .fb-comments {
        padding: 10px;
        background: white;
        margin: 20px 0px 40px 0px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        display: inline-block;
        width: 100%;
    }
}

.k-course-details-related {
    display: none;
    @media (min-width: 768px) {
        display: block;
        h3 {
            margin: 0px;
            background: $primary-color-kyna;
            padding: 15px;
            font-size: 16px;
            color: white;
            border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
            -webkit-border-radius: 3px 3px 0px 0px;
            font-weight: 300;
        }
        .k-combo-details-related-list {
            display: inline-block;
            margin: 0px;
            background-color: whitesmoke;
            width: 100%;
            padding-left: 0px;
            border-right: 1px solid #e6e5e8;
            border-left: 1px solid #e6e5e8;
            border-top: none;
            .list {
                padding: 10px 15px 15px 15px;
                border-bottom: 1px solid #e6e5e8;
                display: inline-block;
                float: left;
                background-color: white;
                //width: 100%;
                .item-list {
                    background-color: white;
                }
                .k-related-courses-img {
                    padding: 0px;
                    img.img-fluid {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .k-related-courses-text {
                    margin: 0px 0px 5px 0px;
                    padding-right: 0px;
                    a {
                        color: $base-font-color;
                        font-size: $base-font-size;
                        line-height: 20px;
                        &:hover {
                            color: $secondary-color-kyna;
                        }
                    }
                    ul {
                        li {
                            float: left;
                            &:first-child {
                                color: $primary-color-price;
                                font-weight: 600;
                            }
                            &:last-child {
                                font-weight: 600;
                                float: right;
                            }
                            span {
                                i {
                                    margin-right: 5px;
                                    color: $primary-color-kyna;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.k-details-fb-gg {
    width: 80px;
    position: fixed;
    top: 15%;
    right: 20px;
    display: none;
    ul {
        @include default-shadow();
        background: white;
        padding: 5px;
        margin-bottom: 25px;
        li {
            display: block;
            text-align: center;
            padding: 0;
            margin: 0.35em auto;
            width: 64px;
        }
    }
    .k-details-cart-right {
        @include default-shadow();
        right: 20px;
        background: $secondary-color-kyna;
        padding: 10px 0px 5px 0px;
        &:hover {
            img {
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }
        p {
            text-align: center;
            margin-bottom: 0px;
            font-size: 16px;
            display: block;
            span {
                padding: 0px 15px;
                color: white;
                &:nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
        a {
            display: block;
            text-align: center;
            img {
                -webkit-transition: -webkit-transform .4s ease-in-out;
                -ms-transition: -ms-transform .4s ease-in-out;
                transition: transform .4s ease-in-out;
            }
        }
    }
}

.hidden-course-bar {
    &.slideDown {
        position: fixed;
        top: 0px;
        display: block;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 10;
        background-color: #ffffff;
    }
}

/*
.hidden-course-bar.slideDown.slideDown-header{
    position: fixed;
    display: block;
    top: 80px;
    transition: top 0.5s ease-in-out;
}
*/
.hidden-course-bar {
    display: none;
    width: 100%;
    background: $gray-lighter;
    -webkit-transform: translateY(-250px);
    -webkit-transition: -webkit-transform 0.2s;
    transform: translateY(-250px);
    transition: transform .2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    ul.tab-btns {
        width: 100%;
        padding: 0 15px 0 15px;
        line-height: 55px;
        li {
            margin-right: 30px;
            position: relative;
            font-size: 16px;
            /*
            display: table-cell;
            */
            display: inline-block;
            text-align: left;
            a {
                color: $color-body;
                display: inline-block;
                padding: 0 12px 0 0;
                &:hover {
                    background: none;
                    border-bottom: 2px solid $color-link;
                }
            }
        }
        .active {
            a {
                background: none;
                border-bottom: 2px solid $color-link;
            }
        }
    }
    ul.button {
        padding: 0px 15px;
        display: inline-block;
        width: 100%;
        margin: 8px 0px 0px 0px;
        li {
            text-align: right;
            .btn-buy-now {
                color: white !important;
                @include button-color($color-price);
                width: 160px;
                padding: 5px 0;
                text-align: center;
                font-size: 16px;
                margin-bottom: 5px;
                &.reg {
                    background: #b5b5b5;
                    border-bottom: 2px solid darkgray;
                    cursor: default;
                }
            }
            .k-add-to-cart-register {
                text-align: left;
            }
            /*
            float: left;
            width: 48%;
            margin-right: 4%;
            &:first-child {
                a {
                    color: white !important;
                    @include button-color($color-price);
                    text-align: center;
                    font-size: 16px;
                }
            }
            &:last-child {
                margin-right: 0px;
                a {
                    @include border-radius(3px);
                    border: 1px solid $color-link;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    font-size: 16px;
                    padding: 10px 35px;
                }
            }
            */

            .button-like {
                background: white;
                color: $color-link;
                border: 1px solid $color-link;
                &:hover {
                    border: 1px solid darken($color-link, 10%);
                    color: darken($color-link, 10%);
                }
                i {
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    @media (min-width: 992px) {
        // display: block;
    }
}

.box-container {
    background-color: #F5F5F5;
}

/* Mobile Part List Courses */
.k-combo-details-curriculum {
    ul.wrap-detail {
        .part {
            h4:before {
                content: none;
            }
        }
    }
}

#fb-save-button {
    &:hover {
        .popup-guide {
            display: block !important;
        }
    }
}

.popup-guide {
    display: none;
    position: absolute;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    margin-top: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    &::before {
        font-family: "fontastic-icon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 0px -3px 5px gainsboro;
        content: "\3a";
        font-size: 16px;
        position: absolute;
        left: 60px;
        top: -10px;
        color: white;
    }
    &.buy-now {
        right: 0;
        width: auto;
        &::before {
            right: 30px;
        }
    }
    a {
        color: #4f6fb6;
        text-decoration: underline !important;
    }
}

/* End Mobile Part List Courses */
