@media (max-width: 767px) {
    .navbar-nav {
        margin: 7.5px -15px;
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

body {
    background-color: $gray-lighter !important;
    color: $color-body;
}
/* Header Courses */
.line1p {
    //    display: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid $gray-lighter;
    /*@media (max-width: 767px){
        display: block;
    }*/
}

.padding10p {
    padding: 0 10px;
}

#k-courses-header {
    background: $gray-lighter;
    padding-top: 30px;
    padding-bottom: 40px;
    @media (max-width: 767px) {
        padding-top: 60px;

        &.k-height-header {
            margin-top: 0 !important;
        }
    }

    header {
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto 20px;
        }

        .img-avatar {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            margin: 20px auto;
            position: relative;
            background-size: cover;
            background-position: center;
            border: 1px solid $gray-light;

            .wrap-upload {
                line-height: 120px;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.46);
                font-size: 26px;
                color: white;
                cursor: pointer;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }
        }

        h2 {
            text-align: center;
            font-weight: 400;
            margin: 0;

            .email {
                font-size: 16px;
            }
        }

        ul {
            padding: 0;
            margin: 20px auto;
            width: 300px;
            display: table;
            text-align: center;

            li {
                display: table-cell;

                a {
                    @include border-radius(3px);
                }

                &:first-child {
                    a {
                        @include button-color(darken($gray-lighter, 25%));
                        padding: 8px 20px;
                    }
                }

                &:last-child {
                    a {
                        @include button-color(map-get($colors, green));
                        padding: 8px 20px;
                    }
                }
            }
        }
    }
}

.k-courses-header-list {
    @include border-radius(3px);
    text-align: center;
    background: white;
    margin-bottom: 30px;
    padding: 0 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    .course-summary {
        display: inline-block;
        padding: 20px 10%;
    }

    ul {
        li {
            width: 130px;
            float: left;
            margin: 0 20px;

            p {
                font-size: 18px;
                color: $gray-dark;
            }

            span {
                font-size: 24px;
                font-weight: 400;
                display: block;
                margin-top: 15px;
            }
        }

        #cont {
            display: block;
            height: 100px;
            width: 100px;
            margin: 0 auto;
            @include default-shadow();
            border-radius: 100%;
            position: relative;

            &:after {
                position: absolute;
                display: block;
                height: 80px;
                width: 80px;
                left: 50%;
                top: 50%;
                box-shadow: inset 0 0 10px rgba(0,0,0,.2);
                content: attr(data-pct) "%";
                margin-top: -40px;
                margin-left: -40px;
                border-radius: 100%;
                line-height: 80px;
                font-size: 28px;
            }

            svg#svg {
                position: absolute;
                top: 0;
                left: 0;

                circle {
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset 1s linear;
                    stroke: white;
                    stroke-width: 0.55em;
                }

                #bar {
                    stroke: map-get($color-brands, kyna);
                }
            }
        }
    }

    #profile-form {
        display: inline-block;
        width: 100%;
        background: white;
        padding: 20px;
        @media (max-width: 767px) {
            padding: 20px 0;
        }

        h4 {
            text-align: center;
            font-size: 16px;
            color: $color-body;
            margin: 0 0 35px;
        }

        .wrap-top {
            padding-bottom: 20px;
            text-align: left;

            .alert-warning {
                ul {
                    display: inline-block;
                    padding: 0;

                    li {
                        margin: 0;
                    }
                }
            }

            .input {
                margin: 10px 0;

                .left {
                    @media (max-width: 767px) {
                        display: none;
                    }
                    padding: 0;

                    label {
                        font-weight: bold;
                        padding-left: 0;
                        line-height: 40px;
                        margin-bottom: 0;
                        height: 40px;
                    }
                }

                .right {
                    span.icon {
                        position: absolute;
                        line-height: 37px;
                        padding: 0 10px;
                        left: 12px;
                    }

                    .form-control {
                        padding-left: 30px;
                        height: 40px;
                        @include border-radius($border-radius);
                    }

                    #profileform-gender {
                        text-align: left;
                        line-height: 40px;

                        ul {
                            padding: 0;
                            margin-bottom: 0;
                            /*display: -webkit-box;
                            box-shadow: none;*/
                            li {
                                margin-bottom: 0;
                            }
                        }

                        .radio + .radio {
                            margin-top: 0;
                        }
                    }
                }
            }

            .k-listing-characteristics-list {
                width: auto;
                box-shadow: none;
                padding: 0;

                > li {
                    width: auto;

                    &.checkbox {
                        float: none;
                        text-align: left;
                    }
                }
            }

            .wrap-change-pass {
                display: none;

                &.open {
                    display: block;
                }
            }

            input,
            select,
            select option {
                font-size: $font-size-root;
            }
        }

        .wrap-center {
            padding-bottom: 20px;
            text-align: left;
            .remindMessage{
                font-weight: 700;
                span{
                    float: right;
                    cursor: pointer;
                    font-size: 22px;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
            .input {
                margin: 10px 0;

                .left {
                    @media (max-width: 767px) {
                        display: none;
                    }
                    padding: 0;

                    label {
                        font-weight: bold;
                        padding-left: 0;
                    }
                }

                .right {
                    i.fa{
                        position: absolute;
                        right: 25px;
                        top: 11px;
                        cursor: pointer;
                        font-size: 18px;
                    }
                    span.icon {
                        position: absolute;
                        line-height: 33px;
                        padding: 0 10px;
                        left: 12px;
                        top:3px;
                    }

                    .form-control {
                        @include border-radius($border-radius);
                        padding-left: 30px;
                        height: 40px;
                    }

                    #profileform-gender {
                        text-align: left;

                        ul {
                            padding: 0;
                            margin-bottom: 0;
                            /*display: -webkit-box;
                            box-shadow: none;*/
                            li {
                                margin-bottom: 0;
                            }
                        }

                        .radio + .radio {
                            margin-top: 0;
                        }
                    }
                }
            }

            .k-listing-characteristics-list {
                width: auto;
                box-shadow: none;
                padding: 0;

                > li {
                    width: auto;

                    &.checkbox {
                        float: none;
                        text-align: left;
                    }
                }
            }

            .wrap-change-pass {
                display: none;

                &.open {
                    display: block;
                }
            }

            input,
            select,
            select option {
                font-size: $font-size-root;
            }
        }

        .line {
            display: inline-block;
            width: 100%;
            padding: 7px 15px 0;

            span {
                height: 2px;
                width: 100%;
                background: $gray-light;
                display: inline-block;
            }
        }

        span.icon i {
            color: $navbar-light-disabled-color;
        }

        #click-change-pass {
            height: 40px;
            color: $color-link;
            font-weight: bold;
            text-decoration: underline !important;
        }

        .field-checkbox1 {
            margin-bottom: 0;
            margin-top: 15px;
        }
    }

    .wrap-footer {
        margin-top: 20px;
        border-top: 1px solid $gray-lighter;
        text-align: center;
        @media (max-width: 767px) {
            border-top: none;

            .input {
                text-align: center;
            }
        }

        .right {
            button.button {
                @media (max-width: 767px) {
                    width: 100%;
                }
                background-color: map-get($color-brands, kyna);
                color: white;
                padding: 10px 25px;
                border-bottom: 2px solid $last-color-kyna;
                border-right: none;
                border-top: none;
                border-left: none;
                @include border-radius($border-radius-lg);
                font-size: 16px;
                margin-top: 3px;
            }

            button.button:hover {
                background: $secondary-color-kyna !important;
            }

            .button-close {
                color: $color-body;
                margin-left: 20px;
                @media (max-width: 767px) {
                    margin-left: 0;
                }
                text-decoration: underline !important;
            }

            .button-close:hover {
                color: $color-link;
            }
        }
    }
}

#mycourses-main {
    .empty {
        text-align: center;
        padding: 50px 0 100px;
    }
}

#profileform-current_password {
    .control-label {
        height: 40px;
        line-height: 40px;
    }

    .form-control {
        &input[type="password"]:disabled {
            background: #ddd;
        }
    }
}

.k-courses-header-close {
    position: absolute;
    top: 0;
    right: 10px;
    color: $color-body;

    &:hover {
        color: darken($color-body, 10%);
    }

    &:focus {
        outline: none;
    }

    span {
        font-size: 40px;
    }
}
@media (max-width: 991px) {
    .k-courses-header-list {
        ul {
            padding: 20px 15px;

            li {
                p {
                    font-size: 16px;
                }
            }
        }

        .course-summary {
            padding: 20px 10px;
        }
    }
}
/*.header-courses-section {
    padding-bottom: 60px;
    .top{
        text-align: center;
        .img-avatar{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 35px auto 20px;
            object-fit: cover;
        }
        .title{
            .name{
                font-size: 24px;
            }
            .email{
                font-size: $font-size-root;
            }
        }
        ul{
            display: inline-flex;
            margin-top: 10px;
            > li{
                margin: 0 10px;
                min-width: 150px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                @include border-radius($border-radius);
                @include button-color(map-get($color-brands, kyna));
                padding: 10px auto;
                a{
                    color: white;
                }
            }
            .btn-edit{
                @include button-color($gray-light);
            }
        }
    }
    .bottom{
        text-align: center;
        ul{
            display: inline-flex;
            @media (max-width: 543px){
                display: block;
            }
            margin-top: 10px;
            > li{
                margin: 0 10px;
                width: 150px;
                @media (max-width: 991px){
                    width: 130px;
                }
                @media (max-width: 767px){
                    width: 20%;
                }
                @media (max-width: 543px){
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                    border-bottom: 1px dotted #888;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                a{
                    color: white;
                }
                p{
                    @media (max-width: 767px){
                        height: 45px;
                    }
                    font-size: 18px;
                }
                div{
                    padding-top: 10px;
                    font-size: 28px;
                }
                div.my-courses-chart{
                    position: relative;
                    padding-top: 0;
                    span{
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        z-index: 2;
                    }
                }
                .img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        #my-courses-graph{
            height: 100px;
        }
    }

}*/
/* End Header Courses */
/* Body Courses */
@media (max-width: 767px) {
    #mycourses {
        display: flex;
        margin-left: -15px;
        /*ul{
            width: 329px;
        }*/
    }
}

.body-courses-section {
    position: relative;
    background-color: white;
    padding-top: 20px;
    @media (max-width: 767px) {
        padding-top: 40px;
    }

    #mycourses-main {
        padding: 0;
    }
    border-top: 1px solid $gray-lighter;

    ul {
        padding: 0;
        margin-bottom: 0;

        &.nav.nav-tabs {
            margin: 10px auto;
            font-size: 16px;

            li {
                float: left;
                height: 50px;
                padding: 10px 15px 10px 0;
                /*margin-right: 70px;*/
                @media (max-width: 767px) {
                    border: 1px solid $gray-lighter;
                    padding: 10px;
                }

                a {
                    color: $color-body;
                    display: inline-block;
                    border: none;
                    @media (min-width: 768px) {
                        padding: 10px 30px;
                    }
                }
            }

            > li:hover,
            > li.active-tab {
                border-bottom: 2px solid map-get($color-brands, kyna);
            }

            li.active-tab,
            li:hover {
                a {
                    color: $color-body;
                }
                @media (max-width: 767px) {
                    background-color: map-get($color-brands, kyna);
                    border: 1px solid map-get($color-brands, kyna);

                    a {
                        color: white;
                    }
                }
            }
            @media (max-width: 767px) {
                li:first-child {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                li:last-child {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
            border-bottom: none;
        }

        &#menu-courses {
            position: absolute;
            top: -60px;
            border-bottom: none;
            width: 100%;
            @media (max-width: 767px) {
                position: relative;
                top: 0;
                padding-left: 30px;
                border-bottom: 1px solid $gray-lighter;
            }

            > li {
                padding: 0;
                border-top: 2px solid transparent;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                /*@media (max-width: 767px){
                    display: none;
                    &.active-tab{
                        display: block;
                    }
                }*/
            }

            > li {
                &.active-tab,
                &:hover {
                    background-color: white;
                    border-top: 2px solid map-get($color-brands, kyna);
                    border-bottom: none !important;
                    border-left: 1px solid $gray-lighter;
                    border-right: 1px solid $gray-lighter;
                    @media (max-width: 767px) {
                        border-top: none;
                        background-color: transparent;
                        border-left: none;
                        border-right: none;
                        border-bottom: 2px solid map-get($color-brands, kyna) !important;

                        a {
                            color: $color-body;
                        }
                    }
                }
            }

            .deltaxu {
                float: right;
                @media (min-width: 768px) {
                    padding: 0 30px;
                }

                a {
                    @include button-color(map-get($colors, green));
                    color: white;
                    padding: 3px 35px 3px 20px !important;
                    font-weight: bold;

                    img {
                        margin-right: 10px;
                    }
                }

                &:hover {
                    background: none;
                    border-top: 2px solid $gray-lighter;
                }
            }
        }
    }

    #menu-courses-mob {
        .button-group-tool {
            text-align: center;
            padding-top: 15px;

            .btn-cod-active {
                border: 2px solid #ff7818;
                color: #ff7818;
                background-color: rgba(0,0,0,0);
                margin-right: 5px;
            }

            .btn-edit-info-user {
                border: 2px solid #50ad4e;
                color: #50ad4e;
                background-color: rgba(0,0,0,0);
                margin-left: 5px;
            }
        }

        #scroll-tab-menu-course {
            width: 100%;
            overflow: hidden;

            > ul {
                width: 550px;
                position: absolute;
                top: -60px;
                border-bottom: none;
                @media (max-width: 767px) {
                    -moz-box-shadow: inset 0 -2px 2px -2px $color-body;
                    -webkit-box-shadow: inset 0 -2px 2px -2px $color-body;
                    box-shadow: inset 0 -2px 2px -2px $color-body;
                    display: flex;
                    position: relative;
                    top: 0;
                    justify-content: center;
                    border-bottom: 1px solid $gray-lighter;
                }

                > li {
                    border-radius: 0;
                    padding: 10px 15px;
                    border: none;
                    display: block;
                    @media (max-width: 767px) {
                        padding: 10px 8px;
                    }
                    /*@media (max-width: 767px){
                        display: none;
                        &.active-tab{
                            display: block;
                        }
                    }*/
                    &.active-tab,
                    &:hover {
                        border-bottom: 2px solid #50ad4e;
                        font-weight: bold;
                    }
                }

                > li {
                    &.active-tab,
                    &:hover {
                        background-color: white;
                        border-top: 2px solid map-get($color-brands, kyna);
                        border-bottom: none !important;
                        border-left: 1px solid $gray-lighter;
                        border-right: 1px solid $gray-lighter;
                        @media (max-width: 767px) {
                            border-top: none;
                            background-color: transparent;
                            border-left: none;
                            border-right: none;
                            border-bottom: 2px solid map-get($color-brands, kyna) !important;

                            a {
                                color: $color-body;
                            }
                        }
                    }
                }
            }
        }
    }
    /*.page-number{
        text-align: center;
        span{
            i{
            font-size: 12px;
            }
            a{
            color: $color-body;
            }
        }
    }*/
    .courses-sidebar-right {
        font-size: $font-size-root;

        h4.title-box {
            background-color: map-get($color-brands, kyna);
            color: white;
            padding: 15px 20px;
            margin: 0;
        }

        ul {
            &.blogs,
            &.notifications {
                padding-left: 0;
                border: 1px solid $gray-lighter;
                border-bottom: none;

                > li {
                    padding: 15px 20px;
                    border-bottom: 1px solid $gray-lighter;
                    display: inline-block;
                    width: 100%;
                }

                li.view-all {
                    a {
                        color: $color-link;
                        font-weight: bold;
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
}
/* End Body Courses */
/* Courses Main */
#mycourses-main {
    #mycourses-buy {
        padding: 15px 0 35px;
        @media (max-width: 543px) {
            .k-box-card-list{
                .k-box-card{
                    padding: 0;
                    .k-box-card-wrap .content{
                        .author{
                            display: block;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .k-box-card-wrap {
        .img {
            .card-options {
                .dropdown-toggle {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: white;
                    border: 1px solid rgba(155, 155, 155, 0.3);
                    border-radius: 5px;
                    color: $gray-light;
                    z-index: 2;
                }

                .dropdown-menu {
                    position: absolute;
                    top: 35px;
                    right: 5px;
                    left: inherit;
                    border: 1px solid rgba(155, 155, 155, 0.3);
                    padding: 0;

                    li {
                        a {
                            padding: 8px 12px;
                            color: $gray-dark;

                            &:hover {
                                color: darken(map-get($colors, green), 10%);
                            }
                        }
                    }
                }
            }

            .rating-mb{
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                text-align: center;
                b{
                    background-color: #50ad4e;
                    padding: 2px 5px;
                    color: white;
                    border-radius: 4px;
                    font-size: 13px;
                    i{
                        color: white;
                        font-size: 12px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }

        .content {
            border-bottom: none !important;
        }

        .link-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    .wrap-progress{
        padding: 5px 10px 0;
        @media (max-width: 543px) {
            float: left;
            width: 100%;
            display: flex;
            padding: 0;
        }
        .progress{
            background-color: $gray-lighter;
            height: 5px;
            position: relative;

            .progress-bar {
                height: 100%;
                background-color: $color-price;
            }
        }

        .details-bottom {
            padding-bottom: 10px;
            font-size: $font-size-root;

            > div {
                height: 40px;
                float: left;
                padding: 0 10px;

                .btn-play {
                    width: 100%;
                    border: none;
                    @include border-radius($border-radius);
                    @include button-color(#fb6a00);
                    padding: 6px 0;
                    @media (max-width: 543px) {
                        padding: 6px 10px;
                    }
                }

                .btn-finish {
                    width: 100%;
                    border: none;
                    @include border-radius($border-radius);
                    @include button-color(darken($gray-lighter, 18%));
                    padding: 6px 0;
                }

                .btn-replay {
                    width: 100%;
                    border: none;
                    @include border-radius($border-radius);
                    @include button-color($gray-light);
                    padding: 6px 0;
                }

                .close {
                    display: none;
                }
            }

            .btn-start {
                width: 45%;
                padding-left: 0;
                @media (max-width: 543px) {
                    width: auto;
                }
            }

            .btn-medal {
                padding: 0;
                width: 10%;

                .popup-guide {
                    left: 0;
                    margin-top: 10px;

                    &:before {
                        left: 50%;
                    }
                }

                &:hover .popup-guide {
                    display: block;
                }
                @media (max-width: 543px) {
                    width: auto;
                }
            }

            .s-rating {
                width: 45%;
                text-align: right;
                padding-left: 0;
                padding-right: 0;

                ul {
                    padding: 5px 0;

                    li {
                        span {
                            i {
                                font-size: 10px;
                            }

                            .color-rating {
                                color: $primary-color-kyna;
                            }
                        }
                    }
                }
            }
            @media (max-width: 543px) {
                display: flex;
                flex-wrap: nowrap;
                flex: 6;
                flex-direction: row-reverse;
                padding-bottom: 0;
                padding-top: 5px;
            }
        }

        .point-box {
            .left {
                float: left;
            }

            .right {
                float: right;
                color: $color-price;
                font-weight: bold;

                i {
                    font-size: 20px;

                    &:before {
                        position: relative;
                        top: 2px;
                    }

                    .popup-guide {
                        right: 0;
                        font-size: 14px;
                        color: #272727;
                        font-family: 'Roboto', sans-serif;
                        line-height: 1.6;

                        &:before {
                            left: calc(100% - 27px);
                        }
                    }

                    &:hover {
                        .popup-guide {
                            display: block;
                        }
                    }
                }
            }
            @media (max-width: 543px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                flex: 4;
            }
        }
    }
}
/* EndCourses Main */
/* Messenger Courses */

#messenger-courses-main {
    @media (max-width: 767px) {
        background-color: $gray-lighter;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tab-content {
        @media (max-width: 767px) {
            border: 1px solid $gray-light;
            @include border-radius($border-radius-lg);
            background-color: white;
        }

        .row-messenger {
            height: 85px;

            &:first-child {
                border-top: 1px solid $gray-light;
            }
            border-bottom: 1px solid $gray-light;
            background-color: $gray-lighter;
            @media (max-width: 767px) {
                background-color: white !important;
                border-bottom: none;
                padding: 10px;
            }

            &.unread {
                background-color: white;

                i {
                    display: block !important;
                    position: absolute;
                    left: -20px;
                    top: 10px;
                    font-size: 12px;
                    color: map-get($color-brands, kyna);
                    @media (max-width: 767px) {
                        position: relative;
                        float: right;
                        left: 0;
                        top: 0;
                    }
                }
            }

            &:hover {
                background-color: $gray-lighter;
            }

            &.seemore {
                height: auto;

                .content-cell {
                    .description {
                        overflow: visible;
                        white-space: normal;
                    }

                    .btn-action {
                        display: block;
                        text-align: right;

                        a {
                            padding-left: 20px;
                            color: $color-link;

                            &:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }
            }

            &.show-reply {
                .box-reply {
                    display: block !important;
                    width: 100%;
                    @include border-radius($border-radius);
                    padding: $nav-link-padding;
                }

                .btn-reply {
                    float: right;
                    display: block !important;
                    border: none;
                    padding: 4px 8px;
                    margin: 8px 0;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    @include border-radius($border-radius-lg);
                    @include button-color(map-get($color-brands, kyna));
                }
            }

            .img-cell {
                position: relative;

                .img-icon {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    bottom: 8px;
                    left: 8px;
                    object-fit: cover;
                    @media (max-width: 767px) {
                        left: -8px;
                    }
                }

                .img-avt {
                    object-fit: cover;
                    border-radius: 8px;
                    width: 60px;
                    height: 60px;
                    margin: 10px 0;
                }
            }

            .title-cell {
                padding: 0;

                .name {
                    height: 40px;
                    padding-top: 10px;
                    font-weight: bold;
                    color: map-get($color-brands, kyna);
                }

                .date {
                    padding-bottom: 10px;
                }
                @media (max-width: 767px) {
                    .date,
                    .name {
                        padding: 10px 0;
                        float: left;
                        width: 50%;
                    }

                    .date {
                        text-align: right;
                    }
                }
            }

            .content-cell {
                padding: 0 10px 0 0;

                i {
                    display: none;
                }

                .title {
                    position: relative;
                    height: 40px;
                    padding-top: 10px;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: bold;
                }

                .description {
                    position: relative;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: auto;
                    padding-top: 0;
                    padding-bottom: 10px;
                    font-weight: normal;
                    text-align: justify;
                    font-size: $font-size-root !important;
                    @media (max-width: 767px) {
                        width: 90%;
                    }
                }

                .btn-action {
                    display: none;
                }

                .box-reply {
                    display: none;
                }

                .btn-reply {
                    display: none;
                }
            }
        }
        /*.page-number{
            @include pageNumberCss;
        }*/
    }
}
/* End Messenger Courses */
/* Question Courses */
#discuss-courses-main,
#question-courses-main {
    .search-input-area {
        font-size: 0;

        .input-search {
            font-size: $font-size-root;
            border: 1px solid $gray-light;
            border-right: none;
            padding: 4px 12px;
            width: 70%;
            height: 35px;
        }

        .btn-search {
            height: 35px;
            background-color: white;
            border: 1px solid $gray-light;
            border-left: none;
            border-radius: 0;
            padding: 4px 8px;
            font-size: $font-size-root;
        }
    }
    @media (max-width: 767px) {
        #my-questions {
            background: $gray-lighter;
            margin-left: -15px;
            width: calc(100% + 30px);
            padding: 0 30px;
        }
    }

    .wrap-sort {
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
            margin-top: 10px;
        }
        height: 34px;
        line-height: 34px;

        .btn-highlight {
            @include border-radius($border-radius-lg);
            border: none;
            padding: 0 15px;
        }

        .btn-lasted {
            @include border-radius($border-radius-lg);
            border: none;
            padding: 0 15px;
            background-color: $color-body;
            color: white;
        }
    }

    .box-question {
        margin-top: 30px;
        @media (max-width: 767px) {
            &:after {
                content: none;
            }
        }

        .avt-member {
            width: 80px;
            float: left;
            padding: 10px;
            text-align: center;

            > img {
                &.icon-question {
                    height: 30px;
                    width: 30px;
                }

                &.avt {
                    margin-top: 5px;
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    @include border-radius($border-radius-lg);
                }
            }
        }

        .col-content {
            float: left;
            padding: 10px;
            width: calc(100% - 80px);
            @media (max-width: 767px) {
                width: 100%;
            }

            span {
                padding: 4px 8px;

                i {
                    color: $gray-light;

                    &.icon-circle {
                        font-size: 6px;
                    }
                }
            }

            .row-title {
                .title-name {
                    color: map-get($color-brands, kyna);
                    padding-left: 0;
                    font-weight: bold;
                }

                .title-date {
                    color: $gray-light;
                }
            }

            .row-action {
                padding: 10px 0;
            }

            .row-question {
                padding: 8px 0;
                @media (max-width: 767px) {
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .courses-style {
                color: $gray-light;

                a {
                    color: $color-link;
                }
            }

            .row-reply {
                position: relative;
                background-color: white;
                @include border-radius($border-radius);

                .calloutUpfront {
                    height: 0;
                    width: 0;
                    border-bottom: 11px solid $gray-light;
                    border-left: 9px dotted transparent;
                    border-right: 9px dotted transparent;
                    left: 0;
                    top: 1px;
                    margin-left: 20px;
                    z-index: 10;

                    .calloutUpback {
                        position: relative;
                        left: -8px;
                        top: 2px;
                        height: 0;
                        width: 0;
                        border-bottom: 10px solid white;
                        border-left: 8px dotted transparent;
                        border-right: 8px dotted transparent;
                        z-index: 11;
                    }
                }

                .txt-reply {
                    position: relative;
                    padding: 15px 10px 30px;
                    border: 1px solid $gray-light;
                    @include border-radius($border-radius);
                    height: 150px;
                    overflow: hidden;

                    &:after {
                        content: "";
                        display: block;
                        background-color: white;
                        height: 40px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                    }

                    .inner {
                        height: auto;
                        min-height: 150px;
                    }
                }

                .see-more {
                    position: absolute;
                    color: $color-link;
                    bottom: 0;
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    /*.page-number{
        @include pageNumberCss;
    }*/
}
/* End Question Courses */
/* Document Courses */

#document-courses-main {
    padding: 0;
    @media (max-width: 767px) {
        background-color: $gray-lighter;
        padding: 20px 5px;
        margin-bottom: 10px;
        margin-left: -0.9375rem;
        width: calc(100% + 0.9375rem*2);
    }

    .box-tree {
        padding: 0;

        .img-document {
            float: left;
            margin: 0 4px;
        }
        @media (min-width: 768px) {
            ul {
                margin: 15px 0;
                list-style: none;

                li {
                    padding: 10px 0;
                    font-size: $font-size-root;
                    position: relative;
                    height: auto;

                    &.root {
                        padding: 0 !important;
                        height: 30px;
                        line-height: 30px;
                        margin: 0;

                        .file-name {
                            font-size: 16px;
                            margin-left: 15px;
                            line-height: 32px;
                        }
                    }

                    &:before {
                        position: absolute;
                        left: 8px;
                        top: 0;
                        content: '';
                        display: block;
                        border-left: 1px solid $gray-light;
                        border-bottom: 1px solid $gray-light;
                        width: 20px;
                        height: 30px;
                    }

                    &:after {
                        position: absolute;
                        left: 8px;
                        bottom: -10px;
                        content: '';
                        display: block;
                        border-left: 1px solid $gray-light;
                        height: 100%;
                    }

                    &.root {
                        &:before {
                            display: none;
                        }

                        &:after {
                            display: none;
                        }
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }

                    i {
                        color: darken($gray-light, 10%);
                        float: left;
                        font-size: 18px;
                    }

                    .group-name {
                        .file-name {
                            padding-left: 5px;
                            float: left;
                            height: 40px;
                            line-height: 40px;
                        }

                        .folder-name {
                            display: none;
                        }
                    }

                    .btn-download,
                    .btn-see-online {
                        background-color: white;
                        border: 1px solid darken($gray-light, 10%);
                        font-size: $font-size-root;
                        color: #404040;
                        line-height: 30px;
                        padding: 5px 15px;

                        &:hover {
                            background: #439141;
                            color: white;
                            border: 1px solid #439141;

                            i {
                                color: white;
                            }
                        }
                    }

                    .fa-file-pdf-o {
                        position: relative;
                        top: 10px;
                        font-size: 16px;
                        margin-left: 40px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            border: 1px solid $gray-light;
            @include border-radius($border-radius-lg);
            background-color: white;

            ul {
                padding: 0;
                margin: 0;
                /*border: 1px solid $gray-light;
                @include border-radius($border-radius-lg);
                background-color: white;*/
                li {
                    &.root {
                        display: none;
                    }

                    .group-name {
                        float: left;
                        width: calc(100% - 50px);

                        .file-name,
                        .folder-name {
                            float: left;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: bold;
                        }

                        .folder-name {
                            color: $gray-light;
                            font-weight: normal;
                        }
                    }

                    button {
                        &.btn-download {
                            background-color: transparent;
                            height: 80px;
                            color: red;
                            font-size: 20px;
                        }
                    }

                    > i {
                        display: none;
                    }
                }
            }
        }
    }
}
/* End Document Courses */
/* Checkout Courses */
#checkout-courses-main {
    .row-paid {
        position: relative;
        border: 1px solid $gray-light;
        margin: 15px 0;
        @include border-radius($border-radius-lg);

        .col-paid {
            .infomation {
                padding: 20px 10px 10px 35px;

                div {
                    position: relative;
                    padding-bottom: 15px;

                    i {
                        position: absolute;
                        top: 0;
                        left: -20px;
                        line-height: 30px;
                    }
                }
            }

            .btn-paid {
                @media (max-width: 767px) {
                    width: 100%;
                }
                margin-bottom: 10px;
                @include button-color($gray-light);
            }
        }

        .col-detail {
            /*position: absolute;
            right: 0;*/
            background-color: $gray-lighter;
            height: 100%;

            .row-paid-courses {
                padding: 10px 0 0;

                &:last-child {
                    padding-bottom: 10px;
                }

                .col-image {
                    float: left;

                    img {
                        height: 60px;
                        width: 80px;
                    }
                }

                .col-info-courses {
                    float: left;
                    width: calc(100% - 80px);
                    padding-left: 10px;

                    .title {
                        position: relative;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: bold;
                    }

                    .author {
                        position: relative;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: normal;
                    }

                    .price {
                        color: $color-price;
                    }
                }
            }
        }
    }
}
/* End Checkout Courses */
/* Notification Courses*/
#notification-courses-main {
    a {
        color: $color-link;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-decoration: underline !important;
        }
    }

    .action-notification {
        padding: 0;

        ul.k-listing-characteristics-list {
            padding: 15px;
        }
    }

    .content-notification {
        h3 {
            margin: 0;
            padding: 15px;
            font-size: 14px;
            font-weight: 500;
        }

        .wrap-content {
            @media (max-width: 767px) {
                border: 1px solid $gray-light;
                @include border-radius($border-radius-lg);

                .row-fluid {
                    border-bottom: 1px solid $gray-light;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .col-icon,
            .col-text {
                position: relative;
                float: left;
                width: auto;
                min-height: 80px;
                padding: 10px;
                background-color: transparent;

                i {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    font-size: 60px;
                }
                @media (max-width: 767px) {
                    width: 80px;
                    padding: 15px 5px;

                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 30px;
                    }
                }
            }

            .col-text {
                padding: 20px 15px;
                width: calc(100% - 88px);

                .notif-time {
                    color: $gray-light;
                    @media (max-width: 767px) {
                        text-align: right;
                    }
                }
            }

            .unread {
                background-color: #E9FFD1;
            }
        }

        .loading {
            position: relative;
            margin-top: 10px;
            margin-bottom: 30px;
            height: 60px;
            text-align: center;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
/* EndNotification Courses*/
/* Menu Account Mobile */

#myaccount-main {
    .avatar-acount {
        margin: 20px auto;
        text-align: center;

        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            object-fit: cover;
        }

        .name {
            padding-top: 10px;
            font-weight: bold;
        }
    }

    .info-account {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid $gray-lighter;
        @include border-radius($border-radius-lg);

        ul {
            margin: 0;

            li {
                position: relative;
                height: 55px;
                line-height: 40px;
                padding: 5px 0;

                i:before {
                    top: 5px;
                }

                .lab {
                    padding: 0 3px;
                }

                .result {
                    padding: 0 3px;
                    font-weight: bold;
                }
            }
        }
    }

    .action-account {
        margin-bottom: 30px;
        padding: 0;

        ul {
            border: 1px solid $gray-lighter;

            a {
                cursor: pointer;
                color: $primary-color-edit;
            }

            li {
                padding-left: 55px;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid $gray-lighter;

                i {
                    position: absolute;
                    left: 30px;
                    font-size: 20px;
                }
            }

            &:last-child li {
                border-bottom: none;
            }
        }
    }
}
/* End Menu Account Mobile */
/* CSS Modal Popup View */
.modal.modal-efitprofile {
    .modal-dialog {
        width: 767px !important;
        @media (max-width: 767px) {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .modal-content {
            border: none;
            @media (max-width: 767px) {
                border-radius: 0;
            }

            .modal-body {
                padding: 25px 10px !important;

                .header-modal {
                    display: none;
                    @media (max-width: 767px) {
                        display: block;
                    }
                    padding: 10px;
                    height: 80px;
                    text-align: center;
                    box-shadow: 0 1px 5px $gray-lighter;

                    span {
                        position: absolute;
                        height: 60px;
                        line-height: 60px;
                        left: 10px;
                        cursor: pointer;
                    }
                }

                #profile-form {
                    @media (max-width: 767px) {
                        background-color: $gray-lighter;
                        @include border-radius($border-radius-lg);
                        padding-top: 20px;
                    }
                }

                h4 {
                    text-align: center;
                    font-size: 16px;
                    color: $color-body;
                    margin: 0 0 35px;
                }

                .wrap-top {}

                .wrap-center {
                    padding-bottom: 20px;

                    .input {
                        margin: 10px 0;

                        .left {
                            @media (max-width: 767px) {
                                display: none;
                            }
                            padding: 0;

                            label {
                                font-weight: bold;
                                padding-left: 0;
                            }
                        }

                        .right {
                            span.icon {
                                position: absolute;
                                line-height: 33px;
                                padding: 0 10px;
                            }

                            .form-control {
                                padding-left: 30px;
                                @include border-radius($border-radius);
                            }

                            #profileform-gender {
                                ul {
                                    padding: 0;
                                    margin-bottom: 0;
                                    display: -webkit-box;

                                    li {
                                        margin-bottom: 0;
                                    }
                                }

                                .radio + .radio {
                                    margin-top: 0;
                                }
                            }
                        }

                        .img-avatar {
                            @media (max-width: 767px) {
                                width: 80px;
                                height: 80px;
                                border-radius: 100%;
                            }
                            position: relative;
                            height: 150px;
                            width: 150px;
                            background-size: cover;
                            background-position: center;
                            margin: 0 auto;

                            .wrap-upload {
                                @media (max-width: 767px) {
                                    line-height: 80px;
                                    border-radius: 100%;
                                }
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                line-height: 150px;
                                text-align: center;
                                background-color: rgba(0, 0, 0, 0.46);
                                font-size: 26px;
                                color: white;
                                cursor: pointer;
                                opacity: 0;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .wrap-change-pass {
                        display: none;

                        &.open {
                            display: block;
                        }
                    }

                    input,
                    select,
                    select option {
                        font-size: $font-size-root;
                    }
                }

                .wrap-footer {
                    padding-top: 20px;
                    border-top: 1px solid $gray-lighter;
                    @media (max-width: 767px) {
                        border-top: none;
                    }

                    .right {
                        button.button {
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                            background-color: map-get($color-brands, kyna);
                            color: white;
                            padding: 10px 25px;
                            border-bottom: 2px solid $last-color-kyna;
                            border-right: none;
                            border-top: none;
                            border-left: none;
                            @include border-radius($border-radius-lg);
                            font-size: 16px;
                            margin-top: 3px;
                        }

                        button.button:hover {
                            background: $secondary-color-kyna !important;
                        }

                        .button-close {
                            @media (max-width: 767px) {
                                display: none;
                            }
                            color: $color-body;
                            margin-left: 20px;
                            text-decoration: underline !important;
                        }

                        .button-close:hover {
                            color: $color-link;
                        }
                    }
                }

                .line {
                    display: inline-block;
                    width: 100%;
                    padding: 7px 15px 0;

                    span {
                        height: 2px;
                        width: 100%;
                        background: $gray-light;
                        display: inline-block;
                    }
                }

                span.icon i {
                    color: $navbar-light-disabled-color;
                }

                #click-change-pass {
                    line-height: 38px;
                    color: $color-link;
                    font-weight: bold;
                    text-decoration: underline !important;
                }
            }
        }
    }
    @media (max-width: 767px) {
        &.fade .modal-dialog {
            -webkit-transform: translateX(-105%) !important;
            transform: translateX(-105%) !important;
        }

        &.in .modal-dialog {
            -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
        }
    }
}
/* End CSS Modal Popup View */
/* CSS Modal Popup Active COD View */
.modal.modal-activeCOD {
    .modal-dialog {
        width: 300px;

        .modal-content {
            .model-header {
                text-align: right;
                border-bottom: 1px solid $gray-lighter;

                span {
                    padding: 15px;
                    font-size: 12px;
                    cursor: pointer;
                    display: block;
                }
            }

            .modal-body {
                padding: 25px 15px 30px;

                center h4 {
                    margin-bottom: 25px;
                }

                .error-report {
                    color: #ff4646;
                    padding: $nav-link-padding;
                    border: 1px solid #ff4646;
                    margin-top: 30px;
                    margin-bottom: 10px;

                    i {
                        font-size: 24px;
                    }

                    p {
                        margin: 0;
                        text-align: center;
                    }

                    ul {
                        margin: 0;
                        text-align: center;
                    }
                }

                .input-cod {
                    .icon {
                        position: absolute;
                        line-height: 33px;
                        padding: 0 10px;
                    }

                    .form-control {
                        @include border-radius($border-radius);
                        padding-left: 30px;
                    }
                }

                .question-cod {
                    margin-top: 10px;
                    cursor: pointer;
                    color: $gray-light;
                    text-align: center;

                    i {
                        font-size: 18px;
                    }
                }

                .btn-active-cod {
                    margin-top: 20px;
                    @include button-color(map-get($color-brands, kyna));
                }
            }
        }
    }
}
/* End CSS Modal Popup Active COD View */
/* CSS ICON HEADER COURSES*/
.img-courses {
    width: 50px;
    height: 50px;
    margin: auto;
    @include icon-main;
    background-position-x: -50px;
}

.img-count-courses {
    background-position-y: -4937px;
}

.img-document-courses {
    background-position-y: -5037px;
}

.img-question-courses {
    background-position-y: -4837px;
}

.img-kpoint-courses {
    background-position-y: -6761px;
}

.img-courses-small {
    width: 31px;
    height: 30px;
    float: left;
    margin-right: 10px;
    @include icon-main;
    background-position-x: -48px;
}

.img-count-courses-small {
    background-position-y: -10960px;
}

.img-percomplete-courses-small {
    background-position-y: -11040px;
}

.img-document-courses-small {
    background-position-y: -11120px;
}

.img-question-courses-small {
    background-position-y: -11201px;
}

.img-kpoint-courses-small {
    background-position-y: -11281px;
}

.img-favorite-courses {
    width: 44px;
    height: 40px;
    @include icon-main;
    background-position-x: -50px;
    background-position-y: -4749px;
    background-color: white;
    position: relative;
    border: none;
    @include border-radius($border-radius-lg);

    &:active,
    &:focus {
        @include icon-main;
        outline: none;
    }
}
/* END CSS ICON HEADER COURSES*/
/* IMG NOTIFICATION */
.img-notification {
    width: 68px;
    height: 68px;
    @include icon-main;
    background-position-x: -50px;
    background-color: transparent;
}

.img-reply {
    background-position-y: -14120px;
}

.img-discuss {
    background-position-y: -14213px;
}

.img-not-continue-learn {
    background-position-y: -14303px;
}

.img-on-sale {
    background-position-y: -14393px;
}

.img-not-vote {
    background-position-y: -14483px;
}

.img-new-mesenger {
    background-position-y: -14573px;
}

.img-sale-all {
    background-position-y: -14663px;
}

.img-new-courses {
    background-position-y: -14753px;
}

.img-k-point-courses {
    background-position-y: -14843px;
}

.img-k-point-request {
    background-position-y: -14933px;
}

.img-new-courses-author {
    background-position-y: -15022px;
}
@media (max-width: 767px) {
    .img-notification {
        width: 50px;
        height: 34px;
        background-position-x: -10px;
        background-size: 237px auto;
    }

    .img-reply {
        background-position-y: -7060px;
    }

    .img-discuss {
        background-position-y: -7106px;
    }

    .img-not-continue-learn {
        background-position-y: -7151px;
    }

    .img-on-sale {
        background-position-y: -7196px;
    }

    .img-not-vote {
        background-position-y: -7241px;
    }

    .img-new-mesenger {
        background-position-y: -7286px;
    }

    .img-sale-all {
        background-position-y: -7331px;
    }

    .img-new-courses {
        background-position-y: -7376px;
    }

    .img-k-point-courses {
        background-position-y: -7421px;
    }

    .img-k-point-request {
        background-position-y: -7466px;
    }

    .img-new-courses-author {
        background-position-y: -7510px;
    }
}
/* END IMG NOTIFICATION */
/* IMG CHECK OUT*/
.img-checkout {
    width: 22px;
    height: 22px;
    @include icon-main;
    background-position-x: -50px;
    background-color: transparent;
    position: absolute !important;
    left: -25px;
}

.img-id-checkout {
    background-position-y: -6488px;
}

.img-date-checkout {
    background-position-y: -6559px;
}

.img-pay-checkout {
    background-position-y: -6627px;
}

.img-money-checkout {
    background-position-y: -6693px;
}
/* END IMG CHECK OUT*/
.page-number {
    position: relative;
    text-align: center;
    float: right;
    @media (max-width: 767px) {
        float: none;
    }
    margin-top: 10px;
    background-color: transparent;

    span {
        a {
            color: black;
        }

        &.current,
        &:hover {
            a {
                color: $color-link;
                text-decoration: underline !important;
            }
        }

        &.next,
        &.prev {
            position: relative;
            top: -3px;
            font-size: 8px;
            background-color: $gray-lighter;
            padding: 3px;

            a {
                color: $color-link;
            }

            &:hover {
                a {
                    text-decoration: none !important;
                }
            }
        }
    }
}

#profileform-gender {
    label {
        background: url('/src/img/icon-input.png') no-repeat;
        padding-left: 30px;
        background-position: -75px -181px;
        margin-right: 12px;
    }

    label.selected {
        background: url('/src/img/icon-input.png') no-repeat;
        padding-left: 30px;
        background-position: -75px -85px;
        margin-right: 12px;
    }

    .gender-label input[type=radio]:not(old) {
        width: 4px;
    }
}

div[class^='form-group field-checkbox'] {
    padding-left: 30px;

    label {
        background: url('/src/img/icon-input.png') no-repeat;
        padding-left: 30px;
        background-position: -75px -329px;
        margin-right: 15px;
        height: 25px;
    }

    label.selected {
        background: url('/src/img/icon-input.png') no-repeat;
        padding-left: 30px;
        background-position: -75px -238px;
        margin-right: 15px;
    }

    input[type=checkbox]:not(old) {
        opacity: 0;
        width: 0;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #menu-courses.nav.nav-tabs {
        display: none !important;
    }

    #k-courses-header.k-height-header.k-header-edit-profile {
        display: block !important;
    }

    .body-courses-section {
        #menu-courses-mob {
            border-bottom: 1px solid $gray-lighter;

            #scroll-tab-menu-course {
                > ul {
                    margin: 0 auto;
                    display: table !important;
                    position: relative;
                    top: 1px;
                    width: auto;

                    > li:active-tab,
                    > li:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }

    #myaccount-main {
        .info-account {
            width: 49%;
            float: left;
            padding: 0 15px;
            border: none;

            > ul {
                padding: 10px;
                border: 1px solid #F5F5F5;
                border-radius: 5px;
                min-height: 210px;
            }
        }

        .action-account {
            position: relative;
            margin-bottom: 30px;
            width: 49%;
            float: left;
            padding: 0 15px;

            > ul {
                min-height: 210px;

                > li i {
                    left: 45px;
                }
            }
        }
    }
}

.modal-open {}

#k-courses-header {
    .k-courses-header-close {
        display: none;
    }

    .model-close-edit-profile {
        text-align: right;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: 12px;
        position: relative;
        top: -20px;
        display: none;
        border-bottom: 1px solid $gray-light;

        span {
            cursor: pointer;
        }
    }
}

#modal.k-popup-lesson #k-courses-header {
    margin-top: 0 !important;

    .model-close-edit-profile {
        display: block;
    }
}
//Box-Courses

#mycourses-main .k-box-course {
    .link-wrap {
        position: relative;

        .content {
            color: $color-body;
        }
    }

    .s-rating {
        .text-progress {
            font-weight: bold;
            color: $color-price;
        }

        .btn-group {
            top: -5px;

            .btn {
                padding: 0;
                border: none;
                background-color: transparent;

                i.color-rating {
                    color: $color-star;
                }

                i.icon-star-half:before {
                    content: "\7a" !important;
                }

                &:focus {
                    outline: none;
                }

                &.active {
                    i {
                        color: $color-star;
                    }
                }
            }
        }
    }
}
// History Kpoint Page

#menu-kpoint {
    ul {
        padding: 0 15px;

        li {
            a {
                padding: 10px 15px;
            }
        }
    }
    @media (max-width: 767px) {
        ul li a {
            padding: 3px 15px;
        }
    }
    @media (max-width: 575px) {
        ul {
            padding: 0;
        }
    }
}

#point-history-main {
    .point-history-banner {
        width: 100%;
        height: 100px;
        background-image: url("../img/kpoint/img-banner-history-kpoint.jpg");
        background-size: cover;
        background-position: center;
        padding: 15px;

        .box-total {
            width: 25%;
            float: left;
            color: white;
            padding: 10px 0;

            img {
                float: left;
            }

            .text {
                float: left;
                width: calc(100% - 52px);
                padding-left: 10px;

                span {
                    &:first-child {
                        font-size: 16px;
                    }

                    &:last-child {
                        font-size: 18px;

                        b {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .box-button {
            width: 50%;
            float: left;

            .btn-change-kpoint {
                font-size: 24px;
                background-image: url("../img/kpoint/btn-change-kpoint.png");
                width: 248px;
                height: 78px;
                color: #333;
                padding: 13px 0;
                font-weight: 700;
            }
        }
    }

    .point-history-list {
        padding: 0 15px;
        margin: 15px 0;
        border: 1px solid #ddd;
        border-radius: 5px;

        .list-point-title {
            font-size: 16px;
            font-weight: bold;
            padding: 10px 15px;
            margin: 0 -15px;
            background-color: #eee;
        }

        .list-point-detail {
            .item-point-detail {
                padding: 10px 0;
                border-top: 1px solid #ddd;

                .img-item {
                    width: 60px;
                    float: left;
                }

                .info-item {
                    width: calc(100% - 150px);
                    float: left;
                    padding-left: 15px;

                    div {
                        display: table-cell;
                        width: 100%;
                        height: 60px;
                        vertical-align: middle;

                        span {
                            &:first-child {
                                color: #ddd;
                                font-size: 12px;
                            }

                            &:last-child {
                                font-size: 14px;
                            }
                        }
                    }

                    span i {
                        position: relative;
                        color: #4fab4d;
                        cursor: pointer;

                        .popup-guide {
                            display: none;
                            font-family: 'Roboto', sans-serif;
                            width: 300px;
                            color: black;
                            left: -62px;
                            top: 17px;
                            line-height: 1.5;
                            height: auto;
                        }

                        &:hover {
                            .popup-guide {
                                display: block;
                            }
                        }
                    }
                }

                .kpoint-item {
                    width: 90px;
                    float: right;
                    text-align: right;

                    div {
                        display: table-cell;
                        width: 90px;
                        height: 60px;
                        vertical-align: middle;

                        span {
                            &:first-child {
                                color: #f42424;
                                font-size: 16px;
                                font-weight: bold;

                                &.positiveNum {
                                    color: #50ad4e;
                                }
                            }

                            &:last-child {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            > div:first-child > .item-point-detail {
                border-top: none;
            }

            > div:last-child > .item-point-detail .info-item span i .popup-guide {
                top: auto;
                bottom: 25px;

                &:before {
                    content: "\21";
                    top: auto;
                    bottom: -10px;
                    text-shadow: 0 3px 5px gainsboro;
                }
            }
        }

        .pull-right .pagination {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
    @media (max-width: 991px) {
        .point-history-banner {
            .box-total {
                width: 30%;
            }

            .box-button {
                width: 40%;
            }
        }
    }
    @media (max-width: 767px) {
        .point-history-banner {
            height: auto;

            .box-total {
                width: 50%;
            }

            .box-button {
                width: 100%;
                margin-top: 10px;
                text-align: center;

                .btn-change-kpoint {
                    background-size: cover;
                    width: 170px;
                    height: 53px;
                    padding: 12px 0;
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        padding: 0;

        .point-history-banner {
            padding-top: 0;
            padding-bottom: 0;

            .box-total {
                width: 100%;
                float: none;
            }

            .box-button {
                width: 100%;
                float: none;
                margin-top: 0;
            }
        }

        .point-history-list {
            .list-point-detail {
                .item-point-detail {
                    position: relative;

                    .info-item {
                        width: 100%;
                        padding-left: 0;
                    }

                    .kpoint-item {
                        position: absolute;
                        right: 0;
                        top: 10px;
                    }
                }
            }
        }
    }
}
// History Voucher/Coupon page-number

#promotion-history-main {
    .promotion-tutorial {
        text-align: right;

        a {
            color: #666;
        }
    }

    .promotion-history-list {
        padding: 0 15px;
        margin: 15px 0;
        border: 1px solid #ddd;
        border-radius: 5px;

        .list-promotion-title {
            font-size: 16px;
            font-weight: bold;
            padding: 10px 15px;
            margin: 0 -15px;
            background-color: #eee;
        }

        .list-view {
            .promotion-items {
                .promotion-detail {
                    padding: 10px 0;

                    .green {
                        color: #3fb140;
                    }

                    .gray {
                        color: #666;
                    }
                }

                .promotion-button {
                    padding-top: 15px;
                    padding-bottom: 15px;

                    button {
                        background-color: rgba(0,0,0,0);
                        color: #eb000b;
                        border: 1px solid #eb000b;
                        border-radius: 5px;
                        width: 100%;
                        font-weight: bold;

                        &.btn-used {
                            color: #666;
                            border-color: #666;
                        }
                    }
                }

                > div {
                    border-top: 1px solid #ddd;

                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .promotion-history-list {
            .list-view {
                .promotion-items {
                    .box {
                        padding: 15px 0;
                    }

                    .promotion-detail {
                        padding: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 575px) {
        padding: 0;
    }
}
