.k-detail {
    .k-header-wrap {
        margin-bottom: 0;
        @media(min-width: 992px){
            position: initial !important;
        }
    }
    @media (max-width: 991px) {
        main {
            overflow: hidden;
            z-index: 12;
        }
    }
}

.k-course-details-header {
    padding-top: 30px;

    .k-course-details-video .videoWrapper .label-wrap,
    .k-course-details-video .videoWrapper .rating-box {
        display: none;
    }

    .k-course-details-title {
        margin-bottom: 15px;
        padding: 0 15px;

        > a{
            font-weight: 700;
            color: #000;
        }

        h1 {
            font-size: 25px;
            font-weight: 600;
            line-height: 35px;
            margin: 0 0 10px;
            color: $primary-color-kyna;
        }

        span {
            font-size: 14px;
            color: $base-font-color;
            font-weight: 400;
        }

        .rating-box {
            .rating-text {
                color: #489b46;

                b {
                    background-color: #fff;
                }

                i {
                    color: #489b46;
                }
            }
        }
    }

    .k-course-details-info {
        .list {
            margin-bottom: 0;
        }

        .box-style {
            span {
                @include border-radius(3px);
                width: auto;
                color: white;
                font-size: 15px;
                display: inline-block;
                line-height: 1.35;
                text-align: center;
                padding: 5px 13px;
                font-weight: bold;

                &.st-video {
                    background-color: #f84b2f;
                }

                &.st-app {
                    background-color: #053d92;
                }

                &.st-combo {
                    background-color: #fb6a00;
                }

                &.time {
                    background-color: #a7b3c1;
                }
            }
        }

        .box-info {
            .wrapper {
                display: flex;
                .item {
                    flex: 1;
                    text-align: center;
                    .number {
                        font-size: 20px;
                        font-weight: bold;
                        color: $primary-color-kyna;
                    }
                    .text {
                        font-size: 15px;
                    }
                }
            }
        }
        .review {
            .icon-star-list {
                color: $base-font-color;
            }
        }

        .price-list {
            padding: 10px 0;
            color: $primary-color-price;
            font-size: 14px;


            .clock-flash-sale{
                overflow: hidden;
                margin: 5px -3px;
                @media(max-width: 1024px){
                    max-width: 300px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                }
                @media(max-width: 425px){
                    margin-top: 20px;
                }
                .col-xs-4{
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                    .clock-flash-sale-card{
                        border: 1px solid #f82723;
                        background: #ffffff;
                        border-radius: 5px;
                        p{
                            text-align: center;
                            color: #656565;
                            padding-top: 5px;
                            line-height: 1;
                            padding-bottom: 5px;
                            margin-bottom: 0;
                            span{
                                display: block;
                                font-size: 22px;
                                color: #f82723;
                                font-weight: 700;
                                line-height: 1;


                            }
                        }
                    }
                }
            }
            .price-sale {
                font-size: 20px;

                span {
                    font-size: 16px;
                }
            }

            .price-old {
                color: #999;
                padding: 0 5px;
            }

            .price-discount {
                color: #f82f2f;
                font-weight: bold;
            }

            @media (max-width: 1199px) {
                ul {
                    background-color: #f5f5f5;
                    padding: 20px 0;
                    li {
                        max-width: 300px;
                        width: 100%;
                        margin: auto;
                        text-align: center;
                        -webkit-border-radius: 99px;
                        -moz-border-radius: 99px;
                        border-radius: 99px;
                        background-color: #fff;
                        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
                        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
                        padding: 10px 0;
                        line-height: 1.2;
                    }
                }
                div {
                    i, .label {
                        font-size: 15px;
                        color: $primary-color-price;
                    }
                }
                .price-discount {
                    background-color: #f82f2f;
                    color: white;
                    padding: 1px 5px;
                    border-radius: 3px;
                }
            }
        }

        .button {
            @media (max-width: 991px) {
                position: fixed;
                z-index: 2;
                bottom: 0;
                width: 602.5px;
            }
            @media (max-width: 767px) {
                width: 516px;
            }
            @media (max-width: 580px) {
                width: 100%;
                left: 0;
            }
            ul {
                padding: 0;
                display: inline-block;
                width: 100%;
                margin: 15px 0;

                @media (max-width: 991px) {
                    margin: 0;
                }
                li {
                    width: 100%;
                    padding: 5px 0;

                    @media (max-width: 991px) {
                        padding: 0;
                    }
                    .btn-buy-now {
                        @include button-color($color-price);
                        width: 100%;
                        font-size: 24px;
                        background: #fb6a00;
                        padding: 5px 35px;
                        &.reg {
                            background: darken($color-price, 30%);
                            border-bottom: 2px solid #a54804;
                        }
                    }

                    .btn-block {
                        padding: 8px 0px;
                        border: 2px solid #ccc;
                        display: inline-block;
                        border-radius: 3px;
                        width: 100%;
                        color: #fff;
                        text-align: center;
                        font-size: 20px;
                        background: #ccc;
                        @media (max-width: 991px) {
                            border-radius: 0;
                        }
                        @media (max-width: 543px) {
                            font-size: 16px;
                            padding: 13px 0;
                        }
                        &.vao-lop-hoc{
                            background-color: #50ad4e;
                            border-color: #50ad4e;
                        }
                        &:hover {
                            background: #bbb;
                        }
                    }

                    .go-to-cart {
                        color: #333;
                        border: 2px solid #ddd;
                        display: inline-block;
                        border-radius: 3px;
                        transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                        padding: 7.5px 35px;
                        background: transparent;
                        &:hover {
                            background: transparent;
                            border: 2px solid darken(#ddd, 30%);
                        }
                        @media (max-width: 991px) {
                            color: white;
                            border-bottom: 2px solid #e25f00;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            border-radius: 0;
                            background-color: #fb6a00;
                            &:hover {
                                background-color: darken(#fb6a00, 30%);
                                border: none;
                            }
                        }
                    }

                    &.alert-add-to-cart {
                        position: relative;
                        margin-top: 5px;

                        a {
                            color: black;

                            &:hover {
                                color: #333;
                            }
                        }

                        &:before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            background-color: #b5b5b5;
                            top: 20px;
                        }
                    }
                    /*
                    &:last-child {
                        a {
                            @include border-radius(3px);
                            border: 1px solid $color-link;
                            width: 100%;
                            display: inline-block;
                            font-size: 16px;
                            padding: 10px 35px;
                            i {
                                margin-right: 10px;
                                font-size: 16px;
                            }
                        }

                    }
                    */
                }
            }
        }

        .info {
            width: 100%;
            display: inline-block;

            .detail-info {
                padding: 15px;
                border: 1px solid #ddd;

                li {
                    position: relative;
                    padding: 10px 0 10px 30px;
                    font-size: 14px;
                    color: #333;
                    line-height: 1;

                    @media (max-width: 1199px) {
                        font-weight: bold;

                        .red {
                            color: #f84b2f;
                        }
                        .blue {
                            color: #053d92;
                        }
                        .orange {
                            color: #fb6a00;
                        }
                    }

                    i {
                        font-size: 15px;
                        position: absolute;
                        top: calc(50% - 7.5px);
                        left: 0;
                        line-height: 1;
                    }
                }
            }
        }

        .bought-status {
            margin-top: 5px;
        }
    }
}

.k-course-details-main {
    background: #F5F5F5;
    padding-top: 20px;
    @media(max-width: 991px) {
        padding-top: 0;
    }
    .k-course-details-about {
        b,
        em,
        li,
        p,
        span,
        strong {
            font-size: 14px;
        }

        ul.list {
            display: table;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            overflow: hidden;

            li {
                position: relative;
                font-size: 16px;
                /*
                display: table-cell;
                */
                display: inline-block;

                a {
                    color: $base-font-color;
                    padding: 13px 20px;
                    display: block;
                    width: 100%;
                    font-weight: bold;
                }

                &:first-child,
                &:hover {
                    a {
                        color: #fff;
                        background: $primary-color-kyna;
                        display: inline-block;
                    }
                }
            }
        }

        .title-content {
            font-size: 20px;
        }

        .course-overview {
            margin-top: 5px;
            padding: 20px;
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            position: relative;
            strong{
                font-size: inherit !important;
            }
            span{
                font-size: inherit !important;
            }
            em{
                font-size: inherit !important;
            }
            .title {
                font-size: 24px;
                font-weight: bold;
            }

            h3 {
                font-size: 16px !important;
                font-weight: bold !important;
            }

            h2 {
                font-size: 18px !important;
                font-weight: bold !important;
            }
            h1{
                font-weight: bold !important;
            }
            h4{
                font-weight: bold !important;
            }
            h5{
                font-weight: bold !important;
            }
            h6{
                font-weight: bold !important;
            }

            a {
                text-decoration: underline !important;
            }
            ul{
                -webkit-padding-start: 40px;
                -ms-padding-start: 40px;
                li{
                    list-style-type: disc;
                }
            }
            ol{
                li{
                    list-style-type: decimal;
                }
            }

            li {
                font-size: 14px !important;
            }

            .content-list {
                li {
                    padding: 10px 0;
                    line-height: 1.4;

                    i {
                        color: #50ad4e;
                    }
                }
                @media (max-width: 991px) {
                    max-height: 200px;
                    overflow: hidden;
                    margin-bottom: 15px;
                }
            }
            .showmore-content-2 {
                display: none;
            }
            .showmore-content-1, .showmore-content-2 {
                width: 100%;
                text-align: center;
                border: 2px solid #50ad4e;
                color: #50ad4e;
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
                padding: 7px;
                border-radius: 4px;
                cursor: pointer;
            }
            #showmore-content:checked ~ .content-list {
                max-height: none;
            }
            #showmore-content:checked ~ .showmore-content-1 {
                display: none;
            }
            #showmore-content:checked ~ .showmore-content-2 {
                display: block;
            }

            @media (min-width: 992px) {
                .showmore-content-1 {
                    display: none;
                }
                #showmore-content:checked ~ .showmore-content-2 {
                    display: none;
                }
            }
            .slider-review {
                margin-bottom: 20px;
                padding: 20px;
                border: 1px solid #ddd;
                .slider-title {
                    font-size: 18px;
                    font-weight: bold;
                    color: #50ad4e;
                    text-align: center;
                }

                .slider-top {
                    margin-left: 50px;
                    margin-right: 50px;

                    .slick-arrow {
                        position: absolute;
                        top: calc(50% - 20px);
                        font-size: 20px;
                        width: 30px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        background-color: #50ad4e;
                        color: #fff;
                        border-radius: 3px;
                        cursor: pointer;

                        &.fa-chevron-left {
                            left: -50px;
                        }

                        &.fa-chevron-right {
                            right: -50px;
                        }
                    }
                }

                .slider-bottom {
                    max-width: 180px;
                    margin: 15px auto 0;
                    &.dupble {
                        max-width: 120px;
                    }
                    .image {
                        text-align: center;

                        img {
                            display: inline;
                            margin-top: 15px;
                            width: 30px;
                            transition: all 0.3s ease;
                            cursor: pointer;
                        }

                        &.slick-current img {
                            margin-top: 0;
                            width: 60px;
                            transition: all 0.3s ease;
                        }
                    }
                }
            }

            .box-application {
                .course-app {
                    padding: 10px;
                    background-color: #f5f5f5;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    margin-bottom: 20px;

                    i {
                        font-size: 28px;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: #053d92;
                        line-height: 40px;
                        text-align: center;
                        float: left;
                    }

                    .desc {
                        float: left;
                        width: calc(100% - 40px);
                        padding-left: 15px;
                        line-height: 1;

                        p {
                            margin: 0;

                            &:last-child {
                                margin-top: 12px;
                            }
                        }
                    }
                }

                .course-app-link {
                    padding: 0 0 20px;

                    .app-tit {
                        padding-top: 5px;
                        line-height: 1.4;
                        float: left;
                    }

                    .app-box-url {
                        float: right;

                        .url {
                            img {
                                border: 2px solid #f5f5f5;
                                padding: 6px 11px;
                                -webkit-border-radius: 2px;
                                -moz-border-radius: 2px;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }

            .showmore-combo {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                text-align: center;
                height: 30px;
                line-height: 35px;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0);
                background: -webkit-gradient(linear, rgba(255, 255, 255, .2), white);
                background: -o-linear-gradient(rgba(255, 255, 255, .1), white);
                background: -ms-linear-gradient(rgba(255, 255, 255, .1), white);
                background: -moz-linear-gradient(rgba(255, 255, 255, .1), white);
                background: linear-gradient(rgba(255, 255, 255, .1), white);
                color: #fb6a00;
                cursor: pointer;
                font-size: 16px;
                margin: 0 -1px;
                @media (min-width: 768px) {
                    display: none;
                }
            }
            #showmore {
                display: none;
            }
            .showmore-combo:after {
                content: "Xem th\00EA m";
            }
            #showmore:checked + .showmore-combo:after {
                content: "Thu g\1ECD n";
            }
            #showmore:checked + .showmore-combo {
                bottom: 0;
                background: none;
            }
            #showmore:checked ~ div {
                height: 100%;
            }
            .text {
                background: #fff;
                font-size: 14px;
                text-align: justify;
                overflow: hidden;
                height: 100px;
                @media (min-width: 768px) {
                    height: 100%;
                }
            }
        }
        // p {
        //     background: white;
        //     padding: 15px;
        //     font-size: 14px;
        // }
    }

    .k-course-details-curriculum {
        background-color: #fff;
        margin-top: 15px;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        h3 {
            font-size: 24px;
            padding-bottom: 10px;
            margin: 0;
            font-weight: bold;
            @media (max-width: 991px) {
                font-weight: normal;
            }
        }

        ul {
            li {
                h4 {
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #50ad4e;
                    padding: 15px 0;
                    margin-bottom: 0;
                    line-height: 20px;
                    font-weight: 700;
                }
                display: inline-block;
                width: 100%;
                padding: 0;
                margin: 0;

                span {
                    // font-size: 13px !important;
                    padding: 0;
                    display: inline-block;
                    width: 100%;
                    img {
                        margin-right: 5px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                i {
                    font-size: 30px;
                    position: relative;
                    color: #D93939;
                    margin-right: 10px;
                }
            }
        }
    }
}

.k-course-details-screenshot {
    padding: 20px;
    background-color: #fff;
    margin-top: 5px;
    .slider-title {
        font-size: 24px;
        font-weight: bold;
    }

    .slider-image {
        .item {
            padding: 0 10px;
            opacity: 0.3;

            &.slick-current {
                opacity: 1;
            }

            img {
                width: 100%;
            }
        }

        .slick-arrow {
            position: absolute;
            top: calc(50% - 20px);
            font-size: 20px;
            width: 30px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #50ad4e;
            color: #fff;
            border-radius: 3px;
            z-index: 1;
            cursor: pointer;

            &.fa-chevron-left {
                left: 0;
            }

            &.fa-chevron-right {
                right: 0;
            }
        }
    }

    .slider-content {
        margin-top: 20px;

        .item p {
            text-align: center;
            line-height: 1.55;
            margin-bottom: 0;
        }

        .slick-dots li {
            button:before {
                font-family: 'slick';
                font-size: 14px;
                opacity: 1;
                color: #ddd;
            }

            &.slick-active {
                button:before {
                    color: #50ad4e;
                }
            }
        }
    }
    .slider-image-single {
        width: 100%;
        max-width: 510px;
        margin: 0 auto 20px;
        padding: 0 10px;
        text-align: center;
        img {
            width: 100%;
        }
    }
    .slider-content-single {
        text-align: center;
    }
}

.k-course-details-author {
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    @media (max-width: 543px) {
        margin-bottom: 20px;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        @media (max-width: 992px) {
            font-weight: normal;
        }
    }

    ul {
        margin: 15px 0 0;
        padding: 0;
        display: inline-block;
        width: 100%;
        .k-course-details-author-img {
            width: 115px;
            min-height: 1px;
            display: inline-block;
            float: left;
            padding-right: 15px;

            img {
                width: 100px;
                height: 100px;
                position: relative;
                border-radius: 50%;
                z-index: 1;
                object-fit: cover;
            }
        }

        .k-course-details-author-teacher {
            position: relative;
            width: calc(100% - 115px);
            display: inline-block;
            float: left;
            padding-left: 20px;
            .k-course-details-author-teacher-title {
                float: left;
                width: calc(100% - 220px);
                .name {
                    display: block;
                    font-size: 16px;
                    font-weight: 700;
                }

                .info {
                    display: block;
                    color: #929292;
                    margin-bottom: 10px;
                }
            }

            .btn-info-teacher {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-color: #50ad4e;
                transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                line-height: 40px;
                padding: 0 20px;
                border: none;
                position: absolute;
                right: 0;
                top: 0;
                &.main{
                    box-shadow: 0 5px 10px 0 rgba(80, 173, 78, 0.3);
                }
                &:hover{
                    background-color: darken(#50ad4e, 30%);
                }
            }

            .max-height {
                max-height: 92px;
                overflow: hidden;
                -webkit-transition: display 5s ease;
                -moz-transition: display 5s ease;
                -o-transition: display 5s ease;
            }

            .content-teacher {
                overflow: hidden;
                margin: 0;
                float: left;

                & * *:first-child {
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: block-axis;
                    -webkit-line-clamp: 2;
                    line-height: 1.5;
                    overflow: hidden;
                }
            }

            .collapse-more {
                background-color: rgba(255, 255, 255, 0.9);
                width: 100%;
                padding: 40px 10px 0 0;
                position: absolute;
                bottom: 40px;
                left: 0;
            }

            .read-more {
                text-align: center;
                width: 100%;
                display: inline-block;

                a {
                    position: relative;
                    color: $primary-color-kyna;
                    font-weight: 500;
                    display: inline-block;
                    width: 100px;
                    padding-bottom: 20px;
                    margin-top: 5px;
                    font-size: 14px;

                    &:after {
                        height: 0;
                        width: 0;
                        border-top: 15px solid #CDCDCD;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        position: absolute;
                        bottom: 0;
                        left: 36px;
                    }

                    &.rote:after {
                        border-bottom: 15px solid #CDCDCD;
                        border-top: none;
                    }
                }
            }

            .box-application{
                border-top: 1px solid #ddd;
                padding-top: 10px;
                padding-bottom: 10px;
                .title-app{
                    color: #053d92;
                    font-size: 17px;
                }
            }
            .desciption-full{
                padding-top: 10px;
                border-top: 1px solid #ddd;
                max-height: 400px;
                overflow: hidden;
                margin-bottom: 15px;
                ul{
                    padding-left: 15px;
                    li{
                        list-style-type: disc;
                    }
                }
                ol{
                    padding-left: 15px;
                    li{
                        list-style-type: decimal;
                    }
                }
            }


            .btn-info-teacher-2 {
                display: none;
            }
            #showmore-desciption-full:checked ~ .desciption-full {
                max-height: none;
            }
            #showmore-desciption-full:checked ~ .btn-info-teacher-1 {
                display: none;
            }
            #showmore-desciption-full:checked ~ .btn-info-teacher-2 {
                display: block;
            }
        }
        @media (max-width: 991px) {
            .k-course-details-author-img{
                width: 100%;
                padding-right: 0;
                img{
                    float: left;
                }
                .info-teacher{
                    width: calc(100% - 135px);
                    float: left;
                    padding-left: 15px;
                }
            }
            .k-course-details-author-teacher {
                width: 100%;
                padding-left: 0;
                .btn-info-teacher{
                    width: 100%;
                    text-align: center;
                    border: 2px solid #50ad4e;
                    color: #50ad4e;
                    font-weight: 700;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding: 0;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #fff;
                    position: static;
                    &:hover{
                        background-color: rgba(0,0,0,0);
                        color: #50ad4e;
                    }
                }
            }
        }
        @media (max-width: 543px) {
            .k-course-details-author-img{
                img{
                    width: 60px;
                    height: 60px;
                }
                .info-teacher{
                    width: calc(100% - 60px);
                }
            }
        }
    }
}

.k-course-details-author-teacher.open {
    .k-open-content-author {
        background: none;

        .kbtn-see-more {
            &:after {
                border-top: 0;
                border-bottom: 15px solid #CDCDCD;
            }
        }
    }
}

.k-open-content-author {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    background: -webkit-gradient(linear, rgba(255, 255, 255, 0), whitesmoke); //    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: -ms-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), whitesmoke);
    background: linear-gradient(rgba(255, 255, 255, 0), whitesmoke);

    .kbtn-see-more {
        position: relative;
        top: 40px;
        line-height: 10px;
        color: $primary-color-kyna;
        font-weight: 500;
        display: inline-block;
        width: 100px;
        padding-bottom: 20px;
        margin-top: 5px;
        // font-size: 16px;
        &:after {
            content: "";
            height: 0;
            width: 0;
            border-top: 15px solid #CDCDCD;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            position: absolute;
            bottom: 0;
            left: 36px;
        }
    }
}

.k-course-details-comments-reviews {
    background: #F5F5F5;
    padding: 20px 0;

    .tablist-comment {
        border-bottom: none;
        padding: 0;
        margin-bottom: 25px;

        li {
            margin-right: 40px;
            line-height: 43px;
            float: left;

            a {
                padding: 0;
                font-weight: 400;
                color: #666666;
                font-size: 18px;
                background: none !important;
                border: none;

                &:hover {
                    background: none;
                    border: none;
                    color: $base-font-color;
                    border-bottom: 2px solid $primary-color-kyna !important;
                    font-size: 24px;
                    font-weight: 700;
                }

                &:focus {
                    background: none;
                    border: none;
                    color: $base-font-color;
                    border-bottom: 2px solid $primary-color-kyna !important;
                }
            }

            &.active {
                a {
                    background: none;
                    border: none;
                    color: $base-font-color;
                    border-bottom: 2px solid $primary-color-kyna !important;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }

    .tab-content {
        .comments-box {
            .icon-star-list {
                .icon-star {
                    &.active {
                        color: $primary-color-kyna;
                    }
                }
            }
        }
    }
}
.rating_mb{
    h3{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    #review_mb{
        background-color: #fff;
        padding:20px;
        ul.comments-box{
            li{
                border-bottom: 1px solid rgb(221, 221, 221);
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
        }
        .info{
            font-size: 15px;
            color: #50ad4e;
        }
        p{
            font-size: 15px;
            color: #333333;
            line-height: 1.3;
        }
        .time_rating{
            .date{
                color:#666;
                float: left;
                span{
                    img{
                        width: 15px;
                        position: relative;
                        top: -2px;
                        margin-right:5px;
                    }
                }
            }
            .icon-star-list{
                float: right;
                .icon-star{
                    color: gainsboro;
                    &.active{
                        color: #50ad4e;
                    }
                }
            }
        }
    }
}
.comment_mb{
    h3{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top:40px;
    }
}
.k-course-details-comments-list {
    @media (max-width: 543px) {
        padding: 0;
        margin-bottom: 15px;
    }
    #review{
        .box {
            background: white;
            padding:10px 15px 10px 0;
            @extend .main-border-radius;
            margin: 5px 0;
            border-bottom: 1px solid rgb(221, 221, 221);
            @include border-radius(0);
            .info {
                padding: 0;
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: #50ad4e;
                li {
                    float: left;
                    margin-right: 15px;
                }
            }
            p{
                line-height: 1.6;
            }
            .time_rating{
                .date{
                    float:left;
                    color:#666666;
                    span{
                        i{
                            margin-right: 5px;
                        }
                    }
                }
                .icon-star-list{
                    float: right;
                }
            }
        }

        .button-more {
            button {
                padding: 5px;
                margin: 0 0 35px;
                display: inline-block;
                font-size: 16px;
                width: 100%;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: transparent;
                color: #50ad4e;
                border: 2px solid #50ad4e;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    background: #50ad4e;
                    color:#fff;
                }

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }



    #comments-facebook {
        .comments-facebook-wrap {
            background: white;
            padding: 10px;
        }
    }

    .wrapper {
        padding: 20px;
        background-color: white;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

#detail-comment-facebook {
    background: #f2f2f2;

    .comments-facebook-wrap {
        padding: 0 20px;
        @media(max-width: 576px){
            padding:0;
        }
    }

    .title-content {
        padding: 0 0 5px;
        border-bottom: 2px solid #50ad4e !important;
        display: inline-block;
        font-size: 16px;
        margin: 20px 0 0;
    }

    .fb-comments {
        padding: 40px;
        background: white;
        margin: 20px 0 40px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        display: inline-block;
        width: 100%;
    }
}

.k-course-details-related {
    padding-top: 20px;

    h3 {
        margin: 0;
        background: $primary-color-kyna;
        padding: 15px;
        font-size: 16px;
        color: white;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        font-weight: 300;
    }

    .k-course-details-related-list {
        display: inline-block;
        margin: 0;
        background-color: whitesmoke;
        width: 100%;
        padding-left: 0;
        border-right: 1px solid #e6e5e8;
        border-left: 1px solid #e6e5e8;
        border-top: none;

        .list {
            padding: 10px 15px 15px;
            border-bottom: 1px solid #e6e5e8;
            display: inline-block;
            float: left;
            background-color: white;
            //width: 100%;
            .item-list {
                background-color: white;
            }

            .k-related-courses-img {
                padding: 0;

                img.img-fluid {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .k-related-courses-text {
                margin: 0 0 5px;
                padding-right: 0;
                @media (max-width: 543px) {
                    margin-top: 10px;
                }

                a {
                    color: $base-font-color;
                    font-size: $base-font-size;
                    line-height: 20px;

                    &:hover {
                        color: $secondary-color-kyna;
                    }
                }

                ul {
                    li {
                        float: left;

                        &:first-child {
                            color: $primary-color-price;
                            font-weight: 600;
                        }

                        &:last-child {
                            font-weight: 600;
                            float: right;
                        }

                        span {
                            i {
                                margin-right: 5px;
                                color: $primary-color-kyna;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 543px) {
        h3 {
            background: none;
            color: #272727;
            font-size: 20px;
            padding-left: 0;
        }

        .k-course-details-related-list {
            border-right: none;
            border-left: none;

            .list {
                border-bottom: none;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0);

                .item-list {
                    box-shadow: 0 0 7px #adadad;

                    .k-related-courses-text {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

.k-course-reviews-wrap {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    @media(max-width: 767px){
        background-color: #f7f7f7;
    }
    .k-course-reviews-top {
        padding: 0 !important;
        display: table;
        width: 100%;
        margin-bottom: 0;
        border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        background-color: #fff;
        margin-bottom: 5px;
        @media(max-width: 767px){
            background-color: #fff;
            margin-bottom: 5px;
            li{
                strong{
                    color:#fb6a00;
                }
            }
        }
        li {
            display: table-cell;

            &:first-child {
                padding: 15px 0 15px 15px;
                font-size: 16px;
                strong{
                    color:#fb6a00;
                }
            }

            &:last-child {
                text-align: right;
                padding-right: 15px;
                color: $primary-color-kyna;
                font-weight: bold;
                font-size: 16px;

                .icon-star {
                    color: $primary-color-kyna;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .k-course-reviews-progress-list {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 0;
        background-color: #fff;
        position: relative;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 20px;
            width: calc(100% - 40px);
            height: 1px;
            background-color: #ddd;
        }
        @media(max-width: 576px){
            display: none;
        }
        .list {
            ul {
                display: inline-block;
                width: 100%;
                padding: 2px 15px 0;

                li {
                    display: inline-block;
                    float: left;
                    height: 30px;

                    &:nth-child(1) {
                        color: #272727;
                        font-weight: 500;
                        line-height: 30px;
                        width: 17%;
                    }

                    &:nth-child(2) {
                        width: 66%;
                    }

                    &:nth-child(3) {
                        text-align: right;
                        width: 17%;
                        color: #5F5F5F;
                        font-weight: 500;
                    }

                    .progress {
                        height: 100%;

                        progress {
                            -webkit-appearance: none;
                            border-radius: 0;

                            &::-webkit-progress-bar {
                                border-radius: 0;
                            }

                            &::-webkit-progress-value {
                                border-radius: 0;
                            }

                            &::-moz-progress-bar {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .k-course-reviews-rate-register {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        @media(max-width: 767px){
            background-color: #fff;
            border:none;
            padding-bottom: 12px;
            margin-top:5px;
        }
        p {
            text-align: center;

            &:first-child {
                font-weight: 500;
                color: $base-font-color;
                @media(max-width: 767px){
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            &:last-child {
                color: #6e6e6e;
                margin-top: 15px;
                line-height: 20px;
                @media(max-width: 767px){
                    font-style: italic;
                    font-size: 15px;
                    line-height:1.3 ;
                    color:#333;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: '';
                        display: block;
                        height: 1px;
                        width: calc(100% - 20px);
                        background-color: rgb(221, 221, 221);
                        bottom: -15px;
                        left: 10px;
                    }
                }
                a {
                    color: $primary-color-kyna;
                    text-decoration: underline !important;
                    font-weight: 500;
                    @media(max-width: 767px){
                        font-weight: 700;
                    }
                    &:hover {
                        color: $secondary-color-kyna;
                    }
                }
            }
        }
    }

    .k-course-reviews-rate {
        color: $base-font-color;
        padding:10px 15px 15px 15px;
        background: #fff;
        margin-bottom: 5px;
        text-align: center;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        .text-top{
            font-weight: 700 !important;
        }
        > p{
            @media(max-width: 767px){
                font-weight: 700 !important;
            }
        }
        p {
            text-align: center;

            &:first-child {
                font-weight: 500;
                margin-bottom: 2px;
            }

            &:last-child {
                color: #6e6e6e;
                margin-top: 15px;
                line-height: 20px;
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        ul {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 0;

            li {
                max-width: 300px;
                margin: 0 auto;
                position: relative;
                padding-right: 90px;
                @media (max-width: 543px) {
                    padding-right: 70px;
                }

                span {
                    &:first-child {
                        color: $base-font-color;
                        width: 80px;
                        display: inline-block;
                        text-align: left;
                        @media (max-width: 543px) {
                            width: 70px;
                        }
                    }

                    &.icon-star-list {
                        //unicode-bidi: bidi-override;
                        //direction: rtl;
                        position: relative;

                        i {
                            font-size: 18px;
                            cursor: pointer;

                            &.icon-star {
                                &.active,
                                &.hover {
                                    color: $primary-color-kyna;
                                }
                            }
                        }

                        text-des,
                        text-des-active {
                            position: absolute;
                            top: -3px;
                            left: calc(100% + 10px);
                            width: 80px;
                            text-align: left;
                        }

                        text-des {
                            display: none;
                        }
                    }
                }

                .popup-guide {
                    &.open {
                        display: block;
                    }

                    close {
                        display: none;
                    }
                }
                @media (min-width: 768px) {
                    &:hover {
                        .popup-guide {
                            display: block;
                        }
                    }
                }
                @media (max-width: 767px) {
                    .popup-guide close {
                        position: absolute;
                        display: block;
                        top: 3px;
                        right: 3px;
                        line-height: 10px;
                        color: #ddd;
                    }
                }
            }
        }

        form {
            text-align: center;

            textarea {
                width: 100%;
                height: 80px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                color: $base-font-color;

                &:focus {
                    border: 1px solid #58AE3D;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                }
            }

            input {
                @extend .button-main;
                background: $primary-color-price;
                border-bottom: 2px solid $secondary-color-price;
                border-top: none;
                border-right: none;
                border-left: none;
                font-size: 16px;
                margin-top: 5px;

                &:hover {
                    background: $secondary-color-price;
                    border-bottom: 2px solid $last-color-price;
                }
            }
        }

        .btn-submit-rating {
            @include button-color($color-price);
            color: white !important;
            text-align: center;
            font-size: 16px;
            padding: 5px 40px;
            margin-top: 5px;
        }
    }
}

.k-details-fb-gg {
    width: 80px;
    position: fixed;
    top: 15%;
    right: 20px;
    display: block;

    ul {
        @include default-shadow();
        background: white;
        padding: 5px;
        margin-bottom: 25px;

        li {
            display: block;
            text-align: center;
            padding: 0;
            margin: 0.35em auto;
            width: 64px;
        }
    }

    .k-details-cart-right {
        @include default-shadow();
        right: 20px;
        background: $secondary-color-kyna;
        padding: 10px 0 5px;

        &:hover {
            img {
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }

        p {
            text-align: center;
            margin-bottom: 0;
            font-size: 16px;
            display: block;

            span {
                padding: 0 15px;
                color: white;

                &:nth-child(1) {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }

        a {
            display: block;
            text-align: center;

            img {
                -webkit-transition: -webkit-transform 0.4s ease-in-out;
                -ms-transition: -ms-transform 0.4s ease-in-out;
                transition: transform 0.4s ease-in-out;
            }
        }
    }
}

.hidden-course-bar {
    &.slideDown {
        position: fixed;
        top: 0;
        display: block;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 10;
        background-color: #ffffff;
    }
}

/*
.hidden-course-bar.slideDown.slideDown-header{
    position: fixed;
    display: block;
    top: 80px;
    transition: top 0.5s ease-in-out;
}
*/

.hidden-course-bar {
    display: none;
    width: 100%;
    background: $gray-lighter;
    -webkit-transform: translateY(-250px);
    -webkit-transition: -webkit-transform 0.2s;
    transform: translateY(-250px);
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    ul.tab-btns {
        width: 100%;
        padding: 0 15px;
        line-height: 55px;

        li {
            margin-right: 30px;
            position: relative;
            font-size: 16px;
            /*
            display: table-cell;
            */
            display: inline-block;
            text-align: left;

            a {
                color: $color-body;
                display: inline-block;
                padding: 0 15px 0 0;

                &:hover {
                    background: none;
                    border-bottom: 2px solid $color-link;
                }
            }
        }

        .active {
            a {
                background: none;
                border-bottom: 2px solid $color-link;
            }
        }
    }

    ul.button {
        padding: 0 15px;
        display: inline-block;
        width: 100%;
        margin: 8px 0 0;

        li {
            text-align: right;

            .add-to-cart {
                color: white !important;
                @include button-color($color-price);
                min-width: 160px;
                padding: 5px 0;
                text-align: center;
                font-size: 16px;
                margin-bottom: 5px;

                &.reg {
                    background: #fb6a00;
                    border-bottom: 2px solid #a54804;
                    padding: 5px 10px;
                }
            }

            .go-to-class {
                @extend .add-to-cart;
                @include button-color($color-link);
                padding: 10px 0;
                font-weight: bold;
            }

            .k-add-to-cart-register {
                text-align: left;
            }
            /*
            float: left;
            width: 48%;
            margin-right: 4%;
            &:first-child {
                a {
                    color: white !important;
                    @include button-color($color-price);
                    text-align: center;
                    font-size: 16px;
                }
            }
            &:last-child {
                margin-right: 0px;
                a {
                    @include border-radius(3px);
                    border: 1px solid $color-link;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    font-size: 16px;
                    padding: 10px 35px;
                }
            }
            */
            .button-like {
                background: white;
                color: $color-link;
                border: 1px solid $color-link;

                &:hover {
                    border: 1px solid darken($color-link, 10%);
                    color: darken($color-link, 10%);
                }

                i {
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.box-container {
    background-color: #F5F5F5;
    @media (max-width: 991px) {
        .part-parent {
            display: flex;
            flex-direction: column-reverse;
            .part-child-1 {
                > h3{
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 0;
                    margin-top: 20px;
                }
                .k-course-details-main {
                    background: #fff;
                    padding: 0 20px 20px;
                    .k-course-details-curriculum {
                        margin-left: -20px;
                        margin-right: -20px;
                        .wrap-detail{
                            max-height: 400px;
                            overflow: hidden;
                        }
                    }
                    .showmore-course-list-2 {
                        display: none;
                    }
                    .showmore-course-list-1, .showmore-course-list-2 {
                        width: 100%;
                        text-align: center;
                        border: 2px solid #50ad4e;
                        color: #50ad4e;
                        font-weight: 700;
                        font-size: 15px;
                        text-transform: uppercase;
                        padding: 7px;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-bottom: 0;
                    }
                    #showmore-course-list:checked ~ .k-course-details-curriculum .wrap-detail {
                        max-height: none;
                    }
                    #showmore-course-list:checked ~ .showmore-course-list-1 {
                        display: none;
                    }
                    #showmore-course-list:checked ~ .showmore-course-list-2 {
                        display: block;
                    }
                }
                .k-course-details-screenshot{
                    padding: 0;
                    margin-bottom: 30px;
                    .slick-slider{
                        margin: 20px 0 0;
                    }
                    .slick-arrow-mb{
                        position: relative;
                        margin-top: 30px;
                        .slick-arrow{
                            position: absolute;
                            top: calc(50% - 20px);
                            font-size: 20px;
                            width: 30px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: #50ad4e;
                            color: #fff;
                            border-radius: 3px;
                            z-index: 1;
                            cursor: pointer;
                            &.prev{
                                left: calc(50% - 35px);
                            }
                            &.next{
                                right: calc(50% - 35px);
                            }
                        }
                    }
                }
            }
            .part-child-2 {
                > h3 {
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    @media (min-width: 992px) {
        .part-parent {
            .part-child-1 {
                .k-course-details-main {
                    .showmore-course-list-1 {
                        display: none;
                    }
                    #showmore-course-list:checked ~ .showmore-course-list-2 {
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 543px) {
        > .container{
            padding: 0;
        }
    }
}

.k-course-details-list-combo {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    @media (max-width: 991px) {
        margin-top: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        display: block;
        padding: 5px 0 20px;
        border-bottom: 2px solid #ccc;
        @media (max-width: 991px) {
            border-bottom: none;
            padding: 0;
            margin-bottom: 0;
        }
        @media (max-width: 543px) {
            font-size: 15px;
        }
    }

    .course-name {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0;
        color: #50ad4e;
        text-decoration: none;

        &:hover {
            color: #50ad4e;
        }
    }

    .item {
        width: 100%;
        float: left;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;

        &:last-child {
            border-bottom: none;
        }

        img {
            max-width: 100%;
            width: 100px;
            height: 70px;
            object-fit: cover;
            object-position: center;
            float: left;
        }
        @media (max-width: 991px) {
            padding: 10px 0;
        }
    }

    .info {
        width: calc(100% - 100px);
        float: left;
        padding-left: 15px;

        ul {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 0;
        }

        li {
            margin-right: 10px;
            line-height: 1.5;

            i {
                margin-right: 5px;
                font-size: 1.4em;
            }

            span {
                font-size: 14px;
            }
        }
    }

    .price {
        font-size: 14px;
        @media (max-width: 991px) {
            width: 100%;
            float: left;
        }
        i{
            color: #ff7816;
        }
        b {
            color: #ff7816;
            margin-right: 2px;
        }
        .red{
            background-color: red;
            color: white;
            font-weight: 700;
            padding: 1px 5px;
            border-radius: 4px;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .k-course-details-header {
    }
}

@media (max-width: 991px) {
    .k-course-details-title {
        margin-top: 15px;

        * {
            display: none;
        }

        h1 {
            font-size: 22px !important;
            text-align: center;
            display: block;
        }
    }

}

@media (max-width: 991px) {
    .hidden-course-bar {
        #scrollspy-course {
            display: none !important;
        }

        ul.button {
            padding: 0;

            li a.add-to-cart {
                width: 100%;
            }
        }
    }
    .k-course-details-header {
        .k-course-details-info {

            .price-list {
                padding-bottom: 0;
                ul {
                    position: relative;
                    &:before, &:after {
                        content: "";
                        top: 0;
                        bottom: 0;
                        width: 200px;
                        background-color: #f5f5f5;
                        left: 100%;
                        position: absolute;
                    }
                    &:after {
                        left: auto;
                        right: 100%;
                    }
                }
            }
            .info {
                background-color: white;
                position: relative;
                .detail-info {
                    border: none;
                    padding: 20px;
                }
                &:before, &:after {
                    content: "";
                    top: 0;
                    bottom: 0;
                    width: 200px;
                    background-color: #f5f5f5;
                    left: 100%;
                    position: absolute;
                }
                &:after {
                    left: auto;
                    right: 100%;
                }
            }
            .bought-status {
                display: none;
            }
        }
    }
    .k-course-details-main {
        .k-course-details-main-left {
            .k-course-details-about {
                .course-overview {
                    margin-top: 0;
                    padding: 0 20px 15px;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    strong{
                        font-size: inherit !important;
                    }
                    > .title {
                        border-top: 1px solid #f5f5f5;
                        color: #50ad4e;
                        font-size: 16px;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
    .k-course-details-header {
    }
}

@media (max-width: 767px) {
    .k-details-fb-gg {
        display: none;
    }

    .k-course-details-author-img {
        height: auto;
        width: auto;
    }

    .k-course-details-header {
    }

    #detail-comment-facebook {
        .fb-comments {
            padding: 5px;
            @media(max-width: 767px){
                margin-top:5px;
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 543px) {
    .k-course-details-header {
        padding: 0;

        .k-course-details-video {
            padding: 0;
        }

        .k-course-details-info {
            padding: 0 15px;

            .button {
                ul {
                    li {
                        &:first-child {
                            width: 100% !important;
                        }
                        //&:last-child {
                        //    display: none !important;
                        //}
                    }
                }
            }

            .review {
                display: none;
            }

            .price-list {
                margin-right: -0.9375rem;
                margin-left: -0.9375rem;

                ul {
                    .sale {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }

            .info {
                width: auto;
                display: block;
                .detail-info{
                    padding: 15px 20px;
                }
            }
        }
    }

    .k-course-details-author {
        .container {
            padding: 0 !important;
        }
    }

    .k-course-reviews {
        padding: 0 !important;
    }

    .k-course-details-title {
        padding: 0 0.9375rem;
    }

    .k-course-details-main-left {
        padding: 0;
    }

    .k-course-details-main {
        .k-course-details-curriculum {
            ul.wrap-detail {
                .part {
                    h4 {
                        &:before {
                            right: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile Part List Courses */

.k-course-details-curriculum {
    ul.wrap-detail {
        .part {
            h4:before {
                content: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .k-detail {
        header .k-header-wrap {
            margin-bottom: 61px !important;
        }
    }

    .k-course-details-main {
        background-color: transparent;

        .k-course-details-curriculum {
            ul.wrap-detail {
                .part {
                    h4 {
                        border-top: none;
                        border-bottom: none;
                        padding: 15px 15px 15px 0;
                        margin-top: 0;
                        cursor: pointer;
                        position: relative;

                        &:before {
                            content: "\72";
                            position: absolute;
                            right: 15px;
                        }
                    }

                    ul {
                        height: 0;
                        overflow: hidden;
                        border: 1px solid darken($gray-lighter, 10%);
                        @include border-radius(3px);
                        padding-left: 15px;

                        li {
                            /*display: none;*/
                            span {
                                padding: 0;
                            }
                        }
                    }

                    &.open {
                        h4 {
                            border-bottom: none;

                            &:before {
                                content: "\73";
                            }
                        }

                        ul {
                            height: auto;

                            li {
                                /*display: inline-block;*/
                            }
                        }
                    }
                }
            }
        }
    }
}

.social-media {
    padding: 0 0 15px;

    > li {
        margin-bottom: 0 !important;
        width: auto;
        display: inline;

        &.gg {
            margin-left: 5px;
            position: relative;
            top: 1px;
            &.combo{
                top: -2px;
            }

            iframe {
                position: relative !important;
                top: 4px !important;
            }
        }
    }

    .fb-save {
        margin-left: -3px;
        margin-right: 4px;
    }

    @media (max-width: 991px) {
        display: none;
    }
}

#fb-save-button {
    &:hover {
        .popup-guide {
            display: block !important;
        }
    }
}

.popup-guide {
    display: none;
    position: absolute;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    margin-top: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;

    &::before {
        font-family: "fontastic-icon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 0 -3px 5px gainsboro;
        content: "\3a";
        font-size: 16px;
        position: absolute;
        left: 60px;
        top: -10px;
        color: white;
    }

    a {
        color: #4f6fb6;
        text-decoration: underline !important;
    }
}

/* End Mobile Part List Courses */
/* Rating all Page */

.rating-box {
    position: absolute;
    padding: 0 10px 3px;
    width: 100%;
    bottom: 0;
    -moz-box-shadow: inset 0 -25px 25px -10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 -25px 25px -10px rgba(0, 0, 0, .5);
    box-shadow: inset 0 -25px 25px -10px rgba(0, 0, 0, .5);

    .rating-text {
        color: #fff;
        float: left;
        @media (max-width: 767px) {
            font-size: 13px;
        }

        b {
            background-color: #489b46;
            padding: 2px 3px;
            border-radius: 3px;
        }

        i {
            color: #fff;
            position: relative;
            top: -1px;
        }
    }

    span {
        display: inline !important;
    }

    .number-student {
        float: right;
        color: #fff;
        @media (max-width: 767px) {
            font-size: 13px;
        }
    }

    .dot {
        float: left;

        i {
            font-size: 5px;
            padding: 0 10px;
            position: relative;
            top: -3px;
        }
    }
}

.k-box-card-wrap .rating-box {
    .dot,
    detail {
        display: none;
    }
}

.k-combo-title-md {
    margin-bottom: 15px;
}

.k-combo-title-md .rating-box,
.k-course-details-title .rating-box {
    position: static;
    width: auto;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    .number-student {
        float: left;
        color: #272727;

        span {
            font-weight: bold;

            detail {
                font-weight: 400;
            }
        }
    }
    @media (min-width: 992px) {
        display: inline-flex;
    }
    @media (max-width: 991px) {
        @media (min-width: 544px) {
            margin-bottom: 15px;
        }

        .dot[position="1"] {
            display: none;
        }
    }
}

.none_on_mobile{
    @media(max-width: 767px){
        display: none;
    }
}
.none_on_desktop{
    @media(min-width: 768px){
        display: none;
    }
}

/* Rating all Page */
