.detail-faq{
    margin-top: 50px;
    padding-bottom: 50px;
    .container{
        .wrap-menu{
            position: relative;
            h4{
                padding: 0px 0px 15px 0px;
                font-weight: normal;                
                color: map-get($color-brands, kyna);
            }
            .row-faq{
                .menu-faq{
                    position: relative;
                    padding: 15px 30px;
                    border-top: 2px solid $gray-lighter;
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        left: 0;
                        top: 20px;
                        font-size: 12px;
                    }
                }
                &:last-child{
                    .menu-faq{
                        border-bottom: 2px solid $gray-lighter;
                    }
                }
                .menu-detail{
                    padding: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 0;
                    overflow: hidden;
                    &.in{
                    }
                    p{
                        img{
                            max-width: 90%;
                        }
                    }
                }
            }
        }
        .wrap-detail{
            padding-left: 50px;
            p{
                img{
                    max-width: 90%;
                }
            }
        }
    }
}
#k-faq-sidebar {
    .nav-item {
        margin-left: 0px;
        margin-bottom: 0px;
        a {
            color: $color-body
        }
        &:hover {
            a {
                border: 1px solid transparent;
                color: map-get($color-brands, kyna);
            }
        }
    }
}
@media (max-width: 767px){
    .detail-faq{
        padding-top: 40px;
        .container{
            .wrap-menu{
                h4{
                    padding: 15px 30px;
                }
                .row-faq{
                    padding: 0 30px;
                    .menu-faq{

                    }
                    .menu-detail{
                        //padding: 15px 30px;
                        border-radius: 5px;
                        &.in{
                            padding: 15px 30px;
                            height: auto;
                            border: 1px solid $gray-light;
                        }
                    }
                }
            }
            .wrap-detail{
                &.pc{
                    display: none !important;
                }
            }
        }
    }
}
/******** ADD ********/
.k-faq {
    padding-top: 50px;
    padding-bottom: 30px;    
    .k-faq-box {        
        .card {
            @include border-radius(3px);
            border: 1px solid darken($gray-lighter, 5%);
            text-align: center;
            color: $color-body;
            img {
                margin: 20px 0px 0px 0px;
            }
            .card-img-top-hv {
                display: none;
            }
        }
        a {
            &:hover {
                .card {
                    background: map-get($color-brands, kyna);
                    color: white;
                    .card-img-top {
                        display: none;
                    }
                    .card-img-top-hv {
                        display: inline-block;
                    }
                }        
            }
        } 
        .card-block {
            min-height: 90px;
        }
    }
}

.k-faq-wrap {
    padding: 50px 20px;    
}
#k-faq-content {
    .tab-pane {
        ul {
            padding-left: 30px;
        }
        h3 {
            color: map-get($color-brands, kyna);
            margin-bottom: 20px;
        }
    }   
    .list-last {
        list-style-type: disc;
        margin-left: 20px;
        li {
            list-style-type: disc;
        }        
    }    
}
#k-faq-sidebar {
    h4 {
        color:  map-get($color-brands, kyna);
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-item {
        border-bottom: 1px solid #f0f0f0;
        width: 100%;
        padding: 10px 0px;
        position: relative;
        a {
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
            border-color: white !important;
            text-transform: uppercase;
            padding-left: 30px;
            &.active {
                color: #50ad4e;
            }
        }
        &:before{
            position: absolute;
            left: 0;
            top: 25px;
            font-size: 12px;
        }
    }
}
.k-faq-wrap-mobile {
    display: none !important;
}
@media(max-width: 991px) {
    .k-faq-wrap {
        display: none !important;
    }
    .k-faq-wrap-mobile {
        display: block !important;
        #accordion {
            .panel {
                a {
                    border: 1px solid #ddd;
                    padding: 20px 20px 15px 20px;
                    display: inline-block;
                    width: 100%;
                    color: #272727;
                    line-height: 25px;
                }
                h4 {
                    margin: 0px;
                }
                .collapse {
                    &.in {
                        border: 1px solid #ddd;
                        padding: 20px;
                    }
                }
            }
        }
    }

}
@media (min-width: 544px) and (max-width: 1023px) {
    .k-faq-box {
        height: 220px;
    }
}

.title-faq{
    background-image: url("../img/faq/banner-faq.png");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
}
.box-faq-category{
    margin-top: 45px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
        .pc{
            display: none;
        }
        .mb{
            display: block !important;
        }
    }
    @media (min-width: 768px) {
        .mb{
            display: none !important;
        }
    }
    .row{
        > div{
            &:nth-child(2n){
                float: right;
            }
            .title-category{
                position: relative;
                background-color: #50ad4e;
                font-size: 16px;
                color: white;
                padding: 10px 0 10px 12px;
                line-height: 1.3;
                font-weight: 700;
                img{
                    height: 30px;
                    margin-right: 6px;
                }
                a{
                    color: white;
                }
            }
            ul{
                padding: 0 15px;
                border: 1px solid #ddd;
                border-top: none;
                li{
                    padding: 15px 0;
                    border-bottom: 1px solid #ddd;
                    a{
                        color: black;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    &:hover{
                        font-weight: 700;
                    }
                }
            }
            h3.title-faq-question{
                color: #50ad4e;
                font-size: 28px;
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.faq-form-question{
    h2{
        color: #50ad4e;
        text-transform: none !important;
        margin: 20px 0 !important;
        @media (max-width: 767px) {
            font-size: 20px !important;
            line-height: 20px !important;
        }
    }
    form{
        max-width: 750px;
        width: 100%;
        margin: 0 auto 50px;
        .input-group{
            width: 100%;
            padding-bottom: 20px;
            input, textarea{
                -webkit-border-radius: 5px !important;
                -moz-border-radius: 5px !important;
                border-radius: 5px !important;
                background-color: #fff;
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.23);
                -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.23);
                box-shadow: inset 0 0 5px rgba(0,0,0,.23);
                border: none;
                padding: 13px;
            }
        }
        .text-center{
            width: 100%;
            text-align: center;
            button{
                width: 100%;
                max-width: 200px;
                background-color: #50ad4e;
                color: white;
                border-radius: 99px;
            }
        }
    }
}