#feedback-v3 {
    background: #fe7f22;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    z-index: 969;
    a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        span{
            margin-right: 15px;
        }
        img{
            height: 20px;
        }
    }
    @media (min-width: 768px){
        bottom: 0;
        width: 215px;
        padding: 10px 5px;
        height: 60px;
        margin-left: 0;
        a{
            font-size: 24px;
            span{
                margin-right: 15px;
            }
			img{
				height:30px;
			}
        }
    }
}
#feedback{
  position: fixed;
  right: 15px;
  bottom: 40px;
  color: inherit;
  z-index: 1020;
  text-align: center;
  img{
    background: #fb6a00;
    max-width: 40px;
    display: block;
    @include border-radius(50%);
    @media (min-width: 992px) {
      max-width: 100%;
    }
  }
}
