#exchange-header {
    background-image: url("../img/kpoint/bg-kpoint-store.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 67px;
    padding: 80px 0;
    overflow-x: hidden;

    &:after {
        content: "";
        background-image: url("../img/kpoint/treasure.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 421px;
        height: 345px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    img {
        max-width: 100%;
    }

    .btn-tutorial {
        text-align: center;
        max-width: 650px;

        a {
            background-color: white;
            color: black;
            font-weight: bold;
            font-size: 18px;
            margin-top: 15px;
            padding: 9px 25px 6px;
            border-radius: 99px;
            box-shadow: 0 3px 0 #d9d9d9;
        }
    }
    @media (max-width: 1199px) {
        &:after {
            width: 275px;
        }
    }
    @media (max-width: 991px) {
        padding: 40px 0 140px;
        margin-top: 0;
    }
    @media (max-width: 767px) {
        padding-bottom: 240px;
        margin-top: 40px;

        &:after {
            height: 226px;
            right: calc(50% - 187px);
        }

        .btn-tutorial {
            a {
                font-size: 14px;
            }
        }
    }
}

#exchange-body {
    background-color: #f5f5f5;
    @media (max-width: 767px) {
        padding-top: 20px;
    }

    .info-kpoint {
        font-size: 16px;

        b {
            font-size: 20px;
        }
        @media (max-width: 575px) {
            .per {
                display: none;
            }

            span {
                display: block;
            }
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;

        .promotion-items {
            width: 100%;

            > div {
                padding-top: 30px;
                padding-bottom: 30px;
                @media (max-width: 767px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }

        .pull-right {
            margin-left: auto;
        }

        .item {
            background-color: white;
            height: 100%;
            border: 1px solid #ddd;

            .gift-image {
                width: 100%;

                img {
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    object-position: center;
                    @media (max-width: 1199px) {
                        height: 120px;
                    }
                    @media (max-width: 991px) {
                        height: 150px;
                    }
                    @media (max-width: 767px) {
                        height: auto;
                    }
                }
            }

            .gift-title {
                text-align: center;
                padding: 10px;
                background-color: #333333;
                color: white;
                text-transform: uppercase;

                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                }
            }

            .gift-button {
                text-align: center;
                margin: 10px auto 13px;
                position: relative;

                a {
                    background-color: #ff7816;
                    font-size: 18px;
                    font-weight: 700;
                    color: white;
                    min-width: 230px;
                    border-radius: 99px;
                    box-shadow: 0 3px 0 #e56c14;
                    padding-top: 10px;

                    &.btn-notEnough {
                        background-color: #a2a2a2;
                        box-shadow: 0 3px 0 #919191;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .tooltip-button {
                    background: #fff;
                    top: 65px;
                    padding: 20px;
                    position: absolute;
                    box-shadow: 0 -1px 7px rgba(0,0,0,0.4);
                    border-radius: 5px;
                    border-top: solid 1px #e3e3e3;
                    z-index: 1;
                    left: 20px;
                    right: 20px;
                    opacity: 0;
                    display: none;
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    transition: all 0.2s;

                    &:after {
                        border-radius: 2px;
                        content: "";
                        position: absolute;
                        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
                        top: -6px;
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(225deg);
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent #fff #fff transparent;
                        left: calc(50% - 3px);
                    }
                }

                &:hover {
                    .tooltip-button {
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }

        .promotion-items > div {
            &:last-child,
            &:nth-last-child(2):nth-child(3n - 1),
            &:nth-last-child(2):nth-child(3n - 2),
            &:nth-last-child(3):nth-child(3n + 1) {
                .item {
                    .gift-button {
                        .tooltip-button {
                            top: auto;
                            bottom: 60px;

                            &:after {
                                top: auto;
                                bottom: -5px;
                                border-color: #fff transparent transparent #fff;
                                box-shadow: -2px -2px 4px rgba(0,0,0,0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}

#modal .modal-gift {
    padding: 15px 0 !important;

    .btn-clipboard {
        background-color: transparent;
        color: #eb000b;
        border: 1px solid #eb000b;
        border-radius: 5px;
        font-weight: bold;
    }
}

#confirm-exchange {
    .modal-content {
        padding: 15px;
        text-align: center;
        position: relative;

        .header-modal {
            margin-top: 15px;

            img {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            .name {
                font-size: 22px;
                color: #50ad4e;
                font-weight: 700;
            }

            .desc {
                font-size: 14px;
            }
        }

        .btn-exchange-confirm {
            background-color: #ff7816;
            color: white;
            font-weight: bold;
            border-radius: 99px;
            padding: 8px 30px;
            font-size: 18px;
            -webkit-box-shadow: inset 0 -3px rgba(0,0,0,.1);
            -moz-box-shadow: inset 0 -3px rgba(0,0,0,.1);
            box-shadow: inset 0 -3px rgba(0,0,0,.1);
            margin: 20px auto;
        }

        i a {
            color: inherit;

            i {
                font-size: 18px;
                position: relative;
                top: 2px;
            }
        }
    }
}

#success-exchange {
    .modal-content {
        padding: 15px;
        text-align: center;
        position: relative;

        .header-modal {
            margin-top: 15px;

            img {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            .name {
                font-size: 22px;
                color: #50ad4e;
                font-weight: 700;
            }

            .desc {
                font-size: 14px;
            }
        }

        .body-modal {
            margin-top: 15px;
            @media (min-width: 768px) {
                padding: 0 25px;
            }

            a {
                font-weight: bold;
                color: #3fb140;
            }
        }

        .btn-success-confirm {
            color: white;
            font-weight: bold;
            border-radius: 99px;
            padding: 8px 30px;
            font-size: 18px;
            background-color: #3fb140;
            -webkit-box-shadow: inset 0 -3px rgba(0,0,0,.1);
            -moz-box-shadow: inset 0 -3px rgba(0,0,0,.1);
            box-shadow: inset 0 -3px rgba(0,0,0,.1);
            margin-top: 20px;
        }
    }
}
