.modal-open-new {
    overflow: hidden !important;
}

#k-banner {
    background: url('../src/img/home/banner-top.jpg') no-repeat top left;
    background-size: cover;
    margin-bottom: 22px;
    padding: 80px 0 50px;
    overflow: hidden;
    position: relative;

    &:after {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 1000px;
        top: 0;
        position: absolute;
        left: 0;
        overflow: hidden;
    }
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        padding-bottom: 100px;
    }
}

#k-banner {
    .wrap-content {
        position: relative;
        z-index: 1;

        .title {
            color: white;
            font-size: 20px;
            text-align: center;
            margin: 0 0 30px;
            font-size: 36px;
            font-weight: 300;
        }

        form {
            position: relative;
            margin-bottom: 30px;
            padding: 0 10px;
            height: 40px;

            input {
                @include border-radius(20px);
                padding: 8px 20px;
                border: none;
                height: 100%;
                font-size: 14px;
            }

            button {
                @include border-right-radius(20px);
                position: absolute;
                top: 0;
                right: 10px;
                height: 40px;
                background: white;

                &:hover {
                    background: darken(map-get($colors, green), 3%);
                    color: white;
                    border-radius: 0 20px 20px 0;
                }

                &:focus {
                    background: map-get($colors, green);
                    color: white;
                    outline: none;
                    border-radius: 0 20px 20px 0;
                }
            }
        }

        ul {
            display: inline-block;
            width: 100%;
            margin: 0;

            .box {
                width: 20%;
                float: left;
                padding: 0 10px;
                margin-bottom: 20px;

                a {
                    @include border-radius(20px);
                    @include button-transition();
                    display: inline-block;
                    padding: 10px 20px;
                    width: 100%;
                    font-weight: 300;
                    border: 1px solid map-get($colors, green);
                    color: white;
                    text-align: center;
                    background-color: rgba(144, 145, 145, 0.7);

                    &:hover {
                        background-color: rgba(56, 154, 54, 0.8);
                    }
                }
            }
        }
    }
}

#k-interest {
    h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 15px;
    }

    ul {
        li {
            position: relative;
            margin-bottom: 1.875rem;

            a {
                position: relative;
                display: inline-block;
                height: 100%;
                width: 100%;

                span {
                    position: absolute;
                    padding: 15px;
                    text-align: center;
                    color: white;
                    width: 100%;
                    left: 50%;
                    top: 50%;
                    font-size: 16px;
                    transform: translateX(-50%) translateY(-50%);
                    -webkit-transform: translateX(-50%) translateY(-50%);
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .btn-more {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0 0 1.875rem;

        a {
            font-size: 16px;
            color: map-get($colors, orange);

            &:hover {
                color: darken(map-get($colors, orange), 10%);
            }

            i {
                font-size: 16px;
            }
        }
    }
}

.k-teaching {
    position: relative;
    background: map-get($colors, green);
    padding: 10px 0;
    display: none;
    .text {
        float: right;
        color: white;
        margin-top: 35px;
        text-align: center;

        p {
            font-size: 16px;
        }

        a {
            @include button-color(white);
            color: map-get($colors, green);
            padding: 10px 20px;
        }
    }

    .img {
        text-align: right;
    }

    &.first {
        .img {
            display: none;
        }

        .text {
            margin-top: 0;

            a {
                padding: 4px 20px 0;
            }
        }

        &:before {
            content: "";
            position: absolute;
            background-image: url("/src/img/mobile/teaching-first.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 97px;
            height: 90px;
            bottom: 0;
            left: 15%;
        }
    }
}

.tags-what-learn-today{
    background-color: #2f3b46;
    padding: 40px 0;
    color: #fff;
    h2{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
        @media(max-width: 576px){
            margin:30px 0 10px 5px;
            font-size: 20px;
        }
    }
    .wrapper-tags{
        .item{
            width: 20%;
            float: left;
            padding: 7px;
            @media(max-width: 576px){
                padding:5px;
                width: 50%;
            }
            .box{
                background-color: gray;
                height: 125px;
                position: relative;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                @media(max-width: 576px){
                    height: 80px;
                }
                a{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    width: 100%;
                    font-size: 18px;
                    line-height: 1.3;
                    font-weight: 700;
                    color:#fff;
                    height: 100%;
                    @media(max-width: 576px){
                        font-size: 15px;
                    }
                    span{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                        text-align: center;
                    }
                }
            }
        }
    }
}

#k-highlights {
    @media(max-width: 767px){
        padding-top: 25px;
    }
    h2 {
        text-align: center;
        font-size: 36px;
        margin: 22px 0;
        font-weight: 300;
        @media(max-width: 767px){
            text-align: center;
            margin-left: 5px;
        }
    }

    .button-more {
        a {
            @include button-color(map-get($colors, green));
            @include border-radius(40px);
            @media (max-width: 767px) {
                margin-top: 20px;
                color:#50ad4e;
                font-weight: 700;
                text-transform: uppercase;
                border:2px solid #50ad4e;
                @include border-radius(4px);
                background-color: transparent;
                width: calc(100% - 30px);
                padding: 7px 0;
                &:focus{
                    background-color: #fff;
                }
            }
        }
    }

    .k-box-card-list {
        .k-box-card {
            .k-box-card-wrap {
                .img {
                    > img {
                        object-fit: cover;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        h2 {
            margin-top: 0;
        }
    }
}

/* SUPPLY-LISST */
#k-supply-list {
    background-size: cover;
    background-color: #f5f5f5;
    padding: 25px 0 35px;
    overflow: hidden;
    position: relative;
    @media(max-width: 576px){
        padding-bottom:0;
        padding-top:10px;
    }
    .k-supply-list-wrap {
        .k-supply-list-inner {
            position: relative;
            z-index: 1;
            @media(max-width: 576px){
                padding:0;
            }
            .title {
                @extend .title-main;
                color: #333333;
                @media(max-width: 576px){
                    margin-bottom: 0;
                }
            }

            .k-supply-list-box {
                ul {
                    border-top: 1px solid rgb(221, 221, 221);
                    border-left: 1px solid rgb(221, 221, 221);
                    @media(max-width:576px){
                        border:none;
                        width: calc(100% + 5px);
                        margin-left: -5px;
                        margin-bottom: 0;
                    }
                    display: inline-block;
                    width: 100%;
                    padding: 0;
                    &.desktop{
                        @media(max-width: 576px){
                            display: none;
                        }
                    }
                    &.mobile{
                        @media(min-width: 768px){
                            display: none;
                        }
                    }
                    li {
                        width: 16.66%;
                        float: left;
                        @media(max-width: 576px){
                            width: 33.33%;
                            vertical-align: top;
                            padding:7px 5px;
                        }
                        &:last-child{
                            @media(max-width: 576px){
                                display: block;
                                width: 100%;
                                a{
                                    color: #50ad4e;
                                    padding: 9px 0 7px;
                                    height: initial;
                                    border: 2px solid #50ad4e;
                                    @include border-radius(4px);
                                    font-weight: 700 !important;
                                    margin-bottom: 30px;
                                    &:focus{
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                        a {
                            @include button-transition();
                            border-right: 1px solid rgb(221, 221, 221);
                            border-bottom: 1px solid rgb(221, 221, 221);
                            background-color:#fff;
                            text-align: center;
                            color: white;
                            display: inline-block;
                            width: 100%;
                            padding: 17px 5px 20px;
                            @media(max-width: 576px){
                                background-color: #fff;
                                border: none;
                                border: 1px solid rgb(221, 221, 221);
                                @include border-radius(4px);
                                font-weight: 700 !important;
                                font-size: 15px !important;
                                padding: 11px 5px 0;
                                height: auto;
                                line-height: 1.3;
                                margin-top:10px;
                            }
                            &:hover {
                                background-color: rgba(56, 154, 54, 0.8);
                            }

                            .text {
                                height: 55px;
                                display:block;
                                font-weight: 700;
                                padding: 0 5px;
                                color:#333333;
                                @media(max-width: 576px){
                                    font-weight: 700;
                                    font-size: 13px;
                                    color:#333;
                                }
                            }

                            .icon {
                                margin:auto;
                                width:55px;
                                height: 55px;
                                @media(max-width: 576px){
                                    width: 40px;
                                    height: 40px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ABOUT US */
#k-about-us {
    padding-top: 25px;
    position: relative;

    .k-about-us-background {
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        height: 100%;
    }

    .k-about-us-why {
        background: white;
        padding-right:50px;
        @media(max-width: 991px){
            padding-right:0;
        }
        h2 {
            @extend .title-main;
        }

        ul {
            li {
                display: inline-block;
                width: 100%;
                margin-bottom: 30px;
                font-size: 16px;

                .icon {
                    display: inline-block;
                    float: left;
                    margin-right: 20px;

                    img {
                        width: 70px;
                    }
                }

                .text {
                    span {
                        color: map-get($colors, green);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .k-about-us-comment {
        padding-left:50px;
        @media(max-width: 991px){
            padding-left:0;
        }
        h2 {
            @extend .title-main;
        }
        .k-about-us-slide{
            .owl-buttons{
                > div{
                    border: 1px solid green;
                    width: 25px;
                    height: 25px;
                    i{
                        &:before{
                            content: '';
                            width: 0px;
                            height: 0px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            display: inline-block;
                            margin: 0;
                            position: relative;
                            top: 1px;
                        }
                    }
                    &.owl-prev{
                        i{
                            &:before{
                                left: -1px;
                                border-right: 7px solid #50ad4e;
                            }
                        }
                    }
                    &.owl-next{
                        i{
                            &:before{
                                left: 1px;
                                border-left: 7px solid #50ad4e;
                            }
                        }
                    }
                }
            }
        }

        .k-about-us-customer {
            .text {
                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;

                    &:first-child {
                        font-weight: 700;
                        padding-bottom: 9px;
                        font-size: 18px;
                    }
                }
            }
        }

        p {
            padding: 15px 15px 0;
            font-size: $base-font-size;
            line-height: 1.7;
            font-weight: 400;
            text-align: justify;
        }
    }
}

#k-teaching-kyna {
    text-align: center;
    position: relative;
    background: -webkit-radial-gradient(circle, #2c3339 -100%, #515559 -70%, #2c3339 60%);
    background: -o-radial-gradient(circle, #2c3339 -100%, #515559 -70%, #2c3339 60%);
    background: -moz-radial-gradient(circle, #2c3339 -100%, #515559 -70%, #2c3339 60%);
    background: radial-gradient(circle, #2c3339 -100%, #515559 -70%, #2c3339 60%);
    @media(max-width: 767px) {
        display: none;
    }

    .k-teaching-kyna-wrap {
        display: flex;

        .item {
            width: 20%;
            position: relative;

            .bg-item {
                width: 100%;
            }

            .box-item {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 25px 15px;
                display: table;
                text-align: center;
                color: #fff;

                .name {
                    font-size: 20px;
                    font-weight: bold;
                }

                .major {
                    font-size: 16px;
                }

                .title {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.2;
                    margin-top: 20px;
                }

                .btn-see-more {
                    line-height: 35px;
                    position: relative;
                    background: #50ad4e;
                    color: #fff;
                    border-bottom: 2px solid #408a3e;
                    padding: 0;
                    max-width: 150px;
                    width: 100%;
                    margin-top: 40px;

                    &:hover {
                        background: darken(#50ad4e, 10%);
                    }
                }
            }

            &:nth-child(3) {
                .box-item {
                    height: 100%;

                    .box-middle {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            @media(max-width: 1199px) {
                .box-item .title {
                    font-size: 24px;
                    margin-top: 10px;
                }
                .box-item .btn-see-more {
                    margin-top: 20px;
                }
            }

            @media(max-width: 991px) {
                .box-item {
                    img {
                        width: 60px;
                    }
                    .title {
                        font-size: 18px;
                    }
                    .name {
                        font-size: 16px;
                    }
                    .major {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

#popUpForNewVersion {
    button {
        padding: 10px 20px;

        &:focus {
            outline: none;
        }
    }
}

.k-subscriber {
    display: none;
}

@media (max-width: 1199px) {
    #k-banner {
        .wrap-content {
            ul {
                li {
                    width: 33.3% !important;
                    float: left !important;
                }
            }
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    #k-supply-list {
        .k-supply-list-wrap {
            .k-supply-list-inner {
                .k-supply-list-box {
                    ul {
                        li {
                            a {
                                .icon {
                                    background-position-x: -120px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #k-supply-list {
        .k-supply-list-wrap {
            .k-supply-list-inner {
                .k-supply-list-box {
                    ul {
                        li {
                            a {
                                .icon {
                                    background-position-x: -130px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #k-banner {
        margin-top: 70px !important;
        padding-top: 85px !important;
    }

    .k-about-us-customer {
        .img {
            text-align: center;

            img {
                margin: 0 0 15px;
                display: inline-block;
            }
        }

        .text {
            .title {
                text-align: center;
            }
        }
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    #k-supply-list {
        .k-supply-list-box {
            ul {
                li {
                    width: 33.33% !important;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .page-wrap {
        background: white;
    }

    #k-banner {
        display: none;
    }

    #k-interest {
        .title {
            margin-top: 15px;
        }
    }

    .mb {
        display: block !important;
    }

    .pc {
        display: none !important;
    }

    .title {
        font-size: 20px !important;
        font-weight: 400 !important;
    }
}

/*------- Loc update --------*/
#k-slide {
    margin-top: 75px;
    padding-top: 15px;
    @media(max-width: 576px){
        display: none;
    }
    .img-wrap {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include border-radius(10px);
        // @include gradient-vertical(transparent, rgba(134, 222, 42, 0.9), 50%,  90%);
        img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
            object-position: center;
            @include border-radius(10px);
            box-shadow: 0 2px 4px 2px #f6f6f6;
            z-index: -1;
        }
    }

    .owl-item {
        .info h5 {
            color: white;
        }
    }

    .lg-banner {
        padding: 0;

        .item {
            float: left;
            position: relative;
            width: 50%;
            /*
        .info{
          position: absolute;
          bottom: 15px;
          padding: 0 7px;
          line-height: 1.2;
        }
        */
            .info {
                display: none;
            }

            h5 {
                display: block;
                width: 100%;
                font-size: 14px;
                line-height: 1.4;
                font-weight: bold;

                > a {
                    color: #fff;
                }
            }

            span {
                color: #fff;
                font-weight: 300;
                font-size: 13px;
                display: block;
                line-height: 1.2;
            }

            i {
                font-size: 0.7em;
                position: relative;
                top: -2px;
            }
        }
    }

    .sm-banner {
        .item {
            width: 100%;
            height: 140px;
            float: left;
            @include border-radius(5px);
        }

        .inner {
            background: white;
            width: 100%;
            float: left;
            @include display-flex();
            align-items: center;
            border-radius: 10px;
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
        }

        .info {
            width: calc(100% - 129px);
            float: left;
            color: $gray-dark;
        }

        img {
            float: left;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        h5 {
            font-weight: bold;

            > a {
                color: #484848;

                &:focus,
                &:hover {
                    color: #333;
                }
            }
        }

        span {
            display: block;
            font-size: 13px;
        }

        i {
            font-size: 0.5em;
            position: relative;
            top: -2px;
        }
    }

    .owl-buttons {
        display: none;
    }
    @media (min-width: 768px) {
        margin-top: 0;
        padding-top: 0;

        .owl-carousel {
            margin-top: -30px;
        }

        .img-wrap {
            img {
                box-shadow: 5px 10px 20px rgba(0, 0, 0, .1);
            }
        }

        .lg-banner {
            .item {
                /*
          .info{
            height: 100px;
            padding: 0 20px;
            @include display-flex();
            flex-wrap: wrap;
            // align-items: center;
          }
          */
                h5 {
                    font-size: 18px;
                }

                span {
                    font-size: 16px;
                }
            }
        }

        .sm-banner {
            .info {
                line-height: 1.5;
            }

            span {
                font-size: 16px;
            }
        }
    }
    @media (min-width: 1200px) {
        .owl-carousel {
            margin-top: -60px;
        }

        .lg-banner {
            margin-bottom: 30px;

            .item {
                padding-right: 15px;
                padding-left: 15px;
                /*
          .info{
            height: 150px;
            margin-right: 15px;
            padding: 0 30px;
          }
          */
                h5 {
                    font-size: 24px;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        .sm-banner {
            padding-left: 15px;

            .item {
                margin-bottom: 25px;
            }

            .info {
                padding: 15px;
            }

            h5 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            span {
                font-size: 16px;
                line-height: 1.2;
            }
        }

        .owl-pagination {
            display: none;
        }

        .owl-buttons {
            display: none;

            .icon {
                font-size: 40px;
                color: #a9a9a9;
                position: absolute;
                top: 200px;

                &.arrow-left {
                    left: -25px;
                }

                &.arrow-right {
                    right: -25px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        margin-top: 0;
        padding-top: 55px;

        .lg-banner {
            padding: 0 7.5px;

            .item {
                padding: 0 7.5px !important;
                margin-bottom: 15px !important;
            }
        }

        .sm-banner {
            .item {
                height: 100%;
                margin-bottom: 15px !important;
            }
        }

        .owl-theme .owl-controls {
            top: -10px !important;
            margin-top: 25px;
        }
    }
    @media (max-width: 1199px) {
        .lg-banner {
            width: 100%;
            margin-bottom: 0;

            .item {
                padding: 0 15px;
                margin-bottom: 30px;
            }
        }

        .sm-banner {
            width: 100%;

            .item {
                margin-bottom: 30px;

                .info {
                    margin-left: 15px;
                }
            }
        }

        .owl-theme .owl-controls {
            position: relative;
            top: -20px;
        }
    }
    @media (max-width: 480px) {
        .sm-banner {
            .info {
                width: calc(100%);
                padding: 10px;

                ul {
                    margin-bottom: 0;
                    display: none;
                }
            }

            img {
                margin-left: 0;
                border-radius: 5px 0 0 5px;
            }
        }
    }
}

/*------- Loc update --------*/
#k-slide {
    margin-top: 75px;
    padding-top: 15px;

    .img-wrap {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include border-radius(10px);
        // @include gradient-vertical(transparent, rgba(134, 222, 42, 0.9), 50%,  90%);
        img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
            object-position: center;
            @include border-radius(10px);
            box-shadow: 0 2px 4px 2px #f6f6f6;
            z-index: -1;
        }
    }

    .owl-item {
        .info h5 {
            color: white;
            line-height: 20px;
        }
    }

    .lg-banner {
        padding: 0;

        .item {
            float: left;
            position: relative;
            width: 50%;
            /*
        .info{
          position: absolute;
          bottom: 15px;
          padding: 0 7px;
          line-height: 1.2;
        }
        */
            .info {
                display: none;
            }

            h5 {
                display: block;
                width: 100%;
                font-size: 14px;
                line-height: 1.4;
                font-weight: bold;

                > a {
                    color: #fff;
                }
            }

            span {
                color: #fff;
                font-weight: 300;
                font-size: 13px;
                display: block;
                line-height: 1.2;
            }

            i {
                font-size: 0.7em;
                position: relative;
                top: -2px;
            }
        }
    }

    .sm-banner {
        .item {
            width: 100%;
            height: 140px;
            float: left;
            @include border-radius(5px);
        }

        .inner {
            background: white;
            width: 100%;
            float: left;
            @include display-flex();
            align-items: center;
            border-radius: 10px;
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
        }

        .info {
            width: calc(100% - 129px);
            float: left;
            color: $gray-dark;
        }

        img {
            float: left;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        h5 {
            font-weight: bold;

            > a {
                color: #484848;

                &:focus,
                &:hover {
                    color: #333;
                }
            }
        }

        span {
            display: block;
            font-size: 13px;
        }

        i {
            font-size: 0.5em;
            position: relative;
            top: -2px;
        }
    }

    .owl-buttons {
        display: none;
    }
    @media (min-width: 768px) {
        margin-top: 0;
        padding-top: 0;

        .owl-carousel {
            margin-top: -30px;
        }

        .img-wrap {
            img {
                box-shadow: 5px 10px 20px rgba(0, 0, 0, .1);
            }
        }

        .lg-banner {
            .item {
                /*
          .info{
            height: 100px;
            padding: 0 20px;
            @include display-flex();
            flex-wrap: wrap;
            // align-items: center;
          }
          */
                h5 {
                    font-size: 18px;
                }

                span {
                    font-size: 16px;
                }
            }
        }

        .sm-banner {
            .info {
                line-height: 1.5;
            }

            span {
                font-size: 16px;
            }
        }
    }
    @media (min-width: 1200px) {
        .owl-carousel {
            margin-top: -60px;
        }

        .lg-banner {
            margin-bottom: 30px;

            .item {
                &:first-child {
                    padding-right: 15px;
                }

                &:last-child {
                    padding-left: 15px;
                }
                /*
          .info{
            height: 150px;
            margin-right: 15px;
            padding: 0 30px;
          }
          */
                h5 {
                    font-size: 24px;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        .sm-banner {
            padding-left: 15px;

            .item {
                margin-bottom: 25px;
            }

            .info {
                padding: 15px;
            }

            h5 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            span {
                font-size: 16px;
                line-height: 1.2;
            }
        }

        .owl-pagination {
            display: none;
        }

        .owl-buttons {
            display: block;

            .icon {
                font-size: 40px;
                color: #a9a9a9;
                position: absolute;
                top: 200px;

                &.arrow-left {
                    left: -25px;
                }

                &.arrow-right {
                    right: -25px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        margin-top: 0;
        padding-top: 55px;

        .lg-banner {
            padding: 0 7.5px;

            .item {
                padding: 0 7.5px !important;
                margin-bottom: 15px !important;
            }
        }

        .sm-banner {
            .item {
                height: 100%;
                margin-bottom: 15px !important;
            }
        }

        .owl-theme .owl-controls {
            top: -10px !important;
        }
    }
    @media (max-width: 1199px) {
        .lg-banner {
            width: 100%;
            margin-bottom: 0;

            .item {
                padding: 0 15px;
                margin-bottom: 30px;
            }
        }

        .sm-banner {
            width: 100%;

            .item {
                margin-bottom: 30px;

                .info {
                    margin-left: 15px;
                }
            }
        }

        .owl-theme .owl-controls {
            position: relative;
            top: -20px;
        }
    }
    @media (max-width: 380px) {
        .sm-banner {
            .info {
                width: calc(100%);
                padding: 10px;

                ul {
                    margin-bottom: 0;
                }
            }

            img {
                margin-left: 10px;
                border-radius: 5px;
            }
        }
    }
}

//#k-learn-what-today {
//    background-color: #2f3b47;
//    color: #fff;
//    text-align: center;
//    padding: 50px 0;
//
//    .title {
//        font-size: 36px;
//        font-weight: 300;
//    }
//
//    .row {
//        display: flex;
//        flex-wrap: wrap;
//        justify-content: center;
//
//        .item {
//            padding: 10px;
//            width: 20%;
//            position: relative;
//
//            .text {
//                display: table;
//                position: absolute;
//                top: 0;
//                left: 0;
//                width: 100%;
//                height: 100%;
//                padding: 10px;
//
//                span {
//                    display: table-cell;
//                    vertical-align: middle;
//                    width: 1000px;
//                    font-weight: 700;
//                    font-size: 16px;
//                    color: white;
//                }
//            }
//
//            img {
//                width: 100%;
//                border-radius: 3px;
//                opacity: 1;
//                transition: all 0.2s ease;
//            }
//
//            &:hover img {
//                opacity: 0.7;
//            }
//        }
//    }
//}
