/* LESSION CSS */

.pd0 {
    padding: 0 !important;
}

.img-document {
    height: 22px;
    width: 17px;
    @include icon-main;
    background-position: -50px -6094px;
}

.width100per {
    .group-top {
        .pull-right {
            margin-bottom: 54px;
            @media (max-width: 767px) {
                height: auto;
                margin-bottom: 0;
            }
        }
    }
}

.wrap-essay-lesson {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    margin-top: 7px;
    padding-top: 20px;
    @media (max-width: 767px) {
        background-color: transparent;
        padding: 0;
        overflow-x: hidden;
    }

    .title {
        font-size: 16px !important;

        .courses {
            color: map-get($color-brands, kyna);
            cursor: pointer;
        }
    }

    .wrap-lesson {
        padding: 20px 1.875rem;
        margin-left: -0.9375rem;
        width: calc(100% + 1.875rem);
        @media (max-width: 767px) {
            background-color: #e0e0e0;
        }
        font-size: 16px;
    }

    .ready {
        .question-lesson {
            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            .title-question {
                color: map-get($color-brands, kyna);
                font-weight: bold;
            }
        }

        .btn-start {
            float: right;
            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
            @include button-color(map-get($color-brands, kyna));
        }

        .btn-answer {
            float: right;
            @media (max-width: 767px) {
                width: 100%;
            }
            @include button-color(map-get($color-brands, kyna));
            display: none;
        }
    }

    .box-quiz-test {
        display: none;

        .answer-lession {
            width: 100%;
        }
        @media (min-width: 768px) {
            .k-listing-characteristics {
                box-shadow: none;
                background-color: transparent;

                h3 {
                    border-bottom: none;
                }

                .k-listing-characteristics-list {
                    .radio {
                        width: 49%;
                        float: left;

                        label {
                            display: flex;
                            font-size: 14px;

                            img {
                                @include border-radius(4px);
                                border: 1px solid #ccc;
                                margin-right: 15px;
                            }
                        }
                    }

                    .radio + .radio {
                        margin-top: 0;
                    }

                    .radio.disable input[type=radio]:checked + label > span:before {
                        content: none;
                    }
                }
            }
        }

        .btn-answer {
            float: right;
            @media (max-width: 767px) {
                width: 100%;
            }
            @include button-color(map-get($color-brands, kyna));
            //display: none;
        }

        .btn-next,
        .btn-prev {
            background-color: #fff;
            color: #a3a3a3;
            border: 2px solid #a3a3a3;
        }
    }

    p.countdown-time,
    p.countdown-time-start {
        position: absolute;
        z-index: 999;
        top: -30px;
        right: 0;
        // background-color: $color-price;
        .timer {
            padding: 5px;
            color: white;
            margin-left: 10px;
            background-color: $color-price;
        }

        .current-pos {
            color: #50ad4e;
        }
        @media (max-width: 767px) {
            position: static;
            background-color: transparent;

            .timer {
                color: map-get($color-brands, kyna);
            }
        }
    }

    .complete {
        display: none;
        text-align: center;

        .iconComplete {
            font-size: 50px;
            color: map-get($color-brands, kyna);
            margin-bottom: 10px;
        }

        .title-alert {
            font-size: 18px;
            color: map-get($color-brands, kyna);
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .action-lesson {
        margin-top: 10px;

        .next,
        .previous {
            display: table-cell;
            vertical-align: middle;
            padding: 6px 12px;
            text-align: center;
            height: 40px;
            line-height: 28px;
            font-weight: bold;
            font-size: 16px;
            color: map-get($color-brands, kyna);
            cursor: pointer;

            i {
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }

    .menu-lesson {
        width: 100%;
        overflow: hidden;

        #scroller {
            width: 426px;
            height: 100%;
            float: left;
            padding: 0;
            ul {
                list-style: none;
                display: block;
                float: left;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                text-align: left;

                li {
                    display: block;
                    vertical-align: middle;
                    float: left;
                    padding: 0 10px;
                    height: 100%;
                    font-size: 14px;
                    border-radius: 3px;
                }
            }
        }
    }
}

.wrap-quiz-lesson {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    margin-top: 7px;
    padding-top: 20px;
    height: calc(100vh - 218px);
    @media(max-width: 1199px){
        max-height: 540px;
    }
    @media(max-width: 991px){
        max-height: 435px;
    }
    @media (max-width: 767px) {
        background-color: transparent;
        padding: 0;
        overflow-x: hidden;
        max-height: 325px;
    }

    .title {
        font-size: 16px !important;
        color: #50ad4e;

        .courses {
            color: map-get($color-brands, kyna);
            cursor: pointer;
        }
    }

    .wrap-lesson {
        padding: 20px 1.875rem;
        margin-left: -0.9375rem;
        width: calc(100% + 1.875rem);
        @media (max-width: 767px) {
            background-color: #e0e0e0;
        }
        font-size: 16px;
    }

    .box-quiz-test {
        display: none;

        .answer-lession {
            width: 100%;
        }

        .question-explain-answer {
            font-size: 14px;
            margin-left: 15px;
            padding-bottom: 5px;

            b {
                color: #50ad4e;
            }
        }

        .redo-container {
            .btn-result {
                color: #a0a0a0;
                margin-top: 5px;
                float: left;
                text-decoration: underline !important;

                &:focus,
                &:hover {
                    color: #50ad4e;
                }
            }

            .btn-redo {
                background: #50ad4e;
                color: white;
                border-bottom: 2px solid #489b46;
                border-top: none;
                border-right: none;
                border-left: none;
                padding: 7px 20px;
                display: inline-block;
                border-radius: 3px;
                transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;

                &:focus,
                &:hover {
                    background: #489b46;
                    border-bottom: 2px solid #439141;
                }
            }
        }
        @media (min-width: 768px) {
            .redo-container {
                .btn-redo {
                    float: right;
                    width: auto;
                }
            }

            .k-listing-characteristics {
                box-shadow: none;
                background-color: transparent;

                h3 {
                    border-bottom: none;
                }

                .k-listing-characteristics-list {
                    .radio {
                        width: 49%;
                        float: left;

                        label {
                            display: flex;
                            font-size: 14px;

                            img {
                                @include border-radius(4px);
                                border: 1px solid #ccc;
                                margin-right: 15px;
                            }
                        }
                    }

                    .radio + .radio {
                        margin-top: 0;
                    }
                }
            }
        }

        .btn-answer {
            float: right;
            @media (max-width: 767px) {
                width: 100%;
            }
            @include button-color(map-get($color-brands, kyna));
            //display: none;
        }

        .btn-back,
        .btn-next,
        .btn-prev {
            background-color: #fff;
            color: #272727;
            border: 2px solid #a3a3a3;
            border-radius: 4px;

            &:focus,
            &:hover {
                background-color: #eee;
            }
        }

        .btn-prev {
            margin-right: 5px;

            i {
                margin-right: 5px;
            }
        }

        .btn-back {
            float: right;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    p.countdown-time,
    p.countdown-time-start {
        position: absolute;
        z-index: 999;
        top: -30px;
        right: 0;

        .timer {
            background-color: $color-price;
            padding: 5px;
            margin-left: 10px;
            color: white;
        }

        .current-pos {
            color: #50ad4e;
        }
        @media (max-width: 767px) {
            position: static;
            background-color: transparent;

            .timer {
                color: map-get($color-brands, kyna);
            }
        }
    }

    .action-lesson {
        margin-top: 10px;

        .next,
        .previous {
            display: table-cell;
            vertical-align: middle;
            padding: 6px 12px;
            text-align: center;
            height: 40px;
            line-height: 28px;
            font-weight: bold;
            font-size: 16px;
            color: map-get($color-brands, kyna);
            cursor: pointer;

            i {
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }

    .next-quiz {
        float: left;
        text-align: center;
        @media (max-width: 767px) {
            width: 100%;
        }
        @include button-color(map-get($color-brands, kyna));
    }

    .k-listing-characteristics-list {
        margin-bottom: 0;

        .wrong {
            text-decoration: line-through;

            > span {
                background: red;
                border: none;

                &:before {
                    font-family: "fontastic-icon" !important;
                    content: "\56";
                    display: block;
                    width: 15px;
                    color: white;
                    font-size: 7px;
                    line-height: 15px;
                    text-align: center;
                    text-shadow: 0 0 0.0714em #73994d;
                }
            }

            &:before {
                content: "Sai";
                position: absolute;
                right: 0;
                color: red;
            }
        }

        .right {
            > span {
                background: map-get($color-brands, kyna);
                border: none;

                &:before {
                    font-family: "fontastic-icon" !important;
                    content: "\56";
                    display: block;
                    width: 15px;
                    color: white;
                    font-size: 7px;
                    line-height: 15px;
                    text-align: center;
                    text-shadow: 0 0 0.0714em #73994d;
                }
            }

            &:before {
                content: "\00d0\00fang";
                position: absolute;
                right: 0;
                color: map-get($color-brands, kyna);
                font-family: 'Roboto', 'Arial', sans-serif;
            }
        }
    }

    .ready {
        .question-lesson {
            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            .title-question {
                color: map-get($color-brands, kyna);
                font-weight: bold;
            }
        }

        .quote-lesson {
            width: 100%;

            .wrap-quote {
                width: 85%;
                margin: 0 auto 15px;

                img {
                    padding-right: 30px;
                    float: left;
                }
            }
        }

        .btn-start {
            float: left;
            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
            @include button-color(map-get($color-brands, kyna));
        }
    }

    .complete {
        .wrap-quote-result {
            text-align: left;
            width: 85%;
            margin: 0 auto;

            img {
                padding-right: 30px;
                float: left;
            }

            .number {
                font-size: 30px;

                .number-result {
                    color: map-get($color-brands, kyna);
                }
            }

            .btn-result {
                padding: 10px 20px;
                background-color: $gray-light;
                text-align: center;
                color: white;
                margin-bottom: 15px;

                &.check {
                    background-color: map-get($color-brands, kyna);
                }
            }
        }

        .result-quiz-lesson {
            .result-number {
                color: map-get($color-brands, kyna);
                font-weight: bold;
            }
        }

        .k-listing-characteristics.slide {
            display: none;

            &.show {
                display: block;
            }
            @media (min-width: 768px) {
                box-shadow: none;
                background-color: transparent;

                h3 {
                    border-bottom: none;
                }

                .k-listing-characteristics-list {
                    text-align: left;

                    .radio {
                        width: 49%;
                        float: left;

                        label {
                            display: flex;

                            img {
                                @include border-radius(4px);
                                border: 1px solid #ccc;
                                margin-right: 15px;
                            }
                        }
                    }

                    .radio + .radio {
                        margin-top: 0;
                    }
                }
            }
        }

        .action-lesson {
            .nex,
            .pre {
                cursor: pointer;

                i {
                    color: map-get($color-brands, kyna);
                    font-size: 12px;
                }
            }
        }
    }
}

#part-video.part-video {
    margin-top: 15px;
    padding: 0;

    #scroller {
        width: calc(100% - 420px);
        overflow: hidden;
        @media (max-width: 1024px) {
            width: calc(100% - 260px);
        }
        @media (max-width: 767px) {
            width: calc(100% - 120px);
        }
        #bar-scroll{
            width:auto !important;
        }
        ul {
            width: auto;
            padding: 0;
            margin: 0;

            li {
                float: left;

                a {
                    position: relative;
                    text-align: center;
                    min-width: 40px;
                    padding: 4px;
                    margin: 0 4px 7px 0;
                    background-color: $gray-lighter;
                    float: left;
                    cursor: pointer;
                    color: $color-body;

                    &.question-test {
                        color: $color-price;
                    }

                    &.icon-check-complete-lesson {
                        background-color: #bababa;

                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 10px;
                            z-index: 1;
                            color: white;
                        }

                        &:after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 15px solid #4fad4d;
                            border-right: 15px solid transparent;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }
                    }

                    &.seeing {
                        background-color: #4fad4d;
                    }

                    &.quiz {
                        background-image: url("/img/icon/icon-ques.png");
                        background-size: auto 100%;
                        height: 32px;
                        width: 56px;
                    }
                    @media (max-width: 768px) {
                        margin: 2px 0;
                        border-left: 2px solid #272727;
                        border-right: 2px solid #272727;
                        width: 100%;
                    }
                }

                &.active {
                    background-color: map-get($color-brands, kyna);

                    &.icon-check-complete-lesson:before {
                        color: white;
                    }
                }
            }
            @media (max-width: 1024px) {
                margin-right: 0;
            }
        }
    }

    .tool-bar {
        position: absolute;
        top: 6px;
        right: 0;
        color: white;
        @media (max-width: 767px) {
            right: 5px;
        }

        > div {
            display: inline-block;
            vertical-align: middle;
            height: 24px;

            .icon-star-list {
                background-color: white;
                display: inline-block;
                padding: 0 6px;
                border-radius: 4px;
                margin-left: 10px;
                cursor: pointer;

                &.done {
                    cursor: default;
                }

                .icon-star {
                    &.active {
                        color: #50ad4e;
                    }
                }
            }

            &.btn-tutorial {
                padding: 0 10px;
                cursor: pointer;

                span {
                    display: block;
                    background: white;
                    color: #272727;
                    padding: 2px 5px;
                    border-radius: 4px;
                    font-size: 12px;
                    height: 24px;

                    img {
                        position: relative;
                        top: -1px;
                    }
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }

            &.view-mode {
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }

    .nex,
    .pre {
        display: none;
        height: 32px;
        line-height: 32px;
        text-align: left;
        padding: 0 10px;
        width: 50px;
        top: 0;
        left: 0;
        position: absolute;
        cursor: -webkit-grab;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.3), white);
    }

    .nex {
        text-align: right;
        left: auto;
        right: 0;
        background: linear-gradient(to left, white, rgba(255, 255, 255, 0.3));
    }
    /*&:after{
        content: "";
        height: 32px;
        line-height: 32px;
        text-align: right;
        padding-right: 10px;
        font-size: 20px;
        width: 50px;
        top: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(to left, white, rgba(255, 255, 255, 0.3));
    }*/
    @media (max-width: 768px) {
        margin: 15px 0;
    }
}

.wrap-content-lesson {
    overflow: auto;
    overflow: overlay;
    margin-top: 7px;
    height: calc(100vh - 218px);
    padding: 10px 30px;
    background-color: white;
    @media(max-width: 1199px){
        max-height: 540px;
    }
    @media(max-width: 991px){
        max-height: 435px;
    }
    @media (max-width: 767px) {
        max-height: 325px;
    }
    img {
        max-width: 100%;
    }

    .text-content-lesson {
        iframe {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.main-lesson {
    .wrap-top {
        padding: 0;
        //padding-top: 68px;
        &.width100per {
            .group-top {
                // height: 840px;
                // @media (max-width: 1199px) {
                //     height: 591px;
                // }
                // @media (max-width: 991px) {
                //     height: 468px;
                // }
                // @media (max-width: 767px) {
                //     height: auto;
                // }
                .wrap-menu-mobile {
                    top: 0;
                    padding-top: 0;

                    .mobile-tab ul {
                        li {
                            background: #fff;
                            color: #272727;
                            border-top: 3px solid #fff;

                            a {
                                color: #272727;
                                font-weight: bold;
                                padding: 8px 10px;
                            }

                            &.active-tab,
                            &:focus,
                            &:hover {
                                border-top: 3px solid #50ad4e;
                            }
                        }
                    }
                }

                .pull-right {
                    width: 100% !important;
                }

                .wrap-video-lesson {
                    position: relative;
                    height: calc(100vh - 208px);

                    .videoWrapper {
                        margin-top: 39px;
                        height: calc(100% - 60px);
                        height: 100%;
                        padding: 0;

                        .flowplayer {
                            height: 100%;
                        }

                        .tab-pane.video {
                            height: 100%;
                        }
                    }
                    @media (max-width: 768px) {
                        padding-top: 0;
                        height: auto;
                    }
                }
            }

            #detail-tab-lesson,
            #document-tab-lesson {
                min-height: calc(100vh - 208px);
            }

            #discuss-content {
                min-height: 620px;
            }

            #lesson-latest-qa {
                min-height: 620px;

                ul.bottom {
                    li {
                        position: relative;
                        top: -15px;
                        left: 0;
                    }
                }

                .row-ask {
                    float: left;
                    width: 100%;

                    ul.bottom {
                        margin-bottom: 0;
                    }
                }

                .empty {
                    text-align: center;
                    padding: 0;
                }

                .content-sub.box-ask {
                    position: relative;
                    margin-top: 30px;
                    left: 0;
                }

                .content-sub {
                    .row-ask {
                        margin-top: 0;
                    }
                }
            }
        }

        .group-top {
            .wrap-video-lesson {
                padding: 0;
                height: calc(100% + 17px);
                position: relative;
                background-color: #333333;
                @media(min-width: 1600px){
                    height: calc(100% + -52px);
                }

                @media(max-width: 1199px){
                    height: 100%;
                }
                iframe{
                    position: absolute;
                    top:50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                #flowplayerhtml5 {
                    height: calc(100% - 25px);
                    //     background: black;
                }
            }
        }
    }

    .header-lesson {
        float: right;
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .container {
            position: relative;
            @media (max-width: 767px) {
                padding: 0;
            }
        }

        .courses {
            padding: 0;
            line-height: 38px;
            font-weight: bold;
            float: left;

            .back-mycourse {
                background: #50ad4e;
                color: white;
                line-height: 0;
                position: relative;
                display: block;
                width: 60px;
                height: 60px;

                i.icon-back-mycourse:before {
                    content: "";
                    background-image: url("/img/icon/arr-back-header.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }

            &.title-course {
                width: 100%;
                position: absolute;
                text-align: center;
                top: 14px;
                @media (max-width: 991px) {
                    padding-left: 40px;
                }

                h4 {
                    margin: 0;
                    display: inline-block;
                    font-weight: bold;

                    &::before {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .back {
            z-index: 2;
            position: relative;
        }

        .logo {
            z-index: 1;
            position: relative;
            padding-top: 12px;
            padding-bottom: 0;
            @media(max-width: 991px) {
                width: 130px;
                margin-right: 0;
                padding-left: 10px;
                padding-right: 0;

                img {
                    height: 40px;
                }
            }
        }

        .tool-bar {
            .item-viewmode {
                display: none;
            }
            @media (min-width: 1025px) {
                padding: 18px 12px;

                > div {
                    float: left;
                    padding: 0 6px;
                    border-right: 1px solid $gray-dark;
                    display: inline;

                    &:last-child {
                        border-right: none;
                    }

                    span {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    i:before {
                        color: map-get($color-brands, kyna);
                    }

                    img {
                        height: 100%;
                        width: auto;
                        margin: 0 3px;
                        cursor: pointer;
                    }
                }
            }
        }

        .account {
            float: right;
            margin-right: 10px;
            margin-top: 7px;
            text-align: right;

            .dropdown-toggle {
                padding: 0;
                display: inline-block;
            }

            .dropdown-toggle-profile {
                background: map-get($colors, green);
                color: white;
                height: 40px;
                line-height: 40px;
                padding: 0 15px;
                display: inline-block;
                text-align: center;

                .sub-wrap {
                    padding: 0;

                    i {
                        font-size: 10px;
                    }
                }
            }

            img {
                border-radius: 50%;
                width: 37px;
                height: 37px;
                float: left;
                margin-right: 10px;
                display: inline-block;
                @media (max-width: 991px) {
                    display: none;
                }
            }

            .dropdown-menu {
                &:after {
                    display: none;
                }
                min-width: 250px;
            }
            @media (min-width: 768px) {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }

            .dropdown-user {
                @extend .header-box-right;
                width: 300px !important;
                padding: 10px 0 !important;

                &:before {
                    @include fontastic-icon();
                    text-shadow: 0 -3px 5px darken($gray-lighter, 10%);
                    content: "\3a";
                    font-size: 16px;
                    position: absolute;
                    right: 55px;
                    top: -13px;
                    color: white;
                    z-index: 10;
                }
                @media(max-width: 425px){
                    width: 240px !important;
                    right: -5px;
                    &:before{
                        right: 20px;
                    }
                }

                .inner {
                    li {
                        position: relative;
                        /*
                        &:nth-child(3) {
                            border-bottom: 1px solid #ddd;
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:nth-child(4) {
                            a {
                                padding-top: 20px;
                            }
                        }
                        &:nth-child(5) {
                            a {
                                padding-bottom: 20px;
                            }
                        }
                        &:last-child {
                            border-top: 1px solid #ddd;
                        }
                        */
                        a {
                            @extend .header-text-main;
                            padding: 13px 23px 13px 63px;
                            border-bottom: none;

                            .icon {
                                @extend .background-icon-main;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 50px;
                                height: 41px;

                                &.fa-trophy {
                                    font-size: 25px;
                                    top: 11px;
                                    left: 20px;
                                }
                            }

                            .profile-my-courses {
                                background-position: -35px -6989px;
                            }

                            .profile-my-wishlist {
                                background-position: -35px -7502px;
                            }

                            .profile-purchase {
                                background-position: -35px -7844px;
                            }

                            .profile-editinfo {
                                background-position: -35px -7977px;
                            }

                            .profile-activation-code {
                                background-position: -35px -7694px;
                            }

                            .profile-logout {
                                i {
                                    color: $gray-dark;
                                    font-size: 22px;
                                    text-align: center;
                                    position: relative;
                                    left: 10px;
                                    top: 2px;
                                }
                            }

                            &:hover {
                                color: $secondary-color-kyna;

                                .profile-my-courses {
                                    background-position: -35px -7138px;
                                }

                                .profile-my-wishlist {
                                    background-position: -35px -7354px;
                                }

                                .profile-purchase {
                                    background-position: -35px -7429px;
                                }

                                .profile-editinfo {
                                    background-position: -35px -7285px;
                                }

                                .profile-activation-code {
                                    background-position: -35px -7570px;
                                }

                                .profile-logout {
                                    i {
                                        color: map-get($colors, green);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .dropdown-login {
                min-width: 300px;
                right: 0;
                left: initial;
                padding: 0;
                border: none;
                background: $gray-dark;
                padding: 20px 30px;
                color: white;
                @include border-radius(0px);

                li {
                    margin: 6px 0;

                    h4 {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 25px;
                    }

                    .button-facebook {
                        @extend .header-button-social;
                        background: $primary-color-social-facebook;
                        border-bottom: 2px solid $secondary-color-social-facebook;

                        &:hover {
                            background: $secondary-color-social-facebook;
                            border-bottom: 2px solid $last-color-social-facebook;
                        }
                    }

                    .button-google {
                        @extend .header-button-social;
                        background: $primary-color-social-google;
                        border-bottom: 2px solid $secondary-color-social-google;

                        &:hover {
                            background: $secondary-color-social-google;
                            border-bottom: 2px solid $last-color-social-google;
                        }
                    }

                    .button-login {
                        @extend .header-button-social;
                        background: $primary-color-kyna;
                        border-bottom: 2px solid $secondary-color-kyna;

                        &:hover {
                            background: $secondary-color-kyna;
                            border-bottom: 2px solid $last-color-kyna;
                        }
                    }

                    .button-register {
                        @extend .header-button-social;
                        color: #373737 !important;
                        background: $primary-color-social-register;
                        border-bottom: 2px solid $secondary-color-social-register;

                        &:hover {
                            background: $secondary-color-social-register;
                            border-bottom: 2px solid $last-color-social-register;
                        }
                    }
                }
            }

            .sub-wrap {
                display: inline-block;
                padding-left: 37px;
                @media (max-width: 991px) {
                    padding-left: 0;
                }

                .text {
                    float: right;
                }

                .user {
                    display: inline-block;
                    font-size: 14px;
                    color: #4a4a4a;
                    line-height: 20px;
                }

                .title {
                    display: block;
                    color: #212121;
                    font-size: 12px !important;
                    padding-right: 15px;
                    margin-top: 0;
                    //                    width: 110px;
                }
            }

            a {
                &:after {
                    position: absolute;
                    right: -3px;
                    bottom: 15px;
                    color: #4a4a4a;
                }

                &:hover {
                    .user {
                        color: $secondary-color-kyna;
                    }

                    &:after {
                        color: $secondary-color-kyna;
                    }
                }
            }

            &.dropdown:hover .dropdown-login {
                display: block;
            }
        }
    }

    .group-top {
        position: relative;
        background-color: $color-body;
        //height: calc(100vh - 50px);
        //@media(min-width: 1600px){
        //    height: calc(100vh - 90px);
        //}
        //@media(max-width: 1199px){
        //    height: 670px;
        //}
        //@media(max-width: 991px){
        //    height: 550px;
        //}
        //@media(max-width: 767px){
        //    height: 542px;
        //}
        .pull-right {
            padding: 0;
            height: calc(100vh - 164px);
            transition: all 0.5s ease;
            @media(min-width: 768px) and (max-width: 991px){
                height: 466px !important;
            }
            @media(min-width: 992px) and (max-width: 1199px){
                height: 566px !important;
            }
            @media(max-width: 1199px){
                height: 616px;
            }
            @media(max-width: 991px){
                height: 545px;
            }
            @media(max-width: 767px){
                height: 350px;
            }
            @media(max-width: 320px){
                height: 325px;
            }
            &.background-dark {
                background-color: #272727;
                &.video_2{
                    @media(max-width: 425px){
                        height: 300px !important;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            background-color: transparent;
        }

        .container {
            @media (max-width: 767px) {
                padding: 0;
            }
        }

        .header-lesson {
            margin-top: 65px;

            p {
                padding-left: 0;
                margin: 0;

                span {
                    color: map-get($color-brands, kyna);
                }
            }
        }

        .wrap-menu-mobile {
            padding: 15px 10px 0 0;
            @media (max-width: 1199px) {
                padding-top: 15px;
            }
            @media(max-width: 991px) and (min-width: 768px){
                padding-top: 45px;
            }
            @media(min-width: 667px) and(max-width: 736px){
                padding-top: 40px;
            }
            @media (max-width: 767px) {
                padding-right: 0;
            }

            .videoWrapper {
                position: relative;
                padding: 0;
            }
        }
    }

    .mobile-tab {
        padding: 0;
        @media (max-width: 767px) {
            border-bottom: 2px solid $gray-light;
            overflow: hidden;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 38px;
                width: 30px;
                background: rgba(255, 255, 255, 0.32);
                background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
                background: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
                background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
                background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
            }
        }

        ul {
            @media (max-width: 767px) {
                width: 350px;
                position: relative;
                top: 2px;
            }
            border: none;

            li {
                float: left;
                background-color: $color-body;
                border-top: 3px solid $color-body;
                @media (max-width: 767px) {
                    border-top: none;
                    border-bottom: 3px solid transparent;
                    background-color: transparent;
                }

                a {
                    color: white;
                    padding: 6px 10px;
                    display: block;
                    @media (max-width: 767px) {
                        color: $color-body;
                    }
                }

                &.active-tab,
                &:hover {
                    border-top: 3px solid map-get($color-brands, kyna);
                    background-color: white;
                    @media (max-width: 767px) {
                        border-top: none;
                        border-bottom: 3px solid map-get($color-brands, kyna);
                        background-color: transparent;
                    }

                    a {
                        color: $color-body;
                        font-weight: bold;
                        letter-spacing: -0.7px;
                    }
                }
            }
        }
    }

    .content-lession {
        border: 1px solid $gray-light;
    }

    .add-note {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80px;
        @include border-radius(3px);

        &:focus {
            outline: none;
            border: 1px solid map-get($color-brands, kyna);
        }
    }

    .feedback-lesson {
        margin-top: 45px;
        width: 100%;
        height: 0;
        float: none;
        position: relative;
        top: 20px;
        @media(min-width: 992px) and (max-width: 1199px){
            margin-top: 0;
        }
        .banner-lesson {
            margin: 0;
            position: relative;

        }

        .box-hotline {
            padding: 10px 10px 10px 45px;
            position: relative;
            border-top: 2px solid map-get($color-brands, kyna);
            box-shadow: 0 1px 2px $gray-light;
            margin: 110px 0 15px;
            @media(min-width: 992px) and (max-width: 1199px){
                margin-top: 0;
            }
            @media(min-width: 1600px){
                margin-top:60px;
            }

            p {
                margin-bottom: 0;
            }

            .title-hotline {
                font-size: 24px;

                span {
                    color: map-get($color-brands, kyna);
                }
            }

            &:before {
                position: absolute;
                top: 20px;
                font-size: 30px;
                left: 10px;
            }
            @media (max-width: 1199px) {
                .title-hotline {
                    font-size: 20px;
                }
            }
            @media (max-width: 991px) {
                display: none;

                .title-hotline {
                    font-size: 13px;
                }
            }
        }

        .btn-feedback {
            margin-top: 20px;
            text-decoration: underline;
            padding-left: 20px;
            padding-bottom: 10px;
            position: relative;
            cursor: pointer;

            &.icon-feedback:before {
                content: "\27";
                position: absolute;
                top: 5px;
                left: 0;
                color: map-get($color-brands, kyna);
            }
        }
    }

    .menu-desktop {
        border-bottom: 2px solid $gray-light;
        background-color: $gray-lighter;
        position: relative;
        height: 50px;
        padding: 0;

        ul {
            border: none;

            li {
                float: left;

                a {
                    display: block;
                    color: $color-body;
                    padding: 12px 18px;
                    @media (max-width: 991px) and (min-width: 545px) {
                        padding: 12px;
                    }
                }

                &.active-tab,
                &:hover {
                    border-bottom: 2px solid map-get($color-brands, kyna);
                }
            }
        }
    }

    .box-of-menutabs {
        position: relative;
        background-color: white;
        height: calc(100vh - 308px);
        @media(min-width: 768px) and (max-width: 1024px){
            height: 470px;
        }
        @media (max-width: 1199px) {
            &#detail-tab-lesson,
            &#document-tab-lesson {
                min-height: 400px;
            }
        }
        @media(min-width: 992px) and (max-width: 1199px){
            &#detail-tab-lesson{
                margin-bottom:245px;
            }
        }
        @media (max-width: 767px) {
            height: auto;
        }
        padding: 12px;
        overflow: auto;
        //CHROME
        &::-webkit-scrollbar {
            width: 13px;
            height: 13px;
        }

        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }

        &::-webkit-scrollbar-thumb {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
            border: 0 none #ffffff;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
            -moz-box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
            box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
        }

        &::-webkit-scrollbar-thumb:active {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
        }

        &::-webkit-scrollbar-track {
            background: #ebebeb;
            border: 0 none #ffffff;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
        //FIREFOX
        &::-moz-scrollbar {
            width: 13px;
            height: 13px;
        }

        &::-moz-scrollbar-button {
            width: 0;
            height: 0;
        }

        &::-moz-scrollbar-thumb {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
            border: 0 none #ffffff;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
            -moz-box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
            box-shadow: 0 0 16px -5px rgba(181, 168, 181, 1);
        }

        &::-moz-scrollbar-thumb:hover {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
        }

        &::-moz-scrollbar-thumb:active {
            background: #ffffff url('/src/img/icon-scroll.png') 50% 50% no-repeat;
        }

        &::-moz-scrollbar-track {
            background: #ebebeb;
            border: 0 none #ffffff;
        }

        &::-moz-scrollbar-corner {
            background: transparent;
        }

        .btn-add-note {
            width: 100%;
            @include button-color(map-get($color-brands, kyna));
        }

        .detail-note {
            .title-note {
                color: map-get($color-brands, kyna);
                padding: 6px 0;
                @media (min-width: 768px) {
                    &.icon-sticky-note:before {
                        content: none;
                    }
                }

                i:first-child {
                    font-size: 8px;
                    color: $color-body;
                }
            }

            .content-note {
                border: 1px solid $gray-light;
                @include border-radius($border-radius);
                padding: 5px;
                display: none;

                .action-note {
                    margin-top: 5px;
                    color: map-get($color-brands, kyna);
                    text-align: right;

                    span {
                        margin: 0 3px;
                        cursor: pointer;
                    }
                }
            }

            &.show {
                .content-note {
                    display: block;
                }
            }
        }

        .scroll-box {
            height: auto;
            padding-bottom: 10px;
            @media (max-width: 767px) {
                border: 1px solid $gray-light;
                @include border-radius($border-radius-lg);
            }

            .title-part {
                color: map-get($color-brands, kyna);
                text-transform: uppercase;
                cursor: pointer;
                padding: 10px 0;

                i {
                    color: $color-body;
                    font-size: 8px;
                    position: relative;
                    top: -3px;

                    &.icon-arrow-down,
                    &.icon-arrow-up {
                        color: map-get($color-brands, kyna);
                    }
                }
            }

            .detail-part {
                border-bottom: 1px solid darken($gray-lighter, 10%);

                li {
                    display: none;

                    &:first-child {
                        display: block;
                    }
                }

                &.show {
                    li {
                        display: block;
                    }
                }
                @media (max-width: 767px) {
                    padding: 0 15px;
                    margin: 0;
                }

                .sub-part {
                    position: relative;
                    width: calc(100% + 24px);
                    margin-left: -12px;
                    cursor: pointer;
                    @media (max-width: 767px) {
                        width: calc(100% + 30px);
                        margin-left: -15px;

                        a {
                            &:before {
                                margin-right: 10px;
                            }
                        }
                    }

                    a {
                        display: block;
                        color: $color-body;
                        padding: 6px 15px 6px 12px;

                        &:before {
                            color: $gray-light;
                        }
                    }

                    &.seen {
                        a {
                            color: $gray-light;
                        }
                    }

                    &.see-ing,
                    &:hover {
                        a {
                            color: white;

                            &:before {
                                color: white;
                            }
                        }
                        background: $gray-light;
                    }
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }

    .box-of-menutabs.desktop {
        background-color: $gray-lighter;
        padding-top: 10px;
        height: auto;
        min-height: 800px;
        overflow: hidden;
        @media (max-width: 1199px) {
            min-height: 700px;
        }
        @media (max-width: 767px) {
            min-height: 0;
        }

        .tool-search {
            margin-bottom: 10px;

            .search-input-area {
                font-size: 0;

                .input-search {
                    font-size: $font-size-root;
                    border: 1px solid $gray-light;
                    border-right: none;
                    padding: 4px 12px;
                    width: 70%;
                    height: 35px;
                }

                .btn-search {
                    height: 35px;
                    background-color: white;
                    border: 1px solid $gray-light;
                    border-left: none;
                    border-radius: 0;
                    padding: 4px 8px;
                    font-size: $font-size-root;
                }
            }

            .wrap-sort {
                text-align: right;
                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 10px;
                }
                height: 34px;
                line-height: 34px;

                .btn-highlight {
                    @include border-radius($border-radius-lg);
                    border: none;
                }

                .btn-lasted {
                    @include border-radius($border-radius-lg);
                    border: none;
                    background-color: $gray-dark;
                    color: white;
                }
            }
        }

        .row-ask {
            margin-top: 10px;

            .hidden {
                display: none;
            }

            .avatar {
                text-align: center;
                width: 70px;
                padding: 0 10px;
                line-height: 24px;
                float: left;

                img {
                    width: 50px;
                    height: 50px;
                    @include border-radius($border-radius-lg);
                    object-fit: cover;
                }

                i {
                    font-size: 24px;
                }
            }

            .box-ask {
                position: relative;
                width: calc(100% - 70px);
                float: left;
                @media (max-width: 767px) {
                    width: 100%;
                }

                .add-question {
                    width: 100%;
                    margin-bottom: 10px;
                    height: 120px;
                    border: 1px solid #ddd;
                    @include border-radius(3px);
                    padding-bottom: 40px;

                    &:focus {
                        outline: none;
                        border: 1px solid map-get($color-brands, kyna);
                    }
                    @media (max-width: 767px) {
                        height: 75px !important;
                    }
                }

                .name {
                    position: absolute;
                    width: calc(100% - 4px);
                    height: 36px;
                    line-height: 36px;
                    bottom: 19px;
                    left: 1px;
                    padding-left: 10px;
                    border-bottom-left-radius: 3px;
                    background-color: $gray-lighter;
                }

                .btn-ask {
                    position: absolute;
                    bottom: 19px;
                    right: 1px;
                    border-radius: 0;
                    border-bottom-right-radius: 3px;
                    color: white;
                    background-color: map-get($color-brands, kyna);

                    &:hover {
                        background-color: darken(map-get($color-brands, kyna), 10%);
                    }

                    &:focus {
                        outline: none;
                    }
                    @media (max-width: 767px) {
                        position: relative;
                        width: 100%;
                        @include border-radius(3px);
                        margin-top: 10px;
                    }
                }

                .btn-default.close-form {
                    position: absolute;
                    bottom: 19px;
                    right: 72px;
                    border-radius: 0;
                    background: #ddd;

                    &:hover {
                        background-color: darken(#ddd, 10%);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .title {
                    font-size: 14px !important;

                    span {
                        padding-right: 10px;
                    }

                    .title-name {
                        color: map-get($color-brands, kyna);
                        font-weight: bold;
                    }

                    .title-date {
                        color: $gray-light;
                    }

                    i {
                        font-size: 6px;
                    }
                }

                .ask-sentence {
                    margin-bottom: 5px;
                    min-height: 40px;
                }

                .row-action {
                    padding-bottom: 5px;

                    span {
                        padding-right: 10px;
                    }

                    i {
                        color: $gray-light;
                    }

                    .icon-circle {
                        font-size: 4px;
                    }

                    .icon-reply:before {
                        display: inline-block;
                        transform: scale(-1, 1);
                    }
                }

                .row-reply {
                    position: relative;

                    .calloutUpfront {
                        @media (max-width: 767px) {
                            display: none;
                        }
                        height: 0;
                        width: 0;
                        border-bottom: 11px solid $gray-light;
                        border-left: 9px dotted transparent;
                        border-right: 9px dotted transparent;
                        left: 0;
                        top: 1px;
                        margin-left: 20px;
                        z-index: 10;

                        .calloutUpback {
                            position: relative;
                            left: -8px;
                            top: 2px;
                            height: 0;
                            width: 0;
                            border-bottom: 10px solid white;
                            border-left: 8px dotted transparent;
                            border-right: 8px dotted transparent;
                            z-index: 11;
                        }
                    }

                    .txt-reply {
                        background-color: white;
                        position: relative;
                        padding: 15px 10px;
                        border: 1px solid $gray-light;
                        @include border-radius($border-radius);
                    }

                    .icon-border {
                        position: relative;
                        top: 8px;
                        z-index: 5;
                        margin-left: 15px;
                    }
                }
            }

            #lecture-anwser {
                float: right;
            }
        }

        .list-document {
            > li {
                margin: 15px 0;

                .img-document {
                    float: left;
                    margin-right: 5px;
                }

                &.btn-download,
                .btn-see-online {
                    background-color: white;
                    border: 1px solid $gray-light;
                    font-size: $font-size-root;
                }
            }
        }
    }

    .related-lesson {
        height: 50px;
        border: 1px solid $gray-light;
    }

    #lesson-document-content {
        min-height: 400px;

        table {
            tbody {
                tr {
                    td {
                        i {
                            font-size: 16px;
                            line-height: 25px;
                            margin-right: 10px;
                        }

                        &:nth-child(2) {
                            text-align: right;

                            a {
                                border: 1px solid #878787;
                                color: #878787;
                                background: white;

                                &:hover {
                                    background: #439141;
                                    border: 1px solid #439141;
                                    color: white;
                                }
                            }
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    #discuss-content,
    #lesson-latest-qa {
        min-height: 400px;
        @media (max-width: 1199px) {
            min-height: 220px;
        }
        @media (max-width: 991px) {
            min-height: 120px;
        }
        // @media (max-width: 767px){}
    }
    @media (max-width: 767px) {
        #detail-tab-lesson,
        #document-tab-lesson,
        #transcript-tab-lesson {
            display: none !important;
        }

        #discuss-tab-lesson.hidden-sm-down,
        #question-tab-lesson.hidden-sm-down {
            display: none !important;
        }

        #discuss-tab-lesson,
        #question-tab-lesson {
            display: none;
        }
    }

    textarea {
        padding: $nav-link-padding;
    }
}

#feedback {
    .modal-dialog {
        width: 550px !important;

        .modal-content {
            border-radius: 0;

            .modal-header {
                background-color: map-get($color-brands, kyna);

                .logo-feedback {
                    width: 35px;
                    height: 29px;
                    float: left;
                    @include icon-main;
                    background-position-x: -25px;
                    background-position-y: -1184px;
                    background-size: 237px auto;
                }

                .title-feedback {
                    color: white;
                    line-height: 29px;
                    float: left;
                }

                .btn-close {
                    i {
                        float: right;
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .modal-body {
                .row-feedback {
                    margin-top: 10px;

                    .question-feedback {
                        font-weight: bold;
                    }

                    .answer-feedback {
                        margin-top: 10px;

                        .choose-feedback {
                            padding: 0 20px;

                            span {
                                padding: 8px 12px;
                                margin: 0 2px;
                                background-color: $gray-lighter;
                                @include border-radius($border-radius);

                                &.choose {
                                    background-color: map-get($color-brands, kyna);
                                    color: white;
                                }
                                cursor: pointer;
                            }
                        }
                    }

                    .note-feedback {
                        width: 100%;
                        padding: 15px;
                        margin: 10px 0;

                        &:focus {
                            outline: none;
                            border: 1px solid map-get($color-brands, kyna);
                        }
                    }
                }
            }

            .modal-footer {
                text-align: left;

                .btn-send {
                    @include button-color(map-get($color-brands, kyna));
                }

                .btn-close {
                    margin-left: 10px;
                    text-decoration: underline !important;
                    color: $color-body;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
/* END MODAL FEEDBACK */
/* ASK LESSION*/

.box-popup-lesson {
    position: absolute;
    right: 100px;
    top: 40px;
    z-index: 12;
    display: none;

    &.show {
        display: block;
    }

    .row-reply {
        position: relative;

        .calloutUpfront {
            padding: 0 !important;
            height: 0;
            width: 0;
            border-bottom: 11px solid $gray-light;
            border-left: 9px dotted transparent !important;
            border-right: 9px dotted transparent !important;
            right: 40px;
            top: -10px;
            z-index: 10;
            position: absolute;

            .calloutUpback {
                position: relative;
                padding: 0 !important;
                left: -8px;
                top: 2px;
                height: 0;
                width: 0;
                border-bottom: 10px solid white;
                border-left: 8px dotted transparent !important;
                border-right: 8px dotted transparent !important;
                z-index: 11;
            }
        }

        .txt-reply {
            background-color: white;
            position: relative;
            padding: 15px 10px;
            border: 1px solid $gray-light;
            @include border-radius($border-radius);

            .ask-box {
                padding: $nav-link-padding;
                width: 100%;
            }
        }
    }
}

#note-tab-lesson {
    .scroll-box {
        @media (max-width: 767px) {
            border: none;
        }
    }
}
/* END ASK LESSION*/
/* NOTE LESSION*/

.type-note {
    right: 180px;
}
/* END NOTE LESSION*/
@media (min-width: 768px) and (max-width: 1024px) {
    .group-top {
        .pull-right {
            width: 100%;
            margin-bottom: 39px;

        }
    }

    .main-lesson .mobile-tab ul li {
        background-color: white;
        border-top: 3px solid white;

        a {
            color: $color-body;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .group-top{
        height: 620px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .group-top{
        height: 550px;
    }
}
@media (max-width: 767px) {
    .header-lesson {
        .back-mycourse {
            font-size: 14px;
        }

        .title {
            text-align: center;
            margin-top: 10px;
            font-weight: bold !important;
        }
    }
}

.videoWrapper {
    .flowplayer {
        background: #333333 !important;

        .fp-player {
            background: #333333 !important;
        }
    }
}
@media (max-width: 991px) {
    .socialmedia {
        display: none;
    }
}

.review-course {
    position: absolute;
    z-index: 12;
    top: 52px;
    left: 0;
    right: 0;
    height: 0;
    background: white;
    transition: height 300ms ease-in-out;

    &.show {
        height: calc(100% - 82px);
        @media (max-width: 543px) {
            position: fixed;
            top: 0;
            height: 100%;
            overflow: auto;
        }
    }

    .k-course-reviews-wrap {
        height: 100%;
        margin-top: 30px;
        overflow: auto;
        @media (max-width: 543px) {
            margin-top: 0;
        }

        &.hide {
            display: none;
        }

        .k-course-reviews-rate {
            border: none;

            p {
                &.text-top {
                    text-transform: uppercase;
                    color: $primary-color-kyna;
                    font-size: 18px;
                }
            }

            form {
                textarea {
                    max-width: 350px;
                }
            }

            .btn-submit-rating {
                margin-top: 15px;
            }

            .btn-ignore-rating {
                background-color: rgba(0,0,0,0);

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

main.popup-review-lesson {
    z-index: 16000003;
}

.popup-no-flash-player {
    display: none;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #272727;
    color: white;
    z-index: 2;

    > div {
        padding-top: 80px;
        width: 700px;
        margin: 0 auto;

        a {
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }

        .line {
            height: 1px;
            max-width: 100px;
            background-color: white;
            margin: 20px auto;
        }
    }
    @media (max-width: 767px) {
        display: none !important;
    }
}
// banner-lesson

.banner-lesson {
    display: none;
    max-width: 275px;
    margin: 20px auto 0;
    position: relative;
    padding-bottom: 50px;
    &.mob-1024px {
        @media (min-width: 1024px) {
            display: none;
        }
    }

    .banner-lesson-header {
        background-color: #fd5050;
        font-size: 14px;
        color: white;
        padding: 5px 0 2px;
        text-align: center;
        font-family: 'R0C0I-LINOTTE-BOLD',sans-serif;
    }
    .img{
        position: absolute;
        top:0;
        &.trai{
            left:0;
            @media(max-width: 1024px) and (min-width: 769px){
                width: 80px;
            }
        }
        &.phai{
            right:0;
            @media(max-width: 1024px) and (min-width: 769px){
                width: 50px;
            }
        }
        &.boy-ball{
            right:0;
            bottom: 0;
            top: initial;
            max-width: calc(100% - 10px);
        }
    }
    .banner-lesson-body {
        padding: 10px 15px;
        color: white;
        position: relative;
        z-index: 2;
        .banner-lesson-body-title {
            font-size: 15px;
            line-height: 1.5;
            font-family: 'R0C0I-LINOTTE-SEMIBOLD',sans-serif;
            b {
                color: #fdff36;
                font-size: 18px;
                font-family: 'R0C0I-LINOTTE-HEAVY',sans-serif;
            }
        }

        .box-banner-lesson-body {
            span {
                display: block;
                margin: 5px 0 3px;
                font-size: 11px;
                font-family: 'R0C0I-LINOTTE-SEMIBOLD',sans-serif;
            }

            .btn-chat-kyna {
                display: inline-block;
                color: black;
                background-image: url('../img/lesson/bg_text.png');
                background-repeat: no-repeat;
                background-size: contain;
                padding: 1px 15px 3px;
                font-size: 13px;
                font-family: 'R0C0I-LINOTTE-BOLD',sans-serif;
            }
            .btn-see-detail {
                color: #fff;
                display: block;
                font-size: 9px;
                font-family: 'R0C0I-LINOTTE-SEMIBOLD',sans-serif;
                margin-top:5px;
            }
        }
    }
    @media (max-width: 1199px) and (min-width: 1024px) {
        .banner-lesson-header {
            font-size: 12px;
        }

        .banner-lesson-body {
            .banner-lesson-body-title b {
                font-size: 16px;
            }

            .box-banner-lesson-body {
                .btn-chat-kyna {
                    padding: 3px 10px;
                }
            }
        }
    }
}
//popup-lesson

#popup-lesson {
    .modal-dialog {
        max-width: 885px;
        height: 449px;
        width: auto;
        margin: 80px auto 10px;
    }

    .modal-content {
        background-color:#fff;
        border: none;
    }

    .modal-body {
        .popup_body {
            position: relative;
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
            .closePopup{
                position: absolute;
                top: -29px;
                right: -27px;
                background-color: white;
                border-radius: 99px;
                cursor: pointer;
            }
            .btn-chat-fb {
                font-family: 'UTM_Futura';
                background-color: #e6374a;
                color: white;
                border-radius: 99px;
                box-shadow: 0 3px #cd0c21;
                font-size: 18px;
                display: inline-block;
            }

            .lnk-detail {
                color: black;
                display: block;
                margin-top: 15px;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 991px) {
        .modal-dialog {
            max-width: 600px;
            height: 304px;
        }

        .modal-body {
            .popup_body {
                .btn-chat-fb {
                    font-size: 16px;
                    padding: 2px 10px;
                }

                .lnk-detail {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 620px) {
        .modal-dialog {
            max-width: 400px;
            height: 202px;
        }

        .modal-body {
            .popup_body {
                .btn-chat-fb {
                    font-size: 12px;
                }

                .lnk-detail {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
    }
    @media (max-width: 420px) {
        .modal-dialog {
            max-width: 300px;
            height: 153px;
        }
    }
}
