#k-listing {
    margin-top: 52px;
    padding: 30px 0 10px;
    @media(max-width: 991px){
        margin-top:0;
    }
    .k-listing-sidebar {
        .banner-pc {
            padding: 0;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }

    .banner-pc {
        padding: 0 15px;
        margin-bottom: 45px;
    }

    .lg-banner {
        .banner-pc {
            padding: 0;
            margin-bottom: 0;
        }
    }

    .sm-banner {
        .banner-pc {
            padding: 0;
            margin-bottom: 0;
        }
    }
}

#offpage-listing-sidebar {
    .k-listing-category {
        > h1{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
            margin: 0px;
            padding: 15px;
            border-bottom: 1px solid #dddddd;
        }
        ul {
            li {
                a {
                    @include link-color($color-body);
                    background-repeat: no-repeat;
                    height: 30px;
                    line-height: 30px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    img{
                        width: 20px;
                        margin-right:5px;
                    }
                }

                .float-right {
                    i {
                        display: none;
                    }
                }

                .float-right {
                    i {
                        display: none;
                    }
                }
            }

            .danh-sach-khoa-hoc {
                a {
                    background-position: -45px -928px;
                }
            }

            .khuyen-mai-nhom-khoa-hoc {
                a {
                    background-position: -45px -995px;
                }
            }

            .phat-trien-ca-nhan {
                a {
                    background-position: -45px -795px;
                }
            }

            .ban-hang,
            .ban-hang-sales-cskh,
            .khac-kinh-doanh,
            .khoi-nghiep-tu-kinh-doanh,
            .kinh-doanh,
            .luat-va-phap-ly,
            .mmo-make-money-online,
            .quan-ly-du-an {
                a {
                    background-position: -45px -45px;
                }
            }

            .dinh-duong-cho-be,
            .giai-doan-mang-thai,
            .giao-duc-som,
            .ki-nang-cho-be,
            .nuoi-day-be,
            .nuoi-day-con,
            .nuoi-day-con-0-6-tuoi,
            .nuoi-day-con-12-16-tuoi,
            .nuoi-day-con-7-11-tuoi {
                a {
                    background-position: -45px -657px;
                }
            }

            .ky-nang-cho-be {
                a {
                    background-position: -45px -725px;
                }
            }

            .it-va-lap-trinh,
            .lap-trinh-app,
            .lap-trinh-web {
                a {
                    background-position: -45px -385px;
                }
            }

            .brand-thuong-hieu,
            .content-marketing,
            .digital-marketing,
            .khac-marketing-truyen-thong,
            .marketing,
            .marketing-truyen-thong,
            .pr-su-kien,
            .trade-modern-marketing,
            .video-marketing {
                a {
                    background-position: -45px -115px;
                }
            }

            .dam-phan-thuyet-phuc,
            .giao-tiep-thuyet-trinh,
            .khac-ky-nang-cong-viec,
            .ky-nang-cho-cong-viec,
            .ky-nang-lanh-dao,
            .tu-duy-logic-sang-tao {
                a {
                    background-position: -45px -454px;
                }
            }

            .khac-ngoai-ngu,
            .ngoai-ngu,
            .tieng-anh,
            .tieng-han,
            .tieng-nhat,
            .tieng-trung {
                a {
                    background-position: -45px -523px;
                }
            }

            .mc-truyen-hinh {
                a {
                    background-position: -45px -589px;
                }
            }

            .dung-bien-tap-video,
            .thiet-ke-do-hoa,
            .thiet-ke-do-hoa-va-video,
            .thiet-ke-web-app {
                a {
                    background-position: -45px -318px;
                }
            }

            .phu-nu-va-gia-dinh {
                a {
                    background-position: -45px -4176px;
                }
            }

            .nghe-thuat-va-doi-song {
                a {
                    background-position: -45px -4216px;
                }
            }

            .luyen-thi {
                a {
                    background-position: -45px -861px;
                }
            }

            .vi-tinh-van-phong {
                a {
                    background-position: -45px -183px;
                }
            }

            .bat-dong-san,
            .chung-khoan,
            .ke-toan,
            .ke-toan-tai-chinh-dau-tu,
            .tai-chinh {
                a {
                    background-position: -45px -251px;
                }
            }

            .hr-phat-trien-nguon-luc {
                a {
                    background-position: -47px -4412px;
                }
            }
        }
    }
}

.k-listing-category {
    @extend .extend-category-wrap;

    h3 {
        @extend .extend-title-category-h3;
    }

    ul {
        @extend .extend-title-category-wrap;

        li {
            margin-bottom: 5px;

            a {
                color: $base-font-color;

                i {
                    margin-right: 10px;
                    color: $primary-color-kyna;
                }
            }
        }
    }

    .turn-back {
        a {
            i {
                color: #272727;
            }

            &:hover {
                i {
                    color: $primary-color-kyna;
                }
            }
        }
    }
}

.k-listing-characteristics {
    @extend .extend-category-wrap;

    h3 {
        @extend .extend-title-category-h3;
    }

    ul {
        @extend .extend-title-category-wrap;

        li {
            label {
                padding-left: 0;
            }

            .tag {
                background: #a9b2bd;
                color: white;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                width: 50px;
                padding: 0;
                font-weight: 300;
                text-align: center;
                display: inline-block;
                float: right;
            }
        }
    }
}

.k-listing-time {
    @extend .k-listing-characteristics
}

.k-listing-level {
    @extend .k-listing-characteristics
}

.k-listing-hot-topics {
    @extend .extend-category-wrap;

    h3 {
        @extend .extend-title-category-h3;
    }

    ul {
        @extend .extend-title-category-wrap;

        li {
            float: left;
            margin-right: 5px;
            margin-bottom: 5px;

            a {
                @extend .extend-btn-tag;

                &:hover {
                    background: $secondary-color-kyna;
                }
            }
        }
    }
}

.k-listing-save {
    display: none;

    button {
        background: $primary-color-kyna;
        border-bottom: 2px solid $secondary-color-kyna;
        color: white;
        @extend .main-border-radius;
        padding: 8px 25px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.k-listing-content {
    @include display-flex();
    flex-direction: column;
    padding-right: 0;

    span.menu-heading {
        padding: 0 15px;
        margin-bottom: 0;
        margin-top: 0;
        display: inline-block;
        font-size: 18px;
        width: 100%;
        .category-mobile{
            display: none;
            @media(max-width: 768px){
                display: block;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                margin: 10px 0 15px 0;
                height: 33px;
                ::-webkit-scrollbar {
                    display: none;
                    width: 0;
                    color: transparent;
                }
                div{
                    display: inline;
                    a{
                        border: 2px solid #50ad4e;
                        border-radius: 3px;
                        padding: 5px 10px;
                        font-size: 15px;
                        font-weight: 700;
                    }
                    .active{
                        background-color: #50ad4e;
                        color: #ffffff;
                    }

                    a:hover{
                        background-color: #50ad4e;
                        color: #ffffff;
                    }
                }

            }
        }
        .category-mobile::-webkit-scrollbar {
            display: none;
            width: 0;
            color: transparent;
        }
        h2 {
            display: inline;
            font-size: 18px;
            color: $primary-color-kyna;
        }
        br{
            display: none;
        }
        .box-inline{
            display: inline-block;
            position: relative;
            width: 100%;
        }
        .-mob{
            display: none;
        }
        @media (max-width: 991px){
            .-mob{
                display: inline-block;
            }
            .-pc{
                display: none;
            }
        }
        @media(max-width: 768px){
            .-mob{
                margin-top: 0px;
            }
            h2{
                margin-top: 30px !important;
            }
        }
        .filter-form{
            background-color: #f1f1f1;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 5px;
            position: relative;
            display: none;
            padding-bottom: 15px;
            @media (min-width:992px) {
                display: none !important;
            }
            &:after{
                content: "";
                background-image: url("../img/callout-filter.png");
                height: 8px;
                width: 17px;
                position: absolute;
                top: -8px;
                right: 60px;
            }
            .k-listing-characteristics{
                background-color: rgba(0,0,0,0);
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                margin-bottom: 0;
                h3{
                    padding: 0 15px;
                    font-size: 16px;
                    font-weight: 700;
                    border-bottom: none;
                }
                .k-listing-characteristics-list{
                    margin-bottom: 0;
                    li{
                        margin-bottom: 5px;
                        label{
                            font-size: 16px;
                        }
                        &.checkbox{
                            input[type=checkbox]:not(old)+label>span{
                                width: 18px;
                                height: 18px;
                                border-radius: 3px;
                                background-color: rgba(0,0,0,0);
                            }
                            input[type=checkbox]:checked+label>span:before{
                                width: 18px;
                                line-height: 17px;
                                background-color: #50AD4E;
                                border-radius: 3px;
                            }
                        }
                        &.radio{
                            input[type=radio]:not(old)+label>span{
                                width: 18px;
                                height: 18px;
                                background-color: rgba(0,0,0,0);
                            }
                            input[type=radio]:checked+label>span:before{
                                width: 18px;
                                color: white;
                                font-size: 10px;
                                line-height: 17px;
                                background-color: #50AD4E;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            .group-price-facet{
                .btn{
                    width: calc(50% - 20px);
                    margin: 0 8.85px;
                    &.btn-cancel{
                        background-color: white;
                        font-size: 15px;
                        font-weight: 700;
                        border: 2px solid #ccc;
                    }
                    &.btn-submit{
                        background-color: #ff7816;
                        font-size: 15px;
                        font-weight: 700;
                        color: white;
                        border: 2px solid #ff7816;
                        border-bottom: 2px solid #d5620e;
                    }
                }
            }
        }
    }

    .nav-tabs {
        padding: 0 15px;
        border-bottom: none;
        display: inline-block;
        float: right;

        li {
            float: left;

            &:first-child {
                margin-right: 10px;
                line-height: 30px;
                font-size: 16px;
            }

            a {
                border: none;
                padding: 5px 20px;
                color: $base-font-color;
                font-weight: 500;
                background: $secondary-color-dark;
                display: inline-block;
                line-height: 20px;
                @extend .main-border-radius;
            }

            .active {
                background: $secondary-color-kyna;
                color: white;

                &:focus {
                    background: $secondary-color-kyna;
                    color: white;
                }
            }
        }
    }

    #pager-container {
        float: right;
    }
    .k-box-card-list {
        margin-top: 1.875rem;
        clear: both;
        display: inline-block;
        width: 100%;

        .empty {
            text-align: center;
            padding-top: 3.75rem;
            padding-bottom: 5.625rem;
        }
    }

    .category-seo-description {
        clear: both;
        border: solid 1px #ddd;
        padding: 20px;
        margin-bottom: 25px;
        @media (max-width: 767px) {
            border-left: none;
            border-right: none;
            border-bottom: none;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.k-listing-sidebar {
    &.in {
        .k-header-offpage-menu {
            .k-button {
                @include button-color($color-link);
                padding: 2px 35px;
                position: absolute;
                right: 25px;
                top: 20px;
            }
        }
    }
}

.k-listing-button-filter {
    display: none;

    &:focus {
        outline: none;
    }
}
@media (min-width: 768px) {
    .k-listing-sidebar {
        padding-right: 0;
    }
}
@media (min-width: 544px) and (max-width: 767px) {
    #k-listing {
        max-width: 100% !important;
        background: white;
    }
}
/* Css Sub Menu */
.k-listing-category {
    > ul > li {
        padding: 0 15px;

        &:first-child {
            padding-top: 15px;
        }

        &:last-child {
            padding-bottom: 15px;
        }
    }

    ul {
        position: relative;

        li {
            &.sub {
                > a {
                    position: relative;
                    display: block;

                    &:after {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        font-family: "fontastic-icon" !important;
                        content: "\65";
                        font-size: 8px;
                        color: map-get($color-brands, kyna);
                    }
                }

                &:hover {
                    .sub-category {
                        display: block;
                    }
                }
            }
        }

        &.sub-category {
            display: none;
            position: absolute;
            top: 0;
            background-color: $gray-lighter;
            z-index: 1;
            left: 100%;
            bottom: -14px;
            @include default-shadow();
        }
    }
}

.k-category-list {
    margin: 0;
}

.k-category-list {
    .turn-back {
        margin-bottom: 0;
        padding: 10px 15px;
        margin-top: 15px;
        border-top: 1px solid #dddddd;
    }
}

.k-category-list {
    .turn-back {
        a {
            padding: 0 !important;
        }
    }
}
/* Loc updates */
#banner-campaign-category {
    padding: 20px 0 0;

    .box {
        @include display-flex();
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
        float: left;
    }

    h3 {
        display: none;
    }

    .lg-banner {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;

        img {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            @include border-radius(10px);
            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
        }
    }

    .sm-banner {
        padding-right: 15px;

        .item {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            @include border-radius(10px);
            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
        }

        .inner {
            width: 100%;
            float: left;
            @include display-flex();
            align-items: center;
        }

        .info {
            width: calc(100% - 100px);
            float: left;
            color: $gray-dark;
            padding: 0 10px;
            line-height: 1.2;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            float: left;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        h5 {
            font-size: 14px;
            font-weight: bold;
            margin-top: 5px;
            line-height: 20px;

            > a {
                color: #484848;

                &:focus,
                &:hover {
                    color: #333;
                }
            }
        }

        span {
            display: block;
            font-size: 13px;
        }

        i {
            font-size: 0.5em;
            position: relative;
            top: -2px;
        }
    }
    @media (min-width: 768px) {
        padding: 0;

        h3 {
            display: block;
            color: map-get($colors, green);
            font-size: 18px;
            padding-left: 15px;
            margin-bottom: 20px;
        }

        .sm-banner {
            .info {
                width: calc(100% - 120px);
            }

            img {
                width: 120px;
                height: 120px;
            }

            h5 {
                font-size: 16px;
            }

            span {
                font-size: 16px;
            }
        }

        .lg-banner img {
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
    @media (min-width: 992px) {
        margin-bottom: 20px;

        .box {
            -webkit-flex-direction: row;
            flex-direction: row;
        }

        .lg-banner {
            width: 50%;

            img {
                height: 250px;
            }
        }

        .sm-banner {
            width: 50%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .lg-banner {
            width: 60%;

            img {
                height: 270px;
            }
        }

        .sm-banner {
            width: 40%;

            .item {
                margin-bottom: 30px;
            }
        }
    }
}

#banner-hot-campaign,
#banner-sidebar,
#footer-banner {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: map-get($colors, green);
    color: white;
}

#banner-sidebar {
    margin-top: 30px;
}

#footer-banner {
    margin-bottom: 30px;
}

#banner-hot-campaign {
    position: relative;
    top: 70px;
    z-index: 5;
}
@media (min-width: 768px) {
    #banner-hot-campaign {
        top: -20px;
    }

    #footer-banner {
        order: 4;
    }
}
@media (max-width: 1199px) {
    .breadcrumb-container {
        .container {
            padding-right: 0;
        }
    }

    .breadcrumb {
        padding: 25px 0 15px;
    }

    #k-listing {
        .k-listing-content {
            position: relative;
            top: 10px;
            right: -15px;
            padding-left: 0;
        }
    }
}
@media (max-width: 991px) {
    .k-listing-content {
        .nav-tabs {
            float: initial;
            margin-top: 15px;
            width: 100%;
            border-top: 1px solid #f0f0f0;
            padding: 15px 0;
            display: table !important;

            li {
                display: table-cell !important;
                float: inherit !important;

                &:first-child {
                    display: none !important;
                }

                a {
                    width: 100%;
                    border: 1px solid $secondary-color-dark;
                    background: white;
                    padding: 8px 20px;
                    text-align: center;
                }
            }
        }

        header {
            padding: 0 15px;

            span {
                padding: 0 !important;
            }
        }
    }

    .breadcrumb-container {
        .container {
            padding-left: 0;
        }
    }

    .k-listing-sidebar {
        padding-left: 0;
    }

    #banner-campaign-category {
        .sm-banner {
            padding-left: 15px;
        }
    }

    #k-listing {
        .k-listing-button-filter {
            display: block;
            padding: 0;
            float: right;
            color: #333;
            font-size: 16px;
            background: none;
            border: none;
            line-height: 30px;
        }
    }
}
@media (max-width: 767px) {
    .k-listing-content {
        display: block;
        padding-top: 40px;

        .nav-tabs {
            padding: 15px;
        }
    }

    #k-listing {
        padding: 0;

        .k-listing-sidebar {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding-left: 15px;

            & > header {
                display: block;
            }

            &.in {
                display: block;
                animation-name: offpage-show;
                animation-duration: 300ms;
                animation-timing-function: ease-in-out;
                z-index: 9999;
                background: white;
                overflow: scroll;
                padding-top: 90px;
            }
        }

        .k-listing-content {
            background: white;
            z-index: 1;
            right: 0;

            h1 {
                margin: 0;
            }

            header {
                padding-top: 25px;
            }
        }

        .k-listing-category {
            display: none;
        }

        .k-listing-hot-topics {
            display: none;
        }

        .banner-pc {
            margin: 0 auto 15px;
        }
    }
}
@media (max-width: 480px) {
    .k-listing-content {
        .nav-tabs {
            li {
                a {
                    padding: 5px 10px;
                }
            }
        }
    }
}
//filter-menu-listing

.k-listing-filter {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: -52px;
    &.scrolled{
        position: fixed;
        top: 110px;
        @media(min-width: 1441px){
            top: 128px;
        }
        @media(max-width: 1199px){
            top:100px;
        }
        &.hide_topbar{
            top:67px;
        }
    }
    @media (max-width: 1199px){
        font-size: 12px;
        position: absolute;
        > .container{
            padding-right: 0;
        }
    }
    @media (max-width: 991px){
        display: none;
    }

    &.fixed {
        position: fixed;
        top: 67px;
        z-index: 2;
    }

    .btn-listing-filter {
        color: #fff;
        background-color: #50ad4e;
        padding: 7px 10px;
        border-radius: 99px;
        font-weight: bold;
        pointer-events: none;
        display: inline;

        img {
            margin-right: 5px;
        }
    }

    .checkbox {
        padding: 0 5px;
        @media (max-width: 1199px){
            padding: 0 4px;
        }
        input {
            display: none;
        }

        input[type=checkbox]:not(old)+label > span,
        input[type=radio]:not(old)+label > span {
            width: 17px;
            height: 17px;
            border: 2px solid #ddd;
            border-radius: 3px;
        }

        input[type=checkbox]:not(old):checked+label > span,
        input[type=radio]:not(old):checked+label > span {
            border: 1px solid #50AD4E;
        }
    }

    .form-control {
        border: 2px solid #a0a0a0;
        padding: 4px 25px 3px 8px;
        border-radius: 3px;
        margin: 0 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../img/icon-arrow-dropdown.png");
        background-repeat: no-repeat;
        background-position: center right 5px;
        @media (max-width: 1199px){
            font-size: 12px;
            padding: 4px 16px 3px 2px;
            margin: 0;
        }
    }

    .field-sort {
        float: right;

        label {
            font-weight: 700;
        }
    }
}
