.extend-height-center {
    position: absolute;                
    top: 50%;
    transform: translateX(0) translateY(-50%);
    -webkit-transform: translateX(0) translateY(-50%);
}

.k-order-notification {
    background: $gray-lighter;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .k-order-notification-background {
        position: absolute;
        background: white;
        top: 0px;
        left: 0px;
        height: 100%;
    }
    .k-order-notification-menu {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    display: table;
    overflow: hidden;
        li {
            display: table-cell;
            background: map-get($colors, green);
            color: white;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            position: relative;        
            .triangle {
                border-top: 30px solid transparent;
                border-left: 30px solid white;
                border-bottom: 30px solid transparent;
                position: absolute;
                left: 0px;
                top: -5px;
            }
            .title {
                @include icon-main();
                padding: 15px 0px 15px 40px;
                width: 100%;
            }
            .arrow {
                right: -25px;
                z-index: 1;
                top: 0px;
                border-top: 25px solid transparent;
                border-left: 25px solid map-get($colors, green);
                border-bottom: 25px solid transparent;
                position: absolute;
            } 
            &:nth-child(1) {                 
                .title {                   
                    background-position: -47px -9422px;
                }
            }
            &:nth-child(2) {                 
                .title {                    
                    background-position: -46px -9576px;
                }
            }
            &:nth-child(3) {                
                padding-right: 30px !important;
                .title {                    
                    background-position: -43px -9724px;
                }
                .arrow {
                    border-left: 20px solid map-get($colors, green);
                    right: 0px !important;                  
                    background: white;                     
                }            
            }
            
        }        
    }  
    .k-order-notification-title {
        height: 90px;    
        @include icon-main();
        width: 100%;       
        display: block;
        padding-left: 125px;
        background-position: -35px -4408px;
        position: relative;
        .wrap {
            @extend .extend-height-center;
            h2 {
                color: map-get($colors, green);
                text-transform: uppercase;
            }
            h3 {
                font-weight: 400;
                strong {
                    font-weight: 500;
                }
            }
        }        
    }
    .k-order-notification-info {
        background: url('../../src/img/banner-order.jpg') no-repeat top left;
        margin-top: 40px;
        background-size: cover;
        ul {
            display: table;
            width: 100%;
            padding: 10px 10px 0px 20px;
            color: white;
            margin-bottom: 0px;
            li {
                display: table-cell;                
            }
        }
    }
    .k-order-notification-content { 
        border: 1px solid darken($gray-lighter, 10%);
        margin-bottom: 0px;
        .text {
            padding: 20px 20px 0px 20px;
            span {
                color: map-get($colors, green);
                font-weight: 500;
            }
        }
        .k-order-notification-content-list {
            margin-bottom: 0px;
            .item {
                padding: 20px 20px 20px 190px;
                position: relative;
                height: 180px;
                .content { 
                    padding-left: 15px;
                    padding-right: 20px;
                    h3 {
                        color: map-get($colors, green);                        
                    }
                    h4 {
                        margin: 10px 0px;
                    }
                    span {
                        color: map-get($colors, green);
                        font-weight: 500;
                    }
                }                
                .icon { 
                    @include icon-main(); 
                    width: 170px;
                    height: 165px;
                    position: absolute;
                    left: 0px;
                    top: 5px;
                }
                &:nth-child(1) {                    
                    .icon {
                        background-position: -36px -2865px;
                    }  
                    
                    .content {
                        @extend .extend-height-center;
                    }
                }
                &:nth-child(2) {
                    height: auto;
                    .icon {
                        background-position: -36px -2462px; 
                    }                                            
                } 
                &:nth-child(3) {                    
                    .icon {
                        background-position: -36px -2665px; 
                    }
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(4) {                   
                    .icon {
                        background-position: -36px -3462px; 
                    }
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(even) {
                   background-color: $gray-lighter;
                }
            }
        }        
    }
}

.k-order-notification-button {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    li {
        width: 50%;
        &:first-child {
            float: left;
            a {
                @include border-radius(3px);                         
                @include button-color-border(#fff); 
                float: left; 
                padding: 10px 20px;
                color: $gray-dark;
            }
        }
        &:last-child {
            float: right;
            a {
                @include border-radius(3px); 
                @include button-color(map-get($colors, green));            
                float: right;
                padding: 10px 20px;                         

            }
        }
    }               
}

/* COD */
.k-order-notification.cod {
    .k-order-notification-content {
        .k-order-notification-content-list {            
            .item {                                
                &:nth-child(1) {                    
                    .icon {
                        background-position: -36px -2865px;
                    }  
                    
                    .content {
                        @extend .extend-height-center;
                    }
                }
                &:nth-child(2) {
                    height: 180px !important;
                    .icon {
                        background-position: -36px -3065px; 
                    }   
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(3) {                    
                    .icon {
                        background-position: -36px -3265px; 
                    }
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(4) {                    
                    .icon {
                        background-position: -36px -3465px; 
                    }
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(5) {                    
                    .icon {
                        background-position: -36px -3665px; 
                    }
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                &:nth-child(even) {
                   background-color: $gray-lighter;
                }
            }
        } 
    }
}

/* ONLINE */
.k-order-notification.online {
    .k-order-notification-content {
        .k-order-notification-content-list {            
            .item {                                               
                &:nth-child(2) {
                    height: 180px !important;
                    .icon {
                        background-position: -36px -4065px; 
                    }   
                    .content {
                        @extend .extend-height-center;
                    }
                } 
                
            }
        } 
    }
}

@media (max-width: 544px) {
    .k-order-notification-content-list {
        .content {
            padding-left: 0px !important;
        }
    }
}


