
.error {
    .k-order-notification-title {
        height: 90px;    
        @include icon-main();
        width: 100%;       
        display: block;
        padding-left: 125px;
        background-position: -35px -4270px;
        position: relative;
        .wrap {
            @extend .extend-height-center;
            h2 {
                color: $gray-dark !important;
                text-transform: uppercase;
            }
            h3 {
                font-weight: 400;
                strong {
                    font-weight: 500;
                }
            }
        }     
    }
    .k-order-notification-content-list {
        .item {
            min-height: 180px;
        }
    }
}
