.k-policy{
    padding: 50px 100px 50px;
    h2{
        color: map-get($color-brands, kyna);
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 15px;
    }
}
@media (max-width: 991px){
    .k-policy{
        padding: 50px 0px 50px;
    }
}
