.teaching-cooperation {
    .tl_wrap {
        padding: 0px 20px;
    }
    h2 {
        color: map-get($color-brands, kyna);   
        line-height: 30px;
    }
    padding-top: 50px;
    img {
        margin: 10px 0px;
    }
    .btn_lite {
        @include button-color(map-get($color-brands, kyna));
        color: white;
        margin-top: 15px;
    }
}