.page-teacher {

    section.k-height-header {
        background: url("../src/img/teacher/bg.jpg") no-repeat !important;
        background-size: cover !important;
        .container > header > h1 {
            text-align: center;
            color: white;
            font-weight: bold;
        }
        .container > header > h2 {
            color: white;
            font-size: 18px;
        }
        .container > header ul li:last-child a.disabled {
            background: #b5b5b5 !important;
            border-bottom: 2px solid #a9a9a9 !important;
            pointer-events: none;
        }
        .k-courses-header-list .course-summary ul li {
            .img-count-courses {
                width: 50px;
                height: 50px;
                margin: auto;
                background-image: url(../src/img/teacher/sokhoahoc-icon.png);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
            }
            .img-hour-courses {
                width: 50px;
                height: 50px;
                margin: auto;
                background-image: url(../src/img/teacher/giogiang-icon.png);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
            }
            .img-question-courses {
                width: 50px;
                height: 50px;
                margin: auto;
                background-image: url(../src/img/teacher/cauhoi-icon.png);
                background-repeat: no-repeat;
                background-position: 0;
                background-size: contain;
            }
        }
    }

    section.teacher-description {
        margin-top: 15px;
        .title-content {
            font-weight: normal;
            padding: 0 15px 12px 0;
            border-bottom: 2px solid #50ad4e !important;
            display: inline-block;
            font-size: 16px;
        }
        .k-course-details-author {
            padding: 0 30px 0 0;
            ul {
                width: auto;
                margin: 0;
            }
            > ul {
                width: 100%;
                margin: 15px 0 0;
            }
        }
        .k-course-details-author ul .k-course-details-author-teacher {
            width: 100%;
            padding-left: 0;
            .content-teacher {
                margin-top: 8px;
                height: 130px;
            }
        }
        .k-course-details-author-teacher.open {
            .k-open-description {
                background: none;
            }
        }
        .k-open-description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            height: 75px;
            cursor: pointer;
            background: rgba(255, 255, 255, 0);
            background: -webkit-gradient(linear, rgba(255, 255, 255, 0), white); //    background: -webkit-linear-gradient(transparent, white);
            background: -o-linear-gradient(rgba(255, 255, 255, 0), white);
            background: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
            background: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
            background: linear-gradient(rgba(255, 255, 255, 0), white);
            .btn-more {
                position: relative;
                top: 55px;
                line-height: 10px;
                color: black;
                display: inline-block;
                width: 110px;
                padding-bottom: 20px;
                margin-top: 15px;
                font-weight: bold;
            }
        }
        ul.teacher-tag {
            margin-top: 23px;
            li {
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;
                a {
                    padding: 3px 8px;
                    color: white !important;
                    background: #a9b2bd;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    font-weight: 300;
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }

    section.body-courses-section {
        border: none;
        h4.title-content {
            padding: 0 15px 12px 0;
            border-bottom: 2px solid #50ad4e !important;
            display: inline-block;
            font-size: 16px !important;
            font-weight: normal;
        }
        ul.k-box-card-list {
            margin-top: 23px;
        }
        .k-box-card-list .k-box-card .k-box-card-wrap {
            .content h3 {
                margin: 5px 0px 10px 0px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: #50ad4e;
            }
            .view-price ul .sale {
                font-size: 16px;
            }
        }
        .pagination {
            margin-bottom: 40px;
        }
    }

    #modal.k-popup-lesson .modal-dialog .modal-content .modal-body {
        padding: 0 !important;
    }

    .btn-receive-notify {
        @include button-color(map-get($color-brands, kyna));
    }
}

@media (max-width: 767px) {
    .page-teacher {
        section.k-height-header {
            .k-courses-header-list {
                margin-bottom: 0;
            }
            .k-courses-header-list .course-summary {
                padding: 0;
                ul li {
                    width: auto;
                    clear: both;
                    margin: 0;
                    padding: 10px 0;
                    line-height: 35px;
                    p {
                        float: right;
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    span {
                        float: left;
                        margin-top: 0;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 0 8px;
                    }
                    .img-count-courses {
                        width: 30px;
                        height: 30px;
                        float: left;
                    }
                    .img-hour-courses {
                        width: 30px;
                        height: 30px;
                        float: left;
                    }
                    .img-question-courses {
                        width: 30px;
                        height: 30px;
                        float: left;
                    }
                }
            }
        }
        section.teacher-description {
            .title-content {
                border-bottom: 2px solid #50ad4e !important;
            }
            .k-course-details-author {
                margin-bottom: 0;
            }
        }
    }
}