

.text12{
    font-size: 12px;
}
.text15{
    font-size: 15px;
}
.text17{
    font-size: 17px;
}
#teaching-info{
    padding-top: 68px;
    .baner-teaching{
        background-image: url(https://kyna.vn/media/images/introduction/teacher_career/wlc_teacher_coop.jpg);
        width: 100%;
        height: 376px;
        background-size: cover;
        background-position: center;
    }
    .tit-teaching{
        text-align: center;
        font-weight: bold;
        margin: 50px auto 20px;
        span{
            color: #4FAD4D;
        }
    }
    .img-processing{
        text-align: center;
        img{
            max-width: 100%;
        }
    }
}
#teaching-text{
    @extend #teaching-info;
    text-align: center;
    padding: 30px 0 15px;
    .tit-teaching{
        margin: 10px auto;
    }
}
#teaching-type{
    background-color: #50AD4E;
    .item-html{
        margin-top: 40px;
        margin-bottom: 40px;
        color: #FFF;
        font-size: 15px;
        text-align: center;
        img{
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }

}
#teaching-team{
    .title-team{
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
        span{
            color: #4fad4d;
        }
    }
    .item-teacher{
        width: 210px;
        height: 392px;
        img{
            width: 100%;
            margin-bottom: 25px;
            margin-top: 25px;
        }
        .name{
            span{
                color: #4FAD4D;
            }
            .text12{
                color: $gray-dark;
            }
        }
    }

}
#teaching-recruitment{
    background-color: $gray-lighter;
    margin: 40px 0;
    padding-bottom: 30px;
    text-align: center;
    .title-recruitment{
        padding-top: 50px;
    }
}
#teaching-search{
    .title-search{
        font-size: 20px;
        margin-top: 35px;
        font-weight: 500;
        border-bottom: solid 2px $gray-lighter;
    }
}
#teaching-footer{
    text-align: center;
    margin-bottom: 40px;
    .teaching-footer-title{
        max-width: 325px;
        margin: 40px auto 0;
    }
}
