#page-about h2.logo {
    margin: 0px;
}
#page-about h2.logo img {
    margin: 0px auto;
    max-height: 55px;
}
#page-about h2.logo a {
    display: inline-block;
    float: left;
    padding: 10px 0px;
}
#page-about .menu ul {
    padding: 0px;
    margin-top: 15px;
}
#page-about .navbar-header button {
    background: #50ad4e;
    position: relative;
    top: 10px;
}
#page-about .navbar-header button .icon-bar {
    background: white;
}
#page-about .menu ul li {
    float: right;
    margin-left: 25px;
    font-size: 16px;
}
#page-about .menu ul li a {
    color: #272727;
    text-transform: uppercase;
}
#page-about .menu ul li a:hover {
    border-bottom: 2px solid #50ad4e;
    padding-bottom: 10px;
    background: none;
}
#page-about .menu ul li a:focus {
    background: none;
}
#page-about .parallax-layer img {
    width: 100%;
}
#page-about {
    font-size: 15px;
}
#page-about #banner {
    background: url('../img/about/about-banner.jpg') no-repeat center center;
    background-attachment: fixed;
    top: 0px;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#page-about #banner span {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
#page-about #banner p {
    height: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    color: white;
    text-shadow: 2px 2px 3px #000;
    margin-top: 200px;
}
#page-about #banner span i {
    color: white;
    font-size: 38px;
    text-shadow: 1px 1px 3px #000;
    position: absolute;
    bottom: 10px;
}  
#page-about #banner span i:hover {
    cursor: pointer;
}
#page-about .page-about-header header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#page-about #section-1 h2,
#page-about #section-2 h2,
#page-about #section-3 h2,
#page-about #section-4 h2,
#page-about #section-5 h2,
#page-about #section-6 h2 {
    margin: 50px 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
}
#page-about #section-1 {
    text-align: center;
}
#page-about #section-1 p.text {
    width: 570px;
    display: inline-block;
}
#page-about #section-1 ul {
    margin-top: 50px;
    margin-bottom: 50px;
}
#page-about #section-1 ul li {
    margin-bottom: 15px;
}
#page-about #section-1 ul li i {
    font-size: 50px;
    color: #50ad4e;
    margin-bottom: 15px;
}
#page-about #section-2 {
    background: #50ad4e;
    color: white;
    text-align: center;
}

#page-about #section-2 ul {
    margin-top: 30px;
    margin-bottom: 30px;
}
#page-about #section-2 ul li span {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
    display: inline-block;
}
#page-about #section-3 img {
    margin: 0px auto;
}
#page-about #section-4 {
    text-align: center;
}
#page-about #section-4 h2 {
    margin: 50px 0px 20px 0px;	
}
#page-about #section-4 ul.wrap {
    width: 895px;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 50px 0px;
}
#page-about #section-4 ul.wrap > li {
    width: 50%;
    float: left;
    text-align: left;
}
#page-about #section-4 .wrap li ul li {
    font-size: 16px;
}
#page-about #section-4 .wrap li ul li span{
    font-weight: bold;
}
#page-about #section-4 .wrap li ul li {
    margin: 30px 0px;
    padding-left: 85px;
}
#page-about #section-4 .wrap li ul li p {
    height: 68px;
    padding: 25px 0px 0px 0px;
    margin: 0px;
}
#page-about #section-4 .wrap li ul li:nth-child(1) {
    background: url('../img/about/about-icon-1.png') no-repeat top left;
}
#page-about #section-4 .wrap li ul li:nth-child(2) {
    background: url('../img/about/about-icon-2.png') no-repeat top left;
}
#page-about #section-4 .wrap li ul li:nth-child(3) {
    background: url('../img/about/about-icon-3.png') no-repeat top left;
}
#page-about #section-4 .wrap li ul li:nth-child(4) {
    background: url('../img/about/about-icon-4.png') no-repeat top left;
}
#page-about #section-4 .wrap li ul li:nth-child(5) {
    background: url('../img/about/about-icon-5.png') no-repeat top left;
}
#page-about #section-4 .wrap li ul li:nth-child(6) {
    background: url('../img/about/about-icon-6.png') no-repeat top left;
}
#page-about #section-5 {
    background: url('../img/about/about-bg-section-5.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
}
#page-about #section-5 h2 {
    color: white;
}
#page-about #section-5 ul li span {
    display: inline-block;
    width: 100%;
    text-align: center;
}
#page-about #section-5 ul li a {
    color: white;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: underline;
    width: 100%;
}
#page-about #section-5 ul li p {
    text-align:center;
    color: white;
    font-size: 16px;
    margin: 30px 0px;
}
#page-about #section-5 ul li img {
    margin: 0px auto;
}
#page-about #section-5 .owl-controls.clickable i {
    font-size: 32px;
    position: relative;
    top: 10px;
}
#page-about #section-5 .owl-controls.clickable .owl-next i {
    position: relative;
    top: 9px;
}
#page-about #section-6 h4 {
    font-size: 24px;
    color: #50ad4e;
    font-weight: bold;
}
#page-about #section-6 ul {
    margin-bottom: 50px;
}
#page-about #section-6 ul li p {
    font-size: 16px;
}
#page-about #section-6 ul li p span {
    color: #50ad4e;
}
#page-about #section-6 ul li {
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    #page-about #section-1 p.text {
        width: auto;
    }
}


#k-footer {
    background: #F5F5F5;
    padding: 33px 0px;
    border-top: 1px solid #e8e8e8; 
}
#k-footer h4 {
    text-transform: uppercase; 
}
#k-footer ul {
    padding: 0px;
    line-height: 25px;
    display: inline-block;
    width: 100%;
    margin-top: 20px; 
}
#k-footer ul li {
    margin-bottom: 10px;
}
#k-footer ul li a {
    color: #272727;
}
#k-footer ul li a:hover, #k-footer ul li a:active {
    color: #50ad4e; 
}
#k-footer .hotline .social {
    margin: 35px 0px 0px 0px;
}
#k-footer .hotline .social .youtube {
    background: #939393;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px;
    display: inline-block;
    line-height: 60px;
}
#k-footer .hotline .social .youtube:hover {
    background: #e62c29;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
}
#k-footer .hotline .social .facebook {
    background: #939393;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px;
    display: inline-block;
    line-height: 60px;
}
#k-footer .hotline .social .facebook:hover {
    background: #3b5998;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out; 
}
#k-footer .hotline .social i {
    position: relative;
    top: 10px; 
}

#k-footer-copyright {
    background: #FFFFFF;
    padding: 20px 0px 10px 0px;
    border-top: 1px solid #f0f0f0;
    position: relative; 
}
#k-footer-copyright .address {
    padding-right: 0px; 
}
#k-footer-copyright .address .img {
    background-image: url("../img/icon-kyna.png");
    background-repeat: no-repeat;
    width: 137px;
    height: 70px;
    background-position: -49px -9812px; 
}
#k-footer-copyright .address .text p {
    font-size: 13px;
    margin: 0px;
}
#k-footer-copyright .info {
    padding-left: 0px; 
}
#k-footer-copyright .info ul {
    display: table;
    width: 100%;
    padding: 26px 0px;
    margin-bottom: 0px;
}
#k-footer-copyright .info ul li {
    display: table-cell;
    text-align: right;
}
#k-footer-copyright .info ul li a {
    color: #272727; 
}
#k-footer-copyright .info ul li a:hover {
    color: #389a36; 
}

#k-footer-mb {
    background: #a9b1bc;
    padding: 20px;
    display: none;
}
#k-footer-mb .k-footer-mb-contact li a {
    background: white;
    color: white;
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
    border-radius: 3px;
    padding: 10px;
    color: #a0a0a0; 
}
#k-footer-mb .k-footer-mb-contact li a:hover, #k-footer-mb .k-footer-mb-contact li a:active {
    background: #f2f2f2;
    border-bottom: 2px solid #ebebeb;
}
#k-footer-mb .k-footer-mb-contact li a:focus {
    outline: none;
}
#k-footer-mb .k-footer-mb-contact li a i {
    font-size: 20px;
    margin-right: 10px; 
}
#k-footer-mb .k-footer-mb-social {
    margin: 20px 0px;
}
#k-footer-mb .k-footer-mb-social li {
    font-size: 28px; 
}
#k-footer-mb .k-footer-mb-social li:first-child {
    text-align: right; 
}
#k-footer-mb .k-footer-mb-social li:last-child {
    text-align: left;
    margin-left: 15px; 
}
#k-footer-mb .k-footer-mb-social li a {
    color: white;
}
#k-footer-mb ul {
    display: table;
    width: 100%; 
}
#k-footer-mb ul li {
    display: table-cell;
    width: 33.3%;
    text-align: center;
    padding: 0px;
}
#k-footer-mb p {
    text-align: center;
    color: white; }

@media (max-width: 767px) {
    #k-footer {
        display: none;
    }


    #k-footer-copyright {
        display: none;
    }

    #k-footer-mb {
        display: block;
    } 
}
@media (max-width: 400px) {
    #k-footer-mb .k-footer-mb-contact li {
        width: 100% !important;
        display: inline-block;
        margin-bottom: 20px; 
    }
    #k-footer-mb .k-footer-mb-contact li a {
        width: 150px !important;
        margin: 0px;
        text-align: center; 
    } 
}