h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif !important;
}

.detail-career .sidebar ul, .detail-career .sidebar ol, .career-home ul, .career-home ol, footer ul, footer ol {
    list-style: none;
}

a, a:hover {
    text-decoration: none !important;
}

a:focus {
    outline: none;
    outline-offset: 0px;
    text-decoration: none;
}

.form-control:focus, .detail-wrap-review .rate.fxac form textarea:focus {
    border: 1px solid #58AE3D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

body {
    color: #272727;
    font-size: 14px;
    background-color: #fff;
    line-height: 24px !important;
    font-family: 'Roboto', sans-serif !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.scroll-y-hidden {
    overflow-y: hidden;
}

.title-main {
    font-size: 36px;
    text-align: center;
    margin: 0px;
    font-weight: 300;
}

.bold {
    font-weight: bold !important;
}

.text-transform {
    text-transform: uppercase !important;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.button-more {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button-more a {
    background: #50ad4e;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 35px;
    border-bottom: 2px solid #389a36;
    margin: 0px 0px 35px 0px;
    display: inline-block;
}

.button-more a:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
}

i.fa-star-half-o, i.fa-star {
    color: #A9B1BC
}

.transition {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/********* LOADING ***********/

.detail-career .sidebar ul, .career-home ul, footer ul {
    padding: 0px !important;
}

#page-about h2.logo {
    margin: 0px;
}

#page-about h2.logo img {
    margin: 0px auto;
    max-height: 55px;
}

#page-about h2.logo a {
    padding: 10px 0px;
}

#page-about .menu ul {
    padding: 0px;
    margin-top: 15px;
}

#page-about .navbar-header button {
    background: #50ad4e;
    position: relative;
    top: 10px;
}

#page-about .navbar-header button .icon-bar {
    background: white;
}

#page-about .menu ul li {
    float: right;
    margin-left: 5px;
    font-size: 14px;
}

#page-about .menu ul li a {
    color: #272727;
    text-transform: uppercase;
    padding: 10px 5px;
}

#page-about .menu ul li a:hover {
    border-bottom: 2px solid #50ad4e;
    padding-bottom: 10px;
    background: none;
}

#page-about .menu ul li a:focus {
    background: none;
}

@media (min-width: 1200px) {
    #page-about .menu ul li {
        margin-left: 25px;
        font-size: 18px;
    }
    #page-about .menu ul li a {
        padding: 10px 15px;
    }
    #page-about .menu ul li a:hover {
        font-weight: bold;
    }
}

#page-about .parallax-layer img {
    width: 100%;
}

#page-about .career-home {
    font-size: 15px;
}

#page-about #banner {
    background: url('../img/kn_wlc_career_banner.jpg') no-repeat center center;
    background-attachment: fixed;
    top: 0px;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#page-about #banner span {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#page-about #banner p {
    position: absolute;
    bottom: 80px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    color: white;
    text-shadow: 2px 2px 3px #000;
}

#page-about #banner span i {
    color: white;
    font-size: 38px;
    text-shadow: 1px 1px 3px #000;
    position: absolute;
    bottom: 10px;
}

#page-about #banner span i:hover {
    cursor: pointer;
}

#page-about .page-about-header header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#k-apply-join h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px 30px 0px;
}

#k-apply-join ul {
    margin-bottom: 30px
}

#k-apply-join .first li:last-child p {
    background: #50ad4e;
    color: white;
    padding: 20px;
    height: 380px;
}

#k-apply-join .last li:nth-child(1) p {
    background: #50ad4e;
    color: white;
    padding: 20px;
    height: 380px;
}

#k-apply-join img {
    width: 100%;
    height: 380px;
}

#k-apply-separator h2 {
    text-align: center;
    padding: 30px 0px 50px 0px;
    width: 100%;
    font-weight: 400;
}

#k-apply-separator img {
    width: 100%;
}

#k-apply-separator ul {
    margin-top: 30px !important;
}

#k-apply-separator ul.first img {
    height: 480px;
}

#k-apply-separator img.leader {
    margin: 0px auto;
    width: 100%;
}

#k-apply-separator ul.first {
    margin-top: 15px;
    margin-bottom: 15px;
}

#k-apply-separator ul.first li:first-child p {
    background: #50ad4e;
    color: white;
    padding: 20px;
    height: 480px;
}

#k-apply-separator ul.last .box img {
    height: 335px;
}

#k-apply-main h2 {
    text-align: center;
    font-weight: 400;
    margin: 40px 0px;
}

#k-apply-main p {
    text-align: center;
}

#k-apply-main ul {
    margin-top: 25px;
}

#k-apply-main ul li.list.first {
    border-bottom: 2px solid #888;
    display: inline-block;
    ;
    width: 100%;
}

#k-apply-main ul li.list.first div {
    padding-left: 0px;
}

#k-apply-main ul li.list.first h4 {
    font-size: 16px;
}

#k-apply-main ul li.list.first {
    font-weight: bold;
    font-size: 16px;
}

#k-apply-main ul li.list.title .title {
    padding-left: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#k-apply-main ul li.list {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#k-apply-main ul li.list .title {
    padding-left: 0px;
}

#k-apply-main ul li.list .mb {
    display: none;
}

.k-subscriber {
    background: #50ad4e;
    padding: 15px;
    color: white;
    margin-top: 30px;
}

.k-subscriber .k-subscriber-title {
    margin-top: 10px;
}

.k-subscriber ul {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

.k-subscriber ul li {
    float: left;
    width: 100%;
    margin-right: 15px;
}

.k-subscriber ul li:first-child {
    font-weight: bold;
}

.k-subscriber-form {
    margin-top: 10px;
}

.k-subscriber-form .btn-primary {
    border-radius: 3px;
    background: #fb6a00;
    color: white;
    border-bottom: 2px solid #e25f00;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 12px 35px;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
    color: white;
}

.k-subscriber-form .btn-primary:hover, .k-subscriber-form .btn-primary:active {
    background: #e25f00;
    border-bottom: 2px solid #d25900;
}

.k-subscriber-form .btn-primary:focus {
    outline: none;
}

.k-subscriber-form #inp_subscribe .input-group-addon {
    padding-right: 20px;
    padding-left: 20px;
}

.k-subscriber-form #inp_subscribe input {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 46px;
}

@media (max-width: 991px) {
    .k-subscriber .k-subscriber-title ul {
        text-align: center;
    }
    .k-subscriber .k-subscriber-title ul li {
        width: 100%;
    }
    .k-subscriber #inp_subscribe {
        padding: 0px;
    }
    .k-subscriber .k-subscriber-form #inp_subscribe {
        margin-bottom: 15px;
    }
    .k-subscriber .k-subscriber-form .btn-wrap {
        text-align: center;
    }
}

@media (max-width: 544px) {
    .k-subscriber-form .btn-wrap input {
        width: auto;
    }
}



@media (max-width: 991px) {
    #k-apply-main ul li.list.first {
        display: none;
    }
    #k-apply-main ul li.list .mb {
        display: inline-block;
        font-weight: 500;
    }
    #k-apply-main ul li.list .number, #k-apply-main ul li.list .date {
        padding-left: 0px;
    }
}


@media (max-width: 892px) {
    #k-apply-join img, #k-apply-join .first li:last-child p, #k-apply-join .last li:nth-child(1) p, #k-apply-separator ul.first img {
        height: auto;
        margin-bottom: 20px;
    }
}





@media (max-width: 1023px) {
    .wrap-header .right ul li.hotline span {
        font-size: 13px;
    }
    /* ABOUT */
    #page-about #section-2 ul li {
        margin: 10px 0px;
    }
    #page-about #section-4 ul.wrap {
        width: 100% !important;
    }
}

@media (min-width: 991px) {
    /* ABOUT */
    #page-about #section-5 .owl-controls.clickable {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%
    }
    #page-about #section-5 .owl-controls.clickable .owl-buttons {
        height: 100%;
    }
    #page-about #section-5 .owl-controls.clickable .owl-prev, #page-about #section-5 .owl-controls.clickable .owl-next {
        top: 20%;
        font-size: 48px;
        position: absolute;
    }
    #page-about #section-5 .owl-controls.clickable .owl-prev {
        left: 20%;
    }
    #page-about #section-5 .owl-controls.clickable .owl-next {
        right: 25%;
    }
}


/* FOOTER */

#wrap-copyright .right {
    display: none;
}


/* CATEGORY HOME */

.cat-wrap-content {
    margin: 30px 0px 20px 0px;
}


/* DETAIL */

#detail-content-top {
    padding-top: 90px !important;
}

#detail-content-top .right .icon-star {
    color: #272727;
    display: inline-block;
    margin: 15px 0px 0px 0px;
}

#detail-form-register {
    left: 0px !important;
}

#detail-form-register:before {
    left: 15px !important;
}


/* CHECKOUT */

#checkout .checkout-background-right {
    display: none;
}

.checkout .checkout-header .left-first, .checkout .checkout-header .right-first {
    padding: 0px
}

.checkout .checkout-header h2.logo img {
    height: 45px;
}


/* MY COURSES */

#my-courses .my-courses-header .bottom ul {
    padding: 20px 0px !important;
    width: 100% !important;
}

#my-courses .my-courses-header .bottom ul li {
    margin: 0px 5px !important;
    width: 18% !important;
    margin: 1% !important;
}

#my-courses .my-courses-header .bottom ul li p {
    font-size: 16px;
    height: 45px;
}

#my-courses .my-courses-header .progress-wrapper span {
    top: 12px !important;
}

#my-courses .my-courses-header .progress-wrapper canvas {
    display: none !important;
}

#my-courses .my-courses-header .bottom ul li.progress-wrapper .my-courses-chart {
    height: inherit !important;
    top: inherit !important;
}

#my-courses .my-courses-main .nav-tabs-product.last {
    display: table;
    width: 100%;
}

#my-courses .my-courses-main .nav-tabs-product.last li {
    display: table-cell;
    margin: 0px;
    text-align: center;
    float: inherit !important;
}

#my-courses .my-courses-main .nav-tabs-product.last li a {
    background: #f5f5f5;
    width: 100%;
    margin-right: 0px !important;
    border-right: 2px solid #ccc !important;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px !important;
}

#my-courses .my-courses-main #messages .left ul li .name {
    padding-right: 2px;
    display: inline-block;
}


/* TAB QUESTION ANSWER */

#my-courses .my-courses-main #question-answer-sub .right ul.nav {
    margin-bottom: 30px;
    padding: 0px !important;
}


/* TAB TRANSACTION */

#my-courses .my-courses-main #transaction .tab-content {
    padding: 0px !important;
}


}
@media (min-width: 768px) {
    .pd0 {
        padding: 0px !important;
    }

    .pd0-l {
        padding-left: 0px !important;
    }

    .pd0-r {
        padding-right: 0px !important;
    }

    .popup-form-header .modal-dialog {
        width: 350px !important;
    }

    .wrap-popup-product .modal-dialog {
        width: 800px !important;
    }

    .wrap-popup-product .right {
        padding: 15px 15px 15px 0px;
    }

    #detail-search-list .box:last-child {
        padding-right: 0px;
    }

    #detail-search-list .box {
        width: 25%;
    }
}
@media (max-width: 767px) {
    .pd0-mb {
        padding: 0px !important;
    }

    .pd0-l-mb {
        padding-left: 0px !important;
    }

    .pd0-r-mb {
        padding-right: 0px !important;
    }

    #wrap-banner-footer .banner-main .container .right .sub-wrap {
        padding-top: 25px;
    }

    #wrap-content-bottom .right .wrap-slider-content-bottom .content {
        padding: 15px;
    }

    #wrap-content-bottom .right .wrap-slider-content-bottom .detail .left img {
        margin: 0px auto 20px;
    }

    #wrap-copyright .right ul li {
        text-align: center;
    }

    #wrap-banner-bottom, #wrap-content-bottom .left {
        display: none;
    }

    #wrap-footer .left-first, #wrap-footer .left-child {
        display: none;
    }

    #wrap-footer .right-child {
        text-align: right;
    }

    #wrap-copyright {
        background: #333
    }

    #wrap-copyright .left .text {
        color: white;
        margin: 0px;
    }

    #wrap-copyright .left {
        padding: 0px;
    }

    #wrap-copyright .right {
        display: none
    }
    /* DETAIL */

    #detail-content-top .detail-title .title, #detail-content-top .right ul.wrap-price .price {
        font-size: 24px !important;
    }

    .wrap-popup-product.modal {
        top: 25px;
    }

    .fade.wrap-popup-product.modal .modal-dialog {
        margin-top: 0px;
    }

    #detail-author .wrap li.img {
        width: 100% !important;
        margin-bottom: 15px;
    }

    #detail-author .wrap li.teacher {
        width: 100% !important
    }
    /* CHECKOUT */

    .checkout .checkout-list-price {
        padding: 0px 15px;
    }

    .checkout .checkout-apdung .input-code {
        padding-left: 0px !important;
    }

    .checkout .checkout-apdung {
        border-bottom: none !important;
        border-top: none !important;
        padding: 15px;
    }

    .checkout .checkout-list-price ul {
        border-top: none;
        padding-top: 15px !important;
    }

    .checkout .wrap-content-left {
        padding-bottom: 0px !important;
    }

    .checkout .wrap-content-right ul.list {
        background: #F5F5F5;
        padding: 10px 0px !important;
    }

    .checkout .checkout-list-price {
        background: #F5F5F5;
    }

    .checkout .wrap-content-right {
        padding: 15px !important;
        margin-top: 0px !important;
    }

    .checkout-confirm-content div.box .text {
        padding: 0px;
    }

    #checkout-mastercard label {
        background-image: none !important;
    }

    .checkout .checkout-sub-list .checkout-text-note-code {
        padding: 0px 15px;
    }
    /* CHECKOUT CONFIRM */

    #checkout-succ .checkout-confirm-content .img img {
        margin: 0px auto;
    }

    #checkout-succ .checkout-confirm-content .box .text {
        top: 0px !important;
        margin-top: 15px;
        padding: 0px !important;
    }

    .checkout-banner-confirm {
        background: #F5F5F5 !important;
    }

    .checkout-banner-confirm ul {
        padding: 15px !important;
    }

    .checkout .checkout-wrap-content ul li {
        display: block !important;
        color: #333;
    }

    .checkout-confirm-content div.box img {
        margin: 0px auto !important;
    }

    .checkout-confirm-content div.box .text {
        top: inherit !important
    }
    /* CART */

    .shopping-list div.title .text {
        padding: 0px;
        margin: 15px 0px;
    }

    .shopping-list div.title .text h4 {
        line-height: 25px;
    }

    .shopping-list div.price {
        text-align: left !important;
        margin-top: 15px;
    }

    .shopping-list .shopping-list-header {
        display: none;
    }

    .cart-wrap-list {
        border-top: 1px solid #ddd
    }

    .cart-wrap-list .item-title-header {
        font-size: 14px;
        display: inline-block;
        float: left;
        width: 100px;
        font-weight: 400;
        display: block;
    }

    .cart-select-default li {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-bottom: 15px;
    }

    .cart-select-default li a {
        text-align: center;
        display: inline-block;
        float: initial !important
    }

    .cart-select-default li:first-child {
        display: none;
    }

    .cart-content-total, .cart-content-total .text-error {
        min-width: initial !important;
    }
    /* MY COURSES */

    #my-courses .my-courses-header .bottom ul li span {
        font-size: 24px;
    }

    #my-courses .my-courses-main .wrap-tab-main .navbar-header .navbar-toggle {
        background: #50ad4e;
        margin-right: 0px;
    }

    #my-courses .my-courses-main .wrap-tab-main .navbar-header span {
        background: white;
    }

    #my-courses .my-courses-main nav {
        top: -50px !important;
    }

    #my-courses .my-courses-main .wrap-tab-main #navbar {
        margin: 10px 0px 0px 0px;
        background: rgb(245, 245, 245);
    }

    #my-courses .my-courses-main .nav-tabs-product.first {
        margin: 10px 0px;
        width: 100%;
        background: white;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }

    #my-courses .my-courses-main .nav-tabs-product.first li, #my-courses .my-courses-main .nav-tabs-product.first li a {
        width: 100%;
        text-align: center;
        border-radius: initial !important;
    }

    #my-courses .my-courses-main .nav-tabs-product.first li {
        border-bottom: 2px solid #f5f5f5;
    }

    #my-courses .my-courses-main .nav-tabs-product.first li a {
        border: none !important;
    }

    #my-courses .my-courses-main .nav-tabs-product.first li.active a, #my-courses .my-courses-main .nav-tabs-product.first li.active:hover a, #my-courses .my-courses-main .nav-tabs-product.first li.active:focus a, #my-courses .my-courses-main .nav-tabs-product.first li:hover a {
        background: #50ad4e !important;
        color: white;
        border: none !important;
    }

    #my-courses .my-courses-main .nav-tabs-product.last {
        padding: 0px !important;
    }

    #my-courses .my-courses-main .tab-content-wrap .box-product {
        padding: 0px !important;
    }

    #my-courses .my-courses-main #my-courses-document .wrap-box {
        padding: 20px 0px !important;
    }
    /* EDIT PROFILE */

    #modal .modal-dialog .modal-body .input, #modal .modal-dialog .input.radio {
        height: inherit !important;
        margin: 10px 0px;
        padding: 0px;
    }

    #modal .modal-dialog .modal-body .input p {
        line-height: inherit !important;
    }

    #modal .modal-dialog .modal-body .input-mb {
        display: none;
    }

    #modal .popup-edit-profile .checkout .button {
        left: -35px;
    }

    #modal .modal-dialog .input.radio .right ul li {
        display: initial !important;
    }

    #modal .modal-footer .input {
        text-align: center;
    }

    #modal .edit-profile-pass a {
        padding: 0px 15px;
    }
    /* MESSAGES */

    #my-courses .my-courses-main #messages, #my-courses .my-courses-main #messages .left, #my-courses .my-courses-main #messages .right .tab-content .tab-pane {
        padding: 0px !important;
    }

    #my-courses .my-courses-main #messages .left ul li .wrap-image {
        float: inherit !important;
        margin-bottom: 10px;
    }

    #my-courses .my-courses-main #messages .left ul {
        height: 462px;
        overflow: overlay;
        border-bottom: 1px solid #e8e8e8;
    }

    #my-courses .my-courses-main #messages .left ul li {
        padding: 5px;
    }
    /* ABOUT */

    #page-about h2.logo {
        text-align: center;
    }

    #page-about #section-1 p.text {
        width: 100% !important;
    }

    #page-about #section-4 ul.wrap li:nth-child(1) ul, #page-about #section-4 ul.wrap li:nth-child(2) ul {
        padding-left: 0px;
    }

    #page-about #section-4 .wrap li ul li p {
        padding: 15px 0px 0px 0px !important;
    }

    #page-about header button {
        background: #389a36;
        position: relative;
        top: 15px;
    }

    #page-about header button .icon-bar {
        background: white;
    }

    #page-about #banner p {
        font-size: 33px !important;
        line-height: 70px !important;
    }

    #page-about .menu ul li {
        border-bottom: 1px solid #f0f0f0;
        text-align: center;
        width: 100%;
    }

    #page-about .menu ul li:last-child {
        border-bottom: none;
    }

    #page-about .menu ul li a:hover {
        border-bottom: none !important;
    }
}
@media (max-width: 580px) {
    /* ABOUT */

    #page-about #section-1 ul li {
        margin: 10px 0px;
    }

    #page-about #section-4 ul.wrap>li {
        width: 100% !important;
    }

    #page-about #section-4 .wrap li ul li:nth-child(3) {
        margin-bottom: 0px !important;
    }
}

/*
Detail career
*/
main.detail-career {
    padding-top: 105px;
}
.sidebar h3 {
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    font-size: 18px;
}
.hr_title_list li.title {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    margin-bottom: 5px;
}
.hr_title_list li {
    padding: 10px 0px;
}
.hr_title_list li a {
    color: #272727;
}
.hr_title_list li a:hover {
    color: #50ad4e
}
#page-about .fanpage {
    text-align: right;
}


@media (max-width: 991px) {
    #page-about .fanpage {
        text-align: center;
    }


}
.sale-promotion .close {
    opacity: 1;
    position: absolute;
    top: 0px;
    z-index: 999;
    right: 0px;
}
.sale-promotion .close:focus {
    outline: none;
}
.sale-promotion .close span {
    padding: 5px;
    margin: 15px;
    display: block;
    opacity: 1;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 15px;
}
.sale-promotion .modal-body {
    padding: 0px;
    background: #5ec1a2;
}
.sale-promotion .modal-body .content {
    padding: 0px 50px 0px;
    color: white;
    text-align: center;
    position: relative;
    top: -1px;
    background: #5ec1a2;
}
.sale-promotion .modal-body .content .text {
    display: inline-block;
}
.sale-promotion .modal-body .content .text p {
    font-size: 18px;
}
.sale-promotion .modal-body .content .text p span {
    color: #EADD13;
    font-size: 22px;
}
.sale-promotion .modal-body .content .text h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 15px 0px 10px 0px;
}
.sale-promotion .modal-body .content .text input {
    height: 45px;
    border-radius: 5px;
}
.sale-promotion .modal-body .content .text button {
    background: #FB6A01;
    color: white;
    height: 45px;
}
.sale-promotion .modal-body .content .text form {
    display: inline-block;
    width: 100%;
    margin: 15px 0px;
}
.sale-promotion .modal-body .content .text form .send {
    border-bottom: 2px solid #ea6504;
    font-size: 16px;
}
.sale-promotion .modal-body .content .text form .send:hover {
    background: #e25f00;
    border-bottom: 2px solid #cc5702;
}
.sale-promotion .modal-footer {
    padding: 0px;
    background: #5ec1a2;
}
@media (max-width: 590px) {
    .sale-promotion .modal-dialog {
        width: 100% !important;
    }
}
.sale-promotion .modal-content ul {
    display: inline-block;
    width: 350px;
    margin: 15px 0px 30px 0px;
    padding: 0;
}
.sale-promotion .modal-content ul li {
    display: inline-block;
    width: 50%;
    float: left;
}
.sale-promotion .modal-content ul li:first-child a, .sale-promotion .modal-content ul li:last-child a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
.sale-promotion .modal-content ul li:first-child a {
    background: #50ad4e;
    border-bottom: 2px solid #389a36;
}
.sale-promotion .modal-content ul li:last-child a {
    background: #FF7816;
    border-bottom: 2px solid #ea6504;
}
.sale-promotion .modal-content ul li:first-child a:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
}
.sale-promotion .modal-content ul li:last-child a:hover {
    background: #ea6504;
    border-bottom: 2px solid #C15E16;
}
.sale-promotion .img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}
@media (min-width: 581px) {
    .modal-dialog {
        width: 600px;
        margin: 80px auto 30px;
    }
}
@media (max-width: 580px) {
    .sale-promotion .modal-content ul {
        width: 100%;
    }

    .sale-promotion .modal-content ul li {
        width: 100%;
    }

    .sale-promotion .modal-content ul li a {
        width: 100%;
        margin: 5px 0px;
    }
}

@media (max-width: 767px){
    #footer{
        display: none;
    }
}

.hr_content .separator ul li{
    list-style: disc !important;
}

.hr_content .separator ol li{
    list-style: decimal !important;
}


/*Start CSS Footer*/
#k-footer {
    text-align: left;
    background: #F5F5F5;
    padding: 33px 0;
    border-top: 1px solid #e8e8e8;
}
#k-footer h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
#k-footer ul {
    padding: 0;
    line-height: 25px;
    display: inline-block;
    width: 100%;
}
#k-footer ul.bottom {
    margin-top: 20px;
}
#k-footer ul li {
    margin-bottom: 10px;
    position: relative;
}
#k-footer ul li.iconhot:after {
    content: "";
    background-image: url("https://media-kyna.cdn.vccloud.vn/img/icon-hot.png");
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 20px;
    top: 2px;
}
#k-footer ul li.iconfeature:after {
    content: "";
    background-image: url("https://media-kyna.cdn.vccloud.vn/img/icon-feature.png");
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    width: 36px;
    height: 20px;
    top: 2px;
}
#k-footer ul li a {
    color: #272727;
}
#k-footer ul li a:hover, #k-footer ul li a:active {
    color: #50ad4e;
}
#k-footer ul li first {
    color: #939393;
    font-size: 18px;
}
#k-footer ul li second {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #50ad4e;
}
#k-footer .hotline {
    float: left;
    width: 200px;
    padding-right: 15px;
}
#k-footer .hotline .social .youtube {
    background: #939393;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px;
    display: inline-block;
    line-height: 60px;
}
#k-footer .hotline .social .youtube:hover {
    background: #e62c29;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
}
#k-footer .hotline .social .facebook {
    background: #939393;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px;
    display: inline-block;
    line-height: 60px;
}
#k-footer .hotline .social .facebook:hover {
    background: #3b5998;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
}
#k-footer .hotline .social i {
    position: relative;
    top: -7px;
}
#k-footer .about, #k-footer .info {
    float: left;
    width: 200px;
    padding-right: 15px;
    padding-left: 15px;
}
#k-footer .fanpage {
    float: left;
    width: 255px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #k-footer .fanpage {
        text-align: center;
    }
}
#k-footer .app-col {
    float: left;
    width: 285px;
    padding-left: 25px;
}
#k-footer .app-col .icon-app img {
    width: 45%;
    float: left;
}
#k-footer .app-col .icon-app img:last-child {
    margin-left: 5px;
}
#k-footer .app-col > img {
    width: 45%;
    margin: 10px 0 5px;
}
#k-footer .app-col .details {
    font-family: 'Roboto-Bold',sans-serif;
    display: block;
    color: #272727;
    font-weight: 700;
}
#k-footer .app-col .details span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #50ad4e;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    color: #fff;
}
@media (max-width: 1199px) {
    #k-footer .box.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #k-footer .hotline, #k-footer .about, #k-footer .info {
        width: calc(100% / 3);
        padding-right: 15px;
        padding-left: 15px;
    }
    #k-footer .fanpage, #k-footer .app-col {
        width: 330px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
#k-footer-copyright {
    background: #FFFFFF;
    padding: 20px 0 10px;
    border-top: 1px solid #f0f0f0;
    position: relative;
}
#k-footer-copyright .address {
    padding-right: 0;
}
@media (min-width: 1199px) {
    #k-footer-copyright .address {
        position: relative;
        top: 10px;
    }
}
#k-footer-copyright .address .img {
    background-image: url("../../src/img/icon-kyna.png");
    background-repeat: no-repeat;
    width: 137px;
    height: 70px;
    background-position: -49px -9812px;
}
#k-footer-copyright .address .text p {
    text-align: left;
    font-size: 13px;
    margin: 0;
}
#k-footer-copyright .info {
    padding-left: 0;
}
#k-footer-copyright .info img {
    max-width: 180px;
    margin: 0 auto;
    position: relative;
    left: 15px;
}
@media (max-width: 1079px) {
    #k-footer-copyright .info img {
        left: inherit;
    }
}
#k-footer-copyright .info ul {
    display: table;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 0;
}
#k-footer-copyright .info ul li {
    display: table-cell;
    text-align: right;
}
@media(max-width: 1199px){
    #k-footer-copyright .info ul li{
        text-align: center;
    }
}
#k-footer-copyright .info ul li a {
    color: #272727;
}
#k-footer-copyright .info ul li a:hover {
    color: #389a36;
}
#k-footer-mb {
    background: #a9b1bc;
    padding: 10px;
    display: none;
}
#k-footer-mb .link{
    text-align: center;
}
#k-footer-mb .k-footer-mb-contact {
    margin-bottom: 0;
}
@media (max-width: 767px) and (min-width: 400px) {
    #k-footer-mb .k-footer-mb-contact {
        margin-bottom: 25px;
    }
}
#k-footer-mb .k-footer-mb-contact li {
    width: calc(50% - 5px) !important;
    float: left;
}
#k-footer-mb .k-footer-mb-contact li:first-child {
    margin-right: 10px !important;
}
#k-footer-mb .k-footer-mb-contact li a {
    background: white;
    color: white;
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out, border-color 100ms ease-in-out;
    border-radius: 3px;
    padding: 10px;
    color: #a0a0a0;
    width: 100%;
}
#k-footer-mb .k-footer-mb-contact li a:hover, #k-footer-mb .k-footer-mb-contact li a:active {
    background: #f2f2f2;
    border-bottom: 2px solid #ebebeb;
}
#k-footer-mb .k-footer-mb-contact li a:focus {
    outline: none;
}
@media (max-width: 320px) {
    #k-footer-mb .k-footer-mb-contact li a {
        padding: 10px 5px !important;
    }
}
#k-footer-mb .k-footer-mb-contact li a i {
    position: relative;
    top:5px;
    font-size: 20px;
    margin-right: 10px;
}
#k-footer-mb .link .link-text {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}
#k-footer-mb .link .link-text:last-child {
    margin-bottom: 10px;
}
#k-footer-mb .link img {
    width: calc(100% - 60px);
    margin-left: 30px;
}
@media(max-width: 767px){
    #k-footer-mb .link img{
        margin-left:0;
    }
}
#k-footer-mb .k-footer-mb-social {
    margin: 20px 0;
    text-align: center;
}
#k-footer-mb .k-footer-mb-social li {
    font-size: 28px;
    width: 50px;
    height: 50px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center !important;
}
#k-footer-mb .k-footer-mb-social li:first-child {
    text-align: right;
}
#k-footer-mb .k-footer-mb-social li:last-child {
    text-align: left;
    margin-left: 15px;
}
#k-footer-mb .k-footer-mb-social li a {
    color: white;
}
#k-footer-mb .k-footer-mb-social li a i {
    position: relative;
    top: 10px;
    color: #a9b1bc;
}
#k-footer-mb ul {
    display: table;
    width: 100%;
    padding: 0;
}
#k-footer-mb ul li {
    display: table-cell;
    width: 33.33%;
    text-align: center;
    padding: 0;
}
#k-footer-mb p {
    text-align: center;
    color: white;
}
#k-footer-mb .mobilefooterbar {
    position: fixed;
    z-index: 16000004;
    bottom: 0;
    width: 100%;
    background: #50AD4C;
    left: 0;
    padding: 15px 0;
    text-align: center;
    -webkit-animation: mobilefooterbar-movement 2s;
    -o-animation: mobilefooterbar-movement 2s;
    animation: mobilefooterbar-movement 2s;
}
#k-footer-mb .mobilefooterbar p {
    font-size: 18px;
    font-family: 'Roboto-Bold',sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
}
@media (max-width: 320px) {
    #k-footer-mb .mobilefooterbar p {
        font-size: 16px;
    }
}
#k-footer-mb .mobilefooterbar .icon-app {
    width: calc(100% - 60px);
    width: 250px;
}
#k-footer-mb .mobilefooterbar .close {
    position: absolute;
    right: 7px;
    opacity: 1;
    top: 7px;
    width: 20px;
}
@media (min-width: 767px) and (max-width: 991px) {
    #k-footer-copyright .address .text {
        text-align: center;
    }
    #k-footer-copyright .info ul li {
        text-align: center;
    }
}
@media (max-width: 767px) {
    #k-footer {
        display: none;
    }
    #k-footer-copyright {
        display: none;
    }
    #k-footer-mb {
        display: block;
        padding-bottom: 10px;
        padding-top: 30px;
    }
}
@media (max-width: 400px) {
    #k-footer-mb .k-footer-mb-contact li {
        display: inline-block;
        margin-bottom: 20px;
    }
    #k-footer-mb .k-footer-mb-contact li a {
        margin: 0;
        text-align: center;
    }
}
#kyna-group {
    background: #ebebeb;
    padding: 15px 0;
}
#kyna-group .container {
    padding-left: 5px;
    padding-right: 5px;
}
#kyna-group h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
#kyna-group h4 span {
    font-weight: 600;
    color: #0e0e0e;
}
#kyna-group .img {
    background: #fff;
    display: block;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
#kyna-group .img:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#kyna-group .img img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    -webkit-transform: scale(1.1);
    /* Safari */
    transform: scale(1.1);
    /* Standard syntax */
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
#kyna-group p {
    font-size: 13px;
    color: #666666;
    line-height: 1.4;
    text-align: center;
    padding: 0 15px;
}
@media (min-width: 992px) {
    #kyna-group p {
        margin-bottom: 25px;
        font-size: 14px;
    }
}
@media(max-width: 767px){
    #kyna-group p{
        display: none;
    }
}
#kyna-group .wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}
#kyna-group .item {
    width: 33.33%;
    padding: 5px;
}
#kyna-group .item a {
    overflow: hidden;
}
@media (min-width: 992px) {
    #kyna-group {
        position: relative;
        z-index: 1;
        width: 100%;
        float: left;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
    #kyna-group h4 {
        font-size: 20px;
        padding-top: 15px;
        margin-bottom: 15px;
    }
    #kyna-group .wrap .item .img {
        padding-top: 8px;
        padding-bottom: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (min-width: 1200px) {
    #kyna-group .wrap {
        max-width: 905px;
        margin: 0 auto;
    }
    #kyna-group .wrap .item {
        padding: 5px 10px;
    }
    #kyna-group .wrap .item .img img {
        -webkit-transform: scale(1);
        /* Safari */
        transform: scale(1);
        /* Standard syntax */
    }
    #kyna-group .wrap .item .img:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
#anchor-text{
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 25px;
    margin: 0 15px 10px;
}
#anchor-text i{
    position: relative;
    font-size: 6px;
    padding: 0 6px;
    top: -3px;
}
#anchor-text a{
    color: initial;
}
#anchor-text a:hover{
    text-decoration: underline !important;
}

/*End CSS Footer*/