a,a:hover{
    text-decoration: none !important;    
}
a:focus{
    outline: none;
    outline-offset: 0px;
    text-decoration: none; 
}
ul,li {
	list-style: none;
    padding: 0px;
}
.icon-star {
    color: darken($gray-lighter, 10%);
}
.icon-star.active {
    color: $color-star
}
.icon-star-half {
    color: darken($gray-lighter, 10%);
}
.icon-star-half.active {
    color: $color-star
}

img.device {
	width: 100%
}
.form-control {
	&:focus {
		border: 1px solid $primary-color-kyna;
		outline: none !important;
		border-color: #50ad4e !important
	}	
}
.bold{
	font-weight: bold;
}

.bold-transform  {
	font-weight: bold;
	text-transform: uppercase;
}
.font-awesome {
	display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background-icon-main {
	background-image: url('../img/main.png');
	background-repeat: no-repeat;	
	display: block;
}
.main-border-radius {
	border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.main-border-radius-none {
	border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.extend-title-main {
  text-align: center;
  font-size: 36px;
  margin: 27px 0px 22px 0px;
  color: $base-font-color;
  font-weight: 300;
}
.mb {
  display: none !important;
}
// Dung cho box header
.extend-icon-font-awesome {
  content: "\f0d8";
  position: absolute;  
  font-size: 36px;
  color: white;
  text-shadow: 0px -3px 5px #e4e2e2;
}
.extend-icon-font-fontastic {
  font-family: "fontastic-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-text-main {
	color: #272727;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
	padding: 10px 23px;
	display: inline-block;
	width: 100%;
}
.header-count-number {
	color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 10px;
    position: relative;			   
    background: #FF7816;
    line-height: 20px;
}

.header-box-right {
	min-width: 360px;
	right: -50px;
	left: initial;
	padding: 0px;
	box-shadow: 0px 0px 5px #D6D6D6;
	border: none;
}

/* Button Login Header */
.header-button-social {
	display: inline-block;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 12px 16px;
    text-align: center;
    margin-bottom: 0px;
    color: white
}

/* POPUP LOGIN, REGISTER */
.header-modal-dialog {
	margin-top: 185px;
	width: 350px !important;
}
.header-modal-content {
	border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.header-modal-body {
	padding: 20px 0px 0px 0px;
}


/* FONTS */
.extend-font-fontastic {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
