.text-center {
    text-align: center;
}
@media (min-width: 991px) {
    .k-header-wrap .k-header-info.guest .account {
        width: 120px;
    }
}
@media (max-width: 580px) {
    #k-banner, .pc {
        display: block !important;
    }
}
@media (max-width: 767px) {
    #k-banner {
        margin-top: 0 !important;
    }
}
@media (min-width: 991px) {
    .k-header-wrap .k-header-info.login .account {
        width: 170px;
    }
}
.k-header-wrap .k-header-info.login .account .sub-wrap {
    padding-left: 5px;
}
