/*
 * Flowplayer HTML5 audio plugin
 *
 * Copyright (c) 2016, Flowplayer Oy
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * revision: 4bd0604
 */
.is-audio.flowplayer .fp-engine {
  top: -99999em;
}
.is-audio.flowplayer .fp-player {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.is-audio.flowplayer.is-poster .fp-player {
  background-size: 0;
}
.is-audio-only.flowplayer .fp-engine,
.is-audio-only.flowplayer >a {
  top: -99999em;
}
.is-audio-only.flowplayer .fp-ratio,
.is-audio-only.flowplayer .fp-embed,
.is-audio-only.flowplayer .fp-fullscreen,
.is-audio-only.flowplayer .fp-help,
.is-audio-only.flowplayer .fp-speed,
.is-audio-only.flowplayer .fp-title,
.is-audio-only.flowplayer .fp-waiting {
  display: none;
}
.is-audio-only.flowplayer .fp-ui {
  background-image: none;
}
.is-audio-only.flowplayer.is-splash .fp-timeline,
.is-audio-only.flowplayer.is-splash .fp-timeline-tooltip {
  display: none;
}
.is-audio-only.flowplayer.is-splash .fp-brand,
.is-audio-only.flowplayer.is-splash .fp-controls,
.is-audio-only.flowplayer.is-splash .fp-time {
  display: block !important;
}
.is-audio-only.flowplayer.is-splash .fp-buffer,
.is-audio-only.flowplayer.is-splash .fp-progress,
.is-audio-only.flowplayer.is-splash .fp-volumelevel {
  width: 0 !important;
}
.is-audio-only.flowplayer.is-poster .fp-brand,
.is-audio-only.flowplayer.is-poster .fp-controls,
.is-audio-only.flowplayer.is-poster .fp-time {
  display: block !important;
}
