@font-face {
  font-family: "fontastic-icon";
  src: url("../../fonts/fontastic-icon.eot");
  src: url("../../fonts/fontastic-icon.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontastic-icon.woff") format("woff"), url("../../fonts/fontastic-icon.ttf") format("truetype"), url("../../fonts/fontastic-icon.svg#fontastic-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "fontastic-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list-1:before {
  content: "\61"; }

.icon-profile-1:before {
  content: "\62"; }

.icon-cart-1:before {
  content: "\63"; }

.icon-user-lock-2:before {
  content: "\64"; }

.icon-arrow-39:before {
  content: "\65"; }

.icon-android-checkbox-outline-blank:before {
  content: "\66"; }

.icon-android-checkbox:before {
  content: "\67"; }

.icon-arrow-67:before {
  content: "\68"; }

.icon-arrow-68:before {
  content: "\69"; }

.icon-arrow-53:before {
  content: "\6a"; }

.icon-arrow-54:before {
  content: "\6b"; }

.icon-arrow-40:before {
  content: "\6c"; }

.icon-truck-1:before {
  content: "\6d"; }

.icon-visa-card:before {
  content: "\6e"; }

.icon-user-2:before {
  content: "\6f"; }

.icon-check-shield:before {
  content: "\70"; }

.icon-cross-shield:before {
  content: "\71"; }

.icon-clock-2:before {
  content: "\72"; }

.icon-star-10:before {
  content: "\73"; }

.icon-movie-play-3:before {
  content: "\74"; }

.icon-play-2:before {
  content: "\75"; }

.icon-text-wrapping-2:before {
  content: "\76"; }

.icon-text-wrapping-3:before {
  content: "\77"; }

.icon-arrow-65:before {
  content: "\78"; }

.icon-arrow-66:before {
  content: "\79"; }

.icon-edit-2:before {
  content: "\7a"; }

.icon-mail-1:before {
  content: "\41"; }

.icon-tags-1:before {
  content: "\42"; }

.icon-log-out-1:before {
  content: "\43"; }

.icon-key-2:before {
  content: "\44"; }

.icon-call-1:before {
  content: "\45"; }

/*# sourceMappingURL=fonts.css.map */
