
/********** AN TIEU DE ITEM ********/
.item-title-header {
    display: none;
}
/********** ADD ICON CONG VAO BOX PRODUCT ***********/
.box-product .wrap:before {
    background: url('../img/icon-product-add.png') no-repeat bottom center;
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    left: 50%;
    z-index: 1
}
/********* CONTENT LEFT *******/
#cart-content-main{
    padding-top: 30px;
}
.cart-wrap-list{
    margin-top: 30px;
}
#cart-content-main .shopping-list{
    padding: 0px;
    margin: 0px;
}
.shopping-list .shopping-list-header{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #6e6e6e;
    font-size: 16px;
}
.shopping-list div.number {
    text-align: center;
}
.shopping-list div.title,
.shopping-list div.number,
.shopping-list div.price,
.shopping-list div.img{
    padding-left: 0px !important;
}
.shopping-list div.price{
    text-align: right;
    padding-right: 0px;
}
.shopping-list div.price span{
    display: block;
    font-weight: bold;
}
.shopping-list div.price span.sale-out {
    font-weight: 400;
}
.shopping-list div.price span.sale {
    color: #50ad4e;
}
.shopping-list div.title .text h4 a,
.shopping-list div.title .text h4{
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    color: #353535
}
.shopping-list div.title .text h4 {
    line-height: 20px;
}
.shopping-list div.title .text h4 a:hover,
.shopping-list div.title .text span a:hover,
.shopping-list div.title .text span a:hover i{
    color: #389a36;
}
.shopping-list div.title .text span a,
.shopping-list div.title .text i{
    color: #6e6e6e;
    font-size: 14px;
}
.shopping-list div.title .text span a{
    display: block;
    text-decoration: underline;
}
.shopping-list div.title .text i{
    margin-right: 5px;
    font-size: 22px;
}
.shopping-list .shopping-list-content{
    padding: 25px 0px;
    border-bottom: 1px solid #ddd;
}
.shopping-list .shopping-list-content .title .text h4 {
    margin: 0px 0px 5px 0px; 
}
.shopping-list .shopping-list-content .title .text p {
    color: #a0a0a0;  
}

.shopping-list .shopping-list-content div.number span {   
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    padding: 0px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #a9b2bd;   
}
.shopping-list .shopping-list-content div.number input:focus{
    outline: none;
    border: 1px solid #a9b2bd;
}
.shopping-list .shopping-list-content .text ul {
    padding: 0px;
}
.shopping-list .shopping-list-content .title .text .comboItem {
    margin-bottom: 10px;
}
.shopping-list .shopping-list-content .title .text .comboItem li{
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}
.shopping-list .shopping-list-content .title .text .comboItem li a {
    color: #272727;
}
.shopping-list .shopping-list-content .title .text .comboItem li a:hover {
    color: #50ad4e
}

/*********** SIDEBAR LEFT ***********/
.cart-content-left h4.title{
    margin: 0px;
}
/*********** SIDEBAR RIGHT ************/
.cart-content-right h4.title{
    background: #50ad4e;
    padding: 15px;
    color: white;
    font-size: 14px;
    margin: 0px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}
.cart-sidebar-right{
    border: 1px solid #e6e5e8;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    padding: 10px 0px 10px 0px;
}
.cart-sidebar-right li{
    margin: 10px 0px;
}
.cart-sidebar-right li .text{
    position: relative;
}
.cart-content-right
.cart-sidebar-right li .icon1,
.cart-sidebar-right li .icon2,
.cart-sidebar-right li .icon3,
.cart-sidebar-right li .icon4,
.cart-sidebar-right li .icon5{
    display: inline-block;
    height: 55px;
}
.cart-sidebar-right li .icon1{
    background: url('../img/icon-page-cart.png') no-repeat top left;
    background-position: -22px -48px;
}
.cart-sidebar-right li .icon2{
    background: url('../img/icon-page-cart.png') no-repeat top left;
    background-position: -22px -145px;
}
.cart-sidebar-right li .icon3{
    background: url('../img/icon-page-cart.png') no-repeat top left;
    background-position: -22px -244px;
}
.cart-sidebar-right li .icon4{
    background: url('../img/icon-page-cart.png') no-repeat top left;
    background-position: -22px -339px;
}
.cart-sidebar-right li .icon5{
    background: url('../img/icon-page-cart.png') no-repeat top left;
    background-position: -22px -452px;
}
.line-hr{
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 15px 0px;
}
/************* BOX PRODUCT ************/
#cart-list-main .box-product {
    padding: 15px;
}
#cart-list-main .title-content{
    padding: 0px 15px;
    font-size: 16px;
}

/************ TOTAL *************/
.cart-content-total{
    padding: 20px 0px;
    float: right;
    min-width: 360px;  
}
.cart-content-total ul{
    padding: 0px;
    display: block;    
}
.cart-content-total ul.wrap-price {
    width: 100%;
}
.cart-content-total ul.wrap-price li {
    width: 50%;
}
.cart-content-total ul.wrap-code {
    float: right;
    text-align: right;    
}
.cart-content-total ul.wrap-code li.text {
    border: 1px solid #afb7c1;
    padding: 8px 20px;
    color: #7b7b7b;
    border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-right: none;
}
.cart-content-total ul.wrap-code li.code {
    background: #c3c3c3;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 25px;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border: 1px solid #afb7c1;
    font-size: 16px;
}
.cart-content-total ul.wrap-code li.delete {
    padding: 8px 0px;
    margin-left: 15px;
}
.cart-content-total ul.wrap-code li a {
    color: #565656; 
    text-decoration: underline
}
.cart-content-total ul.wrap-code li a:hover {
    color: #389a36;
}
.cart-content-total ul.wrap-price li{
    display: inline-block;    
    float: left;
    padding: 5px 0px;
}
.cart-content-total ul.wrap-code li {
    display: inline-block;
    float: left;
    padding: 5px 0px;
}
.cart-content-total ul li.price {
    font-size: 16px;
}
.cart-content-total ul li.price,
.cart-content-total ul li.price-total{
    text-align: right;
    font-weight: bold;
}
.cart-content-total ul li.price-total{
    color: #50ad4e;
    font-size: 18px;
}

/************ CLICK SELECT **********/
.cart-select-default {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    clear: both;
}
.cart-select-default li:first-child a{
    float: left;
    border: 1px solid #c3c3c3;
    padding: 10px 25px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #787878;
    font-size: 16px;
}
.cart-select-default li:first-child a:hover {
    background: #449342;
    border: 1px solid #397937;
    border-bottom: 2px solid #397937;
    color: white;
}
.cart-select-default li:first-child a i {
    position: relative;
    right: 2px;
    top: 0px;
}
.cart-select-default li:first-child a:hover i {
    right: 5px;
}
.cart-select-default li:last-child a{
    float: right;
    background: #fb6a00;
    color: white;
    padding: 10px 25px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom: 2px solid #d65a00;
    font-size: 16px
}
.cart-select-default li:last-child a:hover {
    background: #FF7816;
    border-bottom: 2px solid #C15E16
}
.cart-select-default li:last-child a i {
    position: relative;
    right: -2px;
    top: 1px;
}
.cart-select-default li:last-child a:hover i {
    right: -5px;
}
/************ LIST SLIDER ************/
#cart-list-main .owl-theme .owl-controls .owl-buttons div{
    color: #50ad4e;
    font-size: 27px;
}
#cart-list-main .owl-theme .owl-controls{
    position: absolute;
    top: -45px;
    right: 10px;
}
#cart-list-main .owl-theme .owl-controls .owl-buttons div:hover{
    color: #389a36;
}

/********* INPUT NHAP CODE ***********/
.cart-content-total form .button-submit {
    text-align: right;
    padding: 0px;
}
.cart-content-total form .button-submit button{
    border: none;
    background-color: #C3C3C3;
    border-bottom: 2px solid #A6A6A6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    padding: 0px 30px;
    height: 40px;
}
.cart-content-total form .button-submit button:hover {
    background-color: #A6A6A6;
    border-bottom: 2px solid #909090;
}
.cart-content-total form .button-submit button:focus {
    outline: none;
}
.cart-content-total .input-code input {
    height: 40px;
}
.cart-content-total p {
    text-align: right;
    color: #a0a0a0;
}

/********** INPUT NHAP LOI **********/
.cart-content-total form.error {
    position: relative
}
.cart-content-total form.error {
    margin-bottom: 40px;
}
.cart-content-total .text-error {
    display: inline-block;
    border: 1px solid #E6BABA;
    padding: 10px 20px;
    background: #F8DFDF;
    color: #884C4C;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;       
    position: absolute;
    right: 0px;
    min-width: 360px;
    bottom: -45px;
}
.cart-content-total .error .text-error:before {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #F8DFDF;
    top: -6px;
    left: 15px;
    box-shadow: -1px -1px 0px rgb(226, 165, 165);
}
.cart-content-total .error .input-code input {
  background: #F8DFDF;
  border: 1px solid #E6BABA;
}
.cart-content-total .error .input-code input:focus {
  border: 1px solid #CA9999 
}

.cart-content-total .error .input-code input::-webkit-input-placeholder {
   color: #555;
}
.cart-content-total .error .input-code input:-moz-placeholder { /* Firefox 18- */
    color: #555;  
}
.cart-content-total .error .input-code input::-moz-placeholder {  /* Firefox 19+ */
    color: #555;  
}
.cart-content-total .error .input-code input:-ms-input-placeholder {  
    color: #555;  
}
/********** EMPTY *********/
#cart-content-main .cart-empty {
    margin-top: 50px;
}
#cart-content-main .cart-empty .img {
    margin-bottom: 15px;
}
#cart-content-main .cart-empty .text h4 {
    font-weight: 400;
    margin-bottom: 0px;
}
#cart-content-main .cart-empty .text h4 span {
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

#cart-content-main .cart-empty .text .button a{
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    border-bottom: 2px solid #389a36;
    margin: 15px 0px;
}
#cart-content-main .cart-empty .text .button a:hover{
    border-bottom: 2px solid #237721;  
}
#cart-content-main .cart-empty .text ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
#cart-content-main .cart-empty .text ul li {
    display: inline-block;
    float: left;
    margin: 0px 15px 15px 0px;
}
#cart-content-main .cart-empty .text ul li a {
    background: #a9b2bd;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    display:inline-block;
}
#cart-content-main .cart-empty .text ul li a:hover {
    background: #389a36
}
