body p {
    font-size: 14px;
}
/************* HEADER ****************/
.checkout .checkout-header{
    padding: 20px 0px;
}
.checkout .checkout-header h2.logo{
    margin: 0px;
}
.checkout .checkout-header h2.logo a{
    display: block;
}
.checkout .checkout-header .right-first{
    text-align: right;
}
.checkout .checkout-header .right-first ul{
    display: inline-block;
    text-align: left;
    padding-left: 0px;
}
.checkout .checkout-header .right-first span{
    display: inline-block;
    font-size: 18px;
    width: 100%;
}
/************ BACKGROUND *********/
#checkout-home .wrap-content {
    background: #F5F5F5;
    position: relative;
}
#checkout-home .wrap-content .left-before{
    position: absolute;
    background: white;
    top: 0px;
    left: 0px;
    height: 100%;    
}
#checkout-home .wrap-content ul.wrap-main {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#checkout-home ul.wrap-main .wrap-content-right:before {
  background: #F5F5F5;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2000px;
  left: 0px;
}
/************* LIST PART CHECKOUT **********/
.checkout .checkout-list-part{
  margin: 0px 0px 40px 0px;
  padding: 0px;
  display: table;
  overflow: hidden;  
}
.checkout .checkout-list-part li{
  display: table-cell;
  background: #5db25b;
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  position: relative;
}
.checkout .checkout-list-part li:last-child{
    background: #e4e7eb;
    color: #272727;
    padding-right: 30px;
    
}
.checkout .checkout-list-part li:last-child .checkout-triangle-right-last{
    border-left: 20px solid #e4e7eb;
    height: 100%;
}
.checkout .checkout-triangle-left{
  border-top: 30px solid transparent;
  border-left: 30px solid white;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: 0px;
  top: -5px;		 
}
.checkout .checkout-triangle-right,
.checkout .checkout-triangle-right-last{
  border-top: 25px solid transparent;
  border-left: 25px solid #5db25b;
  border-bottom: 25px solid transparent;
  position: absolute;
}
.checkout .checkout-triangle-right{
  right: -25px;  
  z-index: 1; 
  top: 0px;
}
.checkout .checkout-triangle-right-last{
  right: 0px;	
  z-index: 1;  
  background: white;
  top: 0px;
}
.checkout .checkout-icon-cart{
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -63px;
    padding: 15px 0px 15px 40px;
    width: 100%;
}
.checkout .checkout-icon-order{
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -209px;
    padding: 15px 0px 15px 40px;
    width: 100%; 
}
.checkout .checkout-icon-noti{
    background: url('../img/icon-part-checkout.png') no-repeat;
    background-position: -50px -277px;
    padding: 15px 0px 15px 40px;
    width: 100%; 
}
/************* LIST PART CHECKOUT MOBILE**********/
.checkout-list-part.mb{
    display: none;
}
.checkout .checkout-list-part.mb li:last-child{
    padding-right: 20px;
}
.checkout .checkout-list-part.mb .checkout-icon-cart { 
    background-position: -45px -63px;
}
.checkout .checkout-list-part.mb .checkout-icon-order {
    background-position: -45px -209px;
}
.checkout .checkout-list-part.mb .checkout-icon-noti {
    background-position: -45px -350px;
}
.checkout#checkout-home .checkout-list-part.mb .checkout-icon-noti {
    background-position: -45px -277px
}
/************* FORM ************/
.checkout .checkout-list-check input[type=checkbox]:not(old) + label:hover,
.checkout .checkout-list-check input[type=radio   ]:not(old) + label:hover{
    cursor: pointer;
    color: #50AD4E;
}
.checkout .checkout-list-check input[type=checkbox]:not(old),
.checkout .checkout-list-check input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display: none;
}
.checkout .checkout-list-check input[type=checkbox]:not(old) + label,
.checkout .checkout-list-check input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : 0px;
  line-height  : 25px;
}

.checkout .checkout-list-check input[type=checkbox]:not(old) + label > span,
.checkout .checkout-list-check input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 0.25em 1em 0.25em 0.25em; 
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  /*
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  */
  vertical-align   : bottom;
}

.checkout .checkout-list-check input[type=checkbox]:not(old):checked + label > span,
.checkout .checkout-list-check input[type=radio   ]:not(old):checked + label > span{
    /*
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
  */
  background: #50AD4E;
  border: 3px solid #ddd;
  padding: 5px;
}
.checkout .checkout-list-check input[type=checkbox]:not(old) + label:hover > span, 
.checkout .checkout-list-check input[type=radio ]:not(old) + label:hover > span {
  border: 3px solid #50AD4E !important;
}
.checkout .checkout-list-check input[type=checkbox]:checked + label > span:before{
    font-family: FontAwesome;
  content     : "\f00c";
  display     : block;
  width       : 15px;
  color       : white;
  font-size   : 10px;
  line-height : 15px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
}
.checkout .checkout-list-check form label{
    font-weight: normal;
}
.checkout .checkout-wrap-content > ul{
    padding: 0px;
    display: table;
    width: 100%;
}
.checkout .checkout-wrap-content ul li{
    display: table-cell;
}
.checkout .checkout-button {
    float: right;
    display: inline-block;
    background: #fb6a00;
    height: auto;
    padding: 10px 50px;
    width: inherit;
    border-bottom: 2px solid #d65a00 !important;
    border-right: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 16px;
}
.checkout .checkout-button:hover{
    background: #FF7816;
    border-bottom: 2px solid #C15E16 !important;
}
.checkout .checkout-button:focus{
    outline: none;
}
.checkout .checkout-list-check form .wrap{
    border: 1px solid #DEDEDE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.checkout .checkout-list-check form .wrap .checkout-list:last-child{
    border-bottom: none;
}
.checkout .checkout-list-check form div.checkout-list{
    border-bottom: 1px solid #DEDEDE;
    display: inline-block;
    width: 100%;
}
.checkout .checkout-list-check form div.checkout-list:last-child{
    border-bottom: none;
}
/********** BOX LEFT **********/
.checkout .wrap-content-left{
    background: white;
    z-index: 1;
    padding-bottom: 35px;
}
/********** BOX RIGHT *********/
.checkout .wrap-content-right{  
    padding-bottom: 35px;
    background: #F5F5F5;
}
.checkout .wrap-content-right .wrap {
  position: fixed;
}
.checkout .wrap-content-right h4 {
    position: relative;
}
/********** CACH THUC THANH TOAN ***********/
.checkout .checkout-radio-card{
    margin-bottom: 10px;
}
.checkout .checkout-list-check form div.checkout-list.sub{
    padding: 0px;
}
.checkout .checkout-list-check form div.checkout-list label{
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 0px;
}
.checkout .checkout-sub-list{
    background: #F5F5F5;
    padding: 15px 30px 15px 30px;
}
.checkout .checkout-sub-list#checkout-internet-banking,
.checkout .checkout-sub-list#checkout-mastercard {
  padding: 15px;
}
.checkout #checkout-cod .checkout-sub-list,
.checkout #checkout-ghn .checkout-sub-list,
.checkout #checkout-card .checkout-sub-list,
.checkout #checkout-internet-banking .checkout-sub-list,
.checkout #checkout-mastercard .checkout-sub-list,
.checkout #checkout-paypal .checkout-sub-list,
.checkout #checkout-address .checkout-sub-list {
  display: none;
}
.checkout #checkout-show-onepay_cc {
  display: none !important;
}
.checkout .checkout-sub-list select{
    color: #999;
    margin-bottom: 15px
}
.checkout .checkout-sub-list .input-group{
    width: 100%;
}
.checkout .checkout-sub-list input,
.checkout .checkout-apdung input{
    margin-bottom: 15px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    height: 40px;
}
.checkout .checkout-sub-list .checkout-text-note-code{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
}
.checkout .checkout-sub-list .input-group:first-child .right{
    line-height: 40px;
}
.checkout .checkout-sub-list .input-group .left label{
    margin-bottom: 0px;
    line-height: 10px;
}
.checkout .checkout-sub-list .input-group .right ul{
    padding: 0px;
    margin-bottom: 0px;
}
.checkout .checkout-sub-list .input-group .right ul li label{
    padding: 0px 30px 0px 0px;
    margin: 0px;
    line-height: 18px;
}
.checkout .checkout-list-check .checkout-sub-list input[type=checkbox]:not(old) + label > span, .checkout-list-check .checkout-sub-list input[type=radio ]:not(old) + label > span{
    margin: 0px 10px 0px 0px;
}
/* INTERNET BANKING */
#checkout-home #checkout-internet-banking ul {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px 0px 0px;
    width: 100%;
}
#checkout-home #checkout-internet-banking ul li {
    float: left;  
    margin: 5px 0px 0px 0px;  
    padding-right: 0px;
}
#checkout-home #checkout-internet-banking ul li:hover a {   
    cursor: default;
}
#checkout-home #checkout-internet-banking ul li a {
    height: 60px;
    display: inline-block;
    border: 1px dashed #ccc;   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    background: white;
    position: relative
}
#checkout-home #checkout-internet-banking ul li a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 5px;
}
/* CHECKOUT PAYPAL */
#checkout-home #checkout-paypal p {
    margin-bottom: 0px;
}
#checkout-home #checkout-paypal ul{
    margin: 0px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}
#checkout-home #checkout-paypal ul.top {
    margin: 20px 0px;
}
#checkout-home #checkout-paypal ul.center {
    margin-bottom: 20px;
}
#checkout-home #checkout-paypal ul li {
    display: inline-block;
    width: 100%;
    line-height: 25px;
}
#checkout-home #checkout-paypal ul li span {
    width: 140px;
    display: block;
    float: left;
}   
#checkout-home #checkout-paypal h6 {
    font-size: 14px;
}
#checkout-home #checkout-paypal h6.note {
    font-style: italic
}

/* MASTER CARD */
#checkout-mastercard label {
    background: url('../img/checkout/logo-visa-master.png') no-repeat center right 10px;
}
#checkout-home #checkout-mastercard ul {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px 0px 0px;
    width: 100%;
}
#checkout-home #checkout-mastercard ul li {
    float: left;  
    margin: 5px 0px 0px 0px;  
    padding-right: 0px;
}
#checkout-home #checkout-mastercard ul li:hover a {
    border: 1px dashed #389a36;
}
#checkout-home #checkout-mastercard ul li a {
    height: 60px;
    display: inline-block;
    border: 1px dashed #ccc;   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    background: white;
    position: relative
}
#checkout-home #checkout-mastercard ul li a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 5px;
}

/************ CONTENT RIGHT **************/

.checkout .wrap-content-right ul.list{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.checkout .wrap-content-right ul.list li{
    display: inline-block;
    padding: 5px 5px 5px 0px;
    float: left;   
}
.checkout .wrap-content-right ul.list li span{
    display: block;
    margin-bottom: 5px;
}
.checkout .wrap-content-right ul.list li:last-child{
    border-bottom: none;
}
.checkout .wrap-content-right ul.list .text {
    line-height: 1;
}
.checkout .wrap-content-right ul.list .text h6{
    margin-top: 0px;
}
.checkout .wrap-content-right ul.list .text h6 a{
    color: #313131;
    font-size: 14px;
}
.checkout .checkout-apdung{
    border-top: 1px solid #DEDEDE; 
    margin-bottom: 0px;
    padding: 20px 0px 15px 0px;
}
.checkout .checkout-apdung .input-code{
    margin-bottom: 0px;
}
.checkout .checkout-apdung .input-code input{
    margin-bottom: 7px;
}
.checkout .checkout-apdung p{
    color: #848484 !important; 
    margin-bottom: 0px;   
}
.checkout .checkout-apdung .btn-send-apdung{
    border: none;
    background-color: #C3C3C3;
    border-bottom: 2px solid #A6A6A6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    padding: 0px 25px;
    height: 40px;
    font-size: 16px;
}
.checkout .checkout-apdung .btn-send-apdung:focus{
    outline: none;    
}
.checkout .checkout-apdung .btn-send-apdung:hover{
    background-color: #A6A6A6;
    border-bottom: 2px solid #909090;
}
.checkout .checkout-list-price {
    border-top: 1px solid #DEDEDE;
    position: relative;
}
.checkout .checkout-list-price ul{
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin: 15px 0px 25px 0px;
}
.checkout .checkout-list-price ul li{
    float: left; 
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;   
}
.checkout .checkout-list-price ul li span.price{
    float: right;
}
.checkout .checkout-list-price ul li:last-child span.price{
    font-size: 20px;
}

.has-error p.help-block-error {
    border: 1px solid #faebcc;
    padding: 5px 10px;
    background: #fcf8e3;
    color: #8a6d3b !important;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    bottom: -5px;
    margin-bottom: 15px
}
.has-error p.help-block-error:before{
    content: "";
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #fcf8e3;
    top: -7px;
    left: 15px;
    box-shadow: -1px -1px 0px rgb(250, 235, 204);
}
#checkout-form .alert-warning ul {
    padding: 0px;
    
}
#checkout-form .alert-warning ul li {
    display: inherit !important;
}
/******************* CHECKOUT CONFIRM FAILED + SUCC***********************/
#checkout-failed .checkout-succ-title img,
.checkout.success .checkout-succ-title img{
    float: left;
    margin-right: 20px
}
#checkout-failed .checkout-succ-title span,
.checkout.success .checkout-succ-title span{
    font-size: 24px;
}
#checkout-failed .checkout-succ-title h2,
.checkout.success .checkout-succ-title h2{
    margin: 10px;
    font-size: 26px;
    text-transform: uppercase;
    color: #50AD4E;
    font-weight: bold;
}
.checkout.success .checkout-list-part li:last-child{
  background: #5db25b;
  color: white;
}
.checkout.success .checkout-list-part li:last-child .checkout-triangle-right-last {
    border-left: 20px solid #5db25b;
}
.checkout.success .checkout-icon-noti {
    background-position: -50px -350px;  
}
#checkout-failed .checkout-failed-title img{
    float: left;
    margin-right: 20px
}
#checkout-failed .checkout-failed-title span{
     font-size: 24px;
}
#checkout-failed .checkout-failed-title h2{
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    font-weight: bold;
}
.checkout-banner-confirm{
    background: url('../img/checkout-banner-confirm.jpg') no-repeat top left;
    margin-top: 40px;  
    background-size: cover;
}
.checkout-banner-confirm ul{
    display: table;
    width: 100%;
    padding: 10px 10px 0px 20px;
    color: white;
    margin-bottom: 0px;
}
.checkout-confirm-content{
    border: 1px solid #f0f0f0;
    border-top: none; 
    padding-bottom: 15px;
} 
.checkout-confirm-succ-text,
.checkout-confirm-failed-text{
    padding: 20px 20px 0px 20px;
}
.checkout-confirm-ul-bottom{
    text-align: center;
}
.checkout-confirm-ul-bottom ul{  
    display: inline-block;
    margin-top: 30px;
    padding: 0px;
}
.checkout-confirm-ul-bottom ul li{
    float: left;
    margin: 0px 15px;        
}
.checkout-confirm-ul-bottom ul li a{
    display: inline-block;
    margin-bottom: 15px;
}
.checkout-confirm-ul-bottom ul li:first-child a{
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    color: #888;   
    font-size: 16px; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
}
.checkout-confirm-ul-bottom ul li:first-child a:hover{
    background: #449342;
    border: 1px solid #397937;
    border-bottom:  2px solid #397937;
    color: white;
}
.checkout-confirm-ul-bottom ul li:last-child a{
    background: #50ad4e;
    border-bottom: 2px solid #449342;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 25px;
    font-size: 16px
} 
.checkout-confirm-ul-bottom ul li:last-child a:hover{
    background: #449342;
    border-bottom: 2px solid #397937;
}

/************ SUCC **************/
.checkout-confirm-content div.box{
    padding: 15px 20px;
}
.checkout-confirm-content div.box .text {
    padding-right: 0px;
}
.checkout-confirm-content div.box .text h4 {
    color: #50ad4e;
    font-size: 20px;
    font-weight: bold;
}
.checkout-confirm-content div.box:nth-child(odd){
    background: #f5f5f5
}
.checkout-confirm-part-2.chuyenkhoan .text ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.checkout-confirm-part-2.chuyenkhoan .text h6 {
    font-size: 16px;
}
.checkout-confirm-part-2.chuyenkhoan .text ul li {
    display: inline-block;
    width: 100%;
    line-height: 30px;
}
.checkout-confirm-part-2.chuyenkhoan .text ul li span {
    width: 120px;
    display: block;
    float: left;
}

/*********** CHUYEN KHOAN **********/
.checkout-confirm-part-2.chuyenkhoan .text{
    top: 0px !important;    
}
.checkout .back-to-cart {
    -moz-border-bottom-colors: none;
    background-color: #c3c3c3;
    border-bottom: 2px solid #a6a6a6!important;
    border-color: -moz-use-text-color -moz-use-text-color #a6a6a6!important;
    margin-right: 5px;
}
.checkout .back-to-cart:hover{
    background-color: #A6A6A6;
    border-bottom: 2px solid #909090!important;
}