/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 3:22:18 PM
    Author     : tinpc
*/
.cat-sidebar-left .box .form{
    padding: 10px 15px 15px;
}
.cat-sidebar-left .box .form .checkbox {
    margin-bottom: 20px;
}
.code-disable:hover{
    background-color: #dddddd!important;
}

/* POPUP REG */
#cat-preferential #detail-form-register {
    position: absolute;
    right: 15px;
    left: inherit;
    z-index: 2;
    margin-top: 0px;
}
#detail-form-register ul.success {
    margin: 0px !important;
}
#detail-form-register ul.success li {
    border: none !important;  
    padding: 0px !important; 
}
#detail-form-register ul.success li:last-child {
    padding: 0px !important;
    border-bottom: none !important;
}