/*********** HEADER **********/
.page-detail .wrap-header{
    position: relative;
}
.page-detail .wrap-header.menu-nav-up{
    top: 0px;
}
/*********** COURSE BAR **********/
.hidden-course-bar.slideDown{
    position: fixed;
    top: 0px;
    display: block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 9
}
/*
.hidden-course-bar.slideDown.slideDown-header{
    position: fixed;
    display: block;
    top: 80px;
    transition: top 0.5s ease-in-out;
}
*/
.hidden-course-bar{
    display: none;
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 0px 5px #B1B1B1;
    -moz-box-shadow: 0 0px 5px #B1B1B1;
    -webkit-box-shadow: 0 0px 5px #B1B1B1; 
    -webkit-transform: translateY(-250px);
    -webkit-transition: -webkit-transform 0.2s;
    transform: translateY(-250px);
    transition: transform .2s;    
}
.hidden-course-bar ul.tab-btns{
    display: table;
    width: 100%;
    padding: 0px 15px 0px 15px;
    line-height: 66px;
}
.hidden-course-bar ul.tab-btns li{
    margin-right: 30px;   
    position: relative; 
    font-size: 16px;
    display: table-cell;
    text-align: left;
}
.hidden-course-bar ul.tab-btns li a{
    color: #272727;        
    display: inline-block;
    padding: 0px 15px 0px 0px;
}
.hidden-course-bar ul.tab-btns li a:focus{
    background: none;
    border-bottom: 2px solid #50ad4e; 
}
.hidden-course-bar ul.tab-btns li a:hover,
.hidden-course-bar ul.tab-btns li.active a{
    border-bottom: 2px solid #50ad4e;
    background: none;
}

.hidden-course-bar ul.button{
    padding: 0px 15px;
    display: inline-block;
    width: 100%;
    margin: 13px 0px 0px 0px;
}
.hidden-course-bar ul.button li{
    float: left;
    width: 48%;
    margin-right: 4%;
}
.hidden-course-bar ul.button li:last-child{
    margin-right: 0px;
}
.hidden-course-bar ul.button li a{
    text-align: center;
    padding: 7px 5px;
    color: white;   
    display: inline-block;
    width: 100%; 
    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
}
.hidden-course-bar ul.button li a.add-to-cart{
    border-bottom: 2px solid #C15E16;
}
.hidden-course-bar ul.button li a.button-like,
.hidden-course-bar ul.button li a.button-like{
    background: white;
    color: #50ad4e;
    border: 1px solid #50ad4e;
}
.hidden-course-bar ul.button li a.button-like:hover,
.hidden-course-bar ul.button li a.button-like:hover{
    border: 1px solid #377935;
    color: #377935;
}
.hidden-course-bar ul.button li a.button-like i,
.hidden-course-bar ul.button li a.button-like i{
    margin-right: 10px;
    font-size: 17px;
}
/********* CONTENT TOP **********/
#detail-content-top{
    padding-top: 30px;
}
#detail-content-top .detail-title{
    margin-bottom: 35px;
}
#detail-content-top .detail-title .title{
    font-size: 28px;
    font-weight: 500;
    margin: 0px 0px 13px 0px;  
}
#detail-content-top .detail-title .author{
    font-size: 14px;
    color: #272727;
    font-weight: 400;
}
#detail-content-top .right .icon-star{
    color: #272727
}

#detail-content-top .right ul.wrap-price{
    padding: 15px 10px 10px 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 15px;
    display: table;
    width: 100%;
    background: #efefef;
    border-top: 1px solid #EAE9E9;
    border-bottom: 1px solid #EAE9E9;
}
#detail-content-top .right ul.wrap-price li{
    display: inline-block;    
}
#detail-content-top .right ul.wrap-price .price{
    font-size: 24px;
    font-weight: bold;  
}
#detail-content-top .right ul.wrap-price .sale{
    font-size: 16px;
    color: #4a4a4a;
    text-decoration: line-through;
    margin-left: 25px;
    position: relative;
    top: -3px;
}
#detail-content-top .right ul.button{
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin: 15px 0px 0px 0px;
}
#detail-content-top .right ul.button li{
    float: left;
    width: 48%;
    margin-right: 4%;
}
#detail-content-top .right ul.button li:last-child{
    margin-right: 0px;
}
#detail-content-top .right ul.button li a{
    text-align: center;
    padding: 10px 5px;
    color: white;   
    display: inline-block;
    width: 100%; 
    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
}
#detail-content-top .right ul.button li a.add-to-cart{
    border-bottom: 2px solid #C15E16;
}

#detail-content-top .right ul.detail-info{
    margin: 0px;
    padding: 30px 0px 5px 0px;
    width: 100%;
    display: inline-block;  
}
#detail-content-top .right ul.detail-info li{
    margin-bottom: 15px;
    font-size: 14px;
    /*
    float: left;
    */
}
#detail-content-top .right ul.detail-info li img{
    margin-right: 15px;
}
/*
#detail-content-top .right ul.detail-info li:nth-child(1),
#detail-content-top .right ul.detail-info li:nth-child(3){
    width: 42%;
}
#detail-content-top .right ul.detail-info li:nth-child(2),
#detail-content-top .right ul.detail-info li:nth-child(4){
    width: 58%;
}
*/
#detail-content-top .right p {
    margin: 0px;
}
#detail-content-top .right .wrap-register{
    position: relative;
}
/***** FORM DANG KY HOC *****/

/********** CONTENT CENTER ************/
#detail-content-center{
    background: #F5F5F5;
    padding-top: 20px;
}
#detail-content-center ul.list{
    display: table;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}
#detail-content-center ul.list li{    
    margin-right: 30px;   
    position: relative; 
    font-size: 16px;
    display: table-cell;
}
#detail-content-center ul.list li:nth-child(3){
    text-align: center;
}
#detail-content-center ul.list li:last-child{
    text-align: right;
}
#detail-content-center ul.list li a{
    color: #272727;    
    padding: 15px;
    display: block;
}

#detail-content-center ul.list li:first-child a,
#detail-content-center ul.list li:hover a{
    border-top: 2px solid #50ad4e;
    color: #50ad4e;    
    background: white;
    padding: 15px;
    display: inline-block;
}
#detail-content-center #detail-text-about p{
    background: white;
    padding: 15px;
}
/******** CHI TIET KHOA HOC *********/
#curriculum{
    position: relative;
    padding: 20px 0px;
}
#curriculum .title-content{
    font-size: 16px;    
    padding-bottom: 20px;
    margin: 0px;
}
#curriculum .title{
    font-size: 14px;
    padding: 20px 0px;
    margin: 0px;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#curriculum:before{
    height: 100px;
    width: 100%;
    position: absolute;
}
#curriculum .wrap{
    position: relative;   
}
#curriculum .curriculum-list{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
}
#curriculum .curriculum-list li{
    display: inline-block;
    width: 100%;
    padding: 0px 0px;
}
#curriculum .curriculum-list li .icon{
    font-size: 28px;
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}
#curriculum .curriculum-list li .video{
    color: #d93939;
}
#curriculum .curriculum-list li .file{
    color: #a9b1bc
}
#curriculum .curriculum-list li .text{
    line-height: 40px;
}
#curriculum .curriculum-list li .time{
    float: right;
    line-height: 40px;
}

/********* TAC GIA ***********/
#detail-author{
    padding: 20px 0px 20px 0px;
}
#detail-author .title-content{
    padding: 0px 0px 5px 0px;
    border-bottom: 2px solid #50AD4E !important;
    display: inline-block;
}
#detail-author .wrap{
    margin: 15px 0px;
}
#detail-author .wrap {
    margin: 15px 0px 0px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}
#detail-author .wrap li{
  display: inline-block;
  float: left;

}
#detail-author .wrap li.img{
  width: 19%;
}
#detail-author .wrap li.img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#detail-author .wrap li.teacher{
  width: 81%;
  position: relative;
}
#detail-author .wrap li.teacher span{
  display: block;
}
#detail-author .wrap li.teacher span.name{
  font-size: 16px;
}
#detail-author .wrap li.teacher span.info{
    color: #929292;
}
#detail-author .wrap li.teacher .wrap-content-teacher{
  margin-top: 10px;
  display: inline-block;

}
#detail-author .wrap li.teacher .max-height{
    max-height: 92px;
    overflow: hidden;
     -webkit-transition: display 5s ease;
  -moz-transition: display 5s ease;
  -o-transition: display 5s ease;
}
#detail-author .wrap li.teacher .click-read-more{
    text-align: center;  
}
#detail-author .wrap li.teacher .click-read-more a{
    position: relative;
    color: #50AD4E;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    padding-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}
#detail-author .wrap li.teacher .click-read-more a:hover{
    color: #389a36;
}
#detail-author .wrap li.teacher .click-read-more a:hover:before{
    border-top: 15px solid #389a36;
}
#detail-author .wrap li.teacher .click-read-more a:before{      
    height: 0px; 
    width: 0px;
    border-top: 15px solid #CDCDCD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 36px;
}
#detail-author .wrap li.teacher .click-read-more a.rote{
    padding: 20px 0px 0px 0px;
}
#detail-author .wrap li.teacher .click-read-more a.rote:before{
    transform: rotate(180deg);
    top: 0px;
}
#detail-author .collapse-more{
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 40px 10px 0 0;
    position: absolute;
    bottom: 32px;
}
#detail-author .collapse-more.add{
    bottom: 0px;
}
/********* BOX GIA QUAN TAM GREEN ***********/
.box-price-register-green ul.top{
    margin: 0px;  
    padding: 10px 15px; 
    display: table;
    width: 100%;
    background: #377935;
}
.box-price-register-green ul.top li{
    float: left; 
    margin-right: 25px;
    color: white;
}
.box-price-register-green ul.top .price{
    font-size: 24px;
    line-height: 34px;
}
.box-price-register-green ul.top .sale{
    font-size: 16px;
    text-decoration: line-through;
    line-height: 34px;
}

.box-price-register-green ul.button{
    padding: 15px;
    display: inline-block;
    width: 100%;   
    margin: 0px; 
}
.box-price-register-green ul.button li{
    float: left;
    width: 48%;
    margin-right: 4%;
}
.box-price-register-green ul.button li:last-child{
    margin-right: 0px;
}
.box-price-register-green ul.button li a{
    text-align: center;
    padding: 10px 5px;
    color: white;   
    display: inline-block;
    width: 100%; 
    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.box-price-register-green ul.button li a.register{
    border-bottom: 2px solid #C15E16;
}
.box-price-register-green ul.button li a.button-like,
#detail-content-top .right ul.button li a.button-like{
    background: white;
    color: #50ad4e;
    border: 1px solid #50ad4e;
}
.box-price-register-green ul.button li a.button-like:hover,
#detail-content-top .right ul.button li a.button-like:hover{
    border: 1px solid #377935;
    color: #377935;
}
.box-price-register-green ul.button li a.button-like i,
#detail-content-top .right ul.button li a.button-like i{
    margin-right: 10px;
    font-size: 17px;
}
/********* BOX GIA QUAN TAM BLACK ***********/
.box-price-register-black ul.top{
    margin: 0px;  
    padding: 10px 15px; 
    display: table;
    width: 100%;
    background: #383838;
}
.box-price-register-black ul.top li{
    float: left; 
    margin-right: 25px;
    color: white;
}
.box-price-register-black ul.top .price{
    font-size: 24px;
    line-height: 34px;
}
.box-price-register-black ul.top .sale{
    font-size: 16px;
    text-decoration: line-through;
    line-height: 34px;
}

.box-price-register-black ul.button{
    padding: 15px;
    display: inline-block;
    width: 100%;   
    margin: 0px; 
}
.box-price-register-black ul.button li{
    float: left;
    width: 48%;
    margin-right: 4%;
}
.box-price-register-black ul.button li:last-child{
    margin-right: 0px;
}
.box-price-register-black ul.button li a{
    text-align: center;
    padding: 10px 5px;
    color: white;   
    display: inline-block;
    width: 100%; 
    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.box-price-register-black ul.button li a.register{
    border-bottom: 2px solid #C15E16;
}
.box-price-register-black ul.button li a.button-like,
#detail-content-top .right ul.button li a.button-like{
    background: white;
    color: #50ad4e;
    border: 1px solid #50ad4e;
}
.box-price-register-black ul.button li a.button-like:hover,
#detail-content-top .right ul.button li a.button-like:hover{
    border: 1px solid #377935;
    color: #377935;
}
.box-price-register-black ul.button li a.button-like i,
#detail-content-top .right ul.button li a.button-like i{
    margin-right: 10px;
    font-size: 17px;
}

/******** BOX LIEN QUAN **********/
.wrap-list-lq{
    margin: 0px 0px 25px 0px;   
}
.wrap-list-lq h4{
    margin: 0px;
    background: #50ad4e;
    padding: 15px;
    font-size: 16px;
    color: white;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    font-weight: 400;
}
.wrap-list-lq ul.wrap{
    display: inline-block; 
    margin: 0px;
    background: white;
    width: 100%;
    padding-left: 0px;
    border: 1px solid #e6e5e8;
    border-top: none;
}
.wrap-list-lq ul.wrap li.list{
    padding: 10px 15px 5px 15px;
    border-bottom: 1px solid #e6e5e8;
    display: inline-block;
    float: left;
    width: 100%;    
}
.wrap-list-lq ul.wrap li.list img a{
    display: inline-block;
}
.wrap-list-lq ul.wrap li.list:last-child{
    border-bottom: none;
}
.wrap-list-lq ul.wrap li.list .text h6 a{
    color: #272727;
    font-size: 14px;
    line-height: 20px;
}
.wrap-list-lq ul.wrap li.list .text h6{
    margin: 0px 0px 5px 0px;
}
.wrap-list-lq ul.wrap li.list .text ul{
    padding: 0px;
    display: inline-block;
    width: 100%;
}
.wrap-list-lq ul.wrap li.list .text ul li{
    float: left;
    padding: 0px 15px;
}
.wrap-list-lq ul.wrap li.list .text ul li:first-child{
    padding: 0px 0px 0px 0px;
}
.wrap-list-lq ul.wrap li.list .text ul li:first-child span{ 
    padding: 0px 15px 0px 0px;
    border-right: 1px solid #dddddd;
    font-weight: 500;
}
.wrap-list-lq ul.wrap li.list .text ul li:last-child a{
    color: #272727;
    font-weight: 500;
}
.wrap-list-lq ul.wrap li.list .text ul li:last-child a:hover,
.wrap-list-lq ul.wrap li.list .text ul li:last-child a:hover .icon{
    color: #389a36;
}
.wrap-list-lq ul.wrap li.list .text ul li:last-child a .icon{
    color: #50ac4e;
    margin-right: 8px;
}

/*********** FORM PROCESS *********/
.detail-wrap-review{
    background: white;
    color: white;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
}
.detail-wrap-review .wrap-progress{
    padding: 20px 15px;
    border: 1px solid #ddd
}
.detail-wrap-review ul.top{
    padding: 0px !important;
    display: table;
    width: 100%;
    background: #50AD4E;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
}
.detail-wrap-review ul.top li{
    display: table-cell;    
}
.detail-wrap-review ul.top li:last-child{
    text-align: right;
    padding-right: 15px;
}
.detail-wrap-review ul.top li:first-child{
    padding: 15px 0px 15px 15px;
    font-size: 16px;
}


/*********** WRAP PROCESS **********/
.wrap-progress ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-bottom: 5px;
}
.wrap-progress ul li{
    display: inline-block;
    float: left;
}
.wrap-progress ul li.left{
    width: 17%;
}
.wrap-progress ul li.center{
    width: 66%;
}
.wrap-progress ul li.right{
    text-align: right;
    width: 17%;
}
.wrap-progress ul li .progress{
    margin-bottom: 0px;
    height: 30px;
}
.wrap-progress ul li.text{
    color: #5F5F5F;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

/*********** TAB DANH GIA + BINH LUAN ***********/
#detail-comment{
    background: #F5F5F5;
    padding: 20px 0px;
}
#detail-comment .tablist-comment{
    border-bottom: none;
    padding: 0px;   
    margin-bottom: 15px;
}
#detail-comment .tablist-comment li{
    margin-right: 40px;
}
#detail-comment .tablist-comment li a{
    border: none;
    padding: 0px 0px 5px 0px;
    color: #333333;
    font-weight: 500;  
    font-size: 16px; 
}
#detail-comment .tablist-comment li a:hover,
#detail-comment .tablist-comment li.active a{
    background: none;
    border: none;
    border-bottom: 2px solid #50AD4E !important;
}
#detail-comment .tablist-comment #binhluanfacebook{
    background: white;
}

/********** BINH LUAN DANH GIA ***********/
.wrap-list-reviews ul.wrap{
    padding: 0px !important;
}
.wrap-list-reviews ul.wrap li{
    margin: 5px 0px 15px 0px;
}
.wrap-list-reviews ul.wrap > li{
    background: white;
    padding: 10px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.wrap-list-reviews ul.wrap li ul li{
    margin: 0px;
}
.wrap-list-reviews ul.wrap ul.sub{
    padding: 0px;
    display: inline-block;
    width: 100%;
}
.wrap-list-reviews ul.wrap ul.sub li{
    float: left;
    margin-right: 15px;
}

.button-lite{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.button-lite a{
    background: #A9B2BD;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
    padding: 10px 35px;
    border-bottom: 2px solid #969EA9;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    font-size: 16px;
}
.button-lite a:hover{
    background: #969EA9;
    border-bottom: 2px solid #89919C;
}
/********* BINH LUAN FACEBOOK *********/
.wrap-list-comment-fb{
    background: white;
    padding: 5px 0px;
}
/********* DANH GIA ********/
.detail-wrap-review .rate.fxac{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;   
}
.detail-wrap-review .rate.fxac p.text-top{
    font-weight: 500;
}
.detail-wrap-review .rate.fxac p{
    color: #272727;
    text-align: center;
}
.detail-wrap-review .rate.fxac form textarea{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    color: #272727;
}
.detail-wrap-review .rate.fxac ul{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px;
}
.detail-wrap-review .rate.fxac ul li{
    float: left;
    width: 100%;
}
.detail-wrap-review .rate.fxac ul li .icon-star i{
    font-size: 18px;
}
.detail-wrap-review .rate.fxac ul li span.text{
    color: #272727; 
    width: 100px;
    display: inline-block;   
    text-align: left;
}
.detail-wrap-review .rate.fxac form textarea:focus{
    outline: none;    
}
.detail-wrap-review .rate.fxac .wrap-form .button {
    text-align: center;
}
.detail-wrap-review .rate.fxac .wrap-form .button input{
    text-align: center;
    padding: 10px 35px;
    color: white;   
    display: inline-block;
    border-radius: 5px;
    -wekit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 2px solid #C15E16;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-top: 5px;
    font-size: 16px;
}
.detail-wrap-review .rate.fxac .wrap-form .button input:focus{
    outline: none;
}
.detail-wrap-review .rate.fxac.first p.text-bottom a{
    color: #50AD4E;
    font-weight: bold;
    text-decoration: underline;
}
.detail-wrap-review .rate.fxac.first p.text-bottom a:hover{
    color: #389a36;   
}
.detail-wrap-review .rate.fxac p.text-bottom{
    color: #6e6e6e;
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
}

/********* WRAP QUAN TAM **********/
#detail-content-bottom{
    padding: 20px 0px;
}
#detail-content-bottom .title-content{
    font-size: 16px;
    padding: 0px 15px;
}
#detail-content-bottom .box-product{
    padding: 15px;
}
#detail-content-bottom .owl-theme .owl-controls .owl-buttons div{
    color: #50ad4e;
    font-size: 27px;
}
#detail-content-bottom .owl-theme .owl-controls{
    position: absolute;
    top: -45px;
    right: 10px;
}
#detail-content-bottom .owl-theme .owl-controls .owl-buttons div:hover{
    color: #389a36;
}

/*********** ICON FACEBOOK ***********/
#list-fb-gg-like{
    width: 80px;
    position: fixed;
    top: 15%;
    right: 20px;
    display: block;

}
#list-fb-gg-like ul{
    background: white;
    padding: 5px;

    margin-bottom: 25px;
    box-shadow: 0px 0px 4px #888;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
}
#list-fb-gg-like ul li {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0.35em auto;
    width: 64px;
}

/********** ICON CART RIGHT DETAIL ***********/
#detail-icon-cart{
    right: 20px;
    background: #2A8A29; 
    padding: 10px 0px 5px 0px;
    box-shadow: 0px 0px 4px #888;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
}
#detail-icon-cart .detail-number{
    font-size: 24px;
    font-weight: bold;
}
#detail-icon-cart p{
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
}
#detail-icon-cart p span{
    padding: 0px 15px;
    color: white;
}
#detail-icon-cart a,#detail-icon-cart p span{
    display: block;
}
#detail-icon-cart img{
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    margin: 20px auto;
}
#detail-icon-cart:hover img{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}