@media (min-width: 1676px) {
/*
  .container {
    width: 85%;
  }
*/ 
  /** HOME: BANNER BOTTOM **/
  #wrap-banner-bottom .banner-main .wrap-content-banner-bottom .box a span.text {
    height: 45px;
  }
}
@media (min-width: 1199px){    
    #wrap-banner-top .banner-main .wrap-content-banner-top .box{
        width: 20%;
        float: left;
        padding: 0px 10px;
    }
    .wrap-header .wrap-logo{
        position: relative;
        top: -7px;
    }
    .logo img{
        height: 55px;
    }
    .wrap-popup-product.modal{
        top: 70px;
    }
}
@media (max-width: 1199px){
    .wrap-header {
        padding: 20px 0px;
    }
    #wrap-banner-top .banner-main .wrap-content-banner-top .box{
        width: 33.3%;
        float: left;
        padding: 0px 10px;
    }
    .popup-form-header.modal,
    .wrap-popup-product.modal{
        top: 95px;
    }
    .wrap-header .left-child a{
        font-size: 11px;
    }   
    .wrap-header .right ul li.click-button-info,
    .wrap-header .right ul li.click-button-info{
        padding-bottom: 15px;
    }
    .wrap-header .left-first-info:before{
        left: 130px
    }
    .wrap-header .right-first-info:before{
        left: 165px;
    }
    #wrap-content-bottom .right .wrap-slider-content-bottom .detail{
        padding: 0px 15px;
    }
    .cat-sidebar-left .box form{
        padding: 0px 10px 10px 10px !important
    }
    .wrap-list-lq ul.wrap li.list .text ul li:first-child span{
        border: none !important;
    }
    .wrap-list-lq ul.wrap li.list .text ul li{
        float: none !important;
        padding: 0px !important;
    }
    /* CHECKOUT */
    .checkout-list-part.mb{
        display: block !important;
    }
    .checkout-list-part.pc{
        display: none !important;
    }
    /* HEADER */    
    .span-button-menu.pc{
        display: none !important;
    }
    .span-button-menu.mb{
        display: block !important;           
    }        
}
@media (max-width: 1023px){
    .wrap-header .right ul li.hotline span{
        font-size: 13px;
    }    
    
}
@media (min-width: 768px) and (max-width: 1023px){
    #my-courses .my-courses-main .nav-tabs-product.first li a {
        padding: 10px !important;
    }
}
@media (min-width: 991px){    
    .wrap-header.mb,
    #wrap-about-footer{
        display: none;
    }
    .wrap-search-mobile{
        display: none;
    }
    .cat-wrap-content,    
    #account-wrap-main{
        padding: 30px 0px 10px 0px;
    } 
    #my-courses .my-courses-header .bottom ul li.progress-wrapper img {
        display: none;
    }
    #modal .modal-dialog {
        width: 780px !important;
    }
}

@media (max-width: 991px){
    /* HEADER */
    .wrap-header.pc{
        display: none;
    }
    .wrap-header.mb,
    #wrap-about-footer{
        display: block;
    }  
    .wrap-header.menu-nav-up {
        top: initial
    }  
    .wrap-header{
        position: fixed !important;
        padding-top: 0px;
        height: 55px;
        border-top: 4px solid #17aa1c;
    }
    .wrap-header .logo{
        text-align: center;
    }
    .wrap-header .logo img{
        height: 45px;
        position: relative;
        top: 3px;
    }
    #wrap-banner-top{
        display: none;
    }   
    .wrap-search-mobile{
        background: #50ad4e;
        padding: 10px;
        display: none;        
    }
    .wrap-search-mobile.show-search{
        display: block;  
        margin-top: 55px;      
    }
    .wrap-search-mobile form{
        background: white;
    }       
    #wrap-banner-footer .banner-main .container .right{
        height: 90px;
    }
    /* FOOTER */
    #wrap-copyright .right{
        display: none;
    }
    /* CATEGORY HOME */
    .cat-wrap-content {
        margin: 30px 0px 20px 0px;
    } 
    /* DETAIL */
    #detail-content-top {
        padding-top: 90px !important;
    }
    #detail-content-top .right .icon-star {
        color: #272727;
        display: inline-block;
        margin: 15px 0px 0px 0px;
    }
    #detail-form-register {
        left: 0px !important;        
    }
    #detail-form-register:before {
        left: 15px !important;
    }    
    /* CHECKOUT */
    #checkout .checkout-background-right{
        display: none;
    }
    .checkout .checkout-header .left-first,
    .checkout .checkout-header .right-first{
        padding: 0px
    }
    .checkout .checkout-header h2.logo img{
        height: 45px;
    }            
    /* MY COURSES */
    #my-courses .my-courses-header .bottom ul {
        padding: 20px 0px !important;
        width: 100% !important;
    }
    #my-courses .my-courses-header .bottom ul li {
        margin: 0px 5px !important;
        width: 18% !important;
        margin: 1% !important;
    }
    #my-courses .my-courses-header .bottom ul li p {
        font-size: 16px;
        height: 45px;
    }
    #my-courses .my-courses-header .progress-wrapper span {
        top: 12px !important;
    }
       
    #my-courses .my-courses-header .progress-wrapper canvas {
        display: none !important;
    }
    #my-courses .my-courses-header .bottom ul li.progress-wrapper .my-courses-chart {
        height: inherit !important;
        top: inherit !important;
    }   
    #my-courses .my-courses-main .nav-tabs-product.last {
        display: table;
        width: 100%;        
    }
    #my-courses .my-courses-main .nav-tabs-product.last li {
        display: table-cell;
        margin: 0px;
        text-align: center;     
        float: inherit !important;       
    }
    #my-courses .my-courses-main .nav-tabs-product.last li a {                      
        background: #f5f5f5;
        width: 100%;
        margin-right: 0px !important;
        border-right: 2px solid #ccc !important;
        border-radius: 5px 5px 0px 0px;
        padding: 10px 0px !important;
    }    
    #my-courses .my-courses-main #messages .left ul li .name {
        padding-right: 2px;
        display: inline-block;
    }
    /* TAB QUESTION ANSWER */
    #my-courses .my-courses-main #question-answer-sub .right ul.nav {
        margin-bottom: 30px;
        padding: 0px !important;
    }
    /* TAB TRANSACTION */
    #my-courses .my-courses-main #transaction .tab-content {
        padding: 0px !important;
    }
}

@media (min-width: 768px){  
    
    .pd0{
	padding: 0px !important;
    }
    .pd0-l{
    	padding-left: 0px !important;
    }
    .pd0-r{
    	padding-right: 0px !important;
    }
    .popup-form-header .modal-dialog{
        width: 350px !important;
    }
    .wrap-popup-product .modal-dialog{
        width: 800px !important;
    } 
    .wrap-popup-product .right{
        padding: 15px 15px 15px 0px;
    }  
    #detail-search-list .box:last-child{
        padding-right: 0px;
    } 
    #detail-search-list .box{
        width: 25%;
    }
}
@media (max-width: 767px){  
    .pd0-mb{
        padding: 0px !important;
    }
    .pd0-l-mb{
        padding-left: 0px !important;
    }
    .pd0-r-mb{
        padding-right: 0px !important;
    }
    #wrap-banner-footer .banner-main .container .right .sub-wrap{
        padding-top: 25px;
    }
    #wrap-content-bottom .right .wrap-slider-content-bottom .content{
        padding: 15px;
    }    
    #wrap-content-bottom .right .wrap-slider-content-bottom .detail .left img{
        margin: 0px auto 20px;
    }
    
    #wrap-copyright .right ul li{
        text-align: center;
    }
    #wrap-banner-bottom,
    #wrap-content-bottom .left{
        display: none;
    }
    #wrap-footer .left-first,
    #wrap-footer .left-child{
        display: none;
    }
    #wrap-footer .right-child{
        text-align: right;
    }
    #wrap-copyright{
        background: #333
    }
    #wrap-copyright .left .text{
        color: white;
        margin: 0px;
    }
    #wrap-copyright .left{
        padding: 0px;
    }
    #wrap-copyright .right{
        display: none
    }
    
    /* DETAIL */
    #detail-content-top .detail-title .title,
    #detail-content-top .right ul.wrap-price .price{
        font-size: 24px !important;
    }
    .wrap-popup-product.modal{
        top: 25px;
    }
    .fade.wrap-popup-product.modal .modal-dialog{
        margin-top: 0px;
    }
    
    #detail-author .wrap li.img{
        width: 100% !important;
        margin-bottom: 15px;
    }
    #detail-author .wrap li.teacher{
        width: 100% !important
    }    
    
    /* CHECKOUT */   
    .checkout .checkout-list-price{
        padding: 0px 15px;        
    }   
    .checkout .checkout-apdung .input-code{
        padding-left: 0px !important;
    }
    .checkout .checkout-apdung {
        border-bottom: none !important;
        border-top: none !important;
        padding: 15px;
    }
    .checkout .checkout-list-price ul{
        border-top: none;
        padding-top: 15px !important;
    }
    .checkout .wrap-content-left{
        padding-bottom: 0px !important;
    }
    .checkout .wrap-content-right ul.list{
        background: #F5F5F5;
        padding: 10px 0px !important;
    }
    .checkout .checkout-list-price{
        background: #F5F5F5;
    }
    .checkout .wrap-content-right{
        padding: 15px !important;
        margin-top: 0px !important;
    }
    .checkout-confirm-content div.box .text {
        padding: 0px;
    }
    #checkout-mastercard label {
        background-image: none !important;
    }
    .checkout .checkout-sub-list .checkout-text-note-code {
        padding: 0px 15px;
    }  
    
    /* CHECKOUT CONFIRM */
    #checkout-succ .checkout-confirm-content .img img{
        margin: 0px auto;
    }
    #checkout-succ .checkout-confirm-content .box .text{
        top: 0px !important;
        margin-top: 15px;
        padding: 0px !important;
    }   
    .checkout-banner-confirm{
        background: #F5F5F5 !important;        
    }
    .checkout-banner-confirm ul{
        padding: 15px !important;
    }
    .checkout .checkout-wrap-content ul li{
        display: block !important;
        color: #333;
    }
    .checkout-confirm-content div.box img {
        margin: 0px auto !important;
    }
    .checkout-confirm-content div.box .text {
        top: inherit !important
    }
    
    /* CART */
    .shopping-list div.title .text {
        padding: 0px;
        margin: 15px 0px;
    }
    .shopping-list div.title .text h4 {
        line-height: 25px;
    }
    .shopping-list div.price {
        text-align: left !important;
        margin-top: 15px;
    }
    .shopping-list .shopping-list-header {
        display: none;
    }
    .cart-wrap-list {
        border-top: 1px solid #ddd
    }
    .cart-wrap-list .item-title-header {
        font-size: 14px;
        display: inline-block;
        float: left;
        width: 100px;
        font-weight: 400;
        display: block;
    }  
    .cart-select-default li {
        display: inline-block;
        width: 100%;  
        text-align: right;
        margin-bottom: 15px;    
    }   
    .cart-select-default li a {
        text-align: center;
        display: inline-block;
        float: initial !important
    } 
    .cart-select-default li:first-child {
        display: none;
    }
    .cart-content-total,
    .cart-content-total .text-error {
        min-width: initial !important;
    }
    /* MY COURSES */
    #my-courses .my-courses-header .bottom ul li span {
        font-size: 24px;
    }
    #my-courses .my-courses-main .wrap-tab-main .navbar-header .navbar-toggle {
        background: #50ad4e;
        margin-right: 0px;
    }
    #my-courses .my-courses-main .wrap-tab-main .navbar-header span {
        background: white;
    }
    #my-courses .my-courses-main nav {
        top: -50px !important;
    }
    #my-courses .my-courses-main .wrap-tab-main #navbar {
        margin: 10px 0px 0px 0px;
        background: rgb(245, 245, 245);
    }
    #my-courses .my-courses-main .nav-tabs-product.first {
        margin: 10px 0px;
        width: 100%;
        background: white;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }    
    #my-courses .my-courses-main .nav-tabs-product.first li,
    #my-courses .my-courses-main .nav-tabs-product.first li a {
        width: 100%;
        text-align: center;
        border-radius: initial !important;
    }
    #my-courses .my-courses-main .nav-tabs-product.first li {
        border-bottom: 2px solid #f5f5f5;
    }
    #my-courses .my-courses-main .nav-tabs-product.first li a {
        border: none !important;
    }
    #my-courses .my-courses-main .nav-tabs-product.first li.active a,
    #my-courses .my-courses-main .nav-tabs-product.first li.active:hover a,
    #my-courses .my-courses-main .nav-tabs-product.first li.active:focus a,
    #my-courses .my-courses-main .nav-tabs-product.first li:hover a{
        background: #50ad4e !important;
        color: white;
        border: none !important;
    }
    #my-courses .my-courses-main .nav-tabs-product.last {
        padding: 0px !important;
    }    
    #my-courses .my-courses-main .tab-content-wrap .box-product {
        padding: 0px !important;
    }
        
    #my-courses .my-courses-main #my-courses-document .wrap-box {
        padding: 20px 0px !important;
    }
    /* EDIT PROFILE */
    #modal .modal-dialog .modal-body .input, #modal .modal-dialog .input.radio {
        height: inherit !important;
        margin: 10px 0px;
        padding: 0px;
    }
    #modal .modal-dialog .modal-body .input p {
        line-height: inherit !important;
    }
    #modal .modal-dialog .modal-body .input-mb {
        display: none;
    }
    #modal .popup-edit-profile .checkout .button {
        left: -35px;
    }
    #modal .modal-dialog .input.radio .right ul li {
        display: initial !important;
    }
    #modal .modal-footer .input {
        text-align: center;
    }
    #modal .edit-profile-pass a {
        padding: 0px 15px;
    }       
    /* MESSAGES */
    #my-courses .my-courses-main #messages,
    #my-courses .my-courses-main #messages .left,
    #my-courses .my-courses-main #messages .right .tab-content .tab-pane {
        padding: 0px !important;
    }
    #my-courses .my-courses-main #messages .left ul li .wrap-image{
        float: inherit !important;
        margin-bottom: 10px;
    }
    #my-courses .my-courses-main #messages .left ul {
        height: 462px;
        overflow: overlay;
        border-bottom: 1px solid #e8e8e8;
    }
    #my-courses .my-courses-main #messages .left ul li {
        padding: 5px;
    }  
}

@media (max-width: 580px){           
    #wrap-content-bottom .left ul li span.icon{
        width: 100%;
    }
    #wrap-content-bottom .left ul li span.icon img{
        margin: 0px auto 10px;
    }       
    #wrap-footer .right-first{
        display: none;
    }
    #wrap-footer .right-child{
        text-align: center;
        width: 100%;
    } 
    /* CART */
    #cart-list-main .owl-theme .owl-controls,
    #detail-content-bottom .owl-theme .owl-controls {       
        bottom: 0px;
        top: initial !important;
        right: 0px !important;
        left: 0px;
    }
    .cart-content-total ul.wrap-code li {
        width: 100%;
        text-align: center;
        border-radius: initial !important;
        border-right: 1px solid #afb7c1 !important;
        margin: 0px !important;
    }
    .cart-content-total ul.wrap-code li:last-child {
        border-right: none !important;
    }
    .cart-content-total ul {
        width: 100%;
    }
    /* CHECKOUT CONFIRM */    
    .checkout-confirm-ul-bottom ul li{
        width: 100%;
        margin: 0px !important;
    }    
    #checkout-failed .checkout-failed-title h2,
    #checkout-succ .checkout-succ-title h2{
        font-size: 22px !important;
        line-height: 30px;
    }
    .checkout .checkout-apdung .button-submit{
        padding: 0px !important;
    }
    /* MY COURSES */
    #my-courses .my-courses-header .top h2 span {
        display: inline-block;
    }
    #my-courses .my-courses-header .top h2 span.line {
        display: none;
    }
    #my-courses .my-courses-header .top ul {
        width: inherit !important;        
    }
    #my-courses .my-courses-header .top ul li {
        display: inherit !important;
        width: 100%;
        margin: 10px 0px;
    }    
    #my-courses .my-courses-header .top ul li a {
        width: 100%;
    }
    #my-courses .my-courses-header .bottom ul {
        padding: 0px !important;
    }
    #my-courses .my-courses-header .bottom ul li {
        width: 100% !important;
        margin: 0px !important;
        border-bottom: 1px dotted #888;
        padding: 15px 0px !important;
    }  
    #my-courses .my-courses-header .bottom ul li:last-child {
        border-bottom: none;
    }      
    #my-courses .my-courses-header .bottom ul li p {
        height: inherit !important;
    }
    #my-courses .my-courses-header .progress-wrapper span {  
        display: inline-block !important;
        position: inherit !important;
        left: inherit !important;
        top: inherit !important;
        transform: inherit !important;
        -webkit-transform: inherit !important;
    }    
    #my-courses .my-courses-main #my-courses-document .wrap-box .wrap li.list ul.sub {
        float: inherit !important;
    }
    #my-courses .my-courses-main #my-courses-document .wrap-box .wrap li.list ul.sub li{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 5px 0px;
    }
    #my-courses .my-courses-main #my-courses-document .wrap-box .wrap li.list p span.title {
        display: inline-block;
        padding-left: 25px;
        line-height: 25px;
    }
    /* QUESTION ANSWER */
    #my-courses .my-courses-main #content-question-answer .right ul.top li {
        float: inherit !important;
    }
    #my-courses .my-courses-main #content-question-answer .right ul.top li.icon {
        display: none;
    }
    #my-courses .my-courses-main #content-question-answer .right p.text,
    #my-courses .my-courses-main #content-question-answer .right ul.bottom,
    #my-courses .my-courses-main #content-question-answer .right .content-sub {
        padding-left: 0px !important;
    }    
    #my-courses .my-courses-main #question-answer-sub .right ul.nav li.cat-title-first {
        width: 100%;
        margin-bottom: 5px;
    }
    /* EDIT PROFILE */
    #modal .popup-edit-profile .checkout .button {
        left: inherit !important;
        margin: 0px !important;
        line-height: 0px !important;
    }    
    
}
@media (max-width: 380px){
    .wrap-header.mb .right a{
        font-size: 11px;
        text-align: center;
    }
    .wrap-header.mb .left ul.main li a{
        font-size: 14px;
    }
    #wrap-copyright .left .text,
    #wrap-copyright .left .img{
        width: 100%;
    }
    #detail-content-top .right ul.detail-info li{
        width: 100% !important;
    }
    /* CHECKOUT */
    .checkout .checkout-apdung .btn-send-apdung{
        width: 100%;
    }
}
@media (max-width: 320px){
    #curriculum .curriculum-list li .time{
        display: none;
    }
    .wrap-header{
        height: auto;
    }
}