/********* HEADER - TOP ********/
#my-courses .my-courses-header {
    background: #f5f5f5;
    padding: 0px 0px 65px 0px;
}
#my-courses .my-courses-header > .container {
    padding: 0px 30px;
}
#my-courses .my-courses-header .top .mini-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 35px auto 20px;
}
#my-courses .my-courses-header .top h2 {
    font-size: 24px;
    text-align: center;
}
#my-courses .my-courses-header .top h2 span {
    font-size: 14px;
}
#my-courses .my-courses-header .top ul {
    padding: 0px;
    margin: 15px auto 25px;
    width: 360px;
    display: table;  
    text-align: center;  
}
#my-courses .my-courses-header .top ul li {
    display: table-cell;
}
#my-courses .my-courses-header .top ul li:first-child a,
#my-courses .my-courses-header .top ul li:last-child a {    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;   
}

#my-courses .my-courses-header .top ul li:first-child a:hover {
    background: #a4aab3;
    border-bottom: 2px solid #949aa4;
}
#my-courses .my-courses-header .top ul li:last-child a:hover {
    background: #389a36;
    border-bottom: 2px solid #328530; 
} 

#my-courses .my-courses-header .top ul li:first-child a {
    background: #afb7c1;
    color: white;
    border-bottom: 2px solid #a4aab3
}
#my-courses .my-courses-header .top ul li:last-child a {
    background: #50ad4e;
    color: white;
    border-bottom: 2px solid #389a36
}

/********* HEADER - BOTTOM  ********/
#my-courses .my-courses-header .bottom {
    text-align: center;
    background: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);    
}
#my-courses .my-courses-header .bottom ul {
    padding: 20px 30px;
    margin: 0px;    
    display: inline-block;           
}
#my-courses .my-courses-header .bottom ul li {
    width: 130px;
    float: left;
    margin: 0px 20px;
}
#my-courses .my-courses-header .bottom ul li img {
    margin: 20px auto
}
#my-courses .my-courses-header .bottom ul li p {
    font-size: 18px;
}
#my-courses .my-courses-header .bottom ul li span {
    font-size: 32px;
 
}
#my-courses .my-courses-header .bottom ul li .progress {
    width: 96px;
    height: 94px;
    border-radius: 50%;
    display: inline-block;
}

#my-courses .my-courses-header .bottom ul li.progress-wrapper .my-courses-chart { 
    position: relative;
    height: 100px;
    top: 10px;
}
#my-courses .my-courses-header .progress-wrapper canvas {
    display: block;    
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
}
#my-courses .my-courses-header .progress-wrapper span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}


/********* MAIN **********/
#my-courses .my-courses-main .nav-tabs-product.first {    
    border-bottom: none;
    padding: 0px;
    display: inline-block;
    margin-bottom: 0px;
}
#my-courses .my-courses-main nav {
    position: relative;
    top: -44px;
}
#my-courses .my-courses-main .nav-tabs-product.first li a {
    font-size: 16px;
    border: 2px solid #f5f5f5;
    border-bottom: none;
    color: #272727;
    padding: 10px 30px;
}
#my-courses .my-courses-main .nav-tabs-product.first li a:hover {
    background: white;
    border-top: 2px solid #50ad4e;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
#my-courses .my-courses-main .nav-tabs-product li a {
    display: inline-block;
}
#my-courses .my-courses-main .nav-tabs-product.first li.active a {
    border-top: 2px solid #50ad4e
}
#my-courses .my-courses-main .nav-tabs-product.last {
    position: relative;
    top: -20px;
    border: none;
    padding: 0px 15px;
}
#my-courses .my-courses-main .nav-tabs-product.last li a {
    font-size: 16px;
    color: #272727;
    border: none;
    padding: 10px 30px 10px 0px;
    margin-right: 70px;
}
#my-courses .my-courses-main .nav-tabs-product.last li a:hover {
    background: none;
    border-bottom: 2px solid #50ad4e;
}
#my-courses .my-courses-main .nav-tabs-product.last li.active a {
    border-bottom: 2px solid #50ad4e;
}
#my-courses .my-courses-main #my-courses-list .tab-content-sub {
    position: relative;
    top: 13px;
}
/********** TAB DOCUMENT ***********/
#my-courses .my-courses-main #document .wrap-box h3 {
    margin-top: 0px;
    font-size: 16px;
    line-height: 30px;
}
#my-courses .my-courses-main #document .wrap-box h3 i {
    margin-right: 10px;
    background: #afb7c1;
    padding: 5px 5px 3px;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
#my-courses .my-courses-main #document .wrap-box {
    padding: 20px 15px;
}
#my-courses .my-courses-main #document .wrap-box .box {
    border-bottom: 1px solid #dddddd
}
#my-courses .my-courses-main #document .wrap-box:last-child .box {
    border-bottom: none;
}
#my-courses .my-courses-main #document .wrap-box .wrap {
    padding: 18px 0px;
    margin: 0px 0px 0px 13px;
    border-left: 1px solid #afb7c1;    
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list {    
    display: inline-block;
    width: 100%;
    padding: 10px 0px;       
    position: relative; 
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list:last-child:before {
    background: white;
    width: 5px;
    height: 57px;
    position: absolute;
    left: -1px;
    bottom: -25px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list p {
    float: left;
    font-size: 16px;
    line-height: 45px;
    margin-bottom: 0px;    
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub {
    float: right;
    padding: 0px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li a {
    background: white;
    border: 1px solid #afb7c1;
    padding: 10px 20px;
    border-radius: 5px;
    color: #272727;
    display: inline-block;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li a:hover,
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li a:hover i {
    background: #389a36;
    color: white;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li a:hover {
    border: 1px solid #389a36
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li.view {
    float: left;
    margin-right: 15px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li.view img {
    margin-right: 8px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li.download {
    float: right;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list ul.sub li.download i {
    font-size: 18px;
    color: #b3bac4;
    margin-right: 5px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list p span.line{
    background: url('../img/product/line-left.png') no-repeat center left;
    display: inline-block;
    width: 20px;
    height: 10px;
}
#my-courses .my-courses-main #document .wrap-box .wrap li.list p img.icon-text{
    margin: 0px 25px 0px 5px;
}

#my-courses .my-courses-main #document {
    position: relative;
    top: -15px;
}
/************ TAB SUPPORT ************/
#my-courses .my-courses-main #question-answer .left form {
    position: relative;
    margin: 10px 0px 30px 0px;
    display: inline-block;
}
#my-courses .my-courses-main #question-answer .left form span.icon {
    position:  absolute;
    right: 0px;
    top: 0px;
}
#my-courses .my-courses-main #question-answer .right ul.nav {
    float: right;
}
#my-courses .my-courses-main #question-answer .right ul.nav li {
    display: inline-block;
}
#my-courses .my-courses-main #content-question-answer .wrapper{
    margin-bottom: 35px;
}
#my-courses .my-courses-main #content-question-answer .left {
    float: left;
    display: inline-block;
    margin-right: 15px;
}
#my-courses .my-courses-main #content-question-answer .left ul {
    padding: 0px;
    margin: 0px;
    width: 65px;
}
#my-courses .my-courses-main #content-question-answer .left ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
#my-courses .my-courses-main #content-question-answer .left ul li.icon-question {
    text-align: center;
}
#my-courses .my-courses-main #content-question-answer .left ul li.author img{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -o-border-radius: 5px; 
}

#my-courses .my-courses-main #content-question-answer .right ul.top {
    display: inline-block;
    padding: 0px;
    margin: -5px 0px 0px 0px;
}
#my-courses .my-courses-main #content-question-answer .right ul.top li {
    float: left;
    margin-right: 15px;
}
#my-courses .my-courses-main #content-question-answer .right ul.top li.name {
    font-size: 16px;
    font-weight: bold;
    color: #50ad4e;
}
#my-courses .my-courses-main #content-question-answer .right ul.top li.date {
    color: #c6cbd2
}
#my-courses .my-courses-main #content-question-answer .right ul.top li.icon,
#my-courses .my-courses-main #content-question-answer .right ul.bottom li.icon {
    font-size: 10px;
    color: #464646;
}
#my-courses .my-courses-main #content-question-answer .right ul.bottom li {
    float: left;
    margin-right: 30px;
}

#my-courses .my-courses-main #content-question-answer .right .content-sub,
#my-courses .my-courses-main #content-question-answer .right ul.bottom {
    display: inline-block;
    width: 100%;    
    padding: 0px 0px 0px 80px;
    margin: 0px;
}
#my-courses .my-courses-main #content-question-answer .right ul.bottom li:first-child {
    font-size: 16px;
    color: #787878;
}
#my-courses .my-courses-main #content-question-answer .right ul.bottom li:first-child i {
    color: #adb5bf
}
#my-courses .my-courses-main #content-question-answer .right ul.bottom li:last-child {
    color: #a9b1bc;
    font-size: 16px;
}

#my-courses .my-courses-main #content-question-answer .right .content-sub .wrap {
    border: 2px solid #dddddd;
    padding: 25px 20px;
    position: relative;
}
#my-courses .my-courses-main #content-question-answer .right .content-sub .wrap .max-height {
    max-height: 100px;
    overflow: hidden; 
}    
#my-courses .my-courses-main #content-question-answer .right .content-sub .wrap .icon-border {
    position: absolute;
    left: 20px;
    top: -9px;
}
#my-courses .my-courses-main #content-question-answer .right p.text {
    padding-left: 80px;
}
#my-courses .my-courses-main #question-answer-sub .right ul.nav{
    padding: 0px 15px;
    border-bottom: none;
    display: inline-block;
    float: right;
}
#my-courses .my-courses-main #question-answer-sub .right ul.nav li{
    float: left;
    margin-right: 5px;
}
#my-courses .my-courses-main #question-answer-sub .right ul.nav li.cat-title-first{
    margin-right: 10px;   
    line-height: 30px;
    font-size: 16px;
}
#my-courses .my-courses-main #question-answer-sub .right ul.nav li a{
    border: none;
    padding: 5px 20px;
    color: #333333;
    font-weight: 500;  
    background: #eee;
    display: inline-block;
    height: 30px;
}
#my-courses .my-courses-main #question-answer-sub .right ul.nav li.active a,
#my-courses .my-courses-main #question-answer-sub .right ul.nav li a:hover{
    background: #389a36;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
}
#my-courses .my-courses-main #question-answer-sub  #content-question-answer {
    display: inline-block;
    width: 100%;  
    padding: 0px 15px;
}

/********** TAB - MESSAGE **********/
#my-courses .my-courses-main #messages {
    padding: 0px 15px;
}
#my-courses .my-courses-main #messages .wrapper {
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
}
#my-courses .my-courses-main #messages ul li span.new {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #56a94f;
    display: inline-block;
    position: relative;
    top: -1px;
}
#my-courses .my-courses-main #messages ul.listing {
    padding: 0px;
    margin: 0px;
}
#my-courses .my-courses-main #messages ul.listing li {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #bababa;
    padding: 10px 0px;
}
#my-courses .my-courses-main #messages ul.listing li:nth-child(even) {
    background: #f5f5f5;
}
#my-courses .my-courses-main #messages ul.listing .right h4 {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
}
#my-courses .my-courses-main #messages ul.listing .right h4 a {
    color: black;
}
#my-courses .my-courses-main #messages ul.listing .right h4 a:hover {
    color: #389a36
}
#my-courses .my-courses-main #messages ul.listing .right span.new {
    margin-right: 5px;
}
#my-courses .my-courses-main #messages ul.listing .right p {
    
}

#my-courses .my-courses-main #messages .left ul {
    top: inherit;
    padding: 0px;
    border-right: 1px solid #e8e8e8;
}
#my-courses .my-courses-main #messages .left ul li {
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 0px;
}
#my-courses .my-courses-main #messages .left ul li:last-child {
    border-bottom: none
}
#my-courses .my-courses-main #messages .left ul li:nth-child(odd) {
    background: #f5f5f5;
}
#my-courses .my-courses-main #messages .left ul li:hover {
    border-right: 3px solid #52aa53;
}
#my-courses .my-courses-main #messages .left ul li a {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
}
#my-courses .my-courses-main #messages .left ul li:active a,
#my-courses .my-courses-main #messages .left ul li a:hover,
#my-courses .my-courses-main #messages .left ul li a:focus{
    background: none !important;
    border-bottom: none !important;
}
#my-courses .my-courses-main #messages .left ul li.active {
    border-right: 3px solid #52aa53;
}
#my-courses .my-courses-main #messages .left ul li .wrap-image,
#my-courses .my-courses-main #messages ul.listing li .wrap-image {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block;    
}
#my-courses .my-courses-main #messages .left ul li .name,
#my-courses .my-courses-main #messages ul.listing li .name{
    margin: 0px;
    color: #52ac4c;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}
#my-courses .my-courses-main #messages .left ul li .date,
#my-courses .my-courses-main #messages ul.listing li .date {
    color: #b9bec4;  
    font-weight: normal
}
#my-courses .my-courses-main #messages .left ul li .wrap-image .icon,
#my-courses .my-courses-main #messages ul.listing li .wrap-image .icon {
    position: absolute;
    bottom: -5px;
    left: -5px;
}

#my-courses .my-courses-main #messages .left ul li .wrap-image .teacher img,
#my-courses .my-courses-main #messages ul.listing li .wrap-image .teacher img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#my-courses .my-courses-main #messages .left ul li .date span.new {
    margin-left: 5px;
}
#my-courses .my-courses-main #messages .right .tab-content .tab-pane{
    padding: 15px 0px 15px 30px;   
}
#my-courses .my-courses-main #messages .right .tab-content .tab-pane .wrap-content {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul{
    display: inline-block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li {
    float: right;
    display: inline-block;
    margin-left: 25px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.delete a,
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.reply a {
    color: #878787
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.delete a:hover i{
    color: black;
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.reply a:hover i {
    color: #48ad47
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.reply i {
    color: #6e6e6e;
}
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.delete i,
#my-courses .my-courses-main #messages .right .wrapper-comment ul li.reply i {
    font-size: 20px;
    margin-right: 5px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment {
    position: relative;
    right: -15px;
    bottom: -5px;
    padding-bottom: 15px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment img {
    position: absolute;
    top: -9px;
    right: 15px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment textarea.form-control {
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px !important;
    padding: 20px 15px;
    height: 61px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment textarea.form-control:focus {
    outline: none;
    box-shadow: none;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment .wrap-button {
    text-align: right;
    background: #f5f5f5;
    height: 45px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment .wrap-button .button {
    background: #4fad4d;
    color: white;
    height: 100%;
    border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    padding: 0px 35px;
    font-size: 16px;
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment .wrap-button .button:hover {
    background: #389a36
}
#my-courses .my-courses-main #messages .right .wrapper-comment .box-comment .wrap-button .button:focus {
    outline: none;
}
#my-courses .my-courses-main #messages textarea.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c2c2c2;
}
#my-courses .my-courses-main #messages textarea.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c2c2c2;
   opacity: 1;
}
#my-courses .my-courses-main #messages textarea.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c2c2c2;
   opacity: 1;
}
#my-courses .my-courses-main #messages textarea.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c2c2c2;
}

/*********** TAB TRANSACTION ***********/
#my-courses .my-courses-main #transaction .tab-content {
    padding: 0px 15px;
}
#my-courses .my-courses-main .wrap-transaction{
    border: 1px solid #E2E2E2;
    border-radius: 5px;    
    margin-bottom: 25px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#my-courses .my-courses-main .wrap-transaction .left ul.list-first{
    margin: 0px 0px 0px 0px !important;   
    padding: 0px;    
}
#my-courses .my-courses-main .wrap-transaction .left{
    padding: 10px 10px 15px 15px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li{
    padding: 7px 0px;
    display: inline-block;
    width: 100%;
}

#my-courses .my-courses-main .wrap-transaction .right{
    background: #F5F5F5;
    padding: 5px !important;
}
#my-courses .my-courses-main .wrap-transaction .right .list-first{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 13px 0px 0px 0px;
}
#my-courses .my-courses-main .wrap-transaction .right .list-first li{
    display: inline-block;
    padding: 5px;
    float: left;   
}
#my-courses .my-courses-main .wrap-transaction .right .list-first li span{
    display: block;
    margin-bottom: 5px;
    line-height: 20px;
}
#my-courses .my-courses-main .wrap-transaction .right .list-first li:last-child{
    border-bottom: none;
}
#my-courses .my-courses-main .wrap-transaction .right .text {
    line-height: 1;
}
#my-courses .my-courses-main .wrap-transaction .right .text h6{
    margin-top: 0px;
    line-height: 20px;
}
#my-courses .my-courses-main .wrap-transaction .right .text h6 a{
    color: #313131;
    font-size: 14px;
}
#my-courses .my-courses-main .wrap-deal-account{
    padding: 0px 15px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li .one{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 21px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li .two{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -41px;
    width: 20px;
    height: 21px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li .three{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -78px;
    width: 20px;
    height: 21px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li .four{
    background: url('../img/icon-account.png') no-repeat;
    background-position: 0px -113px;
    width: 20px;
    height: 21px;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li.button a{
    display: inline-block;
    text-align: center;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
    margin: 3px 0px 0px 0px;
    background: #A9B2BD;
    border-bottom: 2px solid #9B9C9E;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li.button a:hover{
    background: #9B9C9E;
    border-bottom: 2px solid #818284;
}
#my-courses .my-courses-main .wrap-transaction .left .list-first li .one,
#my-courses .my-courses-main .wrap-transaction .left .list-first li .two,
#my-courses .my-courses-main .wrap-transaction .left .list-first li .three,
#my-courses .my-courses-main .wrap-transaction .left .list-first li .four{
    display: inline-block;
    padding-left: 30px;
    width: 100%;
}

/********** BOX PRODUCT ***********/
#courses-bought {
    padding: 0px;
}
.my-courses-main .wrap.block .img:before{
    position: absolute;
    top: 0px;
    height: 200px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.my-courses-main .card-options ul.dropdown-menu li a {
    background: none !important;
    color: initial;
} 
.my-courses-main .card-options ul.dropdown-menu li {
    margin-bottom: 0px;
    box-shadow: initial;
}
.my-courses-main {
    border-top: 1px solid #f0f0f0;
}
.my-courses-main .learning-wrap .text-null {
    margin-left: 15px;
}
.my-courses-main .details-bottom .button-play a{
    text-align: center;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    -webkit-radius: 5px;
    color: white;
    margin: 8px 0px 0px 0px;    
    border-bottom: 2px solid #389a36;
}
.my-courses-main .details-bottom .button-play a.disable{
    border-bottom: 2px solid #9B9C9E;
}
.my-courses-main .details-bottom .button-play a.disable:hover{
    background: #9B9C9E;
    border-bottom: 2px solid #818284
}
.my-courses-main .details-bottom .button-play a:hover{
    border-bottom: 2px solid #237721;    
}
.my-courses-main .details-bottom ul{
    margin-top: 10px !important;
    margin-bottom: 0px;
}
.my-courses-main .details-bottom ul li{
    display: inline-block;
    height: 60px;
}
.my-courses-main .details-bottom ul li.button-play{
    float: left;
}
.my-courses-main .details-bottom ul li.s-rating{
    float: right !important;
    padding-top: 8px;
}
.my-courses-main .details-bottom ul li.s-rating span{
    display: block;
    text-align: right;
}
.my-courses-main .details-bottom ul li.s-rating .icon-star {
    font-size: 12px;
}
.my-courses-main .box-product .wrap .content ul li.button-copy img {
    margin: 10px 0px 0px 5px
}
#my-courses .details-progress{
    display: block;
    width: 100%;
    background: red;
    height: 3px;
    margin-top: 10px;
}
#my-courses .box-product .wrap .content{
    border-bottom: none;
    padding-bottom: 0px;
}
#my-courses .progress{
    margin-bottom: 0px;
    margin-top: 10px;
    height: 5px;
}
#my-courses .progress .progress-bar{
    height: 5px;
    background: #FB6A00;
}
#my-courses .wrap-progress {
    padding: 10px 10px 0px 10px;
}
#my-courses .wrap-progress .details-bottom ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
}
/********* ICON CARD OPTIONS *******/
#my-courses .card-options .dropdown-toggle{
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border: 1px solid rgba(155, 155, 155, 0.3);
    border-radius: 5px;
    color: #a0a0a0;
    z-index: 2;
}
#my-courses .card-options .dropdown-menu{
    position: absolute;
    top: 35px;
    right: 5px;
    left: inherit;   
    border: 1px solid rgba(155, 155, 155, 0.3);
    padding: 0px;
}
#my-courses .card-options .dropdown-menu > li > a{
    padding: 8px 12px;
}
#my-courses .card-options .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #237721;
}
#my-courses .card-options .dropdown-menu > li:first-child > a:hover{
    border-radius: 5px 5px 0px 0px;
}
#my-courses .card-options .dropdown-menu > li:last-child > a:hover{
    border-radius: 0px 0px 5px 5px;
}
#my-courses .card-options .dropdown-toggle:hover,
#my-courses .card-options .dropdown-toggle:hover i{
  border-color: #237721;
  outline: none;
  color: #237721
}

/********* SIDEBAR RIGHT **********/
#my-courses .courses-sidebar-right {
    margin-top: 35px;
}
#my-courses .courses-sidebar-right h4.title-box{
    background: #50ad4e;
    color: white;
    padding: 15px 20px;
    margin: 0px;
    font-size: 14px;
}

#my-courses .courses-sidebar-right ul{
    padding: 0px;
    margin-bottom: 25px;   
     
}
#my-courses .courses-sidebar-right ul.user-links,
#my-courses .courses-sidebar-right ul.notifications,
#my-courses .courses-sidebar-right ul.blogs{
    border: 1px solid #f0f0f0;
    border-bottom: none;
}

#my-courses .courses-sidebar-right ul.user-links li a,
#my-courses .courses-sidebar-right ul.notifications li,
#my-courses .courses-sidebar-right ul.blogs li {
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
    display: inline-block;
    width: 100%;
}
#my-courses .courses-sidebar-right ul.notifications li.view-all a{
    color: #50ad4e;
    font-weight: bold;
    text-decoration: underline;
}
#my-courses .courses-sidebar-right ul.notifications li.view-all a:hover{
    color: #389a36;
}
