
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
html{
    margin-top: 59px;
}
#menu{
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 59px;
}
#menu.action{
    position: fixed;
    top: 0;
}
#wrap-header{
	position: absolute;
    top: 59px;
	width: 100%;
}
#wrap-header.scrolled{
	position: fixed;
	top: 0;
}
#km-topbar {
    overflow: hidden;
    font-family: 'Nunito', sans-serif !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    background: rgba(255, 69, 66, 1);
    background: -moz-linear-gradient(top, rgba(255, 69, 66, 1) 0%, rgba(226, 52, 49, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 69, 66, 1) 0%, rgba(226, 52, 49, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 69, 66, 1) 0%, rgba(226, 52, 49, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 69, 66, 1) 0%, rgba(226, 52, 49, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 69, 66, 1) 0%, rgba(226, 52, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff4542', endColorstr='#e23431', GradientType=0);
	background-image: url(/mana/layout/img/background-new.png);
}
#km-topbar .break-line{
    display: none;
}
#km-topbar .box-topbar{
    height: 59px;
    position: relative;
    /* background-image: url(/mana/layout/img/background.png); */
    margin: 0 auto;
    padding: 10px 0;
}
#km-topbar .box-topbar:before{
    content: "";
    position: absolute;
    background-image: url(/mana/layout/img/chicken.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 72px;
    top: -10px;
    left: 70px;
}
#km-topbar .box-topbar:after{
    content: "";
    position: absolute;
    background-image: url(/mana/layout/img/flower.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 149px;
    top: -10px;
    right: 70px;
}
#km-topbar .box-topbar .text-1{
    position: relative;
    z-index: 1;
}
#km-topbar .box-topbar .text-1 span {
    color: yellow;
    font-weight: bold;
}
#km-topbar .box-topbar .btn {
    color: white;
    position: relative;
    z-index: 1;
    background: rgb(31, 208, 252);
    background: -moz-linear-gradient(top, #1fd0fc, #1695e2);
    background: -webkit-linear-gradient(top, #1fd0fc, #1695e2);
    background: -o-linear-gradient(top, #1fd0fc, #1695e2);
    background: -ms-linear-gradient(top, #1fd0fc, #1695e2);
    background: linear-gradient(to bottom, #1fd0fc, #1695e2);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 30px 3px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px #094b75;
}
#km-topbar .box-topbar .btn:after {
    content: "";
    position: absolute;
    background-image: url(/mana/layout/img/money.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 58px;
    height: 46px;
    top: -5px;
    right: -25px;
}
#km-topbar .box-topbar .btn:focus, #km-topbar .box-topbar .btn:focus:active, #km-topbar .box-topbar .btn:active {
    outline: none;
}
#km-topbar .box-topbar .btn:hover {
    background: rgb(31, 208, 252);
    background: -moz-linear-gradient(top, #1fd0fc, #0f7cbf);
    background: -webkit-linear-gradient(top, #1fd0fc, #0f7cbf);
    background: -o-linear-gradient(top, #1fd0fc, #0f7cbf);
    background: -ms-linear-gradient(top, #1fd0fc, #0f7cbf);
    background: linear-gradient(to bottom, #1fd0fc, #0f7cbf);
}
#km-topbar #close-topbar {
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    float: right;
    cursor: pointer;
    font-size: 12px;
    z-index: 1;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    color: rgba(255, 69, 66, 1);
}
@media (max-width: 1199px){
    
    #km-topbar .box-topbar:before{
        left: 0;
    }
    #km-topbar .box-topbar:after{
        right: 0;
    }
}
@media (max-width: 991px){
    #km-topbar {
        font-size: 18px;
    }
    #km-topbar .box-topbar{
        padding-top: 15px;
        max-width: 100%;
    }
    #km-topbar .box-topbar .btn{
        font-size: 16px;
    }
}
@media (max-width: 767px){
    html{
        margin-top: 70px;
    }
    #menu, #wrap-header{
        top: 70px;
    }
    line{
        display: none;
    }
    #km-topbar{
        text-align: left;
    }
    #km-topbar .box-topbar{
        height: 70px;
        padding-top: 5px;
        padding-left: calc(100% - 500px);
    }
    #km-topbar .box-topbar .btn{
        position: absolute;
        right: 10%;
        font-size: 20px;
        top: calc(50% - 15px);
    }
    #km-topbar .break-line{
        display: block;
    }
    #km-topbar .box-topbar:before{
        height: 90px;
    }
    #km-topbar .box-topbar:after{
        height: 200px;
    }
}
@media (max-width: 575px){
    html{
        margin-top: 100px;
    }
    #menu, #wrap-header{
        top: 100px;
    }
    #km-topbar {
        font-size: 16px;
    }
    #km-topbar .box-topbar:before{
        height: 72px;
        top: 20px;
        left: -40px;
    }
    #km-topbar .box-topbar:after{
        height: 149px;
        top: -20px;
        right: -70px;
    }
    #km-topbar .box-topbar{
        height: 100px;
        padding-left: 50px;
        padding-top: 15px;
    }
    #km-topbar .box-topbar .btn{
        right: 25px;
        font-size: 16px;
        top: 68px;
    }
    #km-topbar .box-topbar .btn:after{
        height: 34px;
        top: -5px;
        right: -25px;
    }
    
}