@charset "utf-8";
/* CSS Document */

/*Default-CSS*/
*{margin:0; padding:0}
body {font-family:Arial !important;margin:0; font-size:15px !important; color:#545454 !important}
/*End*/
.row-m{max-width:1170px; margin:0px auto}
.logo{margin:0px auto}
.title{color:#4ea64c; font-weight:bold; text-align:center; font-size:30px}
section.text-ct{text-align:center; vertical-align:middle}
.green-color{color:#54ae52}
.mg{margin:50px 0px}