@font-face {
  font-family: "SVN";
  font-weight: 700;
  src: url("../fonts/SVN-Gotham_Bold.ttf"); }

@font-face {
  font-family: "SVN";
  font-weight: 300;
  src: url("../fonts/SVN-Gotham_Light.ttf"); }

@font-face {
  font-family: "VNF";
  src: url("../fonts/VNF-Gotham Book.ttf"); }

ol,
ul {
  list-style: none; }

a,
a:hover {
  text-decoration: none !important; }

a:focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none; }

body {
  font-family: 'VNF', 'SVN', sans-serif !important;
  text-align: center;
  /* position: relative; */ }
  /* @media (min-width: 768px) {
    body {
      padding-top: 70px;
      margin-top: -70px; } }
  @media (min-width: 1200px) {
    body {
      margin-top: -90px;
      padding-top: 90px; } } */

body p {
  font-size: 16px; }

.cursor-inherit:hover {
  cursor: inherit; }

* {
  transition: all 0.3s ease-in-out; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 0;
  border-radius: 10px; }
  .video-wrapper iframe {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#wrap-header.scrolled {
  background: #3e70b2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

section h2 {
  font-family: 'SVN';
  text-transform: uppercase; }

.navbar.scrolled {
  height: 60px; }

.img-logo.scrolled {
  margin-top: -7px !important;
  height: 40px !important; }

.navbar-nav.scrolled {
  margin-top: 5px !important; }

.navbar {
  height: 50px;
  background-image: none;
  background: #3e70b2;
  border-radius: 0; }
  .navbar .container .navbar-header .kyna-logo {
    float: left; }
    .navbar .container .navbar-header .kyna-logo img {
      margin-top: -7px;
      height: 35px; }
  .navbar .container .navbar-collapse {
    padding: 0;
    border-top: none;
    background: #3e70b2;
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
    top: -1px; }
    .navbar .container .navbar-collapse .navbar-nav {
      margin: 10px auto; }
      .navbar .container .navbar-collapse .navbar-nav li a {
        color: #fff;
        font-weight: 300; }
      .navbar .container .navbar-collapse .navbar-nav li a:hover,
      .navbar .container .navbar-collapse .navbar-nav li a:focus {
        font-weight: bold;
        background: #3e70b2; }
      .navbar .container .navbar-collapse .navbar-nav .active a,
      .navbar .container .navbar-collapse .navbar-nav .active a:hover,
      .navbar .container .navbar-collapse .navbar-nav .active a:focus {
        background-image: none;
        box-shadow: none;
        font-weight: bold;
        background: #3e70b2; }
  .navbar .container .navbar-toggle {
    border: none; }
    .navbar .container .navbar-toggle .icon-bar {
      background-color: #fff;
      width: 20px;
      height: 1px; }
      .navbar .container .navbar-toggle .icon-bar:last-child {
        margin-top: 7px; }
  .navbar .container .navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg); }
  .navbar .container .navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    margin-top: -1px;
    transform: rotate(-45deg); }
  @media (min-width: 768px) {
    .navbar .container .navbar-collapse {
      padding: 0;
      background: transparent; }
      .navbar .container .navbar-collapse .navbar-nav {
        margin-top: 10px;
        margin-left: 30px; }
        .navbar .container .navbar-collapse .navbar-nav li a {
          font-size: 14px;
          padding: 5px;
          letter-spacing: 0; } }
  @media (min-width: 992px) {
    .navbar {
      background: transparent;
      height: 70px; }
      .navbar .container .navbar-header .kyna-logo img {
        margin-top: -5px;
        height: 45px; }
      .navbar .container .navbar-collapse {
        float: right;
        margin-top: 5px; }
        .navbar .container .navbar-collapse .navbar-nav li a {
          padding: 10px;
          font-size: 16px; }
          .navbar .container .navbar-collapse .navbar-nav li a:hover, .navbar .container .navbar-collapse .navbar-nav li a:focus {
            font-weight: bold;
            background: transparent; } }
  @media (min-width: 1200px) {
    .navbar {
      height: 100px; }
      .navbar .container .navbar-header .kyna-logo img {
        margin-top: 5px;
        height: 57px; }
      .navbar .container .navbar-collapse {
        padding: 0; }
        .navbar .container .navbar-collapse .navbar-nav {
          margin-top: 25px;
          margin-left: 60px; } }

#header {
  background-size: cover;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff; }
  #header h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 20px auto;
    font-family: "SVN";
    font-weight: bold;
    line-height: 1.3; }
    #header h1 br {
      display: none; }
  #header p {
    font-family: "SVN";
    font-size: 14px; }
  #header .explanation {
    font-family: 'VNF'; }
  #header a {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 15px auto; }
    #header a:hover, #header a:focus {
      background: #fff;
      color: #3e70b2; }
  @media (min-width: 768px) {
    #header {
      padding-top: 80px;
      padding-bottom: 40px;
      text-align: left; }
      #header h1 {
        font-size: 28px; }
        #header h1 br {
          display: block; }
      #header p {
        font-size: 16px; }
      #header a {
        margin: 30px 0;
        text-align: center; } }
  @media (min-width: 1200px) {
    #header {
      padding-top: 200px;
      padding-bottom: 70px; }
      #header h1 {
        font-size: 55px;
        line-height: 1.2; }
      #header p {
        font-size: 20px; }
      #header .explanation {
        font-size: 16px;
        line-height: 1.8; }
      #header a {
        font-size: 20px;
        width: 400px;
        height: 60px;
        line-height: 55px;
        margin-bottom: 70px; } }

#intro {
  background-image: url("../img/sec1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #4b4f56;
  padding-top: 20px;
  padding-bottom: 20px; }
  #intro h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    text-transform: uppercase;
    margin: 5px 15px 5px -5px; }
  #intro .list-item {
    margin-top: 20px; }
    #intro .list-item .item {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin-bottom: 10px; }
      #intro .list-item .item span {
        font-family: 'SVN';
        color: #003792;
        font-weight: bold;
        font-size: 22px;
        margin-right: 10px; }
      #intro .list-item .item p {
        text-align: justify;
        font-size: 15px; }
    #intro .list-item .conclusion {
      font-size: 15px;
      text-align: justify; }
  @media (min-width: 768px) {
    #intro {
      padding-top: 30px;
      padding-bottom: 30px; }
      #intro h2 {
        font-size: 25px; } }
  @media (min-width: 1200px) {
    #intro {
      background-position: left bottom;
      padding-top: 80px;
      padding-bottom: 80px; }
      #intro h2 {
        font-size: 36px; }
      #intro .list-item {
        margin-top: 50px; }
        #intro .list-item .item span {
          font-size: 36px;
          margin-right: 15px;
          margin-top: -5px; }
       #intro .list-item .conclusion {
           line-height: 1.7;
           font-size: 16px;}
        #intro .list-item .item p {
          font-size: 16px;
          line-height: 1.7; } }

#intro-more {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/sec2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #4b4f56; }
  #intro-more h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px auto;
    line-height: 1.3; }
    #intro-more h2 span {
      text-transform: none; }
  #intro-more .item-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
  #intro-more .item {
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto; }
    #intro-more .item img {
      width: 40px;
      margin: 5px auto; }
    #intro-more .item p {
      font-size: 15px; }
  @media (min-width: 768px) {
    #intro-more {
      padding-top: 30px;
      padding-bottom: 30px; }
      #intro-more h2 {
        font-size: 25px; }
      #intro-more .item-container {
        margin-top: 30px; }
      #intro-more .item img {
        width: auto;
        height: 50px; } }
  @media (min-width: 992px) {
    #intro-more {
      padding-top: 50px;
      padding-bottom: 50px;
      background-size: cover; }
      #intro-more h2 {
        font-size: 30px; }
      #intro-more .item p {
        font-size: 16px; } }
  @media (min-width: 1200px) {
    #intro-more {
      padding-top: 70px;
      padding-bottom: 250px; }
      #intro-more h2 {
        font-size: 36px; }
      #intro-more .item-container {
        margin-top: 50px; }
      #intro-more .item img {
        margin-bottom: 20px; }
      #intro-more .item p {
        line-height: 1.8; } }

#course {
  padding-top: 20px;
  padding-bottom: 20px; }
  #course h2 {
    font-size: 18px;
    margin: 5px auto;
    line-height: 1.3; }
  #course .item {
    margin-top: 10px;
    margin-bottom: 10px; }
    #course .item .item-header {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px; }
      #course .item .item-header .circle-number {
        width: 40px;
        border: 1px solid #000379;
        border-radius: 50%;
        color: #003792;
        font-weight: bold;
        font-size: 24px;
        margin-right: 10px; }
      #course .item .item-header .dotted-line {
        height: 2px;
        width: calc(100% - 15px);
        border-bottom: 1px dashed #003792; }
    #course .item .lesson-name {
      text-transform: uppercase;
      font-size: 14px;
      color: #003792;
      text-align: left;
      font-weight: bold; }
    #course .item ul {
      text-align: left;
      margin-left: -40px; }
    #course .item li {
      margin-bottom: 10px;
      font-size: 14px; }
  #course .regist-now {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    float: left; }
    #course .regist-now a {
      background: #d21c00;
      color: #fff;
      text-align: center;
      height: auto;
      width: 100%;
      line-height: 1.2;
      display: inline-block;
      margin: 10px auto;
      padding-top: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold; }
      #course .regist-now a:hover, #course .regist-now a:focus {
        background: #b12f1c;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    #course {
      padding-top: 30px;
      padding-bottom: 30px; }
      #course h2 {
        font-size: 25px; }
      #course .item {
        height: 180px; }
      #course .regist-now {
        margin-top: 20px; }
        #course .regist-now a {
          width: 400px;
          height: 40px;
          line-height: 40px;
          padding-top: 0;
          padding-bottom: 0; }
          #course .regist-now a br {
            display: none; } }
  @media (min-width: 992px) {
    #course {
      padding-top: 50px;
      padding-bottom: 50px; }
      #course h2 {
        font-size: 30px; }
      #course .item {
        height: auto; }
        #course .item .item-header {
          padding-right: 5px;
          margin-bottom: 15px; }
          #course .item .item-header .circle-number {
            width: 60px;
            font-size: 30px;
            line-height: 47.5px;
            margin-right: 15px; } }
  @media (min-width: 1200px) {
    #course {
      padding-top: 70px;
      padding-bottom: 70px; }
      #course h2 {
        font-size: 36px;
        margin-bottom: 50px; }
      #course .item .lesson-name,
      #course .item li {
        font-size: 16px; }
      #course .regist-now {
        margin-top: 40px; }
        #course .regist-now a {
          width: 600px;
          height: 60px;
          line-height: 60px;
          font-size: 20px; } }

#organization {
  padding-top: 20px;
  padding-bottom: 90px;
  background-image: url("../img/ibta-bg.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  color: #fff; }
  #organization h2 {
    font-size: 18px;
    margin: 5px auto 25px;
    line-height: 1.2; }
    #organization h2 br {
      display: none; }
  #organization .right img {
    display: none; }
  #organization .left img {
    width: 280px;
    margin: 15px auto; }
  #organization p {
    font-size: 14px;
    line-height: 1.7; }
  @media (min-width: 768px) {
    #organization {
      padding-top: 50px;
      padding-bottom: 170px; }
      #organization h2 {
        font-size: 25px;
        text-align: left;
        margin-left: 15px; }
        #organization h2 br {
          display: block; }
      #organization .left img {
        display: none; }
      #organization .right img {
        display: block; }
      #organization p {
        text-align: left; } }
  @media (min-width: 1200px) {
    #organization {
      padding-top: 70px;
      padding-bottom: 240px; }
      #organization h2 {
        font-size: 36px;
        margin-bottom: 50px; }
      #organization p {
        font-size: 16px; } }
#lecture{padding-bottom: 30px;}
#lecture .mg-image {
  width: 150px;
  margin: -75px auto 20px;
  border-radius: 50%;
  overflow: auto;
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  #lecture .mg-image img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%; }

#lecture h2 {
  font-size: 18px;
  margin: 5px auto 20px; }
  #lecture h2 b {
    text-transform: none; }

#lecture p {
  font-size: 14px;
  text-align: left; }

#lecture .brief-info {
  font-weight: bold;
  line-height: 1.5;
  text-align: center; }

#lecture .exp {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px; }

#lecture .achievements {
  margin-top: 30px;
  padding-left: 15px; }

#lecture ul {
  text-align: left;
  list-style-type: disc;
  margin-left: -20px; }

#lecture li {
  color: #003792;
  font-size: 20px; }
  #lecture li p {
    color: #000;
    margin-left: 10px; }

@media (min-width: 768px) {
    #lecture{padding-bottom: 50px;}
  #lecture .mg-image {
    width: 240px;
    margin: -120px auto 40px; }
  #lecture h2 {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 40px; } }

@media (min-width: 992px) {
  #lecture .mg-image:hover img, #lecture .mg-image:focus img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25); }
  #lecture .brief-info {
    font-size: 16px;
    text-align: left;
    margin-left: 15px; }
  #lecture p {
    font-size: 16px; }
  #lecture .exp,
  #lecture .achievements {
    margin-top: 40px;
    margin-bottom: 20px; }
  #lecture li {
    font-size: 22px; } }

@media (min-width: 1200px) {
  #lecture {
    padding-bottom: 70px; }
    #lecture .mg-image {
      width: 300px;
      height: 300px;
      margin: -150px auto 50px; }
    #lecture .video-wrapper{
        margin-top: 50px;}
    #lecture h2 {
      font-size: 36px; } }

#advantage-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f4f5f6; }
  #advantage-top .item {
    margin-bottom: 15px; }
  #advantage-top i {
    color: #003792;
    font-size: 25px;
    margin: 5px auto; }
  #advantage-top p {
    font-size: 14px; }
  #advantage-top .top {
    font-weight: bold;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    #advantage-top i {
      font-size: 30px; }
    #advantage-top .item {
      width: 48%;
      float: left;
      margin: 20px 1%;
      padding: 5px 15px; } }
  @media (min-width: 1200px) {
    #advantage-top i {
      font-size: 40px;
      margin-bottom: 30px; }
    #advantage-top .item {
      width: 23%;
      margin: 40px 1%;
      padding: 5px; }
    #advantage-top p {
      line-height: 1.7;
      font-size: 16px; } }

#advantage {
  padding-top: 30px;
  padding-bottom: 60px;
  background: #eaf9fe; }
  #advantage h2 {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    margin: 5px auto 30px;
    margin-left: 15px; }
  #advantage ul {
    text-align: left;
    margin-left: -30px; }
  #advantage li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  #advantage i {
    color: #003792;
    font-size: 20px;
    margin-right: 10px; }
  #advantage p {
    font-size: 14px; }
  @media (min-width: 768px) {
    #advantage {
      background-image: url("../img/sec4.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      #advantage h2 {
        font-size: 25px; }
        #advantage h2 br {
          display: none; }
      #advantage i {
        margin-top: 2px; }
      #advantage li {
        margin-bottom: 10px; } }
  @media (min-width: 1200px) {
    #advantage {
      background-size: 100%;
      padding-top: 70px;
      padding-bottom: 70px; }
      #advantage h2 {
        font-size: 35px;
        margin-bottom: 50px; }
        #advantage h2 br {
          display: block; }
      #advantage li {
        margin-bottom: 20px; }
      #advantage p {
        font-size: 16px; } }

#review {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #003792;
  background: -webkit-linear-gradient(90deg, #003792, #7d8b8d);
  background: -moz-linear-gradient(90deg, #003792, #7d8b8d);
  background: linear-gradient(90deg, #003792, #7d8b8d); }
  #review h2 {
    color: #fff;
    font-size: 18px;
    margin: 5px auto 20px; }
  #review #review-carousel {
    margin-left: -15px;
    margin-right: -15px; }
    #review #review-carousel .carousel-indicators {
      bottom: -40px; }
    #review #review-carousel .carousel-inner {
      margin: 0 auto;
      background: #fff;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
      #review #review-carousel .carousel-inner .item {
        padding: 10px;
        width: 100%;
        height: 520px;
        background-image: url("../img/quote.png");
        background-repeat: no-repeat;
        background-position: center; }
      #review #review-carousel .carousel-inner img {
        width: 100px;
        border-radius: 50%;
        margin: 5px auto; }
      #review #review-carousel .carousel-inner p {
        font-size: 14px;
        line-height: 1.6; }
  @media (min-width: 768px) {
    #review {
      padding-top: 30px;
      padding-bottom: 60px; }
      #review h2 {
        font-size: 25px;
        margin-bottom: 30px; }
      #review #review-carousel .carousel-indicators {
        bottom: -50px; }
      #review #review-carousel .carousel-inner .item {
        padding: 20px;
        width: 100%;
        height: 420px;
        background-position: center 60%; }
      #review #review-carousel .carousel-inner img {
        width: 120px;
        margin: 5px auto 20px; }
      #review #review-carousel .carousel-inner p {
        line-height: 1.8; } }
  @media (min-width: 1200px) {
    #review {
      padding-top: 70px;
      padding-bottom: 100px; }
      #review h2 {
        font-size: 36px;
        margin-bottom: 60px; }
      #review #review-carousel .carousel-inner .item {
        padding: 30px;
        width: 100%;
        height: 470px;
        background-position: center 60%; }
      #review #review-carousel .carousel-inner img {
        width: 140px; }
      #review #review-carousel .carousel-inner p {
        font-size: 16px; } }

#register {
  padding-top: 30px;
  padding-bottom: 30px; }
  #register h2 {
    font-size: 18px;
    color: #003792;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 auto 20px; }
  #register .form-container {
    border: 2px solid  #003792;
    padding: 15px; }
  #register form {
    padding: 0; }
    #register form div {
      padding-left: 0;
      padding-right: 0; }
    #register form .form-control {
      margin-bottom: 10px; }
    #register form button {
      background: #d21c00;
      color: #fff;
      text-align: center;
      height: auto;
      width: 100%;
      line-height: 1.2;
      display: inline-block;
      margin: 0 auto 20px;
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      border: none; }
      #register form button:hover, #register form button:focus {
        background: #b12f1c;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    #register form p {
      font-size: 12px;
      margin-bottom: 5px;
      line-height: 1.3; }
  @media (min-width: 768px) {
    #register h2 {
      font-size: 25px;
      margin: 10px auto 30px; }
    #register .form-container {
      padding-bottom: 30px; }
    #register form div {
      padding-left: 15px;
      padding-right: 15px; }
    #register form .form-control {
      width: 100%;
      height: 45px;
      margin-bottom: 25px; }
    #register form button {
      width: calc(33% - 30px);
      height: 45px;
      line-height: 45px;
      margin-bottom: 30px; }
    #register form p {
      font-size: 14px;
      line-height: 1.4; } }
  @media (min-width: 1200px) {
    #register {
      padding-top: 80px;
      padding-bottom: 70px; }
      #register h2 {
        font-size: 36px;
        margin: 20px auto 50px; }
      #register .form-container {
        padding-bottom: 50px; }
      #register form .form-control {
        height: 50px;
        margin-bottom: 30px; }
      #register form button {
        height: 50px;
        line-height: 50px;
        margin-bottom: 40px;
        font-size: 20px; }
      #register form p {
        font-size: 16px;
        line-height: 1.8; } }

#about-mana {
  padding-top: 0;
  padding-bottom: 20px;
  background: #f4f5f6; }
  #about-mana h3 {
    color: #003792;
    font-size: 17px;
    margin: 20px auto;
    line-height: 1.3;
    font-weight: bold; }
  #about-mana p {
    font-size: 14px;
    line-height: 1.5; }
  #about-mana .bottom h3 {
    margin-bottom: 5px; }
  #about-mana .item {
    width: 100%; }
    #about-mana .item img {
      height: 30px; }
  @media (min-width: 768px) {
    #about-mana h3 {
      font-size: 25px;
      margin: 30px auto; }
    #about-mana p {
      text-align: left; }
    #about-mana .item-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    #about-mana .item {
      width: 200px;
      margin: 10px; }
      #about-mana .item img {
        height: 50px;
        float: left; } }
  @media (min-width: 1200px) {
    #about-mana {
      padding-bottom: 50px; }
      #about-mana h3 {
        font-size: 36px;
        margin: 70px auto 50px; }
      #about-mana p {
        font-size: 16px;
        line-height: 2; }
      #about-mana .item-container {
        margin-top: 40px;
        margin-bottom: 40px; }
      #about-mana .item {
        margin: 20px 30px; }
        #about-mana .item img:hover, #about-mana .item img:focus {
          -webkit-box-shadow: 0px 2px 0px #555;
          -moz-box-shadow: 0px 2px 0px #555;
          box-shadow: 0px 2px 0px #555; } }

footer {
  width: 100%;
  background: #003792;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block; }
  footer p {
    font-size: 13px;
    display: none; }
  footer .comp-name, footer .hotline, footer .email {
    display: block; }
  footer .left {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center; }
    footer .left img {
      height: 35px;
      margin: 10px;
      float: left; }
  @media (min-width: 768px) {
    footer p {
      display: block;
      text-align: left;
      line-height: 1.3; }
    footer .left {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    footer {
      padding-top: 50px;
      padding-bottom: 50px; }
      footer .left {
        padding-top: 20px; }
        footer .left img {
          width: 166px;
          height: auto; }
      footer p {
        font-size: 15px;
        line-height: 1.7; } }
        
  #noel-topbar {
    background: #222;
    background-image: url("../img/bg-noelMana.png");
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1040;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff; }
    #noel-topbar .left {
      width: 60%;
      float: left;
      padding-left: 9%;
      padding-top: 5px; }
      #noel-topbar .left .gift-DecJan {
        width: 100%;
        font-size: 11px;
        text-align: center; }
        #noel-topbar .left .gift-DecJan img {
          position: absolute;
          left: -28px;
          top: 8px;
          height: 35px; }
      #noel-topbar .left .scholarship {
        width: 100%;
        font-size: 11px;
        text-align: center; }
    #noel-topbar .right {
      width: 40%;
      float: left; }
    #noel-topbar #scroll-regis {
      display: none; }
    #noel-topbar #mb-scroll-regis {
      display: inline;
      background: #fcff00;
      padding: 3px 7px;
      color: #000;
      font-weight: bold;
      border-radius: 35px;
      font-size: 10px;
      position: relative;
      top: 8px; }
    #noel-topbar #close-topbar {
      margin-right: 5px;
      margin-top: 10px;
      font-weight: bold;
      position: absolute;
      right: 0;
      float: right;
      cursor: pointer;
      font-size: 12px;
      color: #f6f6f6; }
    @media (min-width: 768px) {
      #noel-topbar {
        background-position: center;
        position: relative;
        top: 0;
        height: 40px; }
        #noel-topbar .left {
          padding: 0;
          width: 100%;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center; }
          #noel-topbar .left .gift-DecJan {
            width: 300px;
            float: left;
            font-size: 13px;
            text-align: right;
            margin-top: 5px; }
            #noel-topbar .left .gift-DecJan img {
              position: relative;
              height: 30px;
              left: 15px;
              top: -2px; }
          #noel-topbar .left .scholarship {
            width: 200px;
            height: 40px;
            background-image: url("../img/bg-hocBong.png");
            background-size: 200px 100%;
            background-repeat: no-repeat;
            background-position: 0 -5px;
            padding-top: 10px;
            padding-left: 25px;
            float: left;
            font-size: 13px;
            text-align: left;
            margin-left: 10px;
            margin-right: 10px; }
        #noel-topbar #scroll-regis {
          display: inline;
          height: 25px;
          width: 120px;
          background: #fcff00;
          float: left;
          text-align: center;
          padding: 3px 7px;
          color: #000;
          font-weight: bold;
          border-radius: 35px;
          margin-top: 5px;
          font-size: 13px;
          text-transform: uppercase;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
        #noel-topbar .right #mb-scroll-regis {
          display: none; }
        #noel-topbar .right #close-topbar {
          position: absolute;
          background: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          padding-top: 2px;
          color: #004fad;
          margin-top: -30px; } }
    @media (min-width: 1200px) {
      #noel-topbar {
        background-color: transparent;
        height: 50px;
        padding-top: 5px;
        background-repeat: repeat-x;
        background-size: contain;
        background-position: center; }
        #noel-topbar .left .gift-DecJan {
          width: 350px;
          float: left;
          font-size: 16px;
          margin-top: 0px; }
          #noel-topbar .left .gift-DecJan img {
            position: relative;
            height: 43px;
            left: 15px;
            top: -6px; }
        #noel-topbar .left .scholarship {
          width: 240px;
          height: 50px;
          background-size: 240px 100%;
          background-repeat: no-repeat;
          background-position: 0 -15px;
          padding-left: 30px;
          font-size: 16px; }
        #noel-topbar #scroll-regis {
          height: 30px;
          width: 130px;
          padding-top: 6px;
          margin-top: 3px;
          font-size: 14px; }
        #noel-topbar .right #close-topbar {
          margin-top: -43px; } }

  @media (min-width: 768px) {
    #wrap-header.scrolled.has-topbar {
      top: 0px !important; }
    #wrap-header.has-topbar {
      top: 40px !important; } }

  @media (min-width: 1200px) {
    /* article{margin-top: -10px;} */
    #wrap-header.scrolled.has-topbar {
      top: 0px !important; }
    #wrap-header.has-topbar {
      top: 53px !important; } }
#hoi-dap {
  background: #f7f7f7; }
  #hoi-dap .container .fb-comments {
    padding: 40px 15px;
    background: white;
    margin: 40px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%; }