/*********** HEADER **********/
.page-lesson .wrap-header {
    position: relative;
}
.page-lesson .wrap-header.menu-nav-up {
    top: 0px;
}
.page-lesson .null-height {
    height: 14px;
}
.page-lesson .click-button-menu .null-height {
    height: 60px;
}

/********* HEADER NAV *********/
#lesson .wrap,
#lesson .wrap li.feature ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#lesson .wrap li.title {
    float: left;
    font-weight: bold;
}
#lesson .wrap li h4 {
    font-size: 14px;
    line-height: 40px;
}
#lesson .wrap li.feature {
    float: right;
    height: 60px;
}
#lesson .wrap li.feature ul li {
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    position: relative;
}
#lesson .wrap li.feature div.sub {
    display: inline-block;
    margin: 14px 0px;
}
#lesson .wrap li.feature div.sub > div {
    line-height: 0px;
    float: left;
    margin-right: 15px;
}
#lesson .wrap li.feature div.sub div.active:after {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #fff;
    box-shadow: -2px -2px 2px rgb(241, 241, 241);
    z-index: 100;
    bottom: -10px;
    right: 30px;
}
#lesson .wrap li.feature div.sub > div > span {
    position: relative;
    top: -10px;
    right: 5px;
}
#lesson .wrap li.feature div.sub div a.first,
#lesson .wrap li.feature div.sub div a.last {
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    position: relative;
    margin: 0px 2px;
    border: 1px solid #a9b2bd;
}
#lesson .wrap li.feature div.sub div a.first {
    background: #464646;
}
#lesson .wrap li.feature div.sub div a.last {
    background: #f5f5f5;
}
#lesson .wrap li.feature div.sub div a.first span:first-child {
    background: #f5f5f5;
    padding: 10px;
    display: block;
}
#lesson .wrap li.feature div.sub div a.last span {
    background: #464646;
    padding: 10px;
    display: block;
}


#lesson .wrap li.feature div.sub div a {
    color: #404040;
    text-decoration: underline;
    display: block;
    padding: 7px 0px;
}
#lesson .wrap li.feature div.sub div a i {
    color: #53ad51;
    font-size: 18px;
    margin-right: 5px;
}
/***** FEATURE NOTE + QUESTION ********/
#lesson .wrap li.feature div.sub .note .dropdown-menu,
#lesson .wrap li.feature div.sub .question .dropdown-menu {
    padding: 0px;
    border: none;
    right: 15px;
    left: initial;
}
#lesson .wrap li.feature div.sub .note .dropdown-menu .wrap-input span,
#lesson .wrap li.feature div.sub .question .dropdown-menu .wrap-input span {
    display: inline-block;
    padding: 10px 5px 20px 0px;
}

#lesson .wrap li.feature div.sub .dropdown-menu .wrap-input:after {
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #fff;
    box-shadow: -2px -2px 2px rgb(241, 241, 241);
    z-index: 100;
    top: -6px;
}
#lesson .wrap li.feature div.sub .note .dropdown-menu .wrap-input:after {
    right: 140px;
}
#lesson .wrap li.feature div.sub .question .dropdown-menu .wrap-input:after {
    right: 40px;
}
/********* WRAP VIDEO *********/
#lesson .wrap-video {
    background: #2d2d2d
}
#lesson .lesson-list-sub {
    padding: 0px;
    margin: 0px;
}

#lesson .wrap-video .lesson-list-sub {
    margin: 15px 0px 5px 0px !important;
    display: inline-block;
}
#lesson .wrap-video .lesson-list-sub li {
    float: left;
}
#lesson .wrap-video .lesson-list-sub li.active a {
    background: #50ad4e;
    color: white;
}
#lesson .wrap-video .lesson-list-sub li .check {
    padding: 0px 20px 0px 10px !important
}
#lesson .wrap-video .lesson-list-sub li .check i {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 16px;
    color: #50ad4e;
}
#lesson .wrap-video .lesson-list-sub li .file i {
    color: #D9732B;
    font-size: 16px
}
#lesson .wrap-video .lesson-list-sub li a {
    background: #dddddd;
    margin: 0px 7px 0px 0px;
    color: #272727;
    padding: 0px 15px;
}
#lesson .wrap-content {
    padding: 0px 0px 30px 0px;
    background: white;
}
#lesson .wrap-video .left,
#lesson .wrap-content .left {
    padding-left: 0px;
}
#lesson .wrap-video .left ul {
    padding-top: 15px;
    border: none;
}
#lesson .wrap-video .left ul.nav li {
    border-top: 2px solid #2d2d2d;
    margin-bottom: 0px;
}
#lesson .wrap-video .left ul.nav li:hover {
    border-top: 2px solid #50ad4e
}
#lesson .wrap-video .left ul.nav li a {
    border-radius: 0px !important;
    margin: 0px;
    color: white;
    line-height: normal;
    border: none !important;
}
#lesson .wrap-video .left ul.nav li a:focus {
    background: white;
}
#lesson .wrap-video .left ul.nav li a:hover {
    background: white !important;
    border: none;
    color: #0d0d0d
}
#lesson .wrap-video .left ul.nav li.active {
    border-top: 2px solid #50ad4e
}
#lesson .wrap-video .left ul.nav li.active a {
    color: #0d0d0d
}

#lesson .lesson-list-sub li span.icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#lesson .lesson-list-sub li span.icon i{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  color: #50ac4e;
}
#lesson .lesson-list-sub li.active span.icon i {
  color: white !important
}
#lesson .lesson-list-sub li a.complete span.icon .fa-check {
  display: block;
}
#lesson .lesson-list-sub li a.question {
  text-indent: -9999px;
}
#lesson .lesson-list-sub li a.question span.icon {
  text-indent: initial;
}
#lesson .lesson-list-sub li a.question span.icon .fa-question {
  display: block;
  color: #fa6a01;
}
#lesson .videolessonWrapper {
    background: #333333;
	position: relative;
	height: 100%;
}
#lesson .videolessonWrapper iframe {
    position: absolute;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;

}
/********** WRAP CONTENT *********/
.wrap-content .left h3 {
    display: inline-block;
    border-top: 3px solid #50ad4e;
    font-size: 14px;
    padding: 10px 25px 0px 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
#lesson .tab-menu-content ul {
    padding: 0px;
    margin: 0px;
}
#lesson .tab-menu-content ul li {
    position: relative;
    width: 100%
}
#lesson .tab-menu-content ul li a.link-video {
    color: #272727;
    display: block
}
#lesson .tab-menu-content ul li a:hover.link-video,
#lesson .tab-menu-content ul li a:hover i{
    color: #389a36;
}
#lesson .tab-menu-content ul li.active a.link-video,
#lesson .tab-menu-content ul li.active i {
    color: #389a36;
}
#lesson .tab-menu-content ul li.title {
    color: #50ad4e;
    text-transform: uppercase;
    padding: 25px 0px 15px 0px;
    margin-top: 15px;
    border-top: 1px solid #dddddd;
}
#lesson .tab-menu-content ul li.title:first-child {
    border-top: none;
    margin-top: 0px;
}
#lesson .tab-menu-content ul li.title h4 {
    margin: 0px;
    line-height: 30px;
}
#lesson .tab-menu-content ul li.title i {
    color: black;
}
#lesson .tab-menu-content ul li span i {
    margin-right: 10px;
    color: #a9b1bc;
    font-size: 22px;
}
#lesson .wrap-content .right {
    background: #f5f5f5;
    padding: 0px;
}
#lesson .wrap-content .right .tab-content {
    padding: 25px;
}
#lesson .wrap-content .right ul.menu-main li {
    float: left;
    border-bottom: 2px solid #dddddd
}
#lesson .wrap-content .right ul.menu-main li.active {
    border-bottom: 2px solid #50ad4e;
}
#lesson .wrap-content .right ul.menu-main li.active a {
    background: none;
}
#lesson .wrap-content .right ul.menu-main li:last-child {
    float: right;
    border-bottom: none;
}
#lesson .wrap-content .right ul.menu-main li:last-child a {
    border: 1px solid #50ad4e;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 15px 25px 0px 0px;
}
#lesson .wrap-content .right ul.menu-main li:last-child a:hover,
#lesson .wrap-content .right ul.menu-main li#btn-transcript.active a {
    background: #50ad4e;
    color: white;
}
#lesson .wrap-content .right ul.menu-main li:last-child:hover {
    border-bottom: none;
}
#lesson .wrap-content .right ul.menu-main li:last-child i {
    font-size: 18px;
    margin-right: 5px;
}
#lesson .wrap-content .right ul.menu-main li a {
    border: none;
    padding: 25px 20px;
    color: #272727
}
#lesson .wrap-content .right ul.menu-main li a:hover {
    background: none;
}
#lesson .wrap-content .right ul.menu-main li:hover {
    border-bottom: 2px solid #50ad4e;
}

/************ WRAP CONTENT COL TWO ********/
#lesson .tab-menu-content,
#lesson-tab-notes .tab-menu-content {
    background: white;
    overflow: auto;
    border-radius: 0px 0px 5px 5px;
}
#lesson .tab-menu-content ul {
    padding-top: 0px !important;
    padding-bottom: 10px;
}
#lesson .tab-menu-content ul li {
    padding: 7px 25px;
}
#lesson .tab-menu-content ul li.title {
    padding: 20px 25px 10px 25px
}
#lesson .tab-menu-content ul li.title:hover {
    background: inherit;
    color: #50ad4e
}
#lesson .tab-menu-content ul li:hover a.link-video,
#lesson .tab-menu-content ul li:hover a i,
#lesson .tab-menu-content ul li:hover{
    color: white;
    background: #181818
}
#lesson .wrap-video .left .wrap-input {
    margin: 10px 0px
}
#lesson .wrap-video .left textarea {
    padding: 20px;
    height: 90px;
}
#lesson .header-nav .container {
    position: relative
}
#lesson .header-nav .wrap-input {
    background: white;
    padding: 15px;
    border: 1px solid #f0f0f0;
    position: relative;
    top: -2px;
}

/********** WRAP NOTES ********/
#lesson-tab-notes ul {
    margin: 0px;
    padding: 0px 0px 25px 0px !important;
    background: white;
}
#lesson-tab-notes ul li {
    border-bottom: 1px solid #dcdcdc;
    padding: 25px 25px 0px 25px;
}
#lesson-tab-notes ul li:last-child {
    border-bottom: none;
}
#lesson-tab-notes ul li h4.title {
    color: #55af4f;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
}
#lesson-tab-notes ul li h4.title i {
    color: #464646
}
#lesson-tab-notes ul li span.time {
    background: #B1B1B1;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
    color: white;
}
#lesson-tab-notes ul li p {
    line-height: 30px;
}
/******* WRAP SUPPORT **********/
#lesson .wrap-content .left .wrap-call ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
#lesson .wrap-content .left .wrap-call ul li i {
    font-size: 30px;
    margin-top: 5px;
}
#lesson .wrap-content .left .wrap-call ul li h4,
#lesson .wrap-content .left .wrap-call ul li p{
    margin: 0px;
}
#lesson .wrap-content .left .wrap-call ul li {
    float: left;
    margin-right: 15px;
    display: inline-block;
}
#lesson .wrap-content .left .wrap-support {
  margin-top: 25px;
}
#lesson .wrap-content .left .wrap-call {
    box-shadow: 0px 1px 6px 1px #ddd;
    padding: 15px 15px 5px 15px;
    border-top: 2px solid #50ad4e
}
#lesson .wrap-content .left .wrap-support .feedback {
    display: block;
    padding: 25px 15px;
}
#lesson .wrap-content .left .wrap-support .feedback a {
    color: #272727;
    text-decoration: underline;
}
#lesson .wrap-content .left .wrap-support .feedback i {
    font-size: 28px;
    color: #50ac43;
    margin-right: 10px;
}
#lesson .wrap-content .left .wrap-support .modal-header {
    background: #50ad4e;
    color: white;
}
#lesson .wrap-content .left .wrap-support .modal-header img {
    margin: -10px 15px 0px 0px;
    float: left;
}
#lesson .wrap-content .left .wrap-support .content {
    padding: 20px;
}
#lesson .wrap-content .left .wrap-support .content ul {
    padding: 0px;
    margin: 0px;
}
#lesson .wrap-content .left .wrap-support .content ul li {
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}
#lesson .wrap-content .left .wrap-support .content ul li textarea {
    padding: 15px 15px 0px 15px;
}
#lesson .wrap-content .left .wrap-support .content ul li h4 {
    font-size: 14px;
}
#lesson .wrap-content .left .wrap-support .content ul li span {
    margin: 0px 3px;
}
#lesson .wrap-content .left .wrap-support .content ul li span a{
    background: #dddddd;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    color: #3c3c3c
}
#lesson .wrap-content .left .wrap-support .content ul li span:first-child {
    margin-right: 15px;
}
#lesson .wrap-content .left .wrap-support .content ul li span:last-child {
    margin-left: 15px;
}
#lesson .wrap-content .left .wrap-support .content ul li span a:hover,
#lesson .wrap-content .left .wrap-support .content ul li span a.active {
    background: #50ae4e;
    color: white;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button {
    margin: 25px 0px 0px 0px;
    float: left;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button:focus {
    outline: none;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button.btn {
    background: #50ae4e;
    color: white;
    border: none;
    padding: 5px 25px;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button.btn:hover {
    background: #389a36;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button.btn-last {
    background: none;
    border: none;
}
#lesson .wrap-content .left .wrap-support .content ul li:last-child button.btn-last span {
    border-bottom: 1px solid #272727
}
/********* TAB DOCUMENT *********/
#lesson-document .wrap li.list {
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
    position: relative;
}
#lesson-document .wrap li.list p {
    float: left;
    font-size: 16px;
    line-height: 45px;
    margin-bottom: 0px;
}
#lesson-document .wrap li.list ul.sub {
    float: right;
    padding: 0px;
}
#lesson-document .wrap li.list ul.sub li a {
    background: white;
    border: 1px solid #afb7c1;
    padding: 10px 20px;
    border-radius: 5px;
    color: #272727;
    display: inline-block;
}
#lesson-document .wrap li.list ul.sub li a:hover,
#lesson-document .wrap li.list ul.sub li a:hover i {
    background: #389a36;
    color: white;
}
#lesson-document .wrap li.list ul.sub li a:hover {
    border: 1px solid #389a36
}
#lesson-document .wrap li.list ul.sub li.view {
    float: left;
    margin-right: 15px;
}
#lesson-document .wrap li.list ul.sub li.view img {
    margin-right: 8px;
}
#lesson-document .wrap li.list ul.sub li.download {
    float: right;
}
#lesson-document .wrap li.list ul.sub li i {
    font-size: 18px;
    color: #b3bac4;
    margin-right: 10px;
}
#lesson-document .wrap li.list p img.icon-text{
    margin: 0px 25px 0px 5px;
}

/********* TAB QUESTION ***********/
#lesson-question .left form {
    position: relative;
}
#lesson-question .left form input {
    padding-right: 45px;
    border-radius: 0px;
}
#lesson-question .left form button {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 0px;
    padding: 5px 12px;
    border: none;
}
#lesson-question .left form button:hover {
    color: #50ad4e;
    background: none;
}
#lesson-question .right ul.nav {
    float: right;
}
#lesson-question .right ul.nav li {
    display: inline-block;
}

#lesson-content-qa {
    display: inline-block;
    width: 100%;
}
#lesson-content-qa .tab-content {
    padding: 25px 0px !important;
}
#lesson-content-qa .tab-content-sub,
#lesson-content-qa .tab-content-sub ul {
    padding: 0px
}
#lesson-question .right ul.nav{
    padding: 0px 0px 0px 15px;
    border-bottom: none;
    display: inline-block;
    float: right;
    height: 35px;
    line-height: 35px;
}
#lesson-question .right ul.nav li{
    float: left;
    margin-right: 5px;
}
#lesson-question .right ul.nav li:last-child {
    margin-right: 0px;
}
#lesson-question .right ul.nav li.cat-title-first{
    margin-right: 10px;
    line-height: 35px;
    font-size: 16px;
}
#lesson-question .right ul.nav li a{
    border: none;
    padding: 5px 20px;
    color: #333333;
    font-weight: 500;
    background: #eee;
    display: inline-block;
    height: 30px;
}
#lesson-question .right ul.nav li.active a,
#lesson-question .right ul.nav li a:hover{
    background: #464646;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
}

/****** CSS LIST QA + COMMENT */
#lesson-content-qa .wrapper,
#lesson-comment .wrapper{
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
}
#lesson-content-qa .wrapper .left,
#lesson-comment .wrapper .left {
    width: 12%;
    float: left;
}
#lesson-content-qa .wrapper .right,
#lesson-comment .wrapper .right {
    width: 88%;
    float: right;
}
#lesson-content-qa .wrapper .left ul,
#lesson-comment .wrapper .left ul {
    padding: 0px;
    margin: 0px;
    width: 65px;
}
#lesson-content-qa .wrapper .left ul li,
#lesson-comment .wrapper .left ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
#lesson-content-qa .wrapper .left ul li.icon-question,
#lesson-comment .wrapper .left ul li.icon-question {
    text-align: center;
}
#lesson-content-qa .wrapper .left span.author,
#lesson-comment .wrapper .left span.author {
    display: inline-block;
}
#lesson-content-qa .wrapper .left .author img,
#lesson-comment .wrapper .left .author img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

#lesson-content-qa .wrapper .right ul.top,
#lesson-comment .wrapper .right ul.top {
    display: inline-block;
    padding: 0px;
    margin: -5px 0px 0px 0px;
}
#lesson-content-qa .wrapper .right ul.top li,
#lesson-comment .wrapper .right ul.top li {
    float: left;
    margin-right: 15px;
}
#lesson-content-qa .wrapper .right ul.top li.name,
#lesson-comment .wrapper .right ul.top li.name {
    font-size: 16px;
    font-weight: bold;
    color: #50ad4e;
}
#lesson-content-qa .wrapper .right ul.top li.date,
#lesson-comment .wrapper .right ul.top li.date {
    color: #c6cbd2
}
#lesson-content-qa .wrapper .right ul.bottom,
#lesson-comment .wrapper .right ul.bottom {
    float: left;
    margin-bottom: 10px;
}
#lesson-content-qa .wrapper .right .wrap-reply .dropdown-menu,
#lesson-comment .wrapper .right .wrap-reply .dropdown-menu {
    position: relative !important;
    border: none;
    background: none;
    box-shadow: none;
}
#lesson-content-qa .wrapper .right .wrap-reply .collapse-more,
#lesson-comment .wrapper .right .wrap-reply .collapse-more {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 40px 10px 0 0;
    position: absolute;
    bottom: 30px;
    left: 0px;
}
#lesson-content-qa .wrapper .right .wrap-reply .click-read-more a,
#lesson-comment .wrapper .right .wrap-reply .click-read-more a {
    position: relative;
    color: #50AD4E;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    padding-bottom: 20px;
    margin-top: 5px;
}
#lesson-content-qa .wrapper .right ul.top li.icon,
#lesson-content-qa .wrapper .right ul.bottom li.icon,
#lesson-comment .wrapper .right ul.top li.icon,
#lesson-comment .wrapper .right ul.bottom li.icon {
    font-size: 10px;
    color: #464646;
}
#lesson-content-qa .wrapper .right ul.bottom li,
#lesson-comment .wrapper .right ul.bottom li {
    float: left;
    margin-right: 15px;
}

#lesson-content-qa .wrapper .right .content-sub,
#lesson-content-qa .wrapper .right ul.bottom,
#lesson-comment .wrapper .right .content-sub,
#lesson-comment .wrapper .right ul.bottom {
    display: inline-block;
}
#lesson-content-qa .wrapper .right .content-sub,
#lesson-comment .wrapper .right .content-sub {
    width: 100%
}
#lesson-content-qa .wrapper .right ul.bottom li,
#lesson-content-qa .wrapper .right ul.bottom li a,
#lesson-comment .wrapper .right ul.bottom li,
#lesson-comment .wrapper .right ul.bottom li a,
#lesson-content-qa .wrapper .right .wrap-reply .dropdown-toggle,
#lesson-comment .wrapper .right .wrap-reply .dropdown-toggle{
    font-size: 14px;
    color: #787878;
}
#lesson-content-qa .wrapper .right .wrap-reply.open .dropdown-toggle,
#lesson-comment .wrapper .right .wrap-reply.open .dropdown-toggle {
    color: #389a36
}

#lesson-content-qa .wrapper .right ul.bottom li a:hover,
#lesson-content-qa .wrapper .right ul.bottom li a:hover i,
#lesson-comment .wrapper .right ul.bottom li a:hover,
#lesson-comment .wrapper .right ul.bottom li a:hover i,
#lesson-content-qa .wrapper .right .wrap-reply .dropdown-toggle:hover,
#lesson-comment .wrapper .right .wrap-reply .dropdown-toggle:hover{
    color: #389a36;
    cursor: pointer
}
#lesson-content-qa .wrapper .right ul.bottom li i,
#lesson-comment .wrapper .right ul.bottom li i {
    color: #adb5bf
}
#lesson-content-qa .wrapper .right .content-sub .wrap,
#lesson-comment .wrapper .right .content-sub .wrap {
    border: 2px solid #dddddd;
    padding: 25px 20px;
    position: relative;
    background: white;
}
#lesson-content-qa .wrapper .right .content-sub .wrap .max-height,
#lesson-comment .wrapper .right .content-sub .wrap .max-height {
    max-height: 92px;
    overflow: hidden;
}
#lesson-content-qa .wrapper .right .content-sub .wrap .icon-border {
    position: absolute;
    left: 20px;
    top: -9px;
}
#lesson-comment .wrapper .right .content-sub .wrap .icon-border {
    position: absolute;
    left: 190px;
    top: -9px;
}
#lesson-content-qa .wrapper .right ul.nav,
#lesson-comment .wrapper .right ul.nav {
    padding: 0px 15px;
    border-bottom: none;
    display: inline-block;
    float: right;
}
#lesson-content-qa .wrapper .right ul.nav li,
#lesson-comment .wrapper .right ul.nav li{
    float: left;
    margin-right: 5px;
}
#lesson-content-qa .wrapper .right ul.nav li.cat-title-first,
#lesson-comment .wrapper .right ul.nav li.cat-title-first {
    margin-right: 10px;
    line-height: 30px;
    font-size: 16px;
}
#lesson-content-qa .wrapper .right ul.nav li a,
#lesson-comment .wrapper .right ul.nav li a {
    border: none;
    padding: 5px 20px;
    color: #333333;
    font-weight: 500;
    background: #eee;
    display: inline-block;
    height: 30px;
}
#lesson-content-qa .wrapper .right ul.nav li.active a,
#lesson-content-qa .wrapper .right ul.nav li a:hover,
#lesson-comment .wrapper .right ul.nav li.active a,
#lesson-comment .wrapper .right ul.nav li a:hover {
    background: #389a36;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
}
#lesson-content-qa .wrapper  #content-question-answer,
#lesson-comment .wrapper  #content-question-answer {
    display: inline-block;
    width: 100%;
    padding: 0px 15px;
}

#lesson-content-qa .box-comment,
#lesson-comment .box-comment {
    position: relative;
}
#lesson-content-qa .box-comment img,
#lesson-content-qa .box-comment img {
    position: absolute;
    top: -9px;
    right: 15px;
}
#lesson-content-qa .box-comment textarea.form-control,
#lesson-comment .box-comment textarea.form-control {
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px !important;
    padding: 20px 15px;
    height: 61px;
}
#lesson-content-qa .box-comment textarea.form-control:focus,
#lesson-comment .box-comment textarea.form-control:focus {
    outline: none;
    box-shadow: none;
}
#lesson-content-qa .box-comment .wrap-button,
#lesson-comment .box-comment .wrap-button {
    text-align: right;
    background: #f5f5f5;
    height: 45px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}
#lesson-content-qa .box-comment .wrap-button p,
#lesson-comment .box-comment .wrap-button p {
    display: inline-block;
    float: left;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
}
#lesson-content-qa .box-comment .wrap-button .button,
#lesson-comment .box-comment .wrap-button .button {
    background: #4fad4d;
    color: white;
    height: 100%;
    border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    padding: 0px 35px;
    font-size: 16px;
}
#lesson-content-qa .box-comment .wrap-button .button:hover,
#lesson-comment .box-comment .wrap-button .button:hover {
    background: #389a36
}
#lesson-content-qa .box-comment .wrap-button .button:focus,
#lesson-comment .box-comment .wrap-button .button:focus {
    outline: none;
}
#lesson-comment ul {
    padding: 0px;
    margin: 0px
}
.lesson-form-reply .wrap-button ul {
    display: inline-block;
}
.lesson-form-reply .wrap-button ul li {
    float: left;
    height: 100%;
}
.lesson-form-reply .wrap-button ul li {
    line-height: 43px;
    padding: 0px 5px;
}
#lesson-comment .media-list .media-body .text.max-height {
    max-height: 92px;
    overflow: hidden;
}

.lesson-form-reply .wrap-button ul li .button-reply {
    background: #4fad4d;
    color: white;
    border: none;
}
.lesson-form-reply .wrap-button ul li .button-reply:hover,
.lesson-form-reply .wrap-button ul li .close-form:hover {
    background: #389a36;
    color: white;
    border: none;
}
.lesson-form-reply .wrap-button ul li .button-reply:focus {
    outline: none;
    color: white;
}
.lesson-form-reply .wrap-button ul li .close-form:focus {
    outline: none;
    color: white;
    background: #389a36;
}
.lesson-form-reply.wrap-reply {
    display: none;
}
.lesson-form-reply.wrap-reply.form-reply-selected {
    display: block;
}
/******** TAB COMMENT **********/
#lesson-comment ul.media-list li.media ul.top {
    display: inline-block;
    padding: 0px;
    margin: -5px 0px 0px 0px;
}
#lesson-comment ul.media-list li.media ul.top > li {
    float: left;
    margin-right: 15px;
}
#lesson-comment ul.media-list li.media ul.top > li.name {
    font-size: 16px;
    font-weight: bold;
    color: #50ad4e;
}
#lesson-comment ul.media-list li.media ul.top > li.icon,
#lesson-comment ul.media-list li.media ul.bottom > li.icon {
    font-size: 10px;
    color: #464646;
}
#lesson-comment ul.media-list li.media ul.top > li.date {
    color: #c6cbd2;
}
#lesson-comment ul.media-list li.media ul.bottom {
    display: inline-block;
}
#lesson-comment ul.media-list li.media ul.bottom > li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
    color: #787878;
}
#lesson-comment ul.media-list li.media ul.bottom > li a,
#lesson-comment ul.media-list li.media ul.bottom > li a i {
    color: #787878
}
#lesson-comment ul.media-list li.media ul.bottom > li a:hover,
#lesson-comment ul.media-list li.media ul.bottom > li a:hover i,
#lesson-comment ul.media-list li.media ul.bottom > li a:focus,
#lesson-comment ul.media-list li.media ul.bottom > li a:focus i {
    color: #389a36;
    cursor: pointer;
}
#lesson-comment ul.media-list li.media .wrap-reply {
    margin: 15px 0px 10px 0px;
}

/********* QUIZ **********/
#lesson .quiz-slide {
    position: relative
}
#lesson .quiz-scroll {
    overflow: auto
}
#lesson .quiz-slide .list-buttons {
    /*position: absolute; */
    /*bottom: 15px;*/
}
#lesson .lesson-content-quiz .lesson-wrap-quiz {
    background: white;
    position: relative;

}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header,
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz {
    padding: 0px;
    display: inline-block;
    width: 100%;
    padding-right: 70px;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header > li:first-child {
    float: left;    
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header > li:first-child h4,
#lesson .lesson-content-quiz .lesson-wrap-quiz .title h4 {
    color: #50ad4e
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header > li:last-child {
    float: right;
    line-height: 40px;
    font-weight: 500;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header > li:last-child span.active {
    color: #389a36;
    font-weight: bold;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-nav-header > li:last-child span.time {
    background: #FB6700;
    padding: 0px 10px 0px 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    display: inline-block;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz {
    margin-bottom: 0px;
    padding: 0px 30px;    
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li {
    padding: 10px 0px;
    display: inline-block;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li:nth-child(over) {
    padding-left: 0px !important;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li:nth-child(even) {
    padding-right: 0px !important;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li div {
    margin-bottom: 10px;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li div.title img {
    padding-left: 0px !important;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li .radio {
    float: left;
    margin-right: 15px;
}
#lesson .lesson-content-quiz .list-buttons {
    display: inline-block;
    width: 100%;
    padding: 0px 30px;
    margin: 0px;
}
#lesson .lesson-content-quiz .list-buttons li {
    float: left;
}
#lesson .lesson-content-quiz .list-buttons li.pre a,
#lesson .lesson-content-quiz .list-buttons li.next a {
    color: #A5A5A5;   
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    margin-right: 15px;
}
#lesson .lesson-content-quiz .list-buttons li.pre:hover a,
#lesson .lesson-content-quiz .list-buttons li.next:hover a{
    background: #50AD4E;
    color: white;
    border: 2px solid #50AD4E
}
#lesson .lesson-content-quiz .quiz-slide .list-buttons li.btn-quiz,
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz,
#lesson .lesson-content-quiz .quiz-footer .list-buttons li.btn-quiz{
    float: right;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz .quiz-slide .btn-quiz button,
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz,
#lesson .lesson-content-quiz .quiz-footer .list-buttons li.btn-quiz button,
#lesson .lesson-content-quiz .quiz-start ul li button  {
    background: #50ad4e;
    color: white;
    border-bottom: 2px solid #389a36;
    padding: 8px 25px;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz .quiz-slide .btn-quiz:hover button,
#lesson .lesson-content-quiz .lesson-wrap-quiz .quiz-slide .btn-quiz:focus button,
#lesson .lesson-content-quiz .lesson-wrap-quiz .quiz-slide .btn-quiz:active button,
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz:hover,
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz:focus,
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz:active,
#lesson .lesson-content-quiz .quiz-start ul li button:hover,
#lesson .lesson-content-quiz .quiz-start ul li button:focus,
#lesson .lesson-content-quiz .quiz-start ul li button:active,
#lesson .lesson-content-quiz .lesson-wrap-quiz .quiz-footer .btn-quiz:active button{
    background: #389a36;
    border-bottom: 2px solid #237721;
    outline: none;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li .success {
    font-weight: bold;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li .error {
    opacity: 0.5;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz ul.lesson-content-quiz li .success:after {
    background: url('../img/lesson/icon-success.png') no-repeat top left;   
    content: '';    
    padding: 17px;
    position: absolute;
    top: -10px;
    left: 100px;
}

/****** BOX RESULT ********/
#lesson .lesson-content-quiz .lesson-wrap-quiz .lesson-quiz-result {
    padding: 15px 20px;
    background: #F5F5F5;
    position: absolute;
    bottom: 0px;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz .lesson-quiz-result ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
#lesson .lesson-content-quiz .lesson-wrap-quiz .lesson-quiz-result ul li span.bold {
    color: #50ad4e;
    font-weight: bold;
}
#lesson .lesson-content-quiz .quiz-scroll .btn-quiz {
    position: relative;
    bottom: 15px;
    right: 30px;
}
#lesson .lesson-content-quiz .lesson-quiz-result button {
    background: #9E9E9E;
    color: white;
    border-bottom: 2px solid #868686;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    font-weight: 400;
}
#lesson .lesson-content-quiz .lesson-quiz-result button:hover,
#lesson .lesson-content-quiz .lesson-quiz-result button:focus,
#lesson .lesson-content-quiz .lesson-quiz-result button:active {
    background: #868686;
    border-bottom: 2px solid #777575;
    color: white;
    outline: none;
}
#lesson .lesson-content-quiz .quiz-start {
    position: relative;
    padding: 30px;
    height: 100%;
    width: 100%;
}
#lesson .lesson-content-quiz .quiz-start h2 {
    margin: 0px;
}
#lesson .lesson-content-quiz .quiz-start ul {
    padding: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 600px;
}
#lesson .lesson-content-quiz .quiz-start ul li img {
    margin-bottom: 15px;
}
#lesson .lesson-content-quiz .quiz-start ul li p {
    font-size: 18px;
}
#lesson .lesson-content-quiz .quiz-start ul li a.next-quiz {
    background: #50ad4e;
    color: white;
    border-bottom: 2px solid #389a36;
    border-radius: 5px;
    font-size: 16px;   
    padding: 10px 20px;
    font-weight: 400;
    border-top: none;
    border-right: none;
    border-left: none;
    display: inline-block;
}
#lesson .lesson-content-quiz .quiz-start ul li a.next-quiz:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
    color: white;
    outline: none;
}

.squared { 
	float: left;
    position: relative;
    margin-right: 15px;
    width: 20px;
}
.squared input[type=radio] {
	visibility: hidden;
}
.squared label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
    left: 0px;
	border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border: 1px solid #A29C9C;
	background: white;
}
/*
.squared label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
    top: 5px;
    left: 4px;
	border: 3px solid #50ad4e;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squared label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squared input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
*/
#quiz-content .quiz-slide .squared label i {
    position: relative;
    top: 2px;
    left: 2px;
    color: #50ad4e;
    display: none;
}
#quiz-content .quiz-slide .squared label.selected i {
    display: block;  
}
#quiz-content .quiz-slide .lesson-content-quiz label:hover,
#quiz-content .quiz-slide .lesson-content-quiz label:hover i {
    color: #50ad4e;
}
#quiz-content form,
#quiz-content .quiz-slide {
    height: 90%;
    /*min-height: 430px;*/
}
/********* QUIZ FINISHED **********/
#lesson .lesson-content-quiz .quiz-finished {
    position: relative;
}
#lesson .lesson-content-quiz .quiz-finished ul.main,
#lesson .lesson-content-quiz .quiz-finished .wrap-again-next {
    position: absolute;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
#lesson .lesson-content-quiz .quiz-finished ul.main {
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
#lesson .lesson-content-quiz .quiz-finished ul.main li {
    float: left;
    display: inline-block;
    width: 50%;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li p {
    font-size: 16px;
    margin: 15px 0px;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li p.point {
    margin-top: 0px;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li p.point .wrap,
#lesson .lesson-content-quiz .quiz-finished ul.main li p.achieve .wrap{
    font-size: 24px;
    margin-top: 5px !important;
    display: inline-block;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.passably,
#lesson .lesson-content-quiz .quiz-finished ul.main li span.inaccessible{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.passably a,
#lesson .lesson-content-quiz .quiz-finished ul.main li span.inaccessible a {
    display: inline-block;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 3px;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.passably a {
    background: #50AE4E;
    border-bottom: 2px solid #389a36;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.passably a:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.inaccessible a {
    background: #AAB2BD;
    border-bottom: 2px solid #969ca4;
}
#lesson .lesson-content-quiz .quiz-finished ul.main li span.inaccessible a:hover {
    background: #969ca4;
    border-bottom: 2px solid #868b93
}
#lesson .lesson-content-quiz .quiz-finished .wrap-again-next {
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 15px 0px 15px 15px;
    background: #f0f0f0;
}
#lesson .lesson-content-quiz .quiz-finished .wrap-again-next ul {
    padding: 0px;
    margin: 0px;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li {
    float: right;
    margin-right: 30px;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.again,
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.next {
    display: inline-block;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.again {
    background: #AAB2BD;
    border-bottom: 2px solid #969ca4;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.again:hover {
    background: #969ca4;
    border-bottom: 2px solid #868b93;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.next {
    background: #50AE4E;
    border-bottom: 2px solid #389a36;
}
#lesson .lesson-content-quiz .quiz-finished ul.bottom li a.next:hover {
    background: #389a36;
    border-bottom: 2px solid #237721;
}
/********* CSS TEMPLATE JS **********/
#lesson .wrap-video .left.none,
#lesson .wrap-support.none,
#lesson .wrap-menu-content.none{
    display: none;
}
/*
Quiz content, header, footer
*/
.quiz-header{
    position: relative;
    z-index: 9;
    height: 35px;
}
.time-remaining{
    padding: 5px;
    color: #fff;
    background: #FB6700;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 15px;
}
.quiz-slide{
    overflow: auto;
}
.quiz-footer{
    height:90px;
    padding-top: 7px;
}
.continue-quiz, .btn-default, .continue-quiz:hover, .continue-quiz:active{
    background-color: #9e9e9e;
    color:#fff;
    width: 120px;
}
.thumbnail{
    width: 80px;
    height: 80px;
}
.fa-check-circle-o:before, .fa-times-circle-o:before{
    position: absolute;
    top: -15px;
    left: 110px;
    font-size: 35px;
}
.fa-check-circle-o:before{
    color:#50ad4e;
}
.fa-times-circle-o{
    display: inline;
}
.green{
    color: #50AD4E;
}
.red{
    color:red;
}
.red .fa:before, .red .fa-times-circle-o:before {
    color: red;
    /*display: inline;*/
}
.red label > .fa-check{
    color:red;
}
.no-image:before{
    position: absolute;
    top: -5px;
    right: 80px;
    font-size: 35px;
    left:initial;
}
.fa-course-check:before{
    position: absolute;
    top: -1px;
    left: 6px;
    font-size: 25px;
    opacity: 0.6;
    color: #50ad4e;
}
a.btn-redo{
    background: #50ad4e;
    color: white;
    border-bottom: 2px solid #389a36;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    border-top: none;
    border-right: none;
    border-left: none;
    display: inline-block;
}
.redo-container{
    bottom:20%;
    position: absolute;
    left:39%;
}