.quick-view{
    background-color: #389a36;
    border-bottom: none;
}
.quick-view h4{
    margin: 0;
    padding: 3px;
    font-weight: normal;
    color: #fff;
}
.quick-view .close{
    opacity: 1;
}
.quick-view-body{
    /*padding: 3px;*/
}
.quick-view-title{
    padding: 5px 18px 5px 18px;
    background-color: #3d873c;
}
.quick-view-title .author{
    color: #fff;
}
.list-fb-gg-like > ul{
    padding-left: 0;
}
.ctn-fb-like{
    padding: 0;
}