/* Font Colors */
$base-font-size: 14px; 
$base-font-family: 'Roboto', sans-serif !important;
$base-font-color: #272727;

/* Line Height */
$line-height-main: 24px !important;

/* Color Main */

/* Main */
$primary-color-kyna: #50ad4e; 
$secondary-color-kyna: #389a36; 
$last-color-kyna: #237721; 

/* PRICE */
$primary-color-price: #FF7816;
$secondary-color-price: #ea6504;
$last-color-price: #C15E16; 

/* DARK*/
$primary-color-dark: #f9f9f9;
$secondary-color-dark: #eee;
$last-color-dark: #A9B2BD;

/* BUTTON EDIT*/
$primary-color-edit: #757373;
$secondary-color-edit: #565555;
$last-color-edit: #464545;

/* FACEBOOK */
$primary-color-social-facebook: #3b5998; 
$secondary-color-social-facebook: #2f4981; 
$last-color-social-facebook: #263a67; 

/* GOOGLE */
$primary-color-social-google: #DE4B39; 
$secondary-color-social-google: #C23F2F; 
$last-color-social-google: #a23629; 

/* REGISTER */
$primary-color-social-register: #fff; 
$secondary-color-social-register: #f0f0f0; 
$last-color-social-register: #ddd; 

/* STAR */
$primary-color-star: #F8E81C;


/* ICON */
$primary-color-icon-font : #1A1A1A

