ul,
ol {
    list-style: none;
}
a,
a:hover {
    text-decoration: none !important;
}
a:focus {
    outline: none;
    outline-offset: 0px;
    text-decoration: none;
}


@font-face {
	font-family: 'montserrat-black';
	src: url('../fonts/Montserrat-Black.ttf') format('truetype');
	src: local('Montserrat Black'), url('../fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'montserrat-light';
	src: url('../fonts/Montserrat-Light.ttf') format('truetype');
	src: local('Montserrat Light'), url('../fonts/Montserrat-Light.ttf') format('truetype');
}
body {
    color: #333333;
    background-color: #fff;
    line-height: 30px !important;
    font-family: 'montserrat-light','Open Sans', 'Roboto', 'Arial', sans-serif !important;
    font-size: 16px;
}
body p {
    font-size: 16px;
}
.float-right {
    float: right;
}
.line-through {
    text-decoration: line-through;
}
.float-left {
    float: left;
}
.scroll-y-hidden {
    overflow-y: hidden;
}
.bold {
    font-weight: bold !important;
}
.text-transform {
    text-transform: uppercase !important;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.italic {
    font-style: italic;
}
#thankyou_modal {
  margin-top: 50px;
}
#wrap-header {
    background: transparent;
    z-index: 99;
    position: fixed;
    width: 100%;
}

#wrap-header.action {
    background: #041b41;
    z-index: 99999;
}
#wrap-header.action #wrap-header {
    border-bottom: none;
}
#wrap-header.action .center ul li a {
    color: white;
}
#wrap-header.action .center ul li.active a {
    border-bottom: 3px solid white;
    color: white;
}
#wrap-header.action .logo-left img.main {
  display: none;
}
#wrap-header.action .logo-left img.scroll {
    display: block;
}
#wrap-header .logo-left img.scroll {
    display: none;
}
#wrap-header h2 {
    margin: 10px 0;
}
#wrap-header .hotline-right ul li p {
    margin-bottom: 0px !important;
}
#wrap-header h2 a img {
    height: 50px;
}
#wrap-header .center {
    padding: 0px;
}
#wrap-header .center ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    display: table;
    width: 100%;
}
#wrap-header .center ul li {
    display: table-cell;
    margin-right: 15px;
    text-align: center;
}
#wrap-header .center ul li:last-child {
  text-align: right;
  padding-right: 15px;
}
#wrap-header .center ul li a {
    color: #062456;
    text-transform: uppercase;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
}
#wrap-header.action .center ul li a:hover {
  color: white;

}
#wrap-header .center ul li a:hover {
    font-weight: bold;
    border-bottom: 3px solid #ee2e47;
    padding-bottom: 20px;
    color: #ee2e47;
}
#wrap-header.action .center ul li a:hover {
    padding-bottom: 0px;
    border-bottom: 3px solid white;
    padding: 5px 10px;
}
#wrap-header .center ul li:last-child a {
    color: #fff;
    padding: 7px 19px;
    background-color: #ED0722;
}
#wrap-header .center ul li:last-child a:hover {
    text-decoration: none !important;
    background: #dd1958;
    border-bottom: none;
}
#wrap-header.action .center ul li:last-child a {
    background: #fff200;
    color: #000;
    border: none;
}
#wrap-header.action .center ul li:last-child a:hover {
    background: #fff200;
    color: #000;
    padding: 7px 19px;
}
#wrap-header .hotline-right ul li {
    color: white !important;
    padding-top: 15px;
}
#wrap-header .center ul li:hover a {
    font-weight: bold;
    cursor: pointer;
}
#wrap-header.stuck {
    position: fixed;
    width: 100%;
    background-color: #bf0436;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 60px;
}
#wrap-header.stuck h2 a img {
    height: 30px;
}
#wrap-header.stuck .center ul {
    margin: 10px 0px 0px 0px;
}
#wrap-header.stuck .center ul li a,
#wrap-header.stuck .hotline-right ul li {
    font-size: 12px;
}
#wrap-header.stuck .hotline-right ul li {
    padding: 5px 0px;
}
#wrap-header.stuck .hotline-right ul li p {
    font-size: 12px;
    height: 20px;
}
#scrollspy-course .button-scroll img {
  height: 25px;
margin-left: 5px;
}
#banner {
  background: url('../img/banners.png') no-repeat top left;
background-size: cover;
text-align: center;
padding-bottom: 135px;
}
#banner h2 {
  padding-top: 120px;
font-size: 50px;
text-transform: uppercase;
font-weight: bold;
color: #ed0722;
text-align: center;
font-family: 'montserrat-black','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#banner h3 {
  font-size: 50px;
text-transform: uppercase;
text-align: center;
margin: 0px;
color: #062456;
}
#banner h4 {
    width: 900px;
    text-align: center;
  display: inline-block;
    margin: 30px 0px;
line-height: 35px;
font-size: 24px;
}
#banner h4 span {
  font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#banner .line {
  width: 100%;
}
#banner .line span {
  display: inline-block;
width: 600px;
height: 3px;
background: red;
}
#banner p {
  width: 768px;
display: inline-block;
margin: 30px 0px;
line-height: 25px;
font-size: 18px;
font-style: italic;
}
#banner .button a{
  display: inline-block;
border: 2px solid #ed0722;
padding: 15px 30px;
color: #ed0722;
font-size: 24px;
text-transform: uppercase;
}
#banner .button a:hover {
  background: #ed0722;
color: white;
text-decoration: none;
}
#content-top {
  margin: 0px 0px 70px 0px;
}
#content-top .text,
#content-top .img {
  position: relative;
top: 50px;
font-family: 'montserrat-regular';
}
#content-top .img p {
  background: #ed0722;
color: white;
padding: 20px;
font-weight: bold;
font-size: 24px;
position: relative;
bottom: 110px;
left: -15px;
}
#content-top h2 {
  text-transform: uppercase;
font-weight: bold;
color: #062456;
margin-top: 0px;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#content-top h3 {
  margin: 0px 0px 0px 0px;
font-size: 18px;
color: #062456;
}
#content-top .line {
  width: 100%;
}
#content-top .line span {
height: 2px;
width: 100%;
background: red;
display: inline-block;
margin: 30px 0px;
}
#content-top .text p span {
  font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#content-top .text p.last {
  font-style: italic;
}
#content-top .bottom {
  background: #041b41;
color: white;
padding: 25px;
}
#content-top .bottom h3 {
  font-weight: bold;
color: white;
width: 50%;
margin-bottom: 15px;
line-height: 25px;
}
#content-top .bottom ul {
  display: inline-block;
width: 100%;
padding: 0px;
list-style: none;
}
#content-top .bottom ul li {
  width: 50%;
float: left;
margin: 5px 0px;
padding-right: 15px;
}
#content-top .bottom ul li:nth-child(odd)
  {
width: 53%;
}
#content-top .bottom ul li:nth-child(even)
  {
width: 47%;

}

#content-center {
  background: #e8f1ff;
  padding: 30px 0px;
}
#content-center .box h2 {
  text-transform: uppercase;
line-height: 40px;
font-size: 28px;
}
#content-center .box h2 span {
  font-weight: bold;
color: #041b41;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#content-center .box {
  text-align: center;
}
#content-center .top .box:first-child {
  text-align: left;
}
#content-center .top {
  display: inline-block;
border-bottom: 1px dashed;
margin: 0px 0px 30px 0px;
padding: 0px 0px 30px 0px;
}
#content-center .box img {
  display: inline-block;
margin: 0px 0px 30px 0px;
}
#content-center .box p {
font-size: 18px;
}
#content-center .box p span {
  font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}

#content-bottom {
  margin: 60px 0px;
}
#content-bottom h2 {
  margin: 0px;
}
#content-bottom .wrap {
  box-shadow: 5px 15px 45px 10px #f0f0f0;
display: inline-block;
width: 100%;
}
#content-bottom .wrap .img {
  padding-left: 0px;
}
#content-bottom .wrap .img ul {
  padding: 0px 0px;
margin-bottom: 0px;
list-style: none;
}
#content-bottom .wrap .img h2 {
  background: #041b41;
color: white;
text-align: center;
font-weight: bold;
padding: 30px 10px;
text-transform: uppercase;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#content-bottom .panel-default > .panel-heading {
  padding: 0px;
}
.content-bottom-mb h2 {
      text-align: center;
    color: #041b41;
    font-weight: bold;
    font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
    margin-bottom: 30px !important;
}
#content-bottom .wrap .img ul li a,
.content-bottom-mb .panel-heading .panel-title a {
  font-size: 24px;
  padding: 25px 30px;
line-height: 35px;
display: inline-block;
width: 100%;

}
.content-bottom-mb .panel-heading .panel-title a {
  background: #041b41;
  color: white;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: 0px;
    right: 15px;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

}
.panel-heading .accordion-toggle.collapsed:after {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.content-bottom-mb {
  display: none;
}
#content-bottom .wrap .img ul li.active a {
  text-decoration: underline !important;
}

#content-bottom .wrap .img ul li a span {
  font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#content-bottom .wrap .img ul li:nth-child(1) a {
  color: #041b41
}
#content-bottom .wrap .img ul li:nth-child(2) a {
  background-image: url('../img/bg-content-bottom.png');
background-color: #041b41;
color: white;
padding-bottom: 115px;
}



#content-bottom .wrap .text ul{
  list-style: none;
  margin-top: 30px;
padding-left: 0px;
}
#content-bottom .wrap .text ul li {
  margin: 8px 0px;
font-size: 18px;
color: #041b41;
}

#expert .wrap-content:focus {
  outline: none;
}
#expert .slick-prev {
  left: -60px;
}
#expert .slick-next {
  right: -70px;
}
#expert h2 {
  text-align: center;
color: #041b41;
font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
margin-bottom: 30px;
}
#expert .expert-slider {
  box-shadow: 5px 15px 45px 10px #f0f0f0;
}
#expert .wrap ul {
  padding: 0px;
list-style: none;
}
#expert .wrap {
  padding: 30px 0px 0px 0px;
  display: inline-block;

}
#expert .wrap h3 {
  font-weight: bold;
color: #041b41;
font-size: 24px;
    font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#expert .wrap h4 {
font-size: 24px;
color: #041b41;
line-height: 35px;
  }
#expert .wrap ul li {
  margin: 15px 0px;
  display: inline-block;
}
#expert .wrap ul li img {
  position: relative;
top: 7px;
}
#expert .wrap ul li p {
  color: #313131;
font-size: 18px;
display: inline-block;
width: 100%;
}


#expert .line-content-bottom {
      position: absolute;
    right: -30px;
    bottom: -30px;
}
#online {
  background: #e8f1ff;
display: inline-block;
width: 100%;
margin: 80px 0px 60px 0px;
box-shadow: 5px 15px 45px 10px #dde5f2;
overflow: hidden;
}
#online .container {
  position: relative;
}
#online .bg-online {
  position: absolute;
left: 0px;
top: 0px;
}
#online .text::before{
  background: url('../img/bg-online.png') no-repeat top left;
  width: 590px;
  height: 540px;
  position: absolute;
  left: -550px;
  background-size: contain;
}
#online h2 {
  font-size: 30px;
font-weight: bold;
    text-transform: uppercase;
color: #041b41;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
padding: 15px 0px 0px 0px;
margin-bottom: 50px;
}
#online .left ul {
  padding: 0px;
margin: 0px;
}
#online .left ul li,
#online .right ul li {
  border-bottom: 1px dashed
}
#online .left ul li:first-child,
#online .right ul li:first-child {
  min-height: 220px;
padding-top: 0px !important
}
#online .left ul li:last-child,
#online .right ul li:last-child {
  border: none;
}

#online .left ul li:first-child h3,
#online .right ul li:first-child h3 {
  margin: 0px;
}
#online .left {
  padding: 0px;
}
#online .right {
  border-left: 1px dashed;
padding: 0px;
}
#online .right ul {
  padding: 0px;
}
#online ul li {
  padding: 15px 30px;
}
#online ul li h3 {
  font-size: 18px;
font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
color: #041b41;
line-height: 0px;
}
#online ul li h3 img {
  position: relative;
top: -18px;
margin-right: 15px;
}
#online .left ul li {
  padding-left: 0px;
}
#online-study h2 {
  text-align: center;
margin-bottom: 35px;
font-size: 30px;
text-transform: uppercase;
font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
color: #041b41
}
#online-study .wrap-box {
padding: 0px;
overflow: hidden;
}
#online-study .wrap-box p {
  padding: 15px;
}
#online-study .wrap-box .box img {
  position: relative;

}
#online-study .wrap-box:nth-child(3) .box img{
  left: 0px;
margin: 0px auto;
}
#online-study .wrap-box:nth-child(4){
  overflow: initial;
}
#online-study .wrap-box:nth-child(4) .box img {
  bottom: -38px;
}

#online-study .wrap-box:nth-child(odd) {
  background: #e8f1ff;
}
#online-study .wrap-box:nth-child(1) .box img {
  margin-bottom: 1px;
  bottom: -22px;
    left: -34px;
}

#register-text {
  background: #ed0722;
color: white;
text-align: center;
margin-top: 30px;
}
#register-text h2 {
  margin: 0px;
padding: 25px 0px;
text-transform: uppercase;
font-weight: bold;
}
#register-text h2 span {
  color: yellow;
  font-weight: bold;
}
#cbp-certificate .wrap:before {
  background: white;
height: 414px;
width: 170px;
position: absolute;
left: 0px;
top: 0px;
}
#cbp-certificate {
  margin: 75px 0px;
}
#cbp-certificate .wrapper {
  padding: 0px 45px;
}

#cbp-certificate .container {
  position: relative;
}
#cbp-certificate .wrap {
  display: inline-block;
width: 100%;
border: 4px solid #051c42
}
#cbp-certificate h2 {
  margin: 30px 0px 0px 0px;
font-size: 24px;
font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
color: #041b41;
}
#cbp-certificate h5 {
  font-size: 18px;
color: #041b41;
font-weight: bold;
font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
margin-bottom: 40px;
}
#cbp-certificate .text p {
  margin-bottom: 20px;
}
#cbp-certificate .text p.italic {
  font-weight: bold;
  font-style: italic;
}
#cbp-certificate .wrap .img {
  padding: 0px;
}
#cbp-certificate .wrap .img img {
    position: absolute;
    left: -45px;
    top: -15px;
}

#cbp-certificate .wrap:before {
  background: white;
height: 414px;
width: 170px;
position: absolute;
left: 0px;
top: 0px;
}
#cbp-certificate .line {
  position: absolute;
right: 30px;
bottom: -30px;
}
#online-study .wrap {
  display: inline-block;
width: 100%;

box-shadow: 1px 15px 45px 10px #dde5f2;
margin-bottom: 30px;
}
#opinion {
  margin: 30px 0px 60px 0px;
  display: inline-block;
  width: 100%;
}
#opinion ul li {
  float: left;
width: 50%;
padding: 0px 15px;
position: relative;
}
#opinion ul li .title {
      position: absolute;
    bottom: 0px;
    width: 100%;  background: ;
    color: white;
    z-index: 1;
    left: 0px;
    text-align: center;
    padding: 0px 15px;

}
#opinion ul li .title div {
background: rgba(4, 27, 65, 0.5);
padding: 20px 0px;

}
#opinion ul li .title  span {
  display: block;
height: 10px;
}
#opinion ul li .text  {
  position: absolute;
top: 0px;
height: 100%;
left: 0px;
padding: 0px 15px;
opacity: 0;
}
#opinion ul li .text p {
 background: rgba(4, 27, 65, 0.8);
margin-bottom: 0px;
padding: 15px;
color: white;
height: 100%;
transition: all .3s linear
}
#opinion ul {
  display: inline-block;
width: 100%;
padding: 0px;
}

#opinion ul li:hover .text {
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}
#opinion ul li:hover .title {
  display: none;
}
.slick-dots li button:before {
  font-size: 20px !important;
  top: 30px !important;

}
#register .wrap {
  background: url('../img/register.jpg');
color: white;
text-align: center;
display: inline-block;
width: 100%;
}
#register .wrap form {
  padding: 0px 50px;
}
#register .wrap h2 {
font-size: 30px;

    margin: 0px;
    position: relative;
    top: 32px;
    background: #031A44;
    display: inline-block;
    padding: 0px 15px;
}
#register .wrap h3 {
  margin: 0px 0px 10px 0px;
text-transform: uppercase;
}
#register .wrap h3 span {
  font-weight: bold;
color: #fff14c;
    font-family: 'montserrat-bold','Open Sans', 'Roboto', 'Arial', sans-serif !important;
}
#register .wrap .wrap-line{
  display: inline-block;
width: 100%;
margin-top: 15px;
margin-bottom: 30px;
}
#register .wrap .line {

  display: inline-block;
border: 3px solid white;
padding: 50px 30px 15px 30px;
}

#register form .input {
  text-align: left;
}
#register form .input div {
  position: relative;
display: inline-block;
width: 100%;
}
#register form .input div span {
  position: absolute;
left: 0px;
background: white;
height: 40px;
width:19%;
color: #061d40;
text-align: center;
}
#register form .input div span i {
  line-height: 40px;
font-size: 28px
}
#register form .input div input {
  width: 80%;
float: right;
height: 40px;
border-radius: 0px;
}
#register .btn-submit button {
     background: #ed0722;
    border: none;
    padding: 15px 40px;
    font-size: 30px;
    margin: 15px 0px;
    box-shadow: 0px 0px 20px #ed0722;
    border-radius: 40px;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
}
#register .btn-submit button:hover {
  background: #dd0922
}
#register .btn-submit p {
  font-style: italic;
}




#comment {
    background: #f7f7f7;
}
#comment .container .fb-comments {
    padding: 40px;
    background: white;
    margin: 40px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
}
.mobile {
    display: none;
}
.pc {
    display: block;
}
@media (max-width: 1199px) {
  #banner h4,
  #banner .line span,
  #banner p {
    width: 100%;
  }
  #opinion .img {
  padding: 0px;
}
#opinion .icon {
  display: none;
}
#opinion ul li:nth-child(1),
#opinion ul li:nth-child(1) .text {
  padding-left: 0px;
}
#opinion ul li:nth-child(2),
#opinion ul li:nth-child(2) .text {
  padding-right: 0px;
}
}


@media (max-width: 990px) {
  #opinion ul li {
   width: 100%;
 padding: 0px;
 margin-bottom: 15px;
 }
 #opinion ul li .text {
   display: block;
 position: relative;
 padding: 0px;
 }
  #wrap-header .center {
          display: none;
      }
    .scroll-form-style.mobile {
        text-align: right;
        display: block;
    }
    .scroll-form-style.mobile a {
        display: inline-block;
        background: #fff200;
        border: none;
        color: #041b41;
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 25px;
        text-transform: uppercase;
        margin-top: 15px;
    }
    .scroll-form-style.mobile a:hover {
        background: #dd1958
    }

}
@media (max-width: 480px) {

    .scroll-form-style.mobile a {
        font-size: 11px;
        padding: 5px 10px;
    }

}



@media (max-width: 1199px) {
  .slick-prev, .slick-next {
  display: none !important;
}
.slick-dots li {
  top: 15px;
}
#banner {
  padding-bottom: 40px;
}
#content-top .text, #content-top .img {
  top: 0px;
padding: 0px 15px;
}
#content-top,
#content-top .text, #content-top .img,
#content-bottom,
#online {
  margin: 30px 0px;
}
#content-top .bottom h3 {
width: 100%;
}

}
@media (max-width: 990px) {
h2 {
  font-size: 26px !important;
  line-height: 35px !important;
  padding: 0px 15px;
}
h3 {
  font-size: 24px !important;
  line-height: 35px !important;
}
h4 {
  font-size: 22px !important;
  line-height: 35px !important;
}
h5 {
  font-size: 20px !important;
  line-height: 35px !important;
}
#banner .button a {
  font-size: 18px;
}
#banner {
  padding-bottom: 40px;
}
#banner h2 {
  padding-top: 70px;
}
#content-top .img {
  margin-top: 0px;
}
#content-top .img img {
  margin: 0px auto;
}
#content-top .img p {
  bottom: 0px;
display: inline-block;
left: 0px;
}
#content-top .bottom h3 {
  width: 100%;
}
#content-bottom .wrap .img {
  padding: 0px;
}

  #online .left ul li, #online .right ul li,#online .right {
border: none !important;
}
#cbp-certificate .wrap .img img {
  position: relative;
margin: 0px auto;
left: 0px;
top:10px;
}
#online .left ul li:first-child, #online .right ul li:first-child {
  min-height: auto;
}
#online ul li {
  padding: 0px !important;
margin-bottom: 15px !important;
display: inline-block;
width: 100%;
}
#online .right ul li:first-child {
  margin-top: 20px !important;
}
#online .left ul li:last h3 img {
  width: 52px;
}
.slick-slide .img img {
margin: 30px auto 0px;
}
#register .wrap .wrap-line {
  padding: 0px 50px;
}
#register .wrap form {
  padding: 0px 35px;
}
}
@media (max-width: 768px) {
  h2 {
    font-size: 21px !important;
    line-height: 35px !important;
    padding: 0px 15px;
  }
  h3 {
    font-size: 20px !important;
    line-height: 35px !important;
  }
  h4 {
    font-size: 19px !important;
    line-height: 35px !important;
  }
  h5 {
    font-size: 18px !important;
    line-height: 35px !important;
  }
  #content-top h2 {
    padding: 0px;
  }
  #content-top .img p {
    font-size: 16px;
    font-weight: normal;
  }
  #wrap-header h2 a img {
 height: auto;
}
#wrap-header {
height: 75px;
 }
  #content-top .bottom ul li {
  width: 100% !important;
}
#online .text::before {
  display: none;
}
#opinion {
  margin-bottom: 0px;
}
#opinion ul li .title {
  position: relative;
padding: 0px;
}
#opinion ul li .title div span {
  display: none;
}
#opinion ul li:hover .title {
  display: block;
}
#opinion ul li .title div {
   background: rgba(4, 27, 65, 1);
padding: 15px 0px 0px 0px;

}
#opinion ul li .title div h4 {
  margin: 0px 15px;
text-align: left;
font-size: 20px !important;
}
#opinion ul li .text {
  opacity: 1;
}
#opinion ul li .title p,
#opinion ul li .text {
  background: rgba(4, 27, 65, 1)
}
.panel-heading .accordion-toggle:after {
  width: 100%;
text-align: center;
}
#online-study .wrap-box:nth-child(4) .box img {
bottom: 0px;
}
#online-study .wrap-box:nth-child(3) .box img {
margin: 0px 0px 0px 15px;
}
.content-bottom-mb {
  display: block;
}
.content-bottom-pc {
  display: none !important;
}
.slick-slide .img img {
 width: 100px;
}
#expert .wrap {
 padding: 0px;
}
.slick-dots li button:before {
 top: 0px !important
}
#online-study .wrap-box .box img {
 display: none;
}
#cbp-certificate .wrap:before {
 display: none;
}
#cbp-certificate .wrap .img img {
 width: 100px;
}
#register .btn-submit button {
width: 100%;
font-size: 18px;
}
#register form .input div span i {
font-size: 20px;
}
#register .wrap .line {
  padding: 15px;
      margin-top: 30px;
}
#register .wrap h2 {
top: 15px;
padding: 0px 15px;
background: none;
}
#cbp-certificate .wrapper {
 padding: 0px 15px;
}
#cbp-certificate .line {
 display: none;
}
#cbp-certificate {
 margin: 30px 0px;
}
#register .wrap {
 padding: 15px;
}
#register .wrap .wrap-line {
 padding: 0px;
}
#register .wrap form {
 padding: 0px;
}
#register .wrap form .form-group {
 padding: 0px;
}
}
@media (max-width: 380px) {
  #wrap-header {
  height: auto;
}
.scroll-form-style.mobile a {
  margin-top: 10px;
padding: 5px;
}
}

@media (max-width: 320px) {
  .scroll-form-style.mobile a {
margin-top: 5px;
}
}
footer {
  width: 100%;
  background: #041b41;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block; }
  footer p {
    font-size: 13px;
   }
  footer .comp-name, footer .hotline, footer .email {
    display: block; }
  footer .left {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center; }
    footer .left img {
      height: 35px;
      margin: 10px;
      float: left; }
  @media (min-width: 768px) {
    footer p {
      display: block;
      text-align: left;
      line-height: 1.3; }
    footer .left {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    footer {
      padding-top: 50px;
      padding-bottom: 50px; }
      footer .left {
        padding-top: 20px; }
        footer .left img {
          width: 166px;
          height: auto; }
      footer p {
        font-size: 15px;
        line-height: 1.7; } }
      #side-menu{
  display:none; }
  @media (min-width: 1200px) {
    #side-menu{
  	  width: 80px;
  	  position: fixed;
  	  top: 35%;
  	  right: 15px;
      z-index:999;
  	  display: block; }
    #side-menu ul{
  	  background: white;
  	  padding: 5px;
  	  border-radius: 5px;
  	  border: 1px solid #f0f0f0; }
    #side-menu ul li {
  	  display: block;
  	  text-align: center;
  	  padding: 0;
  	  margin: 0.35em auto;
  	  width: 64px; }}
